[2022-05-18 03:04] mayjiang0203 opened #12564 "6.1.0: Tikv panic and report [lib.rs:491] ["[region 28137] 28138 hash at 2799 not correct"
## Bug Report

### What version of TiKV are you using?

./tikv-server -V
 TiKV
Release Version:   6.0.0-alpha
Edition:           Community
Git Commit Hash:   e5fe8c68aa8c731408b32d6fba97cf76bcc82d23
Git Commit Branch: heads/refs/tags/v6.1.0-nightly
UTC Build Time:    2022-05-12 16:02:52
Rust Version:      rustc 1.60.0-nightly (1e12aef3f 2022-02-13)
Enable Features:   jemalloc mem-profiling portabl

[2022-05-18 03:05] mayjiang0203 commented on #12564
/type bug
/severity critical

[2022-05-18 03:20] dbsid commented on #12453
observed on ARM64, latest master version

[code]
[code]

![image](https://user-images.githubusercontent.com/2316425/168950439-09330a4c-5c47-4847-9b42-f0e5a0bb73d8.png)

[2022-05-18 04:02] dbsid commented on #12453
should we raise the severity?

[2022-05-18 05:49] 5kbpers commented on #12564
As I remember, consistency check should be disabled while enabling gc with compaction filter. PTAL @Connor1996

[2022-05-18 05:50] 5kbpers commented on #12564
@mayjiang0203 Please give us the config of TiKV.

[2022-05-18 05:51] Connor1996 commented on #12564
I remember @hicqu adapted the consistency check to fit compaction filter

[2022-05-18 06:24] sticnarf commented on #12546
I agree it's important to have the ability to hot-reload TLS certificate without restarting TiKV.

I will try to improve this case recently.

[2022-05-18 07:02] #12542 closed

[2022-05-18 07:17] 5kbpers commented on #12564
Confirmed from @hicqu, it's `delete_files_with_range` not compatible with consistency check. Suggest that consistency check should be disabled until we resolve this compatibility issue.

[2022-05-18 07:54] #12549 closed

[2022-05-18 09:06] jiayang-zheng commented on #12525
[storage.block-cache]
## To deploy multiple TiKV nodes on a single physical machine, configure this parameter explicitly.
## Otherwise, the OOM problem might occur in TiKV.
##
## If it's not set, 45% of available system memory will be used.
# capacity = "1GB"

Please have a check that `block-cache.capacity` should be set explicitly while deploying multiple TiKV nodes on a single physical machine.

[2022-05-18 09:10] fubinzh commented on #12525
OK, will update config and check whether we can reproduce it.

[2022-05-18 09:18] tier-cap opened #12567 "raftstore:Move the log replication rejected metrics from gRPC to Errors"
## Bug Report

### What version of TiKV are you using?

TiKV
Release Version:   6.1.0-alpha
Edition:           Community
Git Commit Hash:   9b989604ec433339a87986720a936f5d956dd48d
Git Commit Branch: add-logappend-reject-metrics
UTC Build Time:    2022-05-16 13:37:17
Rust Version:      rustc 1.60.0-nightly (1e12aef3f 2022-02-13)
Enable Features:   jemalloc mem-profiling portable sse test-engine-kv

[2022-05-18 09:19] Lily2025 commented on #12453
/remove-severity Moderate
/severity Critical

[2022-05-18 09:22] tier-cap commented on #12567
/type enhancement
modify the positon, which has not been online.

[2022-05-18 09:54] Lily2025 commented on #12453
The test environment appears several times

[2022-05-18 10:14] Lily2025 commented on #12564
DUPLICATED with https://github.com/tikv/tikv/issues/12253

[2022-05-18 10:17] mornyx commented on #12453
Hi @Lily2025, what is your TiKV branch and commit id?

[2022-05-18 10:50] Lily2025 commented on #12453
cc @buggithubs

[2022-05-18 11:05] Lily2025 commented on #12556
/type bug
/severity major

[2022-05-18 11:08] Lily2025 commented on #12546
/type enhancement

[2022-05-18 11:09] Lily2025 commented on #12546
/assign sticnarf

[2022-05-18 12:20] JmPotato commented on #12556
This is not a major bug which is strongly needed to fix actually.  The most serious impact at present is just a bit inconvenient to write some code. So please change the severity.

[2022-05-18 12:20] #12548 closed

[2022-05-18 14:34] haojinming opened #12571 "Revert "[backup apiv2] fix file range in backup response" #12570"
## Bug Report

### What version of TiKV are you using?

master branch

### What operating system and CPU are you using?

### Steps to reproduce

run tikv-br backup from apiv1 and restore to apiv2
### What did you expect?
Revert "[backup apiv2] fix file range in backup response"
### What did happened?

[2022-05-18 14:46] #12418 closed

[2022-05-18 15:42] #12438 closed

[2022-05-18 17:42] tonyxuqqi commented on #12436
/close

[2022-05-18 17:42] #12436 closed

[2022-05-18 17:43] tonyxuqqi commented on #12436
The issue is fixed by multi files' snapshot. The PR is https://github.com/tikv/tikv/pull/11659

[2022-05-18 22:14] BusyJay commented on #12453
May be caused by https://github.com/tikv/pprof-rs/pull/128

[2022-05-18 22:28] BusyJay commented on #12564
I suggest to disable compaction filter gc instead and run for a long time consistency check. Last time I checked the logs, there is no delete files when hash is being computed.

[2022-05-18 23:07] BusyJay commented on #12425
Should be fixed by https://github.com/tikv/pd/pull/4948

[2022-05-19 02:41] Lily2025 opened #12574 "[Dynamic Region] tikv panic repeatly"
## Bug Report

### What version of TiKV are you using?
/ # ./tikv-server -V
TiKV
Release Version:   6.1.0-alpha
Edition:           Community
Git Commit Hash:   2f4b1a5ecefbfc15ceaa471f25dc4700117f1114
Git Commit Branch: heads/refs/tags/v6.1.0-nightly
UTC Build Time:    2022-05-18 11:05:16
Rust Version:      rustc 1.60.0-nightly (1e12aef3f 2022-02-13)
Enable Features:   jemalloc mem-profiling porta

[2022-05-19 02:41] Lily2025 commented on #12574
/type bug
/severity Critical
/assign tonyxuqqi

[2022-05-19 02:42] jiayang-zheng commented on #12525
As we look, the segfault thread got a signal and met problem in `perf_signal_handler`.
[code]
This may be related to ` continue profiling` feature, which has a known issue and should be fixed by the [merging pr](https://github.com/tikv/tikv/pull/12480).

[2022-05-19 03:44] #10658 closed

[2022-05-19 03:48] mornyx commented on #12525
Should be resolved as https://github.com/tikv/tikv/pull/12480 has been merged.

[2022-05-19 03:49] mornyx commented on #12453
Should be resolved as https://github.com/tikv/pprof-rs/pull/128 , https://github.com/tikv/tikv/pull/12480 has been merged.

[2022-05-19 06:26] #12564 closed

[2022-05-19 06:28] 5kbpers commented on #12564
Close it since duplicate with https://github.com/tikv/tikv/issues/12253

[2022-05-19 06:28] 5kbpers commented on #12564
@Lily2025 @mayjiang0203  PTAL

[2022-05-19 08:14] #12571 closed

[2022-05-19 09:08] SpadeA-Tang opened #12578 "In try_batch, we should use the latest apply's bucket_meta."
## Description
Now in struct `Apply`, we have `bucket_meta` field. So we should adjust the try_bacth's code to use the latest `bucket_meta` ().

The code have not handled with `bucket_meta` which means we will use the first one's `bucket_meta`.
![image](https://user-images.githubusercontent.com/71589810/169732567-345561db-2e88-46db-95bf-e16fa4246e49.png)

[2022-05-19 09:10] 5kbpers commented on #12578
Please clarify the issue in the description.

[2022-05-19 09:22] fubinzh opened #12579 "[BR] gc safepoint not set correctly when there is log backup fatal error"
## Bug Report

### What version of TiKV are you using?
TiKV
Release Version:   6.1.0-alpha
Edition:           Community
Git Commit Hash:   f05af56d12b93c74ac5a54a28f77d2f6dc7d6ad8
Git Commit Branch: inflight-detect
UTC Build Time:    2022-05-17 08:48:36
Rust Version:      rustc 1.60.0-nightly (1e12aef3f 2022-02-13)
Enable Features:   jemalloc mem-profiling portable sse test-engine-kv-rocksdb test-

[2022-05-19 09:38] fubinzh opened #12580 "[BR] huge logs when PD error during log backup"
## Bug Report

### What version of TiKV are you using?
Release Version: 6.1.0-alpha
Edition: Community
Git Commit Hash: https://github.com/tikv/tikv/commit/f05af56d12b93c74ac5a54a28f77d2f6dc7d6ad8
Git Commit Branch: inflight-detect
UTC Build Time: 2022-05-17 08:48:36
Rust Version: rustc 1.60.0-nightly (1e12aef3f 2022-02-13)
Enable Features: jemalloc mem-profiling portable sse test-engine-kv-rocksd

[2022-05-19 09:38] fubinzh commented on #12580
/type bug
/severity Critical
/feature developing

[2022-05-19 10:46] #12574 closed

[2022-05-19 11:03] fubinzh opened #12582 "[BR] log backup checkpoint_ts doesn't move forward when there is residual tidb lock"
## Bug Report

### What version of TiKV are you using?
Release Version:   6.1.0-alpha
Edition:           Community
Git Commit Hash:   f05af56d12b93c74ac5a54a28f77d2f6dc7d6ad8
Git Commit Branch: inflight-detect
UTC Build Time:    2022-05-17 08:48:36
Rust Version:      rustc 1.60.0-nightly (1e12aef3f 2022-02-13)
Enable Features:   jemalloc mem-profiling portable sse test-engine-kv-rocksdb test-engin

[2022-05-19 11:05] fubinzh commented on #12582
/type bug
/severity Major
/feature developing

[2022-05-19 11:16] #12536 closed

[2022-05-19 11:42] #12546 closed

[2022-05-19 11:59] joccau opened #12583 "After br log pausing, the global checkpoint is still moving forward"
It duped https://github.com/pingcap/tidb/issues/34801

[2022-05-19 11:59] joccau commented on #12583
/assign

[2022-05-19 12:13] joccau commented on #12583
/label type/bug

[2022-05-19 12:13] joccau commented on #12583
type/bug

[2022-05-19 12:22] joccau commented on #12583
type/bugfix

[2022-05-19 12:41] fubinzh commented on #12583
/type bug
/severity Critical
/feature developing

[2022-05-19 12:41] fubinzh commented on #12583
/assign joccau

[2022-05-19 12:48] joccau commented on #12583
/remove-label may-affect-5.4

[2022-05-19 13:14] #12498 closed

[2022-05-19 14:33] boraozturk opened #12585 "Tikv Not Starting On K8S"
## Bug Report

### What version of TiKV are you using?
[code]

### What operating system and CPU are you using?
[code]

### What did happened?

[code]

### cat /proc/self/cgroup

[code]

[2022-05-19 18:03] #12425 closed

[2022-05-19 23:20] tonyxuqqi opened #12587 "Raftstore：separate snapshot generation and data destroy tasks"
## Development Task
Today TiKV uses one thread to generate snapshot, apply snapshot and destroy data. It turns out data destroy can really takes long time and that could block snapshot generation. This is an issue when scaling-in node when we hope the node's data can move out of it ASAP, which means we hope snapshot generation can be done quickly. But today the data destroy may block it.
Take a ex

[2022-05-20 03:22] mornyx opened #12588 "Avoid mutually exclusive features"
In https://github.com/tikv/tikv/pull/12480, we have introduced two mutually exclusive features, `pprof-dwarf` and `pprof-fp`. One of them must exist, otherwise a compilation error will occur. This introduces stricter requirements for feature usage in some modules.

We need to relax them and keep only one `pprof-fp`, anything else should automatically fallback to DWARF-based.

[2022-05-20 03:22] mornyx commented on #12588
/assign

[2022-05-20 03:27] mornyx opened #12590 "Avoid mutually exclusive features"
## Development Task

In https://github.com/tikv/tikv/pull/12480, we have introduced two mutually exclusive features, `pprof-dwarf` and `pprof-fp`. `pprof-dwarf` makes TiKV use **`libunwind`-based** stack traceback when doing CPU profiling, and `pprof-fp` enables TiKV to use **frame pointer based** stack traceback when doing CPU profiling.

When we first introduced these two features, one of them m

[2022-05-20 03:27] mornyx commented on #12590
/assign

[2022-05-20 03:27] #12588 closed

[2022-05-20 03:45] mornyx opened #12591 "Optimize memory usage when build-std is enabled"
To enable the frame pointer, we have enabled the `build-std` option. But this seems to take up a lot of memory resources (https://github.com/tikv/tikv/pull/12480#issuecomment-1132031542). This issue is used to track optimizations to it.

[2022-05-20 03:46] mornyx commented on #12591
/assign

[2022-05-20 04:12] hicqu opened #12592 "cdc incremental scan is too slow in some special cases"
## Bug Report

### What version of TiKV are you using?
master

### Steps to reproduce
Create a cluster with lots of regions. Most of them are empty. Then create a cdc capture on all those regions.

### What did you expect?
All regions can be resolved quickly, because most of them are empty.

### What did happened?
It takes too long to resolve all regions.

[code]
It's a bug. For an empty region `t

[2022-05-20 07:55] ystaticy opened #12595 "when enable api v2 , TiDB resolve lock meet error"
## Bug Report

### What version of TiKV are you using?

[code]

### What operating system and CPU are you using?

CentOS 7.6
Intel(R) Xeon(R) CPU E5-2630 v4 @ 2.20GHz

### Steps to reproduce

tikv configuration is :
[code]

and start PD,TiKV,TiDB. wait TiDB to start update safepoint.

### What did you expect?
gc process can execute success.

### What did happened?

TiDB log:
[code]

[2022-05-20 08:23] joccau commented on #12538
/label needs-cherry-pick-6.1.0

[2022-05-20 08:24] joccau commented on #12538
/label needs-cherry-pick-6.1

[2022-05-20 08:39] #12525 closed

[2022-05-20 09:11] Lily2025 opened #12597 "[Dynamic Region] Some large regions did not split as expected"
## Bug Report

### What version of TiKV are you using?
./tikv-server -V
 TiKV
Release Version:   6.1.0-alpha
Edition:           Community
Git Commit Hash:   a23fd680807d35d60828dc298cf99eca7448faa2
Git Commit Branch: HEAD
UTC Build Time:    2022-05-19 04:37:08
Rust Version:      rustc 1.60.0-nightly (1e12aef3f 2022-02-13)
Enable Features:   jemalloc mem-profiling portable sse test-engine-kv-rocksd

[2022-05-20 13:01] Lily2025 commented on #12597
/type bug
/severity major
/assign 5kbpers

[2022-05-20 18:40] tonyxuqqi opened #12598 "default size of region_split_check_diff is too large when big region is enabled"
## Bug Report

### What version of TiKV are you using?
6.1

### What operating system and CPU are you using?

CentOS
Intel

### Steps to reproduce

set tikv config as below:
region-max-size: 16G
region-split-size: 16G
region-bucket-size: 96MB
enable-region-bucket: true

put 100G data
### What did you expect?
the big region could have many buckets
### What did happened?
no buckets found in some big

[2022-05-20 18:40] tonyxuqqi commented on #12598
/label affect-6.1

[2022-05-20 18:41] tonyxuqqi commented on #12598
/label affects-6.1

[2022-05-20 18:41] tonyxuqqi commented on #12598
/severity major

[2022-05-20 18:42] tonyxuqqi commented on #12598
/type bug

[2022-05-21 09:37] pingyu opened #12600 "Fail to startup when modify storage.api-version to 2 from 1"
## Bug Report

### What version of TiKV are you using?

[code]

### What operating system and CPU are you using?

CentOS 7.6
Intel(R) Xeon(R) CPU E5-2630 v4 @ 2.20GHz

### Steps to reproduce

1. Startup TiKV with `storage.api-version = 1`
2. Write some TiDB workload
3. Restart TiKV with `storage.api-version = 2` & `storage.enable-ttl = true`

### What did you expect?
Startup succeed.

### What did

[2022-05-22 21:14] frew opened #12601 "RocksDB mutex contention with ~125k regions/node"
## Bug Report

### What version of TiKV are you using?
4.2.0

### What operating system and CPU are you using?
Linux 5.4.0-1030-gcp / n2d-standard-16 on GCP

### Steps to reproduce
On our cluster, we sometimes encounter high read latencies from particular TiKV nodes. Using eu-stack generally shows ReadExecutor mostly blocked on getting RocksDB snapshot, which requires acquiring the DB mutex.

Inve

[2022-05-23 02:27] zhangjinpeng1987 commented on #12578
@SpadeA-Tang

[2022-05-23 02:33] SpadeA-Tang commented on #12578
Em.. The words in the description now are appended after the comments. I will list the original code.

[2022-05-23 02:53] zhangjinpeng1987 commented on #12470
@tabokie what is the root cause?

[2022-05-23 02:58] zhangjinpeng1987 commented on #12365
@tonyxuqqi Have we confirmed this issue is caused by https://github.com/tikv/tikv/issues/12510, and should we close this issue since https://github.com/tikv/tikv/issues/12510 is closed.

[2022-05-23 03:06] #12408 closed

[2022-05-23 03:37] zhangjinpeng1987 commented on #12453
@mornyx can we close this issue now?

[2022-05-23 03:44] mornyx commented on #12453
Yes, can be closed.

[2022-05-23 03:57] zhangjinpeng1987 commented on #12348
@BusyJay is there any suspicious place?

[2022-05-23 03:59] zhangjinpeng1987 commented on #12345
@nolouch PTAL

[2022-05-23 04:11] zyguan commented on #12348
The issue doesn't happen for a long time. It might be fixed by accident. Maybe we can close this issue or downgrade the severity?

[2022-05-23 06:00] zhangjinpeng1987 commented on #12073
@3pointer Please describe the new feature you are developing and what you have changed? How to reproduce the issue?

[2022-05-23 06:01] zhangjinpeng1987 commented on #12007
@jiayang-zheng PTAL

[2022-05-23 06:05] zhangjinpeng1987 commented on #11994
Is there any side effect for this change?

[2022-05-23 06:18] Connor1996 commented on #11994
The situation is rare and likely impossible in a real workload. So @zanmato1984 decided not to fix it at that time.

[2022-05-23 06:18] BusyJay commented on #12348
No.

Agree.

[2022-05-23 06:19] #12453 closed

[2022-05-23 06:26] zhangjinpeng1987 commented on #12601
@frew Thanks for your issue. We also encountered the mutex contention as the dataset grow before, we did some optimizations to reduce the RocksDB mutex held time (like https://github.com/tikv/rocksdb/commit/6b97c0567c4694ef1d06374d54bf582e541d215d).

Currently all data is stored in a single RocksDB instance, this will cause the mutex contention issue more or less as the dataset grow, so currently

[2022-05-23 06:29] zhangjinpeng1987 commented on #12591
@mornyx Please make the description more clearly. What problem there is, How to solve it, etc.

[2022-05-23 06:51] zhangjinpeng1987 commented on #12592
Does this problem will be mitigated after the the region(data range) size changed from 96MB to 1GB?

[2022-05-23 07:36] mornyx commented on #11964
Can be closed because https://github.com/tikv/tikv/pull/12480 has been merged.

[2022-05-23 07:48] zyguan commented on #12348
Close the issue since we cannot reproduce the issue again.

[2022-05-23 07:48] #12348 closed

[2022-05-23 07:55] zhangjinpeng1987 commented on #12585
@tabokie Is this issue can be solved by https://github.com/tikv/tikv/pull/12485?

[2022-05-23 08:06] tabokie commented on #12585
I believe so.

[2022-05-23 08:38] tabokie commented on #12585
@boraozturk Could you take a look at `cat /proc/self/mountinfo`?

[2022-05-23 12:24] sticnarf opened #12615 "Pessimistic prewrite may be not idempotent on CommitTsTooLarge"
## Bug Report

Considering the following case:
1. All prewrites of a pessimistic async-commit transaction succeeds at first. But the client does not receive the responses of non-pessimistic keys.
2. Some keys of the transaction are committed because of async lock resolve.
3. In the retried prewrite for a non-pessimistic key, the calculated `commit_ts` exceeds `max_commit_ts`. Then, it returns asyn

[2022-05-23 12:25] mayjiang0203 commented on #12345
/severity Major

[2022-05-23 16:30] Tema opened #12617 "TiKV TLS doesn't work with ECDSA encryption"
## Bug Report

### What version of TiKV are you using?
pingcap/tikv:v5.4.0

### What operating system and CPU are you using?
tidb-operator in k8s cluster

### Steps to reproduce
I used https://docs.pingcap.com/tidb-in-kubernetes/v1.1/enable-tls-between-components#using-cert-manager to generate certificates. They work fine with default RSA encryption, but does not work when ECDSA is specified:
[cod

[2022-05-23 16:36] BusyJay opened #12618 "checks for snapshot last index is wrong"
## Bug Report

https://github.com/tikv/tikv/blob/1fb8980ccab9ff40c1adc206df52952dab8e8ad8/components/raftstore/src/store/peer_storage.rs#L467-L475

Supposing a leader append a lot of logs without replicating any of them. After several elections, new leader compacts all previous logs. If the old leader rejoin the group, new leader will send it a snapshot. If old leader exits before updating raft st

[2022-05-23 17:06] BusyJay commented on #12601
We have started the work few months ago. We suppose to get a beta preview by the end of this year. Our development progress can be tracked in project https://github.com/tikv/tikv/projects/51.

[2022-05-23 17:12] tonyxuqqi commented on #12598
/label type/bug

[2022-05-23 19:09] BusyJay opened #12619 "test_detect_deadlock_basic panics"
## Bug Report

[code]

Logs can be found at https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tikv_ghpr_test/runs/20931/nodes/114/steps/296/log/?start=0

[2022-05-23 23:16] #12598 closed

[2022-05-24 01:43] Lily2025 opened #12622 "all tikv panic when update config online"
## Bug Report

### What version of TiKV are you using?
./tikv-server -V
 TiKV
Release Version:   6.1.0-alpha
Edition:           Community
Git Commit Hash:   1fb8980ccab9ff40c1adc206df52952dab8e8ad8
Git Commit Branch: heads/refs/tags/v6.1.0
UTC Build Time:    2022-05-20 06:30:12
Rust Version:      rustc 1.60.0-nightly (1e12aef3f 2022-02-13)
Enable Features:   jemalloc mem-profiling portable sse tes

[2022-05-24 01:44] Lily2025 commented on #12622
/type bug
/severity Critical
/assign glorv

[2022-05-24 01:46] Lily2025 commented on #12622
/remove-label may-affects-4.0
/remove-label may-affects-5.0
/remove-label may-affects-5.1
/remove-label may-affects-5.2
/remove-label may-affects-5.3
/remove-label may-affects-5.4
/remove-label may-affects-6.0
/label affects-6.1

[2022-05-24 01:48] Lily2025 commented on #12618
/severity major

[2022-05-24 01:48] Lily2025 commented on #12618
/assign busyjay

[2022-05-24 02:13] Lily2025 commented on #12615
/type bug
/severity major
/assign sticnarf

[2022-05-24 02:17] Lily2025 commented on #12601
/type enhancement

[2022-05-24 02:18] Lily2025 commented on #12592
/type enhancement

[2022-05-24 03:04] #12600 closed

[2022-05-24 06:59] v01dstar opened #12627 "Handle unapplied commit merges in unavailable regions during unsafe recovery."
## Development Task
This is part of #10483

|| store 1 | store 2| store 3|
|---|---|---|---|
| Initial | A=[a,c) B=[c,z) | A=[a,c) B=[c,z) | A=[a,c) B=[c,z) |
| PrepareMerge | un-replicated | A=[a,c)->target B=[c,z)->source | A=[a,c)->target B=[c,z)->source |
|CommitMerge | replicated uncommitted | A=[a,z) | A=[a,z) |

If the source region enters force leader state before the target, data loss may

[2022-05-24 10:52] #12479 closed

[2022-05-24 12:44] #12595 closed

[2022-05-24 17:34] #11612 closed

[2022-05-24 18:20] #12518 closed

[2022-05-25 01:34] Lily2025 commented on #12597
/remove-label may-affects-4.0
/remove-label may-affects-5.0
/remove-label may-affects-5.1
/remove-label may-affects-5.2
/remove-label may-affects-5.3
/remove-label may-affects-5.4
/remove-label may-affects-6.0
/label affects-6.1

[2022-05-25 02:04] Lily2025 commented on #12617
/type feature-request

[2022-05-25 02:40] zhangjinpeng1987 commented on #10065
We can close this issue since we have "disk-full protection" feature that the transfer leader will always success. PTAL @BusyJay

[2022-05-25 02:52] nolouch commented on #12597
duplicated with https://github.com/tikv/tikv/issues/12597.

[2022-05-25 03:18] #12590 closed

[2022-05-25 06:36] nolouch commented on #12345
ptal @HunDunDM

[2022-05-25 06:40] #12619 closed, assigned to cfzjywxk

[2022-05-25 08:24] #12578 closed

[2022-05-25 10:20] SpadeA-Tang opened #12642 "DynamicRegion: Buckets are not working as expected."
## Description

After enabling `coprocessor.enable-region-bucket`, region will be split into buckets logically and reports region information as well as bucket keys to PD periodically. TiDB will use these buckets to split cop requests into bucket level sub tasks whose information can be found in `explain analyze select ...`.

I set bucket size to be very small and insert some data that guarantee t

[2022-05-25 10:32] Lily2025 commented on #12627
/severity Critical

[2022-05-25 10:32] Lily2025 commented on #12627
/remove-label may-affects-4.0
/remove-label may-affects-5.0
/remove-label may-affects-5.1
/remove-label may-affects-5.2
/remove-label may-affects-5.3
/remove-label may-affects-5.4
/remove-label may-affects-6.0
/label affects-6.1

[2022-05-25 10:50] Lily2025 opened #12644 "[Online Recovery] Unsafe online recovery failed with info “unsafe recovery enters exit force leader stage exceeds timeout”"
## Bug Report

### What did you do?
1、down two tikv
2、execute online unsafe recovery

### What did you expect to see?
Unsafe recovery success

### What did you see instead?
  },
  {
    "info": "Unsafe recovery enters exit force leader stage",
    "time": "2022-05-25 09:22:54.728",
    "details": [
      "Exceeds timeout 2022-05-25 09:22:54.399620114 +0000 UTC m=+82128.320209995"
    ]
  },
  {

[2022-05-25 10:59] fubinzh opened #12643 "[br] checkpoint_ts metrics abnormal, log backup start-ts is display sometimes."
## Bug Report

### What version of TiKV are you using?
TiKV
Release Version:   6.1.0-alpha
Edition:           Community
Git Commit Hash:   8339467cf6b2dff10bd3feedc08fcfb6c062943c
Git Commit Branch: inflight-detect
UTC Build Time:    2022-05-23 11:53:01
Rust Version:      rustc 1.60.0-nightly (1e12aef3f 2022-02-13)
Enable Features:   jemalloc mem-profiling portable sse test-engine-kv-rocksdb test-

[2022-05-25 11:00] fubinzh commented on #12643
/type bug
/severity Moderate
/feature developing

[2022-05-25 12:52] #12470 closed

[2022-05-25 15:24] #12622 closed

[2022-05-26 02:22] #12615 closed

[2022-05-26 03:03] Connor1996 commented on #12644
/assign @v01dstar

[2022-05-26 03:25] Lily2025 commented on #12642
/type bug
/severity major
/assign tonyxuqqi

[2022-05-26 03:26] Lily2025 commented on #12642
/remove-label may-affects-4.0
/remove-label may-affects-5.0
/remove-label may-affects-5.1
/remove-label may-affects-5.2
/remove-label may-affects-5.3
/remove-label may-affects-5.4
/remove-label may-affects-6.0
/label affects-6.1

[2022-05-26 03:46] LykxSassinator commented on #11192
/assign LykxSassinator

[2022-05-26 05:21] Mini256 commented on #12644
/assign v01dstar

[2022-05-26 05:41] ekexium opened #12658 "txn_mode in general log is misleading"
## Feature Request

### Describe the feature you'd like:

General logs are misleading.

[code]

The general logs outputs `[txn_mode=OPTIMISTIC]` for a SQL in a pessimistic txn.

[code]

[2022-05-26 05:42] #12658 closed

[2022-05-26 07:00] BusyJay opened #12660 "update jemalloc to 5.3"
## Development Task

jemalloc 5.3 was released, and it had been tested inside meta in large scale of machines. We can upgrade it and see how it performs.

[2022-05-26 07:32] #12506 closed

[2022-05-26 08:01] vivid392845427 opened #12663 "tikv panic: 12475 first index 56 > min_index 55, skip pre merge"
## Bug Report

### What version of TiKV are you using?
[code]

### What operating system and CPU are you using?
`do not care`

### Steps to reproduce
[code]

### What did you expect?

`case run passed.`

### What did happened?
[code]

[2022-05-26 08:32] vivid392845427 commented on #12663
/severity major
/type bug

[2022-05-26 08:44] zyguan opened #12664 "raftstore: tikv panicked with `no entry found for key`"
## Bug Report

### What version of TiKV are you using?

master @ c3c9707faed1cf9ef9023f820dd6d1b28285e85f

### What operating system and CPU are you using?

kubernetes

### Steps to reproduce

Run jepsen monotonic with the following options
[code]

### What did you expect?

Test passed.

### What did happened?

Test failed because tikv-server panicked. The full logs can be accessed [here](http://r

[2022-05-26 09:14] yongman opened #12665 "Treat RegionError key not in region as KeyError"
## Bug Report

### What version of TiKV are you using?

6.0.0

### What operating system and CPU are you using?

### Steps to reproduce

Client receive key error when I benchmark using client-rust

[code]
This is an error `NotInRange`, but wraps it in `EngineError:Other`,  https://github.com/tikv/tikv/blob/v6.0.0/components/raftstore/src/store/region_snapshot.rs#L209

and can not match it as `Regi

[2022-05-26 10:39] YuJuncen opened #12668 "log-bakcup: support custom TLS"
## Development Task
Support TLS config in the [security] field for the gRPC connection to PD used in PiTR.

[2022-05-26 12:38] Lily2025 commented on #12663
/assign busyjay

[2022-05-26 12:39] Lily2025 commented on #12664
/severity major
/assign busyjay

[2022-05-26 12:52] Lily2025 commented on #12665
/type enhancement

[2022-05-26 15:11] 5kbpers commented on #12664
Could you upload the log files?

[2022-05-26 15:47] 5kbpers commented on #12664
Guess it was caused by region 8100 being destroyed as a learner, its meta in `meta.region_ranges` was not cleaned. https://github.com/tikv/tikv/blob/666ea1fa568d222b3c67c3ba44d3013b7c119dc9/components/raftstore/src/store/fsm/peer.rs#L3279-L3284

Then when StoreFsm receives a message of an uncreated peer, tries to create the peer, and checks the overlapped regions, it could panic because `meta.regi

[2022-05-26 17:16] BusyJay commented on #12665
Generally, you should use epoch to check if current meta is latest and use the latest meta to do routing on the client side. `KeyNotInRnage` is a hint that there are bugs in client.

[2022-05-26 17:22] BusyJay commented on #12663
Can you provide full logs?

[2022-05-26 18:50] BusyJay commented on #12664
Remove triage related tags for now.

[2022-05-27 01:27] yongman commented on #12665
@BusyJay Thanks for reply. I will do more work in client with meta epoch.

But I found the `KeyNotInRegion` error as `RegionError` in proto.
[code]

Is the returned error type expected?

[2022-05-27 01:32] BusyJay commented on #12665
It actually depends on the client behavior. /cc @youjiali1995

I'm OK with the proposal as long as it doesn't break existing behavior.

[2022-05-27 01:41] vivid392845427 commented on #12663
http://rms.pingcap.net:31714/workflows/testground/plan-exec-840631?tab=workflow&nodeId=plan-exec-840631-3734185420&nodePanelView=inputs-outputs

[2022-05-27 01:48] zyguan commented on #12664
We first met the issue in https://github.com/tikv/tikv/issues/12348 , it's really hard to reproduce.

[2022-05-27 02:35] zhangjinpeng1987 commented on #10052
@yiwu-arbug Would you mind to provide the concrete step to reproduce this issue? We follow the step you provided but didn't reproduce the issue. Was there other operations you have did for this cluster?

[2022-05-27 02:59] glorv opened #12670 "tikv returns duplicated metrics result."
## Bug Report

### What version of TiKV are you using?

latest master

### What operating system and CPU are you using?

the tikv /metrics response body seems returns the result twice.

### Steps to reproduce

### What did you expect?

### What did happened?

[2022-05-27 03:16] wshwsh12 opened #12673 "tikv crash when conv empty string"
## Bug Report

### What version of TiKV are you using?

### What operating system and CPU are you using?

### Steps to reproduce

https://github.com/pingcap/tidb/issues/34975
[code]
### What did you expect?
work
### What did happened?
crash

[2022-05-27 03:28] #12597 closed

[2022-05-27 03:45] youjiali1995 commented on #12665
It doesn't break existing behavior. I'm OK with it.

[2022-05-27 05:18] #12644 closed

[2022-05-27 08:43] Lily2025 opened #12676 "【SST Corruption Recovery enhancement】after inject sst corruption，tikv panic when run tpcc due to SST Corruption Recovery do not detect this error"
## Bug Report

### What version of TiKV are you using?
./tikv-server -V
 TiKV
Release Version:   6.1.0-alpha
Edition:           Community
Git Commit Hash:   249acab1e625928bc127baa9d122b68581b150aa
Git Commit Branch: heads/refs/tags/v6.1.0
UTC Build Time:    2022-05-25 16:45:29
Rust Version:      rustc 1.60.0-nightly (1e12aef3f 2022-02-13)
Enable Features:   jemalloc mem-profiling portable sse tes

[2022-05-27 08:44] Lily2025 commented on #12676
/type enhancement
/assign tonyxuqqi

[2022-05-27 23:24] tonyxuqqi commented on #12642
it should be resolved by PR: https://github.com/tikv/tikv/pull/12620

[2022-05-28 04:12] #12642 closed

[2022-05-28 08:14] pingyu opened #12680 "RawKV API V2 timestamp causality violation"
## Bug Report

### What version of TiKV are you using?

master, commit 4facb625c18d2b74cfae4c4c472c75e991fe990e

### What operating system and CPU are you using?

CentOS 7.6
Intel(R) Xeon(R) CPU E5-2630 v4 @ 2.20GHz

### Steps to reproduce

1. Setup a real cluster with 2 x TiDB + 3 x PD + 4 x TiKV by TiUP cluster.
2. Add `shuffle-leader-scheduler`, `shuffle-region-scheduler`, `random-merge-schedul

[2022-05-28 22:07] BusyJay commented on #12663
The direct cause is that we reset the `min_match` to `min_committed` when `min_match` is 0. But I would argue that even without resetting, current `min_match` can still go wrong when there are nodes more than 3.

Supposing a cluster have 5 nodes, with progress match index as (9, 8, 8, 5, 0). And if leader replicates snapshot to the fifth node, than match index becomes (9, 8, 8, 5, 8). min_match 5

[2022-05-28 23:08] BusyJay commented on #12663
Another way to solve this is to make leader records the last sent snapshot index it sends. When it becomes leader, the index is reset to its last index. Before proposing prepare merge, min_match has to be larger than last sent snapshot index.

[2022-05-30 03:12] #12583 closed

[2022-05-30 04:02] BusyJay opened #12686 "Print an ASCII art when start up and output to tty"
## Feature Request

### Describe the feature you'd like:
TiKV has a character tiger. It seems cool to print it when tikv server is started and output is a tty.

[2022-05-30 04:02] BusyJay commented on #12686
/cc @c4pt0r

[2022-05-30 04:22] #12627 closed

[2022-05-30 05:18] #12673 closed

[2022-05-30 08:01] seiya-annie opened #12698 "v5.2.4 upgrade to v6.1.0, tikv report panic for " [FATAL] [lib.rs:491] ["rocksdb background error. db: raft, reason: compaction, error: IO ...""
## Bug Report

### What version of TiKV are you using?
Release Version:   6.1.0-alpha
Edition:           Community
Git Commit Hash:   f20a51ddc5e28fb5808f8f22ba639d4248f28dd4
Git Commit Branch: heads/refs/tags/v6.1.0
UTC Build Time:    2022-05-27 10:09:25
Rust Version:      rustc 1.60.0-nightly (1e12aef3f 2022-02-13)
Enable Features:   jemalloc mem-profiling portable sse test-engine-kv-rocksdb tes

[2022-05-30 08:52] #12668 closed

[2022-05-30 09:19] seiya-annie commented on #12698
clinic url: https://clinic.pingcap.com.cn/portal/#/orgs/33/clusters/7103411108942772330

[2022-05-30 09:43] Lily2025 commented on #12698
/type bug
/severity Critical
/assign tabokie

[2022-05-30 12:52] #12680 closed

[2022-05-30 20:11] BusyJay commented on #12663
The solution should also avoid bugs like #11526.

[2022-05-30 20:29] BusyJay commented on #12664
Now more logs are added, we should get more insight once it's reproduced.

[2022-05-31 02:21] tabokie commented on #12698
Automatically recovers after one panic, changing the severity to major.

[2022-05-31 04:39] sunxiaoguang opened #12702 "Add website of creator of TiKV to README.md"
Add website of creator of TiKV to README.md

[2022-05-31 06:30] #12698 closed

[2022-05-31 07:16] BusyJay opened #12707 "optimize size of target directory"
## Development Task

Currently, debug build will generate about 40GiB data in target. And the generated binaries are also very large, and occupies the CI cache very quickly.

We can optimize the directory size by disabling debug info.

[2022-05-31 07:40] YuJuncen opened #12709 "log backup: disable log for test by default"
## Development Task
The tests in `backup-stream` crate enabled log by default, which may be verbose when running tests locally. We should close them by default and let CI to enable them.

[2022-05-31 16:42] #12709 closed

[2022-06-01 02:03] Lily2025 commented on #12686
/type enhancement

[2022-06-01 02:13] c4pt0r commented on #12686
_________  ___  ___  __    ___      ___
|\___   ___\\  \|\  \|\  \ |\  \    /  /|
\|___ \  \_\ \  \ \  \/  /|\ \  \  /  / /
     \ \  \ \ \  \ \   ___  \ \  \/  / /
      \ \  \ \ \  \ \  \\ \  \ \    / /
       \ \__\ \ \__\ \__\\ \__\ \__/ /
        \|__|  \|__|\|__| \|__|\|__|/

[2022-06-01 03:11] YuJuncen opened #12711 "*: `cargo test` cannot compile"
## Bug Report

### What version of TiKV are you using?
Master

### What operating system and CPU are you using?
Linux

### Steps to reproduce
Run test for a subcrate requires `security` but not `backup-stream`.

### What did you expect?
Test can run successfully.

### What did happened?
Compile failed:
[code]

[2022-06-01 03:14] YuJuncen commented on #12711
/severity minor
/type bug

[2022-06-01 03:25] BusyJay commented on #12686
[code]

[2022-06-01 05:26] #12702 closed

[2022-06-01 06:31] YuJuncen opened #12715 "log backup: implement a stronger checkpoint model"
## Development Task
The lark docs cannot be converted to markdown format directly. You can check the details at this exported pdf.

[Log Backup_ Persisting Checkpoint by Region?.pdf](https://github.com/tikv/tikv/files/8811557/Log.Backup_.Persisting.Checkpoint.by.Region.pdf)

Generally, we scheduled to implement the "A Solution Based on Persisting a Subset of Region Checkpoints" part, with 3 steps:

[2022-06-01 08:33] hicqu opened #12717 "cdc data lost when transaction conflicts during incremental scan"
## Bug Report

A copy for https://github.com/pingcap/tiflow/issues/5468. Ssems we need a tikv issue to fix it in tikv.

[2022-06-01 09:28] #12707 closed, assigned to nobody

[2022-06-01 09:54] shaoxiqian opened #12729 "the invisible mvcc versions are not purged by gc"
## Bug Report

### What version of TiKV are you using?
v5.4.0

### What operating system and CPU are you using?

### Steps to reproduce

This is a customer's workload which is only "read"
### What did you expect?
TiKV will clear the invisible mvcc version automatically when there are a lot of rocksdb  tombstone keys instead of waiting for compaction file GC
### What did happened?
![image](https://

[2022-06-01 10:36] #12711 closed

[2022-06-02 05:14] gengliqi opened #12739 "Wrong check in time parsing"
## Bug Report

related issue https://github.com/pingcap/tidb/issues/35054.
If a DateTime has a fraction and 'Z' like `2022-06-02T10:10:10.123Z`, the `parse` function will return `Incorrect datetime value`.

[2022-06-02 05:27] tier-cap opened #12741 "solve oom problem under big transaction"
## Development Task
solve oom problem under big transaction

[2022-06-02 06:18] #12739 closed

[2022-06-02 09:18] WangLe1321 opened #12750 "No such file or directory when download and apply log backup file"
## Bug Report

### What version of TiKV are you using?

master

### What operating system and CPU are you using?

### Steps to reproduce

execute br restore point command

### What did you expect?

finish restore successfully

### What did happened?
output error log

[2022/06/02 07:09:03.757 +00:00] [WARN] [import.go:356] ["download and apply file failed"] [startKey=?] [endKey=?] [error="Cannot re

[2022-06-02 09:18] WangLe1321 commented on #12750
/component br

[2022-06-02 09:26] WangLe1321 commented on #12750
/label component/br

[2022-06-02 09:26] WangLe1321 commented on #12750
/assign @joccau

[2022-06-02 09:28] WangLe1321 opened #12751 "TiKV panic when execute br restore point"
## Bug Report

### What version of TiKV are you using?

master
### What operating system and CPU are you using?

### Steps to reproduce

1. create dir of log file
2. execute br restore point command
### What did you expect?

### What did happened?
tikv pod restarted.

logs are [here](https://grafana.oauth.dev.shared.aws.tidbcloud.com/explore?orgId=1&left=%7B%22datasource%22:%22loki%22,%22queries%2

[2022-06-02 15:01] fschoell opened #12754 "Raw KV Backup is failing due to "Resolve lock timeout""
## Bug Report

We are trying to do full backups of our RAW kv store using br, but it fails on different clusters and versions with `error="[tikv:9004]Resolve lock timeout"]`

### What version of TiKV are you using?

This happens on both Tikv 5.1.4 and 4.0.15. Versions:

[code]

[code]

### What operating system and CPU are you using?

[code]

### Steps to reproduce

We are trying to do a full back

[2022-06-02 15:24] joccau commented on #12750
/component br

[2022-06-02 15:25] joccau commented on #12750
/feature developing

[2022-06-02 15:25] joccau commented on #12750
/sig migrate

[2022-06-02 15:25] joccau commented on #12750
/type bug

[2022-06-02 15:32] joccau commented on #12751
/assign

[2022-06-02 15:33] joccau commented on #12751
/label may-affects-6.1

[2022-06-02 15:33] joccau commented on #12751
/type bug

[2022-06-03 06:23] hicqu commented on #12729
@shaoxiqian thanks for your report! In the current implementation, MVCC-deletions can only be handled at the bottlemost level. https://github.com/tikv/tikv/pull/10545 may be helpful for this case, we will continue on it.

[2022-06-03 21:48] BusyJay opened #12755 "extract ReadableXXX to a standalone repo"
## Development Task

`ReadableXXX` structs are quite commonly used. Extracting them can be beneficial for all other repositories that wants to reuse the logic. For example, raft-engine can reuses the struct instead of reimplementing its own. We may also publish it to crates.io.

https://github.com/tikv/raft-engine/blob/812a8c0d0074837baa7f5340a942b614fa93437b/src/util.rs#L23-L49

[2022-06-04 00:15] tonyxuqqi commented on #12755
It's nice to have, but given raft-engine already paid the cost, it seems not a high priority work for now. I suggest we can revisit it when someone needs the same logic in other repo again.

[2022-06-04 00:44] breezewish commented on #12755
Not sure, but may be many things in the tikv_util could also be beneficial to the ecosystem :)

[2022-06-04 01:13] BusyJay commented on #12755
@breezewish Agree. ReadableXXX is just a start. And just publishing tikv_util to include all packages is not a good idea.

[2022-06-04 02:35] dbsid commented on #12729
/severity critical

[2022-06-04 02:36] dbsid commented on #12729
I think this is a critical bug for the default gc. It’s devastating that the old mvcc versions are not purged from the user perspective.

[2022-06-04 11:05] joccau commented on #12751
/severity Major

[2022-06-04 11:05] joccau commented on #12751
/remove-label may-affects-4.0

[2022-06-04 11:06] joccau commented on #12751
/remove-label may-affects-5.0
/remove-label may-affects-5.1
/remove-label may-affects-5.2
/remove-label may-affects-5.3
/remove-label may-affects-5.4
/remove-label may-affects-6.0

[2022-06-04 11:07] joccau commented on #12750
/severity Major

[2022-06-04 11:08] joccau commented on #12750
/remove-label may-affects-4.0
/remove-label may-affects-5.0
/remove-label may-affects-5.1
/remove-label may-affects-5.2
/remove-label may-affects-5.3
/remove-label may-affects-5.4
/remove-label may-affects-6.0

[2022-06-04 11:10] joccau commented on #12750
/label needs-cherry-pick-6.1

[2022-06-04 11:11] joccau commented on #12751
/label may-affects-6.1

[2022-06-04 11:11] joccau commented on #12751
/label needs-cherry-pick-6.1

[2022-06-05 16:57] pingyu commented on #12754
This issue seems to be caused by the same reason as https://github.com/pingcap/tidb/issues/32607. The [`handleFineGrained`](https://github.com/pingcap/br/blob/v5.1.4/pkg/backup/client.go#L479) procedure loss the `isRawKv` argument and run into the wrong logics for transaction data.

It should be fix in next patch of v5.1 (https://github.com/pingcap/tidb/pull/32790).
Before that, I think you can tr

[2022-06-05 17:14] pingyu opened #12758 "RawKV API V2 supports "key space" encoded in key"
## Feature Request

### Is your feature request related to a problem? Please describe:

The [multi-tenant](https://en.wikipedia.org/wiki/Multitenancy) is an essential feature for cloud user to reduce cost. And we need the "key space" as a fundamental to implement multi-tenant.

### Describe the feature you'd like:

RawKV API V2 support "key space" encoded in key.
As the key encoding is implemented

[2022-06-06 03:13] joccau commented on #12751
![middle_img_v2_15c6cc4c-9b26-4819-9e26-89b287a04a5g](https://user-images.githubusercontent.com/57036248/172088372-356c3a9e-9669-483f-a5ca-d84f914247df.png)

[2022-06-06 05:16] joccau commented on #12751
/remove-label may-affects-6.1

[2022-06-06 05:16] joccau commented on #12751
/label affects-6.1

[2022-06-06 05:17] joccau commented on #12750
/remove-label may-affects-6.1
/label affects-6.1

[2022-06-06 07:56] Lily2025 opened #12768 "[Dynamic Region] Some large regions did not split due to split check did not run"
## Bug Report

### What version of TiKV are you using?
./tikv-server -V
TiKV
Release Version: 6.1.0-alpha
Edition: Community
Git Commit Hash: 5c6018e5711bec3d13f9cdf39d3a84ed9de27809
Git Commit Branch: heads/refs/tags/v6.1.0
UTC Build Time: 2022-06-02 13:53:59
Rust Version: rustc 1.60.0-nightly (1e12aef3f 2022-02-13)
Enable Features: jemalloc mem-profiling portable sse test-engine-kv-rocksdb test-

[2022-06-06 07:59] Lily2025 commented on #12768
/type bug
/severity major
/assign tonyxuqqi

[2022-06-06 08:05] Lily2025 commented on #12768
/remove-label may-affects-4.0
/remove-label may-affects-5.0
/remove-label may-affects-5.1
/remove-label may-affects-5.2
/remove-label may-affects-5.3
/remove-label may-affects-5.4
/remove-label may-affects-6.0
/label affects-6.1

[2022-06-06 08:11] sticnarf opened #12769 "Recommend using nextest for testing"
[Nextest](https://nexte.st/) significantly improves the speed of running tests by using a better execution model than `cargo test`. It also provides some useful features like re-running flaky tests automatically, test partitioning and reusing builds.

## CI

On the build machine, build all tests and only run proc-macro related unit tests:

[code]

Then, archive the test files and send it to test m

[2022-06-06 08:11] sticnarf commented on #12769
cc @purelind @BusyJay

[2022-06-06 09:12] 3pointer opened #12771 "Config: auto set default configurations when configurations are not valid."
## Feature Request

### Is your feature request related to a problem? Please describe:

Some components like Backup/Import/CDC should not refuse to start when the config is invalid and has the default value.

### Describe the feature you'd like:

Auto set invalid configurations.

### Describe alternatives you've considered:

### Teachability, Documentation, Adoption, Migration Strategy:

[2022-06-06 23:29] tonyxuqqi opened #12772 "engine_traits: Support tablets in Engines"
## Development Task
The idea is that for Region's KV DB, use engines.tablet() for read/write data. When multi rocks is not enabled, tablet() will be same as engines.kv.

[2022-06-07 04:42] BusyJay opened #12773 "update stale deps"
## Development Task

Replace signal crate with signal-hook as signal introduces several outdated deps.

[2022-06-07 06:34] #12758 closed

[2022-06-07 10:16] #12750 closed

[2022-06-07 10:16] #12751 closed

[2022-06-07 11:59] fschoell commented on #12754
Is this going to be backported to v4? We have two very large clusters on 4.0.15 which we would like to back up before updating

[2022-06-07 12:59] pingyu commented on #12754
I think no. As TiKV v4.0.15 do not support raw backup.
I'm afraid that the only way to backup raw data on 4.0.15 is by `raw_scan`.

[2022-06-07 13:22] pingyu commented on #12754
I notice that v4.0.16 includes the raw backup feature. So I think you can upgrade to this version.
Please refer to the [release note](https://docs.pingcap.com/tidb/v4.0/release-4.0.16#tidb-4016-release-notes).

[2022-06-08 06:17] glorv opened #12780 "Optimize the config change check in raft_client MessageBuffer"
## Development Task

#12335 introduced server config version check in `MessageBuffer::push`, but since this is a hot patch, this extra check(with atomic operations) may affect the performance.

[2022-06-08 06:28] yevgenypats commented on #5312
Closing as fuzzit was acquired by GitLab.

[2022-06-08 06:28] #5312 closed

[2022-06-08 07:32] fubinzh opened #12782 "br log backup checkpoint doesn't move forward"
## Bug Report

### What version of TiKV are you using?
/ # /tikv-server -V
TiKV
Release Version:   6.1.0-alpha
Edition:           Community
Git Commit Hash:   ba391ff506c8b7f4b0cd7c9ef0b9f04ce87c3d7e
Git Commit Branch: heads/refs/tags/v6.1.0-nightly
UTC Build Time:    2022-06-06 11:05:08
Rust Version:      rustc 1.60.0-nightly (1e12aef3f 2022-02-13)
Enable Features:   pprof-fp jemalloc mem-profili

[2022-06-08 07:33] fubinzh commented on #12782
/type bug
/severity Moderate
/feature developing

[2022-06-08 07:34] fubinzh commented on #12782
/assign YuJuncen

[2022-06-08 08:02] nolouch commented on #12768
here a oversize region:
[code]

and it's logs:
[logs.zip](https://github.com/tikv/tikv/files/8859547/logs.zip)

we can see only one log about size check:
![image](https://user-images.githubusercontent.com/6428910/172564297-9415d19a-e545-4560-8741-b379c61dc7f8.png)

And from the test, we can know, that the config is changed by the dynamic setting, and it's not working well.

[2022-06-08 08:41] Lily2025 opened #12784 "analyze table failed due to timeout when open dynamic region"
## Bug Report

### What version of TiKV are you using?
./tikv-server -V
 TiKV
Release Version:   6.1.0-alpha
Edition:           Community
Git Commit Hash:   5c6018e5711bec3d13f9cdf39d3a84ed9de27809
Git Commit Branch: heads/refs/tags/v6.1.0
UTC Build Time:    2022-06-02 13:53:59
Rust Version:      rustc 1.60.0-nightly (1e12aef3f 2022-02-13)
Enable Features:   jemalloc mem-profiling portable sse tes

[2022-06-08 08:42] Lily2025 commented on #12784
/assign SpadeA-Tang

[2022-06-08 08:46] Lily2025 commented on #12768
/assign 5kbpers

[2022-06-08 08:49] 5kbpers commented on #12768
@cosven PTAL

[2022-06-09 02:44] tonyxuqqi commented on #12020
/cc hnes

[2022-06-09 02:59] hnes commented on #12020
@tonyxuqqi  OK, I will try to implement this feature.

[2022-06-09 03:26] BusyJay commented on #12020
You may also discuss it for potential compatibility. /cc @pingyu

[2022-06-09 03:56] hnes commented on #12020
@BusyJay OK, Thanks a lot :-D

[2022-06-09 06:18] #12771 closed

[2022-06-09 07:10] WangLe1321 opened #12786 "tikv_log_backup_task_status time series not changed after stop pitr task"
## Bug Report

### What version of TiKV are you using?

master

### What operating system and CPU are you using?

### Steps to reproduce

### What did you expect?

The time series after the time of task stopping should be empty

### What did happened?

The time series is not changed.

[2022-06-09 07:36] Connor1996 opened #12787 "Some metrics on async io code path is missing"
## Development Task

Add metrics on grafana
- tikv_raftstore_store_write_trigger_wb_bytes
- tikv_raftstore_store_write_handle_msg_duration_secs

[2022-06-09 12:59] innerr opened #12790 "TiKV IOUTIL not correct on EC2(4c instance)"
## Bug Report

### What version of TiKV are you using?

Nightly (today)

### What operating system and CPU are you using?

Centos

### Steps to reproduce

* Deploy TiDB cluster
* Run TPCC
* Observe the metrics from `node_exporter/disk`, compare to the output of `iostat -x 1` of the same instance

### What did you expect?
The metrics of IOUTIL of `nvme0n1` should be very low (near to zero), the `nv

[2022-06-09 15:35] kevin-xianliu commented on #12007
I will take a look at it.

[2022-06-10 03:51] yongpan0709 opened #12794 "Workload Error when killing pd Leader in HA test"
## Bug Report

### What version of TiKV are you using?

6.1.0-alpha   5c6018e5711bec3d13f9cdf39d3a84ed9de27809

### What operating system and CPU are you using?

### Steps to reproduce

1. Deploy RawKV Cluster, API-Version =2 , storage.enable-ttl: true
2. Start Workload R-W
3. Kill PD Leader

### What did you expect?
Workload runs normally.

### What did happened?
Some R-W actions failed.

[2022-06-10 06:11] hicqu opened #12795 "Any potential improvements for raft election when instances fail"
## Question

I have adding a metrics to show how many rounds are necessary to elect a new region leader when one TiKV instance fail. Here is the result:
![图片](https://user-images.githubusercontent.com/8407317/173001434-5fb6c581-f070-4039-9f67-f303e0a6943e.png)

The picture shows how many election rounds are used to get a new region leader. 376K regions use 1 round but 18K regions use 2 round.

Cur

[2022-06-10 06:49] BusyJay commented on #12795
https://github.com/tikv/raft-rs/pull/420 should improve this.

[2022-06-10 06:57] Connor1996 opened #12796 "Generate grafana json template from code(Grafana as code)"
## Development Task

It's always arduous to update grafana template as the grid position of json may change vastly everytime of adding just a new panel.

We can leverage [grafonnet](https://grafana.github.io/grafonnet-lib/) to generate the json template from code (here is a talk keynote
https://inuits.eu/pdfs/Grafana_as_Code.pdf). Then we don't need to struggle with the json changes, just to add a

[2022-06-10 07:23] pingyu commented on #12794
### Issue Analysis

The duration of `raw_get` & `raw_compare_and_swap` is much longer than expect, up to 8s (The metrics in the following diagram is MAX message duration)
![middle_img_v2_50945c99-988e-406c-9975-63b54bae26ag](https://user-images.githubusercontent.com/1907938/173009678-7cefa157-e933-4ed6-83c9-1d9ded45017f.jpg)

We can also see that the long duration of `propose wait`:
<img width="13

[2022-06-10 07:33] tabokie commented on #12796
Looks promising.

[2022-06-10 08:12] tabokie opened #12797 "Deprecate gc-merge-rewrite option"
## Development Task

See https://github.com/tikv/titan/pull/249 for more details.

[2022-06-10 10:14] #12797 closed

[2022-06-10 14:24] zhangjinpeng1987 commented on #12784
cc @BornChanger

[2022-06-10 14:37] zhangjinpeng1987 commented on #12768
@5kbpers @cosven any update for this issue?

[2022-06-10 15:08] #12780 closed

[2022-06-10 16:16] tabokie commented on #12769
I tested it in https://github.com/tikv/tikv/pull/12799 and https://ci.pingcap.net/blue/organizations/jenkins/debug-tikv-new-test/activity. The test time is reduced from 5m to 3m, with 40% less CPU resources (from 20\*2c to 3\*8c).

[2022-06-10 17:10] BusyJay commented on #12769
Very promising! Have you check the total running test case number compared to the old way?

[2022-06-10 17:14] BusyJay commented on #12769
I would argue 20 * 2c vs 3 * 8c is not a fair comparison. As with 2c mode, pods are allocated quickly and freed quickly, so it's not occupied all the time. Perhaps should test the old way with 3 * 8c or test the nextest with 20 * 2c.

[2022-06-11 08:26] joccau opened #12802 "log-backup: The checkpoint-ts do not keep 24h when the task status become error."
## Bug Report

### What version of TiKV are you using?

### What operating system and CPU are you using?

### Steps to reproduce

- create a task. br log start
- make a breakdown for minio storage.
- the log-backup task failed to do_flush and retry for 16 times for 64 minutes. The status of task became error finally.
- The gc safe point keep at checkpoint-ts of task for 30 mins(need keep 24 h).

#

[2022-06-11 08:27] joccau commented on #12802
/assign
/label affects-6.1
/type bug
/feature developing
/component br

[2022-06-11 08:27] joccau commented on #12802
/severity Critical

[2022-06-11 08:28] joccau commented on #12802
/remove-label may-affects-4.0
/remove-label may-affects-5.0
/remove-label may-affects-5.1
/remove-label may-affects-5.2
/remove-label may-affects-5.3
/remove-label may-affects-5.4

[2022-06-13 03:11] tabokie commented on #12769
@BusyJay Actually using more cores is a requirement for getting those benefits. Nextest excels at optimally parallelizing tests, so using a 2c machine can't demonstrate its execution model. On the other hand, using cargo test on 8c machine doesn't seem like a viable choice. Based on my local tests before, isolation by threads (in contrary to nextest's process isolation) is simply too weak to relia

[2022-06-13 04:09] cfzjywxk opened #12803 "txn: enhance the debug information"
## Development Task
In https://github.com/pingcap/tidb/issues/34875 it takes quite a long time to investigate, the debug log information helps a lot, but there's still some important information missing such as retrying or 1pc flags.  Try to enhance the information to reduce the investigation cost.

[2022-06-13 04:09] tabokie commented on #12769
163 benches out of 2865 tests are not run by nextest.

[2022-06-13 05:52] tabokie opened #12804 "all ignored tests are run in `make test`"
## Bug Report

### What version of TiKV are you using?

N/A

### What operating system and CPU are you using?

N/A

### Steps to reproduce

`make test`

### What did you expect?

### What did happened?

At this line:
https://github.com/tikv/tikv/blob/d6d6d6ee725639d05ce81577a71e4a76c14152ce/scripts/test-all#L23

`--package tikv_alloc` argument is ignored when `--workspace` is present. So all ignor

[2022-06-13 05:54] #12803 closed

[2022-06-13 06:56] #12787 closed

[2022-06-13 07:30] Lily2025 opened #12807 "TiKV oom due to memory leak"
## Bug Report

### What version of TiKV are you using?
./tikv-server -V
 TiKV
Release Version:   6.1.0-alpha
Edition:           Community
Git Commit Hash:   c26134bbf04235f61484d4f5ed58c47b520e8015
Git Commit Branch: heads/refs/tags/v6.1.0
UTC Build Time:    2022-06-07 11:55:22
Rust Version:      rustc 1.60.0-nightly (1e12aef3f 2022-02-13)
Enable Features:   jemalloc mem-profiling portable sse tes

[2022-06-14 00:03] v01dstar opened #12809 "Fix unsafe recovery flaky test"
## Development Task
Failure example: https://ci.pingcap.net/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/22055/pipeline/

[2022-06-14 06:51] mayjiang0203 commented on #11581
Close by pr https://github.com/tikv/tikv/pull/12247, but there also has a small change occur oom when run sysbench bulk insert workload, will try to fix it in following two pr.
 https://github.com/tikv/tikv/pull/12363
https://github.com/tikv/tikv/pull/12443

[2022-06-14 07:10] #11044 closed

[2022-06-14 07:18] glorv opened #12819 "add more load base split metrics"
## Development Task
This is a stub issue used for triage legacy PR #10936

[2022-06-14 09:39] breezewish commented on #12796
I think the major problem comes from that we don't have a clear guideline about how to update the metrics JSON.

After https://github.com/pingcap/tiup/pull/1920 is merged, a standard procedure to update the Grafana JSON can be greatly simplified to:

1. Start a Grafana (e.g. using TiUP Playground).
2. Modify the Grafana Dashboard using the What-You-See-Is-What-You-Get Grafana UI.
3. Click "Share"

[2022-06-14 09:45] Connor1996 commented on #12796
@breezewish That's how we does now. But the cluster name will be renamed to a specified one after export. We still needs to replace the cluster name manually.

And different version Grafana dumps different json causing it changes vastly though I just simply change a query.

[2022-06-14 09:52] Connor1996 commented on #12796
And here is a case that we need to rechange in grafana UI and reexport the metrics when picking PR to other branches, but code doesn't this problem and easy to review.

[2022-06-14 09:53] Connor1996 commented on #12796
I agree, that's a concern for me as well. So I didn't quite hurry on this task, need to think twice.

[2022-06-14 09:56] Connor1996 commented on #12796
@breezewish https://github.com/pingcap/tiup/pull/1920 it seems that it only affects the playground?

[2022-06-14 09:58] breezewish commented on #12796
There is an existing experiment in TiDB, as: https://github.com/pingcap/tidb/blob/master/metrics/grafana/tidb_summary.jsonnet

Personally I would consider it to be an example of failure, because the visualization becomes very limited. There are only line-charts now. Of course no one attempted to change other Grafana JSONs, as the visualization is too complicated and the codegen is hard to craft (m

[2022-06-14 10:06] Connor1996 commented on #12796
Oh, don't know TiDB has tried it before.

When adding new types of metrics we can use Grafana UI to dump the json first, then you would know the value for each json key and transfer it to code.

[2022-06-14 10:19] breezewish commented on #12796
Yes, currently I'm thinking that using playground should be easy and sufficient enough, to be used to make Grafana Dashboard changes. Not sure whether TiUP Cluster is really necessary.

According the current TiDB's jsonnet file I'm afraid it is a hard work. The jsonnet API is a higher encapsulation, not directly 1:1 mapped to the JSON.

[2022-06-14 10:56] tabokie opened #12820 "Benches under tests crate cannot be run"
## Bug Report

### What did happened?

Due to this line: https://github.com/tikv/tikv/blob/0d9b7b33b7928be06016075329fe0b2c4fba25f5/components/test_util/src/runner.rs#L66
All benches under `tests` are forcefully converted to unit tests.

[2022-06-15 02:35] joccau commented on #12786
/feature developing

[2022-06-15 02:35] joccau commented on #12786
/assgin WangLe1321

[2022-06-15 02:35] joccau commented on #12786
/type enhancement

[2022-06-15 02:36] joccau commented on #12786
/sig migrate

[2022-06-15 02:36] joccau commented on #12786
/assign @WangLe1321

[2022-06-15 02:46] jhfb opened #12822 "How Tikv handle read requests?"
## Question

Recently, I was reading the tikv source code。And I have some questions。
How Tikv handle read requests with RawGet API?
Data can be read through the send_command() method provided by the raftstorerouter,but the rawget API looks like reading from snapshot triat.
Which data structure implements snapshot？
What methods does rawget call?

[2022-06-15 06:35] Connor1996 commented on #12345
This is partial fixed by https://github.com/tikv/tikv/pull/12629 which avoids reconnecting on some error.

Encounter the same issue, the `RegionNotFound` or `EpochIsStale` returned by PD trigger mistakenly reconnection of the PD client as well.

[2022-06-15 07:03] longfangsong opened #12824 "tikv-ctl: Add reset_to_version command back"
## Development Task

ref [tikv/rfcs#81](https://github.com/tikv/rfcs/pull/81)

We forgot to add reset_to_version command in our last pr.

[2022-06-15 07:30] zyguan opened #12825 "raftstore: tikv panicked due to trying to recover a delayed destroy"
## Bug Report

### What version of TiKV are you using?

master

### What operating system and CPU are you using?

kubernetes

### Steps to reproduce

run jepsen monotonic workload
[code]

### What did you expect?

No panic

### What did happened?

[code]

[here](http://minio.pingcap.net:9000/test-infra/2022-06-08/plan-exec-844741/plan-exec-844741-1184710951/archive.tgz) is the full log.

[2022-06-15 08:34] breezewish commented on #12796
Yes, it should be intentional, for normal users it would be better to see "MyCluster-TiFlash" instead of "Test-Cluster-TiFlash" I think.

This limits that we should not modify dashboard (and contribute it to TiKV code base) using normal clusters. We should always modify the dashboard using a TiUP Playground deployed cluster. Considering TiUP Playground is much easier to use than TiUP Cluster, I th

[2022-06-15 08:42] Connor1996 commented on #12796
When developing features, we usually need to deploy a normal cluster with patched binary to add metrics and check if everything works as expected. Playground doesn't meet the demand.

[2022-06-15 08:46] breezewish commented on #12796
How about something like:

[code]

I used to use this arguments (there are also arguments for TiKV, TiFlash and PD as well) so that my local patched one can be started. In contrary, TiUP Cluster is hard to use in my MacOS.

[2022-06-15 09:30] BornChanger commented on #12784
@Lily2025 told me that the problem can't be reproduced on nightly master release.

[2022-06-15 09:38] Connor1996 commented on #12796
The key point is we seldom deploy a playground to testify features, cause usually it's performance critical. Though if we have a way to dump json like playground that cluster name is not changed and no need to tweak dumped json with mental burden, I agree to only use grafana UI.

[2022-06-15 10:22] #12345 closed

[2022-06-16 02:49] joccau commented on #12582
/assign

[2022-06-16 02:51] joccau commented on #12582
/remove-label may-affects-4.0
/remove-label may-affects-5.0
/remove-label may-affects-5.1
/remove-label may-affects-5.2
/remove-label may-affects-5.3
/remove-label may-affects-5.4
/remove-label may-affects-6.0

[2022-06-16 02:51] joccau commented on #12582
/component br

[2022-06-16 03:58] joccau commented on #12582
/sig migrate

[2022-06-16 03:59] joccau commented on #12582
The solution to fix it: https://pingcap.feishu.cn/wiki/wikcnK2mc3wsJgKxfpAiFToY2je

[2022-06-16 06:14] sticnarf opened #12838 "(M) Generating snapshot I/O usage"

[2022-06-16 06:19] #12838 closed

[2022-06-16 06:55] hicqu opened #12840 "reduce cdc latency"
## Development Task

Cdc latency is determined by several factors. On the TiKV side the key is `cdc.min-ts-interval`, which is `1s` by default. If we can set it to a small value, it will be helpful to reduce cdc latency.

However some issues should be resolved:
* whether it will utilize too much CPU resource or not; tso thread count can be a bottleneck;
* whether it will utilize too much CPU resou

[2022-06-16 09:41] hicqu commented on #12840
Test shows that when redo-log is enabled, cdc latency increases to infinit. I think some there are dead locks in cdc. Here is a log sector:
[code]

[2022-06-16 10:05] hicqu commented on #12840
Same problem even if set `cdc.min-ts-interval` to `1s`.

[2022-06-16 23:03] BusyJay opened #12842 "Support physical isolation between regions"
RFC: tikv/rfcs#93

Summary:

Make every region stores its own data in an isolated LSM tree, in our case RocksDB.

This is the second step to make TiKV to operate fast and at low cost for big cluster.

The first step can be found in #11515.

Tasks:

- [ ] raftstore v2
    - [x] implement read
        - https://github.com/tikv/tikv/pull/13039
        - https://github.com/tikv/tikv/pull/13202
    - [

[2022-06-16 23:25] tonyxuqqi opened #12844 "support regional flow controller in multi-rocksdb version"
## Development Task
Today the granularity of flow controller is per TiKV node and technically this is because of the single RocksDB instance.
In multi-rocksdb instance version, since all the RocksDB metrics is per region/tablet,  it's very straightforward to support flow controller per region.
From functional perspective, regional flow controller also has the benefit to control the traffic more pr

[2022-06-17 11:16] zhangjinpeng1987 commented on #12601
multi-rocksdb 2nd phase task track https://github.com/tikv/tikv/issues/12842

[2022-06-17 14:26] breezewish commented on #12355
I have a few questions related with reducing number of series:

1. In what scenario do you meet the demand that the storage size of TiKV need to be reduced? Does the user has too many (e.g. >100) nodes?

2. What do we need to trade off for the storage space? By reducing the metric series? Or reducing the histogram size? Or so on?

[2022-06-18 13:16] glorv commented on #12355
@breezewish

This is one step to reducing the cost of TiDB Cloud. The goal is to reduce the total size to 1/10 if possible.

We want to reduce the overall size of the metrics stored in prometheus.

[2022-06-19 02:11] breezewish commented on #12355
@glorv Thanks for the supplied information. If these metrics can be ignored, how about simply removing them?

[2022-06-19 21:19] BusyJay commented on #12825
The panic is caused by an uninitialized peer is being destroyed and split at the same time. When being destroyed, a peer will flush its logs gc task asynchronously first. If the peer is replaced by split, then the response of flushing will be send to a wrong peer, hence cause panic.

As there is nothing to be deleted by an uninitialized peer, it's pointless to schedule the task.

[2022-06-20 03:10] wshwsh12 opened #12848 "Improve the paging protocol"
## Development Task

Now tidb supports using paging protocol to process index scan requests, and look up table early to reduce query latency.
But now only support index scan and not enabled by default. We can improve the paging implement to bring more benefits.

## Goal
1. Solve the **OOM problem** of reading a large amount of data such as full table scan through the paging protocol
2. Paging supp

[2022-06-20 03:11] wshwsh12 commented on #12848
/assign @wshwsh12

[2022-06-20 03:35] CalvinNeo opened #12849 "Support TiKV using different KvEngines"
## Development Task

We need to support TiKV using a KvEngine other than engine_rocks.
1. Add some new coprosessors as complement
2. Add new features to trait engine

### Cop part
#### Observe execution
In AdminObserver and QueryObserver:

1. `pre_exec_admin`/`pre_exec_query` #12868
    Not all KvEngines can handle all of the commands. For example, if a KvEngine is not based on RocksDB, it may not

[2022-06-20 03:44] glorv commented on #12355
@zhangjinpeng1987  @BusyJay @kevin-xianliu, maybe we can consider Victoriametrics. It provides memory,    storage space and performance improvements. If we replace prometheus with Victoriametrics, seems we can just keep all metrics with a much more low storage cost(7x less compared to prometheus).

[2022-06-20 04:01] glorv commented on #12355
I also considers this as histogram is the biggest reason for so many metrics. In my test, we may reduce histogrm size in 3 ways:
1. Reduce the cardinality of the histogram series. Most of the are define with 20 cardinalities, maybe 15 or less is enough.
2. Filter the non-significant part of histogram vector, as implemented in #12732.
3. Compact the bucket data. As implemented in #12417. As the sam

[2022-06-20 04:12] breezewish commented on #12355
@glorv

Just came up with a simpler way to "filter core metrics" without touching the TiKV code base: we can [write allowlist rules in Prometheus.yaml](https://grafana.com/docs/grafana-cloud/metrics-control-usage/control-prometheus-metrics-usage/usage-reduction/#relabel_config-syntax) in TiDB Cloud and drop others. When we want to collect more metrics, we can update the Prometheus config file and

[2022-06-20 04:48] #12451 closed

[2022-06-20 06:50] glorv commented on #12355
I also would like to change the tikv source as less as possible.
I think put the `relabel_config` rule at prometheus may have following draw backs:
- We may want to add a certain rule to all components(or at least components with big metrics size), then maintain these config from time to time may be not easy.
- We may want to set different rule for different clusters.(e.g. keep more metrics for cl

[2022-06-20 07:38] ystaticy opened #12852 "Divided Gc metrics in different labels by Key Mode"
## Development Task
Divided Gc metrics in different labels by Key Mode .
KeyMode has 3 types:
1.```tidb``` for ```TiDB``` scenarios
2.```txn``` for ```TxnKV``` scenarios
3.```raw``` for ```RawKV``` scenarios

There are few metrics need to divided into different labels by KeyMode :
```tikv_storage_mvcc_gc_delete_versions_sum```
```tikv_gc_compaction_filtered```
```tikv_gc_compaction_filter_skip```

[2022-06-20 09:38] fubinzh opened #12854 "br log backup checkpoint lag > 1H after stop restarting tikv for 1H"
## Bug Report

### What version of TiKV are you using?
/ # /tikv-server -V
TiKV
Release Version:   6.1.0-alpha
Edition:           Community
Git Commit Hash:   9fda7293db13eb2441a3814609d7a48b0c140cae
Git Commit Branch: 6.1.0-pitr-dev
UTC Build Time:    2022-06-13 03:03:45
Rust Version:      rustc 1.60.0-nightly (1e12aef3f 2022-02-13)
Enable Features:   jemalloc mem-profiling portable sse test-engi

[2022-06-20 09:40] fubinzh commented on #12854
/assign YuJuncen

[2022-06-20 09:46] YuJuncen commented on #12854
The reason is probably the callback in the message 'CaptureChange' has been dropped.

[2022-06-20 10:28] Lily2025 opened #12855 "report 9005 error when inject one tikv network delay"
## Bug Report

### What version of TiKV are you using?
./pd-server -V
 Release Version: v6.1.0-nightly
Edition: Community
Git Commit Hash: eb2ed76f35a8098a756e742c44196af8dd22b58c
Git Branch: heads/refs/tags/v6.1.0-nightly
UTC Build Time:  2022-06-17 11:02:45

### What operating system and CPU are you using?
8c 16GB

### Steps to reproduce
[2022/06/19 12:42:26.473 +08:00] [INFO] [chaos.go:358] ["f

[2022-06-20 10:30] Lily2025 commented on #12855
/assign sticnarf

[2022-06-20 17:08] #12825 closed

[2022-06-20 17:28] BusyJay commented on #12355
👍 Both Victoriametrics and configuring the prometheus.yaml LGTM. And Victoriametrics seems can be configured as the storage of prometheus, so it may help reduce the complexity a lot.

On the other hand, allowlist can be also used as a way to find those metrics that we think is important but not in practice. We can remove them in the end.

[2022-06-20 22:16] #12007 closed

[2022-06-21 03:29] fubinzh commented on #12643
This issue is seen when restarting tikv repeatedly.

![origin_img_v2_1b911a4e-6947-41fd-afac-589faaaeb98g](https://user-images.githubusercontent.com/7403864/174710165-da041c33-6644-4d69-873e-c7bb96ee0ad9.jpg)

![origin_img_v2_baff4726-1d97-421a-a08d-cd6590f7b45g](https://user-images.githubusercontent.com/7403864/174710121-a2160a14-4dae-436b-8caf-41c23d49a80d.jpg)

[2022-06-21 04:30] gozssky opened #12859 "bump master version to 6.2-alpha"
v6.1 has been released. It's time to update the master version to v6.2-alpha.

[2022-06-21 04:32] MimeLyc commented on #12329
refresh pr relation.

[2022-06-21 07:22] mayjiang0203 opened #12867 "tikv should support use hostname instead of ip for status_address"
## Bug Report

### What version of TiKV are you using?

sh-4.2# ./tikv-server -Version
TiKV
Release Version:   6.1.0-alpha
Edition:           Community
Git Commit Hash:   c1a09b83f6da437f49758dc713150ebc0da5fcb9
Git Commit Branch: heads/refs/tags/v6.2.0-alpha
UTC Build Time:    2022-06-18 14:26:16
Rust Version:      rustc 1.62.0-nightly (7c4b47696 2022-04-30)
Enable Features:   pprof-fp jemalloc m

[2022-06-21 07:22] mayjiang0203 commented on #12867
/type bug
/severity Moderate

[2022-06-21 07:34] #12859 closed

[2022-06-21 07:45] fubinzh opened #12869 "Br Log backup flush file retry results in too many s3 request"
## Bug Report

### What version of TiKV are you using?
/ # /tikv-server -V
TiKV
Release Version:   6.1.0-alpha
Edition:           Community
Git Commit Hash:   9fda7293db13eb2441a3814609d7a48b0c140cae
Git Commit Branch: 6.1.0-pitr-dev
UTC Build Time:    2022-06-13 03:03:45
Rust Version:      rustc 1.60.0-nightly (1e12aef3f 2022-02-13)

### What operating system and CPU are you using?
K8S

### Steps

[2022-06-21 07:47] fubinzh commented on #12869
/type bug
/severity Critical
/feature developing

[2022-06-21 07:58] #12663 closed

[2022-06-21 08:30] Connor1996 opened #12876 "Support 2 Replicas With 1 Log Only Mechanism"
## Development Task

On cloud env, TiKV is equipped with AWS EBS storage for a single node which provides the durability of 99.99%. Moreover, TiKV organizes 3 Raft replicas on top of that, which may be overkill for durability. To reduce cost, we can introduce a mechanism named "2 Replicas With 1 Log Only" instead of 3 replicas to save 30% storage resources and cut down about 100%(1 core) CPU usage

[2022-06-21 08:38] #12820 closed

[2022-06-21 09:07] Lily2025 commented on #12855
Introduced by https://github.com/tikv/client-go/pull/503

[2022-06-21 09:21] joccau commented on #12869
/remove-label may-affects-4.0
/remove-label may-affects-5.0
/remove-label may-affects-5.1
/remove-label may-affects-5.2
/remove-label may-affects-5.3
/remove-label may-affects-5.4
/remove-label may-affects-6.0

[2022-06-21 09:57] joccau commented on #12869
### Analyze
The error blow is from minio when write file
- [2022/06/20 20:30:45.760 +00:00] [WARN] [router.rs:865] ["backup stream flush failed"] [err="Custom { kind: Other, error: \"failed to put object rusoto error Request ID: None Body: <?xml version=\\\"1.0\\\" encoding=\\\"UTF-8\\\"?>\\n<Error><Code>SlowDown</Code><Message>A timeout exceeded while waiting to proceed with the request, please r

[2022-06-21 22:36] #12844 closed

[2022-06-22 05:09] zhangjinpeng87 opened #12879 "workflows: add review statistics"
## Development Task

- [ ] Add review statistics after contributors sent a pull request, so it is easy to find reviewer for them.

[2022-06-23 00:40] tonyxuqqi opened #12883 "TiKV online config change adaption for MultiRocksDB"
## Development Task
Now we have Tablet abstraction,  the DBConfigManger should work with tablets as well as single kv engine.

[2022-06-23 03:04] fubinzh opened #12885 "br log backup too many small files and too many files in single folder"
## Bug Report

### What version of TiKV are you using?
/ # /tikv-server -V
TiKV
Release Version:   6.1.0-alpha
Edition:           Community
Git Commit Hash:   9fda7293db13eb2441a3814609d7a48b0c140cae
Git Commit Branch: 6.1.0-pitr-dev
UTC Build Time:    2022-06-13 03:03:45
Rust Version:      rustc 1.60.0-nightly (1e12aef3f 2022-02-13)

### What operating system and CPU are you using?
K8S

### Steps

[2022-06-23 03:05] fubinzh commented on #12885
/type bug
/severity Major
/feature developing

[2022-06-23 04:11] mayjiang0203 opened #12887 "compact-cluster using high threads may cause oom"
## Bug Report

From oncall-5044
### What version of TiKV are you using?

6.0.0

### What operating system and CPU are you using?

### Steps to reproduce

tiup ctl:v6.0.0 tikv --pd 172.16.6.130:2379 compact-cluster --threads 4 --bottommost force

### What did you expect?
succeed.

### What did happened?
Failed, and one tikv oom.

[2022-06-23 04:15] mayjiang0203 commented on #12887
Clinic link:
[portal/#/orgs/39/clusters/7045148589375764408]

[2022-06-23 04:16] mayjiang0203 commented on #12887
/severity moderate
/type bug
/assign @tier-cap

[2022-06-23 04:37] Xuanwo opened #12888 "TiKV built failed on archlinux"
## Bug Report

TiKV built failed on archlinux

### What version of TiKV are you using?

Current [master](https://github.com/tikv/tikv/commit/931c9fb2f14c0624583421a56740179fc4f158ab).

### What operating system and CPU are you using?

Archlinux, not related to CPU.

### Steps to reproduce

Clone and then:

[code]

### What did you expect?

Build with success.

### What did happened?

`libtitan_sys

[2022-06-23 05:48] Connor1996 commented on #12876
Separate the tasks into two stages, and the first stage is focus on prototype

[2022-06-23 06:22] tabokie opened #12890 "Encryption keys for WALs are not cleaned up when Raft Engine is enabled"
## Bug Report

### What version of TiKV are you using?

v6.1.0

### What operating system and CPU are you using?

N/A

### Steps to reproduce

Run write workload for a long time, observe the size of encryption key dictionary. The dictionary will grow indefinitely.

For a typical write workload, there are thousands of new WAL files generated by Raft Engine per day. The encryption keys associated wi

[2022-06-23 09:43] joccau opened #12895 "log-backup: Development Tasks for Log-based Increment Backup, directly on TiKV"
## Feature Request

Dup https://github.com/pingcap/tidb/issues/29501

[2022-06-23 09:45] joccau commented on #12895
/feature developing

[2022-06-23 11:26] fubinzh opened #12896 "[BR] Duration 99 triples when log backup and full backup are in progress"
## Bug Report

### What version of TiKV are you using?
Release Version:   6.1.0-alpha
Edition:           Community
Git Commit Hash:   900dd036829662f4e88d31fc66fc3aada09a9924
Git Commit Branch: 6.1.0-pitr-dev

### What operating system and CPU are you using?
K8S

### Steps to reproduce
1. Start log backup, check the duration & QPS
2. Run workload, QPS ~9K, insert&update: 3K
3. Start full backup wh

[2022-06-23 11:26] fubinzh commented on #12896
/type bug
/severity Critical
/feature developing

[2022-06-23 11:28] tabokie opened #12897 "Manage multiple disjoint instances of RocksDB on the fly"
## Development Task

Provide the capability to create multiple disjoint instances from one instance, and merge multiple instances into one.

RocksDB already provides checkpoint to create a clone of an existing instance. So the first part can be trivially implemented as checkpoint followed by an out-of-range deletion.

The second part can be broken down into:

- [x] Physically delete all data excep

[2022-06-23 11:42] tabokie commented on #12897
Memo for the implementation of `Merge`:
- Pause flush of all existing DBs.
- Merge table files. This operation is trivial as table files are not overlapped.
- Merge WALs. The log number of WALs from different DBs will be altered to have no conflict and be larger than the max_log_number of all table files. This number will be stable because flush is paused before.
- Merge memtables by ref counting

[2022-06-23 12:34] ethercflow opened #12898 "Optimize Commit pipeline performance"
## Development Task

Optimize the waiting delay caused by the uneven load of the writer wb: the writer who enters the request queue later enters the commit phase first. See: https://github.com/tikv/rocksdb/pull/286

[2022-06-24 02:06] 5kbpers opened #12901 "Remove KV WAL"
## Development Task
Disable KV WAL completely and move all states from KV DB to raft engine.

See more details in https://github.com/tikv/rfcs/pull/94.

[2022-06-24 04:27] fubinzh opened #12902 "PiTR log backup fails due to "failed to put object rusoto error""
## Bug Report

### What version of TiKV are you using?
│/ # /tikv-server -V
│TiKV
│Release Version:   6.1.0-alpha
│Edition:           Community
│Git Commit Hash:   900dd036829662f4e88d31fc66fc3aada09a9924
│Git Commit Branch: 6.1.0-pitr-dev
│UTC Build Time:    2022-06-13 03:03:45

### What operating system and CPU are you using?
K8S

### Steps to reproduce
1. Start log backup with workload running

[2022-06-24 04:28] fubinzh commented on #12902
/type bug
/severity Critical
/feature developing

[2022-06-24 04:37] fubinzh opened #12903 "service_gc_safepoint not set and data lost after br log backup in ERROR state"
## Bug Report

### What version of TiKV are you using?
│/ # /tikv-server -V
│TiKV
│Release Version: 6.1.0-alpha
│Edition: Community
│Git Commit Hash: https://github.com/tikv/tikv/commit/900dd036829662f4e88d31fc66fc3aada09a9924
│Git Commit Branch: 6.1.0-pitr-dev
│UTC Build Time: 2022-06-13 03:03:45

### What operating system and CPU are you using?
K8S

### Steps to reproduce

1. BR log backup enter

[2022-06-24 05:12] Lily2025 opened #12904 "[Dynamic Region] br restore timeout when region size more then 1GB（tested 1GB and 10GB）"
## Bug Report

### What version of TiKV are you using?
./tikv-server -V
 TiKV
Release Version:   6.2.0-alpha
Edition:           Community
Git Commit Hash:   931c9fb2f14c0624583421a56740179fc4f158ab
Git Commit Branch: heads/refs/tags/v6.1.0-nightly
UTC Build Time:    2022-06-22 11:03:29
Rust Version:      rustc 1.62.0-nightly (7c4b47696 2022-04-30)
Enable Features:   pprof-fp jemalloc mem-profiling

[2022-06-24 05:13] Lily2025 commented on #12904
/type bug
/severity major
/assign YuJuncen

[2022-06-24 05:15] Connor1996 commented on #12307
Online recovery is GA now

[2022-06-24 05:20] #12717 closed

[2022-06-24 05:20] hicqu commented on #12717
It's also fixed in ticdc, so we can close it.

[2022-06-24 05:44] #11192 closed

[2022-06-24 06:20] #12824 closed

[2022-06-24 08:03] glorv opened #12909 "replace Into with TryInto when convert ConfigValue"
## Development Task

[2022-06-24 09:42] sticnarf commented on #12888
#12899 will update rust-rocksdb. And after that, it should be compatible with GCC 12.

[2022-06-27 05:43] mayjiang0203 opened #12914 "dr-auto-sync: After down tikv in backup cluster, query in primary cluster hit 9002: TiKV timeout"
## Bug Report

### What version of TiKV are you using?

sh-4.2# ./tikv-server -V
TiKV
Release Version:   6.2.0-alpha
Edition:           Community
Git Commit Hash:   a9c3e56552c803642f640e9b3fa8725aa3072400
Git Commit Branch: heads/refs/tags/v6.2.0-alpha
UTC Build Time:    2022-06-24 14:26:53
Rust Version:      rustc 1.62.0-nightly (7c4b47696 2022-04-30)
Enable Features:   pprof-fp jemalloc mem-pro

[2022-06-27 05:44] mayjiang0203 commented on #12914
/type bug
/severity Major
/assign @disksing

[2022-06-27 10:00] fubinzh opened #12916 "[BR] partition table created during log backup are not restored correctly"
## Bug Report

### What version of TiKV are you using?

/ # /tikv-server -V
TiKV
Release Version:   6.1.0
Edition:           Enterprise
Git Commit Hash:   f20a1195ddadf435329a0fbde7326ae9df17c245
Git Commit Branch: heads/refs/tags/v6.1.0-20220622
UTC Build Time:    2022-06-24 13:42:12

### What operating system and CPU are you using?

K8S

### Steps to reproduce
1. Start log backup
2. Do full back

[2022-06-27 10:01] fubinzh commented on #12916
/type bug
/severity Critical
/feature developing

[2022-06-27 12:13] fubinzh opened #12918 "BR log backup data lost if tikv restart followed by tikv network partition"
## Bug Report

### What version of TiKV are you using?
Release Version:   6.1.0
Edition:           Enterprise
Git Commit Hash:   f20a1195ddadf435329a0fbde7326ae9df17c245
Git Commit Branch: heads/refs/tags/v6.1.0-20220622
UTC Build Time:    2022-06-24 13:42:12

### What operating system and CPU are you using?
K8S

### Steps to reproduce
1. start log backup
2. do a full backup
3. start a workload
4.

[2022-06-27 12:13] fubinzh commented on #12918
/type bug
/severity Major
/feature developing

[2022-06-27 12:46] seiya-annie opened #12919 "redhat8.4 OS , v6.1.0 add "data-encryption-method", reload tikv fail"
## Bug Report

### What version of TiKV are you using?
[root@tikv-0 bin]# ./tikv-server --version
TiKV
Release Version:   6.1.0
Edition:           Community
Git Commit Hash:   080d086832ae5ce2495352dccaf8df5d40f30687
Git Commit Branch: heads/refs/tags/v6.1.0
UTC Build Time:    2022-06-10 11:22:39
Rust Version:      rustc 1.60.0-nightly (1e12aef3f 2022-02-13)
Enable Features:   jemalloc mem-profili

[2022-06-27 12:47] seiya-annie commented on #12919
[tikv_reload_fail.tar.gz](https://github.com/tikv/tikv/files/8992083/tikv_reload_fail.tar.gz)

[2022-06-27 14:09] joccau commented on #12916
/remove-label may-affects-4.0
/remove-label may-affects-5.0
/remove-label may-affects-5.1
/remove-label may-affects-5.2
/remove-label may-affects-5.3
/remove-label may-affects-5.4
/remove-label may-affects-6.0

[2022-06-27 14:09] joccau commented on #12916
/sig migrate

[2022-06-27 17:43] divanodestiny opened #12920 "Atomic write batch with CAS for RawKV"
## FeatureRequest
### Is your feature request related to a problem? Please describe:
We design a storage based on distributed transactional kv database to implement ETCD API used in apiserver. Though it works on TiKV,  the performance based on tikv is worse than the performance based on bytekv, because of the missing of some feature.
### Describe the feature you'd like:
- Support defining the rule

[2022-06-27 23:10] #12883 closed

[2022-06-28 06:22] #12809 closed

[2022-06-28 07:44] #12909 closed

[2022-06-28 11:06] bxq2011hust opened #12926 "TiKV crash when use 2pc commit and batchGet"
## Bug Report

### What version of TiKV are you using?
v5.4.0

### What operating system and CPU are you using?

macOS 12.4 Apple M1

### Steps to reproduce
[code]

### What did you expect?

works well

### What did happened?

![image](https://user-images.githubusercontent.com/15418097/176164004-44406722-bff4-4e01-bfa2-5474bc3e4a20.png)

if set [`resolved-ts.enable=false`](https://docs.pingcap.com

[2022-06-29 01:45] tabokie commented on #12919
Only support to enable encryption on a fresh node. Won't work unless https://github.com/tikv/tikv/pull/12272 is merged.

[2022-06-29 01:45] #12919 closed

[2022-06-29 06:39] zkkxu opened #12929 "Cut down network traffic between tikvs"
## Development Task
The cross az network traffic between tikv is very high. We should compress the traffic data to shrink the cost.

[2022-06-29 06:39] zkkxu commented on #12929
/self-assign

[2022-06-29 08:36] yibin87 opened #12932 "cast string as time behaviour is incompatible with TiDB"
## Bug Report

### What version of TiKV are you using?

TiKV
Release Version:   6.2.0-alpha
Edition:           Community
Git Commit Hash:   6bd1d4510652279e4d260317b628aafa6c5fbd27
Git Commit Branch: heads/refs/tags/v6.2.0-alpha
UTC Build Time:    2022-06-28 14:26:53
Rust Version:      rustc 1.62.0-nightly (7c4b47696 2022-04-30)
Enable Features:   pprof-fp jemalloc sse test-engine-kv-rocksdb test-

[2022-06-29 09:03] BurtonQin opened #12933 "components/pd_client: potential deadlocks caused by double-readlock in call_option"
## Bug Report

In components/pd_client/src/client.rs,
`Client.inner` is a `std::sync::RwLock<Inner>`
The first readlock is on L705, `call_option` is called on L709, and the second readlock is on L195.
https://github.com/tikv/tikv/blob/d356be1d051f38b9cd9c9239468073c05ccc6c03/components/pd_client/src/client.rs#L704-L709
https://github.com/tikv/tikv/blob/d356be1d051f38b9cd9c9239468073c05ccc6c03/comp

[2022-06-29 10:24] mayjiang0203 opened #12934 "Master: two tikv don't report region heartbeat after inject fault to pd leader"
## Bug Report

### What version of TiKV are you using?

./tikv-server -V
 TiKV
Release Version:   6.2.0-alpha
Edition:           Community
Git Commit Hash:   a9c3e56552c803642f640e9b3fa8725aa3072400
Git Commit Branch: heads/refs/tags/v6.1.0-nightly
UTC Build Time:    2022-06-24 11:02:31
### What operating system and CPU are you using?

### Steps to reproduce

plan/850383
clinic
    /portal/#/orgs/

[2022-06-29 10:25] mayjiang0203 commented on #12934
/type bug
/severity major
/assign @5kbpers

[2022-06-29 11:16] ystaticy opened #12935 "Add check conditions before compaction filter in RawKV GC"
## Development Task
Add some conditions before new RawKV GC compaction filter :
1. If rocksdb is write stall or stopped, it will not execute rawkv compaction filter.
2. If enable_compaction_filter=false or (need version check && version >= 5.0.0), it will not execute rawkv compaction filter.
3. If check_need_gc return false, it will not execute rawkv compaction filter.

<img width="946" alt="image

[2022-06-29 18:34] BusyJay commented on #12492
After discussion, the feature is to provide a way to make people access default value easily using command line tools. This can be convenient for checking configuration change during upgrading. Documentation is still the expected source of truth. For configuration explanation, users are expected to read documentations.

So the scope of the feature is to output default value, current value (reading

[2022-06-30 00:12] BusyJay opened #12936 "Remove the suppport for specifying block cache for cf manually"
## Feature Request

For historical reason, we support specifying block cache for each cf for either raft db or kv db. But since we support sharing cache between CFs and dbs (3 years ago), these settings are not practical anymore. They are hard to use and easy to make mistake. We better remove those settings and always enabling share cache for simplicity.

[2022-06-30 00:17] BusyJay commented on #12936
For those users that still use the settings (should be very few if any), it's recommended to migrate to the share cache method and set a total capacity instead.

[2022-06-30 00:33] sunxiaoguang commented on #12936
+1

[2022-06-30 02:31] JmPotato opened #12937 "Record the time consumed by Load Base Split"
## Development Task

Due to some statistical and computational work, it is necessary to record the time consumed by Load Base Split, which can help us to troubleshoot its potential performance problems.

[2022-06-30 02:44] #12769 closed

[2022-06-30 05:41] tonyxuqqi opened #12939 "engine_traits: refine the TabletFactory trait to remove the dependency on raftstore v1's RaftRouter"
## Development Task
Today the TabletFactory's implementation directly depends on raftstore v1's RaftRouter to send notification back for compaction events. This will bring problem when raftstore v2's RaftRouter counterpart is another structure.
From code layer perspective, it does not make sense to let engine's factory directly depend on the upper layer. Instead engine should provide a abstraction

[2022-06-30 09:43] JmPotato opened #12943 "Support to split the region on half with the given key range"
## Development Task

For now, `check_split_and_bucket` only supports splitting a region by its start key and end key. It is necessary to support splitting the region on half with the given key range if we want to provide features like CPU-based Load Base Split to split a region by its workload flexibly.

[2022-06-30 11:59] bufferflies opened #12945 "Observer： snapshot should add more metrics for the waiting duration of snapshot generator."
## Development Task
When the duration of region operator is bigger, the waiting duration maybe biggger also. The metrics will be helpful to explain the slow reason.

<img width="608" alt="image" src="https://user-images.githubusercontent.com/23159587/176672767-dbcc6f08-d769-4c1f-8bf5-9f52e268ede4.png">

[2022-06-30 14:54] #4976 closed

[2022-07-01 07:30] #12943 closed

[2022-07-01 07:54] 5kbpers commented on #12934
[code]

Found some TiKVs were keeping reconnecting the PD who is not leader.
It could be introduced by https://github.com/tikv/tikv/pull/12629. @Connor1996 Do you have any idea to fix this issue?

[2022-07-01 08:17] haojinming opened #12950 "raw_checksum does not encode key for apiv2"
## Bug Report

### What version of TiKV are you using?
v6.1.0 & master

### What operating system and CPU are you using?

### Steps to reproduce
1. run with client-go and run checksum cmd.
2. key is not in region error occurs.

### What did you expect?

raw checksum cmd can succeed.

### What did happened?
`raw_checksum` does not encode key for apiv2

[2022-07-01 08:18] haojinming commented on #12950
/assign @haojinming

[2022-07-01 08:18] haojinming commented on #12950
/label bug

[2022-07-01 08:19] haojinming commented on #12950
/label may-affects-6.1

[2022-07-04 06:32] 5kbpers commented on #12934
Turns out it was caused by PD RegionHeartbeat RPC returns an "OK" response, then the stream exited on TiKV side without any retrying mechanism.
![yqiirc4368](https://user-images.githubusercontent.com/20279863/177092800-6e470cc1-eee1-4606-b472-600772b39fff.jpg)
![origin_img_v2_daf0f176-a759-4003-b050-7de3dcefbb1g](https://user-images.githubusercontent.com/20279863/177092621-2b81a53a-b0eb-458a-a116-

[2022-07-04 07:25] #12937 closed

[2022-07-05 10:07] #12950 closed

[2022-07-05 18:23] tonyxuqqi opened #12961 "StorageConfigManger: support multi-rocksdb"
## Development Task
Today the StorageConfigManger only works with single rocksdb instance. The StorageConfigManger needs to support multi-rocksdb instance as well.
The idea is to add set_shared_block_cache_capacity into TabletFactory trait so that it can work for both single and multi-rocks db.

[2022-07-05 23:01] subains opened #12963 "Can't compile and run individual tests"
## Bug Report

Cannot compile and run tests in sub-packages.

### What version of TiKV are you using?

N/A

### What operating system and CPU are you using?

All

### Steps to reproduce

cargo test --package tidb_query_executors test_integration_2

### What did you expect?

Build the tidb_query_executors tests and run them.

### What  happened?

error[E0412]: cannot find type `ThreadPoolBuilder` i

[2022-07-06 05:29] Lily2025 opened #12966 "one az is isolated from other az networks, and the service is unavailable for 4 minutes"
## Bug Report

### What version of TiKV are you using?
./tikv-server -V
 TiKV
Release Version:   6.1.0
Edition:           Community
Git Commit Hash:   080d086832ae5ce2495352dccaf8df5d40f30687
Git Commit Branch: heads/refs/tags/v6.1.0
UTC Build Time:    2022-06-10 11:22:39
Rust Version:      rustc 1.60.0-nightly (1e12aef3f 2022-02-13)
Enable Features:   jemalloc mem-profiling portable sse test-engi

[2022-07-06 05:29] Lily2025 commented on #12966
/type bug
/severity major
/assign cosven

[2022-07-06 05:33] cosven commented on #12966
This issue is investigation. I'll update this issue when there is any update.

/assign @cosven

[2022-07-06 05:58] Lily2025 commented on #12807
due to the configuration of Kingsoft Cloud（thp）

[2022-07-06 05:58] #12807 closed

[2022-07-06 06:00] overvenus opened #12967 "Records CDC min resolved ts lag in metrics"
## Development Task

As title.

[2022-07-07 02:22] TonsnakeLin opened #12973 "simplify the function RaftPoller::pause"
## Development Task
The original process of function `RaftPoller::pause` has some duplicate code, remove it.

[2022-07-07 06:52] joccau commented on #12895
/type feature

[2022-07-07 06:56] joccau commented on #12895
/type migrage

[2022-07-07 10:05] tabokie opened #12977 "Global resource control for multiple RocksDB instances"
## Development Task

Follow up on #12897

Physical resources are shared between multiple instances even though logically they are independent of each other. We have to distribute these resources among them so as to not throttle the machine (some forms of global knobs are required). And this distribution must be implemented as a dynamic algorithm, because instance count changes, and RocksDB has a h

[2022-07-07 12:09] glorv commented on #12904
I think lightning can also meet this issue when the region-split-size is large. When the region size is large, w'd better generate multiple SST files. /cc @gozssky

[2022-07-08 02:43] gozssky commented on #12904
@glorv Could you explain why large sst files will cause the timeout error? It seems the timeout happened during analyze.

[2022-07-08 03:35] Lily2025 opened #12979 "In version 6.1.0, a tikv failure was restored after 13 minutes, and the raft log lag has not been able to catch up"
## Bug Report

### What version of TiKV are you using?
v6.1.0

### What operating system and CPU are you using?
8c、16g

### Steps to reproduce
test plan：oltp-3tikv-tpcc-rel.daily.yaml
3 tikv deploy
run tpcc with 512 thread
down one tikv for 13 min and recover， the raft log lag has not been able to catch up

### What did you expect?
raft log lag can catch up quickly

### What did happened?
the raft

[2022-07-08 03:36] Lily2025 commented on #12979
/type bug
/severity major
/assign tonyxuqqi

[2022-07-08 04:14] Lily2025 commented on #12979
/remove-severity major
/severity Moderate

[2022-07-09 03:04] TonsnakeLin opened #12981 "Refactor Poller::poll function"
## Development Task
There are so many duplicate lines in the function Poller::poll

[2022-07-11 05:24] Lily2025 opened #12983 "one tikv oom after inject networkloss and recover"
## Bug Report

### What version of TiKV are you using?
./tikv-server -V
 TiKV
Release Version:   6.2.0-alpha
Edition:           Community
Git Commit Hash:   07e7cd40dffcd5d7ce1c0f2693bb7ba59a3cd465
Git Commit Branch: heads/refs/tags/v6.2.0-alpha
UTC Build Time:    2022-07-06 11:02:49
Rust Version:      rustc 1.62.0-nightly (7c4b47696 2022-04-30)
Enable Features:   pprof-fp jemalloc mem-profiling p

[2022-07-11 05:25] Lily2025 commented on #12983
/type bug
/severity major
/assign Jtier-cap

[2022-07-11 05:32] Lily2025 commented on #12983
/assign tier-cap

[2022-07-11 06:21] #12895 closed

[2022-07-11 06:31] SpadeA-Tang opened #12985 "We should not use the old tablet id and suffix to get the tablet after load_tablet."
## Development Task
Currently, in `load_tablet`, we does not remove the tablet with old tablet id nad suffix in the registry.

[2022-07-11 08:46] zhaopei05 opened #12986 "Not able to configure TiKV log level online"
## Bug Report
Not able to configure TiKV log level online

### What version of TiKV are you using?
v5.4.0

### What operating system and CPU are you using?
RHEL 7.9, X86-64

### Steps to reproduce
Run sql "set config tikv `log.level`='debug';" then "show config where type='tikv' and name='log.level';"
Or run command "tiup ctl tikv --host 127.0.0.1:20160 modify-tikv-config -n log.level -v debug --i

[2022-07-11 09:00] ekexium opened #12987 "Make the capacity of in-memory pessimistic locks configurable"
## Development Task
It's now hard-coded as 512 KB. Sometimes we want more for performance.

[2022-07-11 09:08] haojinming opened #12989 "Flush causal timestamp before backup start for RawKV apiv2"
## Development Task

Flush causal timestamp before backup start for RawKV apiv2

see issue: https://github.com/tikv/migration/issues/138

[2022-07-11 09:24] fubinzh opened #12990 "[PiTR] br log status doesn't show checkpoint info for few minutes after starting a log backup task"
## Bug Report

### What version of TiKV are you using?
/ # /tikv-server -V
TiKV
Release Version:   6.1.0-alpha
Edition:           Community
Git Commit Hash:   c018653c4c2f973e6079dc6770c67f85d79c0deb
Git Commit Branch: 6.1.0-pitr-dev
UTC Build Time:    2022-06-13 03:03:45
Rust Version:      rustc 1.60.0-nightly (1e12aef3f 2022-02-13)
Enable Features:   jemalloc mem-profiling portable sse test-engi

[2022-07-11 09:25] fubinzh commented on #12990
/type bug
/severity Moderate
/feature developing

[2022-07-11 09:40] #12990 closed

[2022-07-11 11:46] shiyuhang0 opened #12994 "TiKV panic when push down min(set)"
## Bug Report

### What version of TiKV are you using?

v6.1.0

### What operating system and CPU are you using?

mac

### Steps to reproduce
1. deploy tikv with tiup playground
2. using tikv client-java to read from TiKV with TiSpark.
3. select min(set) with the DAGRequest is as follows:
[code]

then tikv down：
<img width="1427" alt="image" src="https://user-images.githubusercontent.com/52435083/

[2022-07-11 12:31] MyonKeminta opened #12996 "Avoid printing error log in case sending SignificantMsg::CaptureChange message failed"
## Development Task

The `SignificantMsg::CaptureChange` message is used by CDC and resolved_ts modules. Sometimes it may be sent to stale region due to region change, which may produce an error log. It's not a severe problem, however the error log may make users confused. It would be better if we print a warning log instead of error.

[2022-07-11 12:58] mayjiang0203 opened #12997 "RedHat 8.5: Tikv oom repeatedly after deploy cluster via tiup"
## Bug Report

### What version of TiKV are you using?

sh-4.4# /tiup/deploy/tikv-20160/bin/tikv-server -V
TiKV
Release Version:   6.1.0
Edition:           Community
Git Commit Hash:   080d086832ae5ce2495352dccaf8df5d40f30687
Git Commit Branch: heads/refs/tags/v6.1.0
UTC Build Time:    2022-06-10 11:22:39
Rust Version:      rustc 1.60.0-nightly (1e12aef3f 2022-02-13)
Enable Features:   jemalloc me

[2022-07-11 12:59] mayjiang0203 commented on #12997
plan/873252
plan/873251

[2022-07-11 12:59] mayjiang0203 commented on #12997
/type bug
/assign @tier-cap

[2022-07-11 13:34] ystaticy opened #12998 "[WIP]Support KeySpace"
## Feature Request

### Is your feature request related to a problem? Please describe:

When we want to store data of different scenarios through the same key in a TiKV cluster, We define different scenarios as different ```KeySpace```.
We should separate the data and some necessary resources under different keyspaces.

### Describe the feature you'd like:

Supports store data of the same key in d

[2022-07-11 13:57] ystaticy opened #12999 "[WIP]KeySpace Implement"
## Development Task
Issue number: https://github.com/tikv/tikv/issues/12998

Sub Tasks
- [ ] PD Support keyspace management interface
- [ ] PD separated safepoint path by KeySpace

[2022-07-12 04:00] Smityz opened #13001 "tikv-server store id is invalid"
## Bug Report

### What version of TiKV are you using?

v5.3.0

### What operating system and CPU are you using?

centos7 / Intel CPU

### What did happened?
tikv server(x.x.84.132:20110) report store ID 1035, not found
[code]
But pd shows its store ID should be 1989
[code]

Then I check pd info, find it still have a heartbeat
[code]

[2022-07-12 04:02] MyonKeminta opened #13002 "Do not print log in error level for "region not exist but not tombstone""
## Development Task

Sometimes when add-peer runs slowly occasionally after a region split, a message from leader may arrive before finishing adding peer. In this case, an error complaining about "region not exist but not tombstone" will be produced:

https://github.com/tikv/tikv/blob/5c941586f5163ca9dbb82a0d14e7f02b09732181/components/raftstore/src/store/fsm/store.rs#L1743-L1747

And then it will

[2022-07-12 04:06] glorv commented on #12986
@zhaopei05 Thanks for the reporting. This is not a bug as we do not support dynamically change config `log.*` currently. You can submit a **Feature Request** and we may support it later. You can refer to [Modify TiKV configuration online](https://docs.pingcap.com/tidb/stable/dynamic-config#modify-tikv-configuration-online) to see all the configs that are supported to change via sql currently.

[2022-07-12 06:20] zhaopei05 commented on #12986
Thanks @glorv for the comments.

[2022-07-12 06:25] #12890 closed

[2022-07-12 06:32] tonyxuqqi commented on #12618
/assign LintianShi

[2022-07-12 06:39] tonyxuqqi commented on #10595
/assign lintianshi

[2022-07-12 06:48] tonyxuqqi commented on #10762
/close

[2022-07-12 06:48] #10762 closed

[2022-07-12 07:03] King-Dylan commented on #12768
Can i try to fix it？

[2022-07-12 07:47] cosven commented on #12768
/assign @King-Dylan

[2022-07-12 10:55] #12869 closed

[2022-07-12 10:57] 3pointer commented on #12896
close it due to the we can manually set backup.num-threads to reduce the influence of backup

[2022-07-12 10:57] #12896 closed

[2022-07-12 10:59] 3pointer commented on #12580
close it due to https://github.com/tikv/tikv/pull/12584 merged

[2022-07-12 10:59] #12580 closed

[2022-07-12 11:00] #12802 closed

[2022-07-12 11:01] #12916 closed

[2022-07-12 11:05] 3pointer commented on #12782
fixed in https://github.com/pingcap/tidb/pull/35685

[2022-07-12 11:05] #12782 closed

[2022-07-12 11:26] joccau commented on #12579
fix by https://github.com/joccau/tikv/pull/13

[2022-07-12 11:28] #12579 closed

[2022-07-12 11:34] joccau commented on #12579
/close

[2022-07-12 11:35] joccau commented on #12902
/remove-label may-affects-4.0
/remove-label may-affects-5.0
/remove-label may-affects-5.1
/remove-label may-affects-5.2
/remove-label may-affects-5.3
/remove-label may-affects-5.4
/remove-label may-affects-6.0

[2022-07-12 12:20] 3pointer commented on #12902
If it's the error from external storage and can not recover. I think log backup expect to fail.

[2022-07-12 13:47] zhaopei05 commented on #12986
@glorv BTW, is there particular reason why TiKV doesn't support dynamic log level change? This is supposed to be a very helpful function when we want to grab more debug info w/o interrupting what's already happening by restarting the process.

[2022-07-12 17:50] tonyxuqqi commented on #11994
/close

[2022-07-12 18:11] tonyxuqqi commented on #10683
/assign cosven

[2022-07-12 18:12] tonyxuqqi commented on #12535
/close

[2022-07-12 18:12] #12535 closed

[2022-07-13 00:43] zhangjinpeng1987 commented on #13001
@Smityz How many tikv instances you have?

[2022-07-13 00:46] zhangjinpeng1987 commented on #12997
@mayjiang0203 Is the transparent huge pages turned on?

[2022-07-13 02:35] glorv commented on #12986
I briefly looked into the code yesterday. Currently, `log.level` controls the log level both for tikv log and rocksdb log. It's not hard to let tikv log support dynamic change. But the log level in rocksdb can't be changed after initialized currently.   @tabokie Do you know if it is possible to let rocksdb also support change log level dynamically?

[2022-07-13 02:44] tabokie commented on #12986
@glorv RocksDB log level is always set to info even if TiKV is not. No need to consider it here.

[2022-07-13 04:04] joccau commented on #12902
/remove-label may-affects-6.1

[2022-07-13 04:07] Lily2025 opened #13007 "tikv restart failed（upgrade new image and CrashLoopBackOff）"
## Bug Report

### What version of TiKV are you using?
v6.2.0 master

### What operating system and CPU are you using?
8core 、16G

### Steps to reproduce

### What did you expect?
tikv can upgrade success

### What did happened?
{"pod":"tc-tikv-0","log":"[[lib.rs:494](http://lib.rs:494/)] [\"failed to load_latest_options \\\"Invalid argument: Could not find option: : enable_pipelined_commit\\\"\"]

[2022-07-13 04:26] glorv commented on #12986
@zhaopei05  Though we do not change tikv's log trough sql, you can set it through http. e.g.:
[code]
This can change the log level of a single tikv-server. Hope this can make your debug easier.

BTW, I think it will still be convenient to support change the log level via SQL, maybe we can support it in the next version.

[2022-07-13 04:55] tabokie opened #13008 "flaky test `test_check_data_dir`"
## Bug Report

Details TBD.

[2022-07-13 05:10] Lily2025 commented on #13007
/type bug
/severity Critical
/assign ethercflow

[2022-07-13 05:12] Lily2025 commented on #13007
/remove-label may-affects-4.0
/remove-label may-affects-5.0
/remove-label may-affects-5.1
/remove-label may-affects-5.2
/remove-label may-affects-5.3
/remove-label may-affects-5.4
/remove-label may-affects-6.0
/remove-label may-affects-6.1
/label affects-6.2

[2022-07-13 06:10] CalvinNeo opened #13011 "server: raise error when bootstrap with a zero store-id"
## Development Task

We found that [pd can return 0 when alloc id](https://github.com/tikv/pd/blob/813c88199d8eb531f9ae303ced095ff12e793337/server/id/id.go#L65), usually because of a failure to update base.

A zero store-id is weird, I think we should at least return a error rather than debug here.

[2022-07-13 06:19] #12939 closed

[2022-07-13 07:51] zhaopei05 commented on #12986
@glorv appreciate your patience. The curl command is help indeed.

[2022-07-13 07:52] JmPotato commented on #12994
@HuSharp Would you like to take a look at this issue and fix it?

[2022-07-13 08:15] HuSharp commented on #12994
/assign

[2022-07-13 08:39] Smityz commented on #13001
2000 instance+

[2022-07-13 08:42] Smityz commented on #13001
2000+

After I restart one tikv instance, the error msg disapper, but others still have this error

[2022-07-13 09:01] #12985 closed

[2022-07-13 11:01] #12902 closed

[2022-07-13 11:21] #12989 closed

[2022-07-14 01:32] Willendless commented on #12932
/assign

[2022-07-14 02:04] JmPotato commented on #13001
Hi, after reading the code, the "invalid store ID" error is most likely from calling the PD's GetStore. Considering the large TiKV instance number, it may be caused by a backlog of some kinds of obsolete tasks. "1035 not found" may not be returned by query `84.132`, so would you like to provide more contextual logs to see exactly what went wrong?

[2022-07-14 02:36] tonyxuqqi commented on #13001
@Smityz
I’m wondering if it’s possible to send us the metrics information which will give us better context on what happened. The metrics also has the history information of store Id

[2022-07-14 02:42] Smityz commented on #13001
What metrics are you looking at?

[2022-07-14 02:50] tonyxuqqi commented on #13001
I think we can start with the PD’s metrics for the time duration about one hour when this issue happened.

[2022-07-14 02:51] Smityz commented on #13001
Tikv server continue printing these logs
[code]
It seems like it never stops reconnecting the non-existing store.

[2022-07-14 03:03] Smityz commented on #13001
It's too large to identify, you can give some specific metrics to check.

[code]

pd-server continues printing these logs

[2022-07-14 03:05] BornChanger commented on #13001
@Smityz was your large tikv cluster running well previously? or it's just established.

[2022-07-14 03:06] tonyxuqqi commented on #13001
You may use clinic to upload PD metrics. Thanks.

[2022-07-14 03:17] tonyxuqqi commented on #13001
For how to use clinic for troubleshooting, please refer
https://docs.pingcap.com/tidb/dev/clinic-user-guide-for-tiup
@Smityz

[2022-07-14 03:21] Smityz commented on #13001
It has run well in the past 1 month and undertaken about 600k put throughput.
Our HDD disk quality is not well, so crashes are always happening

[2022-07-14 03:21] Smityz commented on #13001
It has run well in the past 1 month and undertaken about 600k put throughput.
Our HDD disk quality is not well, so crashes are always happening

[2022-07-14 03:31] JmPotato commented on #13001
The reconnection is more likely the result of a request failure.

<img width="991" alt="image" src="https://user-images.githubusercontent.com/1446531/178891823-04c94a35-d7c3-45fa-bbd1-14c651a6dc54.png">

Currently, we need to figure out what kind of task triggers the `invalid store ID 570` error. As mentioned above, clinic info would be very helpful, which could provide us with more detailed metri

[2022-07-14 03:54] Smityz commented on #13001
Thanks for your suggestion~
I believe Clinic is a wonderful tool to help people diagnose TiKV problems, but for some reason, we can't upload this data.

[2022-07-14 04:21] River2000i opened #13015 "after upgrade tikv restart failed (option not match)"
## Bug Report

### What version of TiKV are you using?

[code]
### What operating system and CPU are you using?

8core 、16G

### Steps to reproduce

### What did you expect?

tikv can upgrade success

### What did happened?

{"namespace":"endless-htap-upgrade-tps-874099-1-247","level":"FATAL","log":"[lib.rs:494] [\"failed to load_latest_options \\\"Invalid argument: Could not find option: : enable

[2022-07-14 05:27] Smityz commented on #13001
These logs appear after the scale-in operation, let's try to see if we can reproduce this problem.
Maybe we should print all stacks when meeting this error

[2022-07-14 05:36] JmPotato commented on #13001
How exactly does the "scale-in operation" work? Is there any forced scale-in operation with putting the store into Tombstone from PD?

* If the scale-in operation is correct, the current guess is that some tasks that need to get the store info from PD become outdated due to a huge backlog.
* If the scale-in operation is not correct, it will cause the region meta info to be not consistent with the

[2022-07-14 07:37] haojinming opened #13020 "Should not fill cache when backup rawkv"
## Bug Report

### What version of TiKV are you using?
v6.1.0 & master

### What operating system and CPU are you using?

### Steps to reproduce
1. run backup raw command
2. rocksdb block cache has much add operations.

### What did you expect?

backup should not fill block cache as it may evict cached data of user read.

### What did happened?

[2022-07-14 07:38] iosmanthus opened #13021 "API v2 range check will fail in reverse scan"
This check might fail in `scan` or `raw_scan` while the reverse flag is set since with reverse scan, the end key is less than the start key (swapped position).

https://github.com/tikv/tikv/blob/62545b0c5c854b4e42bf37d03dddfab2099ce20c/components/api_version/src/api_v2.rs#L58-L71

For example, if the client with maximum keyspace id: `0xff_ff_ff` tries to `scan("key", "")` reversely, it should enco

[2022-07-14 07:38] iosmanthus commented on #13021
/cc @pingyu

[2022-07-14 10:25] #13020 closed

[2022-07-14 11:09] you06 opened #13026 "in-mem pessimistic lock does not record the scheduled key count"
## Bug Report

### What version of TiKV are you using?

`nightly-20220714(5b8deaaf81c350a3ad44f842b04e9e107fbab3c0)`

### What operating system and CPU are you using?

CentOS 7 with Intel(R) Xeon(R) CPU E5-2630 v4 @ 2.20GHz

### Steps to reproduce

Run a workload with pessimistic locks.

### What did you expect?

[code]

### What did happened?

[code]

[2022-07-14 11:55] #12898 closed

[2022-07-14 12:27] #13007 closed

[2022-07-14 22:00] subains opened #13027 "Track memory usage of query executors"
## Development Task
Track the memory usage of Coprocessor executors.  Add a new metric that tracks query executor memory usage, which can be exported to Prometheus and used by Grafana.

1. The query executors tracked are:

    pub label_enum MemTrace {
         aggr_fast_hash,
         aggr_slow_hash,
         aggr_stream,
         aggr_simple,
         top_n,
         index_scan,
         table_s

[2022-07-15 03:29] mayjiang0203 commented on #12997
@zhangjinpeng1987
No, TPH is not turned on.
sh-4.4# cat /sys/kernel/mm/transparent_hugepage/enabled
always madvise [never]

There is something wrong in cgroup.
sh-4.4# cat /sys/fs/cgroup/memory/memory.limit_in_bytes
9223372036854771712

tier-cap is working on it.

[2022-07-15 03:32] zhangjinpeng1987 commented on #12997
@tier-cap can you update the root cause here if you have found it?

[2022-07-15 06:58] you06 commented on #13026
There is an in-mem pessimistic lock counter `tikv_in_memory_pessimistic_locking`, close this issue.

[2022-07-15 06:58] #13026 closed

[2022-07-15 07:34] River2000i commented on #13015
/type bug
/severity Critical

[2022-07-15 07:35] River2000i commented on #13015
/remove-label may-affects-4.0
/remove-label may-affects-5.0
/remove-label may-affects-5.1
/remove-label may-affects-5.2
/remove-label may-affects-5.3
/remove-label may-affects-5.4
/remove-label may-affects-6.0
/remove-label may-affects-6.1
/label affects-5.2
/label affects-5.3
/label affects-5.4

[2022-07-15 08:43] fubinzh opened #13030 "BR log backup checkpoint lag > 10 min sometimes"
## Bug Report

### What version of TiKV are you using?
/ # /tikv-server -V
TiKV
Release Version:   6.2.0-alpha
Edition:           Community
Git Commit Hash:   23588581613251bdec283764a604197dd00ca377
Git Commit Branch: heads/refs/tags/v6.2.0-alpha
UTC Build Time:    2022-07-14 11:03:14

### What operating system and CPU are you using?
K8s

### Steps to reproduce
1. Start K8S cluster PD/TiDB: 4U 8G

[2022-07-15 08:44] fubinzh commented on #13030
/type bug
/severity Critical
/feature developing

[2022-07-15 08:51] BornChanger commented on #12997
@tier-cap has ruled out of tikv's own issue, and he confirmed that the problem turned out to be caused by systemd mechanism difference of red hat 8.5 and centos 4.x.

[2022-07-15 09:02] mayjiang0203 commented on #12997
Close it since it is not debug of tikv, it will resolved by fix systemd bug in base image.

[2022-07-15 09:02] #12997 closed

[2022-07-16 12:46] LintianShi commented on #12618
The root cause of this bug is that both apply state and raft state are updated during snapshot applying. However, apply state and raft state are seperately persisted in kvdb and raftdb. So we cannot write apply state and raft state atomically. If the instance crashes during snapshot applying, raft state may not be persisted successfully while apply state is persisted. When the instance recovers fr

[2022-07-16 22:57] BusyJay commented on #12618
How about checking `commit` field instead?

[2022-07-17 02:50] LintianShi commented on #12618
I find weird that `commit` field in RaftLocalState.hard_state is not updated in `fn apply_snapshot`. Is it expected?

[2022-07-17 08:32] Yriuns opened #13032 "Why we need need to set `start_ts` **plus one** as `min_ commit_ts` when using async commit?"
## Question

Recently I'm studying your work on async commit and got a lot of inspiration.

But I'm confused  about the `+ 1` operation about `start_ts` when determin the `min_commit_ts`.
[code]
What if we use `commit_ts = min_commit_ts = start_ts` to commit? (auto commit transaction & `max_ts < start_ts`)

[2022-07-17 11:06] fubinzh opened #13034 "BR restore point fails due to "“failed to restore meta files: checksum mismatch" after injecting network partition bw s3 and tikv for 1 hour"
## Bug Report

### What version of TiKV are you using?
/ # /tikv-server -V
TiKV
Release Version:   6.2.0-alpha
Edition:           Community
Git Commit Hash:   5ae20e21af29e6f5c63abbd4db8a481dc04539b6
Git Commit Branch: master
UTC Build Time:    2022-07-15 09:40:20
Rust Version:      rustc 1.62.0-nightly (7c4b47696 2022-04-30)

### What operating system and CPU are you using?
K8S

### Steps to repr

[2022-07-17 11:06] fubinzh commented on #13034
/type bug
/severity Critical
/feature developing

[2022-07-17 13:37] BusyJay commented on #12618
It should be updated in the end. You can verify it with a test case.

[2022-07-18 02:51] #12996 closed

[2022-07-18 02:59] ekexium opened #13036 "Precision of some histogram metrics is too low"
## Development Task
The smallest bucket sizes of many histogram metrics are 500us, which is too large and much information cannot be identified.

[2022-07-18 03:11] Lily2025 opened #13038 "tikv cannot start when open titan"
## Bug Report

### What version of TiKV are you using?
./tikv-server -V
 TiKV
Release Version:   6.2.0-alpha
Edition:           Community
Git Commit Hash:   23588581613251bdec283764a604197dd00ca377
Git Commit Branch: heads/refs/tags/v6.2.0-alpha
UTC Build Time:    2022-07-14 11:03:14
Rust Version:      rustc 1.62.0-nightly (7c4b47696 2022-04-30)
Enable Features:   pprof-fp jemalloc mem-profiling p

[2022-07-18 03:12] Lily2025 commented on #13038
/type bug
/severity Critical
/assign ethercflow

[2022-07-18 03:15] ethercflow commented on #13038
Fixed in https://github.com/tikv/titan/pull/255

[2022-07-18 05:30] jiayang-zheng opened #13041 "Encryption: Support SM4 encryption"
## Development Task
Supporting SM4 encryption is a requirement from business and customers. For banking, telecommunications, and insurance customers in the domestic market, the national secret algorithm is a necessary basic security capability in the distributed database system.

TiKV has already supported encryption at rest, including AES128/AES192/AES256.

We need to add SM4 encryption algorithm

[2022-07-18 06:27] #13041 closed

[2022-07-18 07:26] Lily2025 opened #13042 "tikv oom when tikv instance has a large number of regions such as 30w+"
## Bug Report

### What version of TiKV are you using?
it doesn't matter

### What operating system and CPU are you using?
5 sets of 7.2*9 disks + 256GB + 96C machines, each machine has 9 instances, the cluster capacity is 153TB, the number of regions is 372w, and each instance has nearly 10w regions

### Steps to reproduce
The memory usage of tikv instance is too high, triggering oom, memory exha

[2022-07-18 07:27] Lily2025 commented on #13042
/type bug
/severity major
/assign tier-cap

[2022-07-18 07:46] tier-cap commented on #13042
There are three main memory cost:
1. The memory for each Peer both in Store and Apply.
2. The memory for each Channel in Store.
3. The memory for each Channel in Apply.

[2022-07-18 08:07] LintianShi commented on #12618
Yes, `commit` is updated out of `fn apply_snapshot`. It is updated in `fn handle_raft_ready`.

[2022-07-18 09:05] fubinzh opened #13044 "Br log backup checkpoint lag doesn't move foward"
## Bug Report

### What version of TiKV are you using?
/ # /tikv-server -V
TiKV
Release Version:   6.2.0-alpha
Edition:           Community
Git Commit Hash:   23588581613251bdec283764a604197dd00ca377
Git Commit Branch: heads/refs/tags/v6.2.0-alpha
UTC Build Time:    2022-07-14 11:03:14

### What operating system and CPU are you using?
Cent OS

### Steps to reproduce
1. Run log backups

### What di

[2022-07-18 09:05] fubinzh commented on #13044
/type bug
/severity Major
/feature developing

[2022-07-18 09:25] guo-shaoge opened #13045 "Confusing behavior in the UPDATE statement"
## Bug Report

This is an issue from TiDB: https://github.com/pingcap/tidb/issues/31708.
### What version of TiKV are you using?

v6.2.0
### What operating system and CPU are you using?

### Steps to reproduce

[code]
### What did you expect?
The column c0 should not be updated, as the result of 0^('0.5') is 0.
### What did happened?
[code]

[2022-07-18 09:33] guo-shaoge commented on #13045
/label affects-6.1 affects-6.0 affects-5.4 affects-5.3 affects-5.2 affects-5.1 affects-5.0

[2022-07-18 09:35] guo-shaoge commented on #13045
/label affects-6.1

[2022-07-18 09:37] guo-shaoge commented on #13045
/label affects-6.0
/label affects-5.4
/label affects-5.3
/label affects-5.2
/label affects-5.1
/label affects-5.0

[2022-07-18 10:50] zhongzc commented on #12867
https://github.com/pingcap/tiup/issues/1988#issuecomment-1187044956

@mayjiang0203 the latest tiup-cluster has fixed this issue. Update tiup-cluster via `tiup update cluster` and retry to see if resolved or not.

[2022-07-18 10:50] #12867 closed

[2022-07-18 12:58] tobiemh opened #13049 "Container fails to start when running the simple TiKV getting started guide"
## Bug Report

### What version of TiKV are you using?
6.1

### What operating system and CPU are you using?
Apple M1 with macOS 12.4

### Steps to reproduce
Followed the example here: https://tikv.org/docs/3.0/tasks/try/docker-stack/

<details>
  <summary>The error is also visible when starting TiKV with the following Docker commands...</summary>

[code]

</details>

### What did you expect?
Expe

[2022-07-18 13:18] tobiemh commented on #13049
Ah actually - if I specify the full version of the docker image (`pingcap/pd:v6.1.0`) and (`pingcap/tikv:v6.1.0`) then the error does not occur.

I presume therefore this error is because the `pingcap/tikv:latest` does not have a `linux/arm64` platform build for Apple Silicon CPUs.

[2022-07-18 13:31] #13034 closed

[2022-07-18 15:15] #13049 closed

[2022-07-18 15:16] SpadeA-Tang opened #13050 "Support tablet level snapshot acquisition."
We should provide tablet level snapshot acquisition in multi-rocksdb version,

[2022-07-18 15:51] SpadeA-Tang commented on #13050
/type enhancement

[2022-07-18 17:57] tonyxuqqi commented on #12729
@hicqu would you please move #10545 forward?

[2022-07-19 01:55] dbsid commented on #12729
/severity major

[2022-07-19 01:58] Lily2025 commented on #12729
/remove-severity critical

[2022-07-19 01:58] shaoxiqian commented on #12729
/remove-severity critical

[2022-07-19 02:46] guo-shaoge commented on #13045
/lable severity/major

[2022-07-19 02:46] guo-shaoge commented on #13045
/label severity/major

[2022-07-19 03:05] #13036 closed

[2022-07-19 03:23] fubinzh commented on #12582
This issue is seen again during 6.2 release testing, after patch TiKV. Refer to  https://github.com/pingcap/tidb/issues/36298

[2022-07-19 03:30] 3pointer commented on #12918
After implement new checkpoint model this issue will be fixed. https://github.com/pingcap/tidb/issues/35164

[2022-07-19 03:30] #12918 closed

[2022-07-19 03:32] 3pointer commented on #12885
https://github.com/tikv/tikv/pull/13018 will partition files by date/store

[2022-07-19 03:32] #12885 closed

[2022-07-19 03:34] 3pointer commented on #12514
After we implement new checkpoint model. this issue has been fixed. https://github.com/pingcap/tidb/issues/35164

[2022-07-19 03:34] #12514 closed

[2022-07-19 03:37] 3pointer commented on #12854
after new checkpoint model implemented(https://github.com/pingcap/tidb/issues/35164), we need re-consider this kind of issue. close it

[2022-07-19 03:37] #12854 closed

[2022-07-19 04:23] #13044 closed

[2022-07-19 07:23] 5kbpers opened #13054 "Raftstore may broadcast too many messages after one peer store become unreachable"
## Bug Report

After one store disconnected, StoreFsm would broadcast a `StoreUnreachable` message to all regions to mark unreachable peers. https://github.com/tikv/tikv/blob/0dff1be50281c72c55c5464751cd733032115ce4/components/raftstore/src/store/fsm/store.rs#L378

But if TiKV has too many regions, handling these `StoreUnreachable` messages could eat raftstore CPU and block all other messages, mak

[2022-07-19 07:23] 5kbpers commented on #13054
cc @BusyJay

[2022-07-19 07:33] sticnarf opened #13055 "ThreadTime is collected accidentally even if QuotaLimiter auto-tune is disabled"
## Bug Report

### What version of TiKV are you using?

Latest nightly, after https://github.com/tikv/tikv/pull/12679

### Steps to reproduce

Launch TiKV, with default config (auto-tune is off).

### What did you expect?

Thread cpu time should not be collect in critical paths (e.g. `Storage::get` and `Scheduler::process_write`) when we don't set any cpu limit and turn off auto-tune.

### What di

[2022-07-19 08:10] SpadeA-Tang opened #13057 "test_stale_read_while_applying_snapshot always fails in local environment"
## Bug Report

In my local environment (ubuntu 22 and mac os), test_stale_read_while_applying_snapshot always fails after https://github.com/tikv/tikv/pull/12533. It can pass before this PR.

Fail message:
[code]

[2022-07-19 08:11] Lily2025 commented on #13015
/assign ethercflow

[2022-07-19 08:14] SpadeA-Tang commented on #13057
@tabokie

[2022-07-19 08:18] 5kbpers commented on #13054
In about 800k regions, raftstore could eat up to 800% CPU usage.

[2022-07-19 08:26] SpadeA-Tang commented on #13057
@NingLin-P

[2022-07-19 08:30] tabokie commented on #13057
@5kbpers Mind take a look?

[2022-07-19 08:30] tabokie commented on #13057
/assign @5kbpers

[2022-07-19 08:32] BusyJay commented on #13054
How many cores? And why setting 30 threads for store pool? Most of resources may probably waste in context switch during broadcast.

[2022-07-19 12:19] ethercflow commented on #13015
same as https://github.com/tikv/tikv/issues/13007

[2022-07-19 12:19] #13015 closed

[2022-07-19 12:25] BusyJay opened #13058 "Use tirocks"
## Development Task

[tirocks](https://github.com/busyjay/tirocks) is the new rocksdb wrapper, it provides more rusty and concise abstractions compared to existing tikv/rust-rocksdb.

Now the development of tirocks is about to finish, we can start migrate tikv to use tirocks.

[2022-07-20 02:04] tonyxuqqi commented on #13038
/close

[2022-07-20 02:04] #13038 closed

[2022-07-20 02:06] 3pointer commented on #13030
checkpoint lag sometimes > 10min is not critical. mark it minor.

[2022-07-20 02:50] bufferflies commented on #12934
In the faulted cluster, I use tcpdump to capture the net direction of the faulted tikv：
faulted tikv ->  old pd: none
faulted tikv -> new pd: normal

so I think the potential problem is notthe response of  the RegionHeartbeat RPC.

[2022-07-20 03:31] Connor1996 opened #13060 "Enhance fetch raft log policy to aviod QPS spike"
## Development Task

When there is a restart or raft entry cache is dropped for some reason, TiKV may suffer from QPS spike because the raft entry needs to fetch from disk which slows down the duration of replicating raft log and commit log. After enabling raft engine by default, it's worse since raft engine's read performance is not as good as rocksdb.

To alleviate these kinds of issues, here ar

[2022-07-20 03:51] joccau opened #13062 "log-backup: PiTR restore failed due to restored_ts > log backup range"
Dup https://github.com/pingcap/tidb/issues/36246

[2022-07-20 03:51] joccau commented on #13062
/assign
/feature developing

[2022-07-20 03:52] joccau commented on #13062
/component migrate

[2022-07-20 04:01] joccau commented on #13062
/severity Critical

[2022-07-20 04:01] joccau commented on #13062
/sig migrate

[2022-07-20 04:01] joccau commented on #13062
/severity Moderate

[2022-07-20 04:02] joccau commented on #13062
/type bug

[2022-07-20 04:54] MoCuishle28 opened #13063 "br: failed to backup to s3 due to the limit of request rate."
Dup: pingcap/tidb#30087

[2022-07-20 04:55] MoCuishle28 commented on #13063
/type bug

[2022-07-20 04:57] MoCuishle28 commented on #13063
/assign MoCuishle28

[2022-07-20 05:03] #13063 closed

[2022-07-20 05:13] joccau commented on #12582
/close

[2022-07-20 06:11] 5kbpers commented on #13054
At least 40 cores for one TiKV as I remember, actually we tried to scale it to 4 and 8, but raftstore threads CPU still be eaten up, then finally set it to 30

[2022-07-20 06:29] #12961 closed

[2022-07-20 07:51] fubinzh opened #13068 "br log backup initial scan downgrade cluster performance"
## Bug Report

### What version of TiKV are you using?
03:24:19 root@172 patch-20220719 → ./tikv-server -V
TiKV
Release Version:   6.2.0-alpha
Edition:           Community
Git Commit Hash:   0dff1be50281c72c55c5464751cd733032115ce4
Git Commit Branch: master
UTC Build Time:    2022-07-19 11:52:27

### What operating system and CPU are you using?
Cent OS, 8C 64G

### Steps to reproduce
1. Change gc

[2022-07-20 07:51] fubinzh commented on #13068
/type bug
/severity Major
/feature developing

[2022-07-20 08:41] #13045 closed

[2022-07-20 09:48] sticnarf commented on #12888
As https://github.com/tikv/tikv/pull/13051 is merged, TiKV should compile with GCC 12 now.

[2022-07-20 09:48] #12888 closed

[2022-07-20 09:53] Lily2025 opened #13077 "v6.1.0: After network isolation is recovered, QPS drops more than 50% due to high commit log duration"
## Bug Report

### What version of TiKV are you using?
v6.1.0 GA

### What operating system and CPU are you using?
8core\16G
4 tikvs

### Steps to reproduce
run tpcc
Inject a tikv disconnection and recover it after 50 minutes

### What did you expect?
QPS can not drop too much

### What did happened?
more details see https://internal.pingcap.net/jira/projects/INCALL/issues/INCALL-106
https://clini

[2022-07-20 09:56] Lily2025 commented on #13077
/type bug
/severity major
/assign Connor1996

[2022-07-20 10:13] #13062 closed

[2022-07-20 18:25] ngaut commented on #12920
Sounds cool. Please feel free to file an PR.

[2022-07-21 03:09] #12932 closed

[2022-07-21 03:43] jiayang-zheng opened #13081 "v6.2.0-alpha: change "data-encryption-method" from "aes192-ctr" to "plaintext" got failed"
## Bug Report

### What version of TiKV are you using?

Release Version:   6.2.0-alpha
Edition:           Community

### What operating system and CPU are you using?

X86_64

### Steps to reproduce

1. set data-encryption-method = "aes192-ctr" and start tidb cluster using tiup;
2. write some IO using sysbench;
3. set data-encryption-method = "plaintext" then restart tikv node;
4. write IO using sy

[2022-07-21 04:04] iosmanthus commented on #12920
For the RawKV with TTL feature, which we have already supported, please check: https://github.com/tikv/client-go/blob/e38d2b07de3f2f86427696cc61a9c29bc73e3ba6/rawkv/rawkv.go#L300

[2022-07-21 06:17] #13068 closed

[2022-07-21 06:50] Tristan1900 opened #13082 "Query for TTL linearizability"
## Question

Hi there,

I'm wondering if you can elaborate more on the TTL implementation? I noticed in the design doc https://github.com/tikv/tikv/issues/9612 it says and I quote `It provides linearizability within the clock gap among different TiKV nodes. Namely, once the key-value is invalid on the leader, it can't be read out from the followers or the new leader.` I have read the code and most

[2022-07-21 08:02] BornChanger opened #13084 "Avoid mutual contamination of cpu limitation of foreground and background cpu quota"
## Bug Report

### What version of TiKV are you using?

master
### What operating system and CPU are you using?

any
### Steps to reproduce

The repro is quite simple:
Enable cpu quota limit for foreground requests, background requests like auto analyze will spend the overhead to collection cpu time usage and vice verse. Which is improper and brings overhead.
### What did you expect?
No such conta

[2022-07-21 08:03] #13055 closed

[2022-07-21 08:18] glorv opened #13086 "metrics: the unified read pool cpu usage chart in tikv-details usage is always empty"
## Bug Report

### What version of TiKV are you using?

nightly

### What operating system and CPU are you using?

### Steps to reproduce

### What did you expect?

### What did happened?
<img width="598" alt="image" src="https://user-images.githubusercontent.com/5196885/180165406-627efa27-ec9b-4975-96af-a4cf4f5710cf.png">

[2022-07-21 08:26] BornChanger commented on #13084
Here is the related issue where the cpu sampling overhead is not ignorable. https://github.com/tikv/tikv/issues/13055

[2022-07-21 08:28] LintianShi commented on #12618
As the `commit` of raft state always increases monotonically, we can use `commit` to check snapshot raft state in kvdb with raft state in raftdb.
In `save_snapshot_raft_state_to`, the commit of snapshot_raft_state is set to snapshot_index (snapshot_index is the applied index of the leader). Since the peer rejects snapshot whose snapshot_index is smaller than commit of its raft state, we ensure tha

[2022-07-21 08:28] LintianShi commented on #12618
PR: https://github.com/tikv/tikv/pull/13088

[2022-07-21 08:43] #13077 closed

[2022-07-21 09:57] mayjiang0203 opened #13090 "Redhat 8.4: tikv restart by systemd after set memory-usage-limit less than vm message"
## Bug Report

### What version of TiKV are you using?

sh-4.4# /tiup/deploy/tikv-20160/bin/tikv-server -V
TiKV
Release Version:   6.1.0
Edition:           Community
Git Commit Hash:   080d086832ae5ce2495352dccaf8df5d40f30687
Git Commit Branch: heads/refs/tags/v6.1.0
UTC Build Time:    2022-06-10 11:22:39
Rust Version:      rustc 1.60.0-nightly (1e12aef3f 2022-02-13)
Enable Features:   jemalloc me

[2022-07-21 09:58] mayjiang0203 commented on #13090
/type bug
/severity major
/assign @tier-cap

[2022-07-21 11:55] #13084 closed

[2022-07-21 14:51] bufferflies commented on #12934
I think the potential problem is this code:
https://github.com/tikv/tikv/blob/dc7c48d1731e079ae0949694f88858554982136e/components/pd_client/src/client.rs#L644-L647.

TIKV will not trigger the event that will reconnect pd  client even if the pd respinse is  the grpc errors.

 one case is that:
Build Link: https://ci.pingcap.net/blue/organizations/jenkins/tiflash_regression_test_daily/detail/tiflash

[2022-07-21 15:17] dbsid opened #13095 "commit b558d0 causing 7%~14% performance degradation for sysbench oltp_update_index workload"
## Bug Report

### What version of TiKV are you using?

### What operating system and CPU are you using?

### Steps to reproduce

compare sysbench oltp_update_index workload with https://github.com/tikv/tikv/commit/b558d0bffc554c4c0094a483c65d95a50a4141cf
 and https://github.com/tikv/tikv/commit/126da29086da78bad3171975d4269ba283d133bd

### What did you expect?
no performance degradation

### What

[2022-07-21 15:19] dbsid commented on #13095
/severity critical

[2022-07-21 23:43] dbsid commented on #13095
/assign tabokie

[2022-07-22 05:03] Lily2025 opened #13096 "upgrade to master（v6.2.0），the metrics of unified read pool cpu does not display properly"
## Bug Report

### What version of TiKV are you using?
TiKV Control (tikv-ctl)
Release Version:   6.2.0-alpha
Edition:           Community
Git Commit Hash:   0dff1be50281c72c55c5464751cd733032115ce4
Git Commit Branch: heads/refs/tags/v6.2.0-alpha
UTC Build Time:    2022-07-19 11:03:30
Rust Version:      rustc 1.62.0-nightly (7c4b47696 2022-04-30)
Enable Features:   pprof-fp jemalloc mem-profiling

[2022-07-22 05:04] Lily2025 commented on #13096
/type bug
/severity Moderate
/assign GanZiheng

[2022-07-22 05:41] #13086 closed

[2022-07-22 07:19] WangLe1321 opened #13106 "log backup failed when use GCS as external storage"
## Bug Report

### What version of TiKV are you using?

master

### What operating system and CPU are you using?

linux

### Steps to reproduce

start log backup with GCS storage

### What did you expect?

log backup task status is normal

### What did happened?

log backup task status is **error**

[2022-07-22 07:19] WangLe1321 commented on #13106
/assign @WangLe1321

[2022-07-22 07:52] joccau commented on #13106
/severity Critical

[2022-07-22 07:52] joccau commented on #13106
/remove-label may-affects-4.0

[2022-07-22 07:53] joccau commented on #13106
/remove-severity critical

[2022-07-22 07:53] joccau commented on #13106
/label may-affects-6.2

[2022-07-22 07:54] joccau commented on #13106
/sig migrate

[2022-07-22 07:55] WangLe1321 commented on #13106
/remove-label may-affects-5.0 may-affects-5.1

[2022-07-22 07:55] WangLe1321 commented on #13106
/remove-label may-affects-5.1

[2022-07-22 07:56] WangLe1321 commented on #13106
/remove-label may-affects-5.2

[2022-07-22 07:56] WangLe1321 commented on #13106
/remove-label may-affects-5.3

[2022-07-22 07:56] WangLe1321 commented on #13106
/remove-label may-affects-5.4

[2022-07-22 08:11] joccau commented on #13106
/label affects-6.2

[2022-07-22 09:07] #13057 closed

[2022-07-22 09:34] nolouch opened #13110 "Stale read meet `Data not ready` for a long time"
## Bug Report

### What version of TiKV are you using?
6.1.0

### What did happened?
There only 17 regions, and 9 TiKVs, them distributed in three regions: Tokyo, USA, and Singapore.

### Phenomenon
Login Tokyo node `172.33.0.141` and run MySQL client, querying the data using stale read with `closest-replicas`. on the Tokyo node, read xjpnew1 data of the table will trigger `dataNotReady`:
![image]

[2022-07-22 09:37] nolouch commented on #13110
/assign @nolouch

[2022-07-22 10:48] mayjiang0203 opened #13111 "Load base split don't work in scenario of pure little table scan"
## Bug Report

### What version of TiKV are you using?

./tikv-server -V
 TiKV
Release Version:   6.2.0-alpha
Edition:           Community
Git Commit Hash:   b1952dcaf8af9ab218916b26eb5dd3ce72a8d638
Git Commit Branch: heads/refs/tags/v6.2.0-alpha
UTC Build Time:    2022-07-22 05:51:18
Rust Version:      rustc 1.62.0-nightly (7c4b47696 2022-04-30)

### What operating system and CPU are you using?

[2022-07-22 10:52] mayjiang0203 commented on #13111
/type bug
/assign @nolouch

[2022-07-22 12:23] tisonkun opened #13113 "migrate match-template to standalone crate"
## Development Task

ref https://github.com/tikv/community/issues/181

[2022-07-22 19:17] tonyxuqqi opened #13114 "OnlineUnsafeRecovery: generate a repair script to streamline the repair process"
## Development Task
Today once Online unsafe recovery finished, it will suggest to do admin check, admin cleanup, admin recover task.  But people may not know the required table list to do the repair, also it's quite tricky to use these commands.
To make the online unsafe recovery truely automatic, we can generate a script (.sh) to call after pd-ctl's online unsafe recovery is done.
Today the outp

[2022-07-22 19:27] tonyxuqqi commented on #13096
/close

[2022-07-22 19:27] #13096 closed

[2022-07-23 03:51] #13113 closed

[2022-07-24 06:05] Lily2025 commented on #13082
/type question

[2022-07-24 06:06] Lily2025 commented on #13081
/type bug
/severity major

[2022-07-24 06:07] Lily2025 commented on #13032
/type question

[2022-07-24 06:10] Lily2025 commented on #12998
/type feature-request

[2022-07-24 06:12] Lily2025 commented on #12994
/severity major

[2022-07-24 06:14] Lily2025 commented on #12926
/assign sticnarf

[2022-07-24 06:17] Lily2025 commented on #12855
/type enhancement

[2022-07-24 06:17] Lily2025 commented on #12822
/type question

[2022-07-24 06:18] Lily2025 commented on #12795
/type enhancement

[2022-07-24 06:19] Lily2025 commented on #12790
/type bug
/severityModerate

[2022-07-25 02:47] sticnarf commented on #12926
@5kbpers Do you have any ideas about this assertion?

[2022-07-25 02:54] 5kbpers commented on #12926
set `resolved-ts.enable` to `false` if using TXN KV.

[2022-07-25 04:44] tabokie opened #13116 "proc file read failure flooding logs"
## Bug Report

### What version of TiKV are you using?

N/A

### What operating system and CPU are you using?

N/A

### Steps to reproduce

N/A

### What did you expect?

### What did happened?

[WARN] [[proc.rs:65](http://proc.rs:65/)] ["failed to open proc file: No such file or directory (os error 2)"]

[2022-07-25 05:06] Connor1996 commented on #13060
/assign @cosven

[2022-07-25 05:42] #10483 closed

[2022-07-25 09:15] #12926 closed

[2022-07-25 09:32] sticnarf commented on #12926
@bxq2011hust  Well, I think the problem here is that you must make sure there are no duplicated keys in a prewrite request.
From your program, it's possible that two `rand()` produces the same number and generate same keys:

https://github.com/bxq2011hust/tikv-client-c/blob/dev-3.0.0-rc4/src/test/real_tikv_test/bcos_2pc_test.cc#L157

[2022-07-25 11:24] 3pointer opened #13122 "Add retry mechanism for DefaultCredentialsProvider"
## Development Task

we had the downgrade order to get the access token. for example when `web_identity_provider` didn't work(maybe network problem). we'll use `default_provider`.
[code]

but when user only set k8s pod credential. we must ensure` web_identity_provider` works. we should retry until it succeed. or it may be still failed due to access denied in next request to s3.

[2022-07-25 11:32] 3pointer commented on #13122
I was thinking can we check the if `role_arn` not nil in `web_identity_provider` then we should retry until succeed?
But the question is how to distinguish retryable errors(e.g. network error) from `k8s_error`. WDYT @kennytm @YuJuncen

[2022-07-25 16:34] cosven commented on #13060
/assign @cosven

[2022-07-26 02:53] nongfushanquan commented on #11187
/remove-label affects-6.2

[2022-07-26 02:54] nongfushanquan commented on #11187
/remove-label affects-6.1
/remove-label affects-5.0
/remove-label affects-5.1
/remove-label affects-5.2

[2022-07-26 03:45] hicqu commented on #10256
/close

[2022-07-26 03:48] hicqu commented on #10256
/remove-label affects-6.0

[2022-07-26 03:48] hicqu commented on #10256
/remove-label affects-6.1

[2022-07-26 03:48] hicqu commented on #10256
/remove-label affects-6.2

[2022-07-26 04:36] tabokie opened #13123 "raft engine panic during recovery"
## Bug Report

Refer to https://github.com/tikv/raft-engine/issues/250

[2022-07-26 05:04] nolouch commented on #13111
This is caused by the `half` split checker with sampling keys with scan in each `region_max_size / 1000` size. this case only 1000 rows in the table, it's too small, so it cannot find a key. Details logic in:
https://github.com/tikv/tikv/blob/e278777f97cc71aa60cf21550c5e8f55bfa95b84/components/raftstore/src/coprocessor/split_check/half.rs#L39-L57

[2022-07-26 05:38] overvenus commented on #10256
It hasn't been fixed yet.

[2022-07-26 07:12] vivid392845427 opened #13124 "tikv panic when run jepsen case jepsen-bank-tbls"
## Bug Report

### What version of TiKV are you using?
`[2022/07/23 03:41:27.371 +00:00] [INFO] [lib.rs:84] ["Welcome to TiKV"]
[2022/07/23 03:41:27.371 +00:00] [INFO] [lib.rs:89] ["Release Version:   6.2.0-alpha"]
[2022/07/23 03:41:27.371 +00:00] [INFO] [lib.rs:89] ["Edition:           Community"]
[2022/07/23 03:41:27.371 +00:00] [INFO] [lib.rs:89] ["Git Commit Hash:   dc7c48d1731e079ae0949694f88

[2022-07-26 07:59] fubinzh opened #13126 "br log backup checkpoint doesn't move forward due to"read index not ready, reason can not read index due to merge, region 94812""
## Bug Report

### What version of TiKV are you using?
6.2.0

### What operating system and CPU are you using?
K8S

### Steps to reproduce
1. Run workload
2. Start log backup task
3. run tikv network partition chaos 20 minutes every 50 minutes

### What did you expect?
Log backup checkpoint should move forward when chaos is restored

### What did happened?
![origin_img_v2_617d52a6-ac84-4b5c-bb85-8

[2022-07-26 08:01] fubinzh commented on #13126
/type bug
/severity Major
/feature developing

[2022-07-26 08:06] ekexium opened #13128 "Support manually specifying keys that need conflict check in pessimistic transactions"
## Development Task
ref: pingcap/tidb#36579

[2022-07-26 08:23] #11964 closed

[2022-07-26 08:42] 5kbpers commented on #12253
Added an alert to suggest no consistency check when enabling GC https://github.com/pingcap/docs-cn/pull/9526, close this issue until resolving this compatibility issue.

[2022-07-26 08:42] #12253 closed

[2022-07-26 08:45] 5kbpers commented on #11937
No further progress, close this issue.

[2022-07-26 08:45] #11937 closed

[2022-07-26 09:14] divanodestiny commented on #12920
Out project is [open-source](https://github.com/kubewharf/kubebrain) now. It runs on TxnKV API of TiKV.

We are trying to optimize the performance of KubeBrain on TiKV.

Maybe we can move the project forward to become a new storage implement of the official k8s-apiserver

[2022-07-26 09:32] #12582 closed

[2022-07-26 10:47] cfzjywxk commented on #13124
[2022/07/23 03:40:52.848 +00:00] [FATAL] [lib.rs:494] ["http://node-1.node-peer.jepsen-tps-1021429-1-424:2379 no longer belongs to cluster 7123407004188645195, it is in 0"] [backtrace="   0: tikv_util::set_panic_hook::{{closure}}
             at /home/jenkins/agent/workspace/build-common/go/src/github.com/pingcap/tikv/components/tikv_util/src/lib.rs:493:18
   1: std::panicking::rust_panic_with_hoo

[2022-07-26 12:21] dveeden opened #13129 "Compiling with rust stable fails"
## Bug Report

This was with rust 1.61.0:

[code]

[2022-07-26 12:25] dveeden commented on #13129
I assume this isn't a real bug as https://github.com/tikv/tikv/blob/master/rust-toolchain specifies a specific toolchain.

[2022-07-26 12:25] #13129 closed

[2022-07-26 12:39] tier-cap opened #13130 "*: add memory configure check at starting to avoid oom"
## Feature Request

### Is your feature request related to a problem? Please describe:

### Describe the feature you'd like:

### Describe alternatives you've considered:

### Teachability, Documentation, Adoption, Migration Strategy:

[2022-07-27 02:04] BornChanger opened #13131 "GC with compaction filter support multi tablets"
## Development Task
Currently, GC with compaction filter works globally against the global rocksdb engine. We need to make it support multi tablets.
The basic idea is to make the global gc context and compaction_filter from global to per tablet.

[2022-07-27 02:05] BornChanger commented on #13131
/assign @BornChanger

[2022-07-27 03:18] AtlanCI opened #13133 "Inverse-order indexing is 20% slower than forward-order usage？"
## Question
Inverse-order indexing is 20% slower than forward-order usage ? Why is it slow?
Instructions seen on the TiDB website
[code]
![image](https://user-images.githubusercontent.com/39624029/181153117-dfa42f34-87a3-4e99-b6e5-86597dbac3aa.png)

[2022-07-27 03:51] #12934 closed

[2022-07-27 03:53] Connor1996 commented on #12934
It should be a problem after https://github.com/tikv/tikv/pull/12827

[2022-07-27 06:29] nolouch commented on #12307
So online recovery is GA,  can we close this issue?

[2022-07-27 08:17] #13106 closed

[2022-07-28 02:23] zyguan commented on #13124
Here is the brief history. It seems pd starts to accept connection requests before it's fully initialized. I didn't see this before, and I also don't known whether there is any related change to pd recently. /cc @nolouch.
[code]
The full logs can be accessed [here](http://minio.pingcap.net:9000/test-infra/2022-07-22/plan-exec-1021429/plan-exec-1021429-2751857669/archive.tgz) (you may need to right

[2022-07-28 02:30] xiongjiwei opened #13143 "tikv reprot check for SO_REUSEPORT error under WSL1"
## Bug Report

### What version of TiKV are you using?

master make build

### What operating system and CPU are you using?

### Steps to reproduce

### What did you expect?

### What did happened?

[code]

full log
[code]

[2022-07-28 03:25] haojinming opened #13144 "RawKV CDC does not advance in some scenario"
## Bug Report

### What version of TiKV are you using?
master branch/nightly

### What operating system and CPU are you using?

### Steps to reproduce
1. Deploy two tikv clusters, up and downstream, up is with tikv-cdc node
2. Preload some data, for example 5 million ycsb workloada rawkv mode.
3. Start ycsb wordloada with rawkv mode.
4. Create tikv-cdc changefeed.
5. Wait 5 minutes and stop ycsb w

[2022-07-28 03:50] ethercflow opened #13145 "Make max_subcompactions dynamically changeable"
## Development Task

[2022-07-28 04:21] glorv opened #13147 "cdc endpoint CPU expression is not correct"
## Bug Report

### What version of TiKV are you using?

### What operating system and CPU are you using?

### Steps to reproduce

All 3 expressions' instance label is incorrect`instance=~\"$tikv_instance\"`:

### What did you expect?

### What did happened?

[2022-07-28 05:08] nolouch commented on #13124
I check it and there are no new changes.  if PD is not initialized, it is normal as expect, but the initailized used 10 time seconds, it's main reason.

[2022-07-28 05:28] tonyxuqqi commented on #13145
This change is one frequent change config that it's a long time to wait for a restart and increase the performance tuning time. Making it dynamic could significantly improve the experience.

[2022-07-28 05:46] zyguan commented on #13124
OK, maybe it's caused by the slow environment.

[2022-07-28 06:08] Connor1996 opened #13150 "Limit comment width automatically"
## Development Task

We can config `rustfmt.toml` with `wrap-comments=true` to format the comment with width of 80 automatically.

[2022-07-28 06:27] #13150 closed

[2022-07-28 08:06] jebter commented on #13090
any update？

[2022-07-28 08:37] mayjiang0203 opened #13153 "Apply-db_mutex_lock_nanos up to 5min for 10min during upgrade from 5.3 to 6.2"
## Bug Report

### What version of TiKV are you using?

./tikv-server -V
 TiKV
Release Version:   5.3.2
Edition:           Community
Git Commit Hash:   b6dd370e0ef26775681052099da48254f71f5647
2022-07-26T00:36:09.962+0800    INFO    k8s/client.go:131       it should be noted that a long-running command will not be interrupted even the use case has ended. For more informat
ion, please refer to http

[2022-07-28 08:39] mayjiang0203 commented on #13153
/type bug
/severity minor
/assign @tabokie

[2022-07-28 08:47] joccau commented on #13126
/remove-label may-affects-4.0
/remove-label may-affects-5.0
/remove-label may-affects-5.1
/remove-label may-affects-5.2
/remove-label may-affects-5.3
/remove-label may-affects-5.4
/remove-label may-affects-6.0
/remove-label may-affects-6.1

[2022-07-28 08:48] joccau commented on #13126
/assign @YuJuncen

[2022-07-28 08:48] joccau commented on #13126
/assign

[2022-07-28 08:53] #12394 closed

[2022-07-28 09:20] joccau commented on #12512
/close

[2022-07-28 09:21] fubinzh commented on #12512
already fixed, close it.

[2022-07-28 09:21] #12512 closed

[2022-07-28 09:24] joccau commented on #12786
The code of `branch:6.1.0-pitr-dev` has merged into master

[2022-07-28 09:26] #12786 closed

[2022-07-28 09:48] mayjiang0203 opened #13154 "Load split: split too fast during do little table scan"
## Bug Report

### What version of TiKV are you using?

./tikv-server -V
 TiKV
Release Version:   6.2.0-alpha
Edition:           Community
Git Commit Hash:   1cb47d2fb98e5e9cacae4301899a3d74a97d861c
Git Commit Branch: heads/refs/tags/v6.2.0
UTC Build Time:    2022-07-27 10:57:03
Rust Version:      rustc 1.62.0-nightly (7c4b47696 2022-04-30)
Enable Features:   pprof-fp jemalloc mem-profiling portab

[2022-07-28 09:48] mayjiang0203 commented on #13154
/type bug
/severity moderate
/assign @nolouch

[2022-07-28 10:28] sticnarf commented on #12362
@OneSizeFitsQuorum Are you interested in the time breakdown inside `async_snapshot`? It may be useful to collect whether lease is expired and record the raft store loop wait duration if lease is expired.

[2022-07-28 12:39] OneSizeFitsQuorum commented on #12362
Yes,  I can practice on it first. But I’m curious about what is `Apply loop Queue Length` and `Apply loop wait rounds`, will them be helpful for us to monitor the the applying status? If so it maybe useful for parallel apply demo too.

[2022-07-28 13:37] xiongjiwei opened #13156 "can not convert character error message different from tidb"
## Bug Report

### What version of TiKV are you using?

### What operating system and CPU are you using?

### Steps to reproduce

[code]

without tikv, the error is
`Cannot convert string '\x80' from binary to utf8mb4`

with tikv, the error is
`cannot convert string from binary to utf8mb4`

### What did you expect?

### What did happened?

[2022-07-28 15:00] sticnarf commented on #12362
I was thinking `Apply loop Queue Length` as the total number of commands that is pending to be applied at the time when a new command is committed and sent to the apply threads. And meanwhile, we can record the value of the current "apply round" counter. The counter increases for each apply batch. So, we can know how many rounds of batches have passed before we are able to handle the command in th

[2022-07-29 02:30] 5kbpers opened #13160 "raftstore: apply res may be dropped silently"
## Bug Report

### What version of TiKV are you using?

Versions after 4.0.

### What did happened?
In https://github.com/tikv/tikv/pull/8487 we changed the way of sending ApplyRes to `try_send`
https://github.com/tikv/tikv/blob/84654c87d6def968a197d47babad8e08acdf685a/components/raftstore/src/store/fsm/store.rs#L293-L302

In extreme cases, the mailbox of PeerFsms may be full and some of ApplyRes

[2022-07-29 03:45] YuJuncen commented on #13126
When (somehow) the gap between admin command `PrepareMerge` and `CommitMerge` get to huge (greater than 30s), this error would be triggered.

Both `PrepareMerge` and `CommitMerge` would make the `version` of region epoch get increased, which triggers the `RegionChanged` observer and fires an initial scanning request. However raftstore would reject the initial scanning request when `PrepareMerge` a

[2022-07-29 03:54] YuJuncen commented on #13126
...and the error `ReadIndexNotReady` isn't an ignorable error in the current implementation, which means this would consume the opportunity of retry and finally exceed it then leading to `FatalError`.

[2022-07-29 04:02] YuJuncen commented on #13126
The (possible) solutions:

- For the exception `ReadIndexNotReady` because region merging, we can trivially ignore it and give up initial scanning, because both the merge get rolled back or committed, the version would be increased too, hence would trigger a new initial scanning request.
- For this type of error, we can make them consume less retry opportunity (or, retry score?) hence we can toler

[2022-07-29 04:18] YuJuncen commented on #13126
...another solution is we don't get split / merge from `RegionChanged` observer but `CmdObserver`, by which we can detect whether it is a `PrepareMerge` or `CommitMerge`. When it is `PrepareMerge`, we can simply ignore it and keep observing.

[2022-07-29 04:33] SpadeA-Tang opened #13162 "TestTabletFactory should support single rocksdb config."
## Development Task
Engine factory has both single and multi rocksdb versions. As the test version of engine factory, TestTabletFactory only has multi-rocksdb version.

[2022-07-29 07:11] #13145 closed

[2022-07-29 10:41] #13160 closed

[2022-07-29 13:45] #13147 closed

[2022-07-29 13:52] BurtonQin opened #13186 "DoubleLock in components/engine_test and server"
## Bug Report
### Bug 1:
In components/engine_test/src/lib.rs,
`registry` is a std::sync::Mutex
The first lock is on L170, `open_tablet_raw` is called on L176, `create_tablet` is called on L205, and the second lock is on L150.
https://github.com/tikv/tikv/blob/b22be438650b914231c6ea4b0afb9c72538044c9/components/engine_test/src/lib.rs#L169-L176
https://github.com/tikv/tikv/blob/b22be438650b914231c6

[2022-07-29 15:13] BurtonQin commented on #13186
I found that Bug 2 is fixed by https://github.com/tikv/tikv/pull/13165

[2022-08-01 02:18] #13144 closed

[2022-08-01 03:31] tabokie commented on #13008
Seems to be fixed already.

[2022-08-01 03:31] #13008 closed

[2022-08-01 03:44] xiongjiwei commented on #13156
/type enhancement

[2022-08-01 05:36] Lily2025 opened #13191 "Inject a minority of tikv network isolation，after network isolation was recovered, one tikv status still show down and can not transfer leader back"
## Bug Report

### What version of TiKV are you using?
./tikv-server -V
 TiKV
Release Version:   6.2.0-alpha
Edition:           Community
Git Commit Hash:   940e1395869e2d92aa91eb2d59380ce894125b70
Git Commit Branch: heads/refs/tags/v6.2.0-alpha
UTC Build Time:    2022-07-29 11:04:30
Rust Version:      rustc 1.62.0-nightly (7c4b47696 2022-04-30)
Enable Features:   pprof-fp jemalloc mem-profiling p

[2022-08-01 05:37] Lily2025 commented on #13191
/type bug
/assign bufferflies

[2022-08-01 05:51] Lily2025 commented on #13191
cc @bufferflies

[2022-08-01 06:12] bufferflies commented on #13191
/assign @bufferflies

[2022-08-01 07:04] #13156 closed

[2022-08-01 07:19] #12557 closed

[2022-08-01 07:28] Lily2025 commented on #13191
/severity Critical

[2022-08-01 07:40] bufferflies commented on #13191
maybe related: https://github.com/tikv/tikv/issues/12933 , the key codes:
https://github.com/5kbpers/tikv/blob/e278777f97cc71aa60cf21550c5e8f55bfa95b84/components/pd_client/src/util.rs#L322-L344

the fault tikv has no log in the network isolation, the normal tikv-2 has log it：
[code]

[2022-08-01 08:06] mayjiang0203 opened #13194 "v6.2.0: run in dr-auto-sync mode, tikv will down after reset min resovled ts"
## Bug Report

### What version of TiKV are you using?

sh-4.2# ./tikv-server -V
TiKV
Release Version:   6.2.0-alpha
Edition:           Community
Git Commit Hash:   c7234fdb403fa5b69ce69ca91501448ac5194236
Git Commit Branch: heads/refs/tags/v6.2.0
UTC Build Time:    2022-07-29 15:07:02
Rust Version:      rustc 1.62.0-nightly (7c4b47696 2022-04-30)
Enable Features:   pprof-fp jemalloc mem-profiling

[2022-08-01 08:14] mayjiang0203 commented on #13194
/type bug
/severity Major
/assign @longfangsong

[2022-08-01 08:50] YuJuncen opened #13196 "Tracking Issue for Removing Checkpoint V2 Codebase from TiKV"
## Development Task

After adapting checkpoint V3, there is no need for keeping the poor old checkpoint model. In the 6.2 release, the config `use_checkpoint_v3` would always be `true`. We can move the code of checkpoint V2 from the codebase.

Generally, there are some steps:

- [ ] Adapt the tests: removing tests spec for checkpoint V2 and fix failure cases when using V3.

[2022-08-01 11:30] nolouch commented on #13154
After my rerun many times and checking this environment, the QPS down is not relative to the split. I will try to improve it.

[2022-08-01 11:33] nolouch commented on #13111
It's a not blocking issue, will try to improve it in 6.3.

[2022-08-01 15:42] #13054 closed

[2022-08-02 03:27] mayjiang0203 opened #13203 "v6.2.0 dr auto sync: data is not consistent after switch to backup dc and reset version to min resolved ts"
## Bug Report

### What version of TiKV are you using?

TiKV
Release Version:   6.2.0-alpha
Edition:           Community
Git Commit Hash:   8a4c8b3828fe689e977c671796381d2e9b16bc07
Git Commit Branch: heads/refs/tags/v6.2.0
UTC Build Time:    2022-08-01 09:10:03
Rust Version:      rustc 1.62.0-nightly (7c4b47696 2022-04-30)
Enable Features:   pprof-fp jemalloc mem-profiling portable sse test-engine

[2022-08-02 03:28] mayjiang0203 commented on #13203
/type bug
/severity major
/assign @longfangsong

[2022-08-02 03:54] alwaysdaylast opened #13204 "May I know Where I can find the roadmap of Tikv?"
## Question

May I know Where I can find the roadmap of Tikv?

[2022-08-02 06:01] tonyxuqqi commented on #12729
/cc jiayang-zheng

[2022-08-02 07:04] mayjiang0203 opened #13208 "v6.2.0 dr auto sync: reset-to-version didn't finished after 20min with only 7G data in it"
## Bug Report

### What version of TiKV are you using?

[root@tikv1-0 ~]# /tiup/deploy/tikv-20160/bin/tikv-server -V
TiKV
Release Version:   6.2.0-alpha
Edition:           Community
Git Commit Hash:   8a4c8b3828fe689e977c671796381d2e9b16bc07
Git Commit Branch: heads/refs/tags/v6.2.0
UTC Build Time:    2022-08-01 09:10:03
Rust Version:      rustc 1.62.0-nightly (7c4b47696 2022-04-30)
Enable Feature

[2022-08-02 07:04] mayjiang0203 commented on #13208
/type bug
/severity major
/assign @longfangsong

[2022-08-02 07:11] mayjiang0203 commented on #13208
/remove-label may-affects-4.0
/remove-label may-affects-5.0
/remove-label may-affects-5.1
/remove-label may-affects-5.2
/remove-label may-affects-5.3
/remove-label may-affects-5.4
/remove-label may-affects-6.0
/remove-label may-affects-6.1

[2022-08-03 02:41] TonsnakeLin opened #13210 "PessmistincLock: Lock the key if it exists"
## Development Task
TiKV locks the key whether it exists or not for pessimistic lock request, but sometimes we need TiKV lock the key only if it exists. We add a new process for pessimistic lock request that TiKV lock the key only if it exists.

[2022-08-03 04:00] #13162 closed

[2022-08-03 10:04] SpadeA-Tang opened #13213 "`open_tablet` may cause deadlock"
open_tablet will acquire the lock of registry. When the tablet is not in registry, it will call open_tablet_raw which may call create_tablet which will acquire the lock of registry again.
So deadlock may happen

[2022-08-03 10:10] SpadeA-Tang commented on #13213
/type bug
/severity moderate

[2022-08-04 01:14] SpadeA-Tang opened #13214 "EnginesResourcesInfo should be compatible with Multi-Rocks DB version."
## Development Task
Now, EnginesResourcesInfo fetches the pending bytes from the single global kv rocks db. When Multi-rocks DB configuration is set, it is not suitable.

[2022-08-04 04:04] bufferflies commented on #13191
pd-worker-0 need inner write lock.
[code]
advance-ts has read lock and wait the read lock again.
[code]

[2022-08-04 04:24] #13050 closed

[2022-08-04 04:35] tabokie opened #13216 "Use camel case for struct naming"
## Development Task

[2022-08-04 05:10] Connor1996 commented on #13216
Refer to rust naming convention https://rust-lang.github.io/api-guidelines/naming.html#casing-conforms-to-rfc-430-c-case

[2022-08-04 05:28] Lloyd-Pottiger opened #13217 "diagnostics: incorrect memory capacity with memory limit by cgroup"
## Bug Report

### What version of TiKV are you using?

master

### What operating system and CPU are you using?

linux GenuineIntel

### Steps to reproduce

run tikv in docker or under cgroup, and limit the memory less than memory capacity of physical machine.
like
[code]

### What did you expect?
memory capacity in diagnostics service : 10GB

### What did happened?
memory capacity in diagnostics

[2022-08-04 05:40] Lloyd-Pottiger commented on #13217
https://github.com/tikv/tikv/blob/dcb5e2ccd2582fc2f8d3425c27f9891368658154/src/server/service/diagnostics/sys.rs#L348-L359
maybe we can just change this line to `pair.set_value(SysQuota::memory_limit_in_bytes().to_string()); ` ?
https://github.com/tikv/tikv/blob/dcb5e2ccd2582fc2f8d3425c27f9891368658154/src/server/service/diagnostics/sys.rs#L353

[2022-08-04 06:50] bufferflies commented on #13191
affect releasse 5.0+.

[2022-08-04 07:19] BusyJay commented on #12729
I think an easy fix is to change the function

https://github.com/tikv/tikv/blob/dcb5e2ccd2582fc2f8d3425c27f9891368658154/components/raftstore/src/store/worker/compact.rs#L177-L192

If there are too many versions, compaction should be triggered for write cf, otherwise stale versions won't be deleted.

[2022-08-04 09:34] #13216 closed

[2022-08-04 09:56] #13081 closed

[2022-08-04 12:05] fengou1 opened #13219 "require enabling the report-min-resolved-ts-interval by default or enabling it without restarting tikv"
## Bug Report

### What version of TiKV are you using?
the feature EBS-based backup and restore requires a global resolved-ts, please check https://github.com/pingcap/tidb/pull/36028

the PR https://github.com/tikv/tikv/pull/12157 already merged into master. We hope we can reuse this feature so that easy to get a global cluster-level resolved-ts.

enabled the report-min-resolved-ts-interval by def

[2022-08-04 12:15] fengou1 commented on #13219
/cc @lhy1024

[2022-08-04 12:26] #12933 closed

[2022-08-04 12:42] bufferflies commented on #13191
/close by https://github.com/tikv/tikv/issues/12933

[2022-08-04 12:55] Lloyd-Pottiger commented on #13217
If you think that makes sense, you can assign it to me. And I will open a pr to fix it later.

[2022-08-05 03:06] LykxSassinator opened #13229 "Upgrade RaftEngine to support `Recycle Logs` feature for better `write` performance."
## Development Task
As the title shows, this issue is built for upgrading the version of RaftEngine to support `Recycle Logs` feature.
Related works to this including:

- [ ] Upgrading the RaftEngine lib;
- [x] Compatibility to the new version of RaftEngine lib, i.e. `ManagedFileSystem` should be updated to support the upgrading.

[2022-08-05 06:52] #13011 closed

[2022-08-05 06:52] Leavrth opened #13232 "log-backup: merge small files in each flush"
## Development Task
1. merge small files in each flush.
2. compress the files before upload the merged file.
3. download the merged file in part.

[2022-08-05 08:46] #13213 closed

[2022-08-06 17:38] zamazan4ik opened #13236 "Document upgrade and downgrade processes"
Hi.

After reading the documentation it is not clear for me, how upgrade and downgrade processes should be performed over the solution. Could you please describe somewhere in the documentation:

- How to downgrade TiKV to the older version (hopefully with no downtime)

Thanks in advance!

[2022-08-07 02:26] Lloyd-Pottiger commented on #13217
/type enhancement

[2022-08-07 02:26] Lloyd-Pottiger commented on #13217
/assign

[2022-08-08 03:00] mayjiang0203 commented on #13194
/assign @lhy1024
/remove-assign @longfangsong

[2022-08-08 03:08] #13217 closed

[2022-08-08 03:34] LykxSassinator commented on #13229
RaftEngine lib is currently redirected to `master` branch for accepting newest feature, waited to be modified with the newest releasing tag of RaftEngine lib.

[2022-08-08 03:50] #13194 closed

[2022-08-08 04:54] zyguan commented on #13124
I think it's https://github.com/tikv/pd/pull/5310 that leads to the issue. We may need to let tikv handle the error properly (to avoid unwanted panics). @nolouch @Connor1996 PTAL

[2022-08-08 05:18] Connor1996 commented on #13124
PTAL @JmPotato @HuSharp Some cases that are not logic errors should return grpc error to let TiKV retry other PD members. https://github.com/tikv/pd/pull/5310/files#diff-eb404b45d0a569b05f58f4e4bf2b42b32150be75ec2ed72f86330c4b5d739eabR108

[2022-08-08 06:41] Lily2025 opened #13240 "all tikv panic when pd down for some time"
## Bug Report

### What version of TiKV are you using?
./tikv-server -V
 TiKV
Release Version:   6.2.0-alpha
Edition:           Community
Git Commit Hash:   fbf4c33f8e6cc037d2638f7237c8494172c93328
Git Commit Branch: heads/refs/tags/v6.2.0
UTC Build Time:    2022-08-05 09:07:12
Rust Version:      rustc 1.62.0-nightly (7c4b47696 2022-04-30)
Enable Features:   pprof-fp jemalloc mem-profiling portabl

[2022-08-08 06:43] Lily2025 commented on #13240
/type bug
/severity Critical
/assign @bufferflies

[2022-08-08 06:43] Lily2025 commented on #13240
@bufferflies

[2022-08-08 06:48] Connor1996 commented on #13240
the same root cause of https://github.com/tikv/tikv/issues/13124

[2022-08-08 07:26] nolouch commented on #13111
/assign CabinfeverB

[2022-08-08 07:27] nolouch commented on #13111
/assign @CabinfeverB

[2022-08-08 07:54] Connor1996 commented on #12842
Task lists should be updated with related PR

[2022-08-09 02:35] TonsnakeLin opened #13246 "sched_txn_command has a wrong input param when doing check_api_version"
## Bug Report

### What version of TiKV are you using?

master, V6.2 and earlier

### What operating system and CPU are you using?

### Steps to reproduce

https://github.com/tikv/tikv/blob/master/src/storage/mod.rs#L1430
the input param should be "CommandKind::acquire_pessimistic_lock"

### What did you expect?

### What did happened?

[2022-08-09 06:10] #13116 closed

[2022-08-09 08:39] Lily2025 commented on #13191
/open

[2022-08-09 08:44] Lily2025 commented on #13191
/reopen

[2022-08-09 08:47] Lily2025 commented on #13191
New discovery in image :  hub-new.pingcap.net/robert/tikv:panic-a5412ce
![DvNq4gAFEW](https://user-images.githubusercontent.com/84712107/183606311-352de5c5-dbfb-4c2e-abb2-ca2302c289e4.jpg)
![origin_img_v2_27769a8a-6c4b-4d3c-a8aa-096df97fa5cg](https://user-images.githubusercontent.com/84712107/183606323-b02674a9-2ead-4245-9c52-7810df96f281.jpg)

[2022-08-09 09:16] Lily2025 commented on #13191
/remove-label may-affects-4.0
/remove-label may-affects-5.0
/remove-label may-affects-5.1
/remove-label may-affects-5.2
/remove-label may-affects-5.3
/remove-label may-affects-5.4
/remove-label may-affects-6.0
/label affects-5.0
/label affects-5.1
/label affects-5.2
/label affects-5.3
/label affects-5.4
/label affects-6.1
/label affects-6.2

[2022-08-09 09:17] Lily2025 commented on #13191
/remove-label may-affects-6.0

[2022-08-09 09:17] bufferflies commented on #13191
The pr: https://github.com/tikv/tikv/pull/13226 did not  clear all RWR  scene, `sync_request` will double read lock the inner:

When I delete pods tikv , the tikv can not  exit , some stack trace is :
[the backgroud thread]
Thread 75 (Thread 0x7fe5719ca700 (LWP 32)):
#0  0x00007fe5839c71c9 in syscall () from /lib64/libc.so.6
#1  0x000055d3dbbbc9b8 in std::sys::unix::futex::futex_wait::h0c1abc2af90

[2022-08-09 09:27] bufferflies commented on #13191
the RWR should be same  in all os after  https://github.com/rust-lang/rust/issues/93740

[2022-08-09 11:23] fubinzh opened #13251 "PiTR log backup checkpoint doesn't move foward"
## Bug Report

### What version of TiKV are you using?
[root@localhost bin]# ./tikv-server -V
TiKV
Release Version:   6.2.0-alpha
Edition:           Community
Git Commit Hash:   8a4c8b3828fe689e977c671796381d2e9b16bc07
Git Commit Branch: heads/refs/tags/v6.2.0
UTC Build Time:    2022-08-02 12:18:20
Rust Version:      rustc 1.62.0-nightly (7c4b47696 2022-04-30)
Enable Features:   pprof-fp jemalloc

[2022-08-09 12:06] cfzjywxk commented on #12729
Maybe it's needed to consider more about the compaction triggering strategy, before that we could abstract a simpler case to help investigate this issue.
/cc @you06

[2022-08-10 06:52] alwaysdaylast commented on #13204
any pieces of advice?

[2022-08-10 06:57] alwaysdaylast opened #13252 "Broken url links on official site for v6.1"
There are a bunch of broken URLs On the page of https://tikv.org/docs/6.1/deploy/deploy/ under "[Configure TiKV]" Section

<img width="596" alt="image" src="https://user-images.githubusercontent.com/87117565/183835413-ffe7e87b-f957-4266-9ea8-d644963bb69b.png">

<img width="544" alt="image" src="https://user-images.githubusercontent.com/87117565/183835505-d56ddb55-e813-43ff-9725-116ab1c829cc.png">

[2022-08-10 10:59] fubinzh commented on #13251
Escalate it to critical, as it happens 2 times during testing (on 8/9, 8/10 separately), and has to restart tikv to work around it when it happens, which impact customer business.
/severity Critical

[2022-08-11 04:00] #13214 closed

[2022-08-11 06:08] tonyxuqqi opened #13256 "QuotaLimiter: coprocessor read traffic should be controlled by foreground quota limiter's read bytes"
## Bug Report

### What version of TiKV are you using?
6.0 or later

### What operating system and CPU are you using?

### Steps to reproduce
set tikv config: quota.foreground_read_bytes: 5MB
run sysbench read-only workload

### What did you expect?
The coprocessor's read response size is close to 5MB/s per tikv
### What did happened?
The coprocessor's read response size is much larger than 5MB/s

[2022-08-11 08:18] Yisaer opened #13258 "Analyze response returns wrong count value in RC"
## Bug Report

ref https://github.com/pingcap/tidb/issues/36983

During TiDB mysql-test, we found a case that tikv returned wrong count value with RC isolation. 20 success in a row with SI isolation.

### What version of TiKV are you using?

nightly

### What operating system and CPU are you using?

### Steps to reproduce

Running mysql-test `filesort_merge` in local env, meet this error about 3~4

[2022-08-11 08:45] #13186 closed

[2022-08-11 08:50] #13251 closed

[2022-08-11 09:34] ethercflow commented on #13090
@jebter Has discussed with @mayjiang0203 , She'll reproduce this, then we'll investigate why

[2022-08-11 10:10] #13240 closed

[2022-08-11 10:32] #13191 closed

[2022-08-11 13:05] LintianShi opened #13269 "raftstore: follower replication for write-flow"
## Develop Task
1. A new mechanism in Raft algorithm which allows a follower to replicate log entries or snapshots to other followers and learners. This feature is mainly aimed to reduce cross-AZ (short for Availability Zones) traffic on cloud. RFC: https://github.com/tikv/rfcs/pull/98
1.1. Definition of new message type `MsgGroupBroadcast` (in raft-rs).
1.2. Handler for new message type  (in raft

[2022-08-11 14:27] Smityz commented on #12920
We have a similar requirement, similar to a single region transaction, can you discuss the design in detail? Maybe we can help too!

[2022-08-12 06:14] cfzjywxk opened #13274 "metric: description is incorrect in GC compaction filter panel"
## Bug Report

The description of the tikv metric panel "GC compaction filter" is incorrect.

### What version of TiKV are you using?

master@38655bff985289560d6a6095bff54665d9cfd254

### What operating system and CPU are you using?

### Steps to reproduce

### What did you expect?
Incorrect description

### What did happened?

[2022-08-12 07:02] JmPotato opened #13276 "Improve the ResetToVersionWorker"
[`ResetToVersionWorker`](https://github.com/tikv/tikv/blob/38655bff985289560d6a6095bff54665d9cfd254/src/server/reset_to_version.rs#L46) is used to delete all keys whose version is later than the given timestamp. It could work as a flashback feature for the user if they want. We can improve its performance a litter bit according to these two mehods.

- [ ] Introduce [`TsFilter`](https://github.com/

[2022-08-12 08:40] #13274 closed

[2022-08-12 10:38] #13229 closed

[2022-08-13 02:49] Yui-Song opened #13280 "Storage pool regression on AWS EC2 instance type i3.4xlarge"
## Bug Report

### What version of TiKV are you using?

version:6.2.0-alpha,	commit 7824699f4e05feb3eb37b12265ecc1e26511a4d7

### What operating system and CPU are you using?

AWS EC2 instance type i3.4xlarge with Centos 7
[code]

[code]

### Steps to reproduce

compare the performance of TiDB v6.1.0 and v6.2.0 on sysbench oltp_point_select 900 threads with config
`readpool.storage.normal-concurre

[2022-08-13 02:51] Yui-Song commented on #13280
/type bug
/severity major
/assign @busyjay
/label affects-6.2

[2022-08-13 13:58] fubinzh opened #13281 "data inconsistency after br PiTR restore"
## Bug Report

### What version of TiKV are you using?
/ # /tikv-server -V
TiKV
Release Version:   6.2.0-alpha
Edition:           Community
Git Commit Hash:   7824699f4e05feb3eb37b12265ecc1e26511a4d7
Git Commit Branch: heads/refs/tags/v6.2.0
UTC Build Time:    2022-08-11 13:49:18
Rust Version:      rustc 1.62.0-nightly (7c4b47696 2022-04-30)
Enable Features:   pprof-fp jemalloc mem-profiling porta

[2022-08-13 14:04] fubinzh commented on #13281
/type bug
/severity Critical

[2022-08-14 02:01] joccau commented on #13281
/remove-label may-affects-4.0

[2022-08-14 06:11] coderplay opened #13282 "Separate debuginfo for executables in TiKV release"
## Feature Request

Debuginfo packages for linux packages, such as the *-dbg.deb in debian and the -debuginfo.rpm in centos, are typically distributed separately with their binary packages.

This approach brings two benefits:
1. When deploying, the binary itself can be downloaded more quickly because it is typically much smaller than debuginfo.
2. Debuginfo contains the symbol data required for de

[2022-08-15 03:28] BornChanger commented on #12842
Please also add other related PRs like "introduce tablet" for a complete review. cc @BusyJay

[2022-08-15 03:35] BusyJay commented on #12842
If you are looking for a complete list, then you should check project https://github.com/tikv/tikv/projects/51.

[2022-08-15 03:42] haojinming opened #13284 "Encode causal timestamp in storage module for RawKV APIV2"
## Development Task
Encode ts in storage module can benifit from following aspects:
1. Compatible with solution of issue: https://github.com/tikv/tikv/issues/12020
2. Resolved the rawkv cdc issue, that when propose failed, there may be dead lock in `resolved_ts`, which is currently resolved by dead lock detection in https://github.com/tikv/tikv/blob/7824699f4e05feb3eb37b12265ecc1e26511a4d7/compone

[2022-08-15 03:50] joccau commented on #13281
/remove-label may-affects-4.0
/remove-label may-affects-5.0
/remove-label may-affects-5.1
/remove-label may-affects-5.2
/remove-label may-affects-5.3
/remove-label may-affects-5.4
/remove-label may-affects-6.0
/remove-label may-affects-6.1

[2022-08-15 03:50] joccau commented on #13281
/remove-label may-affects-6.2
/remove-label affects-6.2

[2022-08-15 03:51] joccau commented on #13281
/label affects-6.2

[2022-08-15 06:08] BusyJay commented on #13282
There are two profiles in TiKV, one is release, which disables debug info mainly to speedup compilation; the second is dist_release, which enables all debug info. Only dist_release is used for distribution.

[2022-08-15 17:53] coderplay commented on #13282
@BusyJay Thank you for pointing out. I realized that the release profile is overridden in the dist release after seeing your comments.

Are these the relevant lines?
https://github.com/tikv/tikv/blob/master/Makefile#L399-L411

Today cargo supports [customize profiles](https://doc.rust-lang.org/cargo/reference/profiles.html#custom-profiles). Defining a customize profile in the Cargo.toml is easier

[2022-08-16 05:45] sticnarf commented on #13280
I use Linux `perf` to investigate the issue on AWS i3 instances and find something unusual. `clock_gettime` needs to do real syscalls instead of just cheap vdso:

![image](https://user-images.githubusercontent.com/17217495/184805426-3a9d69da-132a-4ae5-a61d-e706c030729f.png)

This means `Instant::now` is really expensive on these machines. That's why a lot of recent pull requests that change `coars

[2022-08-16 06:14] #13281 closed

[2022-08-16 06:16] BusyJay commented on #13280
Can this difference be observed by builtin profiling?

[2022-08-16 06:21] sticnarf commented on #13280
No, the built-in profiling puts glibc and vdso in the blocklist because the unwinding implementation provided by libgcc cannot handle them well. So the syscalls are not included in the built-in flamegraph.

[2022-08-16 06:54] BusyJay commented on #13280
/cc @breezewish @YangKeao another case that proves ebpf is the correct way.

[2022-08-16 06:56] tonyxuqqi commented on #12729
/assign jiayang-zheng

[2022-08-16 07:00] cfzjywxk commented on #12729
@tonyxuqqi
@you06 is already working on this and doing related tests.

[2022-08-16 07:04] tonyxuqqi commented on #10065
/assign SpadeA-Tang

[2022-08-16 07:11] you06 commented on #12729
@tonyxuqqi I'm currently working on this issue by triggering compaction when there are too many deletes.

[2022-08-16 07:11] BusyJay commented on #13282
Cool, agree. Would you like to help?

[2022-08-16 08:14] YuJuncen commented on #13122
I guess a limited time (even maybe huge number of retires, say, 30 times) of retries would be fine (or we may get stuck if the service is inaccessible by definition)?

[2022-08-16 08:14] YuJuncen commented on #13122
I guess maybe we also need some rule for fast fail, or we may be stuck for a long time if the user forgot to provide the access key.

[2022-08-16 08:15] JmPotato opened #13292 "Provide a common WaitApply interface"
Wait for a certain region or all regions to apply the latest or specified target index log is a common need in TiKV. However, the current implementation of `WaitApply` is coupled with the progress of Online Unsafe Recovery, so if some other services want to re-use this part of the code, it will be inconvenient. It would be nice if we can provide a common interface.

[2022-08-16 09:03] sticnarf commented on #13258
It's expected. RC does not guarantee cross-region consistency, so it's possible to get wrong count if you have many regions to merge the results.

[2022-08-16 09:12] sticnarf opened #13293 "Optimize schedule wait duration with local histogram"
## Development Task

It is expensive to record the schedule wait duration of thread pools with shared atomics. The better way is to use local metrics
and flush them at intervals.

[2022-08-16 16:36] cosven commented on #12966
This bug can affects all the old versions. However, since this will only be fixed in latest LTS version (v6.1) and lator versions, so I add and remove some labels.

/affects-6.1
/remove-may-affects-6.0
/remove-may-affects-5.4
/remove-may-affects-5.3
/remove-may-affects-5.2
/remove-may-affects-5.1
/remove-may-affects-5.0
/remove-may-affects-4.0
/remove-affects-6.2

[2022-08-17 06:55] YangKeao opened #13297 "The `json_extract` function is not compatible with MySQL"
There are two major differences between TiKV implementation and MySQL:

1. The result should be an array, if the path expression contains any glob.
2. The result in a single path expression should be unique (with the meaning of reference).

For example:

[code]

should be `[false]`, because it should be any array, as the path contains glob

And

[code]

should be `[[0, 1], 0, 1, 2, 3, 4, 5, 6]`, b

[2022-08-17 07:01] MyonKeminta opened #13298 "Enhanced queueing for conflicting pessimistic transactions"
## Background

Currently, we are adopting a simple but rough implementation for pessimistic lock waiting and waking up. It works just fine in most normal cases, however, there will be problems under workloads that has frequent lock conflicts. When there are many requests trying to acquire the lock on a single key in TiKV:

* The order that the transactions successfully get the lock has too much ra

[2022-08-17 07:10] mayjiang0203 commented on #13090
After three times try, didn't reproduce oom in dmesg again, but tikv still restart many times.

![image](https://user-images.githubusercontent.com/9443637/185056815-c5b517c3-bba9-4521-8cda-0c3b352ab105.png)

And from systemd log, found that tikv restart by systemd.
journalctl -u tikv-20160.service
Aug 17 11:29:35 tikv1-0 systemd[1]: Stopping tikv service...
-- Subject: Unit tikv-20160.service has

[2022-08-17 12:14] BornChanger opened #13301 "support read bandwidth quota limiter for analyze"
## Development Task
Analyze processing only support cpu quota limiter. We need to support read bandwidth limit at sampling time also.

[2022-08-18 04:04] mayjiang0203 commented on #13090
Update, after disable auto restart, run 6 hours, didn't hit tikv reset again.
Need more time to verify this restart can be fixed by disable systemd auto restart.

[2022-08-18 05:01] Yisaer commented on #13258
The behavior is expected as RC isolevel will ignore txnlock even if the secodary key haven't been commited.

[2022-08-18 05:01] #13258 closed

[2022-08-18 05:24] JmPotato opened #13303 "Tracking Issue for Flashback"
# Background

Since we store all MVCC versions of every key in TiKV since the last GC point, we have the ability to restore any key in any given range to any of the existing specified MVCC versions. Providing such an interface whose name is `kv_flashback_to_version` allows for data recovery capabilities like the Flashback feature.

# Task

- [x] Update https://github.com/pingcap/kvproto for the ne

[2022-08-18 07:59] fubinzh opened #13304 "Br log backup checkpoint lag abnormal when there is long duration transaction"
## Bug Report

### What version of TiKV are you using?
│/ # /tikv-server -V
│TiKV
│Release Version:   6.2.0-alpha
│Edition:           Community
│Git Commit Hash:   7824699f4e05feb3eb37b12265ecc1e26511a4d7
│Git Commit Branch: heads/refs/tags/v6.2.0
│UTC Build Time:    2022-08-11 13:49:18
│Rust Version:      rustc 1.62.0-nightly (7c4b47696 2022-04-30)
│Enable Features:   pprof-fp jemalloc mem-profil

[2022-08-18 08:01] fubinzh commented on #13304
/type bug
/severity Major

[2022-08-18 08:01] fubinzh commented on #13304
/remove-label may-affects-4.0
/remove-label may-affects-5.0
/remove-label may-affects-5.1
/remove-label may-affects-5.2
/remove-label may-affects-5.3
/remove-label may-affects-5.4
/remove-label may-affects-6.0
/remove-label may-affects-6.1

[2022-08-18 08:21] fubinzh opened #13306 "Lots of log backup generated during data preparation"
## Bug Report

### What version of TiKV are you using?
│/ # /tikv-server -V
│TiKV
│Release Version: 6.2.0-alpha
│Edition: Community
│Git Commit Hash: https://github.com/tikv/tikv/commit/7824699f4e05feb3eb37b12265ecc1e26511a4d7
│Git Commit Branch: heads/refs/tags/v6.2.0
│UTC Build Time: 2022-08-11 13:49:18
│Rust Version: rustc 1.62.0-nightly (7c4b47696 2022-04-30)
│Enable Features: pprof-fp jemallo

[2022-08-18 08:22] fubinzh commented on #13306
/type bug
/severity Major

[2022-08-18 08:22] fubinzh commented on #13306
/remove-label severity/major

[2022-08-18 12:36] you06 commented on #13276
Is there a design of it? I have a simple idea, limiting the upper bound of timestamp from PD.

- Start resetting to a version `reset_ts`
- Let PD stop allocating timestamp, and responsing with the latest timestamp of the system `latest_ts`
- Clean the versions between `(reset_ts, latest_ts]`, and TiKV should reject requests with timestamp less than `latest_ts`
- Let PD continue allocating timestam

[2022-08-18 15:20] hehechen opened #13310 "The address of the check leader message sent to the TiFlash proxy is wrong"
https://github.com/tikv/tikv/blob/1ea26a2ac8761af356cc5c0825eb89a0b8fc9749/components/resolved_ts/src/advance.rs#L400
For TiFlash proxy, should use `store.peer_address` instead of `store.address`.

[2022-08-19 01:30] zyguan opened #13311 "TiKV panicked due to corrupted meta"
## Bug Report

### What version of TiKV are you using?

master

### What operating system and CPU are you using?

kubernetes

### Steps to reproduce

run jepsen with the following options
[code]

### What did you expect?

The test passed.

### What did happened?

TiKV panicked. ([full logs](http://minio.pingcap.net:9000/test-infra/2022-08-15/plan-exec-1170516/plan-exec-1170516-359813707/archive.tg

[2022-08-19 01:57] MimeLyc commented on #11612
refresh

[2022-08-19 02:57] CalvinNeo commented on #13310
TiKV always use the same peer_address and address

[2022-08-19 06:36] glorv opened #13313 "Read Flow Resource Usage Control"
## Development Task

In the current implement, big queries may consume too much resources that can significantly impact the throughput and latency of other queries, in some cases, the impact is too high that it's unacceptable in the production environment. We should optimize the schedule and execution mechanism in order the solve this problem.

There are some are that we would like to optimize:
-

[2022-08-19 08:02] #13293 closed

[2022-08-19 09:26] TonsnakeLin opened #13315 "Cache (key, commit_ts) when commit transaction"
## Development Task
TiKV calls `seek_write` in many places such as prewrite ......, but most of time we need commit_ts only. It is a heavy operation for getting commimt_ts. If we cached the pair of  `(key, commit_ts)` when commit a transaction, we can get commit_ts from the cache other than calling `seek_write`. It maybe bring extra memory cost, but improve performance.

[2022-08-19 09:28] YangKeao opened #13316 "JSON path is is incompatible with MySQL"
The json path parser is incompatible with MySQL. It doesn't validate the ECMAScript identifier, fails to return the position of error and is extremely hard to read and extend.

For example, it fails to parse: `$ .  你好`, `$  . $`, through they are all valid identifiers.

And the expected return value should be in form:

[code]

But not a simple error `Invalid JSON path: XXX`

[2022-08-19 09:31] BusyJay commented on #12578
/run-cherry-picker

[2022-08-19 09:52] #12966 closed

[2022-08-19 10:02] BusyJay opened #13319 "Use stale read to acquire snapshot instead of raw APIs"
## Development Task

In the past, we introduce `snapshot_on_kv_engine` and `modify_on_kv_engine` to avoid breaking hibernate regions when doing gc. But now we support stale read, if we always use ts 0 to acquire snapshot, then it will never wake up any regions. So `snapshot_on_kv_engine` can be removed. If we can get the snapshot, then there must be a way to get its underlying storage engine, henc

[2022-08-19 15:21] SpadeA-Tang commented on #13319
How can we use ts 0 to acquire snapshot?
![image](https://user-images.githubusercontent.com/71589810/185651985-13b08c04-6113-44dd-82d9-913e4ad8b3a1.png)
![image](https://user-images.githubusercontent.com/71589810/185652124-cb70a1ee-82ec-424a-8577-fbc530fd431c.png)

[2022-08-19 17:48] tonyxuqqi commented on #13319
I think the real question is how is the ts is consumed and what if ts = 0 in its consumer side. If the consumer can work with ts 0, then the check above can be removed.  My understanding is if ts = 0, that means the stale read can be accepted in any case

[2022-08-20 01:32] cfzjywxk commented on #13311
The https://github.com/tikv/tikv/issues/12664 is reproduced in the Jepsen test environment.

[code]
The corresponding region(id=3312) information could not be found from `meta.regions`, when the replicated peer(peer_id=3558, region_id=3307) is created on node-4 and the overlapping check is executed.

---

From the logs in node-4, the peer of region(id=3312) is follows:
### 1. An uninitialized peer

[2022-08-21 00:32] jebter commented on #13304
/label affects-6.2

[2022-08-22 02:19] jebter commented on #13095
can it be closed？

[2022-08-22 02:26] #13315 closed

[2022-08-22 03:01] tabokie commented on #13095
It doesn't affect 6.2 anymore, I removed the tag.

[2022-08-22 03:56] mayjiang0203 commented on #12934
/severity critical
/remove-severity major

[2022-08-23 01:54] #13256 closed

[2022-08-23 02:31] alwaysdaylast commented on #13204
Is there not a roadmap for this project at all?

[2022-08-23 06:38] xiongjiwei commented on #13297
/type enhancement

[2022-08-23 06:40] #13297 closed

[2022-08-23 06:44] xiongjiwei commented on #13316
/type enhancement

[2022-08-23 07:48] Connor1996 commented on #13204
Sadly, there is no clear roadmap. But you can refer to https://github.com/tikv/rfcs/pulls to check which features are planning to do.

[2022-08-23 15:51] cncoder commented on #13122
@YuJuncen  Pls test this solution:
https://github.com/awslabs/aws-sdk-rust/issues/540

[code]

[2022-08-24 07:58] cfzjywxk opened #13330 "txn: reduce the latch contention for pessimistic conflict lock situation"
## Development Task

### Background

Conflict pessimistic transactions may acquire the pessimistic locks on the same key, a wait and wake-up mechanism in tikv is used to order these requests. When a pessimistic lock request is executed it needs to check if there's already a lock on the key, if so this request would be added to a wait queue and wait to be woken up.

When the lock holding transactio

[2022-08-24 09:03] #13280 closed

[2022-08-24 11:47] BusyJay opened #13336 "builtin profiling is not accurate enough"
## Bug Report

### What version of TiKV are you using?
Nightly, but should be a problem since 5.x.

### What operating system and CPU are you using?
Linux.

### Steps to reproduce
Use `curl ip:status_port/debug/pprof/profile` to get a flamegraph.

### What did you expect?
A flamegraph with full informations.

### What did happened?
Some frames are missing.

We have met deadlock issue in the past,

[2022-08-24 11:50] #13310 closed

[2022-08-24 12:00] mornyx commented on #13336
/assign

[2022-08-24 17:40] zhangjinpeng1987 commented on #12876
Is there any conflict with PD's schedulers like hotspot scheduler

[2022-08-25 02:08] #13128 closed

[2022-08-25 03:07] tabokie opened #13338 "Manual compaction triggers flow control/write stall"
## Bug Report

### What version of TiKV are you using?
N/A

### What operating system and CPU are you using?
N/A

### Summary

RocksDB disallow concurrent scheduling of auto-compaction and manual compaction. ([code](https://github.com/tikv/rocksdb/blob/3cd757c0e829472f53a9ff9b3a09359c2e5ee522/db/db_impl/db_impl_compaction_flush.cc#L2487))

In TiKV, we use compact range to cleanup region tombstones

[2022-08-25 03:45] tabokie opened #13339 "Manual compaction blocks tikv shutdown"
## Bug Report

### What version of TiKV are you using?

N/A

### What operating system and CPU are you using?

N/A

### Steps to reproduce

TiKV reload takes too long. The TiKV log shows it is doing manual compaction ("compact range finished").

Normally, compaction will be cancelled if DB is closed. However, TiKV's `DB` will only be closed when no one is referencing it.

Related to #13338

Possib

[2022-08-25 04:15] you06 commented on #12729
We can trigger compaction when MVCC deletes exceed the given count or ratio. But when the deletes are in memtable, [get versions](https://github.com/tikv/tikv/blob/afbacfc4a864080f958497ce9a387df854f62f0f/components/engine_traits/src/misc.rs#L93-L98) from table properties does not contain those deletes. I think the fix would be:

- Check the count of MVCC deletes in `need_compact` in `CheckAndComp

[2022-08-25 04:19] Connor1996 commented on #12876
will consider witness in hotspot scheduler

[2022-08-25 05:19] BusyJay commented on #12729
Interesting, it may also solve the issue that too many tombstone key in memtable. Note you can hint the rocksdb to only scan keys in memtable by using ReadTier.

[2022-08-25 05:20] YangKeao opened #13340 "Support JSON Opaque value and related conversion"
## Development Task

The TiDB has added the JSON Opaque value, so the TiKV should also support it in the cop to handle the push-down format.

[2022-08-25 05:21] YangKeao opened #13341 "Support automatic conversion from binary/time in the json_(object|array) function"
## Development Task

Modify the implementation of `json_object` and `json_array` to support conversion from binary value.

[2022-08-25 05:22] YangKeao commented on #13341
Should be done after https://github.com/tikv/tikv/issues/13340

[2022-08-25 06:49] you06 commented on #12729
Thanks for the advice, I'll give a try.

[2022-08-25 08:07] jiayang-zheng opened #13344 "Log too much for the "failed to update max timestamp for region""
## Bug Report

### What version of TiKV are you using?

6.2.0

### What operating system and CPU are you using?

X86_64

### Steps to reproduce

I just want to reproduce the disk full problem, so I used very small spec virtual machine for pd/tikv.
Once I add some workload to the tidb cluster, the log is very huge - full of `failed to update max timestamp for region`.

![image](https://user-images.

[2022-08-25 08:09] jiayang-zheng commented on #13344
[code]

[2022-08-25 08:47] vzong opened #13346 "why get snapshot duration so long"
client network delay
close

[2022-08-25 09:42] YouriMa opened #13349 "io snooper stoped"
## Question

Hi,
We are facing some troubles with some tikv servers.
Sometimes, probably when we have lots of network communication or slow queries, the service io snooper stops himself. It leads to a downtime of our tidb cluster.

Do you have idea about something we can do to fix this pb?  Is it possible to force restart this service, without restarting the entire tikv ?

Here is the log :
**[202

[2022-08-25 09:44] Connor1996 commented on #13349
Io snooper is not enabled by default, so it's expected to print the error `IO snooper is not started due to not compiling with BCC`

[2022-08-25 09:53] YouriMa commented on #13349
Ok, i've probably misunderstood the log.
The thing is, whenever my tidb cluster crashes, i've the error I printed.
Afterward, i've a ton of similar logs :
**[2022/08/25 09:13:00.788 +00:00] [Error] [kv.rs:1167] ["KvService response batch commands fail"] [err="\"SendError(..)\""]
[2022/08/25 09:13:00.788 +00:00] [Error] [kv.rs:1167] ["KvService response batch commands fail"] [err="\"SendError(..)\"

[2022-08-25 09:59] YouriMa commented on #13349
related to this log, we have this graph :
![image](https://user-images.githubusercontent.com/111894865/186635637-ed30a152-15b3-43cd-8a44-dd9454aaf2ad.png)

And a ton of error : **tidb_tikvclient_backoff_seconds_count**

[2022-08-25 14:50] #13301 closed

[2022-08-26 02:53] hehechen opened #13353 "resolved_ts: IngestSST do not update the tracked_index"
## Feature Request

### Is your feature request related to a problem? Please describe:

In [`group_row_changes`](https://github.com/tikv/tikv/blob/0030aeb90a840140a935fbb0181b6a62b5e680b3/components/resolved_ts/src/cmd.rs#L193), only update tracked_index of the `CmdType::Put `and `CmdType::Delete`, tracked_index not updated in IngestSST and [1PC](https://github.com/tikv/tikv/blob/6dcd0b3d66945583a

[2022-08-26 06:39] bufferflies opened #13355 "pd_client: the initial cluster id should can not be zero."
## Development Task
In past, cluster id may be zero before pd server is not ready, it is better to keep consistency with the client-go to avoid this :
https://github.com/tikv/pd/blob/bde0a1b4255e623c4c86d9dfe07fbf0bd552502b/client/base_client.go#L245-L273