[2021-07-01 07:03] sticnarf commented on #10460
@darren The stack overflow happens on the scheduler pool, so I believe it's not related to the asktug post.

But I do find a risk of stack overflow in the scheduler pool introduced by https://github.com/tikv/tikv/pull/10188. If many queuing tasks are expired, they will be handled in a recursion like `try_to_wake_up -> finish_with_err -> release_lock -> try_to_wake_up`.

[2021-07-01 07:33] darren commented on #10460
@sticnarf  Great!  I have enabled telemetry again!

[2021-07-01 09:00] sticnarf commented on #10042
From the log itself I cannot confirm if there is anything wrong. If TiKV cannot get a TS from PD when it starts, it cannot work properly. So it can be reasonable to panic.

If there are some other TiKV logs around this panic, we can furthur investigate whether this is an unexpected panic.

[2021-07-01 09:37] gengliqi commented on #10407
It's fixed by https://github.com/tikv/tikv/pull/10454.

[2021-07-01 09:37] #10407 closed

[2021-07-01 10:21] Connor1996 commented on #10483
@yiwu-arbug
- Update the breakdown of the test, including benchmark the recovery time.
- The prioritization follows the stage. Stage 2 is actually some subtasks of `force_leader`.
- For the inconsistency fixing tool, let's discuss later. As expected, we won't be able to do them in this sprint.
- For TiFlash compatibility, it's just a detailed design in `Implement the logic of unsafe recovery worke

[2021-07-01 11:49] hi-rustin commented on #10182
@divyaguduru Are you still looking at this problem? I'd like to try to fix it.

[2021-07-01 20:39] yiwu-arbug commented on #10483
yes, consistency fixing is out of scope of this project. but I do feel necessary to provide a recovery guide based on existing tools, and that should be part of this project.

[2021-07-02 00:58] heipark commented on #10497
I think it is a critical issue on Cloud, because we may often upgrade user's TiDB, no matter forced update or automatic update.
The issue easy to reproduce , so I hope fix it as soon as possible.
thank you.

[2021-07-02 03:23] Connor1996 commented on #10483
Agree, add it

[2021-07-02 06:44] zhouqiang-cl opened #10506 "Tracking issue for unstable tests"
* [x] #10450
* [x] #10448
* [x] #10447
* [x] #10446
* [x] #10511
* [x] #10512
* [x] #10513
* [x] #10514
* [x] #10449
* [x] #10547
* [x] #10548
* [x] #10549
* [x] #10550
* [x] #10584
* [x] #7526
* [x] #10639
* [x] #10682
* [x] #11182
* [x] #11183
* [x] #11184
* [x] #11185
* [x] #11186

[2021-07-02 07:48] lhy1024 opened #10507 "statistics: write qps in query stats is inconsistent with Prometheus"
## Bug Report

### What version of TiKV are you using?
master

### Steps to reproduce
sysbench test

### What did you expect?

consistent

### What did happened?
![image](https://user-images.githubusercontent.com/19542290/124239976-da378080-db4c-11eb-9f86-75cdac90a2f1.png)

[2021-07-02 08:02] lhy1024 opened #10508 "load base split: dynamic thresholds"
The load base split is currently controlled using the qps threshold and byte threshold, but these two parameters are manually specified and may not behave well in some scenarios and need to be manually adjusted down.

So the plan is to make these two thresholds dynamic, with two options.
1. estimate based on the percentage of store, e.g. set the threshold to one percent of store qps or byte
2. a c

[2021-07-02 11:16] hicqu commented on #10430
After it's introduced, `reset_global_seq` is not necessary?
![图片](https://user-images.githubusercontent.com/8407317/124266755-f3025f00-db69-11eb-8ace-1b806e76719a.png)

It's in `components/sst_importer/src/sst_importer.rs:669`.

[2021-07-02 13:40] BusyJay commented on #10456
I don't get it. If there is one replica in TiKV, PD will add new replica to it according to placement rules, hence will repair tiflash in the end, is it right?

[2021-07-02 13:42] BusyJay commented on #10423
Closed as unrelated to TiKV.

[2021-07-02 13:42] #10423 closed

[2021-07-02 13:48] BusyJay commented on #10379
I'm not sure whether leak part is included. The leak part may not be valid anymore as crossbeam will free the last reserved slot when receiver is dropped.

[2021-07-02 13:51] BusyJay commented on #10367
Close as it's expected, feel free to reopen if have any questions.

[2021-07-02 13:51] #10367 closed

[2021-07-02 13:53] BusyJay commented on #10319
Cool! TiKV has its owned [tla spec repo](https://github.com/tikv/tlaplus-specs), can you submit the changes there?

[2021-07-02 13:55] BusyJay commented on #10150
Closed as it was a bug of tiup and it was fixed and released.

[2021-07-02 13:55] #10150 closed

[2021-07-02 13:58] BusyJay commented on #10130
Close as it was a bug of tiup and fixed.

[2021-07-02 13:58] #10130 closed

[2021-07-03 00:51] yiwu-arbug commented on #10430
yes, `reset_global_seq` would not be necessary with `write_global_seqno=false`. However to keep backward compatibility let's keep the logic. @v01dstar can you add the following comments around `reset_global_seq` call in your PR?
[code]

[2021-07-04 04:18] nolouch commented on #10507
How about CPUs？

[2021-07-04 05:43] nolouch commented on #10507
It's strange about apply CPU.
![image](https://user-images.githubusercontent.com/6428910/124374444-c404fe00-dccd-11eb-8ada-5f6337406e80.png)

[2021-07-04 09:33] zhangjinpeng1987 commented on #10508
Who set this threshold? From the user's pespective it is better not add new options for user.

[2021-07-04 09:40] hykych opened #10510 "The system will be blocked for a few seconds when one of the TiKV instance is down"
## Question

We use TiKV as the underlying storage engine for our KV storage.
Build a proxy on top of TiKV the support a Redis protocol.
We found that if we kill a TiKV instance( simulate the case that a host is down  abruptly), the requests which routed to the instance will be blocked, and if the clients use a thread pool, the pool will be occupied by those requests, resulting in all requests bei

[2021-07-04 12:28] zhouqiang-cl opened #10511 "Unstable test `test_split_region::test_report_approximate_size_after_split_check`"
## Bug Report
in ci https://ci.pingcap.net/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/3549/pipeline

### What version of TiKV are you using?

master

### What operating system and CPU are you using?

### Steps to reproduce

### What did you expect?

### What did happened?

[2021-07-04 12:28] zhouqiang-cl commented on #10511
also in https://ci.pingcap.net/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/3538/pipeline

[2021-07-04 12:29] zhouqiang-cl commented on #10511
[code]

[2021-07-04 12:30] zhouqiang-cl opened #10512 "Unstable test `test_pending_peers::test_pending_peers`"
## Bug Report

[code]
### What version of TiKV are you using?

### What operating system and CPU are you using?

### Steps to reproduce

### What did you expect?

### What did happened?
in ci https://ci.pingcap.net/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/3530/pipeline

[2021-07-04 12:32] zhouqiang-cl opened #10513 "Unstable test `test_stale_read::test_read_index_when_transfer_leader_2`"
## Bug Report
[code]

### What version of TiKV are you using?

### What operating system and CPU are you using?

### Steps to reproduce

in ci https://ci.pingcap.net/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/3521/pipeline

### What did you expect?

### What did happened?

[2021-07-04 12:33] zhouqiang-cl opened #10514 "Unstable test ``test_split_region::test_node_auto_split_region`"
## Bug Report
in ci https://ci.pingcap.net/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/3515/pipeline

### What version of TiKV are you using?

### What operating system and CPU are you using?

### Steps to reproduce

### What did you expect?

### What did happened?

[2021-07-04 12:34] zhouqiang-cl commented on #10514
[code]

[2021-07-05 02:19] dbsid opened #10515 "grafana data not match: average gRPC message duration less than average storage async write duration"
## Bug Report

### What version of TiKV are you using?

[code]
### What operating system and CPU are you using?

[code]

### Steps to reproduce

run sysbench oltp_insert workload

### What did you expect?
average gRPC message duration of kv_prewrite and kv_commit larger than average storage async write duration

### What did happened?
average gRPC message duration of kv_prewrite and kv_commit less

[2021-07-05 03:27] lhy1024 commented on #10508
Like the current configuration, it will be a default value

[2021-07-06 05:11] rleungx opened #10523 "Shorten the check interval of PD client for updating the member list"
## Development Task
For now, the check interval for updating the PD member list is 10mins, which is too long for the scaling scene. The default health interval for etcd is 5s. See
https://github.com/etcd-io/etcd/blob/3cf2f69b5738fb702ba1a935590f36b52b18979b/etcdserver/server.go#L83

We should shorten the check interval to reduce the possibility of cases like https://github.com/tikv/tikv/issues/431

[2021-07-06 05:53] xuhui-lu commented on #10510
Is there any ongoing discussion on this issue? Could we just easily block these request from thread pool if we think the instance is offline or dead?

[2021-07-06 06:00] youjiali1995 commented on #10510
Which client do you use?

It's expected. The client will continue to retry the request until it successes or fails due to backoff timeout. You can cancel the context to cancel the request if you are using the go client.

[2021-07-06 07:15] hykych commented on #10510
I understand it's expected, but I think this affects TiDB, the throughput will drop significantly if most or all of the client's connections consumed by those requests.

[2021-07-06 08:57] BusyJay opened #10526 "Remove all request snapshot code"
## Feature Request

### Is your feature request related to a problem? Please describe:
Request snapshot is used to request a snapshot explicitly from follower to fix problems like corruption. But the API has never been used or tested. Technically, it's an unreleased feature. I propose to remove all related code for now to make code base clean.

[2021-07-06 08:58] BusyJay commented on #10526
`grep request_snapshot` should find all occurrences.

/cc @overvenus

[2021-07-06 09:09] overvenus commented on #10526
LGTM!

[2021-07-06 10:35] #9796 closed

[2021-07-06 19:45] brson opened #10528 "Make it possible to create a tikv-server with a non-rocks KV engine"
## Development Task

We're one or two steps away from having a tikv-server that can launch with a non-rocks KV engine. This is an issue to track that milestone.

Note that even once this is done, we won't actually be close to having a working alternative KV engine. We'll just be able to typecheck tikv-server with PanicEngine.

[2021-07-06 20:04] brson commented on #6402
This PR finally makes it possible to launch tikv-server with a non-rocks engine: https://github.com/tikv/tikv/pull/10529

[2021-07-07 07:53] #5531 closed

[2021-07-07 08:08] jiangyuzhao commented on #10526
Could I participate in this task?

[2021-07-07 09:09] BusyJay commented on #10526
Sure!

[2021-07-07 09:56] zhuo1angT commented on #10319
Hi, Jay. Currently, I'm working on [this repo](www.github.com/pingcap/tla-plus), the DistributedTransaction sub-dir. Is there anything I should do on the one you mentioned?

[2021-07-08 08:54] BusyJay opened #10533 "destroy uninitialized peer can make it possible to recreate old peer"
## Bug Report

### What version of TiKV are you using?
v5.0.3

### What operating system and CPU are you using?
Linux

### Steps to reproduce
Supposing there are 4 stores 1, 2, 3, 4. And we schedule a region to add peer a, b, c on store 1, 2, 3 respectively. Since then a is isolated, b is leader. b decides to remove c and add d on store 4. It can succeed as quorum remains connected during the whol

[2021-07-08 09:04] BusyJay commented on #10533
One possible solution is adding the current peer into peer list when writing tombstone. So the peer id check will not pass. Note epoch should remain unchanged, which should be 0, to avoid wrong mapping between epoch and peer lists.

The long term solution is introducing a new uninitialized state explicitly instead of relying on the peer lists. Introducing uninitialized state should also solve othe

[2021-07-08 13:38] hykych commented on #10510
I think a `failfast` option can be introduced in client-go for the case the client can't connect to stores.
Does anyone think that is needed?

[2021-07-08 23:24] 634750802 commented on #10054
Do we have any plan for this? @andylokandy

[2021-07-09 05:02] andylokandy commented on #10054
@634750802 Thank you for taking interest in this program. This program has been assigned to @Mossaka and being developed in https://github.com/Mossaka/client-node.

[2021-07-09 05:03] andylokandy commented on #10054
@Mossaka Would you like to assign yourself?

[2021-07-09 06:21] #10511 closed

[2021-07-09 06:59] Mossaka commented on #10054
Sure

[2021-07-09 07:42] tier-cap opened #10537 "Tracking issue of TiKV disk full"
## Development Task

This issue describes a new feature that makes TiKV can avoid panicking from disk full failure, and provide space reclamation support at the same time. The spec:
* TiKV shouldn't panic even if its disk usage is almost full
* Even if most TiKV instances in a cluster are almost full, the cluster should be still readable.
* Even if most TiKV instances in a cluste are almost full,

[2021-07-09 07:56] 5kbpers opened #10539 "Introduce slow node detecting mechanism"
Tracking issue for slow node detection

# Background
As the scale of the tikv cluster becomes larger, the frequency of failures that slow down a single tikv (known as fail-slow) due to various reasons will become higher (according to the 1.02% annual failure rate[1], as a rough estimate, if the total number of nodes running tikv for all customers is 5k, then we will encounter this problem almost e

[2021-07-09 08:41] #10447 closed

[2021-07-09 09:02] gengliqi opened #10540 "raftstore: support asynchronous write io"
## Development Task
The sync write io in store thread introduces much extra latency. After detailed analysis, we found that it increases commit duration by about one IO+fsync time. After tikv/raft-rs#403, we can use async write io in store thread.

## Task list(updated 2021/9/8)

- [x] Support asynchronous write io in raftstore https://github.com/tikv/tikv/pull/10289
It is split into several PRs f

[2021-07-09 09:20] andylokandy commented on #10054
/assign @Mossaka

[2021-07-09 09:21] #10450 closed

[2021-07-09 11:45] youjiali1995 opened #10542 "load-base-split may split regions with unencoded keys"
## Bug Report

### What version of TiKV are you using?

[v5.0.0, v5.0.3], v5.1.0, master

### What operating system and CPU are you using?

Not important.

### Steps to reproduce

TiKV collects query statistics and key ranges for load-base-split, but the key range is raw key in `batch_get_command()` which should be memcomparable encoded. It results in TiKV splits regions with the key that TiDB can

[2021-07-10 17:21] #10512 closed

[2021-07-11 13:55] zhouqiang-cl opened #10547 "Unstable test `raftstore::test_stale_peer::test_stale_learner`"
## Bug Report

In ci https://ci.pingcap.net/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/3925/pipeline

### What version of TiKV are you using?

### What operating system and CPU are you using?

### Steps to reproduce

### What did you expect?

### What did happened?

[2021-07-11 13:58] zhouqiang-cl opened #10548 "Unstable test `cases::test_cmd_epoch_checker::test_reject_proposal_during_region_merge`"
## Bug Report

in ci https://ci.pingcap.net/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/3926/pipeline

### What version of TiKV are you using?

### What operating system and CPU are you using?

### Steps to reproduce

### What did you expect?

### What did happened?

[2021-07-11 14:00] zhouqiang-cl opened #10549 "Unstable test `import::test_sst_service::test_duplicate_and_close`"
## Bug Report
in ci https://ci.pingcap.net/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/3927/pipeline

### What version of TiKV are you using?

### What operating system and CPU are you using?

### Steps to reproduce

### What did you expect?

### What did happened?

[2021-07-11 14:02] zhouqiang-cl opened #10550 "Unstable test `raftstore::test_replica_read::test_read_index_out_of_order`"
## Bug Report
in ci https://ci.pingcap.net/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/3951/pipeline

### What version of TiKV are you using?

### What operating system and CPU are you using?

### Steps to reproduce

### What did you expect?

### What did happened?

[2021-07-12 02:36] zyguan opened #10552 "Lost update was detected by jepsen append"
## Bug Report

### What version of TiKV are you using?

master

### What operating system and CPU are you using?

k8s

### Steps to reproduce

Run jepsen append workload.

### What did you expect?
The test passed.

### What did happened?
[code]
[Here](http://fileserver.pingcap.net/download/pingcap/qa/tests/jepsen/logs/jepsen-append-nemesis-1625922677-1625927772.tar.gz) is the log.

[2021-07-12 03:06] youjiali1995 commented on #10481
Meet the same error. @hicqu PTAL

[2021-07-12 03:16] birdstorm commented on #10481
Might be able to fix by https://github.com/tikv/tikv/pull/10501

[2021-07-12 04:10] youjiali1995 commented on #10552
Fixed by https://github.com/tikv/tikv/pull/10551.

[2021-07-12 07:25] #10526 closed

[2021-07-12 09:56] darionyaphet opened #10556 "CMake 3.1 or higher is required."
## Question

when I build `tikv` from source code, I find:

[code]

and how to configure `cmake` path ? thanks a lot ~

[2021-07-13 04:40] tisonkun commented on #10556
Which platform do you work on? Generally you just append ahead PATH to cmake in `PATH` env var and it works.

[2021-07-13 07:03] lilyjazz opened #10558 "TiKV-Detail Dashboard has two 'viewPanel=4018' panels which can't display at the same time in Grafana"
## Bug Report

### What version of TiKV are you using?

5.1

### What operating system and CPU are you using?

### Steps to reproduce

1. In Grafana, open TiKV-Detail dashboard
2. Expend the 'Lock manager' list at first. There is a 'Wait table' panel in the third position.
3. Then expend the 'Titan - kv' list. You can find that the 'Wait table' panel is no longer in the 'Lock manager' list, but is

[2021-07-13 13:36] NingLin-P commented on #10533
Perhaps a more easy solution for this case would be don't mark an uninitialized peer as tombstone when it is destroyed, just like how we don't persist any data for an uninitialized peer when it is not destroyed.

Since the region is empty, having and haven't the tombstone state is the same for the epoch check and the peer id check,
 except that having the tombstone state has the damage of overwrit

[2021-07-14 02:14] zyguan commented on #10552
Still failed after #10551 , the log can be found [here](http://fileserver.pingcap.net/download/pingcap/qa/tests/jepsen/logs/jepsen-async-commit-append1-1626206029-1626206426.tar.gz).

[2021-07-14 02:52] darionyaphet commented on #10556
@tisonkun thanks it works but there are other problems.

[code]

[2021-07-14 04:39] yiwu-arbug commented on #10549
@Little-Wallace looks like you added the test recently. Can you take a look? Thanks.

[2021-07-14 06:01] marsishandsome opened #10563 "TiKV support Bulk Load"
## Feature Request

### Is your feature request related to a problem? Please describe:

### Describe the feature you'd like:

### Describe alternatives you've considered:

### Teachability, Documentation, Adoption, Migration Strategy:

[2021-07-14 06:37] #10542 closed

[2021-07-14 06:49] marsishandsome commented on #10563
/assign

[2021-07-14 10:23] zyguan opened #10570 "Transaction may read staled data"
## Bug Report

### What version of TiKV are you using?

master

### What operating system and CPU are you using?

k8s

### Steps to reproduce

Jepsen append workload still failed with incompatible-order anomaly after #10551 . It's turned out to be a new issue (see https://github.com/tikv/client-go/pull/233) and can be reproduced by the following steps.

[code]

### What did you expect?

As describ

[2021-07-14 10:26] zyguan commented on #10552
It seems to be a new bug, open an another issue (#10570) for it.

[2021-07-14 10:26] #10552 closed

[2021-07-14 21:39] #10430 closed

[2021-07-15 02:31] purelind opened #10574 "run make test on arm64 machine always failed"
## Bug Report

### What version of TiKV are you using?
branch master

### What operating system and CPU are you using?
centos7.6 on arm64(Kunpeng 920)

### Steps to reproduce
`make test`

### What did you expect?
No error
### What did happened?
[code]

Log datail is here https://ci.pingcap.net/blue/organizations/jenkins/tikv_nightly_test_arm64/detail/master/16/pipeline/

[2021-07-15 23:34] hunterlxt opened #10578 "storage: support automatic sst corruption recovery"
## Development Task
When SST files are corrupted or inaccessible, TiKV would panic and cannot start normally which would block the user’s business. This work is to implement automatic sst corruption recovery while tikv server doesn't need be shutdown.

[2021-07-16 03:56] skyzh commented on #10574
Would you please print out what error is in `resp`?

[2021-07-16 07:37] BusyJay commented on #10574
From the provided link, it seems to fail because it success unexpectedly. @yiwu-arbug would you like to also take a look?

[2021-07-16 08:37] XuJianxu opened #10580 "Tikv node oom happened while dm job working"
## Bug Report

### What version of TiKV are you using?

4.0.10
### What operating system and CPU are you using?

Linux - Intel Core Processor (Haswell, IBRS)
### Steps to reproduce

create 200mysql upstream, 200dm-worker 100*tasks to migrate data to downstream tidb.
### What did you expect?
No error happened, tidb can work properly.
### What did happened?
DM: v5.0.0-nightly-20210715

Refer to TiKV

[2021-07-16 09:11] #10570 closed

[2021-07-16 09:35] andylokandy opened #10581 "ratelimiter: sst_importer local write IO is not limited"
## Bug Report

### What version of TiKV are you using?

master https://github.com/tikv/tikv/commit/ed5c5b312cc9da3801fa2e6c7dcf5b73e017bf8e

### What is happend?

The IO rate limiter claimed to be able to limit all disk IO on TiKV including sst_importer. But with this config, the lightning using the local backend will not be limited as expected:

[code]

[2021-07-16 09:39] andylokandy commented on #10581
cc @marsishandsome @Little-Wallace

[2021-07-16 10:01] tabokie commented on #10581
Should be a false alarm. Please reopen it if testing shows otherwise.

[2021-07-16 10:01] #10581 closed

[2021-07-17 00:14] yiwu-arbug commented on #10574
Not an issue related to ARM.

[2021-07-17 06:15] BusyJay commented on #10574
To run all tests, you may need to use `make dev` instead.

[2021-07-18 12:37] tisonkun commented on #10537
Hi @tier-cap ! Thanks for creating this tracking issue. You may create issue for each subtask dedicatedly, see also https://github.com/pingcap/tidb/issues/26022 . The rationale of tracing issues instead of pull requests can be found [here](https://tisonkun.github.io/ziggurat/f379bf788b20/#Issus-or-Pull-Request).

For example, you may create an issue that gets closed once #10562 resolved.

[2021-07-18 13:28] zhouqiang-cl opened #10584 "Unstable test `raftstore::test_stats::test_query_stats`"
## Bug Report
[code]

### What version of TiKV are you using?

### What operating system and CPU are you using?

### Steps to reproduce

in ci https://ci.pingcap.net/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/4372/pipeline

### What did you expect?

### What did happened?

[2021-07-19 00:09] #10574 closed

[2021-07-19 07:01] lhy1024 opened #10588 "can not build tikv with gcc11"
## Bug Report

### What version of TiKV are you using?
master

### What operating system and CPU are you using?

![image](https://user-images.githubusercontent.com/19542290/126116474-2667975e-6d29-49be-a469-dbe57ac3313c.png)

[code]

### Steps to reproduce

make clippy

### What did you expect?

build tikv

### What did happened?

[code]

[2021-07-19 10:17] #9747 closed

[2021-07-19 10:17] #9588 closed

[2021-07-20 05:24] iosmanthus opened #10594 "proposal: add `enable-cas` to `storage` instead of using flags in requests"
## Feature Request

### Is your feature request related to a problem?

1. check-in issue: #3015
2. related pull request: https://github.com/tikv/tikv/pull/9770

### Describe the feature you'd like:

Currently, the `rawkv` operation, `CompareAndSwap`  in TiKV is dependent on the single row transaction implemented by the transaction latch. In order to maintain linearizability, we need to ensure a ra

[2021-07-20 05:24] iosmanthus commented on #10594
@Little-Wallace @andylokandy PTAL

[2021-07-20 08:45] cyliu0 commented on #10580
/label severity/critical

[2021-07-20 08:46] cyliu0 commented on #10580
/severity critical

[2021-07-20 08:47] cyliu0 commented on #10580
/type bug

[2021-07-20 09:35] XuJianxu commented on #10580
reproduce this Scenario
![image](https://user-images.githubusercontent.com/23207893/126298173-ba900382-6284-4a94-b46b-cb6c1be2a3a7.png)

[2021-07-20 09:43] NingLin-P opened #10595 "Remove voter from a 2 replica raft group may lead to region unavailable"
## Bug Report

### What version of TiKV are you using?

v5.1.0

### What operating system and CPU are you using?

Doesn't matter

### Steps to reproduce

In a 2 replica raft group, PD decides to remove a voter with simple `confchange` command, but the leader changed to the removing peer during the process and cause the leader to destroy itself. If the leader didn't sync the commitment of the `conf

[2021-07-20 09:43] NingLin-P commented on #10595
/cc @BusyJay

[2021-07-20 09:52] Lily2025 commented on #10533
/severity major

[2021-07-20 10:22] BusyJay commented on #10595
Perhaps we should keep latest commit informations and apply informations when destroying a peer and include them in response.

[2021-07-20 13:47] tisonkun opened #10597 "TiKV won't panic for disk full"

[2021-07-20 13:47] tisonkun commented on #10597
closed by https://github.com/tikv/tikv/pull/10264

[2021-07-20 13:47] #10597 closed

[2021-07-21 03:50] kolbe commented on #9276
@BusyJay I still believe this should be fixed. It seems that tiup still does not support darwin/arm64, so users trying to use tiup playground on macOS on Apple Silicon have a very bad experience.

[2021-07-21 05:45] sticnarf commented on #10588
Could you please confirm you are building the latest master of TiKV? The latest TiKV is using grpcio-sys v0.9.0, which includes the fix related to gcc 11.

[2021-07-21 06:34] #10588 closed

[2021-07-21 07:09] sticnarf commented on #10556
I remember `gRPC_PROTOBUF_PROVIDER is "module" but PROTOBUF_ROOT_DIR is wrong` is just an ignorable warning. It may not be the cause of the build failure.

Could you post the complete error messages?

[2021-07-21 07:24] BusyJay commented on #9276
Given that M1 is supported natively, I don't see any point to also support Rosetta 2.

Actually it supports except for playground. I think it's tiup's issue to use a *wrong* binary. It's tracked in https://github.com/pingcap/tiup/issues/1122.

A workaround is specifying the binary explicitly by using `tiup playground --kv.binpath path/to/native/binary`.

[2021-07-21 08:33] darionyaphet commented on #10556
Yes. You are right. This problem seems to have been solved. But then there were new problems

[code]

[2021-07-21 08:35] sticnarf commented on #10556
@darionyaphet What is your GCC version? Latest tikv needs GCC 5.1+ to compile (because of abseil-cpp in grpc)

[2021-07-21 08:38] hi-rustin commented on #10182
/assign

[2021-07-21 10:35] NingLin-P opened #10602 "Speed up evict leader scheduler"
## Feature Request

### Is your feature request related to a problem? Please describe:

When restart/offline a TiKV instance, PD need to evict leader from that instance in case the region is unavailable until the new  leader elected. Evict leaders could take a long time if there are a large number of leaders in the store and hence slow down the restart/offline process.

### Describe the feature yo

[2021-07-22 02:35] purelind opened #10607 "Unstable test `cases::test_replica_stale_read::test_stale_read_on_learner`"
## Bug Report

unstable tests
[code]

stack backtrace
[code]

### What version of TiKV are you using?
branch master

### What operating system and CPU are you using?

### Steps to reproduce

`make dev`
### What did you expect?

### What did happened?
in ci https://ci.pingcap.net/blue/organizations/jenkins/tikv_nightly_test_arm64/detail/master/25/pipeline

[2021-07-22 03:06] darionyaphet commented on #10556
sorry to say  it's `gcc (GCC) 4.8.5` Could we support specify the GCC's path ?

[2021-07-22 03:16] sticnarf commented on #10556
`CC` and `CXX` environment variables are the C and C++ compiler path.

If you're using CentOS, it's recommended to install devtoolset (TiKV CI is using devtoolset-8) from the SCLo repo and switch the gcc version with `scl enable`.

[2021-07-22 05:25] tisonkun commented on #10563
With an offline discussion it seems this work requires a dedicated repository to maintain the bulkload code.

@marsishandsome would you mind to translate the proposal to English and create a PR on [tikv/rfcs](https://github.com/tikv/rfcs)?

@BusyJay please check this background and the design to see whether or not we would create a dedicate repository for it.

[2021-07-22 05:34] tisonkun commented on #10563
@marsishandsome BTW you can tracking issues instead of PRs, like https://github.com/pingcap/tidb/issues/26022 or https://github.com/tikv/tikv/issues/10537 . See also the [rationale](https://tisonkun.github.io/ziggurat/f379bf788b20/#Issus-or-Pull-Request).

[2021-07-22 06:43] slow-zhang opened #10608 "metrics samples too much for tikv_threads_io_bytes_total & tikv_thread_cpu_seconds_total"
tikv_threads_io_bytes_total & tikv_thread_cpu_seconds_total for 30 tikv instance need ~7M sample

![image](https://user-images.githubusercontent.com/24769636/126599068-1be4326a-ea5b-40c6-a6d5-0fd30cabbc3e.png)

[2021-07-22 06:45] slow-zhang commented on #10608
is there some way to decrease the sample amounts?

[2021-07-22 13:45] HunDunDM opened #10614 "After the 1 replica TiKV restarts, it takes a long time for the ApproximateSize statistics to recover"
## Bug Report

### What version of TiKV are you using?

[code]

### What operating system and CPU are you using?

Centos 7 / Intel(R) E5-2630 v4

### Steps to reproduce

* Start a cluster with only 1 replica (only 1 TiKV).
  * Need to set the `count` of the `default rule` to 1 on the PD, or set `max-replicas = 1`
* Write some data, and then stop all reads and writes.
* Restart TiKV directly.

###

[2021-07-23 02:04] fubinzh commented on #10580
TiKV OOM issue seen again while using DM to sync upstream ( 2 MariaDB) to TiDB.

[Thu Jul 22 17:04:56 2021]  [<ffffffffa35c2cc6>] out_of_memory+0x4b6/0x4f0
[Thu Jul 22 17:04:56 2021] Out of memory: Kill process 31235 (tikv-server) score 507 or sacrifice child
[Fri Jul 23 00:02:22 2021]  [<ffffffffa35c2cc6>] out_of_memory+0x4b6/0x4f0
[Fri Jul 23 00:02:22 2021] Out of memory: Kill process 31015 (tik

[2021-07-23 05:58] BusyJay opened #10618 "Support physically rollback"
## Feature Request

### Is your feature request related to a problem? Please describe:
TiKV support [synchronous replication][1] between 2 DC by commit group. It will change to asynchronous replication when there is a long time isolation. But in asynchronous replication, transactions are not replicated atomically, so if primary DC crash at that time, secondary DC can't be used to recover data dire

[2021-07-25 09:53] hi-rustin commented on #10182
@overvenus Can you help provide more guidance please? At the moment I'm not quite sure how we should validate it? It looks like we can get the cluster id from the header, but how do I verify it? Also, how can I reproduce it?

[2021-07-26 02:29] zhouqiang-cl commented on #10448
happends again in https://ci.pingcap.net/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/4832/pipeline

[2021-07-26 07:55] gengliqi commented on #10513
It's caused by a slow disk.
[code]
The time of generating snapshot is too long. I think maybe we can ignore this failure if the frequency is very low.

[2021-07-26 08:38] #10514 closed

[2021-07-26 08:46] Lily2025 commented on #10595
/severity major

[2021-07-26 09:57] marsishandsome opened #10628 "Improve the metrics `Total Keys` in `RocksDB - kv` to make it more accurate"
### Enhancement
Currently, the metrics Total Keys in RocksDB - kv is not very accurate.
We should improve it's accuracy.

[2021-07-26 10:08] Little-Wallace commented on #10628
I have checked the code and found that this value is calculate by the method `VersionStorageInfo::GetEstimatedActiveKeys`. It is not an accurately value. But we can report this metric by another interface method `get_properties_of_tables_in_range`. However `get_properties_of_tables_in_range` will acquire the mutex of RocksDB and calculate the property of every file. Maybe we shall optimize the per

[2021-07-26 10:08] Little-Wallace commented on #10628
cc @yiwu-arbug

[2021-07-26 14:28] zhongzc commented on #10608
It seems to be a bug. Can you provide more information about your environment and the version of TiKV?

[2021-07-27 02:59] yiwu-arbug commented on #10628
@marsishandsome how useful is this metrics? I worry about the extra mutex lock overhead of `get_properties_of_tables_in_range`.

[2021-07-27 08:49] #10448 closed

[2021-07-27 08:50] #10446 closed

[2021-07-27 08:50] Little-Wallace commented on #10628
We need to know the accurately number of the total keys, so that we can decide how much data we have imported to TiKV.

[2021-07-28 05:30] tisonkun commented on #10540
@gengliqi @innerr shall we schedule pushing the design to [tikv/rfcs](https://github.com/tikv/rfcs)?

[2021-07-28 11:42] gengliqi commented on #10540
Not yet. We have a design doc(in chinese) about analyzing the benefits of asynchronous io for raftstore. But it lacks of some implementation details, For now, I am busy with merging PRs in master and doing tests. I will translate the design doc to english after getting these things done.

[2021-07-29 06:32] zhouqiang-cl commented on #10584
happend again in https://ci.pingcap.net/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/4983/pipeline

[2021-07-29 06:34] zhouqiang-cl commented on #7526
happend again in https://ci.pingcap.net/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/4973/pipeline

[2021-07-29 06:36] zhouqiang-cl opened #10639 "Unstable test `server::raft_client::test_tombstone_block_list`"
## Bug Report

[code]
### What version of TiKV are you using?

### What operating system and CPU are you using?

### Steps to reproduce

in ci https://ci.pingcap.net/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/4938/pipeline

### What did you expect?

### What did happened?

[2021-07-29 07:03] hicqu commented on #10639
@BusyJay would you mind to take a look?

[2021-07-29 07:13] Little-Wallace opened #10641 "Refactor gc_worker with tikv_util/worker"
## Feature Request

### Is your feature request related to a problem? Please describe:

Now we use two thread for gc_worker and gc_manager.  But in actually,  gc manager does not cost much CPU, we can merge them into one thread.

### Describe the feature you'd like:

 I hope most of threads in TiKV shall be implemented with `tikv_util::worker::pool::Worker` so that someday we may merge some thread

[2021-07-29 07:23] Xuanwo commented on #10641
I am very interested in this project and I will first take the time to understand the existing logic!

[2021-07-29 09:48] overvenus opened #10645 "Support changing CDC related configs dynamically"
## Feature Request

### Is your feature request related to a problem? Please describe:

Support changing CDC configs dynamically via SQL. https://docs.pingcap.com/tidb/stable/dynamic-config

Example:
https://github.com/tikv/tikv/blob/3f0c72a389b4987c27b3dc42d8931a7ecaff9638/components/server/src/server.rs#L759-L762

TiCDC also need a config manager to update its config.

[2021-07-29 09:57] overvenus commented on #10645
PTAL @hi-rustin

[2021-07-29 09:59] hi-rustin commented on #10645
/assign

I will take a look.

[2021-07-29 10:11] overvenus commented on #10182
Yes, cluster id is attached in the header.

You can add a new field (cluster_id) in `Service`. TiKV validates a request when TiKV receives it in `event_feed` gRPC handler.

https://github.com/tikv/tikv/blob/3f0c72a389b4987c27b3dc42d8931a7ecaff9638/components/cdc/src/service.rs#L275-L280

I think adding a unit test that covers it is enough. It is not necessary to reproduce it in a real cluster.

[2021-07-29 21:57] #10068 closed

[2021-07-29 22:25] #10548 closed

[2021-07-30 05:33] gengliqi commented on #10595
I think it's not a problem because this operation should be forbidden.
The remove-single-node configuration change relies on the condition that the number of Cnew peers must be greater than the majority of Cold otherwise the peers in Cold can not be available as you said. We can calculate the minimum number that meets this condition is 3.

[2021-07-30 06:24] Xuanwo commented on #10641
Roadmap after offline nigotiation:

- [ ] Repalce `futuer::Worker` with `pool::Worker`
- [ ] Take down `GcManager`

[2021-07-30 06:41] NingLin-P commented on #10595
I think currently such operation is not forbidden and the problem still exists. As the abovementioned three conditions, together they lead to this case if we can fix any one of them the case is fixed. Preventing remove voters directly (perhaps like joint `confchange` that turn the voter to learner first then remove it) in a 2 replica raft group could fix condition 2 hence fix the case.

[2021-08-01 07:47] Xuanwo commented on #10641
For Takedown `GcManager`, we need more details for the methods.

[2021-08-02 05:40] slow-zhang commented on #10608
thanks for the quick reply. we use ti-operator setup a v4.0.9 tikv+pd. here is the tikv config

[code]

[2021-08-02 08:25] marsishandsome opened #10655 "TiKV server support region split and ingest for RawKV"
https://github.com/tikv/tikv/pull/10524
https://github.com/pingcap/kvproto/pull/779

[2021-08-02 08:25] #10655 closed

[2021-08-03 07:40] hicqu commented on #10580
The reason is deploying 2 TiKV instance on 1 machine but block-cache is not adjusted correctly.

[2021-08-03 07:40] #10580 closed

[2021-08-03 07:47] youjiali1995 opened #10658 "Fail to profile TiKV in aarch64"
## Bug Report

### What version of TiKV are you using?

TiKV v5.1.0
tiup v1.5.2
libgcc_s-7.3.0-20190804.so.1

### What operating system and CPU are you using?

[code]
[code]

### Steps to reproduce

Run a TiKV and use the http API to profile it.

### What did you expect?
Succeed in profiling.

### What did happened?

TiKV cores dump.
[code]

[2021-08-03 07:49] #10460 closed

[2021-08-03 07:49] youjiali1995 commented on #10658
cc @YangKeao

[2021-08-03 08:05] Connor1996 commented on #10628
Have the same concern, accurate number of the total keys doesn't give useful information.

[2021-08-03 08:16] Connor1996 opened #10659 "IOType is not set correctly for receving snapshot"
## Bug Report

### What version of TiKV are you using?

master

### What operating system and CPU are you using?

Unrelated

### Steps to reproduce

Unrelated

### What did you expect?
`IOType` is set correctly

### What did happened?

the `IOType` thread local is set and unset at the begin and end of lifetime of `RecvSnapContext`, whereas, the context is used in a future. So the process of receiv

[2021-08-03 08:17] Connor1996 commented on #10659
/cc @tabokie

[2021-08-03 11:08] Lily2025 commented on #10658
/severity major

[2021-08-04 03:55] kururuken commented on #5751
Hi team. Looking for an entry point to contribute to the project. Is this list of tasks still good for beginner?

[2021-08-04 09:14] Xuanwo commented on #10641
@Little-Wallace Hi, is there any advice for keeping this task going further?

[2021-08-04 09:44] Little-Wallace commented on #10641
I think we shall merge the `GcManagerContext`,`GcManager` , `GcWorker` and `GcRunner` into two module.
A `GcManager` holder `GcManagerContext` and `Worker<GcTask>` . `GcRunner` will run in worker of `GcManager`.

[2021-08-04 09:47] Little-Wallace commented on #10641
You can see some change in https://github.com/tikv/tikv/pull/8989/files. But not all of it are suitable. I think `server.rs` shall never hold an object named `GcWorker`. It is only hold an object `Arc<GcManager>` and most interface of `GcWorker` will move to `GcManager`.

[2021-08-04 09:53] Little-Wallace commented on #10641
At first, you can keep `GcManager` and `GcWorker` but just cancel the thread in `GcManager`.  You can see that the `Worker` has supplied a method named `on_timeout` which means that you can do something in period.  So we can just set a period task, every time refresh the safe point just like what TiKV currently does in `GcManager::wait_for_next_safe_point`.

[2021-08-04 09:55] Little-Wallace commented on #10641
Then we can move the method `gc_a_round` to `GcRunner` and just replace `GcManager::sync_gc` with the method `GcRunner::gc`

[2021-08-04 14:09] tier-cap opened #10663 "*: RocksDB Delete operation does not reclaim space as what we want when disk usage is very high"
## Bug Report
When disk usage is very high, we cannot reclaim as much space as we want by delete from table operations.

### What version of TiKV are you using?
Newest

### Steps to reproduce
1.  Loading data as much as disk capicity.
2. Store loading, and try to execute delete from table.
3. disk space not reclaim so much space in a little longer time.

### What did you expect?
When disk usage is

[2021-08-04 14:12] tier-cap opened #10665 "*: TiKV should stop the sst import when disk usage is very high"
## Bug Report

### What version of TiKV are you using?

### Steps to reproduce

### What did you expect?

[2021-08-05 05:57] sticnarf commented on #10658
I can reproduce it on my own ARM server:

[code]

Hopefully this provides some more debug information.

It seems to go into the no dwarf info routine at:https://github.com/gcc-mirror/gcc/blob/releases/gcc-7.3.0/libgcc/unwind-dw2.c#L1257, and the pc is not correct:https://github.com/gcc-mirror/gcc/blob/releases/gcc-7.3.0/libgcc/config/aarch64/linux-unwind.h#L63

This is quite like https://github.co

[2021-08-05 08:01] hi-rustin commented on #10645
/difficulty medium

[2021-08-05 20:01] brson commented on #9844
https://github.com/brson/tikv/tree/agatedb-engine is rebased against master

[2021-08-06 08:24] marsishandsome commented on #10563
here https://github.com/tikv/rfcs/pull/72

[2021-08-06 08:24] marsishandsome commented on #10563
done

[2021-08-06 12:38] BusyJay opened #10680 "L0 files are not fully respected when using ingest deletion"
## Bug Report

### What version of TiKV are you using?
v5.1.1

### What operating system and CPU are you using?
Linux

### Steps to reproduce
I didn't reproduce the problem, but I can see the problem in a production cluster. It seems keep inserting with large schedule limit should be able to reproduce the issue.

### What did you expect?
TiKV can keep accepting requests.

### What did happened?
Wr

[2021-08-08 14:43] #10137 closed

[2021-08-09 01:33] zhouqiang-cl opened #10682 "Unstable test `test_register::test_deregister_pending_downstream`"
## Bug Report

in ci https://ci.pingcap.net/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/5578/pipeline

### What version of TiKV are you using?

### What operating system and CPU are you using?

### Steps to reproduce

### What did you expect?

### What did happened?

[2021-08-09 04:00] Lily2025 opened #10683 "raftstore.raft-max-inflight-msgs can not support query through show config"
## Bug Report

### What version of TiKV are you using?
v5.1.1

### What operating system and CPU are you using?
centos
4 cores
8m memery

### Steps to reproduce
MySQL [(none)]> show config where name = 'raftstore.raft-max-inflight-msgs';
Empty set (0.01 sec)

### What did you expect?
raftstore.raft-max-inflight-msgs can be query through show config

### What did happened?
raftstore.raft-max-inflig

[2021-08-09 04:01] Lily2025 commented on #10683
/severity Minor

[2021-08-09 04:01] Lily2025 commented on #10683
/type bug

[2021-08-09 05:09] #10645 closed

[2021-08-09 08:35] cosven opened #10688 "tikv panic with "no such file or directory" when disk space is not enough"
## Bug Report

### What version of TiKV are you using?
[code]

### What operating system and CPU are you using?

### Steps to reproduce

1. disk full and tikv restart repeatly with error log
[code]
2. remove the space_hodler_file manually

### What did you expect?

Don't know. Maybe restart with some error message, instead of panic with "No such file or directory".

### What did happened?
1. tikv

[2021-08-09 08:48] cosven commented on #10688
/type bug

[2021-08-09 10:15] YangKeao commented on #10658
I guass the problem is that `backtrace-rs` cannot handle an ARM signal frame.Some related comments are found in [rustc](https://github.com/rust-lang/rust/blob/master/library/panic_unwind/src/gcc.rs#L205-L207 ).

[2021-08-10 01:08] Lily2025 opened #10694 "After upgrading from 5.1.0 to the 5.2.0 master, run sysbench insert and query，some tikv crash repeatedly"
## Bug Report

### What version of TiKV are you using?
| Release Version: v5.2.0-alpha-545-g30cf15a59
Edition: Community
Git Commit Hash: 30cf15a59db11c34ffe05fc926152a43327eaa61
Git Branch: HEAD
UTC Build Time: 2021-08-08 18:30:45
GoVersion: go1.16.4
Race Enabled: false
TiKV Min Version: v3.0.0-60965b006877ca7234adaced7890d7b029ed1306
Check Table Before Drop: false |

### What operating system an

[2021-08-10 01:08] Lily2025 commented on #10694
/severity major

[2021-08-10 01:08] Lily2025 commented on #10694
/type bug

[2021-08-10 01:11] Lily2025 commented on #10688
/severity major

[2021-08-10 01:13] Lily2025 commented on #10680
/severity Minor

[2021-08-10 03:43] Lily2025 commented on #10694
/severity Critical

[2021-08-10 03:43] Lily2025 commented on #10694
/remove-severity major

[2021-08-10 04:30] hicqu commented on #10694
Seems `block-cache-size` is not configured correctly:
![图片](https://user-images.githubusercontent.com/8407317/128808430-e39ee1bc-5d05-4ae9-8c3a-06ce988096e0.png)

[2021-08-10 08:52] hicqu commented on #10694
@Lily2025 thanks for your report! It's a bug. I will fix it later.

[2021-08-10 09:18] zhongzc opened #10697 "Strict comparison of `f32` or `f64` is reported by clippy"
## Description

Run `make clippy` on 131ebe39b956ee3151e6752d4597ac2639bc1421 then get following warnings:

[code]

## Tasks

- Clean those warnings

## Score

- 50

## Mentor

- @zhongzc

## Recommended Skills
- Basic Rust

[2021-08-10 09:20] jackwener commented on #10697
/pick-up

[2021-08-10 10:01] tier-cap opened #10698 "Is TiKV reserved storage space hidden or exposed?"
## Question

TiKV implements two-level threshold protection for storage stability issues to avoid storage crashes and crashes. When the threshold is triggered, service availability drops. Should the threshold space at this time be exposed to operation and maintenance, or should it be hidden?
The current change point is that the Cloud platform alarm module has changed from independent storage monit

[2021-08-11 03:21] Lily2025 opened #10701 "【v5.2.0】run sysbench insert abort 40min，one tikv oom"
## Bug Report

### What version of TiKV are you using?
[root@centos76_vm bin]# ./tikv-server -V
TiKV
Release Version:   5.1.0-alpha
Edition:           Community
Git Commit Hash:   d78394cb8dcc3e55a53d34378253a0888d26b438
Git Commit Branch: heads/refs/tags/v5.2.0
UTC Build Time:    2021-08-09 12:08:07
Rust Version:      rustc 1.56.0-nightly (2faabf579 2021-07-27)
Enable Features:   jemalloc mem-pro

[2021-08-11 03:21] Lily2025 commented on #10701
/severity major

[2021-08-11 03:29] #10697 closed

[2021-08-11 04:10] Lily2025 commented on #10701
/assign hicqu

[2021-08-11 04:23] Lily2025 opened #10702 "after two tikv restart， The “Max Resolved TS gap” display is unreasonable"
## Bug Report

### What version of TiKV are you using?
Release Version:   5.1.0-alpha
Edition:           Community
Git Commit Hash:   d78394cb8dcc3e55a53d34378253a0888d26b438
Git Commit Branch: heads/refs/tags/v5.2.0
UTC Build Time:    2021-08-09 12:08:07
Rust Version:      rustc 1.56.0-nightly (2faabf579 2021-07-27)
Enable Features:   jemalloc mem-profiling portable sse protobuf-codec test-engine

[2021-08-11 04:24] Lily2025 commented on #10702
/assign NingLin-P

[2021-08-11 05:15] hicqu commented on #10701
![图片](https://user-images.githubusercontent.com/8407317/128973069-a801f9f4-c9e9-4750-b736-a454e7047830.png)
![图片](https://user-images.githubusercontent.com/8407317/128973127-905a5dd6-bfe9-4388-99b2-e9420f44d998.png)
From metrics we can't see any components with an abnormal memory usage. I guess it's caused by some new introduced components, they are not traced by the current mem-tracing mechanism.

[2021-08-11 05:30] Lily2025 commented on #10683
/assign NingLin-P

[2021-08-12 00:17] Lily2025 commented on #10701
/type bug

[2021-08-12 03:48] Lily2025 opened #10708 "After the disk is full, create table、drop table、truncate table operators are all stuck，and no any prompt message"
## Bug Report

### What version of TiKV are you using?
[root@centos76_vm bin]# ./tikv-server -V
TiKV
Release Version: 5.1.0-alpha
Edition: Community
Git Commit Hash: d78394c
Git Commit Branch: heads/refs/tags/v5.2.0
UTC Build Time: 2021-08-09 12:08:07
Rust Version: rustc 1.56.0-nightly (2faabf579 2021-07-27)
Enable Features: jemalloc mem-profiling portable sse protobuf-codec test-engines-rocksdb c

[2021-08-12 03:48] Lily2025 commented on #10708
/type bug

[2021-08-12 03:48] Lily2025 commented on #10708
/severity Critical

[2021-08-12 05:01] Lily2025 commented on #10708
/assign tier-cap

[2021-08-12 05:13] tier-cap commented on #10708
The latest version will failed to drop table when tikv is disk full.
It has already been fixed, and pr is reviewing. https://github.com/tikv/tikv/pull/10693

[2021-08-12 09:19] Little-Wallace commented on #10438
I will explain what cause this bug:

- at time t0, the leader of region1 submitted a `SplitRequest` to every followers. And most of them responses this submission so that leader committed this request.
- at time t1, the leader applied this request, and it splitted into two regions (region1 and region2). But one of the follower in store3 was so busy that it could not apply this request. We defined

[2021-08-12 10:25] #10694 closed

[2021-08-12 11:02] seiya-annie opened #10714 "4.0.12 upgrade to 5.2.0, can't find "Flow Control" dashboard in grafana"
## Bug Report

5.2.0 pre version on staging mirror
tiup upgrade to 5.2.0 version from 4.0.12, and check new added dashboard in grafana。
but can't find "Flow Control" dashboard in "tikv-details"

d78394cb8dcc3e55a53d34378253a0888d26b438

[2021-08-12 12:04] gengliqi opened #10716 "Performance regression due to disk full option for cmd batch"
## Bug Report

### What version of TiKV are you using?
master

### What operating system and CPU are you using?
doesn't matter

### Steps to reproduce
run sysbench insert workload

### What did you expect?
no performance regression

### What did happened?
performance regression

https://github.com/tikv/tikv/blob/834ec1108d85623b2b19b00df2fa8e1359c726b6/components/raftstore/src/store/fsm/peer.rs#L5

[2021-08-12 12:05] gengliqi commented on #10716
@hicqu @tier-cap PTAL, this issue is very urgent.

[2021-08-12 12:07] #10714 closed

[2021-08-12 18:51] adamotonete opened #10723 "Add field to leader changed logs on tikv"
## Feature Request

### Is your feature request related to a problem? Please describe:
When leader is changed, the pd logs will  record from which store the leader was moved from and to:
As below:

`[2021/08/09 14:18:44.429 +00:00] [INFO] [cluster.go:625] ["leader changed"] [region-id=1232323] [from=1] [to=2]
`
### Describe the feature you'd like:
We would like to suggest adding the reason for the

[2021-08-12 18:54] adamotonete commented on #10723
Wrong component, I will re-open on PD.

[2021-08-12 19:12] adamotonete commented on #10723
@yiwu-arbug

[2021-08-13 08:51] Lily2025 opened #10728 "TiKV oom when inject bandwidth limit"
## Bug Report

### What version of TiKV are you using?
[root@copy-of-vm-ee-centos76-v1 bin]# ./tikv-server -V
TiKV
Release Version:   5.1.0-alpha
Edition:           Community
Git Commit Hash:   d78394cb8dcc3e55a53d34378253a0888d26b438
Git Commit Branch: heads/refs/tags/v5.2.0
UTC Build Time:    2021-08-09 12:08:07
Rust Version:      rustc 1.56.0-nightly (2faabf579 2021-07-27)
Enable Features:   je

[2021-08-13 08:51] Lily2025 commented on #10728
/type bug

[2021-08-13 08:51] Lily2025 commented on #10728
/severity major

[2021-08-13 08:52] Lily2025 commented on #10728
/assign hicqu

[2021-08-13 10:31] #10716 closed

[2021-08-13 10:54] Lily2025 opened #10730 "After a slow node appears, QPS resumes in 13 minutes"
## Bug Report

### What version of TiKV are you using?
[root@copy-of-vm-ee-centos76-v1 bin]# ./tikv-server -V
TiKV
Release Version: 5.1.0-alpha
Edition: Community
Git Commit Hash: d78394c
Git Commit Branch: heads/refs/tags/v5.2.0
UTC Build Time: 2021-08-09 12:08:07
Rust Version: rustc 1.56.0-nightly (2faabf579 2021-07-27)
Enable Features: jemalloc mem-profiling portable sse protobuf-codec test-eng

[2021-08-13 10:55] Lily2025 commented on #10730
/assign 5kbpers

[2021-08-13 14:46] tier-cap opened #10731 "*: Another drop table blocked problem when tikv is disk full"
## Bug Report

### What version of TiKV are you using?
V5.2.0 closed disk full feature

### Steps to reproduce
1. Tiup deploys 3 nodes cluster.
2. Push data until TiKV disk full happens.
3. Exec drop table, then blocked.

### What did you expect?
can drop table.

### What did happened?
drop table blocked.

### Other Info
Before drop table, I have send a sql "create database test1;" which should be

[2021-08-14 15:20] jackwener commented on #10381
I am willing to take this task up.

[2021-08-14 15:20] jackwener commented on #10381
/assign

[2021-08-15 00:28] Lily2025 commented on #10701
/type bug

[2021-08-15 00:28] Lily2025 commented on #10701
/severity Minor

[2021-08-15 00:30] Lily2025 commented on #10702
/type bug

[2021-08-15 00:32] Lily2025 commented on #10702
/severity Minor

[2021-08-15 04:06] Xuanwo commented on #10641
## Progress Report at 2021-08-15

Hi, I'm busy with my work last two weeks. I'm reading the logic about `GcManager` and `GcWorker` for now.

In the next two weeks, I will try to cancel the thread in `GcManager` first.

[2021-08-15 05:10] Xuanwo commented on #10641
I tried following methods:

- Implement a `RunnableWithTimer` Task called `UpdateSafePointTask`, but I can't schedule it in `GcManager`, because our `task_scheduler` only accept `GcTask`.
- Add new task type in `GcTask`, we need to add `S: GcSafePointProvider, R: RegionInfoProvider + 'static, E: KvEngine` for GcTask, It's too complex.
- Add `GcSafePointProvider` or `AutoGcConfig` in `GcRunner` dir

[2021-08-15 12:28] yuqi1129 opened #10734 "Fix Clippy warnings about rule new_without_default"
## Development Task
This is a subtask of [Fix Clippy warnings ](https://github.com/tikv/tikv/issues/8336) and this PR only care about the new_without_default issues, more about rule new_without_default see https://rust-lang.github.io/rust-clippy/master/index.html#new_without_default

[2021-08-16 03:22] nolouch opened #10736 "Report CPU usage to PD with the heartbeat"
## Backgroup
After https://github.com/tikv/tikv/pull/10155, we can collect the CPU usage with specific a tag. here is required to record the CPU usage for each region and report to PD.  It's helpful for PD schedule strategy, and also we can add a CPU dimension
for key visual.

## Development Task

- [ ] collect CPU usage for each region
- [ ] report to PD with the heartbeat, add CPU dimension for

[2021-08-16 03:23] nolouch commented on #10736
@JmPotato would you like to take a look?

[2021-08-16 03:24] Lily2025 opened #10737 "After a slow node appears, the alarm that prompts the user to open the slow node processing is not generated"
## Bug Report

### What version of TiKV are you using?
TiKV
Release Version: 5.1.0-alpha
Edition: Community
Git Commit Hash: d78394c
Git Commit Branch: heads/refs/tags/v5.2.0
UTC Build Time: 2021-08-09 12:08:07
Rust Version: rustc 1.56.0-nightly (2faabf579 2021-07-27)
Enable Features: jemalloc mem-profiling portable sse protobuf-codec test-engines-rocksdb cloud-aws cloud-gcp
Profile: dist_release

[2021-08-16 03:24] JmPotato commented on #10736
I will take this task. /cc JmPotato

[2021-08-16 03:24] Lily2025 commented on #10737
/type bug

[2021-08-16 03:25] JmPotato commented on #10736
/assign JmPotato

[2021-08-16 03:25] Lily2025 commented on #10737
/severity major

[2021-08-16 03:25] Lily2025 commented on #10737
/assign 5kbpers

[2021-08-16 03:27] #10730 closed

[2021-08-16 03:29] Lily2025 commented on #10730
scheduler do not add
see https://github.com/tikv/tikv/issues/10737

[2021-08-16 03:46] nolouch commented on #10723
It may be difficult to distinguish whether the election of TiKV is due to network problems or slow writing. We may first distinguish between scheduling and others.

[2021-08-16 05:26] yiwu-arbug commented on #10723
make sense. @adamotonete do you think it will help if we can at least tell the leader drop is not due to scheduling?

[2021-08-16 06:25] #10438 closed

[2021-08-16 07:06] Lily2025 opened #10744 "When the business has a hot spot, one node is mistakenly detected as a slow node"
## Bug Report

[root@copy-of-vm-ee-centos76-v1 bin]# ./tikv-server -V
TiKV
Release Version:   5.2.0
Edition:           Community
Git Commit Hash:   d1967b87e7c47c241931fe920965febb4c37ef7f
Git Commit Branch: heads/refs/tags/v5.2.0
UTC Build Time:    2021-08-14 02:02:01
Rust Version:      rustc 1.56.0-nightly (2faabf579 2021-07-27)
Enable Features:   jemalloc mem-profiling portable sse protobuf-cod

[2021-08-16 07:07] Lily2025 commented on #10744
/type bug

[2021-08-16 07:07] Lily2025 commented on #10744
/severity major

[2021-08-16 07:08] Lily2025 commented on #10744
/assign 5kbpers

[2021-08-16 07:22] Lily2025 opened #10745 "When the business has a hot spot, the latency of apply log is too high"
## Bug Report

### What version of TiKV are you using?

TiKV
Release Version: 5.2.0
Edition: Community
Git Commit Hash: d1967b8
Git Commit Branch: heads/refs/tags/v5.2.0
UTC Build Time: 2021-08-14 02:02:01
Rust Version: rustc 1.56.0-nightly (2faabf579 2021-07-27)
Enable Features: jemalloc mem-profiling portable sse protobuf-codec test-engines-rocksdb cloud-aws cloud-gcp
Profile: dist_release

###

[2021-08-16 07:22] Lily2025 commented on #10745
/type bug

[2021-08-16 07:22] Lily2025 commented on #10745
/severity major

[2021-08-16 07:22] Lily2025 commented on #10745
/assign BusyJay

[2021-08-16 09:52] Lily2025 commented on #10492
/assign hicqu

[2021-08-16 09:53] Lily2025 commented on #10688
/assign tier-cap

[2021-08-16 09:54] Lily2025 commented on #10688
/assign  tier-cap

[2021-08-16 09:56] Lily2025 commented on #10731
/type bug

[2021-08-16 09:56] Lily2025 commented on #10731
/severity major

[2021-08-16 12:48] 5kbpers commented on #10737
Should be fixed by https://github.com/tikv/pd/pull/3978

[2021-08-16 15:00] adamotonete commented on #10723
Yes, absolutely any information would help.

[2021-08-17 01:46] Connor1996 opened #10752 "Panic in flow controller"
## Bug Report

### What version of TiKV are you using?

v5.2.0

### Steps to reproduce

Run heavy write workload

### What did you expect?
No panic

### What did happened?
[code]

[2021-08-17 01:58] Lily2025 commented on #10752
/severity major

[2021-08-17 01:59] Lily2025 commented on #10752
/assign Connor1996

[2021-08-17 02:08] tisonkun commented on #10708
@Lily2025 @tier-cap is this bug related to https://github.com/tikv/tikv/issues/10537?

[2021-08-17 06:31] Lily2025 opened #10754 "After a slow node appears, QPS recover is too slow"
## Bug Report

### What version of TiKV are you using?

[root@copy-of-vm-ee-centos76-v1 bin]# ./tikv-server -V
TiKV
Release Version:   5.1.0-alpha
Edition:           Community
Git Commit Hash:   f67aa380277b333a5b879f7837af51a9bd4ee0b8
Git Commit Branch: slow-store-fix-5.2
UTC Build Time:    2021-08-06 06:39:43
Rust Version:      rustc 1.56.0-nightly (2faabf579 2021-07-27)
Enable Features:   jemal

[2021-08-17 06:40] Lily2025 commented on #10754
/type bug

[2021-08-17 06:40] Lily2025 commented on #10754
/severity major

[2021-08-17 06:41] Lily2025 commented on #10754
/assign 5kbpers

[2021-08-17 07:52] Lily2025 opened #10756 "run sysbench update，After a slow node appears, QPS recover is too slow due to detection algorithm"
## Bug Report

### What version of TiKV are you using?
[root@copy-of-vm-ee-centos76-v1 bin]# ./tikv-server -V
TiKV
Release Version: 5.1.0-alpha
Edition: Community
Git Commit Hash: f67aa380277b333a5b879f7837af51a9bd4ee0b8
Git Commit Branch: slow-store-fix-5.2
UTC Build Time: 2021-08-06 06:39:43
Rust Version: rustc 1.56.0-nightly (2faabf579 2021-07-27)
Enable Features: jemalloc mem-profiling portabl

[2021-08-17 07:52] Lily2025 commented on #10756
/type bug

[2021-08-17 07:52] Lily2025 commented on #10756
/severity major

[2021-08-17 07:52] Lily2025 commented on #10756
/assign 5kbpers

[2021-08-17 08:28] #10752 closed

[2021-08-17 08:52] sticnarf commented on #8819
https://ci.pingcap.net/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/6106/pipeline/103
Occurs again.

[2021-08-17 11:28] #10744 closed

[2021-08-17 12:37] Lily2025 opened #10762 "Insert data into single table， after running for a period of time, large region are generated"
## Bug Report

### What version of TiKV are you using?
TiKV
Release Version: 5.1.0-alpha
Edition: Community
Git Commit Hash: f67aa380277b333a5b879f7837af51a9bd4ee0b8
Git Commit Branch: slow-store-fix-5.2
UTC Build Time: 2021-08-06 06:39:43
Rust Version: rustc 1.56.0-nightly (2faabf579 2021-07-27)
Enable Features: jemalloc mem-profiling portable sse protobuf-codec test-engines-rocksdb cloud-aws clo

[2021-08-17 12:37] Lily2025 commented on #10762
/assign BusyJay

[2021-08-17 12:55] BusyJay commented on #10762
@hicqu can you take a look to check if it's a fixed issue?

[2021-08-18 03:26] #10381 closed

[2021-08-18 04:43] Lily2025 commented on #10701
/remove-severity Minor

[2021-08-18 12:26] hicqu commented on #10762
There is a bug about calculating approximate keys and size for a region:
[code]

I will fix it later.

[2021-08-18 16:18] nolouch opened #10772 "region cannot be INTEGRITY_OVER_LABEL in dr-auto-sync"
## Bug Report

### What version of TiKV are you using?
5.2 release branch

### Steps to reproduce

manually PD leader transfer during async, and then recover the network.
### What did you expect?
async-> sync-recover -> sync

### What did happened?
async-> sync-recover(blocking)
and found some regions blocking with SIMPLE_MAJORITY. such as :
[code]

[code]
details log about this region:
[store81_1

[2021-08-18 23:54] yiwu-arbug opened #10774 "TiKV with Titan got read failure and panic after upgrade from v3.x"
## Bug Report

### What version of TiKV are you using?
TiKV with Titan enabled upgrade from 3.x versions to >=4.0 versions.

### What operating system and CPU are you using?
N/A

### Steps to reproduce
TiKV with Titan enabled upgrade from 3.x versions to >=4.0 versions.

### What did you expect?
no failure

### What did happened?
On cluster with Titan enabled from pre-4.0 versions, upgrade to >=4.

[2021-08-19 03:08] yiwu-arbug commented on #10774
Titan fix: https://github.com/tikv/titan/pull/221

[2021-08-19 04:07] yiwu-arbug commented on #10774
Update: Titan user can hit the issue after upgrading from 3.x and 4.x to 5.x, but only those cluster enabled Titan and upgraded from 3.x can hit the issue.

[2021-08-19 05:17] fubinzh opened #10777 "tikv (8u 16G, HDD) OOM during lightning import"
## Bug Report

### What version of TiKV are you using?
[root@CentOS76_VM bin]# ./tikv-server -V
TiKV
Release Version:   5.2.0
Edition:           Community
Git Commit Hash:   d1967b87e7c47c241931fe920965febb4c37ef7f
Git Commit Branch: heads/refs/tags/v5.2.0
UTC Build Time:    2021-08-14 02:02:01
Rust Version:      rustc 1.56.0-nightly (2faabf579 2021-07-27)
Enable Features:   jemalloc mem-profiling

[2021-08-19 05:20] fubinzh commented on #10777
Logs can be found at: http://minio.pingcap.net:9000/minio/nfs/logs/tikv_oom/

[2021-08-19 06:06] tisonkun commented on #10777
/assign @tisonkun

[2021-08-19 06:06] tisonkun commented on #10777
/unassign @tisonkun

[2021-08-19 06:08] #10774 closed

[2021-08-19 06:08] mayjiang0203 commented on #10772
/severity major
/assign @nolouch

[2021-08-19 06:09] mayjiang0203 commented on #10772
Some of region stay in SIMPLE_MAJORITY even pd work in sync mode.
[2021/08/19 14:04:51.975 +08:00] [INFO] [pdutil.go:254] ["No need to wait to recover to sync,cur stat:sync"]
[2021/08/19 14:04:52.154 +08:00] [WARN] [pdutil.go:364] ["There are 7 regions not in expected status."]
[2021/08/19 14:04:52.154 +08:00] [WARN] [pdutil.go:365] ["Regions stay not in expected status:NTEGRITY_OVER_LABEL|UNKOWN

[2021-08-19 07:08] Lily2025 commented on #10701
/remove-severity major

[2021-08-19 07:08] Lily2025 commented on #10701
/severity Critical

[2021-08-19 08:18] #10734 closed

[2021-08-19 12:22] #10680 closed

[2021-08-19 13:20] BusyJay opened #10783 "Cache `RaftCmdRequest` along with entry"
## Feature Request

### Is your feature request related to a problem? Please describe:
I can see some CPU (about 10% of total apply CPU) of apply worker is consumed by decoding `RaftCmdRequest`.

### Describe the feature you'd like:
We already cache the entry data, which is useful when broadcasting entries to followers. We can also cache the `RaftCmdRequest` along with the data. This can reduce so

[2021-08-20 02:06] hicqu commented on #10701
Can't reproduce with a cluster with 4C 8GB 3 TiKVs:
![图片](https://user-images.githubusercontent.com/8407317/130167822-05adb113-554b-4f38-8068-8b0d8638a446.png)

[2021-08-20 03:34] dzwinning opened #10788 "how a secondary index works"
## Question

let's say we have a table like:uid,phone, uid is primary key, and phone is secondary index, so we have key-value pairs like:
uid->phone
phone->uid

a row is inserted into the table:
insert into table values (20, 180123)；

let's assume that the row is writed to memtable, but not sstable yet

at the same time, there is a query like:
select * from table where phone=180123;

question:
how

[2021-08-20 06:12] Lily2025 opened #10790 "add troubleshooting case description for insert or update slow in user doc"
## Bug Report

### What version of TiKV are you using?
v5.1.0
https://internal.pingcap.net/jira/browse/ONCALL-3457

### What operating system and CPU are you using?
https://internal.pingcap.net/jira/browse/ONCALL-3457

### Steps to reproduce
see the oncall

### What did you expect?
when oncall issue happen，customer or DBA can troubleshoot the problem themselves by looking at the documentation，and

[2021-08-20 06:14] Lily2025 commented on #10790
/assign BusyJay

[2021-08-20 06:56] Lily2025 commented on #10790
another issue
https://github.com/tikv/tikv/issues/9714

[2021-08-20 06:56] #10790 closed

[2021-08-20 07:47] Abingcbc commented on #9778
Related PRs:
https://github.com/Abingcbc/bulk-loader/pull/1
https://github.com/Abingcbc/bulk-loader/pull/2
https://github.com/Abingcbc/bulk-loader/pull/3
https://github.com/tikv/client-java/pull/254

[2021-08-20 10:10] andylokandy opened #10793 "Use StructOpt in tikv-ctl"
## Development Task

Refactor `https://github.com/tikv/tikv/blob/master/cmd/tikv-ctl/src/main.rs` by using [`structopt`](https://docs.rs/structopt/0.3.22/structopt/#subcommands).

[2021-08-22 15:24] liangyuanpeng commented on #8642
I wonder is this possible?

[2021-08-23 04:22] blacktear23 opened #10799 "TiKV crash when doing pressure test by client-go"
## Bug Report

### What version of TiKV are you using?

tikv version

[code]

pd version

[code]

### What operating system and CPU are you using?

Mac Book

### Steps to reproduce

testing code:

[code]

### What did you expect?

Test program execute success

### What did happened?

When test program execute after some seconds, TiKV crash with error:

[code]

[2021-08-23 04:58] andylokandy commented on #10799
cc @iosmanthus @disksing

[2021-08-23 08:17] sunxiaoguang commented on #8944
Hi @breeswish , is this issue valid and available for people to start working on?

[2021-08-23 08:19] sunxiaoguang commented on #8942
Hi @breeswish , is this issue valid for other people to work on?

[2021-08-23 08:46] sunxiaoguang commented on #6467
@breeswish can we close this issue now?

[2021-08-23 08:56] tier-cap opened #10801 "*:Expansion fails when TiKV is disk full"
## Bug Report

### What version of TiKV are you using?
Release Version:   5.1.0-alpha
Edition:           Community
Git Commit Hash:   ff3363616cd26fd05978a219f38b26f4cb4f8f45
Git Commit Branch: release-5.2
UTC Build Time:    2021-08-16 12:37:48
Rust Version:      rustc 1.56.0-nightly (2faabf579 2021-07-27)
Enable Features:   jemalloc mem-profiling portable sse protobuf-codec test-engines-rocksdb c

[2021-08-23 14:47] sunxiaoguang commented on #6501
Looks like this feature was implemented recently. We can close it if I'm not wrong.

<img width="475" alt="image" src="https://user-images.githubusercontent.com/3982329/130467666-d6d9018c-f214-4de3-aecf-6d0a8e09e47b.png">

PTAL @yiwu-arbug

[2021-08-23 14:54] sunxiaoguang commented on #8062
Hi @breeswish, looks like this feature was implemented last year. Would you mind double check and close this issue if I'm not wrong.

<img width="977" alt="image" src="https://user-images.githubusercontent.com/3982329/130469167-5c94a9d7-78ee-46c9-8207-4abb69015322.png">

[2021-08-23 15:38] BusyJay commented on #6183
We may need a benchmark to see how it performs when hashing numbers as raft-rs uses fxhash mainly for peer id.

[2021-08-23 15:42] sunxiaoguang commented on #6183
Totally agree.

[2021-08-23 21:20] yiwu-arbug commented on #6501
@sunxiaoguang thanks for notice. closing.

[2021-08-23 21:20] #6501 closed

[2021-08-24 07:30] Lily2025 opened #10803 "truncate table during running sysbench insert，one tikv panic four times"
## Bug Report

### What version of TiKV are you using?
TiKV
Release Version:   5.2.0
Edition:           Community
Git Commit Hash:   dbefa5ec66ccb4cb0cfeef3ad05d5932da2aeb36
Git Commit Branch: heads/refs/tags/v5.2.0
UTC Build Time:    2021-08-23 16:05:41
Rust Version:      rustc 1.56.0-nightly (2faabf579 2021-07-27)
Enable Features:   jemalloc mem-profiling portable sse protobuf-codec test-engines

[2021-08-24 07:32] Lily2025 commented on #10803
/assign hicqu

[2021-08-24 08:24] zz-jason commented on #10788
The "index" concept is on the TiDB side. An index is also stored in key-value pairs in TiDB. You can take [TiDB encoding rules](https://docs.pingcap.com/tidb/stable/troubleshoot-hot-spot-issues#tidb-encoding-rules) for details.

To utilize the secondary index, TiDB firstly scans the index key-value pairs, then looks up the table key-value pairs based on the result of the index key-value pairs.

[2021-08-24 10:28] BusyJay opened #10808 "aborted connection doesn't show error in error dashboard"
## Bug Report

### What version of TiKV are you using?
v5.0, also probably master

### What operating system and CPU are you using?
Doesn't matter.

### Steps to reproduce
I don't have steps to reproduce. What I have observed is I can see a connection is aborted in logs, but see nothing in graph "Server report failures".

### What did you expect?
"Server report failures" should show all connection

[2021-08-24 10:58] #10507 closed

[2021-08-24 13:09] peng1999 commented on #10793
/assign

[2021-08-25 01:55] dzwinning commented on #10788
“An index is also stored in key-value pairs in TiDB.”very helpful！！thank you so much！

[2021-08-25 01:55] #10788 closed

[2021-08-25 03:27] jackwener commented on #8944
/assign

[2021-08-25 04:13] jackwener commented on #8942
/assign

[2021-08-25 04:41] BusyJay opened #10813 "corrupted snapshot can prevent snapshot files gc"
## Bug Report

### What version of TiKV are you using?
v3.0.8

### What operating system and CPU are you using?
Doesn't matter.

### Steps to reproduce
Some of snapshot files get deleted after received, so the snapshot is corrupted. And the peer is deleted before applying snapshot.

### What did you expect?
Corrupted snapshot will be deleted in the end.

### What did happened?
Store fails to delet

[2021-08-25 04:42] BusyJay commented on #10813
/cc @hicqu

[2021-08-25 04:43] BusyJay commented on #10813
/asssign @tonyxuqqi

[2021-08-25 05:15] hicqu commented on #10701
I have located the root cause. It's because of auto analyze. Here is a test log about analyze:
[code]

For a full sampling response, about 22M memory will be consumed. So if there are more than 50 Regions are performing analyze, memory usage can increase about 1GB, which can lead OOM on a 4C 8G TiKV instance.

[2021-08-25 06:01] Lily2025 commented on #10813
/severity major

[2021-08-25 06:08] hicqu commented on #10801
Is there any progress for investigating the reason?

[2021-08-25 06:29] tier-cap opened #10819 "*:Read failed when tikv is disk full"
## Bug Report

### What version of TiKV are you using?
Release Version:   5.1.0-alpha
Edition:           Community
Git Commit Hash:   ff3363616cd26fd05978a219f38b26f4cb4f8f45
Git Commit Branch: release-5.2
UTC Build Time:    2021-08-16 12:37:48
Rust Version:      rustc 1.56.0-nightly (2faabf579 2021-07-27)
Enable Features:   jemalloc mem-profiling portable sse protobuf-codec test-engines-rocksdb c

[2021-08-25 09:24] #10584 closed

[2021-08-25 10:05] hicqu commented on #10762
The PR #10776 is trying to fix a unexist problem. I will close it.
So back to the issue, seems it can only be the range is cleaned by `delete_files_in_range` after `add_checker` checks.

[2021-08-25 10:48] #10772 closed

[2021-08-26 03:49] Lily2025 opened #10832 "rocksdb background error. db: kv, reason: compaction, error: IO error: While appending to file: /var/lib/tikv/data/db/438734.sst: Cannot allocate memory""
## Bug Report

### What version of TiKV are you using?
TiKV
Release Version:   5.2.0
Edition:           Community
Git Commit Hash:   dbefa5ec66ccb4cb0cfeef3ad05d5932da2aeb36
Git Commit Branch: heads/refs/tags/v5.2.0
UTC Build Time:    2021-08-23 16:05:41
Rust Version:      rustc 1.56.0-nightly (2faabf579 2021-07-27)
Enable Features:   jemalloc mem-profiling portable sse protobuf-codec test-engines

[2021-08-26 09:39] glkappe opened #10836 "Support configuring log file retention policy"
We need an archive and cleanup mechanism for tikv.log, similar to max-days and max-file-count (this is just an example).
I found that tidb.log has such a function
My current trouble is that after long-term operation, tikv.log

[2021-08-26 11:41] tier-cap opened #10839 "*:The leader distribution is abnormal when the disk is full and expansion"
## Bug Report
### What version of TiKV are you using?
TiKV
Release Version:   5.1.0-alpha
Edition:           Community
Git Commit Hash:   0ec730bcf7180a08f82b008a985b8f479609bbbc
Git Commit Branch: feature-diskcap-cloud-fix
UTC Build Time:    2021-08-26 08:28:08
Rust Version:      rustc 1.56.0-nightly (2faabf579 2021-07-27)
Enable Features:   jemalloc mem-profiling portable sse protobuf-codec test

[2021-08-26 12:07] tier-cap opened #10840 "*:The data distribution is abnormal when the disk is full and expansion"
## Bug Report
### What version of TiKV are you using?
$./tikv-server --version
TiKV
Release Version:   5.1.0-alpha
Edition:           Community
Git Commit Hash:   0ec730bcf7180a08f82b008a985b8f479609bbbc
Git Commit Branch: feature-diskcap-cloud-fix
UTC Build Time:    2021-08-26 08:28:08
Rust Version:      rustc 1.56.0-nightly (2faabf579 2021-07-27)
Enable Features:   jemalloc mem-profiling portabl

[2021-08-27 02:38] sunxiaoguang opened #10841 "*:Logger thread can be bottleneck and slow down the whole TiKV instance"
## Bug Report

### What version of TiKV are you using?

4.0.14

### What operating system and CPU are you using?

Linux x86_64

### Steps to reproduce

Send extreme coprocessor load to a single region to trigger enormous  amount of slow log that can overload slogger thread. Once slogger thread is overloaded, log message can accumulate and fill up pending message queue quickly. All code path that g

[2021-08-28 04:42] iosmanthus commented on #9015
@humancalico FYI, https://github.com/iosmanthus/tikv-flake contains a shell env for building TiKV.

[2021-08-28 07:50] humancalico commented on #9015
@iosmanthus This is great. Thanks!

[2021-08-28 15:04] karuppiah7890 opened #10850 "Fix Failing pipeline - tikv_ghpr_integration_common_test"
## Development Task

A lot of the commits in this repo's `master` have a red status https://github.com/tikv/tikv/commits/master and I noticed many of them are failing only in area - `idc-jenkins-ci-tikv/integration-common-test`, which points to a Jenkins pipeline with the name `tikv_ghpr_integration_common_test` in it

At the time of this writing, the latest failure is https://ci.pingcap.net/blue/

[2021-08-29 02:52] tisonkun commented on #10537
we are tracking issue by issues, why do you update the description redundant to show PRs?

[2021-08-29 11:12] tisonkun commented on #10850
Thanks for your reporting @karuppiah7890 !

Agree it's significant to ensure ci stability. @BusyJay @skyzh @zhouqiang-cl do you have ideas on tikv_ghpr_integration_common_test failures?

[2021-08-29 11:23] skyzh commented on #10850
Commits on master should be running the same continuous integration procedure as pull requests. It’s weird that PRs pass the tests, but when they come to master branch, they fail…

[2021-08-29 11:26] tisonkun commented on #10850
@skyzh no. I think we're now running only building and unit tests for pull requests.

[2021-08-29 11:28] skyzh commented on #10850
Only maintainers and committers could trigger integration tests by `/merge` or `/run-all-tests`. Integration tests won’t run by default.

[2021-08-29 11:29] skyzh commented on #10850
Just find out that integration test is not running in PRs… Something has changed 😂

[2021-08-29 11:32] skyzh commented on #10850
I guess https://github.com/pingcap/tidb/pull/27484 is the root cause of failure. By the way, why is integration-test not running in PRs?????

[2021-08-29 12:51] tisonkun commented on #10850
IIRC you can still trigger integration tests by `/run-integretion-tests` or something. I'm driving our infra team member to post an announcement on internals.tidb.io and it may include the information or at least we can ask for it.

@purelind I remember you summarize our ci pipeline and commands communicate with them. In our previous discussion we'd like to tight them up with the repo. Is there an

[2021-08-29 13:19] skyzh commented on #10850
I believe `run-integretion-tests` is a must especially for copr-related PRs. Otherwise our contributors will never know if they siliently break anything.

[2021-08-30 00:31] tisonkun commented on #10483
@Connor1996 it seems none of item in the task list done. Is there something out of sync?

[2021-08-30 00:38] tisonkun commented on #10539
@5kbpers on the [monthly meeting](https://internals.tidb.io/t/topic/363/2) @BusyJay said this feature is released in 5.2, but it seems there is still

under development. Is there anything PR actually implement it?

[2021-08-30 01:40] purelind commented on #10850
@tisonkun  Docs on ci pipeline and trigger phrases to communicate with them are on progress。An issue to trace the docs writting task will be much better.

[2021-08-30 04:25] zhongzc opened #10852 "[panic] copr deadline checker bypass stage transition of tracker"
## Bug Report

### What version of TiKV are you using?
19e4d00ad7965681b5139cd71c7eaf8290cc22ce

### What operating system and CPU are you using?
Doesn't matter

### Steps to reproduce
Heavy copr load, some copr request exceeds deadline before handling.

### What did you expect?
No panic

### What did happened?
![image](https://user-images.githubusercontent.com/29565014/131285063-cc3fb8fe-24e5-4ed

[2021-08-30 05:05] BusyJay commented on #10850
@zhouqiang-cl can you take a look? I remember the case is taken down for CI speed. We assumed some one will watch master's status and fix potential problems. Though it seems to be contrary.

[2021-08-30 07:57] BusyJay commented on #10841
I propose to reduce the slow log count and enlarge the log buffer to twice the current. Also @sticnarf suggested to replace mpsc channel in slog-async as crossbeam channel, which should be faster.

[2021-08-30 08:13] andylokandy opened #10854 "copr_plugin: should disallow unregistering plugins"
## Bug Report

Currently, TiKV loads plugin from `./coprocessors` on startup by default, and if the plugin directory is explicitly defined in the config file, TiKV will additionally watch that folder and load new plugins when file added and remove from TiKV when the corresponding file is removed.

But now we've found a [problem](https://github.com/andylokandy/rfcs/blob/plugin/text/0063-coprocessor

[2021-08-30 08:24] zhangjinpeng1987 commented on #10841
The bottleneck is the formatting part of slogger, I prefer
1) using OverflowStrategy::Drop instead of OverflowStrategy::Block for short term solution, since print log become the bottleneck is not a frequently thing. So the first priority is keep the service is OK under any throughput.
2) simplify and reduce the total number of log when the throughput is high, we need to sample the same type logs t

[2021-08-30 08:30] sticnarf commented on #10841
## Short-term solution

I agree to reduce the slow log count first by changing the `req_lifetime` to `total_process_time`: https://github.com/tikv/tikv/blob/19e4d00ad7965681b5139cd71c7eaf8290cc22ce/src/coprocessor/tracker.rs#L249

And not all errors need to be logged here https://github.com/tikv/tikv/blob/19e4d00ad7965681b5139cd71c7eaf8290cc22ce/src/coprocessor/endpoint.rs#L635

I'm afraid it is n

[2021-08-30 08:32] andylokandy opened #10855 "copr_plugin: Disable coprocessor plugin if the plugin folder is not explictly sepcified in config"
## Feature Request

Currently, TiKV loads all plugins from `./coprocessors` if the plugin folder is not explicitly specified in config, which may not be a good thing for security. And as stated in config:

https://github.com/tikv/tikv/blob/19e4d00ad7965681b5139cd71c7eaf8290cc22ce/etc/config-template.toml#L445-L450

Whether specifying the plugin folder or not enables or disenables the auto-loading,

[2021-08-30 08:38] #10852 closed

[2021-08-30 08:42] sunxiaoguang commented on #10841
As long as log gets accumulated, it's just a matter of time before queue gets filled up. One workaround can be using a large enough slow log threshold to effectively disable coprocessor slow log. With the not critical warning log filtered, I think it's quite safe for now.

[2021-08-30 08:43] breeswish commented on #10841
My ideas are separated as short-terms and long-terms, where short-terms are easy to implement, can be effectively backported, while long-terms are more advanced with the complexity cost:

1. Change `req_lifetime` to `total_process_time`. It is almost always a good change, which reduces direct cause of logging channel full.

2. Short-term: Just drop logs. Worth to output "xxx logs dropped due to re

[2021-08-30 08:43] sunxiaoguang commented on #10841
As long as log gets accumulated, it's just a matter of time before queue gets filled up. One workaround can be using a large enough slow log threshold to effectively disable coprocessor slow log. With the not critical warning log filtered, I think it's quite safe for now.

[2021-08-30 20:35] Adam-Kulju commented on #5751
Hello! I am also looking for some tasks to begin, do I open my own issue and start working (I would like to work on the Values functions i.e. those from ValuesDecimal to ValuesTime), or do I ask someone to open up an issue (to reduce the risk of having multiple people working on the same thing)? Thank you!

[2021-08-31 00:10] tisonkun commented on #5751
@kururuken @Adam-Kulju thanks for your interest. I notice that the list in the PR description is a bit outdated as the latest update happened 10 months ago.

@andylokandy @skyzh @breeswish do you have ideas about the current state and which we're still looking for contribution? I think we can just create subtasks issue for them.

[2021-08-31 00:29] Adam-Kulju commented on #5751
I looked around quickly in the tikv/components/tidb_query_expr/src folder... and there's a lot still left to go. For example, compare the TiDB builtin_other.go file (https://github.com/pingcap/tidb/blob/master/expression/builtin_other.go) with the TiKV impl_other.rs file (https://github.com/tikv/tikv/blob/master/components/tidb_query_expr/src/impl_other.rs). If you'd like I can run through the fil

[2021-08-31 00:45] tisonkun commented on #5751
@Adam-Kulju yes please. After confirm it we can archive things done above and create subtasks for outstanding tasks so that you can take some of them.

[2021-08-31 05:01] peng1999 commented on #10854
/assign

[2021-08-31 06:21] Connor1996 opened #10867 "Support limiting read flow for TiKV IO rate limiter"
## Description

Before, we added an [io snooper supported by BPF](https://github.com/tikv/tikv/pull/9153) to get the actual read flow categorized by threads. With the limitation of BPF that needs sudo permission, it isn't used in production actually.

Actually, [proc](https://man7.org/linux/man-pages/man5/proc.5.html) provides a simpler way to get the actual read flow categorized by threads by `/p

[2021-08-31 07:29] tier-cap commented on #10801
The expansion failure in diskusage almost full has been fixed in this PR https://github.com/tikv/tikv/pull/10833.

[2021-08-31 07:38] tier-cap opened #10868 "*: Expansion fails when TiKV diskusage is already full"
## Bug Report

### What version of TiKV are you using?

$./tikv-server --version
TiKV
Release Version:   5.1.0-alpha
Edition:           Community
Git Commit Hash:   73f5375ebb8c0585fe47206920e39188bb4af95a
Git Commit Branch: feature-diskcap-cloud-fix
UTC Build Time:    2021-08-26 08:28:08
Rust Version:      rustc 1.56.0-nightly (2faabf579 2021-07-27)
Enable Features:   jemalloc mem-profiling porta

[2021-08-31 08:09] dzwinning opened #10869 "how a secondary index stored on tidb-server？"
as the title:
1. stored on memory or disk？
2. B-tree、skiplist or something else？

thanks

[2021-08-31 11:06] #10813 closed

[2021-08-31 16:20] tisonkun commented on #10868
@tier-cap I think this is part of #10537 ?

[2021-08-31 16:22] tisonkun opened #10877 "Require integration-copr-test for PRs"
Previous discussion at https://github.com/tikv/tikv/issues/10850#issuecomment-907790421

cc @skyzh @breeswish @zhouqiang-cl @purelind

[2021-08-31 16:22] tisonkun commented on #10850
closed as master CI fixed. @zhouqiang-cl spotted that it is caused by https://github.com/pingcap/tidb/issues/27673 .

But we can still think of turning on copr related tests for PRs, moving to https://github.com/tikv/tikv/issues/10877 FYI.

[2021-08-31 16:22] #10850 closed

[2021-08-31 23:13] #10869 closed

[2021-09-01 00:44] Adam-Kulju commented on #5751
There we go! @tisonkun here's what I found:
For ModIntUnsignedUnsigned, ModIntUnsignedSigned, ModIntSignedUnsigned, and ModIntSignedSigned, the tests may have to be edited as the first three are all grouped into one mod_int_unsigned test and the last one is just called mod_int in the test (https://github.com/tikv/tikv/blob/master/components/tidb_query_expr/src/impl_arithmetic.rs lines 751 and 719)

[2021-09-01 01:38] skyzh commented on #5751
Thanks! Now we have better idea on what functions have not been implemented in copr.

[2021-09-01 01:44] tisonkun commented on #5751
@skyzh if @Adam-Kulju 's analyze is correct, would you like to update the description? I think we can later create subtasks issue explicitly and just archive those implemeneted.

[2021-09-01 02:56] Lily2025 opened #10879 "Under high pressure and hot business, QPS dropped bottom due to uneven flow control"
## Bug Report

### What version of TiKV are you using?
v5.2.0

### What operating system and CPU are you using?
DBaaS aws
Default OLTP recommended setup

### Steps to reproduce
1、run sysbench prepare
sysbench --config-file=config oltp_insert --tables=512 --table-size=100000000 prepare
threads=512

### What did you expect?
QPS cannot have a large drop

### What did happened?
QPS dropped bottom
![fl

[2021-09-01 02:56] Lily2025 commented on #10879
/assign Connor1996

[2021-09-01 03:25] Connor1996 commented on #10483
@v01dstar Please update the task list if there is a PR

[2021-09-01 03:35] tisonkun commented on #10483
@Connor1996 I think people without write permission just cannot edit the description, you can have a discussion or let @v01dstar comments here so that we can reflect progress.

[2021-09-01 06:37] krishan1390 opened #10883 "Unexpected Write IO throughput increase and store size increase on other nodes of cluster when one node goes down"
## Bug Report

### What version of TiKV are you using?
5.1

### What operating system and CPU are you using?
Linux 8 core CPU (model name - Intel Core Processor (Skylake, IBRS))

### Steps to reproduce
I setup a 3 node TiKV cluster (5.1) with default settings of max-replicas (3) and 1 PD cluster.

When I bring 1 node down, I see rise in "Store size" metric and "Write IO throughput" in other 2 node

[2021-09-01 07:12] crazycs520 opened #10884 "HTTP API debug/pprof/profile behavior is inconsistent with go pprof"
## Question

The TiKV `debug/pprof/profile` HTTP API default output format is `svg`, not `protobuf`, this behavior is inconsistent with go pprof.

Here is an example:

**TiDB**

[code]

**TiKV**

[code]

[2021-09-01 07:16] breeswish commented on #10884
I think we should fix it. Then it can be compatible with the pprof ecosystem.

[2021-09-01 07:20] dragonly commented on #10884
I think it's due to https://github.com/tikv/tikv/blob/master/src/server/status_server/mod.rs#L382-L411
Maybe we should test for svg format header, and returns protobuf by default?

[2021-09-01 07:48] skyzh commented on #10877
Indeed, I don't understand why we postpone the integration test check to the master branch. If developers break the integration test and go back to fix this, the number of integration test runs are not reduced...

[2021-09-01 07:52] skyzh commented on #10877
Anyway, we could always manually run the integration test. But if anyone else breaks the test, when waiting for the fix, no one could confidently merge any new PRs into master.

[2021-09-01 08:46] XuHuaiyu commented on #10877
The reason why we postpone the integration-test check to the master branch was mentioned [here](https://github.com/tikv/tikv/issues/10850#issuecomment-908031811). @skyzh

[2021-09-01 08:57] skyzh commented on #10877
And the fact is that integration test has been broken for nearly a week 😂

[2021-09-01 09:13] tisonkun commented on #10877
@skyzh @XuHuaiyu I'm curious whether copr test is integration test. Or say, what's the cost it brings?

I think we previously move all tests match "integration-test-*" to master CI, but compatibility tests can be more lightweight?

Also there is an undergoing trending to running tests based on file changes, but it may be a long-term effort.

[2021-09-01 09:14] tisonkun commented on #10877
@skyzh @XuHuaiyu I think the fail root of master ci has nothing to do with copr cases. Let's focus on this topic "Require integration-copr-test for PRs".

[2021-09-01 09:25] skyzh commented on #10877
When someone changes the SQL expression implementation on the TiKV side, we need to ensure it has the same output as TiDB. This is copr-test. On the other way, when we are doing some memory layout optimizations, it is possible that TiDB cannot successfully decode the chunk data, and this encode-decode thing is not covered by TiKV unit tests. This could be covered with integration-test. Therefore,

[2021-09-01 10:22] jackwener commented on #8944
Hi, I want to know the specific interval of the wait time and process time.
I don't know which part they include.

[2021-09-01 10:23] jackwener commented on #8944
I don't know the context/background of whole frame of code, A few tips will be helpful for me.

[2021-09-01 13:22] skyzh commented on #5751
Thanks, @Adam-Kulju! I've updated your comment to a task list and the description of this issue. Most of the remaining functions require a lot of dirty work to get them implemented correctly in the TiKV coprocessor, so I'll look into this later to see how we could implement the remaining expression functions. I might create a new issue for current status of copr expr framework. Stay tuned!

[2021-09-02 00:58] rleungx commented on #10377
@BusyJay PTAL, thanks.

[2021-09-02 07:16] nexustar opened #10889 "Can't run tikv inside contasiner (without cgroups)"
## Bug Report

Can't run tikv inside container (without cgroups)

### What version of TiKV are you using?

5.2.0

### What operating system and CPU are you using?

Debian 11, amd 5600u

### Steps to reproduce

run it on container, directly or using tiup playground

### What did you expect?

run successfully

### What did happened?

crash

#### with rootless Podman container

[code]

#### with bubb

[2021-09-02 07:56] Lily2025 commented on #10841
/severity major

[2021-09-02 07:58] Lily2025 commented on #10879
/type bug

[2021-09-02 07:58] Lily2025 commented on #10879
/severity major

[2021-09-02 09:28] Lily2025 commented on #10808
/severity Minor

[2021-09-02 09:39] Lily2025 commented on #10854
/severity Moderate

[2021-09-02 13:10] tier-cap opened #10894 "*:One bug about the chosing majority set when handling peer diskusage report"
## Bug Report

### What version of TiKV are you using?

V5.2 unmocked disk full code.

### What operating system and CPU are you using?

N/A
### Steps to reproduce

### What did you expect?

### What did happened?
1. When handling disk usage status reported by followers, it will generate a majority set which will be allowed to send the log entry when TiKV is disk full.
2. The problem is, the major

[2021-09-02 13:31] tier-cap opened #10895 "*:One bug on whether cur cmd is allowed or not when TiKV is disk full"
## Bug Report

### What version of TiKV are you using?

V5.2 unmocked the closed disk full feature.
### What operating system and CPU are you using?

N/A
### Steps to reproduce

### What did you expect?
Need to correctly handle the first and second threshold operations.
### What did happened?
When processing the disk usage information reported by other followers, the majority to send Log Append is

[2021-09-02 15:15] breeswish commented on #10884
I think TiFlash behaviour also need to be updated accordingly. @solotzg What do you think?

[2021-09-02 15:58] solotzg commented on #10884
I think flame graph is much more useful for tiflash.

[2021-09-02 17:02] liumuqi opened #10896 "confuse for git log. release.5.0 change in yesterday but release.5.1 change in 8.17???"
## Question
![image](https://user-images.githubusercontent.com/2919226/131886270-24d47379-0232-4bbd-9a13-6e38020bf4df.png)

[2021-09-03 00:32] Adam-Kulju opened #10897 "tikv panicking on startup"
## Bug Report

### What version of TiKV are you using?

5.2.0

### What operating system and CPU are you using?

Linux Subsystem for Windows, Ubuntu 20.0.4 LTS
As for the CPU info, I have 4 processors each with these specs:
processor       : 0
vendor_id       : GenuineIntel
cpu family      : 6
model           : 61
model name      : Intel(R) Core(TM) i7-5600U CPU @ 2.60GHz
stepping        : 4
micro

[2021-09-03 02:22] v01dstar commented on #10483
### Task Breakdown
#### Stage 1: Implement basic online recovery
* [x]  Add `recover-store-failure` command of pd-ctl [1d] [Recover v01dstar/pd#1](https://github.com/v01dstar/pd/pull/1)
* [x]  Add framework of unsafe recovery worker in PD [3d] [Adds unsafe recovery worker/controller v01dstar/pd#2](https://github.com/v01dstar/pd/pull/2)
* [ ]  Support `DumpUnavailableRegions` command

  * [x]  Chan

[2021-09-03 02:37] Connor1996 commented on #10483
I will sync all the following PRs, no need to comment anymore.

[2021-09-03 09:03] luohaixiannz opened #10899 "how can I specify two neighboring Region not to merge even if they are eligible for merger"
## Question
I want to specify some Regions which split by using cli manually and I don't want them be merged by the  merge mechanism,  And I also can not close the merge mechanism, because I need it to merge some other Regions which split by "Load Base Split".

Any one know how to solve it.

[2021-09-03 10:20] overvenus opened #10900 "CDC may hold snapshots for a long time when eventfeed is flowcontrolled"
## Bug Report

CDC holds snapshot for a long time due to flowcontrol. See more: https://github.com/pingcap/ticdc/pull/2699#issue-724007913

![image](https://user-images.githubusercontent.com/2150711/131610531-f40fcbb2-cf2b-4fd4-a4c6-bfd203853859.png)

### What version of TiKV are you using?

v4.0.13

### Steps to reproduce

Pause TiCDC process, eg., `kill -SIGSTOP <CDC_PID>` .

### What did you ex

[2021-09-03 11:52] dbsid commented on #10879
under 1000 thread tpc-c 1k warehouse workload, severe performance degradation is observed caused by flow control

![image](https://user-images.githubusercontent.com/2316425/132000896-8fdb4b39-6471-4729-b4a5-31383b897c03.png)

![image](https://user-images.githubusercontent.com/2316425/132000941-f379e09e-5984-4756-a760-3d9ed424627d.png)

[2021-09-04 02:09] Lily2025 commented on #10832
/remove-severity major

[2021-09-04 02:10] Lily2025 commented on #10879
/severity critical

[2021-09-04 02:10] Lily2025 commented on #10879
/remove-severity major

[2021-09-04 14:18] zhangjinpeng1987 commented on #10900
Any proposal to fix it? Like, add a timeout for holding snapshot?

[2021-09-04 14:21] zhangjinpeng1987 commented on #10879
@dbsid How much QPS degression?

[2021-09-04 14:29] zhangjinpeng1987 commented on #10708
@tier-cap Please make sure this issue is updated since it is a critical bug. If this bug will not trigger in master please lower it serverity, I remember that this new feature is close by default now and the user has no way to open it.

[2021-09-04 14:30] zhangjinpeng1987 commented on #10832
@hicqu Any finding for this critical issue?

[2021-09-04 14:31] zhangjinpeng1987 commented on #10832
Is it caused by the similar reason as https://github.com/tikv/tikv/issues/10701?

[2021-09-05 13:34] breeswish commented on #10884
We can add query parameters like "type=flamegraph" for a shortcut.

[2021-09-06 01:07] kururuken commented on #5751
I investigated a little bit on Add/SubDatexxx functions in TiDb. I might be able to help if you guys need anything :)

[2021-09-06 02:50] youjiali1995 commented on #10897
@hicqu PTAL. It panicked at cgroup.rs.

[2021-09-06 02:56] Adam-Kulju commented on #10897
Specifically, it panicked at the "cgroup_mountinfos_v1" function, which leads me to believe I somehow messed up how my disk is mounted.

[2021-09-06 03:08] dbsid commented on #10879
110k QPS --> 65k QPS, around 40% degradation.

[2021-09-06 03:18] overvenus commented on #10900
A timeout should be good enough for most cases.

Also, we need to consider another variant of this case: a TiCDC straggler, flow control can always make progress, but extremely slow. It may hold snapshot for a long time too.

[2021-09-06 05:19] Little-Wallace opened #10902 "import: TiKV panic when upgrade from 3.0 to 4.0.x"
## Bug Report

### What version of TiKV are you using?

4.0.14

### What operating system and CPU are you using?

### Steps to reproduce

![Lark20210906-132005](https://user-images.githubusercontent.com/16376959/132164354-d81c8a7c-487e-48e9-a85d-df768f5b8b4b.png)

### What did you expect?

### What did happened?
TiKV panic.

[2021-09-06 05:45] sticnarf opened #10905 "Update prost in TiKV projects to 0.8"
## Development Task

Prost 0.7 is vulnerable to [RUSTSEC-2021-0073](https://rustsec.org/advisories/RUSTSEC-2021-0073.html). This security issue does not affect TiKV itself. But many TiKV projects are widely used by the community. The users of these projects may hope to get the issue fixed without having multiple prost versions.

Prost 0.7 does not include [this patch](https://github.com/tokio-rs/p

[2021-09-06 06:00] sticnarf opened #10906 "DWARF info of dist_release binary is incorrect"
## Bug Report

### What version of TiKV are you using?

Not really related. It affects at least TiKV 4.0 ~ 5.2.

### What operating system and CPU are you using?

I can confirm the problem on Linux x86-64 and Linux aarch64.

### Steps to reproduce

Run `make dist_release`. And use `dwz` on the binary, it reports:

[code]

[dwarf-validate](https://github.com/gimli-rs/gimli/blob/master/examples/dwar

[2021-09-06 06:03] sticnarf commented on #10906
This issue only happens if **full LTO** is used. The dwarf errors disappear if only using thin LTO.

Some upstream bug reports:

https://github.com/rust-lang/rust/issues/66118

Malformed dwarf information may cause some trouble to debuggers. GDB sometimes gets stuck or crashes when it encounters these incorrect dwarf info.

[2021-09-06 07:06] xpepermint opened #10908 "Configuration guidance for docker/k8s and servers with small amount of resource"
There's a lot of configuration keys that we can twist but it looks like nothing works for a very small server setup. In k8s you have to accurately predict the CPU and RAM usage to prevent pods to go down (usually because of OOM). This seems very difficult.

Could someone please post some recommendations on how to keep the resource low? I'd like to be able to run TiDB (TiKV) in a pod with let say 5

[2021-09-06 09:21] Lily2025 opened #10909 "Raftstore deadlock during migrating regions"
## Bug Report

### What version of TiKV are you using?
TiKV
Release Version:   5.2.0
Edition:           Community
Git Commit Hash:   556783c314a9bfca36c818256182eeef364120d7
Git Commit Branch: heads/refs/tags/v5.2.0
UTC Build Time:    2021-08-26 05:50:07
Rust Version:      rustc 1.56.0-nightly (2faabf579 2021-07-27)
Enable Features:   jemalloc mem-profiling portable sse protobuf-codec test-engines

[2021-09-06 09:22] Lily2025 commented on #10909
/assign 5kbpers

[2021-09-06 09:22] Lily2025 commented on #10909
/severity Critical

[2021-09-06 09:23] Lily2025 commented on #10909
/type bug

[2021-09-06 09:39] nolouch commented on #10909
[code]

[2021-09-06 09:43] 5kbpers commented on #10909
(gdb) bt
#0  0x00007f2536da14ed in __lll_lock_wait () from /lib64/libpthread.so.0
#1  0x00007f2536d9cdcb in _L_lock_883 () from /lib64/libpthread.so.0
#2  0x00007f2536d9cc98 in pthread_mutex_lock () from /lib64/libpthread.so.0
#3  0x000055a6ffc1505e in raftstore::store::fsm::peer::PeerFsmDelegate$LT$EK$C$ER$C$T$GT$::on_ready_apply_snapshot::hb8ba6dd7648d255a ()
#4  0x000055a6ffc104b6 in raftstore:

[2021-09-06 09:46] 5kbpers commented on #10909
According to the stack frames above, we can confirm that the deadlock was caused by the locking sequence of `store_meta` and `global_replication_state` which was introduced in #10802.

[2021-09-06 10:44] #10902 closed

[2021-09-06 18:02] xpepermint commented on #10908
It seems that whatever I set, the memory keeps increasing and has no effect.

Example:
[code]

[2021-09-06 22:42] xpepermint commented on #10908
This configuration stops `tikv` it at 700MB of RAM:
[code]

[2021-09-07 11:56] #10909 closed

[2021-09-07 23:04] Diggsey opened #10920 ""for update" and "skip locked" options on scan"
## Feature Request

### Is your feature request related to a problem? Please describe:

I want to store "work items" in a range of keys, and have stateless workers pick them up. Each worker would look for up to N work items and process them.

With a lot of workers there would be a lot of contention, so it would be more efficient if each worker could simply ignore items already locked by another wo

[2021-09-08 08:03] peng1999 commented on #10855
/assign

[2021-09-08 15:19] Xuanwo commented on #10905
raft-rs looks like don't have direct depends on prost.

[2021-09-08 17:09] sticnarf commented on #10905
The proto of raft-rs depends on protobuf-build and prost is one of the options.

[2021-09-08 17:19] Xuanwo commented on #10905
OK，I will start a PR tomorrow.

[2021-09-09 03:25] Xuanwo commented on #10905
raft-rs fixed in https://github.com/tikv/raft-rs/pull/456

[2021-09-09 06:49] fubinzh opened #10924 "Analyze table failed due to tikv server timeout error during lighting import"
## Bug Report

### What version of TiKV are you using?
/ # ./tikv-server -V
TiKV
Release Version:   5.2.0
Edition:           Community
Git Commit Hash:   556783c314a9bfca36c818256182eeef364120d7
Git Commit Branch: heads/refs/tags/v5.2.0
UTC Build Time:    2021-08-26 05:47:23
Rust Version:      rustc 1.56.0-nightly (2faabf579 2021-07-27)
Enable Features:   jemalloc mem-profiling portable sse protob

[2021-09-09 06:51] fubinzh commented on #10924
/assign Little-Wallace

[2021-09-09 06:58] Little-Wallace commented on #10924
TiKV will kill coprocessor request whose wait duration exceed 60s in https://github.com/tikv/tikv/pull/10189.
It causes more TiDB SQL fail because of requests to TiKV are killed.

[2021-09-09 06:59] fubinzh commented on #10924
/severity Critical

[2021-09-09 09:05] breeswish commented on #8944
@zhongzc Could you provide some hints for our contributor to work with? Thanks a lot!

[2021-09-09 10:43] zhongzc commented on #8942
Let's get started with KvGet! @jackwener

[ExecDetailsV2](https://tikv.github.io/doc/kvproto/kvrpcpb/struct.ExecDetailsV2.html) is now embedded in [GetResponse](https://tikv.github.io/doc/kvproto/kvrpcpb/struct.GetResponse.html), which contains statistical fields including
 - [ScanDetailV2](https://tikv.github.io/doc/kvproto/kvrpcpb/struct.ScanDetailV2.html) and
 - [TimeDetail](https://tikv.github

[2021-09-09 10:44] zhongzc commented on #8944
We need to start with https://github.com/tikv/tikv/issues/8942. I've left guidelines over there, so please move over https://github.com/tikv/tikv/issues/8942#issuecomment-915972826.  @jackwener

[2021-09-09 14:52] tier-cap opened #10925 "*:One bug about handling disk usage status reported by the followers"
## Bug Report

### What version of TiKV are you using?

v5.2 unmocked disk full feature.

### What operating system and CPU are you using?

N/A
### Steps to reproduce

### What did you expect?
When getting a disk usage status report from a follower, it will store it in the global pollctx. But if one peer is down, the store status will left. If some TiKV node is disk full, then a majority set is ch

[2021-09-09 14:54] tier-cap opened #10926 "*:Another read failed problem during to region merging when TiKV disk full"
## Bug Report

### What version of TiKV are you using?

v5.2 unmocked disk full feature.
### What operating system and CPU are you using?

N/A
### Steps to reproduce

1. Put data until TiKV is disk full.
2. Try to backup, then read failure due to region merging.
3. region merge cannot finish.
### What did you expect?
Region merge can finish when diskusage is in the first threshold. And read will s

[2021-09-09 15:05] Lily2025 opened #10927 "the status of two store are abnormal and some tikv oom while run sysbench"
## Bug Report

### What version of TiKV are you using?
v5.2.1

### What operating system and CPU are you using?
k8s 3PD、2TiDB、4TiKV
8 Core 16G mem

### Steps to reproduce
case:TiKVWorkloadStress005（do not scale TiKV）
run sysbench prepare
threads=64
tables=512

### What did you expect?
all store are normal

### What did happened?
the status of two store are abnormal while run sysbench
<img width="4

[2021-09-09 15:20] Lily2025 commented on #10927
/type bug

[2021-09-09 15:20] Lily2025 commented on #10927
/severity major

[2021-09-09 15:21] Lily2025 commented on #10927
/assign hicqu

[2021-09-10 14:28] BusyJay opened #10930 "If there are too many snapshots, node can run out of space under low load"
## Bug Report

### What version of TiKV are you using?

v5.1.1

### What operating system and CPU are you using?

linux

### Steps to reproduce

Delete a node. And make receiving snapshot very slow, which can cause a lot of operator in PD timeout. So there will a lot of on-going snapshots.

When there are a lot of snapshot, sending will be aborted and snapshot files will be left in disk. It will b

[2021-09-13 07:41] hicqu commented on #10897
@Adam-Kulju sorry for that. I'm trying to locate the problem now.

[2021-09-13 12:00] andylokandy opened #10938 "Implement API V2"
API V2 brings a bunch of new features for TiKV, including keyspace, mix usage of RawKV and TxnKV, enhancement on TTL and RawCAS.

See the [RFC](https://github.com/tikv/rfcs/pull/69) for details.

## Tasklist :spiral_calendar:

- [ ] Add configuration item `server.api-version` and store the config in kvdb
- [ ] Add `api_version` in `import_sstpb.SSTMeta` and `kvrpckv.Context` in kvproto
- [ ] Add n

[2021-09-13 12:02] andylokandy opened #10939 "Add configuration item `server.api-version` and store the config in kvdb"
1. Add configuration item `server.api-version`
2. Store `DataEncode` in kvdb
3. Check that only TiDB data exist when the user is switching the `server.api-version`

[2021-09-13 12:02] andylokandy opened #10940 "Add `api_version` in `import_sstpb.SSTMeta` and `kvrpckv.Context` in kvproto"

[2021-09-13 12:03] andylokandy opened #10941 "Add new key encode structure for API V2"

[2021-09-13 12:16] youjiali1995 opened #10942 "evict leader timeout during rolling restart"
## Bug Report

### What version of TiKV are you using?

v4.0.11

### What operating system and CPU are you using?

doesn't matter.

### Steps to reproduce

Rolling restart the cluster.

### What did you expect?

Evict all leaders quickly.

### What did happened?

TiUP is waitting for transfering out leader until timeout.
![image](https://user-images.githubusercontent.com/14819777/133080149-c9b39b0

[2021-09-13 22:10] Adam-Kulju commented on #10897
After a bit more digging, I found it's crashing because it can't get my mount info properly.
Here's what it looks like when I run "mount":
rootfs on / type wslfs (rw,noatime)
none on /dev type tmpfs (rw,noatime,mode=755)
sysfs on /sys type sysfs (rw,nosuid,nodev,noexec,noatime)
proc on /proc type proc (rw,nosuid,nodev,noexec,noatime)
devpts on /dev/pts type devpts (rw,nosuid,noexec,noatime,gid=5,m

[2021-09-14 03:26] sticnarf commented on #10924
I don't think it related. If you are using TiDB for analyzing, the timeout at TiDB is 60s:

https://github.com/pingcap/tidb/blob/v5.2.0/store/copr/coprocessor.go#L725

So any response of request running longer than 60s will not be received by TiDB and the resource is wasted.

[2021-09-14 05:37] hicqu commented on #10897
@Adam-Kulju can you show `cat /proc/self/mountinfo`?

[2021-09-14 13:32] #10855 closed

[2021-09-14 14:52] #10854 closed

[2021-09-14 16:44] Adam-Kulju commented on #10897
cat /proc/self/mountinfo:

2 2 0:2 / / rw,noatime - wslfs rootfs rw
3 2 0:3 / /dev rw,noatime - tmpfs none rw,mode=755
4 2 0:4 / /sys rw,nosuid,nodev,noexec,noatime - sysfs sysfs rw
5 2 0:5 / /proc rw,nosuid,nodev,noexec,noatime - proc proc rw
6 3 0:6 / /dev/pts rw,nosuid,noexec,noatime - devpts devpts rw,gid=5,mode=620
7 2 0:7 / /run rw,nosuid,noexec,noatime - tmpfs none rw,mode=755
8 7 0:8 / /ru

[2021-09-15 04:00] Little-Wallace opened #10947 "TiKV panic during import data because of RocksDB Corruption."
## Bug Report

### What version of TiKV are you using?

master

### What operating system and CPU are you using?

### Steps to reproduce

![rocksdb](https://user-images.githubusercontent.com/16376959/133368509-46cad931-9f5c-4414-89f5-5bbea4b64219.png)

### What did you expect?

### What did happened?

TiKV panic and can not restart again

[2021-09-15 06:29] tisonkun opened #10949 "Correct test coverage information in README"
It is currently reported as 10%. According to @sticnarf , it is not true. We'd better try to replace it with real metric.

[2021-09-15 06:32] BusyJay commented on #10949
/cc @yiwu-arbug

[2021-09-15 06:49] sticnarf commented on #10949
Rust supports source-based code coverage provided by LLVM. Here is the guide: https://doc.rust-lang.org/nightly/unstable-book/compiler-flags/instrument-coverage.html

Raw profiles can be generated using:

[code]

Merge all generated raw profiles into one:

[code]

Using `llvm-cov` to generate report:

[code]

The object list can be generated using `find ./target/debug/deps -executable -type f ! -n

[2021-09-15 09:39] tisonkun commented on #10949
@sticnarf @Ray-Eldath I think the problems here are:

1. Find a way to calculate real test coverage.
2. Display on README.md.

@sticnarf 's script above can resolve the first part, what about the second part? Where we can send the report and generate a result (daily? per check-in?) to display.

If it is hard to achieve, we may just remove the current status first.

[2021-09-15 11:40] MrCroxx commented on #10602
May I try to do this?

[2021-09-15 11:51] NingLin-P commented on #10602
Sure!

[2021-09-15 14:25] hi-rustin commented on #10949
I think I can explain why the coverage plummets.
1. first codecov works on the principle that it needs a base branch as a benchmark, then PR runs the test and then compares the diff to determine the coverage change.
2. The reason for our plunge is that https://codecov.io/gh/tikv/tikv/commit/d05d8ae3fe0bc81901550c554de4f37dd4f6cc26/ is a failed statistic, you observe that it doesn't actually find t

[2021-09-15 16:27] aswinjayaji opened #10952 "Debug and Clone are not implemented"
`tikv_client::RawClient` doesn't implement `std::fmt::Debug`
`tikv_client::RawClient` cannot be formatted using `{:?}` because it doesn't implement `std::fmt::Debug`
help: the trait `std::fmt::Debug` is not implemented for `tikv_client::RawClient`
note: required because of the requirements on the impl of `std::fmt::Debug` for `&tikv_client::RawClient`
note: required for the cast to the object type

[2021-09-15 18:55] BusyJay opened #10954 "Periodically raft purge tick can cause unnecessary snapshots between rolling update"
## Bug Report

### What version of TiKV are you using?
v5.1.1.

### What operating system and CPU are you using?
Linux

### Steps to reproduce
1. Setting up a cluster
2. Load some data to the system to trigger raft log gc
3. Stopping the load and reload the cluster

### What did you expect?
The cluster is restarted without problems.

### What did happened?
Some regions become pending immediately,

[2021-09-15 18:56] BusyJay commented on #10954
/cc @hicqu @tabokie

[2021-09-16 03:24] Lily2025 commented on #10942
/severity Critical

[2021-09-16 03:35] Lily2025 commented on #10947
/severity Critical

[2021-09-16 03:55] nexustar commented on #10889
It affect wsl also.
 relate to #10897

[2021-09-16 03:56] Lily2025 opened #10955 "Large regions are generated during running sysbench insert"
## Bug Report

### What version of TiKV are you using?
v4.0.15

### What operating system and CPU are you using?
2TiDB、2PD、4TiKV
8 core、16G

### Steps to reproduce
1、run sysbench prepare
tabNum=1
threads=10

### What did you expect?
do not generate Large regions

### What did happened?
generate Large regions
![飞书20210916-115543](https://user-images.githubusercontent.com/84712107/133546955-56fd5260

[2021-09-16 03:56] Lily2025 commented on #10955
/assign gengliqi

[2021-09-16 05:04] MrCroxx commented on #10954
@BusyJay Why the applied_index steps forward when there is no workload? Are them empty entries that are used to extend the lease?

[2021-09-16 06:38] BusyJay commented on #10954
No, extending lease only requires heartbeat. The issue may also be related to other changes, close it for now.

[2021-09-16 06:38] #10954 closed

[2021-09-16 07:02] 7yyo opened #10956 "TiKV ip:port/config unable to obtain complete configuration information"
## Bug Report

### What version of TiKV are you using?

`v5.0.2`

### What operating system and CPU are you using?

[code]

### Steps to reproduce

`http://ip:port/config`

### What did you expect?

Get complete TiKV configuration information.

### What did happened?

Incomplete, such as no `raft-election-timeout-ticks`,etc.

[2021-09-16 08:07] MrCroxx commented on #10602
@NingLin-P Should I replace the `peer` field in the proto file with repeated `peers` filed, or add a new field? I found both kinds of modification in proto history.

[2021-09-16 08:28] MrCroxx commented on #10602
I found the answer [here](https://github.com/pingcap/kvproto/pull/806#issuecomment-914194641). Seems replacing the unrepeatable filed `peer` with repeatable `peers` is fine.

[2021-09-16 09:10] yuqi1129 opened #10957 "Undesired error message about runing tikv-ctl without any parameters"
## Bug Report

### What version of TiKV are you using?

master branch

### What operating system and CPU are you using?

[code]

### Steps to reproduce

### What did you expect?
[code]

### What did happened?
[code]

[2021-09-16 10:49] yuqi1129 commented on #10957
/assign

[2021-09-16 12:50] tier-cap opened #10959 "*: One bug about the user level disk full error code"
## Bug Report

### What version of TiKV are you using?

v5.2.0 unmocked disk full feature.

### What operating system and CPU are you using?

N/A
### Steps to reproduce

1. Tiup deploy 3 nodes.
2. Put data until disk full.
3. When write fails, the disk full error code returns with the detailed disk full store ids.
### What did you expect?
1. Return to users the disk full stores.

### What did happ

[2021-09-16 13:32] tier-cap opened #10960 "*:One bug about the CommitMerge when TiKV disk full"
## Bug Report

### What version of TiKV are you using?

v5.2 unmocked TiKV disk full feature.

### What operating system and CPU are you using?

N/A
### Steps to reproduce

1. Tiup cluster deploy 3 nodes.
2. Put data until TiKV disk full.
3. Tiup scale-out new node.
### What did you expect?
1. Can expand successfully.
### What did happened?
1. cannot expand, and there are no expansion cmd issued f

[2021-09-17 03:59] yuqi1129 opened #10962 "Make error message of `tikv-ctl scan` more clear and accurate"
## Bug Report

### What version of TiKV are you using?

Master branch
### What operating system and CPU are you using?

### Steps to reproduce

### What did you expect?
[code]

### What did happened?
[code]

[2021-09-17 04:06] yuqi1129 commented on #10962
/assign

[2021-09-17 07:15] hicqu commented on #10889
@nexustar thanks for your report. Could you show `cat /proc/self/cgroup` and `/proc/self/mountinfo`?

[2021-09-17 09:13] 5kbpers opened #10965 "Coroutine leaking after one TiKV got stuck"
## Bug Report

### Affected versions
v5.1, v5.2, master

### Description
For Advancing the Resolved TS, we need to verify the leadership of Raft Leaders by calling a `check_leader` RPC every __1s__ to all the other TiKVs (Here we did not filter out learners so there will call the RPC to TiFlash).
However, [here](https://github.com/tikv/tikv/blob/master/components/resolved_ts/src/advance.rs#L216) w

[2021-09-17 09:33] BusyJay commented on #10965
How do you find the problem? Can pending futures also be added to memory trace?

Can yatp support memory trace? /cc @sticnarf

[2021-09-17 09:41] 5kbpers commented on #10965
Through the auto-generated jemalloc profile (start TiKV with `MALLOC_CONF=prof:true,prof_active:true,lg_prof_interval:33`), compared the adjacent two profiles and found the problem.

[jeprof.25133.25.i25.heap.svg.zip](https://github.com/tikv/tikv/files/7184598/jeprof.25133.25.i25.heap.svg.zip)
[jeprof.25133.24.i24.heap.svg.zip](https://github.com/tikv/tikv/files/7184599/jeprof.25133.24.i24.heap.sv

[2021-09-17 09:50] sergeyshaykhullin commented on #10897
@hicqu WSL 2

[code]

[code]

[2021-09-17 10:07] BusyJay commented on #10965
Does memory profile from dashboard work? Why it can't capture the problem before?

[2021-09-17 11:04] hicqu commented on #10965
Memory profile from dashboard or wget is not strong enough to help this case. I'm working on improving it now.

[2021-09-17 11:23] vivid392845427 commented on #9615
run tipocket testcase tipocket-bank2-tiflash1 occur this issue，stack as follow:
[2021/09/14 07:38:39.905 +00:00] [FATAL] [lib.rs:465] ["called `Option::unwrap()` on a `None` value"] [backtrace="stack backtrace:\n   0: tikv_util::set_panic_hook::{{closure}}\n             at components/tikv_util/src/lib.rs:464\n   1: std::panicking::rust_panic_with_hook\n             at library/std/src/panicking.rs:

[2021-09-17 11:43] mayjiang0203 opened #10966 "Load based split related metric data in grafana is not consistent with dashboard."
## Bug Report

### What version of TiKV are you using?

/ # /tikv-server -V
TiKV
Release Version:   4.0.15
Edition:           Community
Git Commit Hash:   0a0482dee0a0cf135f56b9f90b412ea641ec3ae2
Git Commit Branch: heads/refs/tags/v4.0.15
UTC Build Time:    2021-09-13 02:21:39
Rust Version:      rustc 1.42.0-nightly (0de96d37f 2019-12-19)
Enable Features:   jemalloc mem-profiling portable sse prot

[2021-09-17 11:46] mayjiang0203 commented on #10966
/severity Moderate
/assign @lhy1024

[2021-09-17 20:01] adamotonete opened #10968 "Add column timeMS on `merge finished` log lines"
## Feature Request

### Is your feature request related to a problem? Please describe:
There are no problem, however that would help to investigate long running merge.

### Describe the feature you'd like:
When logging the `merge finished` line, add a new column with the time in milliseconds how long the merge took. Currently no time measurement is in place.

### Describe alternatives you've consi

[2021-09-17 20:08] adamotonete commented on #10968
Before:

[2021/09/17 16:12:34.084 +00:00] [INFO] [apply.rs:1370] ["execute admin command"] [command="cmd_type: PrepareMerge prepare_merge { min_index: xxxx target { id: xxxx start_key: xxxxx end_key: xxxxx region_epoch { conf_ver: xxxx version: xxxx } peers { id: aaa store_id: aaa } peers { id: bbb store_id: bbbb } peers { id: ccc store_id: ccc } } }"] [index=iiii] [term=x] [peer_id=dddd] [region_

[2021-09-18 10:12] nexustar commented on #10889
bwrap:
[code]

podman:
[code]

[2021-09-22 07:03] andylokandy commented on #10793
1. Current code with clap is clummy and crappy.

2. The new clap in master has adopted structopt; it's the future.

[2021-09-22 09:46] #10793 closed

[2021-09-22 11:33] Lily2025 commented on #10210
/type bug

[2021-09-22 11:37] Lily2025 commented on #10210
/severity major

[2021-09-22 11:43] BusyJay commented on #10210
@tonyxuqqi do you want to have a try?

[2021-09-22 14:30] jt20190617 opened #10972 "After a TiKV node breaks down, others continue to write large amounts of logs, resulting in disk space exhaustion"
## Feature Request

### Is your feature request related to a problem? Please describe:
The cluster version is V4.0.12, there are 5 node 5 peers. Do cluster high availability walkthrough tests. One of the TiKV nodes is down, and then it is found that the other TiKV nodes are writing logs like crazy, causing the disk space to run out quickly; Found that files were switched every 3 to 4 minutes.

The

[2021-09-23 05:21] andylokandy opened #10974 "Add API V2 check for RawKV and TxnKV requests"
If `storage.api_version=2`:

- If the request's context has `api_version=1`:
  - Reject the request unless it's a TxnKV request and the keys starting with `m` or `t`.

- If the request's context has `api_version=2`:
  - Only allow the key that has RawKV prefix for RawKV requests.
  - Only allow the key that has TxnKV prefix for TxnKV requests.

If `storage.api_version=1`:

- Reject all requests wi

[2021-09-23 08:59] NingLin-P commented on #10965
The `cdc` component also adopt the `CheckLeader` mechanism and the similar usage of `futures::join_all`, so this issue may also happen to cluster that deployed `TiCDC`.

[2021-09-24 11:44] tisonkun commented on #10962
@yuqi1129 also closed the issue as described https://github.com/tikv/tikv/pull/10963#issuecomment-926558198

[2021-09-24 11:44] #10962 closed

[2021-09-24 23:17] Adam-Kulju commented on #10897
@sergeyshaykhullin I notice your /dev mount info is the same as mine (none as the root source), what I want to know is whether the problem is with the mount info or a bug in the code?

[2021-09-26 06:39] peng1999 commented on #10957
What TiKV version are you using? I found no issue in current master (f9838276):

[code]

[2021-09-26 06:57] yuqi1129 commented on #10957
This problem have been fixed. So i close it

[2021-09-26 06:57] #10957 closed

[2021-09-26 08:56] #10965 closed

[2021-09-26 09:00] HunDunDM commented on #10168
Maybe there is improvement after the implementation of [pd#4157](https://github.com/tikv/pd/issues/4157).

[2021-09-26 09:17] nolouch commented on #10942
Why this issue is critical?

[2021-09-26 09:51] Patrick0308 commented on #10939
I will work on it.

[2021-09-26 11:16] #10377 closed

[2021-09-26 11:35] yuqi1129 opened #10986 "Update the version of raft-engine as it has out of date"
## Development Task

[2021-09-26 11:36] yuqi1129 commented on #10986
/assign

[2021-09-26 12:40] #9012 closed

[2021-09-26 13:18] BusyJay commented on #9012
After the fix, TiKV will log the failure instead of panicking.

[2021-09-26 13:54] andylokandy commented on #10939
Oh sorry. I've been working on it. You can pick other ones.

[2021-09-26 13:54] andylokandy commented on #10939
/assign

[2021-09-26 15:01] andylokandy commented on #10940
/assign

[2021-09-27 02:38] MrCroxx commented on #10954
@BusyJay Sorry to bother. Cloud you please point out what "changes" refers to? I think this issue may affect [tikv#10599](https://github.com/tikv/tikv/pull/10599) that if we speed up raft log gc tick.

[2021-09-27 03:19] Connor1996 commented on #10169
As https://github.com/tikv/tikv/pull/10249 is merged, can we close this? Seems if the apply duration is high though the write stall is not triggered, there is still a problem.

[2021-09-27 03:30] sticnarf commented on #10169
I am doing system tests on these workloads. I will close the related issues when I confirm these errors almost don't happen in practice.

It should be not common that apply duration is unreasonably high without write stall. I guess the case happens only when there are bugs or hardware problems?

[2021-09-27 03:44] Connor1996 commented on #10169
Better to run it after https://github.com/tikv/tikv/pull/10978 is merged

[2021-09-27 04:52] #10897 closed

[2021-09-27 05:51] BusyJay commented on #10954
It's related to a local change that calculates an overflow estimated region log gap size, and trigger log gc.

[2021-09-27 08:42] breeswish commented on #8469
The basic redact is implemented in 5.0.0. Closing.

[2021-09-27 08:42] #8469 closed

[2021-09-27 09:26] skyzh commented on #3834
What about using TiCDC to pipe data?

[2021-09-27 14:07] Patrick0308 commented on #10941
/assign

[2021-09-27 14:18] DCjanus opened #10997 "Panic if Linux osrelease version number greater than 255"
ref: https://github.com/tikv/rust-prometheus/issues/414

[2021-09-28 08:48] YuJuncen opened #11000 "Find better default thread numbers for backup and import"
## Feature Request
Currently, we use 75% of logical CPU cores for backup and 8 threads for importing SST.

1. For backup, with so many CPU resource used, backup would probably **impact the online cluster**.
2. For importing, we can utilize nearly all the resources in the cluster, but **the constant 8 is too small** for some conditions.

### Is your feature request related to a problem? Please desc

[2021-09-28 08:51] YuJuncen commented on #11000
/label component/backup-restore

[2021-09-28 08:51] YuJuncen commented on #11000
/component backup-restore

[2021-09-28 08:51] YuJuncen commented on #11000
/sig migrate

[2021-09-28 09:15] andylokandy commented on #10941
@Patrick0308 FYI: after the discussion, the raw atomic prefix has been removed.
https://github.com/tikv/rfcs/pull/69/commits/84d27af9600871cbf233e38d503bf96616437cd3

[2021-09-29 06:02] andylokandy opened #11004 "Allow follower read without read index"
## Feature Request

### Background

Follower read (aka. replica read) allows the follower to respond to read requests. To achieve that without breaking strong consistency guarantee, the follower will proxy the read request to the leader but the leader will not respond the data because the data should also exist on the follower, after receiving the response from the leader, the follower will read d

[2021-09-29 06:06] BusyJay commented on #11004
Is anyone requesting for the features?

[2021-09-29 06:07] andylokandy commented on #11004
@zz-jason said it's requested by ccb.

[2021-09-29 06:30] andylokandy commented on #11004
@BusyJay Do you think the technical approach is appropriate?

[2021-09-29 07:03] BusyJay commented on #11004
There is a stale read already. I think this is just a implement details of stale read in RawKV. Without knowing the detail background, it's hard to say if it's the *right* solution, even though it can work in some way.

[2021-09-29 08:48] andylokandy commented on #11004
@BusyJay IMO, replica read and stale read are also somehow similar, but still we gave them different name. Besides, the name in kvproto is also implementation details, we can hide these complexity in the client.

[2021-09-29 09:18] andylokandy commented on #11004
One more point: user will not read back different values from the different servers when using `replica_read` and `stale_read` while `dirty_read` will.

[2021-09-29 10:57] BusyJay commented on #11004
Replica read should not break learnability. Stale read can read whenever ACID is hold for transaction, and can read arbitrary data for raw kv. `dirty` is meaningless in raw kv as there is no transactions at all.

Nothing can prevent `replica_read` or `stale_read` to return different values for raw KV from different servers at different time. Repeated read is a property of transaction kv.

[2021-09-30 02:37] marsishandsome opened #11007 "RawKV support Batch Export"
## Development Task

[2021-09-30 02:44] marsishandsome opened #11008 "Support backup SST to HDFS"
## Feature Request

### Is your feature request related to a problem? Please describe:

This is a sub-task of https://github.com/tikv/tikv/issues/11007

### Describe the feature you'd like:

Currently, TiKV supports backup SST to S3.
Some users need to backup SST to HFDS.

### Describe alternatives you've considered:

### Teachability, Documentation, Adoption, Migration Strategy:

[2021-09-30 05:16] peng1999 commented on #11008
/assign

[2021-09-30 06:19] BusyJay opened #11009 "gRPC thread load is not balanced"
## Bug Report

### What version of TiKV are you using?
Nightly, but all versions of TiKV are affected.

### What operating system and CPU are you using?
Linux.

### Steps to reproduce
I don't have steps to reproduce the problem, but it can occur under high workload.

### What did you expect?
Most CPU utilization between thread are similar.

### What did happened?
Some threads have higher CPU utili

[2021-09-30 06:20] BusyJay commented on #11009
According to https://github.com/grpc/grpc/issues/15535, it's a by design in grpc c core. Though I think load base scheduling is a more reasonable behavior.

[2021-09-30 07:19] tier-cap opened #11010 "*:Running log so huge when abnormal happen"
## Question

1. When tikv abnormal happen, like https://internal.pingcap.net/jira/browse/ONCALL-3822, there are so much running log files.
2. Is log files reclaim not support?

[2021-09-30 10:10] BusyJay commented on #9714
I believe https://github.com/tikv/tikv/pull/8926 introduce the regression.

[2021-09-30 11:11] nida624 opened #11011 "components/tikv_util/src/topn.rs"
## Bug Report

### What version of TiKV are you using?

### What operating system and CPU are you using?

### Steps to reproduce

### What did you expect?

### What did happened?

[2021-09-30 11:11] nida624 commented on #11011
Fixing my problem

[2021-10-05 19:06] coderplay commented on #8368
+1

[2021-10-05 20:21] andylokandy commented on #8368
/cc @marsishandsome @peng1999

[2021-10-06 03:48] yiwu-arbug opened #11015 "Add stale read metrics"
## Bug Report

### What version of TiKV are you using?
versions support stale read

### What operating system and CPU are you using?
n/a

### Steps to reproduce
Make stale read requests from TiDB

### What did you expect?
From Grafana I want to know how many stale read requests are handled by each TiKV node.

### What did happened?
There isn't such metrics currently

[2021-10-07 23:50] tisonkun opened #11016 "Apply PR issue association checker"
Subtask of https://github.com/tikv/community/issues/149, closed after the checker applied.

Briefly, this is a proposal about trying to check that a pull request must be associated with issue(s). See also the proposal in details at https://github.com/tikv/community/pull/150 .

[2021-10-08 02:17] yiduoyunQ opened #11017 "tikv should handle tikv_cdc_min_resolved_ts_no_change_for_1m alert"
## Bug Report

### What version of TiKV are you using?

v5.0.1

### What operating system and CPU are you using?

Linux

### Steps to reproduce

Set up TiCDC, start a changefeed, and then remove it

### What did you expect?
Prometheus alerts won't be triggered any more.

### What did happened?
tikv_cdc_min_resolved_ts_no_change_for_1m still alert.

[2021-10-08 02:28] Lily2025 commented on #10949
/severity Moderate

[2021-10-08 02:29] Lily2025 commented on #11009
/severity Critical

[2021-10-08 03:42] youjiali1995 commented on #10942
No, it's user's environment. I think the best way to find the root cause is reading the code.

[2021-10-08 06:34] Lily2025 opened #11018 "Unified thread pool will reduce the priority of queries with a long duration，please adding best practices for related scenarios"
## Bug Report

### What version of TiKV are you using?
no matter

### What operating system and CPU are you using?
no matter

### Steps to reproduce
 if there are many long queries in a stress test, and the long query is the critical path, it is prone to degradation. This environment reduces the pressure test difference by closing the unified thread pool and adding tidb nodes.

### What did you ex

[2021-10-08 07:09] BusyJay commented on #11018
A workaround is changing the priority of the long running query to high since it's the critical path.

[2021-10-08 11:01] Lily2025 commented on #11018
/assign BusyJay

[2021-10-08 12:49] BusyJay opened #11022 "Check how across language optimization performs in TiKV"
## Feature Request

### Is your feature request related to a problem? Please describe:
TiKV depends on grpcio, jemallocator and rust-rocksdb, all of them use a lot of C/C++ code. Currently, cross language optimization is not performed, so there may be some cases that simple functions are not inlined to achieve best performance.

### Describe the feature you'd like:
Rust supports deferring the LTO

[2021-10-09 02:53] sticnarf commented on #11022
I tried it before. Overall I don't see significant improvements in integration benchmarks.

But microbenchmarks show that there is about 20% improvement specifically in RocksDB get after applying LTO.

[2021-10-09 05:33] BusyJay commented on #11022
Then it may also help `next` and large range scan.

[2021-10-09 07:50] andylokandy opened #11025 "Read API version from kvdb via tikv-ctl"
Show data encode version (aka. api version) by `tikv-ctl store` command. This should work remotely as well as locally. The data encode in kvdb is defined in https://github.com/tikv/tikv/pull/11021.

[2021-10-09 07:50] andylokandy opened #11026 "Add `raw` CF"
1. Add `raw` cf
2. When `storage.api_version == ApiVersion::V2`, enable RawKV TTL compaction filter on `raw` cf and disable RawKV TTL compaction filter on `default` cf.

[2021-10-09 08:18] yuqi1129 commented on #11025
/assign

[2021-10-09 10:36] tabokie commented on #10997
@DCjanus Sorry, this was closed because it's mistakenly linked with https://github.com/tikv/raft-engine/pull/111 by GitHub.

[2021-10-11 02:03] kamijin-fanta opened #11028 "`compaction-style` setting is broken"
## Bug Report

### What version of TiKV are you using?

using tiup for deployment.
[code]

### What operating system and CPU are you using?

It seems to be a machine-independent bug.

### Steps to reproduce

The server will not start if the following settings are made.

[code]

[code]

[code]

### What did you expect?

The reference looks like a correct description.
https://docs.pingcap.com/tidb/s

[2021-10-11 06:33] YuJuncen opened #11030 "backup: move rate limit from saving to generating"
## Development Task
Currently, when a `rate limit` has been specified in a backup, the limiter would be applied to the external storage.
https://github.com/tikv/tikv/blob/677ff9adaeb53b45a4e68493ebef41a28539fd4d/components/backup/src/writer.rs#L89-L93

This design is simple and easy to implement. But it introduced several problems:
1. The rate limit of generating SSTs would be infected by the file

[2021-10-11 06:46] YuJuncen commented on #11030
Agree. Even we might be ask more questions like "what is the different between `--rate-limit` and `--generating-rate-limit`".

(Maybe mark `--rate-limit` deprecated and/or encourage using cgroups to limit the write speed?)

[2021-10-11 15:36] tabokie commented on #11028
/assign @yuqi1129

[2021-10-11 18:19] #10939 closed

[2021-10-12 03:02] joccau opened #11033 "Failed to make build tikv-server at the branch of master in MacOs"
## Bug Report

I can make build to get tikv-server in centos but MacOs at he branch of master in Tikv repo.
![image](https://user-images.githubusercontent.com/57036248/136883910-977fface-3bf8-4646-901d-e7e3364d2c33.png)

https://github.com/tikv/tikv/blob/6d0edd7e690d376e651aecf6f0bbefdeec22c390/src/server/status_server/profile.rs#L7

### What operating system and CPU are you using?

MacOs Big Sur,

[2021-10-12 05:35] MrCroxx commented on #10602
With the prototype, PD will pass a valid leader candidate list to the origin leader store to handle evict-leader operation. The origin leader store (TiKV instance) will use its local Raft `ProgressTracker` to decide which candidate has the largest `matched` index, and transfer leadership to it (with `pre_transferleader`).

The prototype can reduce ~50% time that `TransferLeader` needed before unde

[2021-10-12 06:38] Jingyuma opened #11037 "TiKV panic when startup"
## Bug Report

### What version of TiKV are you using?
v5.2.1

### What operating system and CPU are you using?

Ali cloud OS, 32 CPU

### Steps to reproduce

Deploy the cluster, and tikv can't start
### What did you expect?
the cluster running normal
### What did happened?
TiKV panic with error:
![微信图片_20211012143555](https://user-images.githubusercontent.com/17038907/136904454-2f124a7a-ad57-42bd

[2021-10-12 08:56] BusyJay commented on #11026
I don't see this in the RFC, how come a new cf is required?

[2021-10-12 09:02] sticnarf commented on #10210
I encounter the issue again when testing about region unavailable using a heavy write workload.

In my place it seems not due to destroying a peer. Instead, the logs are also cleared after applying snapshot:

[code]

[2021-10-12 09:28] andylokandy opened #11040 "Store RawKV data in `raw` CF and deprecate specifying `cf` in raw requests"
1. If `api_version = ApiVersion::V2`, the `cf` in the raw requests should be empty, and then `raw` cf will be used.
2. `raw_checksum` becomes only available in API V2. `raw_checksum` is an unpublished feature, so it's safe to do that. The reason to make this decision is that `raw_checksum` doesn't accept a cf property in API V1, therefore, the cf that is being checksummed will change depending on

[2021-10-12 09:30] andylokandy opened #11041 "Support API V2 encode in `sst_importer`"

[2021-10-12 10:09] youjiali1995 opened #11042 "Considering not to get snapshot for transaction commands in gRPC threads"
Now if a transaction command is not queued in the latch, TiKV will get snapshot for it in the gRPC thread.
https://github.com/tikv/tikv/blob/6d0edd7e690d376e651aecf6f0bbefdeec22c390/src/storage/txn/scheduler.rs#L528

But it's possible that it takes much time to get the snapshot because of the [mutex](https://github.com/tikv/rocksdb/blob/f236fe443d06337ca2538414c62f70ba17b8e409/db/db_impl/db_impl.c

[2021-10-12 10:31] yuqi1129 commented on #11028
@tabokie I have test this configuration and it seems that only numeric is supported like `compaction-pri`. Sounds like we need to update user docs.

[code]

[2021-10-12 10:44] tabokie commented on #11028
@yuqi1129 I prefer to use descriptive words for these config items, just like `blob-run-mode`, `grpc-compression-type`, etc. So I think you should submit a code patch to make `compaction-pri` accept string literals.

As for `compaction-pri`, it is problematic too, but we probably shouldn't change it directly for backward compatibility.

[2021-10-12 11:29] youjiali1995 commented on #11042
I can reproduce this errors by sleeping when getting snapshot, but the frequency doesn't match.
[code]

[2021-10-12 14:33] youjiali1995 opened #11044 "Should reset perf context after writing to kvdb"
## Bug Report
Now perf context is reset at the beginning of each round https://github.com/tikv/tikv/blob/6d0edd7e690d376e651aecf6f0bbefdeec22c390/components/raftstore/src/store/fsm/apply.rs#L3683 and report for each write https://github.com/tikv/tikv/blob/6d0edd7e690d376e651aecf6f0bbefdeec22c390/components/raftstore/src/store/fsm/apply.rs#L527 Should reset the perf context after writing to kvdb be

[2021-10-13 02:53] #11017 closed

[2021-10-13 03:17] gengliqi commented on #11042
I think we can make `SnapshotList` lock-free and remove the lock totally. FYI https://github.com/facebook/rocksdb/issues/5083.

[2021-10-13 03:35] lhy1024 commented on #10899
For the specified range of regions not to be merged, we are working on a feature called `region label`, which will solve your problem. In the current version, there is no direct way to avoid merging two regions

Would you like to provide more information on how load base split can generate so many regions?

[2021-10-13 05:41] NingLin-P opened #11047 "Channel full could break the raft connection"
## Bug Report

Inside the implementation of the `raft` and `batch_raft`:
https://github.com/tikv/tikv/blob/6d0edd7e690d376e651aecf6f0bbefdeec22c390/src/server/service/kv.rs#L697-L709

If L705 returns error `RaftStoreError::Transport(DiscardReason::Full)`, the `res` future will resolve to that error immediately and the `RequestStream` will be dropped hence the RPC stream is broken.

Breaking the ra

[2021-10-13 06:50] hykych opened #11049 "Performance evaluation for Feature Store."
## Question

Hi, I saw on the https://tikv.org/ that TiKV could be used in feature store, but according to our benchmark, the performance list below.

Do you guys know if I can change my configure to further improve the performance?

## Benchmark detail

### TiKV version: 4.0.9
### Tikv configure
[code]
### Hardware
i3.4xlarge * 4

### Data & RPS
each value size: 4KB
each request:  20KB
p99 latenc

[2021-10-13 06:57] #11037 closed

[2021-10-13 07:58] youjiali1995 opened #11052 "Record creating rocksdb snapshot duration"
## Feature Request

### Is your feature request related to a problem? Please describe:

It may takes seconds to get a rocksdb snapshot due to lock https://github.com/tikv/tikv/issues/11042. And some of this operation take place at critical path, for example, raftstore thread. It's better to add a metric for it.

### Describe the feature you'd like:

Record creating rocksdb snapshot duration.

###

[2021-10-13 09:09] #11040 closed, assigned to andylokandy

[2021-10-13 09:10] andylokandy commented on #11026
After internal discussion, we decided not to add a raw cf.

[2021-10-13 09:10] #11026 closed, assigned to andylokandy

[2021-10-13 09:19] andylokandy opened #11053 "Forbid RawKV from accessing `lock` and `write` CF"
Once API V2 is enabled, `cf` in raw requests should be left empty, and then `default` cf will be used.

[2021-10-13 10:27] liuzix opened #11055 "cdc: Init event should be sent after all observed events have been sent"
## Development Task
We need to solve https://github.com/pingcap/ticdc/issues/2989.

This problem is caused by an unexpected order of sending events, in which real-time events that has occurred before the delta scan snapshot is taken are sent after the delta scan has finished.

To solve the problem, we need to

- [ ] delegate sending `init` event to the main `endpoint` in the cdc component.
- [ ] w

[2021-10-14 05:31] #11033 closed, assigned to nobody

[2021-10-14 06:23] NingLin-P opened #11057 "Add check for `server.max-grpc-send-msg-len` and `raftstore.raft-entry-max-size`"
## Feature Request

### Is your feature request related to a problem? Please describe:

If the user changes the config `raftstore.raft-entry-max-size` to a value larger than `server.max-grpc-send-msg-len`, the raft client connection will break because the raft msg size is larger than `server.max-grpc-send-msg-len`, this could happen even there are no large size kv write due to the raft command bat

[2021-10-14 06:59] MrCroxx commented on #10602
The previous benchmark is not accurate, for `TransferLeader` operation step is caused not only by `evict-leader`, but `balance-leader` as well, and those from `balance-leader` is much slower. I ran a new benchmark to better compare the new transfer leader implementation.

The new benchmark uses uniform YCSB on raw TiKV as the workload to better distribute the load across regions. All other schedul

[2021-10-14 08:21] andylokandy commented on #10974
/assign @pingyu

[2021-10-14 09:36] PatrickNicholas commented on #10533
Our previous experience is that after deleting a peer, we need to save its ID. When trying to create a peer, we need to check whether it has been deleted before. Can we adopt this solution?
@BusyJay @NingLin-P

[2021-10-14 10:33] 5kbpers opened #11060 "Performance jitter caused by getting rocksdb property during sending store heartbeat"
## Bug Report

On sending store heartbeat, pd worker will calculate the used size of the store by getting `rocksdb.total-sst-files-size` property https://github.com/tikv/tikv/blob/bcee15b5c09375f4f8b4fbdb26d316eb949a43dd/components/raftstore/src/store/worker/pd.rs#L964

It will iterator over all versions and getting the size of each file while holding db mutex
https://github.com/tikv/rocksdb/blob/

[2021-10-14 10:55] YuJuncen commented on #11000
The available resource for backing up would be vary with workload, e.g. Consider a heavy workload which occupies 60% of total CPU resource and a light workload (say, in midnight) which only uses 10% of total CPU, the best thread number for backup for each of them is indeed different.

As a solution, instead of let ops to decide the best value via experience, we can detect and auto tune the backup

[2021-10-14 11:10] andylokandy commented on #10974
@pingyu You may use this when you implement the request check: https://github.com/tikv/tikv/pull/11061

[2021-10-14 13:59] sticnarf commented on #10905
Prost 0.9 is released, I think the target should be changed to 0.9.
Also cc pprof-rs maintainer @YangKeao and agatedb maintainer @skyzh.

[2021-10-15 02:14] Patrick0308 commented on #10941
Sorry, I haven't started yet.

[2021-10-15 06:24] sticnarf commented on #10905
If we want to totally remove prost from TiKV itself, pprof-rs also needs to provide an option to not use prost.

[2021-10-15 09:05] YangKeao commented on #10905
There is a PR https://github.com/tikv/pprof-rs/pull/23 several months ago 😢 . I will take a look to this PR again.

[2021-10-15 14:41] Lily2025 opened #11075 "After a tikv failure is recovered, the leader of this tikv is always zero"
## Bug Report

### What version of TiKV are you using?
/ # ./tikv-server -V
TiKV
Release Version:   5.0.1
Edition:           Community
Git Commit Hash:   e26389a278116b2f61addfa9f15ca25ecf38bc80
Git Commit Branch: heads/refs/tags/v5.0.1
UTC Build Time:    2021-04-23 08:24:13
Rust Version:      rustc 1.51.0-nightly (bc39d4d9c 2021-01-15)
Enable Features:   jemalloc mem-profiling portable sse protob

[2021-10-16 02:08] mayjiang0203 opened #11076 "v5.0.1: New scale-out TiKV node fail to register to pd."
## Bug Report

### What version of TiKV are you using?

/var/lib/tikv/log # /tikv-server --version
TiKV
Release Version:   5.0.1
Edition:           Community
Git Commit Hash:   e26389a278116b2f61addfa9f15ca25ecf38bc80
Git Commit Branch: heads/refs/tags/v5.0.1
UTC Build Time:    2021-04-23 08:24:13
Rust Version:      rustc 1.51.0-nightly (bc39d4d9c 2021-01-15)
Enable Features:   jemalloc mem-profil

[2021-10-16 03:00] Connor1996 commented on #11075
From the log, we can see one region is always rejecting the request vote from tikv-1
![image](https://user-images.githubusercontent.com/13497871/137570315-a04f7727-781d-4cea-be4d-4ab8b4ba93dd.png)

It's due to tikv-0 and tikv-2 is unreachable to tikv-1
![image](https://user-images.githubusercontent.com/13497871/137570924-6ea95d05-2be3-4026-95db-56a753fa9e11.png)

The unreachable state comes from t

[2021-10-16 03:04] mayjiang0203 commented on #11076
/var/lib/tikv/log # tail -10 tikv.log
[2021/10/16 03:04:34.095 +00:00] [INFO] [util.rs:536] ["connecting to PD endpoint"] [endpoints=http://tc-pd-2.tc-pd-peer.testbed-hongm-bs-5p7nn.svc:2379]
[2021/10/16 03:04:34.098 +00:00] [INFO] [<unknown>] ["New connected subchannel at 0x7f403c124f00 for subchannel 0x7f3fbbedac00"]
[2021/10/16 03:04:34.099 +00:00] [INFO] [util.rs:536] ["connecting to PD endpoi

[2021-10-16 05:43] mayjiang0203 commented on #11076
<<Here 8080 was deleted not sure by client, not sure what cause it.
[2021/10/15 03:01:01.254 +00:00] [INFO] [cluster.go:1232] ["delete store succeeded"] [store="id:5477 address:\"tc-tikv-5.tc-tikv-peer.testbed-hongm-bs-5p7nn.svc:20160\" state:Tombstone version:\"5.0.1\" status_address:\"0.0.0.0:20180\" git_hash:\"e26389a278116b2f61addfa9f15ca25ecf38bc80\" start_timestamp:1634266297 deploy_path:\"/

[2021-10-16 05:52] tisonkun opened #11077 "components/sst_importer/src/service.rs not into use"
https://github.com/tikv/tikv/blob/master/components/sst_importer/src/service.rs

I just notice that this file shares most code with `src/import/mod.rs` and not in the source file tree. It is an unused file to remove?

[2021-10-16 05:55] tisonkun opened #11078 "Adopt new DCO validator"
According to https://github.com/probot/dco/issues/162, DCO App is possibly offline in weeks.

Even if there is new maintainer volunteering, it can be considered to adopt new stable DCO validator.

[2021-10-16 08:04] mayjiang0203 commented on #11076
Since delete should sent by user client, it should  be a env issue.

[2021-10-16 08:04] #11076 closed

[2021-10-16 12:38] overvenus opened #11082 "CDC message batching is too aggressive and may exceed the default memory quota"
## Bug Report

### What version of TiKV are you using?

v5.1.1

### Steps to reproduce

1 tikv(ssd) 1 cdc(hdd) cluster.
Set tidb gc lifetime to 2400h.
Sysbench prepare 10 tables, 100GB data.
Create a changefeed start-ts = gcsafepoint+1

### What did you expect?

Memory consumption should be not exceed the default memory quota(512MB).

### What did happened?

CDC message batching is too aggressive

[2021-10-16 12:44] overvenus commented on #11082
After decreasing batch params, memory consumption is much smaller.

[code]

![image](https://user-images.githubusercontent.com/2150711/137587765-9bc759df-ffe1-4604-87c4-c612078e386c.png)

[2021-10-16 13:42] hi-rustin commented on #11078
Maybe we can use the tichi DCO plugin. You can checkout  https://prow.tidb.io/plugins or https://prow.tidb.io/command-help#check_dco.

But it should not work for projects that do not use tichi.

My other proposal is to deploy dco ourselves, we have proven experience using and deploying probot. Many of our bots are also built using probot. cc: @Mini256

Regarding @tisonkun 's proposal, I'm worried

[2021-10-18 07:10] #11053 closed, assigned to nobody

[2021-10-18 09:31] zitudu commented on #329
@siddontang The issue was closed and there is still no RESTFUL APIs. Is there any progress/plan for CLI or RESTFUL? Thx.

[2021-10-18 12:16] overvenus opened #11088 "Test storage::txn::flow_controller::tests::test_flow_controller_l0 fails"
## Bug Report

https://ci.pingcap.net/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/9106/pipeline#step-322-log-216

[code]

[2021-10-18 12:30] #11082 closed, assigned to nobody

[2021-10-19 06:29] Lily2025 opened #11093 "Report region unavailable error during running workload"
## Bug Report

### What version of TiKV are you using?
/ # ./tikv-server -V
TiKV
Release Version:   5.3.0-alpha
Edition:           Community
Git Commit Hash:   cc07794b5f267c9617ee3d39b1d667f5eca47b50
Git Commit Branch: heads/refs/tags/v5.2.0-nightly
UTC Build Time:    2021-10-18 09:38:32
Rust Version:      rustc 1.56.0-nightly (2faabf579 2021-07-27)
Enable Features:   jemalloc mem-profiling porta

[2021-10-19 06:30] Lily2025 commented on #11093
/severity major

[2021-10-19 06:30] Lily2025 commented on #11093
/assign sticnarf

[2021-10-19 06:32] liubog2008 commented on #10296
https://github.com/tikv/tikv/issues/1629

[2021-10-19 06:57] #1629 closed

[2021-10-19 08:33] #11016 closed, assigned to nobody

[2021-10-19 08:34] tisonkun opened #11097 "Consider updating CONTRIBUTING.MD for PR issue association rule"
See also https://github.com/tikv/tikv/issues/11016 & https://github.com/tikv/community/issues/149

[2021-10-19 08:44] sticnarf commented on #11093
## Phenomenon

TiDB reports consistent regionMiss:

[code]

Some regions are created too late in multiple stores (pay attention to the time):

tikv-2:
[code]

tikv-3:
[code]

## Direct cause

The raft batch system runs normally. But the apply duration of tikv-2 and tikv-3 is too high:
![image](https://user-images.githubusercontent.com/17217495/137868754-3546c7ac-d5e6-4259-b753-98da490cbd9d.png)

T

[2021-10-20 05:23] #11055 closed

[2021-10-20 06:21] winoros opened #11106 "Implement Bernoulli Sampling for analyze"
## Development Task

Distributed Reservoir Sampling needs a lot of resources, we try to use Bernoulli sampling to reduce the cost when the table is large.

[2021-10-20 06:38] #11042 closed, assigned to youjiali1995

[2021-10-20 08:15] zhongzc opened #11108 "Memory leak when continuous profiling"
## Bug Report

### What version of TiKV are you using?
nightly, debug build

### What operating system and CPU are you using?
Linux 5.4.0-80-generic x86_64

### Steps to reproduce
[code]

### What did happened?
Increasing memory usage. Won't come down.
![image](https://user-images.githubusercontent.com/29565014/138054740-9894544d-e19e-47a1-bc9d-69848235313b.png)

### What did you expect?
Reasonabl

[2021-10-20 08:16] zhongzc commented on #11108
cc @YangKeao

[2021-10-20 13:18] tier-cap opened #11109 "Space management of RocksDB compaction operation"
## Development Task
When TiKV storage space is very tight, we need to manage the space of RocksDB's Compation operation to avoid occupying excessive storage, even prohibit it.

[2021-10-20 13:30] tier-cap opened #11110 "PD scheduling strategy under abnormal TiKV conditions"
## Development Task
When TiKV is abnormal, such as OOM, Disk Full, etc., in order to ensure service quality, PD needs to have at least three capabilities:
1. Cut off business traffic on abnormal nodes as soon as possible to ensure that basic read and write operations are not affected.
2. It is forbidden to initiate traffic cut-in to abnormal nodes, for example, it is forbidden to initiate transfer

[2021-10-21 02:23] YuJuncen opened #11112 "BR: reduce the operation of creating external storage"
## Development Task
Currently, we create external storage for each thread of backup for each task. However, creating some external storage is non-trivial operation, which involves TLS handshaking, network accessing, etc..

For example, the flame graph below shows how creating S3 external storage costs:

![image](https://user-images.githubusercontent.com/36239017/138200058-e835358b-23dd-462f-ae4d-8

[2021-10-21 06:08] PatrickNicholas opened #11114 "PD to perform a lot of scheduling caused by the reported region size error"
## Bug Report

### What version of TiKV are you using?

master

### What operating system and CPU are you using?

no matter

### Steps to reproduce

just restart a tikv node.

### What did you expect?

When we try to restart a tikv node, the region size reported by tikv's region heartbeat shouldn't suddenly changed to 0.

### What did happened?

In the first few reports, the region size was 0, whi

[2021-10-21 06:37] hi-rustin opened #11115 "Bump the semver version"
## Development Task

semver has released v1.0, so we need to upgrade it.

[2021-10-21 07:56] gejibin opened #11117 "auto backup error"
**auto backup always report the following error:**

[2021/10/20 18:06:50.873 +00:00] [ERROR] [main.go:59] ["br failed"] [error="msg:\"Io(Custom { kind: Other, error: \\\"failed to put object Request ID: None Body: <Error><statusCode>400</statusCode><Code>RequestTimeout</Code><Message>Your socket connection to the server was not read from or written to within the timeout period.</Message><Resource>

[2021-10-21 08:01] MrCroxx opened #11118 "Support multi targets transfer leader"
Subtask of [tikv#10602](https://github.com/tikv/tikv/issues/10602).

Support multi targets transfer leader.

[2021-10-21 09:40] tabokie opened #11119 "Integrate with raft engine"
## Development Task

TiKV subtask of tikv/raft-engine#95

- [x] Support write batch interfaces: `persist_size()`, `merge(rhs)`: https://github.com/tikv/raft-engine/pull/82, https://github.com/tikv/raft-engine/pull/122
- [x] Issue IO requests through IO rate limiter: #10937
- [ ] Tag IO in threads owned by raft engine
- [x] Support encryption at rest: #10937
- [x] Add Grafana monitoring: #11415

[2021-10-21 10:23] rockit-ba opened #11120 "关于配置类实例化"
## Question

麻烦问一下，工程里的 配置实体 比如TiKvConfig之类的，是每次用到的时候都取调用实例化的方法吗，源码中没有找到全局缓存实例的方法/捂脸

[2021-10-21 17:39] nolouch opened #11121 "async-io `cmd-batch-concurrent-ready-max-count` influnence kv_pessimistic_lock"
## Question

I test TPCC  1000 warehouse with 1000 clients in a cloud environment. Due to disk performance issues, we want to see the effect of async io. In this process, we found that after opening async io, adjusting `cmd-batch-concurrent-ready-max-count ` can improve some performance, and the main benefit is that the latency of kv_pessimistic_lock 0.9 is reduced:
kv:
![image](https://user-image

[2021-10-21 17:44] nolouch commented on #11121
Under @gengliqi investigation, there may exist an improvement related to pipelined pessimistic lock handling.

[2021-10-21 17:44] nolouch commented on #11121
/assign @gengliqi

[2021-10-22 02:16] #11115 closed

[2021-10-22 17:33] overvenus opened #11123 "CDC panic "region 298252 miss downstream""
## Bug Report

[code]

### What version of TiKV are you using?

81480b1f32c5e036c3d9a35f69a88431a7b239b3 @ release-5.2 branch.

### What operating system and CPU are you using?

### Steps to reproduce

Run a changefeed that captures 100 tables.

### What did you expect?

No panic.

### What did happened?

Panic.

[2021-10-23 07:20] yoas0bi opened #11124 "TiKV restart without oom info frequently for V5.2.1 version"

[2021-10-23 09:43] #11124 closed, assigned to nobody

[2021-10-25 02:30] vivid392845427 opened #11125 "tipocket testcase bank2a run in test-store，tikv panic found"
## Bug Report

### What version of TiKV are you using?
[code]

### What operating system and CPU are you using?
[code]

### Steps to reproduce
[code]

### What did you expect?

`the case run successfully and tikv is normal；`

### What did happened?
[code]

[2021-10-25 04:04] Lily2025 opened #11130 "one tikv panic while scaling in tikv"
## Bug Report

### What version of TiKV are you using?
TiKV
Release Version:   5.3.0-alpha
Edition:           Community
Git Commit Hash:   33dee1b99ddf050d93a36da19aa641b23f4aff27
Git Commit Branch: heads/refs/tags/v5.2.0-nightly
UTC Build Time:    2021-10-24 17:39:44
Rust Version:      rustc 1.56.0-nightly (2faabf579 2021-07-27)
Enable Features:   jemalloc mem-profiling portable sse protobuf-code

[2021-10-25 06:03] Lily2025 opened #11131 "Commit duration is too long when running a workload with big values (4M)"
## Bug Report

### What version of TiKV are you using?
TiKV
Release Version: 5.3.0-alpha
Edition: Community
Git Commit Hash: 33dee1b
Git Commit Branch: heads/refs/tags/v5.2.0-nightly
UTC Build Time: 2021-10-24 17:39:44
Rust Version: rustc 1.56.0-nightly (2faabf579 2021-07-27)
Enable Features: jemalloc mem-profiling portable sse protobuf-codec test-engines-rocksdb cloud-aws cloud-gcp
Profile: dist_

[2021-10-25 07:56] #11130 closed, assigned to gengliqi

[2021-10-25 08:34] #11123 closed, assigned to nobody

[2021-10-25 10:18] #11125 closed, assigned to gengliqi

[2021-10-26 00:53] tisonkun opened #11140 "Fix link on PerformanceCriticalPath"
`tikv_Map.png` -> `tikv_map.png`

GitHub seems case sensitive.

[2021-10-26 01:04] tisonkun opened #11142 "Update pull request template release note default to None"
To save edits in many cases.

[2021-10-26 01:27] tisonkun opened #11144 "Remove Challenge Program issue template"
https://github.com/tikv/tikv/blob/7b2e71ac6f844b979e33fe7d74f9cc9d0b00eab6/.github/ISSUE_TEMPLATE/challenge-program.md

We don't have to setup such an issue template and challenge program can live transparently from the project if there is a further event. Most of time this option in issue template is noise.

[2021-10-26 08:01] sticnarf opened #11148 "Rollback optimistic txn if meeting an unexpected primary lock when resolving locks for write"
## Problem

Although we have pessimistic transactions now, optimistic transactions tend to be more efficient if there are few conflicts. And it's also why TiDB prefers optimistic transactions for auto-commit transactions.

When there are write conflicts among optimistic transactions, one of the conflicted transactions must be rolled back. The rollback usually happens fast, which is expected. But s

[2021-10-27 07:38] hicqu opened #11151 "cdc incremental scan speed limit doesn't work"
## Bug Report

### What did you expect?
CDC incremental scan speed can be limited less than 128MB/s (by default).

### What did happened?
CDC incremental scan speed can be greater than the configured value. It doesn't work exactly:
<img width="666" alt="图片" src="https://user-images.githubusercontent.com/8407317/139021227-f219dd04-972e-4811-8903-054f4e98056b.png">

[2021-10-27 07:49] hicqu opened #11153 "cdc incremental scanner isn't configured with hint_min_ts"
## Bug Report

### What did you expect?
`hint_min_ts` should be used to filter some SST files for cdc incremental scan. It can speed up the procedure a lot.

### What did happened?
`hint_min_ts` is not used, so that incremental scan is slow and ineffective.

[2021-10-27 08:47] purelind opened #11154 "Remove useless Jenkinsfile"
[Jenkinsfile](https://github.com/tikv/tikv/blob/master/Jenkinsfile) is not used by any ci pipeline now.

[2021-10-27 09:33] 5kbpers opened #11156 "Panic when activating heap profiling"
## Bug Report

If heap profiling exited accidentally, panic would happen when activating heap profiling again because `on_end` was not called.

[code]
[code]

[2021-10-27 09:33] sticnarf opened #11157 "Incorrect snapshot state count if an error occurs on receiving snapshot"
## Bug Report

### What version of TiKV are you using?

v5.0.1. Later TiKV until at lease v5.3 should also be affected.

### What operating system and CPU are you using?

Not related.

### Steps to reproduce

Inject network abnormity to one TiKV instance in the cluster while some snapshots are sending.

### What did you expect?

The other TiKV instances with no network issues will work well.

###

[2021-10-27 09:52] YuJuncen opened #11158 "external_storage, cloud: make `put` an asynchronous function, and make backup asynchronous"
## Development Task
The `write` interface of `ExternalStorage` is weird:

https://github.com/tikv/tikv/blob/98b53e0c04dc7d6a25553d6559e203609f6b7e94/components/external_storage/src/lib.rs#L58-L63

We accept an `AsyncRead`, but returning synchronously, in fact, all implementor of this interface involves `block_on_external_io` which create a temporary Tokio runtime, for executing a sole future. (How

[2021-10-27 11:24] #11106 closed, assigned to nobody

[2021-10-27 12:20] #11140 closed, assigned to tisonkun

[2021-10-27 12:47] ethercflow opened #11159 "Support adjusting the pool size of raftstore poller threads dynamically"
## Feature Request

### Describe the feature you'd like:
A dynamic config modification is performed from TiKV-Control command line ([documentation](https://docs.pingcap.com/tidb/dev/tikv-control#modify-the-tikv-configuration-dynamically)). So expect to adjust the thread pool size in this way:
[code]

### Technical proposal
- Add a `PoolStateBuilder` to `BatchSystem` to create a `PoolState` object

[2021-10-27 12:50] #11156 closed, assigned to nobody

[2021-10-27 14:40] 5kbpers opened #11161 "security issue of dumping heap profile through http api"
## Bug Report

Currently `/debug/pprof/heap` allows reading an arbitrary file, which is a severe security issue since most of tidb clusters were deployed by a user with admin permission:

https://github.com/tikv/tikv/blob/36a32504806411b3d620d3abff06166cc7296484/src/server/status_server/mod.rs#L189-L194

[2021-10-27 16:12] andylokandy opened #11163 "txn_types: Rename `Key::from_raw()` to `Key::from_user_key()`"
Currently raw key may refer to the keys in rawkv which has led to misunderstanding and also added up the difficulties in learning TiKV. I propose to rename the "raw key" as opposed to "memcomparable encoded key" to "user key". Also, many possible alternatives are listed below:

- origin key
- plain key
- public key

[2021-10-28 03:20] Yui-Song opened #11165 "PR #10289 results in performance degradation in TPCC benchmark"
## Bug Report

The pr https://github.com/tikv/tikv/pull/10289 results in performance degradation in TPCC benchmark. The performance drops 5.8%-9.0% against last pull request.

### What version of TiKV are you using?

[code]

### What operating system and CPU are you using?

[code]

### Steps to reproduce

1. create a new tidb cluster
2. patch tikv to this PR (commit hash: 58573b822c7b7f56aeb7933f8

[2021-10-28 07:06] sticnarf opened #11167 "Update release note in the TiKV repo"
The CHANGELOG.md in the TiKV repo has been not changed for months.

The changelog file is useful when people want to search for when a feature is introduced, or when a bug is resolved.

[2021-10-28 07:55] joccau opened #11169 "br: Encrypt/decrypt for backup/restore"
## Development Task

Encrypt the files from br command is necessary to ensure the safety for the financial industry

[2021-10-28 09:52] #11169 closed, assigned to nobody

[2021-10-28 10:23] seiya-annie opened #11171 "resource-metering.agent-address，report-agent-interval changed name in 5.2.2, will caused upgrade fail"
## Bug Report
    resource-metering.agent-address: ""
    resource-metering.report-agent-interval: "1m"
    changed name in 5.2.2
    receiver-address = ""
report-receiver-interval = "1m"

Error: init config failed: 172.16.6.77:2360: executor.ssh.execute_failed: Failed to execute command over SSH for 'tidb@172.16.6.77:22' {ssh_stderr: unknown configuration options: resource-metering.agent-address,

[2021-10-28 10:30] #11151 closed, assigned to hicqu

[2021-10-28 10:37] #11171 closed, assigned to nobody

[2021-10-28 16:34] #11161 closed, assigned to nobody

[2021-10-28 17:10] TennyZhuang opened #11177 "Remove or disable all unstable tests."
There are too many unstable tests in TiKV and not fixed for too long time. A part of them were listed in #10506 , but not all.

E.g. in #11095 , a simple patch, some unrelated test failed 4 times unexpectedly. The unstable tests waste both CI resources and **the time of developers** who should not be responsible for these bugs. Please note that they can do nothing to handle the failure except rety

[2021-10-29 04:10] 5kbpers opened #11178 "Slow node detection is not compatible with raft async io"
## Bug Report

After async io moves io operations to another place, slow node detection can not inspect the latency of the store loop correctly.

[2021-10-29 04:53] andylokandy opened #11180 "Update Rust toolchain to edition 2021"
## Motivation

The most useful update edition 2021 will bring us is the [Disjoint capture in closures](https://doc.rust-lang.org/edition-guide/rust-2021/disjoint-capture-in-closures.html). In edition 2018, when we use `a.x` in a closure, it will move the entire `a` into the closure. But in edition 2021, the closure will only move the field of struct `x`.

The second useful one is implementing `Int

[2021-10-29 05:19] tonyxuqqi opened #11181 "scripts/test: fail to compile and run test due to OOM on a machine with 18G free memory"
## Bug Report

### What version of TiKV are you using?
Master branch or release-5.1.1

### What operating system and CPU are you using?

OS: Linux  3.10.0-862.14.4.el7.x86_64 #1 SMP Wed Sep 26 15:12:11 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
CPU: Intel(R) Xeon(R) CPU E5-2630 v4 @ 2.20GHz, 40 cores
processor	: 39
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU

[2021-10-29 06:27] zhouqiang-cl opened #11182 "Unstable test `cases::test_async_io::test_async_io_cannot_destroy_when_persist_snapshot`"
## Bug Report

### What version of TiKV are you using?

### What operating system and CPU are you using?

### Steps to reproduce

in ci https://ci.pingcap.net/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/9785/pipeline

### What did you expect?

### What did happened?

[2021-10-29 06:29] zhouqiang-cl opened #11183 "Unstable test `cases::test_merge::test_node_merge_restart`"
## Bug Report

### What version of TiKV are you using?

### What operating system and CPU are you using?

### Steps to reproduce

In ci https://ci.pingcap.net/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/9785/pipeline/93

### What did you expect?

### What did happened?

[2021-10-29 06:31] zhouqiang-cl opened #11184 "Unstable test `server_encryption::test_node_snapshot_encryption`"
## Bug Report

[code]
### What version of TiKV are you using?

### What operating system and CPU are you using?

### Steps to reproduce

in ci https://ci.pingcap.net/blue/rest/organizations/jenkins/pipelines/tikv_ghpr_test/runs/9785/nodes/105/steps/261/log/?start=0

### What did you expect?

### What did happened?

[2021-10-29 06:33] zhouqiang-cl opened #11185 "Unstable test `test_cdc::test_cdc_stale_epoch_after_region_ready`"
## Bug Report

### What version of TiKV are you using?

### What operating system and CPU are you using?

### Steps to reproduce

in ci https://ci.pingcap.net/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/9780/pipeline

### What did you expect?

### What did happened?

[2021-10-29 06:34] zhouqiang-cl opened #11186 "Unstable test `raftstore::test_snap::test_server_huge_snapshot`"
## Bug Report

### What version of TiKV are you using?

### What operating system and CPU are you using?

### Steps to reproduce

in ci https://ci.pingcap.net/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/9779/pipeline/102

### What did you expect?

### What did happened?

[2021-10-29 07:01] sticnarf opened #11187 "Stale non-pessimistic lock may be incompatible with CDC and possibly affect data correctness"
## Bug Report

### What version of TiKV are you using?

v4.0.11
### Steps to reproduce

Pessimistic transactions may contain keys that don't need pessimistic locks. These locks are prewritten without any contraint checks.

So, there is a possible case. After a pessimistic transaction is committed, a non-pessimistic lock of the same transaction can  be also prewritten successfully. The lock TS of s

[2021-10-29 07:10] pymongo opened #11188 "`cargo test --package=tikv_util --features test-cgroup` compile error"
## Bug Report

`cargo test --package=tikv_util --features test-cgroup` compile error

### What version of TiKV are you using?
commit 0270e5bb7292ac873f2e4345e02fc2df409a780c

### What operating system and CPU are you using?
- OS: Manjaro 21.1.6 Pahvo
- CPU: AMD Ryzen 9 5900X 12-Core @ 24x 4.2GHz

### Steps to reproduce
cargo test --package=tikv_util --features test-cgroup

### What did you expect?

[2021-10-29 08:30] yuqi1129 opened #11189 "Add Procedural macros to support convert identifier to string literal"
## Development Task
In some macros about tikv config, we run into this situation: convert identifier to string value in compile stage. for example
the following case:

[code]
That is, we need a templated to convert kebab case string to camel case Enum value, However input value is a came-case identifier, We have to use procedural macros to implement this conversion (ReadWrite => "read-write")

Thi

[2021-10-29 08:30] #11188 closed, assigned to nobody

[2021-10-29 10:08] #11178 closed, assigned to nobody

[2021-10-30 04:20] Lily2025 commented on #11131
/severity major

[2021-10-30 08:39] gengliqi opened #11192 "Panic in analyze sampling"
## Bug Report

### What version of TiKV are you using?
https://github.com/tikv/tikv/tree/d0c129dde8d3f41bbac26ab786419bb4b5e24878

### What operating system and CPU are you using?
doesn't matter

### Steps to reproduce
I run tipocket `pipeline` test. I find several TiKV panic and stuck in an infinite crash loop.

### What did you expect?
Not panic.

### What did happened?

[code]
https://github.co

[2021-10-30 08:41] gengliqi commented on #11192
/cc @hicqu @winoros

[2021-10-30 12:47] hdost commented on #6183
I feel like this might want to be upped to difficulty medium?

[2021-10-30 13:09] hdost commented on #1570
Is this talking about doing something similar as to what's being done with `components/raftstore/src/store/metrics.rs ` `REQUEST_WAIT_TIME_HISTOGRAM` ? But inside `components/server`

[2021-10-30 15:26] kennytm commented on #6183
nowadays the benchmark should also consider `wyhash`.

[2021-10-31 15:03] TennyZhuang opened #11194 "Make all features compatible"
## Development Task

Currently, we cannot build TiKV with `--all-targets --all-features`, some features are incompatible, which prevents us run `cargo check`, `cargo clippy`, or many other useful tools with `--all-features` option.

[2021-11-01 03:08] sticnarf commented on #11194
It seems not so easy to achieve that because some features are inherently incompatible, while currently "feature" is the most convenient way to control code.

https://github.com/rust-lang/cargo/issues/2980 has been inactive for quite some time. So, I'm afraid it might be impossible in the near future.

[2021-11-01 05:31] 5kbpers opened #11195 "Label leaking of thread metrics"
## Bug Report

Here we buffered all labels (thread IDs), then labels can not be dropped even if threads have been exited.

https://github.com/tikv/tikv/blob/13db52e63a746f546cdf6fa3c779378f228d907c/components/tikv_util/src/metrics/threads_linux.rs#L25-L40

[2021-11-01 07:39] 5kbpers opened #11197 "Unstable test about slow store detection"
## Bug Report

See https://ci.pingcap.net/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/9938/pipeline/

[2021-11-01 07:40] #11114 closed

[2021-11-01 09:19] #11195 closed

[2021-11-01 10:17] Connor1996 commented on #9936
Close by https://github.com/tikv/tikv/pull/10978

The PR avoids the write stall after table drop though compaction pending bytes still change dramatically(it's as expected and just a statistics)

[2021-11-01 10:17] #9936 closed

[2021-11-01 10:44] breeswish opened #11204 "Possible memory fragmentation risk when using external storage"
## Bug Report

### What version of TiKV are you using?

master.

### What operating system and CPU are you using?

Standard linux.

### Steps to reproduce

In https://github.com/tikv/tikv/pull/7306, the memory fragmentation is relaxed by greatly reducing the frequency of reading the thread list.

However, as external storage is calling `block_on_external_io`, which will create new threads each tim

[2021-11-01 11:18] BusyJay commented on #11194
I believe #11099 should solve the issue.

[2021-11-01 11:18] hi-rustin commented on #11187
/assign

[2021-11-01 11:25] BusyJay commented on #11189
Will hand writing match be optimized out at compile time? If it is, a procedural macros seems overkill.

[2021-11-01 11:53] #11197 closed

[2021-11-02 05:12] #10959 closed

[2021-11-02 05:12] #10960 closed

[2021-11-02 05:12] #10925 closed

[2021-11-02 05:12] #10926 closed

[2021-11-02 05:12] #10895 closed

[2021-11-02 05:12] #10868 closed

[2021-11-02 05:12] #10894 closed

[2021-11-02 05:12] #10840 closed

[2021-11-02 05:12] #10839 closed

[2021-11-02 05:24] sticnarf commented on #11194
`test-engine-kv-panic` and `test-engine-kv-rocksdb` seems to be incompatible features. Enabling both can cause problems when building tests.

[2021-11-02 08:04] Yui-Song commented on #11165
/severity major

[2021-11-02 12:33] NingLin-P commented on #10595
There is even a more common case that may lead to region unavailable when removing a voter from a 2 replica raft group:

Assume the leader wants to remove another voter. After it sends the message with the commitment of the `confchange` and before it persists the commit index (leader can send messages before persisting data) the leader node crashed, but the follower can still apply the `confchange

[2021-11-02 13:10] BusyJay commented on #11184
This is probably a bug.

[2021-11-02 13:18] BusyJay commented on #11182
@gengliqi PTAL.

[2021-11-02 13:22] yaozongyou opened #11210 "tikv-ctl's output is incomplete, maybe slog-async is not flushed when tikv-ctl process exits"
I am using the master branch of tikv-server which build from source code. And running the following tikv-ctl command gives incomplete outputs:
[code]
as shown above, some logs not printed, and if add `std::thread::sleep(std::time::Duration::from_secs(1));` before
https://github.com/tikv/tikv/blob/8a16a5b63402096850509855961e7f1be5705509/cmd/tikv-ctl/src/main.rs#L92
the output is complete now:
[cod

[2021-11-02 13:41] BusyJay commented on #11177
I'm working on some of the cases and also assigning some of them to owners. Hope to make most of them stable in short time.

Some test cases involve heavy IO/CPU operations, perhaps using memory disk/high end disk can also help improve the success rate.

[2021-11-02 18:04] #11108 closed

[2021-11-03 02:00] yuqi1129 commented on #11189
@BusyJay , I'm not sure if we need this macros to solve concrete case conversion problem.  But @tabokie suggest we'd better add it for further use. @tabokie Can you make this issue more clearly here?

[2021-11-03 02:43] yaozongyou commented on #11210
https://docs.rs/slog-async/2.7.0/slog_async/#beware-of-stdprocessexit
std::process::exit prevents flushing of the async drain.

[2021-11-03 03:04] hi-rustin opened #11214 "Remove useless jenkins file"
## Development Task
Remove useless jenkins file: https://github.com/tikv/tikv/blob/master/Jenkinsfile

[2021-11-03 03:13] TennyZhuang commented on #11177
Please note that this issue is not about these unstable tests per se, but about how to deal with them. Any test that might cause the master ci to fail should be rolled back or disabled as soon as possible, rather than hanging around causing problems for others and waiting for someone to fix it.

[2021-11-03 03:14] TennyZhuang commented on #11177
Boosting the fix speed did not solve the issue

[2021-11-03 04:19] tabokie commented on #11189
@BusyJay The use case is to make RocksDB enum configuration supports string literals (e.g. `compaction-style = "universal"`), without breaking backward compatibility of using numbers. This is what it looks like before: https://github.com/tikv/tikv/blob/e1b198abeaa8c781794cc6d374bf8aea96cc34f8/components/engine_rocks/src/config.rs#L384-L389

Not particularly good, so I think it would be better to i

[2021-11-03 07:01] frew opened #11217 "TiKV GcKeys task doesn't work when called with multiple keys (at least in 5.1 but I think for everything)"
## Bug Report

In gc worker, https://github.com/tikv/tikv/blob/master/src/server/gc_worker/gc_worker.rs#L340 the GcKeys GC task when called with multiple keys tries to get the list of regions overlapping the key range for the task and then do a sorted merge of the keys and the space encompassed by the regions. However, it fails to prepend the keys with the data prefix ('z') when passing them to ge

[2021-11-03 07:09] frew commented on #11217
Tagging @hicqu @Connor1996 @MyonKeminta from https://github.com/tikv/tikv/pull/9959

[2021-11-03 07:15] BusyJay commented on #11177
I agree new test cases should be rollback or fixed as soon as possible, but I don't think it's appropriate to disable unstable test cases. Even test cases are unstable, they are still value at covering some part of the system. Disabling it or removing it will lose the opportunity to find errors early.

If there are too many unstable test cases, it means the code quality becomes low, we need to pau

[2021-11-03 08:02] sticnarf opened #11218 "FlowController channels are leaked in tests"
https://github.com/tikv/tikv/blob/42c7aad5fb93d0ee6a69179e314ddc8ffc474364/src/storage/txn/flow_controller.rs#L103

Previously, we leak the channel receiver for convenience. Leaking such small amount of memory is not a real problem but this is not a good code practice.

[2021-11-03 09:41] tabokie opened #11224 "engine_rocks: NoSpace error during flush or compaction should be ignored"
## Development Task

NoSpace error during flush or compaction is harmless, as the output files aren't installed to the db yet.

RocksDB already handles IOError::NoSpace nicely, see https://github.com/tikv/rocksdb/blob/f236fe443d06337ca2538414c62f70ba17b8e409/db/error_handler.cc#L230. We should recognize this case in TIKV's event listener, and do not panic.

[2021-11-03 09:42] Connor1996 commented on #11217
Nice catch! It does have the problem. Would you like to file a PR to fix it?

[2021-11-03 10:13] tabokie opened #11226 "TiKV rollback encounters panic "failed to load_latest_options""
## Bug Report

### Description

Rollback from version greater than v5.2.0 to version lower than [v5.0.4, v5.1.2], TiKV panics with message:
[code]

### Root cause

https://github.com/tikv/rocksdb/pull/252 introduced a new RocksDB configuration item, lower versions that are unaware of this item can't parse options file.

### Workaround

First rollback to version v5.0.4 or v5.1.2, then rollback to t

[2021-11-03 10:19] Lily2025 commented on #11018
/type bug

[2021-11-03 10:21] MyonKeminta commented on #11217
Thanks for your reporting and digging so deep to find the cause.

Your suggested change should work, but I suggest adding the `data_key` conversion [here](https://github.com/tikv/tikv/blob/master/components/raftstore/src/coprocessor/region_info_accessor.rs#L387) so that all interfaces of the `RegionInfoAccessor` are consistent, which means they all accepts normal encoded keys instead of `'z'`-pref

[2021-11-03 11:38] BusyJay opened #11229 "test_resource_metering is too slow"
test_resource_metering takes 4 minutes to finish, which is too long.

https://ci.pingcap.net/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/10151/pipeline/112#step-333-log-108

[2021-11-03 12:03] mayjiang0203 opened #11230 "V5.2.2: Region leader come back take more than 30min after one tikv node restart"
## Bug Report

### What version of TiKV are you using?

/var/lib/tikv/log # /tikv-server -V
TiKV
Release Version:   5.2.2
Edition:           Community
Git Commit Hash:   7acaec5d9c809439b9b0017711f114b44ffd9a49
Git Commit Branch: heads/refs/tags/v5.2.2
UTC Build Time:    2021-10-25 12:03:38
Rust Version:      rustc 1.56.0-nightly (2faabf579 2021-07-27)
Enable Features:   jemalloc mem-profiling por

[2021-11-03 12:15] BusyJay commented on #11018
I don't think it's a bug, it's working as expected.

[2021-11-03 12:22] BusyJay commented on #11230
How long does the chaos last?

[2021-11-03 12:27] #4272 closed

[2021-11-03 13:46] BusyJay commented on #10832
According to @hicqu, there is no analyze at that time, so it's not the same as #10701.

@Lily2025 do you reproduced the issue?

[2021-11-03 14:21] tier-cap opened #11232 "RocksDB compaction needs to take into account the storage space left."
## Development Task
The storage space enlargement of a Compaction is theoretically up to the total storage space of the next layer.
Such extreme scenarios can easily lead to the No Space Left problem.
At the same time, when the disk space is very tight, it is still easy to cause No Space Left due to Compaction.
The Compaction behavior needs to be controlled so that it can actively Rollback when th

[2021-11-03 15:17] BusyJay commented on #7661
Why is this closed?

[2021-11-03 16:59] #11182 closed

[2021-11-03 16:59] #11186 closed

[2021-11-03 16:59] #11183 closed

[2021-11-03 16:59] #11184 closed

[2021-11-03 17:47] frew commented on #11217
Oh, good point in making RegionInfoAccessor consistent. Will cut a PR

[2021-11-03 19:05] frew commented on #11217
Added PR - going to backport to 5.1.2 locally and test on our cluster. Could somebody on the PingCAP side take adding whatever tests you think appropriate?

[2021-11-03 19:38] frew commented on #11217
Posted this as a comment on the PR as well but as-written, doesn't work: Actually this has a problem - get_regions_in_range is also called from CompactionGuardGenerator, where we already have a data key. I think that function is also busted because it then calls data_end_key(&region.end_key) where I think region end_key is already data encoded? This is starting to seem like it really needs an actu

[2021-11-04 00:24] frew commented on #11217
Okay, here's a version (with logging as well) that's working locally: https://github.com/frew/tikv/pull/1/files

Ran into two additional issues:
1. `get_regions_in_range` isn't really what we want here - we need the regions encompassing the range (i.e. including a region that has an endpoint outside of the range), so added a function to do that (haven't checked the other callsite for get_regions_i

[2021-11-04 00:38] yiwu-arbug commented on #11217
`CompactionGuardGenerator` code looks fine. it is applying `data_end_key` on `region.end_key`, which is unencoded.

[2021-11-04 01:28] dbsid commented on #11165
for sysbench oltp_insert workload, the performance degradation from  pr #10289 is 4.7%, compared the the previous pr.

[2021-11-04 01:40] frew commented on #11217
The problem is the other way - self.smallest_key and self.largest_key appear to already have the 'z' prefix, so following @MyonKeminta 's suggestion of making the function prepend internally doesn't work.

[2021-11-04 01:44] Connor1996 commented on #11217
okay, I’ll add a test and fix it

[2021-11-04 01:51] frew commented on #11217
@Connor1996 okay, the current version (+logging) which seems to be working when applied to our 5.1.2 cluster is at: https://github.com/frew/tikv/pull/1/files

Please let me know (+ feel free to ping me in Slack) if you have any questions. The logging is probably more verbose than you'd want to merge into mainline, but I think everything else is reasonable to merge. One thing I haven't checked is w

[2021-11-04 03:10] seiya-annie opened #11235 "v5.2.2 resource-metering.enabled default value is true, should be false"
## Bug Report

### What version of TiKV are you using?
v5.2.2

### What operating system and CPU are you using?

### Steps to reproduce
[resource-metering]
enabled = true
### What did you expect?
[resource-metering]
enabled = false
### What did happened?

[2021-11-04 03:17] mornyx commented on #11229
Can we simply shorten this reporting interval at [tests/integrations/resource_metering/test_suite/mod.rs#L55](https://github.com/tikv/tikv/blob/f3f02d7fc6cf7e94abcf8cdb9b9ff52b110a72ba/tests/integrations/resource_metering/test_suite/mod.rs#L55)? @zhongzc

[2021-11-04 03:54] tier-cap commented on #10731
Closed by https://github.com/tikv/tikv/pull/10833 and https://github.com/pingcap/tidb/pull/27685

[2021-11-04 03:54] #10731 closed

[2021-11-04 03:59] tier-cap commented on #10708
can close it by https://github.com/tikv/tikv/pull/10833 and https://github.com/pingcap/tidb/pull/27685

[2021-11-04 04:09] mayjiang0203 commented on #11230
Three chaos inject, and every one last 1 min. the last chao delete at 15:20.

[2021-11-04 04:26] tier-cap opened #11236 "Snap mgr should be banlanced with disk space usage"
## Development Task
During the expansion process, the full-disk node needs to generate a snapshot, occupying additional storage space.
When the disk space is tight, the management of the snapshot space needs to ensure that the reserved space is not full filled.

[2021-11-04 06:21] #11218 closed

[2021-11-04 06:35] sticnarf commented on #11148
- [ ] Add `lock_ts` field to `TxnNotFound` https://github.com/pingcap/kvproto/pull/832
- [ ] Return mismatching lock TS in `TxnNotFound` error in unistore https://github.com/pingcap/tidb/pull/29394
- [ ] Return mismatching lock TS in `TxnNotFound` error in TiKV https://github.com/tikv/tikv/pull/11208
- [ ] Abort if the mismatching lock is from the current transaction when resolving locks https://g

[2021-11-04 06:42] BusyJay commented on #11230
From logs, most failures are caused by log gap.
[code]

As there are ongoing requests, I think it's expected. It should recover automatically once all logs are catched up.

[2021-11-04 06:52] Little-Wallace opened #11239 "import: TiKV verify-checksum in apply-thread and it cost a lot of time"
## Bug Report

### What version of TiKV are you using?

master

### What operating system and CPU are you using?

TiKV runs verify-checksum before ingest one sst files. And TiKV executes this operation in apply-thread. If there are a lot of files waiting to be ingested, it will cost a lot of time to calculate checksum for them in only one thread.

### Steps to reproduce

### What did you expect?

[2021-11-04 07:10] BusyJay commented on #10832
Feel free to reopen once reproduce.

[2021-11-04 07:12] BusyJay commented on #10924
According @winoros, it's fixed in TiDB side.

[2021-11-04 07:12] #10924 closed

[2021-11-04 07:23] sticnarf commented on #11148
@youjiali1995 @MyonKeminta PTAL the above PRs with order.

[2021-11-04 07:42] mayjiang0203 commented on #11230
/found automation

[2021-11-04 07:57] youjiali1995 opened #11241 "Relax default max key size"
The default max key size is 4096 which is suitable for TiDB without clustered index because the max index length is 3072, but with clustered index, the length of clustered primary key + lenght of index key may be greater than 4096 which results in `tikv aborts txn: KeyTooLarge(5562, 4096)`. I think we can relax it to 8192.

[2021-11-04 08:54] cfzjywxk commented on #11241
I think @TonsnakeLin could help with this.

[2021-11-04 09:28] yuqi1129 opened #11243 "Output errror message when data directory is locked by another process when running tikv-ctl"
## Bug Report

### What version of TiKV are you using?

### What operating system and CPU are you using?

### Steps to reproduce

When i start tikv-server locally as follows
[code]
and then i run the tikv ctl to get store info
[code]

### What did you expect?

Error message that shows `/tmp/data/tikv-0/data` is occupied by another process

### What did happened?
[code]
No message about what's wron

[2021-11-04 09:37] yuqi1129 commented on #11243
/assign

[2021-11-04 09:55] dveeden commented on #6443
@salarali was the issue resolved?

[2021-11-04 10:07] yuqi1129 commented on #11243
Seem that we should make log level as warn or error

[code]
quite strange

[2021-11-04 10:07] youjiali1995 commented on #9462
In https://github.com/tikv/tikv/pull/4745, we moved the `on_write_finished()` from apply thread to scheduler thread because it causes performance drop. We should figure out which strategy can imrpove performance, for example, only calls the callback in apply thread and schedules it to scheduler pool to release latches, or schedule it to an idle thread(scheduler `high_priority_pool` or a standalone

[2021-11-04 10:16] MyonKeminta commented on #11148
Are these PRs still drafts? The solution looks fine to me

[2021-11-04 10:22] salarali commented on #6443
I didn't try again but I think that functionality doesn't exist. If the replication factor is 1 and u lose some regions, the cluster is unable to recover.

Maybe the new versions have improved the logic but I haven't tried them out.

[2021-11-04 10:34] dveeden commented on #6443
With a replication factor of 1 and say 2 TiKV instances your table is split in say 10 regions and each TiKV instance will hold 5 regions.

If a TiKV instance permanently dies there half of the regions for this table are gone. This is an unrecoverable situation. It might be possible to get some data out of the remaining 5 regions on the remaining TiKV node, but not the complete table.

If a TiKV in

[2021-11-04 10:55] #10947 closed

[2021-11-04 11:06] salarali commented on #6443
I would expect the cluster to recover properly with the remaining regions. Of course the 5 regions are lost, but I should be able to use the data in the remaining 5 regions. Currently, if I lose a single tikv node, basically I have to remake the entire cluster.

Mostly price and the fact that I am okay with losing the data if the node dies.

[2021-11-04 11:31] sticnarf commented on #11148
No, they are reviewable. They are drafts only if there are patches to be replace.

[2021-11-04 11:47] nolouch opened #11247 "Make threads of `snap-generator` pool be adjustable"
## Background
In recover scenario,  because we want TiDB to make up the copy as soon as possible, we release all limit, including `store limit`, `scheduling limit`,  `snap-max-write-bytes-per-sec` and so on. but the IO only reach to 150MB/s for each TiKV instance. after we change the pool size of region worker from `2` to `32`, the recover speed has been effectively improved.
https://github.com/ti

[2021-11-04 11:56] bufferflies commented on #11247
let me try

[2021-11-04 11:56] DanielZhangQD commented on #10537
For some users that only have small disks, e.g. 10GB disk, it's really necessary to have the features in this issue to improve the disk usage ratio and the stability of the TiDB clusters.

[2021-11-04 11:56] yaozongyou commented on #11243
it seems it is the same question with #11210

[2021-11-04 11:57] nolouch commented on #11247
/assign @bufferflies

[2021-11-04 11:58] nolouch commented on #11247
FYI @andylokandy @iosmanthus

[2021-11-04 12:17] bufferflies commented on #11192
the cause seems that tidb version higher than v5.3 and tikv is less than v5.3. In version 5.3, tidb change the analyze behaviors  using sampling. so you can set analyze version=1 or update tikv to solve it.

[2021-11-04 12:53] Lily2025 commented on #11192
/severity major

[2021-11-04 12:53] Lily2025 commented on #11226
/severity major

[2021-11-04 12:55] Lily2025 commented on #11157
/severity major

[2021-11-04 13:57] #11144 closed

[2021-11-04 14:00] Little-Wallace commented on #11239
![image](https://user-images.githubusercontent.com/16376959/140327348-2d20560b-900e-489c-9a39-b3bab825487c.png)

[2021-11-04 14:10] Little-Wallace commented on #11239
This bug is caused by https://github.com/tikv/tikv/pull/9924

[2021-11-04 14:28] BusyJay opened #11250 "test case test_update_server_config failed"
## Bug Report

### What version of TiKV are you using?
Doesn't matter.

### What operating system and CPU are you using?
Linux, x86_64

### Steps to reproduce
run integration tests multiple times, it will fail occasionally.

### What did you expect?
It finishes successfully.

### What did happened?
[code]

[2021-11-04 14:47] Little-Wallace commented on #11239
![image](https://user-images.githubusercontent.com/16376959/140335201-42d7f011-836a-4b3c-961e-a8e6a633b363.png)

[2021-11-04 17:17] BusyJay commented on #4045
Fixed by #6539.

[2021-11-04 17:17] #4045 closed

[2021-11-04 17:48] gengliqi opened #11251 "remove useless response in apply thread"
## Development Task

[code]
The size of this data structure is 152 bytes.
The only useful thing in this struct is `ReadIndexResponse` and it's handled by store thread.
However, in apply thread, every request will generate a `Response` and push it to `RaftCmdResponse::responses`, which is very wasteful.

[2021-11-04 18:05] frew commented on #11217
(deleted one comment that misunderstood something)

One proposal to make code simpler: https://github.com/Connor1996/tikv/pull/2

Other than that, looks good to me as far as I understand it.

[2021-11-05 02:45] zhongzc commented on #11229
Can have a try.

[2021-11-05 04:29] ztelur commented on #11119
Hi! I am interested in raft. Is there some work I can contribue to ?

[2021-11-05 05:05] Lily2025 commented on #11131
/found automation

[2021-11-05 06:05] #11239 closed

[2021-11-05 06:56] v01dstar opened #11262 "Flaky test raftstore::test_unsafe_recover::test_unsafe_recover_update_region"
## Bug Report

The test_unsafe_recover_update_region in the file "tests/integrations/raftstore/test_unsafe_recover.rs" some times panics, saying "region update for unsafe recover should only occur in leaderless region".

[2021-11-05 07:18] iosmanthus commented on #11247
@nolouch https://github.com/tikv/tikv/pull/11263 PTAL

[2021-11-05 08:30] yuqi1129 commented on #11243
@yaozongyou , Thanks for your comment, Indeed this issue is the same with #11210 , I will close this issue and related PR

[2021-11-05 08:30] yuqi1129 commented on #11243
Duplicated issue, close it

[2021-11-05 08:31] #11243 closed

[2021-11-05 09:23] youjiali1995 commented on #11148
An optimistic transaction that meets a lock with larger ts must be rolled back due to write conflict. The reason why txn1 blocks here is it can't find the primary lock of txn2. Can we just make txn1 rolls back itself even if the primary lock of txn2 doesn't exsit?

[2021-11-05 09:28] youjiali1995 commented on #11148
We only need to change the impelmentation of lock resolver and I think its effect is same as your solution.

[2021-11-05 09:37] sticnarf commented on #11148
I thought there might be slight difference in success rate. But maybe not so important...

If start ts of txn1 is 20 and start ts of txn2 is 10. Both of them write k1 and k2.

Txn2 first prewrites k2 but has not prewritten k1. Then, txn1 prewrites k2 and finds the lock. If the primary lock has not been prewritten yet, we don't need to abort the txn2 immediately. Then, both txn1 and txn2 can succee

[2021-11-05 09:53] youjiali1995 commented on #11148
How can they are both committed? If txn2 doesn't meet locks of txn1, it can be committed and txn2 will be rolled back due to write conflict.

My point is a transaction meets a lock with larger ts can roll back itself directly, not to resolve other transactions. I think txn3 won't be affected.

[2021-11-05 10:08] sticnarf commented on #11148
If txn2 then prewrites k1 with min_commit_ts=15, then txn2 can commit with commit_ts=15 using async commit. And txn1 can commit without write conflict.

[2021-11-05 10:19] 5kbpers opened #11265 "Heap profiling result may be lost after pod restarting"
## Bug Report

Currently we generate heap profile to `/tmp`, then the files may be lost after pod restarting in docker environment.