[2020-10-16 18:45] #8837 closed

[2020-10-19 02:24] youjiali1995 commented on #8650
@blueseason Sorry, it can be resolved by https://github.com/tikv/tikv/pull/8514. I will remove the help wanted label.

[2020-10-19 03:32] cosven commented on #8783
I've met the same problem with tidb nightly build (docker).

[2020-10-20 17:04] gengliqi commented on #8783
Good! Does your TiKV run with some chaos?

[2020-10-21 01:07] #8452 closed

[2020-10-21 02:20] cosven commented on #8783
No, I just turned on shuffer-region/shuffer-leader/random-merge.

[2020-10-21 07:01] #8761 closed

[2020-10-21 07:58] cosven opened #8861 "potential endless loop in compaction_filter"
## Bug Report

### What version of TiKV are you using?

master

### Steps to reproduce

none

### What did happened?
https://github.com/tikv/tikv/blob/cac226a6a00fcb54dc320894e5bab24e9edd6b0c/src/server/gc_worker/compaction_filter.rs#L167-L172

potential endless loop when `match Key::split_on_ts_for(key)` return error

[2020-10-21 08:47] lhy1024 opened #8862 "Add more test to cover Load-base-split"
## Description

TiKV crashes in the [previous code](https://github.com/tikv/tikv/issues/8574) which means the unit tests do not cover this case i.e. Task::AutoSplit. I find it is added from #6663. We need to add more test to cover it

## Score

- 900

## Mentor

- @lhy1024

## Recommended Skills

- Rust

[2020-10-21 11:47] lhy1024 commented on #8862
/label sig/scheduling

[2020-10-21 11:48] lhy1024 commented on #8862
/label high-performance

[2020-10-21 11:49] lhy1024 commented on #8862
/label difficulty/easy

[2020-10-21 13:22] NingLin-P commented on #7909
The test failed at https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/32157/consoleFull and https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/32271/consoleFull because `test_transfer_leader_slow_apply` caused core dumped

[2020-10-21 13:26] blueseason commented on #8650
/give-up

[2020-10-21 15:15] hbina commented on #8862
I don't see any crashes in the reference issue?

[2020-10-22 05:34] solotzg commented on #7047
closed by https://github.com/tikv/tikv/pull/8820

[2020-10-22 05:34] #7047 closed

[2020-10-22 06:14] lhy1024 commented on #8862
The fixed pr is #8585 and I hope we can add more unit test to avoid similar problems

[2020-10-22 07:16] Patrick0308 commented on #8752
/pick-up

[2020-10-22 08:30] gengliqi commented on #7693
Another new case https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/32443/pipeline
Seems this test is unstable. @hicqu

[2020-10-22 13:03] sre-bot opened #8874 "cases::test_replica_read::test_new_split_learner_can_not_find_leader failed"
cases::test_replica_read::test_new_split_learner_can_not_find_leader

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/32407/consoleFull

[2020-10-22 14:04] #7909 closed

[2020-10-22 22:32] brson commented on #8452
This is done through the engine_test crate. See its crate docs and usage in raftstore for details.

[2020-10-22 22:42] brson commented on #6402
This has made a lot of progress. We're still months away from being able to run tikv with a real alternative engine, but most of the pieces are mostly in place now.

- The raftstore crate is almost completely parameterized over the KvEngine trait, but is not yet free of the engine_rocks dependency. There is perhaps one more test still using RocksEngine directly, and the crate still uses the engine

[2020-10-23 05:31] kennytm commented on #8768
In 4.0.8 we have changed the error message to include more context of failure (#8766, #8767).

We suspect that this is still caused by token expiry: while BR takes way less than 1 day, the TiKV process lasts far longer, so it is still possible that the token expired during backup. We're currently trying a reproduce this with a minimized AWS environment using a very short expiration duration to che

[2020-10-26 03:11] crazycs520 opened #8883 "cann't get the raft-max-inflight-msgs config value from the config http api"
## Bug Report

### What version of TiKV are you using?

After I change the [raftstore] raft-max-inflight-msgs = 256, I use `curl tikv_status_address/config` to validate, but I cann't get the `raft-max-inflight-msgs` value.

[code]

### What operating system and CPU are you using?

### Steps to reproduce

### What did you expect?

### What did happened?

### TiKV Version

[code]

[2020-10-26 09:51] #7976 closed

[2020-10-26 10:55] zhangysh1995 opened #8888 "[High Performance Challenge] ycsb workloada tikv batch and commit take more time"
**Team:** v587
**Description:** Our group's task is to optimize TiDB under yscb workloada.
**Issue Scope:** high performance challenge

## Question
We executed the workload and collected the analysis data by running the following commands:
*  Execute the workloads for 60 times (because sample time is 60s, each iteration is around 1s, repeat the execution to remove instability):
[code]
*  Collect t

[2020-10-26 12:36] zhangysh1995 commented on #8888
**We also tested our picked `workloade`, which has _more obvious_ time spent on `tikv.batchSendLoop`.**

**Overview:**
![image](https://user-images.githubusercontent.com/8340592/97172887-a8eeff80-17ca-11eb-903d-38c25a1781aa.png)

**batchSendLoop:**
![image](https://user-images.githubusercontent.com/8340592/97172945-c328dd80-17ca-11eb-8c75-fac7b700e827.png)

**copIteratorWorker:**
![image](https://

[2020-10-27 02:36] crazycs520 commented on #8883
@breeswish  PTAL

[2020-10-27 02:50] breeswish commented on #8883
These configurations are [marked as hidden](https://github.com/tikv/tikv/blob/master/components/raftstore/src/store/config.rs#L53). @BusyJay PTAL, I think they should be revealed from configuration API. Otherwise there is no way for other components (like SQL Diagnostics) to know the value of this configuration item.

[2020-10-27 06:08] BusyJay commented on #8883
@NingLin-P PTAL. It can be a read-only field.

[2020-10-27 06:52] #8695 closed

[2020-10-27 06:53] andylokandy commented on #7290
yes, if you don't mind the increased latency.

[2020-10-27 06:54] andylokandy commented on #7257
Thank you @bunker-inspector !

[2020-10-27 06:54] #7257 closed

[2020-10-27 06:57] andylokandy commented on #8841
Duplicated issue. We've been internally discussing the feature, and you can add comments to https://github.com/tikv/tikv/issues/3015.

[2020-10-27 06:57] #8841 closed

[2020-10-27 07:12] andylokandy commented on #3015
RFC for CAS:

[2020-10-27 07:21] NingLin-P commented on #8883
Previously, which configurations are marked as hidden are subject to whether they show up at the config template and that may implying whether we want the user to change these configs. But indeed, this relationship is staled, and I will send a PR to make some configs become read-only field. /cc @rleungx @overvenus

[2020-10-27 07:22] #8738 closed

[2020-10-27 07:33] #8153 closed

[2020-10-27 09:37] #7290 closed

[2020-10-27 10:47] #8486 closed

[2020-10-27 12:29] #8546 closed

[2020-10-28 02:18] Patrick0308 commented on #8752
Sorry, I will work on it in this weekend.

[2020-10-28 02:59] #1215 closed

[2020-10-28 03:13] andylokandy commented on #5595
@koushiro Is that pr sufficient to close the issue?

[2020-10-28 03:16] yiwu-arbug commented on #2640
This is done.

[2020-10-28 03:17] #2640 closed

[2020-10-28 03:18] yiwu-arbug commented on #6293
this was done.

[2020-10-28 03:18] #6293 closed

[2020-10-28 03:18] hunterlxt commented on #8569
I'll deal with this issue at the end of this week.

[2020-10-28 03:27] #2642 closed

[2020-10-28 04:14] koushiro commented on #5595
@andylokandy  I'm waiting for #8817 to be merged, in which I removed all the dependencies associated with rand 0.6.

[2020-10-28 04:26] #8229 closed

[2020-10-28 06:17] sticnarf commented on #2909
The flaky test report is invalid now. We don't receive a similar failure recently. So close this issue.

[2020-10-28 06:17] #2909 closed

[2020-10-28 06:18] sticnarf commented on #2530
[tipocket](https://github.com/pingcap/tipocket) contains quite some stability tests for transactions. I think this issue can be closed.

[2020-10-28 06:18] #2530 closed

[2020-10-28 06:25] rleungx commented on #6734
IMO, 10 minutes is still too long for scaling out/in scenarios. @overvenus

[2020-10-28 06:50] overvenus opened #8901 "Invalid external storage path will cause TiKV panic during backup"
## Bug Report

### What version of TiKV are you using?

master and latest release-4.0

### Steps to reproduce

Backup to a read-only directory.

### What did you expect?

TiKV does not panic.

### What did happened?

TiKV panic.

![image](https://user-images.githubusercontent.com/2150711/97402079-e7043480-192c-11eb-9555-abd31c70991a.png)

[2020-10-28 10:01] #8901 closed

[2020-10-28 12:10] #8650 closed

[2020-10-28 22:33] dvermd opened #8905 "Review iterations on 0..xyz.len() -1"
## Development Task

While working on clippy lints #8336, I encountered a bug where a loop goes iterates on  `0..xyz.len() -1` to use `copy()` on a element and treat the last element `xyz[xyz.len() - 1]` after the loop without the `copy()`.
This seems like an optimization.

But in the case of this loop https://github.com/tikv/tikv/blob/c021e2344662e5105e3c1113333f10120a4ad7ee/components/cdc/src/de

[2020-10-29 01:51] tennix opened #8906 "Support GCP KMS for data encryption at rest"
## Feature Request

### Is your feature request related to a problem? Please describe:

When running TiKV on GCP, users cannot use KMS of GCP.

### Describe the feature you'd like:

Support GCP KMS for data encryption at rest.

### Describe alternatives you've considered:

Users can use AWS KMS, but it's weird that GCP users uses keys in AWS KMS.

### Teachability, Documentation, Adoption, Migrati

[2020-10-29 09:39] Patrick0308 commented on #8752
/pick-up

[2020-10-29 12:06] #8212 closed

[2020-10-29 13:01] sre-bot opened #8910 "import::test_sst_service::test_ingest_sst failed"
import::test_sst_service::test_ingest_sst

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/33284/consoleFull

[2020-10-29 20:21] yiwu-arbug commented on #8212
Please also add tipocket test for this change.

[2020-10-30 02:35] hunterlxt commented on #8212
Ok, I'll collaborate with @mahjonp

[2020-10-30 03:23] Connor1996 commented on #8721
Some thoughts:
- ingested files doesn't use zstd compression
- By dynamical level bytes, L6 may accumulate some files with no compression at first

[2020-10-30 03:26] Connor1996 commented on #8721
Also why L0's is better than L2/L3

[2020-10-30 08:48] overvenus opened #8916 "Restore slow down due to rewriting file/key.dict after enabling encryption at rest"
## Bug Report

Restore slow down due to rewriting file/key.dict after enabling encryption at rest.

### What version of TiKV are you using?

release-4.0

### Steps to reproduce

BR restore 1T backup.

### What did you expect?

Restore should not slow down greatly due to encryption at rest.

### What did happened?

Restore becomes slower as sst file increases.

![image](https://user-images.githubus

[2020-10-30 09:47] overvenus commented on #8916
Cc https://github.com/pingcap/br/issues/570

[2020-11-01 04:04] Patrick0308 commented on #8752
@iosmanthus @breeswish Hi, if we use fully pipelined push-based query engine. Do we need to push a batch? A little batch or one row that maybe is a better choice.

[2020-11-02 05:46] 5kbpers commented on #8271
Error codes have defined in `components/error-code`.

[2020-11-02 05:46] #8271 closed

[2020-11-02 05:46] 5kbpers commented on #8270
Error codes have defined in `components/error_code`.

[2020-11-02 05:46] #8270 closed

[2020-11-02 05:46] 5kbpers commented on #8269
Error codes have defined in `components/error_code`.

[2020-11-02 05:46] #8269 closed

[2020-11-02 05:46] 5kbpers commented on #8268
Error codes have defined in `components/error_code`.

[2020-11-02 05:46] #8268 closed

[2020-11-02 07:49] breeswish opened #8932 "Support customizing slowlog threshold"
## Feature Request

### Is your feature request related to a problem? Please describe:

Now TiKV prints Coprocessor slow log when it takes more than 1 second to process, which is not flexible enough. For example, in some cases the slow request only takes less than 1 second.

### Describe the feature you'd like:

Allow customizing the threshold.

### Describe alternatives you've considered:

### Te

[2020-11-02 07:52] breeswish opened #8933 "Output slow log containing scan details for KvGet and kvBatchGet"
## Feature Request

### Is your feature request related to a problem? Please describe:

Now TiKV prints slow log when Coprocessor request takes long time. It is useful to debug issues. However for other requests, like KvGet, KvBatchGet and write requests these information is not available. It is nice to have one!

### Describe the feature you'd like:

Output slow log, containing scan details, like

[2020-11-02 09:09] #8362 closed

[2020-11-02 09:26] sticnarf commented on #8589
It's a bug of async commit, which is a feature still under development. It shouldn't affect any production user.

Lower its severity to major. But still mark it as a blocker for GA of async commit.

[2020-11-02 10:03] cfzjywxk commented on #8589
There is a still a problem if our goal is to enable this new feature by default for GA.

[2020-11-02 10:16] RaymondWaterlooLi commented on #8933
I am new to this project, but may I work on this issue?

[2020-11-02 11:00] coocood commented on #8589
I think it's not a GA blocker, the causality between two on-going transactions is not something a normal application would depend on.

[2020-11-02 13:02] sre-bot opened #8937 "raftstore::test_joint_consensus::test_invalid_confchange_request failed"
raftstore::test_joint_consensus::test_invalid_confchange_request

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/33632/consoleFull

[2020-11-02 15:00] breeswish opened #8938 "Record TiKV side wait time and process time for Kv operations"
## Feature Request

### Is your feature request related to a problem? Please describe:

Now we have this time for Coprocessor request. However for other KV requests this information is not available. Adding such information may help us figure out where latency comes from, for example, when TiDB's latency is 100ms while TiKV's latency is 70ms, the delta 30ms may come from network latency or Go rout

[2020-11-03 01:55] zhangjinpeng1987 commented on #4507
Duplicated with https://github.com/tikv/tikv/issues/5611, close this one.

[2020-11-03 02:21] breeswish commented on #4692
Resolved in 4.0.0.

[2020-11-03 02:21] #4692 closed

[2020-11-03 03:10] Connor1996 opened #8941 "Index out of range for slice in TableScan"
## Bug Report

### What version of TiKV are you using?

v3.0.14

### What did happened?
[code]

[2020-11-03 03:17] #4033 closed

[2020-11-03 03:38] Patrick0308 commented on #8756
/pick-up

[2020-11-03 05:22] #8756 closed

[2020-11-03 05:26] breeswish commented on #8769
Is this issue resolved?

[2020-11-03 05:36] breeswish opened #8942 "Return wait time and process time for KvGet and KvBatchGet"
## Description

Now we have wait time and process time for Coprocessor request. However for other KV requests, like Get and BatchGet, this information is not available. Adding such information may help us figure out where latency comes from, for example, when TiDB's latency is 100ms while TiKV's latency is 70ms, the delta 30ms may come from network latency or Go routine scheduling.

This is a subt

[2020-11-03 05:37] hicqu opened #8943 "GC in Compaction Filter utilizes too much CPU"
## Development Task

We have benchmark result in https://github.com/tikv/tikv/pull/8858. It shows that the feature utilizes more CPU resource. It can be improved.

[2020-11-03 05:38] breeswish commented on #8938
Note: part of this issue has been extracted to another one: https://github.com/tikv/tikv/issues/8942

[2020-11-03 05:45] breeswish opened #8944 "Output slow log for KvGet and KvBatchGet"
## Description

Now TiKV prints slow log when Coprocessor request takes long time. It is useful to debug issues. However for other requests, like KvGet, KvBatchGet and write requests these information is not available. It is nice to have one!

This issue should be picked up after https://github.com/tikv/tikv/issues/8942 is implemented, in which the wait time and process time is counted. The slow l

[2020-11-03 05:46] breeswish commented on #8933
Close for https://github.com/tikv/tikv/issues/8944

[2020-11-03 05:46] #8933 closed

[2020-11-03 05:51] breeswish opened #8945 "Make slow log threshold configurable"
## Description

Now TiKV prints Coprocessor slow log when it takes more than 1 second to process, which is not flexible enough. For example, in some cases the slow request only takes less than 1 second.

You need to:

1. Add a configuration item `end_point_slow_log_threshold` in `server/config.rs`.
2. Output the slow log which is now printed in https://github.com/tikv/tikv/blob/master/src/coproces

[2020-11-03 05:53] breeswish commented on #8932
Close for https://github.com/tikv/tikv/issues/8945

[2020-11-03 05:53] #8932 closed

[2020-11-03 06:30] breeswish commented on #8752
@Patrick0308 The batch size is enlarged incrementally and the initial batch is small. I guess this pattern is still useful, for example, something like this:
![image](https://user-images.githubusercontent.com/1916485/97955392-07c30300-1de1-11eb-92a9-27e676d5f0b3.png)

Since the initial batch is small, the pipeline can get start to work immediately.

[2020-11-03 07:39] skyzh opened #8950 "copr: BitVec should implement PartialEq correctly"
## Development Task

Currently we use the default derive of `BitVec`. However, when `BitVec` get truncated, default `PartialEq` implementation may not work correctly.

[2020-11-03 10:18] tabokie commented on #2643
Seems this test is already removed from `failpoints`. Closing it for now.

[2020-11-03 10:18] #2643 closed

[2020-11-03 11:49] hunterlxt commented on #8569
After investigation, most of the panic information is because the key rotation thread cannot exit before the test exits, so tempdir deletes the directory, while the background thread is still reading and writing files. This may cause the background thread to panic, but will not make the test fail.

I'm not sure if it is caused by this. Lower priority.

[2020-11-03 13:01] sre-bot opened #8956 "import::test_sst_service::test_cleanup_sst failed"
import::test_sst_service::test_cleanup_sst

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/33766/consoleFull

[2020-11-03 19:30] yiwu-arbug commented on #4884
should have been fixed a while ago.

[2020-11-03 19:30] #4884 closed

[2020-11-03 19:32] yiwu-arbug commented on #4288
This should have have been fixed a while ago.

[2020-11-03 19:32] #4288 closed

[2020-11-04 02:53] #6633 closed

[2020-11-04 05:08] tabokie commented on #5499
duplicate with #6400, closing it now.

[2020-11-04 05:08] #5499 closed

[2020-11-04 05:18] hicqu commented on #7324
Fixed by https://github.com/pingcap/tidb/pull/17378.

[2020-11-04 05:18] #7324 closed

[2020-11-04 05:23] hicqu commented on #4902
Seems it's stale. Close it.

[2020-11-04 05:23] #4902 closed

[2020-11-04 05:26] hicqu commented on #4356
Stablized by #5719.

[2020-11-04 05:26] #4356 closed

[2020-11-04 05:41] hicqu commented on #4249
It's not a bug, although it can be improved to avoid memory file access.

[2020-11-04 05:45] Connor1996 commented on #3272
This info is stale, not sure if it is still unstable. Let's close it and reopen it if encounter again.

[2020-11-04 05:45] #3272 closed

[2020-11-04 05:46] BusyJay commented on #8476
Other PRs including #8498, #8591 and 8663 are merged, this issue is resolved.

[2020-11-04 05:46] #8476 closed

[2020-11-04 05:49] 5kbpers opened #8959 "Lazily start CDC threads"
## Feature Request

### Is your feature request related to a problem? Please describe:

CDC threads are always created at the start time in current 4.0 and master. Some users may not want to enable the CDC service, so those CDC threads are not necessary for them.

### Describe the feature you'd like:

Lazily start CDC threads after it receives the first message.

[2020-11-04 05:49] Connor1996 commented on #3080
This info is stale, not sure if it is still unstable. Let's close it and reopen it if encounter again.

[2020-11-04 05:49] #3080 closed

[2020-11-04 05:53] hicqu commented on #4193
It fails at `pd_client.must_add_peer(r1, new_peer(3, 3))`. This logic is not changed in a long time, so close it as stable.

[2020-11-04 05:53] #4193 closed

[2020-11-04 06:00] BusyJay commented on #6224
To get a quicker election, you can modify the election timeout tick to a smaller value. Current default is 10 seconds, so the maximum election timeout is 20 seconds.

[2020-11-04 06:03] BusyJay commented on #6247
It seems to work well in my local environment and CI now. Feel free to reopen if it still exists.

[2020-11-04 06:03] #6247 closed

[2020-11-04 06:04] hicqu commented on #3079
I can't recall what have we done to make it not appear again. Or we have done nothing exactly, it's just unstable. Considering it didn't appear for a long time, I prefer to close it.

[2020-11-04 06:04] #3079 closed

[2020-11-04 06:04] BusyJay commented on #4736
Duplicated with #7692.

[2020-11-04 06:04] #4736 closed

[2020-11-04 06:05] BusyJay commented on #5516
Duplicated with #7692.

[2020-11-04 06:05] #5516 closed

[2020-11-04 06:06] #6571 closed

[2020-11-04 06:09] hicqu commented on #4029
Closed by #6320.

[2020-11-04 06:09] #4029 closed

[2020-11-04 06:09] 5kbpers commented on #7894
Close this issue since it seems to be an environment-related problem

[2020-11-04 06:09] #7894 closed

[2020-11-04 06:10] #8242 closed

[2020-11-04 06:14] BusyJay commented on #5611
Duplicated with #7426.

[2020-11-04 06:14] #5611 closed

[2020-11-04 06:14] BusyJay commented on #4507
Duplicated with #7426.

[2020-11-04 06:14] #4507 closed

[2020-11-04 06:15] BusyJay commented on #3860
Duplicated with #7473.

[2020-11-04 06:15] #3860 closed

[2020-11-04 06:16] BusyJay commented on #4506
Duplicated with #7425.

[2020-11-04 06:16] #4506 closed

[2020-11-04 06:17] youjiali1995 commented on #7024
It's not safe to eliminate `Write::Lock` because it makes commit requests not idempotent. For example, a transaction commits the `select-for-update` key and the lock is removed without a `Write::Lock` left. It's possible that TiDB fails to receive the response and retry. However, the lock is missing and the transaction can't know whether the lock is removed by itself or another one. Even if it doe

[2020-11-04 06:20] hicqu commented on #4113
Closed with #4090 .

[2020-11-04 06:20] hicqu commented on #4101
Closed with #4090.

[2020-11-04 06:20] #4101 closed

[2020-11-04 06:23] youjiali1995 commented on #7024
With this fix https://github.com/tikv/tikv/pull/8850, the performance is similar to `PointGetter` now. Now the problem is how to avoid the regression caused by too many versions, so close it.

[2020-11-04 06:23] #7024 closed

[2020-11-04 06:27] BusyJay commented on #8169
Now we support joint consensus, perhaps PD can use joint consensus to remove two nodes at a time.

[2020-11-04 06:45] HunDunDM commented on #8169
/assign

[2020-11-04 06:55] HunDunDM commented on #8169
I will try to improve the logic.

[2020-11-04 06:56] gengliqi commented on #3793
close because the duration after the last failed test is too long and can not see the log

[2020-11-04 06:56] #3793 closed

[2020-11-04 06:57] gengliqi commented on #7593
close because the log disappears.

[2020-11-04 06:57] #7593 closed

[2020-11-04 06:59] hicqu commented on #5207
Closed with #5719.

[2020-11-04 06:59] #5207 closed

[2020-11-04 07:08] Little-Wallace commented on #7899
It is not a bug. But there is no more message left.

[2020-11-04 07:08] #7899 closed

[2020-11-04 07:16] youjiali1995 commented on #7070
One solution is that returns the real TTL other than 0 when pipelined locking is enabled. The drawback is it may hurt performance when a lock is really left.

Because the pipelined locking is not enabled by default in the release-4.0 branch and it's unlikely to fail to acquire pessimistic locks even if it's enabled, I will lower its severity and won't fix it now.

[2020-11-04 07:20] mahjonp opened #8962 "10-30 Performance regression on wide_table"
## Bug Report

[code]

## Topology

Mix deploy 1 tidb 1pd and 1tikv on a normal IDC machine(40c120g)

## What version of TiKV are you using?

4030774340c9399d7cb71fa9e04ec833c4e99d49

[2020-11-04 07:26] Connor1996 commented on #7890
It's not a bug

[2020-11-04 07:26] #7890 closed

[2020-11-04 07:36] Connor1996 commented on #4026
Duplicated with https://github.com/tikv/tikv/issues/7351

[2020-11-04 07:36] #4026 closed

[2020-11-04 07:38] Connor1996 commented on #3969
Duplicated with https://github.com/tikv/tikv/issues/7576

[2020-11-04 07:38] #3969 closed

[2020-11-04 07:43] Little-Wallace commented on #2080
This test has not failed over 1.5 years.

[2020-11-04 07:43] #2080 closed

[2020-11-04 07:53] gengliqi commented on #3267
close because it's too old.

[2020-11-04 07:53] #3267 closed

[2020-11-04 07:54] gengliqi commented on #3966
close because it's too old.

[2020-11-04 07:54] #3966 closed

[2020-11-04 07:56] gengliqi commented on #4258
close because it's too old.

[2020-11-04 07:56] #4258 closed

[2020-11-04 07:58] gengliqi commented on #5484
close because it's too old.

[2020-11-04 07:58] #5484 closed

[2020-11-04 08:00] gengliqi commented on #5676
Duplicated with https://github.com/tikv/tikv/issues/7107

[2020-11-04 08:00] #5676 closed

[2020-11-04 08:05] andylokandy commented on #8526
What're the steps to produce this error?

[2020-11-04 08:07] andylokandy commented on #8526
Build error hardly happen on default feature setting because the CI checked every PR merged into master.

[2020-11-04 08:27] gengliqi commented on #8278
The failpoint `on_region_worker_destroy` is truly useless. I will remove it in next pr.

[2020-11-04 08:33] hunterlxt commented on #4027
Newer issue https://github.com/tikv/tikv/issues/8272 existed.

[2020-11-04 08:33] #4027 closed

[2020-11-04 08:59] #8278 closed

[2020-11-04 09:56] youjiali1995 opened #8964 "Insertion after deletion meets duplicate entry error in optimistic transactions"
## Bug Report

### What version of TiKV are you using?

v3.x, v4.x, master

### What operating system and CPU are you using?

Not related

### Steps to reproduce

[code]

### What did you expect?
Succeed in insertion.

### What did happened?
Report duplicate entry error.

[2020-11-04 09:56] tabokie commented on #8962
New binary:
[code]

Old binary:
[code]

RocksDB [code](https://github.com/tikv/rocksdb/blob/0689ab41fad18b838f1f9a9b23c793a76abe3354/db/db_impl/db_impl_compaction_flush.cc#L1971)

[2020-11-04 09:57] youjiali1995 commented on #8964
/info

[2020-11-04 10:17] youjiali1995 commented on #8964
### Bug

#### 1. Root Cause Analysis (RCA) (optional)

TiDB pushes down the check of uniqueness to TiKV when prewrites, however, TiKV checks write conflict and data constraint before lock's existence. It can report a duplicate entry error when there is a lock belonging to a committed transaction that deletes the key.

#### 2. Symptom (optional)

Fail to insert a row due to duplicate entry error an

[2020-11-04 10:18] youjiali1995 commented on #8964
Fixed by https://github.com/tikv/tikv/pull/8921.

[2020-11-04 10:18] #8964 closed

[2020-11-04 11:49] BusyJay commented on #8950
Another reason to use a crate. 😢

[2020-11-05 01:57] nrc commented on #8589
@sticnarf is this addressed by https://github.com/pingcap/tidb/pull/20276 or is this a separate issue?

[2020-11-05 02:54] zhangjinpeng1987 commented on #8492
@sticnarf Seems crossbeam has fixed this problem, can we update it now?

[2020-11-05 03:05] sticnarf commented on #8492
This issue was resolved by https://github.com/tikv/tikv/pull/8803.

[2020-11-05 03:05] #8492 closed

[2020-11-05 03:15] tabokie commented on #8962
Seems rate limit lower bound is updated in this PR ([diff](https://github.com/tikv/rocksdb/compare/cf6a77d9ba13de8df8f374d87c9fbfc7003c4f52...6251283442ff3a69ed7f9c4ab3ef8fc62197d1c0)), therefore causing write stalls when compaction flow is unexpectedly large.

[2020-11-05 04:12] Connor1996 opened #8967 "Rolling upgrade from 2.1 or older version to newer version may break region replicas consistency"
## Bug Report
Due to compatibility issues introduced in https://github.com/tikv/tikv/pull/3807, the new and old versions will behave differently for split operation. Therefore, during the upgrade process, when the leader of a region is of version 2.1 and the follower is version 3.0, if the region promotes learner after the split is initiated, the follower of version 3.0 will silently ignore the sp

[2020-11-05 06:12] zhangjinpeng1987 commented on #6540
https://github.com/tikv/tikv/pull/8631 has removed the sync-log parameter.

[2020-11-05 06:12] #6540 closed

[2020-11-05 06:13] #7083 closed

[2020-11-05 06:20] zhangjinpeng1987 commented on #8678
So we can't turn on the hibernate regions feature by rolling upgrade? @BusyJay

[2020-11-05 06:22] solotzg opened #8970 "TiKV server panic after restarted"
## Bug Report

### What version of TiKV are you using?

TiKV
Release Version:   4.1.0-alpha
Edition:           Community
Git Commit Hash:   1a98d6c63735e26b9452551081de6711d18cd40f
Git Commit Branch: master
UTC Build Time:    2020-11-05 05:19:23
Rust Version:      rustc 1.49.0-nightly (b1496c6e6 2020-10-18)
Enable Features:   jemalloc mem-profiling portable sse protobuf-codec test-engines-rocksdb

[2020-11-05 06:23] BusyJay commented on #8678
Yes, and get around by #8208.

[2020-11-05 06:48] zhangjinpeng1987 commented on #6651
Can't reproduce again.

[2020-11-05 06:48] #6651 closed

[2020-11-05 06:58] zhangjinpeng1987 commented on #6165
It is caused by the property's deviation, if we want to prevent it we should consider adding some write flow statistics for each region. But after we import the compaction filter feature, this issue will not exist, so close it now.

[2020-11-05 06:58] #6165 closed

[2020-11-05 07:11] zhangjinpeng1987 commented on #5239
Is this issue still exist?

[2020-11-05 07:15] tabokie commented on #8962
![image](https://user-images.githubusercontent.com/27005812/98209169-71761500-1f79-11eb-85e4-b387c674ece4.png)

Because wide_table case has large value, same amount of requests produce more L0 files, easily causing L0 stall when limiter hasn't properly estimated WA. Will send a patch soon. @mahjonp

[2020-11-05 07:29] tabokie commented on #2643
/info

[2020-11-05 07:47] gengliqi commented on #8678
The root cause is that the user opens the hibernate region on **some** TiKV, not **all** TiKV.
I think some configs have the same property, such as `prevote`, some `raft` related ticks, and so on.
Furthermore, some configs even can't change after deployment, such as `right_derive_when_split`(change may lead to state machine inconsistency)

[2020-11-05 08:05] sticnarf commented on #5239
It's quite an old issue and I have no way to reproduce it. I'm not sure if it still exists.

[2020-11-05 09:09] 5kbpers commented on #4225
Duplicate with https://github.com/tikv/tikv/issues/4225

[2020-11-05 09:09] #4225 closed

[2020-11-05 09:23] #8861 closed

[2020-11-05 11:30] hunterlxt commented on #8916
Closed. ref https://github.com/tikv/tikv/pull/8960 https://github.com/tikv/tikv/pull/8865

[2020-11-05 11:30] #8916 closed

[2020-11-05 13:01] sre-bot opened #8975 "cases::test_stale_peer::test_node_update_localreader_after_removed failed"
cases::test_stale_peer::test_node_update_localreader_after_removed

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/33998/consoleFull

[2020-11-05 13:01] sre-bot opened #8976 "coprocessor::test_select::test_group_by failed"
coprocessor::test_select::test_group_by

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/33993/consoleFull

[2020-11-05 13:01] sre-bot opened #8977 "storage::test_seek_region::test_region_collection_seek_region failed"
storage::test_seek_region::test_region_collection_seek_region

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/34002/consoleFull

[2020-11-05 13:01] sre-bot opened #8978 "storage::test_storage::test_txn_store_scan failed"
storage::test_storage::test_txn_store_scan

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/34006/consoleFull

[2020-11-05 13:01] sre-bot opened #8979 "storage::test_storage::test_txn_store_resolve_lock2 failed"
storage::test_storage::test_txn_store_resolve_lock2

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tikv_master_test_coverage/1581/consoleFull

[2020-11-06 04:50] #8970 closed

[2020-11-06 05:49] MyonKeminta commented on #8155
Why is #8644 closed? Is there any argument about that PR? @BusyJay @5kbpers

[2020-11-06 05:57] BusyJay commented on #8155
No, I don't. I think the PR is correctly implemented.

[2020-11-06 06:26] andylokandy opened #8986 "copr: UTF8 functions should consider collation"
Some [UTF8 functions](https://github.com/tikv/tikv/blob/master/components/tidb_query_vec_expr/src/impl_string.rs) in TiKV coprocessor do not properly take collation into consideration. For example, [`instr_utf8`](https://github.com/tikv/tikv/blob/44f189c39460ccec75c3f0a5d0210c82eeddc6fa/components/tidb_query_vec_expr/src/impl_string.rs#L561) now compares two strings by their lowercase representati

[2020-11-06 06:34] andylokandy commented on #8986
Useful reference: https://github.com/tikv/tikv/blob/308c641fce76c65313f9ffa491f0b4a5be8b1f70/components/tidb_query_vec_expr/src/impl_like.rs#L12

[2020-11-06 06:42] cosven opened #8987 "reigon is unavailable: one tikv server does not accept new connections"
## Bug Report

I met "region is unavailable" error on the client side. The problem last for several hours until I restart one abnormal tikv instance.

* the abnormal tikv does not accept new connections (I use `nc 127.0.0.1 20160` to check）
    connecting to the abnormal tikv gave no output (which illustrated that the tikv server is alive but it can't establish a connection)
[code]
    connecting

[2020-11-06 06:45] andylokandy commented on #8526
Closed since no further information.

[2020-11-06 06:45] #8526 closed

[2020-11-06 08:49] #8834 closed

[2020-11-06 09:34] hicqu commented on #8987
Fixed by https://github.com/tikv/tikv/pull/8971.

[2020-11-06 09:44] cosven commented on #8987
I'll run the bank2 test with latest tikv.

[2020-11-06 13:22] sre-bot opened #8996 "server::gc_worker::gc_worker::tests::test_physical_scan_lock failed"
server::gc_worker::gc_worker::tests::test_physical_scan_lock

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/34122/consoleFull

[2020-11-08 03:51] zhongzc opened #8998 "Panic log may be lost when using async logger"
## Bug Report

### What version of TiKV are you using?

`187774ed9433af80d117b6576179515b2e24ab6a`

### Steps to reproduce

Start a runner on thread pool to panic as https://github.com/zhongzc/tikv/commit/bcda8dca653988169b96d3cb45e254594520019e.

### What did you expect?

The panic log can be guaranteed to see.

### What did happened?

I couldn't get the `boom!` panic output.

[2020-11-08 12:53] zhangjinpeng1987 commented on #8967
@Connor1996 Please add the workaround

[2020-11-09 02:54] tabokie commented on #2948
This issue is timeout related and has made no recent appearance, closing it for now.

[2020-11-09 02:54] #2948 closed

[2020-11-09 02:57] Connor1996 commented on #8967
Workaround:
1. Disable PD schedule by setting all xxx-limit to 0
2. Confirm there is no schedule operation by `pd-ctl operator show`
3. Confirm no pending-peer by `pd-ctl region check pending-peer`
4. Wait 5 minutes (you can wait even longer to avoid extreme condition)
5. Do rolling upgrade
6. After finishing upgrading, enable PD schedule

[2020-11-09 05:28] Connor1996 commented on #8967
Won't fix cause it's hard to relieve an already existed incompatibility problem. So please just use the workaround to avoid this case when doing a rolling upgrade.

[2020-11-09 05:28] #8967 closed

[2020-11-09 06:24] MyonKeminta commented on #8155
It's still incorrect ever with #8644. The grafana panel's expression
[code]
calculates the metric `tikv_region_written_keys`'s updating frequency per second. However it's not updated once per sec per leader, instead, it's updated on region heart beat, which is by default once per minute. What's more, it's flush frequency is low, and seems even lower when hibernate regions is enabled (I'm not sure

[2020-11-09 06:39] cosven commented on #8987
reproduced with latest version 7eb58846e48c4eb68830f39870e2a303f969df32
[code]

[2020-11-09 07:35] zhenjiaogao opened #9001 "Add dynamic parameters to set the threshold of tikv's slow query"
## Feature Request

### Is your feature request related to a problem? Please describe:

By default, when the execution time of sql exceeds 1s, it will be recorded as sql-query in tikv log, and there is no parameter to define the threshold of sql-query.

### Describe the feature you'd like:
It is recommended to add a parameter to enable users to define the threshold of slow-query.

### Describe alt

[2020-11-09 08:12] breeswish commented on #9001
Related: https://github.com/tikv/tikv/issues/8945

[2020-11-09 08:42] 5kbpers commented on #6254
Cannot reproduce.

[2020-11-09 08:42] #6254 closed

[2020-11-09 09:57] andylokandy commented on #8941
It seems like the proto message is corrupted. Specifically, the `data` field in `Request` message.

[2020-11-09 12:00] BusyJay opened #9003 "How to get around more complicated network partitions between components"
## Feature Request

There are three roles in a TiKV cluster, TiKV nodes, PD and client. In the past, we only consider network partitions between TiKV nodes, now let's consider more general and complicated network partitions:

1. When leader is isolated from majority of nodes, some follower will start campaign and become leader. So the cluster will be available eventually. And thanks to raft again,

[2020-11-09 13:01] sre-bot opened #9004 "raftstore::test_merge::test_node_merge_catch_up_logs_empty_entries failed"
raftstore::test_merge::test_node_merge_catch_up_logs_empty_entries

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/34416/consoleFull

[2020-11-09 13:03] kaisatec opened #9005 "Does TiKV have a Nodejs client?"
## Feature Request
Does TiKV have a Nodejs client?

### Describe the feature you'd like:

I always work on Nodejs and Redis&MySQL

But I prefer a simpler scale structure for a database

[2020-11-10 05:38] zhongzc commented on #9005
/cc @andylokandy

[2020-11-10 09:07] Connor1996 commented on #8243
https://github.com/tikv/rocksdb/pull/205 Generate uniqueID based on db instance and sst file number instead of inode number

[2020-11-10 09:22] #7941 closed

[2020-11-10 09:26] gengliqi commented on #3572
It's the same as https://github.com/tikv/tikv/issues/8381, I think we must add some check before proposing `conf change` to forbid promoting an uninitialized learner to voter. /cc @NingLin-P

[2020-11-10 13:01] sre-bot opened #9011 "import::test_sst_service::test_upload_sst failed"
import::test_sst_service::test_upload_sst

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/34532/consoleFull

[2020-11-10 20:34] yiwu-arbug commented on #8243
@Connor1996 Can you help also cherry-pick the change to disable force-consistency-checks and the change to check key ordering?

[2020-11-11 02:50] Connor1996 commented on #8243
okay

[2020-11-11 03:30] youjiali1995 opened #9012 "TiKV panics when the size of response exceeds 4GB"
## Bug Report

### What version of TiKV are you using?

3.x, 4.x, master

### What operating system and CPU are you using?

not related

### Steps to reproduce

Deploy the TiKV in https://github.com/tikv/tikv/pull/9010 which builds a 6GB result of mvcc_key and send mvcc_key request to it.

### What did you expect?
The request is canceled or finished but TiKV is alive.

### What did happened?
TiKV

[2020-11-11 04:29] #7720 closed

[2020-11-11 04:44] BusyJay commented on #9012
It's by [design](https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md) that grpc can't send message larger than 4GB. Though it should report error instead of core dump.

To solve this, maybe we should change the rpc to server streaming call or add paging logic.

[2020-11-11 05:45] MyonKeminta commented on #5579
It may easily fail when CPU resource is not enough. For example, I tries to run it in a 1 core VM, while running the shell command `while true; do :; done` in another terminal, then I always got:
[code]

I think this is the problem. @lhy1024
...and I'm not sure if it's really a problem.

[2020-11-11 05:48] MyonKeminta commented on #5579
I think if it rarely or never happens in our CI environment, we can just ignore it. I can't come out with any idea to make this test more stable, except to make sure there's enough CPU in CI environment.

[2020-11-11 05:52] youjiali1995 commented on #9012
We can avoid this panic from the TiKV side, but it's better gRPC can report errors.

[2020-11-11 06:07] Little-Wallace commented on #7726
This PR [tidb#17541](https://github.com/pingcap/tidb/pull/17541) has solved part of this problem. It could make tidb find the leader of region in TiKV has changed earlier and retry again.

But we still need to speed up the election of raft algorithm, which may cost a long time to decide one leader when a TiKV instance crash. It is not a bug of TiKV, but we need to optimize it.

[2020-11-11 06:14] MyonKeminta commented on #4740
The GC problem I mentioned is finally confirmed not caused by issue, and that problem doesn't matter much and will no longer exist with compaction filter. Then the deleted version information is already added to MvccProperties before (https://github.com/tikv/tikv/pull/7172). I think this issue can be closed.

[2020-11-11 06:14] #4740 closed

[2020-11-11 07:31] humancalico opened #9015 "`make` doesn't run on NixOS"
## Bug Report

### What operating system and CPU are you using?

NixOS 20.09
### Steps to reproduce and what happened

On running make build on NixOS it fails with the following output
[code]

### Cause and possible fix
This happened because the Makefile runs it with the SHELL `/bin/bash`
https://github.com/tikv/tikv/blob/75f9982d57697b3743a39d60590c95cbdc0145db/Makefile#L34
but NixOS doesn't stor

[2020-11-11 09:08] Patrick0308 commented on #8942
/pick-up

[2020-11-11 09:12] andylokandy opened #9016 "Coprocessor functions migration from non-vec framework"
## Feature Request

Coprocessor historically has two implementations. One is based on the vectorized framework, and the other one is based on the plain (non-vec) framework, which was removed recently. A few of the functions in the legacy non-vec framework have not been ported into the vectorized framework yet.

The following is the list of functions that existed in non-vec framework but not in vec

[2020-11-11 09:34] andylokandy commented on #9005
We don't support NodeJS yet. But you can make a node wrapper on the rust client, e.g. the [python client](https://github.com/andylokandy/client-py).

[2020-11-11 10:03] sticnarf commented on #8244
### Bug

#### 1. Root Cause Analysis (RCA) (optional)

We cannot run failpoint tests concurrently. Different failpoints may interfere with each other in concurrent tests.

#### 2. Symptom (optional)

No symptom. It's only a test failure.

#### 3. All Trigger Conditions (optional)

#### 4. Workaround (optional)

#### 5. Affected versions

Master

#### 6. Fixed versions

Master

[2020-11-11 10:03] #8244 closed

[2020-11-11 10:56] hicqu commented on #8987
Test it again we found that raftstore threads are blocked:
[code]

[code]

[2020-11-11 11:52] lddlww opened #9017 "does tikv 4.1.0-alpha compatible 4.0.x ?"
![image](https://user-images.githubusercontent.com/27006237/98807980-71cd4f00-2456-11eb-8344-c68c4465b456.png)

i download wrong tikv version（already build in production），which contains the follow info：
[code]

i wonder to know ，when i use ```tiup backup``` to backup this version（```4.1.0-alpha```），then restore to tikv ```4.0.x```，does it work and compatible？

[2020-11-11 13:01] sre-bot opened #9018 "raftstore::test_joint_consensus::test_joint_replace_peers failed"
raftstore::test_joint_consensus::test_joint_replace_peers

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/34627/consoleFull

[2020-11-12 02:26] BusyJay commented on #6667
Is it solved?

[2020-11-12 02:35] BusyJay commented on #8155
Thanks for the investigation! Do you have suggestions on design?

[2020-11-12 02:38] BusyJay commented on #7747
#7955 is just a workaround, but to enable it by default, we still need a better solution.

[2020-11-12 03:36] BusyJay opened #9022 "Learner may not be created after a long time when enabling hibernate region"
## Bug Report

Suppose region 1 [a, c) is split into region 2 [a, b) and region 1 [b, c). If learner is isolated before split for quite a long time that leader has been hibernated. After the learner rejoin the group, it may catch up logs by snapshot. So new replica for region 2 will not be created on the node. And because leader of region 2 is hibernated, so it will not be woken up until a long ti

[2020-11-12 03:47] BusyJay commented on #9022
Perhaps we should prevent regions go to sleep when there is pending peers. Though it may lead to a problem that isolated nodes will cause high CPU usage, availability is more important than performance.

[2020-11-12 03:54] MyonKeminta commented on #8155
Currently not. Perhaps make an LRU and let regions with writes in, and pop regions without any write for 1.5 * region_heart_beat_interval, and count it with a gauge.

[2020-11-12 05:10] overvenus opened #9024 "PD worker is blocked by `get_region_approximate_size`"
## Bug Report

PD worker is blocked by `get_region_approximate_size` for a long time if there are some huge regions. We have met a cluster with a few huge regions (around 50~60 GB), the cluster is not functioning normally to PD schedule (add peers/transfer leader) due to PD worker is blocked.

### What version of TiKV are you using?

v4.0.7

Flamegraph

https://gist.github.com/overvenus/87185107dc

[2020-11-12 05:29] #5579 closed

[2020-11-12 06:04] hicqu commented on #8987
Test it again, seems grpc threads are blocked:
[code]

[2020-11-12 06:09] MyonKeminta commented on #8255
You added the println statement to the `async_snapshot` function. However, the test means to return an error when parsing the request, which happens before `async_snapshot` function. So actually `async_snapshot` function should never be invoked, so the message you added is expected never to be printed. So as I understand it the test works well. If you comment out `fail::cfg("coprocessor_parse_requ

[2020-11-12 06:09] #8255 closed

[2020-11-12 06:43] #8589 closed

[2020-11-12 07:35] humancalico commented on #9005
I am working on this rn using Neon

[2020-11-12 07:49] 5kbpers commented on #6667
Not yet. Is it duplicate with https://github.com/tikv/tikv/issues/9022 ?

[2020-11-12 07:55] MyonKeminta commented on #8254
Similar to https://github.com/tikv/tikv/issues/8255 , it's expected. You added the print statement to the function that's expected to be never invoked.

[2020-11-12 07:55] #8254 closed

[2020-11-12 08:20] BusyJay commented on #6667
Perhaps. It depends on which "leader" it refers to in sentence:

And

will not solve the problem as the split learner doesn't exit at all.

[2020-11-12 08:39] Little-Wallace commented on #5239
I think you can not reproduce it because RocksDB has refactor the code of DeleteRange...

[2020-11-12 09:05] Connor1996 commented on #9024
I have encountered it before. Maybe it's not blocked totally, but just costs too much time on every `GetTableProperty`? With this, you can see that there are a lot of pending tasks in pd worker from metrics.

[2020-11-12 09:05] Little-Wallace commented on #9024
OK. I will move it to another thread.

[2020-11-12 09:05] #8243 closed

[2020-11-12 09:13] Connor1996 commented on #5239
It failed on `delete_files_in_range` not `delete_range`

[2020-11-12 09:53] #8088 closed

[2020-11-13 01:31] vbmade2000 opened #9033 "Link not found: https://tikv.org/docs/4.0/tasks/try/"
There is a TryTkv link on https://tikv.org/docs/4.0/tasks/introduction/ but the page itself is not found.

[2020-11-13 07:15] Hexilee opened #9039 "read cpu quota from both of `cpu.cfs_quota_us` and `cpuset.cpus`"
## Feature Request

### Is your feature request related to a problem? Please describe:

The CPU quota is controlled by both of `cpu.cfs_quota_us`(`cpu.cfs_period_us`) and `cpuset.cpus`, but current tikv only read it from `cpu.cfs_quota_us`.

### Describe the feature you'd like:

The CPU quota should be the minimal one between `cpu.cfs_quota_us`/`cpu.cfs_period_us` and `cpuset.cpus`.

### Describe

[2020-11-13 07:18] hunterlxt commented on #6054
/info

[2020-11-13 07:20] hunterlxt commented on #7183
/info

[2020-11-13 07:25] hunterlxt commented on #7183
# Bug

1. Root Cause Analysis (RCA) (optional)
The test may failed when the peer added cannot catch up the log entries because it's added by adding voter not by adding learner. So sometimes when truncated index > promoted index, the new peer will be added failed.

2. Symptom (optional)
test panicked.

3. All Trigger Conditions (optional)
when the peer is added but applied index > 0

4. Workaround

[2020-11-13 07:26] Little-Wallace opened #9041 "Peer reject to transfer leader because of pending conf change"
## Bug Report

### What version of TiKV are you using?

master: 33daf202a99d381b8b2526d391732ae94febecc1

### Steps to reproduce

Run go-tpc and tiup reload some config. Then I cancel this  rolling update operation by mistake. Then some peers keep pending conf change and reject to transfer leader.

[code]

### What did happened?

Leaders of TiKV can not balance.
![image](https://user-images.github

[2020-11-13 07:26] hunterlxt commented on #3902
Duplicate bug

https://github.com/tikv/tikv/issues/7183

[2020-11-13 07:26] hunterlxt commented on #6054
Duplicate bug

https://github.com/tikv/tikv/issues/7183

[2020-11-13 10:10] overvenus opened #9042 "Add metrics and Grafana plane about sst_importer RPC failure"
## Development Task

Add metrics and Grafana plane about sst_importer RPC failure. It's useful when we investigate some abnormal import slow down.

[2020-11-13 10:51] hicqu commented on #9024
Is it better to change the property block from `4k` to `512k`?

[2020-11-13 20:54] yiwu-arbug opened #9044 "compaction guard: deadlock when creating compaction partitioner"
## Bug Report

### What version of TiKV are you using?
master

### Steps to reproduce
enable compaction guard with config `rocksdb.[defaultcf|writecf].enable-compaction-guard = true`.

### What did you expect?
no deadlock

### What did happened?
Deadlock when TiKV try to create compaction partitioner instance:
[code]
full backtrace: https://gist.github.com/yiwu-arbug/a28d92a05d247b1031325d7259bdff

[2020-11-13 21:48] yiwu-arbug commented on #9044
The change to move cleanup runner (which runs compact range) to background thread pool is in #8821. Since compact range is a blocking call, I believe we should move it back to its own thread pool. @Little-Wallace

[2020-11-15 19:24] marcosflobo commented on #3834
Has been this implemented already? Does TiKV support watch mechanism as etcd does? Thanks!

[2020-11-16 02:15] cosven commented on #8987
The root cause may be https://github.com/tikv/tikv/issues/9044

[2020-11-16 02:33] Connor1996 commented on #9024
Seems the metadata blocks are not partitioned(not for sure), so it would not follow the block size. And I don't think it's the reason for this problem. I suspect it's due to some slow path from the kernel level.

[2020-11-16 05:33] #3902 closed

[2020-11-16 05:33] #6054 closed

[2020-11-16 06:52] #8962 closed

[2020-11-16 07:57] overvenus opened #9051 "Skip create backup directory during creating external storage"
## Development Task

TiKV external storage "local" always create a backup directory, it has an unnecessary performance overhead. Instead creating a directory every time on the TiKV side, we can move it to BR, and only create once before we send any backup tasks to TiKV.

[2020-11-16 08:15] #8943 closed

[2020-11-16 09:07] gengliqi commented on #8724
I think it's caused by L462 https://github.com/tikv/tikv/blob/bc61a573c6fab93dffc5fc8f9ab981f3d8a78b21/components/raftstore/src/store/worker/read.rs#L461-L476
For normal cases, if the lease is expired, the `self.delegates.get(&region_id).is_some()` will be true so this read request must be redirected to raftstore.

I think this behavior is not expected.

[2020-11-16 09:14] #8569 closed

[2020-11-16 10:43] BusyJay commented on #2863
The failure occurred 10 days ago was fixed by #8971. The failure occurred 5 days ago seemed to be a bug of system that assigned same port to two listening requests.
[code]
10146 was assigned twice to different stores.

I'm not sure how this happens, but I'm going to use a global port allocator to avoid the conflict.

[2020-11-16 13:01] sre-bot opened #9057 "server::kv_service::test_debug_fail_point failed"
server::kv_service::test_debug_fail_point

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/35143/consoleFull

[2020-11-16 13:01] sre-bot opened #9058 "storage::test_raftkv::test_read_index_on_replica failed"
storage::test_raftkv::test_read_index_on_replica

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/35149/consoleFull

[2020-11-16 13:01] sre-bot opened #9059 "server::kv_service::test_txn_heart_beat failed"
server::kv_service::test_txn_heart_beat

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tikv_master_test_coverage/1604/consoleFull

[2020-11-17 03:39] Patrick0308 commented on #8945
/pick-up

[2020-11-17 08:43] #5893 closed

[2020-11-17 08:43] #7445 closed

[2020-11-17 12:23] #2863 closed

[2020-11-17 12:43] BusyJay commented on #9012
I'm afraid this is not possible ATM for latest gRPC. The binary will either core dump or panic inside rust-protobuf. See also stepancheg/rust-protobuf#530.

[2020-11-17 13:01] sre-bot opened #9063 "server::kv_service::test_debug_region_info failed"
server::kv_service::test_debug_region_info

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tikv_master_test_coverage/1616/consoleFull

[2020-11-17 14:10] andylokandy commented on #9017
I think it's not.

[2020-11-17 14:23] lddlww commented on #9017
how can i do？

[2020-11-17 15:15] hunterlxt commented on #7183
@gengliqi PTAL

[2020-11-18 02:01] lcl401615068 commented on #8243
kernel 4.18.20-2.el7.x86_64  The same thing happened，error： L5 have overlapping ranges

[2020-11-18 12:50] andylokandy commented on #9017
Are you using TiDB or plain TiKV?

[2020-11-18 12:57] lddlww commented on #9017
tidb

[2020-11-18 16:31] andylokandy commented on #9017
you can use [dumpling](https://github.com/pingcap/dumpling) to dump the data and import it into other cluster.

[2020-11-19 01:35] yiwu-arbug commented on #8243
What's your linux distribution and its version, and what's the file system you use? Just want to keep a record. Also can you run the test program in this comment and report the result? https://github.com/tikv/tikv/issues/8243#issuecomment-708774344

[2020-11-19 01:51] lddlww commented on #9017
it's more spent time

[2020-11-19 03:45] hunterlxt commented on #6420
with master version. result:
[code]

[2020-11-19 04:23] andylokandy commented on #9017
`tiup backup` is not compatible between these two versions, so dumpling is the most viable way I can see.

[2020-11-19 04:32] lddlww commented on #9017
ok，thanks for patience

[2020-11-19 05:24] Xuanwo opened #9066 "copr: Roadmap to chunk-based Enum/Set support in TiKV"
## Goal

Implement RFC https://github.com/tikv/rfcs/pull/57

## Roadmap

- [x] Add Enum/Set type #8849
- [x] Add ChunkedVecEnum/ChunkedVecSet type #8948 #8988
- [x] Add enum/set into ScalarValue and VectorValue #9021
- [x] Implement enum/set related copr functions #9133
- [x] Implement enum/set related aggr functions
  - [x] Count #9143
  - [x] First #9135
  - [x] Sum #9148 #9184
  - [x] Avg #9186

[2020-11-19 05:24] Xuanwo commented on #9066
cc @skyzh @breeswish

[2020-11-19 05:51] skyzh commented on #9066
Looks good to me!

[2020-11-19 07:00] andylokandy commented on #9033
Thank you!

[2020-11-19 07:05] lilin90 commented on #9033
@CharLotteiu Would you please help fix the related links in dev, 4.0, & 3.0? Thanks!

[2020-11-19 07:15] #9017 closed

[2020-11-19 07:42] youjiali1995 commented on #9012
Lower its severity since it rarely occurs.

[2020-11-19 08:44] #9033 closed

[2020-11-19 08:47] sticnarf opened #9069 "batch_get doesn't return all results when encountering a memory lock"
## Bug Report

### What version of TiKV are you using?

Master

### What did happened?

Here we check the lock table and when we meet the first memory lock, we return it back to the client: https://github.com/tikv/tikv/blob/f5409492a862e6ead06b2cbf4b7818fd6dc655e1/src/storage/mod.rs#L493

However, TiDB incrementally gets the locked keys if some keys are locked: https://github.com/pingcap/tidb/blob

[2020-11-19 08:57] sticnarf commented on #9069
## Solution 1

Solve it at TiKV side. We keep the semantics of BatchGet. Check all keys in the lock table and query all the unlocked keys. However, there is some trouble to support it in follower read. We need to modify the protocol  to support checking all keys and returning all the locks in the lock table.

- Advantage: Consistent semantics
- Disadvantage: Lots of changes.

## Solution 2

Solve

[2020-11-19 08:58] sticnarf commented on #9069
/cc @youjiali1995 @cfzjywxk @MyonKeminta

[2020-11-19 09:16] youjiali1995 opened #9070 "committed_cb is always invoked which affects the correctness of async apply"
## Bug Report

### What version of TiKV are you using?

master

### What operating system and CPU are you using?

not releated

### Steps to reproduce

1. Partition the leader and followers.
2. Propose a write request on the leader.
3. A new leader is elected and commits a new entry.
4. Recover the network partition.
5. The old proposal should be dropped and the committed_cb shouldn't be invoked.

[2020-11-19 11:29] hunterlxt commented on #7183
These 3 new failed tests is before https://github.com/tikv/tikv/pull/9030 was merged. Close this issue again.

[2020-11-19 11:29] #7183 closed

[2020-11-19 12:26] breeswish commented on #3275
Close for https://github.com/tikv/tikv/issues/5751

[2020-11-19 12:26] #3275 closed

[2020-11-19 12:28] breeswish commented on #2918
Close for #5751

[2020-11-19 12:28] #2918 closed

[2020-11-19 12:29] breeswish commented on #2633
Now the time compare is performed pretty close to the description. Close.

[2020-11-19 12:29] #2633 closed

[2020-11-19 12:31] breeswish commented on #2517
In 4.0 most of point gets will use KvGet / KvBatchGet interface and there is less demands to have this feature.

[2020-11-19 12:31] #2517 closed

[2020-11-19 12:31] #3038 closed

[2020-11-19 12:32] breeswish commented on #3038
There looks to be no notable advantages, other than prettier code. Close.

[2020-11-19 12:32] breeswish commented on #3039
Considering our protocol changing a schema cost too much, while advantage is only cleaner code base. Close it for now.

[2020-11-19 12:32] #3039 closed

[2020-11-19 12:33] breeswish commented on #8555
@glorv Does this issue still exist?

[2020-11-19 12:35] breeswish commented on #7960
The actual demand is to support a custom logic. Let's track it in https://github.com/tikv/tikv/issues/8036

[2020-11-19 12:35] #7960 closed

[2020-11-19 12:35] breeswish commented on #6786
Close for #5751

[2020-11-19 12:35] #6786 closed

[2020-11-19 12:36] breeswish commented on #5707
Since UCP is ended, this issue is closed now. See https://github.com/tikv/tikv/issues/5215 for further updates.

[2020-11-19 12:36] #5707 closed

[2020-11-19 12:37] breeswish commented on #5744
This is not a feature that we are going to do in the near future. Closing.

[2020-11-19 12:37] #5744 closed

[2020-11-19 12:38] #6336 closed

[2020-11-19 12:39] breeswish commented on #7039
Now analyze is using the batch scanner. So closing.

[2020-11-19 12:39] #7039 closed

[2020-11-19 12:40] breeswish commented on #8594
@sticnarf Could you help take a look at this proposal? I know in normal read pool this is not a big problem since concurrent requests are highly limited. How is the risk under unified thread pool?

[2020-11-19 12:48] sticnarf commented on #8594
@breeswish When using the unified thread pool, the risk of OOM is about the same as before. The number of allowed heavy requests running concurrently is the same as before. It only allows more small requests to run, and these small requests should finish soon and not causing an OOM in practice.

[2020-11-19 14:00] glorv commented on #8555
I think it's fixed.

[2020-11-19 14:00] #8555 closed

[2020-11-20 02:13] hunterlxt commented on #8449
This issue is staled for a while and never reproduced

[2020-11-20 02:19] #8449 closed

[2020-11-20 02:53] #4636 closed

[2020-11-20 02:54] breeswish commented on #4553
Not an issue any more, since we now have a newly implemented DateTime.

[2020-11-20 02:54] #4553 closed

[2020-11-20 02:54] #4195 closed

[2020-11-20 02:54] #4041 closed

[2020-11-20 02:55] breeswish commented on #3041
We are now using Unified Thread Pool so that I believe this is no longer a problem any more.

[2020-11-20 02:55] #3041 closed

[2020-11-20 03:09] cfzjywxk commented on #9069
Maybe solution 2 is better to avoid much extra test works since we already have much work to do?

[2020-11-20 05:43] breeswish commented on #8594
What will happen if there are a lot of large requests already, and then comes some small requests? Will these small requests being queued or processed?

[2020-11-20 06:08] sticnarf commented on #8594
These small requests will still be processed.

The real risk is when large requests keep coming, all these requests will execute for a small amount of batches until reaching the large request limit. The produced data in this short period of time should be small for each request, but if the number of requests is big, OOM can happen.

[2020-11-20 06:56] NingLin-P commented on #5467
Close this issue, because it is duplicated with https://github.com/tikv/tikv/issues/7184

[2020-11-20 06:56] #5467 closed

[2020-11-20 06:56] cfzjywxk commented on #3378
@breeswish Is this issue already fixed?

[2020-11-20 07:02] breeswish commented on #3378
@cfzjywxk I'm not sure. @MyonKeminta @sticnarf Could you help verify it against latest branch?

[2020-11-20 07:05] NingLin-P commented on #3255
Close this issue, since it is duplicated with https://github.com/tikv/tikv/issues/7184

[2020-11-20 07:05] #3255 closed

[2020-11-20 07:12] BusyJay opened #9079 "Key number based split checker should recognize different versions of the same key"
## Feature Request

### Is your feature request related to a problem? Please describe:
We split a region based on its size and key count. Depending on size is to avoid creating too large raft snapshot, and depending on key count is to increase concurrency of coprocessor scanning. Currently, TiKV count each versions of keys once, but in fact, the price of them are not the same. In coprocessor, only

[2020-11-21 09:16] wangggong commented on #9016
AddDatetimeAndDuration & SubDatetimeAndDuration done

[2020-11-23 03:22] youjiali1995 commented on #9059
Failed due to the environment.
[code]

[2020-11-23 03:22] #9059 closed

[2020-11-23 05:49] andylokandy commented on #9016
Do know which PR added these two?

[2020-11-23 05:56] wangggong commented on #9016
@andylokandy This one: https://github.com/tikv/tikv/pull/8999

[2020-11-23 07:26] #9022 closed

[2020-11-24 02:29] #9042 closed

[2020-11-24 03:13] hunterlxt commented on #8272
After investigation, I found that this problem has nothing to do with the test itself, tikv node successfully schedule the `addnode` command. But something stuck. I suspect that it's a raftstore problem.

[2020-11-24 03:24] Patrick0308 commented on #8652
/pick-up

[2020-11-24 11:08] Little-Wallace opened #9099 "TiKV panic because of ingest failed by importer."
## Bug Report

### What version of TiKV are you using?

master: 2b983187b8108770f06a684dc5a32629314bf1a8
This bug may be related to https://github.com/tikv/tikv/pull/8869

### What operating system and CPU are you using?

### Steps to reproduce

Enable encryption and import 14K warehouse tpcc data to TiDB. Then tikv was killed by oom-killer. TiKV failed to restart because of ingesting.

### What d

[2020-11-24 20:16] yiwu-arbug commented on #9099
There are recent changes in importer that could be related: #8985 #9000

[2020-11-24 20:18] yiwu-arbug commented on #9099
Do we still have TiKV log? If so, we can check `KeyManager`'s operations on the file.

[2020-11-25 07:11] #9039 closed

[2020-11-25 07:57] harrison314 opened #9103 "Official build for Windows"
## Feature Request

### Is your feature request related to a problem? Please describe:
I would like to use **tikv** on Windows for development, or even production deployment.

### Describe the feature you'd like:
Running at least one node on Windows 10 (x64). At least for development.

### Describe alternatives you've considered:
Using Docker. Well, it's not a native way (lower performance, persis

[2020-11-25 08:28] #9051 closed

[2020-11-25 12:04] BusyJay commented on #6667
@5kbpers do you have time to solve this?

[2020-11-25 13:01] sre-bot opened #9109 "raftstore::test_merge::test_merge_isolated_stale_learner failed"
raftstore::test_merge::test_merge_isolated_stale_learner

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/36105/consoleFull

[2020-11-25 13:01] sre-bot opened #9110 "raftstore::test_replica_read::test_replica_read_on_hibernate failed"
raftstore::test_replica_read::test_replica_read_on_hibernate

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/36109/consoleFull

[2020-11-25 14:41] BusyJay commented on #9103
Unfortunately, we have done a lot of extremely optimization for Unix like system, I'm not sure if they work on Windows. But I think it's a good idea to at least make it compile.

I use Windows too, though I use vscode-remote for development as Rust compiles so slow (and energy consuming) on my Surface Book 2.

[2020-11-25 15:41] BusyJay opened #9113 "More fine-grained control on callback for raftstore"
## Bug Report

We currently rely on raft to handle callback of requests: a callback will be invoked when the corresponding entry is applied/committed or overwritten.  However, raft doesn't guarantee when will an entry be committed or overwritten, so the time when a callback is invoked is unpredictable. If a leader loses its leadership without rejoining the group or it becomes leader but takes a lo

[2020-11-25 22:59] yiwu-arbug opened #9115 "encryption: handle non-atomic file operations"
## Bug Report

When encryption (TDE) is enabled, file operations like delete file/rename file/copy file are non-atomic. For these operations, we need to update encryption metadata via `encryption::DataKeyManager`, which cannot combine with the actual file operation into one atomic operation. When TiKV crash in between file operation and encryption metadata update, encryption metadata could be inco

[2020-11-26 02:34] Patrick0308 commented on #8945
/pick-up

[2020-11-26 04:17] hi-rustin commented on #8945
/pick-up

[2020-11-26 04:17] hi-rustin commented on #8945
/ping

[2020-11-26 04:24] zhongzc commented on #8945
cc @hi-rustin

[2020-11-26 05:50] breeswish opened #9119 "Coprocessor incorrectly handles NewRowFormat"
## Bug Report

### What version of TiKV are you using?

v4.0.8 / master

### What operating system and CPU are you using?

Linux

### Steps to reproduce

Execute SQL:

<details>
  <summary>Click to expand</summary>

[code]

</details>

### What did you expect?

Get 260.

### What did happened?

Due to a Coprocessor bug, we will get NULL instead.

[2020-11-26 08:41] youjiali1995 commented on #9113
@MyonKeminta @sticnarf PTAL. It adds another undetermined error to transaction commit.

[2020-11-26 08:51] cfzjywxk commented on #9113
It's reasonable to return `timeout` or `undetermined ` error. Maybe processing of different comman types for `timeout` error should be considered on the client side.

[2020-11-26 08:57] BusyJay commented on #9113
/cc @lysu

[2020-11-26 10:00] sticnarf commented on #9113
What could be the cause of " lose its leadership without rejoining the group or it becomes leader but takes a long time to commit its first log"? If it's due to a persistent network error, it's unlikely that it could receive more requests until `ServerIsBusy`.

[2020-11-26 10:13] MyonKeminta opened #9124 "New Row Format column_id representation doesn't match the design document."
## Bug Report

According the document of the new row format, the row stores a series of  column_ids. When some of the column_ids is large enough, or the value length is large enough, the value will be marked as a big value, otherwise it's small. For small values, each column_id is represented by 1 byte (max 255); for big values,  it's represented by 2 bytes (max 65535).

However in the code, the f

[2020-11-26 11:18] BusyJay commented on #9113
Yes. Or a replica is removed without acknowledgement, or one follower is down and another follower is waiting for snapshot.

[2020-11-26 11:23] MyonKeminta commented on #9124
Sorry to disturb. What I found is an old version of document. In the final design document it's indeed defined as 4 bytes, and the implementation is also 4 bytes.

[2020-11-26 11:23] #9124 closed

[2020-11-26 11:25] breeswish commented on #9124
The new document is not public, maybe we should update https://github.com/pingcap/tidb/blob/master/docs/design/2018-07-19-row-format.md ?

[2020-11-26 11:48] 5kbpers opened #9126 "TiKV panic during upgrading from v4.0.8 to nightly"
## Bug Report

### What version of TiKV are you using?

`bf4c5a49e3ae5134c3f66e67fce6aa7335da9ac3` in [`gengliqi:fsync-control`](https://github.com/gengliqi/tikv/tree/fsync-control)

### What operating system and CPU are you using?

Dbaas t1-standard

### What did happened?
[code]
See more details in [tikv_panic.log](https://github.com/tikv/tikv/files/5602723/tikv_panic.log)

[2020-11-26 11:49] 5kbpers commented on #9126
PTAL @yiwu-arbug @overvenus @hunterlxt

[2020-11-26 12:07] youjiali1995 commented on #7980
Now it won't fail to acquire pessimistic locks unless there is a network partition or node crash. To keep the consistency to the old version, don't enable it by default in v4.0.

[2020-11-26 12:07] #7980 closed

[2020-11-26 12:30] MyonKeminta commented on #9113
I have a question. Currently we now release latch in scheduler by letting raftstore call a callback on apply finish. Consider this case:

1. Request A tries to write k1, acquired the latch, and waiting for apply finish
2. Request A timed out.
3. Request B acquires tries to write k1 again

What should we do in this case?

2.a Request A responds timeout error to the client, but still waiting apply f

[2020-11-26 12:40] MyonKeminta commented on #9113
Does this means the region can't provide snapshots in this case? If so, this seems also makes other keys that's not being written unreadable. Is this ok?

[2020-11-26 13:40] BusyJay commented on #9113
Yes, it is.

I'm afraid it's the trade off between write unavailability for the whole node or read/write unavailability for just one region.

A alternative solution to the problem is keep current raft implementation, but split latch into region based. In this case, only write is unavailable for single region as expected and perhaps easier to be implemented correctly. The price is memory.

[2020-11-27 02:12] andylokandy commented on #6243
@zhangmoon You can try this one https://github.com/andylokandy/client-py

[2020-11-27 05:41] #9119 closed

[2020-11-27 05:43] youjiali1995 commented on #9113
There is a problem during rolling update. Old version TiDBs will think it fails to commit a transaction when encounters this error. It will clean up all locks but maybe the transaction is committed. @BusyJay

[2020-11-27 05:53] breeswish commented on #9001
https://github.com/tikv/tikv/pull/9061

Slow log config is implemented.

[2020-11-27 05:53] #9001 closed

[2020-11-27 05:56] breeswish opened #9132 "Support adjusting Slow log threshold dynamically"
## Development Task

In https://github.com/tikv/tikv/pull/9061 a slow log config item is added. It can be further extended to support dynamic modification.

[2020-11-27 05:58] sticnarf commented on #9113
We may let TiKV return an RPC error, so we can follow the original undetermined logic.

[2020-11-27 06:01] breeswish commented on #7436
The coprocessor part is now implemented in https://github.com/tikv/tikv/pull/7563
For KvGet and KvBatchGet, there is a new tracking issue: https://github.com/tikv/tikv/pull/8814

[2020-11-27 06:01] #7436 closed

[2020-11-27 06:22] #8945 closed

[2020-11-27 06:25] hi-rustin commented on #8944
/pick-up

[2020-11-27 06:28] glorv commented on #9126
Another case found when upgrading from v4.0.8 to release-4.0-nightly (`73a903cc59780f3d83a605b9bd52c90c23870a87 `)

[code]

[2020-11-27 06:29] Little-Wallace commented on #9126
@glorv No. It is not from v4.0.8..... It is upgrading from master to release-4.0. So it is not a bug.

[2020-11-27 06:31] glorv commented on #9126
I deleted the comment since it's misleading..

[2020-11-27 06:46] #9069 closed

[2020-11-27 06:47] sticnarf commented on #9069
Closed by https://github.com/tikv/tikv/pull/9077 and https://github.com/pingcap/tidb/pull/21157

[2020-11-27 09:25] hi-rustin commented on #8945
/pick-up

[2020-11-27 09:25] hi-rustin commented on #8942
/pick-up

[2020-11-27 09:28] hi-rustin commented on #8651
/pick-up

[2020-11-27 09:28] hi-rustin commented on #8651
/give-up

[2020-11-27 09:34] hi-rustin commented on #8942
/pick-up

[2020-11-27 09:42] hi-rustin commented on #8942
/pick-up

[2020-11-27 09:42] hi-rustin commented on #8942
/give-up

[2020-11-27 09:42] hi-rustin commented on #8942
@Patrick0308  Please try again.

[2020-11-27 13:01] sre-bot opened #9138 "cases::test_import_service::test_ingest_key_manager_delete_file_failed failed"
cases::test_import_service::test_ingest_key_manager_delete_file_failed

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/36408/consoleFull

[2020-11-27 19:50] ramon-garcia opened #9139 "Support partition key"
## Support partition key different from sort key
This is necessary in order to have efficient secondary indexes on the top of TiKV.

The idea is that the key used to partition data across machines, can be different from the key used to sort rows of data inside a machine.

Why is this necessary?

Imagine that one has a table with different columns (yes, I know here there are only keys and values, b

[2020-11-28 05:48] yiwu-arbug commented on #9126
The KMS logic didn't get changed since 4.0GA. Looks like that's a connection issue when connect to AWS?

[2020-11-29 08:56] jyz0309 commented on #9016
SubDurationAndDuration done in pr#9142

[2020-11-30 02:29] andylokandy commented on #9139
Do you mean [https://docs.pingcap.com/tidb/stable/partitioned-table]( https://docs.pingcap.com/tidb/stable/partitioned-table) ?

[2020-11-30 04:24] MyonKeminta commented on #9124
@breeswish Is that document still up-to-date enough? If so, I think it should be updated.

[2020-11-30 05:50] sticnarf commented on #9138
PTAL @glorv

[2020-11-30 05:56] zhongzc commented on #9139
There is an in-design feature called "keyspace". I think it's close to your description if keyspaces have a property "partition". See KeySpace RFC https://github.com/tikv/rfcs/pull/39.

To support in place processing like the intersection you mentioned, a specific coprocessor is needed to implement for that purpose. However, the current coprocessor is tightly coupled with TiDB. There is also an [i

[2020-11-30 06:09] Little-Wallace opened #9144 "TiKV OOM because BR read a large region in memory"
## Bug Report

### What version of TiKV are you using?

release-4.0

### What operating system and CPU are you using?

BR will read all data of a region and fill it in a SST writer. But it is in-memory, see: https://github.com/tikv/tikv/blob/master/components/backup/src/writer.rs#L138.
So if there is a huge region, TiKV may crash for OOM because of keeping all data of this region in memory.

### W

[2020-11-30 09:51] breeswish commented on #9124
@coocood PTAL whether we should update our RFC to refine the actual implementation, thanks!

[2020-11-30 13:01] sre-bot opened #9151 "server::kv_service::test_split_region failed"
server::kv_service::test_split_region

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/36575/consoleFull

[2020-11-30 13:01] sre-bot opened #9152 "store::util::tests::test_lease failed"
store::util::tests::test_lease

 Latest failed builds:
https://internal.pingcap.net/idc-jenkins/job/tikv_master_test_coverage/1646/consoleFull

[2020-11-30 13:20] coocood commented on #9124
@MyonKeminta
The doc is consistent with the implementation.
[code]

[2020-11-30 20:05] yiwu-arbug commented on #9126
Not sure if it related to proxy setting: https://github.com/aws/aws-toolkit-vscode/issues/899#issuecomment-589500847

[2020-11-30 20:22] yiwu-arbug opened #9155 "Remove kvdb WAL"
## Development Task

TiKV essentially have two WAL, one as raft log stored in raftdb, one as rocksdb WAL. Theoretically we can get rid of the rocksdb WAL, but we currently make use of  it to store states like region split/merge, and issue fsync to make sure the state is persisted. The biggest benefit of removing rocksdb WAL is *not* to reduce IO, but to decouple apply thread from IO tasks.

While

[2020-11-30 20:24] yiwu-arbug commented on #9155
cc @Little-Wallace @BusyJay feel free to fill in more details of current discussion result here. Thanks.

[2020-11-30 20:35] yiwu-arbug opened #9156 "*: TiKV IO rate limiter - phase 1"
## Development Task

The goal of the project is to provide a generic IO rate limiter within a TiKV process. Currently for separate tasks we have rate limiter of different form (e.g. rocksdb compaction IO rate limiter, BR/Lightning rate limiter). By providing a generate IO rate limiter we can have one single IO upper bound for all IO tasks. The project mainly target for users of cloud disk, such as

[2020-12-01 00:45] cosven commented on #9144
/label severity/major

[2020-12-01 02:35] yinghonghui opened #9157 "key not in region use java sdk"
## Question

I use java sdk to set value in tikv.but pd response Incorrect region info to a key.so report “key not in region” exception when executing set operation.

[2020-12-01 04:38] MyonKeminta commented on #9124
Ok. Thanks!

[2020-12-01 07:24] overvenus opened #9162 "Slot collision on latch with and (&) operator"
## Bug Report

Using and (&) operator to calculate slots index can lead to severe collision.
https://github.com/tikv/tikv/blob/9b8785a42f6e03621c0d0ce66799761b3e00f9cc/src/storage/txn/latch.rs#L212-L214

See more: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=cdfa59d515af83e611e9492d5da3ecac

### What version of TiKV are you using?

master

[2020-12-01 07:34] Little-Wallace commented on #9162
TiKV will use a power of two as the real capacity of latches instead of the value configure by user. See  https://github.com/tikv/tikv/blob/master/src/storage/txn/latch.rs#L136

[2020-12-01 07:34] #9162 closed

[2020-12-01 07:36] youjiali1995 commented on #9162
Latch size is rounded up to the power of 2. & equals % in this case.

[2020-12-01 08:00] BusyJay commented on #9113
If we really care about undetermined errors, we should use a standard flag to show if it's undetermined. And we still need to polish tikv client to distinguish if an error is deterministic. I'm afraid we don't have any official statements about whether a transaction *really* fails, deterministic error should be a new feature instead of something this issue can break.

[2020-12-01 09:30] youjiali1995 commented on #9113
Yes. No need to handle compatible issues.

[2020-12-01 09:46] 5kbpers commented on #9126
Not sure how it happened since the pod had restarted after TiKV stopped, but I think it is reproducible.
IMO we may need more proper error handling.🤔

[2020-12-01 11:10] BusyJay commented on #9155
If WAL is removed, does rocksdb still provide atomicity and order? For example, a write batch should not only lose some keys while save others. A write batch written after a lost one should also be lost.

[2020-12-01 20:00] yiwu-arbug commented on #9155
Yes, but we need to enable the atomic flush feature, which may need some testing.

[2020-12-02 05:00] yiwu-arbug commented on #9099
This one should have been fixed by #9105. If not, please reopen.

[2020-12-02 05:00] #9099 closed

[2020-12-02 05:47] andylokandy commented on #9157
Thanks for reporting. Seems that you sent requests to the wrong tikv store. Do you have any detailed information about the platform you used and the process or code to reproduce that.

[2020-12-02 05:50] yinghonghui commented on #9157
tidb集群版本为4.0， tikv java client 3.0报 key not in region 异常，看到这个异常是tidb2.x里已经修复的bug，不知道是什么条件触发了这个异常。 也用golang的客户端 client-go测试过， 并未有这个异常发生。写入的key的特征是前缀一样的key。
现象：
pd返回key相关region 92， 用./pd-ctl check region的一致性，没有异常。日志里看到有region92的分裂和合并。
![image](https://user-images.githubusercontent.com/18246565/100833560-2b8f6c80-34a5-11eb-89f9-95611f64de63.png)

以下是客户端代码：
![image](https://user-images.githubuserconte

[2020-12-02 05:57] andylokandy commented on #9157
If you confirmed that go-client works, it's not likely tikv that cause the problem. You can submit an issue in java client repo(https://github.com/tikv/client-java).

[2020-12-02 06:00] yinghonghui commented on #9157
I had submit an issue in java client repo (https://github.com/tikv/client-java).But no one responds.
https://github.com/tikv/client-java/issues/101

[2020-12-02 06:33] andylokandy commented on #9157
You can join transation slack channel (https://slack.tidb.io/invite?team=tikv-wg&channel=sig-transaction&ref=community-sig) to contact the author directly.

[2020-12-02 07:06] #9138 closed

[2020-12-02 07:23] BusyJay commented on #9155
The major problems need to be solved are admin commands.

For admin changes that modify epoch like conf change/split/merge, a solution is recording the epoch of the region and its dependency in raft db. For example, if region a is split into several regions (b, c, a) at index i, then a record like (b, init epoch) -> (a, i) is recorded. If region b is merged into a at index j, then a record like (a

[2020-12-02 07:29] BusyJay commented on #9155
If rocksdb still provide atomicity and order, we can still rely on apply index to tell if all previous logs are applied. Because order is guaranteed, so the following situations should not exist:
1. region a is revert back before splitting and the split region b's apply index is larger than initial index.
2. region b is revert back before merging and the target region a's apply index is larger tha

[2020-12-02 07:30] BusyJay commented on #9155
/cc @solotzg TiFlash should probably also consider what could go wrong.

[2020-12-02 07:45] rleungx opened #9170 "Load split cannot work when the request covers the region"
## Bug Report

### What version of TiKV are you using?

master

### What did happened?
https://github.com/tikv/tikv/blob/bec81566c785492a4de2351b88b886134d8a91c4/components/raftstore/src/store/worker/split_controller.rs#L229-L231

There might be a case that `(sample.left + sample.right) == 0` but `sample.contained != 0`. In this case, we still need to split the region instead of doing nothing.

[2020-12-02 07:51] amyangfei opened #9171 "TiKV server panic when running with TiCDC"
## Bug Report

### What version of TiKV are you using?

master, "Git Commit Hash:   5bd92d7fa32a2b6d21e03c69258edc1565ebd7ec"

### What operating system and CPU are you using?

### Steps to reproduce

Running TiCDC integration test, the basic system structure is

upstream: 3 TiKVs, 2 TiDBs, 1 PD
downstream: 1 TiKV, 1 TiDB, 1 PD

Use TiCDC to replicate upstream data change to downstream

### What d

[2020-12-02 08:03] sticnarf commented on #9171
The second problem is an invalid assertion. This assertion is not valid when there are some mutations that needn't be written (like `CheckNotExists`).

[2020-12-02 08:09] youjiali1995 commented on #9171
The first problem is caused by 1PC. TiKV doesn't write locks and commits it directly in this case.

[2020-12-02 08:10] MyonKeminta commented on #9171
The first panic is caused by TiDB mistakenly enabled 1PC by default, which is currently not compatible with CDC.

[2020-12-02 09:04] solotzg commented on #9155
Data in raft engine is actually the WAL of apply processes. For tiflash, normal write raft cmd will be recorded in memory until admin cmd(like split/merge/compactlog) occurs. Then fsync memory cache of region into column storage engine and write region state and apply state to kv engine of proxy(a dynamic c lib extended from TiKV). When restarted, apply process could replay raft log from last appl

[2020-12-02 09:14] andylokandy commented on #8036
Initial design documentation draft for the audience in interest: https://docs.google.com/document/d/1W3YeMUaQK6k1SG2jmfq2PBWb6_wMK42KHBtO6mdbP2A/edit

[2020-12-02 09:15] andylokandy commented on #6243
It's already on https://github.com/tikv/client-py.

[2020-12-02 09:15] #6243 closed

[2020-12-02 09:22] youjiali1995 commented on #9171
Please create an issue for it. @MyonKeminta

[2020-12-02 09:47] BusyJay commented on #7747
Another solution is using negotiation to decide whether enabling hibernate region. There are three rules:
1. if configuration disable hibernate region, then peer disable hibernate region;
2. if configuration enable hibernate region, leader should make sure all followers agree to hibernate before going to sleep;
3. when a node is started, a peer should broadcast messages to wake up the cluster.

If

[2020-12-02 09:56] MyonKeminta commented on #9171
Ok.
https://github.com/tikv/sig-transaction/issues/78
https://github.com/tikv/tikv/projects/47#card-48310879

[2020-12-02 09:59] lhy1024 commented on #9170
Besides, all start_key is the same, only sample.right is no zero, it will cause the same problem

[2020-12-02 13:27] shuijing198799 commented on #9126
It seems only occured in upgrade and downgrade tikv version.
[code]
this is the tikv config for encryption, please checkout is it any change or misconfiguration

[2020-12-02 19:01] idoqo commented on #9132
Hi @breeswish, I'm trying to get familiar with tikv ahead of GSoC and wanted to give this a shot. Do you mind helping with some pointers?

I don't know if it's right but it seems based on [this](https://github.com/tikv/tikv/blob/e80aedcb7534a61abeb2898de47644ed2055a6a4/src/config.rs#L2225), that configs under the `server` field are marked as "skip" and cannot be modified dynamically at the moment.

[2020-12-02 20:24] yiwu-arbug commented on #9126
@shuijing198799 the issue you experience with downgrade is caused by incompatible encryption metadata format. #8865 we changed the file format, but for compatibility reason the change isn't cherry-pick into 4.0.x (otherwise it will cause incompatibility between 4.0.x bugfix versions). The error in this case is
[code]
If so desire, we can apply a change to 4.0.x to make it able to downgrade, by mak

[2020-12-02 21:35] yiwu-arbug commented on #9155
For log compaction and file ingestion, we can probably make use of RocksDB's flush complete callback and the `ReadTier::read_tier` to advance the flushed apply index.

[2020-12-02 21:38] yiwu-arbug commented on #9155
@solotzg thanks for chime in. Does TiFlash assume data is persisted once the apply state is written to kv engine?

[2020-12-03 01:27] cosven commented on #9170
/label severity/moderate

[2020-12-03 02:08] glorv commented on #9138
The test commit is `9b8785a42f6e03621c0d0ce66799761b3e00f9cc` ealier than the test fix commit `f3f5f99e125ef75bbd994474e006d23883e6de38`

[2020-12-03 02:13] solotzg commented on #9155
@yiwu-arbug Yes. But not like TiKV, TiFlash only writes apply state to kv engine when applying admin command. Actually, for TiFlash, there is no data in write/default/lock cf in kv engine. Just like: https://github.com/solotzg/tikv/blob/tiflash-proxy-master/components/raftstore/src/store/fsm/apply.rs#L1375 https://github.com/solotzg/tikv/blob/tiflash-proxy-master/components/raftstore/src/store/fsm

[2020-12-03 04:53] shuijing198799 commented on #9126
It seems can't reproduce in dbaas. From the log point of view, it is obvious that the kms at that time could not be connected. This may be a problem of the dbaas environment itself at that time, rather than a logical bug. Can you elaborate on the environment and operation path at the time?
My operation path is create 4.0.8 version cluster -> upgrade to nightly.

[2020-12-03 04:56] shuijing198799 commented on #9126
It seems can't reproduce in dbaas. From the log point of view, it is obvious that the kms at that time could not be connected. This may be a problem of the dbaas environment itself at that time, rather than a logical bug. Can you elaborate on the environment and operation path at the time?
My operation path is create 4.0.8 version cluster -> upgrade to nightly.

[2020-12-03 08:15] Patrick0308 commented on #8942
/pick-up

[2020-12-04 09:11] sticnarf opened #9188 "The unified pool cannot schedule kv_scan, raw_scan and analyze requests well"
## Bug Report

### What version of TiKV are you using?

TiKV 4.0 or master

### Steps to reproduce

Set TiKV to use the unified thread pool for both storage and coprocessor. Run a TP workload. Then, run large kv_scan requests.

### What did you expect?

The unified thread pool should let the kv_scan request not affect TP workload.

### What did happened?

It affects the performance of the TP workl

[2020-12-04 09:13] sticnarf commented on #9188
Now analyze requests and kv_scan requests are not transformed into splittable coroutines. Then, it is not possible for yatp to schedule such a large request.

[2020-12-04 09:19] sticnarf commented on #9188
Typical affected cases:

- TiDB analyze
- Add index DDL backfilling
- BR backup
- TiSpark analysis

The first three use cases should have a low concurrency, so the severity should be not high.
In the last case, TiSpark may have a high concurrency, TP performance may be affected greatly even if the scan requests are marked low priority.

[2020-12-04 09:34] #3044 closed

[2020-12-05 06:35] yiwu-arbug opened #9190 "encryption: not able to downgrade from nightly to 4.0.x"
## Bug Report

### What version of TiKV are you using?
Downgrade from nightly (pre-5.0) to <= 4.0.8

### What operating system and CPU are you using?
N/A

### Steps to reproduce
1. Deploy TiKV nightly (pre-5.0)
2. Enable TDE with the following config and start TiKV
[code]
3. Downgrade to TiKV 4.0.8

### What did you expect?
TiKV able to downgrade

### What did happened?
TiKV not able to start afte

[2020-12-05 06:37] yiwu-arbug commented on #9190
The backward compatibility also affects DBaaS. DBaaS require backward compatibility till 4.0.9 (e.g. TiKV 5.0 can seamlessly downgrade to 4.0.9).

[2020-12-05 06:55] yiwu-arbug commented on #9126
Opened issue #9190 and PR #9191 for the fix.

[2020-12-05 07:33] Fullstop000 opened #9192 "Support build on Apple Silicon/M1"
## Feature Request

Support native build on Apple Silicon/M1

And I'm currently working on this. Here are some complete tasks and related issues:

- [x] `tame-oauth` : 0.4.2 -> 0.4.5
   - [x] `ring`: 0.16.12 -> 0.16.19 https://github.com/briansmith/ring/issues/1063
   - [x] `openssl-src`: 111.10.2+1.1.1g -> 111.12.0+1.1.1h
- [ ] `tikv/rust-rocksdb` build fail on Apple Silicon  https://github.com/t

[2020-12-07 05:36] #9190 closed

[2020-12-07 06:22] BusyJay commented on #9188
Should the change be rolled back?

[2020-12-07 06:26] sticnarf commented on #9188
Oh. 4.0.9 is not released yet. I think we should not enable it by default now.

[2020-12-07 11:53] NingLin-P commented on #9132
Hi @idoqo  `#[config(skip)]` is used to check if we try to change a config that not support changing dynamically. To support changing `server.end_point_slow_log_threshold` dynamically, we need to replace `#[config(skip)]` with `#[config(submodule)]` for `server` and which will require `server::Config` to derive the `Configuration` trait and to dispatch the changes to where the config actually used

[2020-12-08 14:40] Little-Wallace commented on #9024
This problem has been solved by #9081

[2020-12-08 14:40] #9024 closed

[2020-12-09 01:37] jiangyuzhao commented on #8589
方便问下这个提交跟之前的方案有什么区别咩？看起来主要想法依然是在commit之前从TSO获得一个时间戳来作为commit_ts，跟支持异步之前主要的区别是什么呢？

[2020-12-09 02:40] sticnarf commented on #8589
之前获取 commit_ts 是在第一阶段提交（prewrite）之后获取，现在这是在 prewrite 之前获取。
从总延迟的角度看，以前是 prewrite + TSO + commit primary lock，现在缩减为 TSO + prewrite，少了一次提交 primary lock 的延迟。

[2020-12-09 02:48] jiangyuzhao commented on #8589
commit primary lock是指把提交信息写入一个中心么？我记得之前看Percolator的时候，这个commit其实只是本地检查lock列，然后写时间戳而已，感觉从论文上没有额外的RPC了，而且现在的方案也应该有这个流程，这个减少commit primary lock主要是指？

[2020-12-09 02:53] sticnarf commented on #8589
RPC 数量没有减少，但以前需要等到提交 primary lock 后才能向用户返回成功。现在在 prewrite 结束时就能返回成功了。所以从用户的角度，少了一次 RPC 的延时。

在 issue 中提问题可能会对其他关注 issue 的人产生信息干扰，建议来我们 Slack channel 来讨论：https://slack.tidb.io/invite?team=tikv-wg&channel=sig-transaction&ref=community-sig

[2020-12-09 04:17] Connor1996 opened #9205 "kvdb's get duration max increases a lot with data growing"
It's a insert only workload, kvdb's get duration max increases a lot with data growing
![image](https://user-images.githubusercontent.com/13497871/101583961-8aaa2f80-3a17-11eb-9ae4-6c95956adcce.png)
![image](https://user-images.githubusercontent.com/13497871/101584258-3489bc00-3a18-11eb-81d5-2c85c305ed29.png)

Some other read related metrics, but see no abnormal point.
![image](https://user-images

[2020-12-09 09:42] sticnarf opened #9208 "tipocket list_append fails on follower read and async commit"
## Bug Report

### What version of TiKV are you using?

Nightly

### Steps to reproduce

Use https://github.com/pingcap/tipocket/pull/331. Run `./bin/append -txn-mode=optimistic -replica-read=follower -nemesis=shuffle-leader-scheduler,shuffle-region-scheduler,shuffle-region-scheduler`.

Log archive: [append-failure-follower-read.tar.gz](https://github.com/tikv/tikv/files/5664896/append-failure-fol

[2020-12-10 02:50] Fullstop000 commented on #9192
It's exciting that this is done by @sticnarf on his m1 machine!!! Please wait for his PRs.

[2020-12-10 08:33] longfangsong opened #9210 "build: build failed on macOS"
## Development Task

Fix build failed under macOS, caused by #9206.

[code]

[2020-12-10 11:34] sticnarf commented on #9208
Here is another failure with more logs, debug tikv branch: https://github.com/tikv/tikv/tree/16bfed453a6ff674bd4aba21c0e5173958323a9e

[append-failure-3.tar.gz](https://github.com/tikv/tikv/files/5672370/append-failure-3.tar.gz)

[2020-12-10 12:06] sticnarf commented on #9208
I find this test also fails on master **even without async commit**.
cc @5kbpers

[2020-12-10 12:21] MyonKeminta opened #9216 "TiKV's distributed GC may keep scanning and consuming CPU when there's very low write flow"
## Bug Report

This is an old problem that has been recorded in our internal jira. We now also record it on github.

### What version of TiKV are you using?

4.0.x, 3.0.x

### What operating system and CPU are you using?

-

### Steps to reproduce

1. Load a lot of data to the cluster
2. Do some update to the data, but very rarely.
3. In a little chance the problem may happen: there may be a range

[2020-12-10 12:22] overvenus opened #9217 "TiKV is killed during profiling via TiDB-dashboard"
## Bug Report

### What version of TiKV are you using?

Master

### What operating system and CPU are you using?

Centos 7

### Steps to reproduce

Profile instance via dashboard.

[code]

[2020-12-10 14:16] YKG commented on #8942
Hi @breeswish , I'd like to add a note here. For the sysbench oltp_update_index workload, the delta time starts from the network packet been received in TiKV and ends with the `request_handler` in `kv.rs::batch_commands()` for heavy load. Actually the delta time is the queueing time. I collected all the RPC timestamp both in TiDB and TiKV, and I got some interesting information, one of them is tha

[2020-12-10 14:38] breeswish commented on #8942
@YKG  Great job! Your information is very valuable. We do not handle queue time (especially when it is batched in gRPC) well in this case. Maybe we can cover some easy problems first.  If you are interested in what we are doing, you can send the resume to breezewish@pingcap.com

/cc @zhongzc pay attention to the note here, if tracing does not cover the gRPC batch case.

[2020-12-10 16:55] zhongzc commented on #8942
@breeswish

For now, the tracing processing, says that an RPC's send time is when a request is passed to batch commands, not the real RPC send time. Similarly, the "receive time" of a request batched in batch commands is when the request begins to handle.

For the gRPC batch case, maybe gRPC lib should record the wanted information and pass them to the application via `RequestContext`.

[2020-12-10 17:19] sticnarf commented on #9192
## Prerequisites
- [ ] https://github.com/tikv/rocksdb/pull/219
- [ ] https://github.com/tikv/titan/pull/199
- Upgrade bindgen version to `0.56`
  - tikv/grpc-rs
  - tikv/rust-rocksdb
  - YangKeao/rust-papi (optional)
- Patch tikv/rust-rocksdb
- Fix link_name of `statfs` and `fstatfs` in rust-lang/libc

[2020-12-11 02:01] youjiali1995 commented on #9208
How about release-4.0?

[2020-12-11 02:07] sticnarf commented on #9208
It doesn't fail on release-4.0.

[2020-12-11 02:25] 5kbpers commented on #8987
@cosven Should we close it since found the root cause?

[2020-12-11 02:27] #8987 closed

[2020-12-11 03:25] YKG commented on #8942
Hi @breeswish @zhongzc , sorry for late feedback because get up late. I'm glad to receive the resume invititaion, I'll send it to you later today.

The attachment is the PPT for HPTC defense, The last two plots are for `BatchCommand::Get`.

[Latency Tracing for TiDB community.pptx](https://github.com/tikv/tikv/files/5676897/Latency.Tracing.for.TiDB.community.pptx)

Our workgroup slack channel is h

[2020-12-11 03:35] YKG commented on #8942
@zhongzc If my memory is correct, it's you who are working on TiKV opentracing support? While I'm working on tracing the latency during HPTC, I found you have a draft PR for TiKV tracing, I should have ask you for help to speed up, just too busy to to ask. Accoring to my investigation, opentracing normally requries the span starts and ends in the same stack frame, which is seems like not suitable

[2020-12-11 03:48] zhongzc commented on #8942
@YKG An async task contains a series of `poll` function calls. They won't overlap, and every call will stay in the single thread. You can trace async task by instrumenting the `poll` if you prefer tracing of thread-local flavor.

[2020-12-11 03:49] yester354 opened #9220 "Batch insert slow ，too many sessions wait in commit"
we use tidb to store archive data，when we archive data from mysql to tidb，there too many session in commit status，and 99% percent time usage in commit，how can i improve this situation

version tidb 3.0.5，
D       | USER         | HOST      | DB                         | COMMAND | TIME | STATE | INFO                                                            | MEM  |
+----------+--------------+----

[2020-12-11 03:51] YKG commented on #8942
I also checked the netwrok latency by collecting the packets timestamp and compare to TiDB's and TiKV's, that is not a issue, the timestamp diff nomally less than 1ms even in a high RPC latency environment.

[2020-12-11 05:20] YKG commented on #8942
@zhongzc so if it's possible, could you please tell me how to starts a span in the `request_handler` and ends it in `response_retriever`? In my approach, I have `KV1` tracepoint(`kv1_tracer.push(id)`) in `request_handler` and a `KV2` tracepoint(`kv2_tracer.push(*id)`) in `response_retriver`, how can I starts a span at `KV1` and ends it at `KV2`?

[2020-12-11 05:51] #9210 closed

[2020-12-11 06:03] zhongzc commented on #8942
@YKG I don't think there's another approach easier than your original way.

An intuitive alternative is to share a span with these two points, started by `KV1`, finished by `KV2`. Because the span is modified by two threads, `mutex` or `atomic` is needed.

If you are intended to use existing tracing frameworks, for most of them like opentracing, minitrace, you may need to transmit the tracer manua

[2020-12-11 06:07] KivenChen opened #9221 "server::status_server::tests::test_change_log_level failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37506/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37506/display/redirect</a>

[2020-12-11 06:21] YKG commented on #8942
@zhongzc I agree with you that mutex or atomic do needed, but although these two places are in different `futures`, but they are not in the different `threads`, both are runing in the same thread.

Yes, I also guess the framewroks may need to use channels to finish this work. I did some compartion between `crossbeam`/`std::mpsc`/`flume`/`vector push`, those channels approach overhead is much bigge

[2020-12-11 06:33] BusyJay commented on #9221
There is only one fail step that is timeout. And the timeout case is not what title says. Is the provided link correct?

[2020-12-11 07:52] crazycs520 opened #9223 "slow-query information is not accuracy"
## Bug Report

### What version of TiKV are you using?

Config: disable the cop-cache in TiDB.

[code]

[code]

### What operating system and CPU are you using?

AMD 3900, macos

### Steps to reproduce

1.  Prepare test data. Create folowing table and insert 1000000 rows.
[code]

2. use 100 clients to concurrently execute the following SQL:

[code]

Then check the TiKV log to find `slow-query` suc

[2020-12-11 07:53] crazycs520 commented on #9223
@zhongzc PTAL

[2020-12-11 08:07] KivenChen commented on #9221
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37567/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37567/display/redirect</a>

[2020-12-11 08:07] KivenChen opened #9224 "server::kv_service::test_split_region failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37456/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37456/display/redirect</a>

[2020-12-11 08:07] KivenChen opened #9225 "storage::txn::actions::acquire_pessimistic_lock::tests::test_pessimistic_lock failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37493/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37493/display/redirect</a>

[2020-12-11 08:20] YangKeao commented on #9217
This problem is that: the timer still works after unregistering the signal handler. Then `tikv` received a `SIGPROF` and killed.

However, I have fixed this problem in `0.3.13`, which was published one year ago. And `tikv` used `pprof-rs 0.3.15` 🤦‍♂️ . I will try to reproduce this problem and find the reason.

[2020-12-11 08:38] KivenChen commented on #9221
Thanks for your feedback. This issue was created as part of the CI service that's being tested.
We are looking into this issue. Another case failure is raised with the same attribution, could you pls check if there's any more problem.
[https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37567/display/redirect](https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37567/display/redire

[2020-12-11 09:07] KivenChen commented on #9221
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37571/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37571/display/redirect</a>

[2020-12-11 09:37] BusyJay commented on #9224
Traced by #9151.

[2020-12-11 09:37] #9224 closed

[2020-12-11 09:59] YangKeao commented on #9217
Failed to reproduce on my low spec virtual machine with tpch load. I guess the problem is because of the signals which haven't arrived yet.

[2020-12-11 11:07] KivenChen commented on #9221
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37603/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37603/display/redirect</a>

[2020-12-11 11:07] KivenChen commented on #9225
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37600/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37600/display/redirect</a>

[2020-12-11 11:35] #9157 closed

[2020-12-11 12:46] #9217 closed

[2020-12-11 14:08] #9221 closed

[2020-12-11 16:07] KivenChen opened #9230 "storage::test_raft_storage::test_auto_gc failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37168/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37168/display/redirect</a>

[2020-12-11 17:07] KivenChen opened #9231 "raftstore::test_merge::test_request_snapshot_after_propose_merge failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37640/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37640/display/redirect</a>

[2020-12-11 18:07] KivenChen opened #9232 "cases::test_stale_read::test_read_index_when_transfer_leader_2 failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37642/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37642/display/redirect</a>

[2020-12-11 19:07] KivenChen commented on #9232
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37645/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37645/display/redirect</a>

[2020-12-11 19:07] KivenChen opened #9233 "server::kv_service::test_split_region failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37646/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37646/display/redirect</a>

[2020-12-11 22:28] yiwu-arbug opened #9234 "security: explicit error message for CN verification error"
## Bug Report

### What version of TiKV are you using?
4.0.x, master

### What operating system and CPU are you using?
N/A

### Steps to reproduce
wrong string set in `security.cert-allowed-cn`, run TiDB and got the following error in TiDB log:
[code]

and error log in TiKV:
[code]
Both of the error message doesn't clearly indicate it is caused by CN mismatch.

### What did you expect?
Error clear

[2020-12-12 01:07] KivenChen opened #9235 "sql/randgen-topn/5_math_2.sql failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_integration-copr-test/9786/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_integration-copr-test/9786/display/redirect</a>

[2020-12-12 01:07] KivenChen opened #9236 "cases::test_cmd_epoch_checker::test_accept_proposal_during_conf_change failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37666/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37666/display/redirect</a>

[2020-12-12 10:28] #9208 closed

[2020-12-12 13:07] KivenChen commented on #9233
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37683/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37683/display/redirect</a>

[2020-12-12 13:51] idoqo commented on #9132
@NingLin-P @breeswish

I've created a draft PR for this but I'm still a bit confused about a few things. For example:

- I'm correctly binding the server Config to the ServerConfigManager with `Arc<RwLock<Config>>`, but I'm not sure if it's the right way to do that.

- Should we mark all the other fields of the server `Config` struct as `skip`, since `endpoint-slow-log-threshold` is the only one w

[2020-12-12 17:24] DreaMer963 commented on #9016
`TruncateUint`
I feel except for the function parameter type and return value type, TruncateUint and TruncateInt are the same.
`pub fn truncate_int_with_int(arg0: &Int, arg1: &Int) -> Result<Option<Int>>`
`pub fn truncate_uint_with_int(arg0: &UInt, arg1: &Int) -> Result<Option<UInt>>`

[2020-12-13 11:03] siddontang commented on #8212
em, will be the size of the log file increased all the time? do we have a Snapshot mechanism to shrink the size?

[2020-12-13 22:11] brson opened #9242 "Move engine_rocks::config to a new engine_config crate"
The engine_rocks::config module has found its way into engine_rocks recently, and this module imported into raftstore. This represents the tikv configuration for the rocksdb engine. Unfortunately, this location is not acceptable, as tikv cannot ultimately depend on engine_rocks concretely.

Ultimately, there will be a crate dedicated to constructing engines, and that will be the only crate that kn

[2020-12-13 22:14] brson commented on #6402
Here's an issue about dealing with the engine configuration: https://github.com/tikv/tikv/issues/9242

[2020-12-13 22:40] yiwu-arbug commented on #8212
yes, there's the `security.encryption. file-dictionary-rewrite-threshold` (default 1M) config controls after how many delete operations shall we rewrite the whole file and start again.

[2020-12-13 22:45] brson commented on #9242
Let's hold off on this for a while - I think this will not block removing the engine_rocks dependency from raftstore, as raftstore is only using this code for the PerfContext serialization, and that can be moved elsewhere independently of where rocks::config lives.

By the time the rocks_engine configuration becomes a blocker to other engines, the problem will be more clear and the solution may ha

[2020-12-14 03:25] yiwu-arbug commented on #9126
Closing for now if not reproducible. @5kbpers @shuijing198799 please reopen if needed.

[2020-12-14 03:25] #9126 closed

[2020-12-14 03:51] NingLin-P commented on #9132
@idoqo

It is okay to use `Arc<RwLock<Config>>`

Yes, we need to mark all the other fields of the server Config struct as `skip`

[2020-12-14 04:02] yiwu-arbug commented on #5239
Shall we close if this is not reproducible?

[2020-12-14 04:32] Connor1996 commented on #5239
The stack is stale and duplicated with https://github.com/tikv/tikv/issues/7694

[2020-12-14 04:32] #5239 closed

[2020-12-14 07:08] yiwu-arbug opened #9249 "security: not all logs being redact when log redaction is enabled"
## Bug Report

### What version of TiKV are you using?
4.0, master

### What operating system and CPU are you using?
N/A

### Steps to reproduce
Run TiKV with `security.redact-info-log = true`, still seeing user keys being printed in hex form in info log. example:

<img width="842" alt="WeChatWorkScreenshot_e00b32ca-0c42-407b-86a4-2511118488d9" src="https://user-images.githubusercontent.com/260695

[2020-12-14 07:46] KivenChen opened #9251 "FAIL: /home/jenkins/agent/workspace/tikv_ghpr_integration_ddl_test/go/src/github.com/pingcap/tidb-test/_vendor/pkg/mod/github.com/pingcap/tidb@v0.0.0-20190520045437-2d70e4da27d7/cmd/ddltest/index_test.go:127: TestDDLSuite.TestIndex failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_integration_ddl_test/11022/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_integration_ddl_test/11022/display/redirect</a>

[2020-12-14 07:53] BusyJay commented on #9251
Such failures should probably not be related to TiKV.

[2020-12-14 08:46] KivenChen commented on #9233
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37899/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37899/display/redirect</a>

[2020-12-14 08:46] KivenChen opened #9252 "cases::test_early_apply::test_multi_early_apply failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37557/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37557/display/redirect</a>

[2020-12-14 08:46] KivenChen opened #9253 "FAIL: /home/jenkins/agent/workspace/tikv_ghpr_integration_ddl_test/go/src/github.com/pingcap/tidb-test/_vendor/pkg/mod/github.com/pingcap/tidb@v0.0.0-20190520045437-2d70e4da27d7/cmd/ddltest/index_test.go:127: TestDDLSuite.TestIndex failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_integration_ddl_test/11264/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_integration_ddl_test/11264/display/redirect</a>

[2020-12-14 09:01] BusyJay commented on #9253
What's the difference from #9251?

[2020-12-14 09:30] 5kbpers commented on #7113
Closed it since we already have gc safepoint service.

[2020-12-14 09:30] #7113 closed

[2020-12-14 09:32] 5kbpers commented on #3147
Duplicated with https://github.com/tikv/tikv/issues/3147

[2020-12-14 09:46] KivenChen commented on #9253
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_integration_ddl_test/11274/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_integration_ddl_test/11274/display/redirect</a>

[2020-12-14 09:46] KivenChen commented on #9233
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37903/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37903/display/redirect</a>

[2020-12-14 09:53] lhy1024 opened #9255 "Add key and size threshold for load-base-split"
## Feature Request

### Is your feature request related to a problem? Please describe:

The current load-base-split only receives the limitation of qps, so sometimes it may cut out a region with only a few keys, which is not good, especially in scenarios where there are more scan requests。

### Describe the feature you'd like:

Add limits on the size and key of the region before split.

### Descri

[2020-12-14 09:53] lhy1024 commented on #9255
/assign lhy1024

[2020-12-14 10:46] KivenChen commented on #9252
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37908/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37908/display/redirect</a>

[2020-12-14 10:46] KivenChen opened #9258 "server::status_server::tests::test_change_log_level failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37603/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37603/display/redirect</a>

[2020-12-14 11:47] KivenChen commented on #9253
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_integration_ddl_test/11276/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_integration_ddl_test/11276/display/redirect</a>

[2020-12-14 11:47] KivenChen opened #9261 "raftstore::test_multi::test_multi_node_drop_packet failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37911/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37911/display/redirect</a>

[2020-12-14 11:54] #9252 closed

[2020-12-14 12:14] #9251 closed

[2020-12-14 12:15] KivenChen commented on #9253
Thanks for the feedback. It’s closed as an unregistered duplicate.

[2020-12-14 12:47] KivenChen commented on #9253
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_integration_ddl_test/11279/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_integration_ddl_test/11279/display/redirect</a>

[2020-12-14 14:47] KivenChen opened #9263 "cases::test_early_apply::test_multi_early_apply failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37907/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37907/display/redirect</a>

[2020-12-14 15:47] KivenChen commented on #9233
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37944/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37944/display/redirect</a>

[2020-12-14 16:47] KivenChen commented on #9232
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37950/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37950/display/redirect</a>

[2020-12-14 16:47] KivenChen commented on #9231
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37950/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37950/display/redirect</a>

[2020-12-15 00:47] KivenChen opened #9264 "cases::test_conf_change::test_stale_peer_cache failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37979/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37979/display/redirect</a>

[2020-12-15 03:48] KivenChen commented on #9233
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37987/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/37987/display/redirect</a>

[2020-12-15 04:33] #9151 closed

[2020-12-15 06:12] 5kbpers commented on #3162
Set severity to minor since cannot reproduce it.

[2020-12-15 06:28] shuijing198799 opened #9268 "One of three tikv node OOM when using sysbench prepare"
## Bug Report

### What version of TiKV are you using?

[code]
### What operating system and CPU are you using?

on gcp cloud
ec2 centos
[code]
### Steps to reproduce

tikv machine: 2c 13Gmem
replica: 3
use sysbench to prepare data into cluster
[code]

### What did you expect?
prepare complete
### What did happened?
one of tikv use huge number of memory and OOM
![2020-12-15 13-45-01 的屏幕截图](https:/

[2020-12-15 06:41] idoqo commented on #9132
Alright, thanks a lot! I've marked the PR as ready for review now (though I haven't been able to figure out why the CI is failing).

[2020-12-15 06:48] KivenChen commented on #9225
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/38023/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/38023/display/redirect</a>

[2020-12-15 06:48] KivenChen commented on #9258
Yet another case failure: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/38023/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/38023/display/redirect</a>

[2020-12-15 06:52] #6667 closed

[2020-12-15 07:22] #9223 closed

[2020-12-15 09:34] 5kbpers commented on #7473
Duplicated with https://github.com/tikv/tikv/issues/3162

[2020-12-15 09:34] #7473 closed

[2020-12-15 11:12] shuijing198799 commented on #9268
it seems the flush is too slow caused wait stall , the apply thread is accumulated caused OOM , decrease the thread pool and buf size will solve this problem
[code]
and open kms log
[code]
thx for @Little-Wallace

[2020-12-15 11:12] #9268 closed

[2020-12-15 11:56] 5kbpers commented on #8412
Had a benchmark on #8982.
Write flow of RocksDB was reduced by about 25% in sysbench, but IOPS seems not to be reduced obviously very much.

[2020-12-15 12:21] #3162 closed

[2020-12-15 12:23] 5kbpers commented on #8358
Probably fixed by https://github.com/tikv/tikv/pull/9271

[2020-12-15 12:23] #8358 closed

[2020-12-15 12:28] 5kbpers commented on #3147
Duplicated with https://github.com/tikv/tikv/issues/7934

[2020-12-15 12:28] #3147 closed

[2020-12-15 12:48] 5kbpers commented on #7934
Close it because of cannot reproduce.

[2020-12-15 12:48] #7934 closed

[2020-12-16 01:41] kolbe opened #9276 "tikv-server crashes under Rosetta 2"
## Bug Report

tikv-server crashes immediately on Apple Silicon (m1) when running under Rosetta 2 (Apple's x86_64 translation environment). https://github.com/tikv/tikv/issues/9192 addresses native support for darwin/arm64, but we should still try to fix whatever prevents tikv-server from running under Rosetta2.

### What version of TiKV are you using?

No, I unfortunately can't 😉

It's v4.0.8 fro

[2020-12-16 04:47] Xuanwo commented on #8605
Roadmap here: #9066

[2020-12-16 07:30] andylokandy commented on #9276
@sticnarf May have ideas.

[2020-12-16 07:34] sticnarf commented on #9276
No. Actually, I don't expect TiKV to run under Rosetta 2. Maybe some SSE4.2 instructions cannot be translated.

[2020-12-16 07:40] kolbe commented on #9276
We should try to make sure we understand what is happening here. It's possible it's something in TiKV, it's possible it's something in rust or in llvm or elsewhere.

[2020-12-16 07:59] youjiali1995 commented on #9225
[code]

[2020-12-16 08:09] youjiali1995 commented on #9225
ah, it failed in a draft PR which modified the case. https://github.com/tikv/tikv/pull/9214

[2020-12-16 08:38] MyonKeminta commented on #9225
Oh, that was a mistake I made while working or that PR and was fixed.

[2020-12-16 09:24] andylokandy commented on #9276
If native aarch64 build is fine, we will not be bothered by rosetta2 then.

[2020-12-16 09:29] andylokandy commented on #9220
@wangtianyi2004 Would you like to take a look?

[2020-12-16 09:33] andylokandy commented on #9236
It is an unstable test. Did it pass eventually?

[2020-12-16 09:43] yilongrong commented on #9220
Hi,yester354. Could you please  check the over-view of Grafana. If Memory, CPU or IO use too high.

[2020-12-16 23:02] yiwu-arbug commented on #9276
@kolbe how the tikv-server binary was obtained/compile?

[2020-12-16 23:04] yiwu-arbug commented on #9242
looks like `engine_rocks::config` contain a bunch of config related structs and enums. They might be easy to move to the engine_traits crate.

[2020-12-16 23:05] kolbe commented on #9276
@yiwu-arbug
[code]

[2020-12-17 02:04] zz-jason commented on #8605
@Xuanwo how to enable it in TiDB?

[2020-12-17 02:21] skyzh commented on #8605
We only finished the part of TiKV. Now TiKV supports enum/set-based aggregator and functions. Later we will need to modify TiDB to cooperate with this part.

[2020-12-17 02:21] YKG commented on #8942
Hi @breeswish , I sent the resume last week, but I didn't see any feedback, was there any problem?

[2020-12-17 02:28] Xuanwo commented on #8605
As described in the roadmap, we still have work to do on tipb/tidb side to make this feature work.

[2020-12-17 02:51] zz-jason commented on #8605
got, thanks

[2020-12-17 02:55] breeswish commented on #8942
Sorry! I didn't noticed the email. I have re-checked my inbox and found your email. I will take a look.

[2020-12-17 03:27] sticnarf commented on #9231
Duplicated by #8517

[2020-12-17 03:27] #9231 closed

[2020-12-17 03:28] sticnarf commented on #9261
Duplicated by #7228

[2020-12-17 03:28] #9261 closed

[2020-12-17 03:31] sticnarf commented on #9230
Duplicated by #6400

[2020-12-17 03:31] #9230 closed

[2020-12-17 03:32] #9225 closed

[2020-12-17 06:12] 5kbpers commented on #8285
The failpoint `pause_on_peer_collect_message` was used for ensuring all messages were put into the same batch.
If the messages were sent very fast, this failpoint will be removed before it was executed.
So this behavior is expected, will close this issue.

[2020-12-17 06:12] #8285 closed

[2020-12-18 00:41] yester354 commented on #9220
Hi,yilongrong,the cpu of tikv server is normal ,around 600%,the server memory is  about 256GB,and free is 13GB and no swapout ,IO is normal,we use sas,the iowait is around 0.1ms-1ms

[2020-12-18 03:19] sticnarf commented on #6448
This clippy warning is suppressed by `allow(clippy::float_cmp)`.

[2020-12-18 03:19] #6448 closed

[2020-12-18 03:28] 5kbpers commented on #8674
Close it because of cannot reproduce.

[2020-12-18 03:28] #8674 closed

[2020-12-18 03:32] 5kbpers commented on #8677
This test must be run with env `MALLOC_CONF="prof:true"` and is ignored by default, not sure why it was run in CI.

[2020-12-18 03:32] #8677 closed

[2020-12-18 03:35] 5kbpers commented on #8531
Cannot find the failed test name after the test log lost. 😑

[2020-12-18 03:35] #8531 closed

[2020-12-18 03:39] KivenChen opened #9294 "sql/randgen-topn/4_cast_1.sql failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_integration-copr-test/10139/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_integration-copr-test/10139/display/redirect</a>

[2020-12-18 03:39] KivenChen opened #9295 "[type_time]:SELECT CAST(a AS TIME) FROM t1; failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_integration_common_test/29468/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_integration_common_test/29468/display/redirect</a>

[2020-12-18 03:43] #9295 closed

[2020-12-18 03:43] #9294 closed

[2020-12-18 03:49] 5kbpers commented on #8548
Sorry for so late reply, please use `make release` to build tikv.

[2020-12-18 08:40] noirgif commented on #6224
Thank you! I see it has a maximum of 20s, and in the log the timeout has been set to 18 ticks.

However, tikv1 set the election timeout to be 10 ticks at 12:28:37.761, right before the leader(tikv2) fails, and it started a new election not until 12:29:04.657. After that it set the election timeout back to 18 ticks at 12:29:04.657, when it became the leader.

[2020-12-18 11:20] #9171 closed

[2020-12-18 13:26] #7747 closed

[2020-12-18 17:28] #9234 closed

[2020-12-21 08:51] #3262 closed

[2020-12-21 10:06] NingLin-P commented on #5388
I think this happens because every thread in the read thread pool have a `LocalReader` and when the thread count increase, the number of read requests the `LocalReader` handled increase if the leader lease is expired the lease expire rate increase, the QPS did not change because `LocalReader` redirect request to `raftstore` but the store thread number not change. I think the key to handling this p

[2020-12-21 13:29] sre-bot opened #9308 "raftstore::test_split_region::test_delay_split_region failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/38176/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/38176/display/redirect</a>

[2020-12-21 17:29] sre-bot opened #9309 "cases::test_merge::test_node_merge_cascade_merge_with_apply_yield failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/38663/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/38663/display/redirect</a>

[2020-12-21 19:29] sre-bot opened #9310 "raftstore::test_conf_change::test_server_split_brain failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/38670/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/38670/display/redirect</a>

[2020-12-21 20:29] sre-bot opened #9311 "server::gc_worker::test_applied_lock_collector failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/38673/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/38673/display/redirect</a>

[2020-12-21 21:29] sre-bot opened #9312 "raftstore::test_tombstone::test_server_readd_peer failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/38675/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/38675/display/redirect</a>

[2020-12-21 22:14] yiwu-arbug commented on #8721
Fixed by #8908

[2020-12-21 22:14] #8721 closed

[2020-12-21 22:29] sre-bot opened #9313 "cases::test_merge::test_node_mutiple_rollback_merge failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/38679/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/38679/display/redirect</a>

[2020-12-21 23:01] #9249 closed

[2020-12-22 03:46] rleungx opened #9317 "split-region-on-table cannot work when there is only one region"
## Bug Report

If there is only one region after all tables are merged, the split-region-on-table cannot work since both the start key and end key of that region is "".

### What version of TiKV are you using?
master (c48b1333d2306221e1326792c16251039e7fbe8c)

### Steps to reproduce

1. create a lot of tables
2. use pd-ctl to set the enable-cross-table-merge to true
3. wait for the region merge
4.

[2020-12-22 06:59] undeflife opened #9322 "go client failed to connect tikv server"
Installed on my linux server(ip:192.168.1.111) under [this guide]( https://tikv.org/docs/4.0/tasks/deploy/binary/ )
firewall has been configured to allow  all ports which  tikv will use.
[ example codes ](https://tikv.org/docs/4.0/reference/clients/go/) return error when executed on my mac
[code]
 execute it on server works as expected .
[code]

 curl -v 192.168.1.111:2379/pd/api/v1/stores  result

[2020-12-22 07:55] #9232 closed

[2020-12-22 08:30] sre-bot opened #9324 "cases::test_stale_read::test_read_index_when_transfer_leader_2 failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/38635/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/38635/display/redirect</a>

[2020-12-22 09:22] rleungx opened #9327 "Can not change region-split-check-diff through config file"
## Bug Report
region-split-check-diff is exposed to the users, but it can not be changed through the config file.
See
https://github.com/tikv/tikv/blob/4251f091297cd763ddf9679efca3a28ebe1beffa/etc/config-template.toml#L279-L283
and
https://github.com/tikv/tikv/blob/4251f091297cd763ddf9679efca3a28ebe1beffa/src/config.rs#L2362-L2368

### What version of TiKV are you using?
master (3b2c5337c837b8bf9d

[2020-12-22 10:44] #9317 closed

[2020-12-22 10:48] rleungx commented on #9317
It's not because of the range of the region. Actually, it cannot be checker since the region doesn't meet the region-split-check-diff

[2020-12-22 11:13] overvenus opened #9330 "Enable dictionary compression for Backup SST files"
## Development Task

Compression algorithms with dictionary optimization have better compression performance on small files. RocksDB SST file supports dictionary compression, we can test the performance.

Zstd benchmarks: https://github.com/facebook/zstd/tree/d4f7d75f84427c7d06903d9dbecee7033f3ad47a#the-case-for-small-data-compression

[2020-12-22 11:57] overvenus opened #9331 "Support memory quota for backup and import to avoid OOM and unnecessary IO"
## Development Task

Backup generates SST file in memory and then writes to external storage, it causes OOM when a host machine has restrict, e.g., 2GB.

Restoring a backup sst file, TiKV needs to write the file twice,

1. Download the file and save to disk (write no.1) https://github.com/tikv/tikv/blob/ac0f3b707be8ab055eeb5ccfea243703f609340b/components/sst_importer/src/sst_importer.rs#L205-L225

[2020-12-22 11:59] #9322 closed

[2020-12-22 19:31] sre-bot opened #9332 "raftstore::test_joint_consensus::test_leader_down_in_joint_state failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/38778/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/38778/display/redirect</a>

[2020-12-22 20:57] gregwebs commented on #3680
TiKV has support for encryption at rest now. @yiwu-arbug  should this issue be closed?

I came here from this page which is out of date: https://tikv.org/docs/3.0/tasks/configure/security/

[2020-12-22 21:31] sre-bot opened #9333 "import::test_sst_service::test_cleanup_sst failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/38785/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/38785/display/redirect</a>

[2020-12-22 23:26] yiwu-arbug commented on #3680
Closing stale issue.

[2020-12-22 23:26] #3680 closed

[2020-12-23 15:01] sre-bot opened #9342 "sql/randgen-topn/4_cast_1.sql failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_integration-copr-test/10185/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_integration-copr-test/10185/display/redirect</a>

[2020-12-24 00:01] sre-bot opened #9343 "test_backup::test_backup_and_import failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/38860/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/38860/display/redirect</a>

[2020-12-24 01:52] FateTHarlaown commented on #8651
@youjiali1995 , Hi, I want to take a try  in my spare time for this issue. But I'm not familiar with etcd,  It seems  there is no etcd client in tikv like go client. The PdClient has no interface for etcd, should I import a third party rust client?

[2020-12-24 02:02] xuhui-lu commented on #8651
/assign

[2020-12-24 05:20] NingLin-P opened #9346 "*: support handling stale read request on replica"
## Development Task

This is a subtask of https://github.com/pingcap/tidb/issues/21094, only for `TxnKV` (not `RawKV`)

Currently, TiKV only support reading the most up-to-date data, the leader need holding leader lease and applied in its term, and the follower need `ReadIndex`. For stale read request, these checks in unneeded, because stale read can response stale data.

What stale read request n

[2020-12-24 05:35] #9255 closed

[2020-12-24 08:39] BusyJay opened #9351 "Stale read when using read_index request"
## Bug Report

Similar to #9208, ReadIndex request can be given a stale index after just transferring leader. The API doesn't seem to be used anymore, so the best way to solve it is removing the API completely.

@NingLin-P @gengliqi PTAL

/cc @solotzg, just make sure tiflash will not use the API in the future.

[2020-12-24 08:45] solotzg commented on #9351
since 4.0.8, tiflash won't use ReadIndex to get read-index from leader directly.

[2020-12-24 09:02] kennytm opened #9352 "Failed to build TiKV with PROST=1"
## Bug Report

### What version of TiKV are you using?

master & release-5.0-rc.

### What operating system and CPU are you using?

(Linux)

### Steps to reproduce

[code]

### What did you expect?

Build successfully.

### What did happened?

[code]

[2020-12-24 11:35] BusyJay commented on #9351
I remember there is a solution to use proxy to do reading across DC, which also use read index. @hicqu Is it still a valid solution? Is the stale read proposal a good alternative to it?

[2020-12-24 12:02] hicqu commented on #9351
@BusyJay that solution is paused and I think the stale read proposal is more useful than that.

Is it necessary to fix the bug for `TiFlash ^4.0.7`? If so we need to fix it, or we can remove the API directly.

[2020-12-24 12:49] BusyJay commented on #9351
The only way to fix for them is using a hotfix. I suggest to ask them to upgrade to v4.0.9 instead.

[2020-12-25 03:29] innerr opened #9362 "Using batch mode to receive messages in function handle_normal"
## Development Task

Issue:
![WeCom Screenshot_20201225104810](https://user-images.githubusercontent.com/1285390/103116916-1b813c00-46a3-11eb-9f0d-5a65114a807f.png)
Here is a mpsc model chan, but we don't need this chan as a timing notificator (the `batch-system's fetch_fsm` chan already did the notificator job).

To receive messages from this chan one by one is a waste, the chan could be replaced

[2020-12-25 03:36] innerr commented on #9362
Previous work by Jay: https://github.com/tikv/tikv/pull/5419

[2020-12-25 03:38] BusyJay commented on #9362
#5419, which contains several improvements, using queue instead of channel is one of them. I doubt if `Mutex` is better choice though, first, the difference between `Mutex` and lock free queue may not be that significant as the place is not performance bottleneck; second, using `Mutex` can cause lock conflict between grpc server threads and unified thread pool, the former needs to send raft messag

[2020-12-25 10:10] #9352 closed

[2020-12-26 04:28] Tjianke commented on #8548
after pulling newest master and `make release`, following error raised:

[code]

[2020-12-29 02:42] rleungx opened #9378 "Exit when the status port conflict"
## Feature Request

### Is your feature request related to a problem? Please describe:

For now, when the status port cannot bind, it will print an error log and continue to start the server. But it seems exit is a better choice under this situation.

### Describe the feature you'd like:
When the port conflict, exit instead.

[2020-12-29 05:34] BusyJay commented on #8846
Can't reproduced.

[2020-12-29 05:34] #8846 closed

[2020-12-29 05:51] 5kbpers commented on #8517
Fixed by https://github.com/tikv/tikv/pull/9379

[2020-12-29 05:51] #8517 closed

[2020-12-29 06:19] #5628 closed

[2020-12-29 08:16] NingLin-P opened #9384 "raftstore: forward the replica's safe timestamp"
## Development Task

This is a subtask of https://github.com/pingcap/tidb/issues/21094, only for `TxnKV` (not `RawKV`)

To support stale read, we need `safe_ts` to check whether a replica can handle a read request safely and to let a replica be able to handle as many requests as possible, we should keep its `safe_ts` as new as possible (close to `TSO.now`).

The replica can forward its `saft_ts` b

[2020-12-29 13:28] BusyJay opened #9388 "ready can be advanced by a wrong peer"
## Bug Report

Supposing peer (1, 1) is split into (1, 2) and (1, 1) on store 1. If it takes too long for peer 1 to apply snapshot and then split, an uninitialized peer 2 can be created first and then the split one will replace then uninitialized one.

If before peer 1 is split, peer 2 receives a message, then the uninitialized peer and split peer may be fetched in one batch. Because batch system

[2020-12-30 00:13] kennytm commented on #8578
https://internal.pingcap.net/idc-jenkins/blue/rest/organizations/jenkins/pipelines/tikv_ghpr_test/runs/39287/nodes/203/log/?start=0

[2020-12-30 04:31] jiyingtk opened #9391 "TiKV's "read flow" statistics are inconsistent with "store read rate" statistics of PD"
## Bug Report

### What version of TiKV are you using?

TiKV
Release Version:   4.1.0-alpha
Edition:           Community
Git Commit Hash:   3a02e74293b1a47ed03ec26d47cc31e9eafea673
Git Commit Branch: master
UTC Build Time:    2020-12-26 12:16:11
Rust Version:      rustc 1.49.0-nightly (b1496c6e6 2020-10-18)
Enable Features:   jemalloc mem-profiling portable sse protobuf-codec test-engines-rocksdb

[2020-12-30 06:06] Win-Man opened #9392 "TiKV panicked when system time back"
## Bug Report

AskTUG link: https://asktug.com/t/topic/67390

### What version of TiKV are you using?

v4.0.9

### What operating system and CPU are you using?

### Steps to reproduce

The ntp service changed the system time back.

### What did you expect?

### What did happened?
TiKV panicked

![image](https://user-images.githubusercontent.com/12085878/103333250-435c0f80-4aa8-11eb-9888-bae7794785

[2020-12-30 06:18] hicqu commented on #9324
Closed by https://github.com/tikv/tikv/pull/9321.

[2020-12-30 06:18] #9324 closed

[2020-12-30 06:19] #6400 closed

[2020-12-30 06:20] hicqu commented on #9230
Closed by https://github.com/tikv/tikv/pull/9386.

[2020-12-30 08:07] gengliqi opened #9395 "Wrong available space calculation"
## Bug Report

### What version of TiKV are you using?
3.0, 3.1, 4.0, master

### What operating system and CPU are you using?
doesn't matter

### Steps to reproduce
The available space which TiKV calculates is wrong.

### What did you expect?
Make it right.

Since linux will reserve some space to avoid filesystem fragmentation(default 5%), we should calculate available space by using the `availab

[2020-12-30 10:28] kennytm opened #9398 "Review use of Mutex and RwLock inside async context"
## Development Task

https://github.com/tikv/tikv/pull/9394#pullrequestreview-559948220

TiKV uses async/await (futures) and simultaneously std Mutex/RwLock. If we hold a lock across await points, it will cause a deadlock. And if we hold a lock for a very long time it will significantly reduce concurrency the thread cannot be yielded back to be executor.

The deadlock error can be detected by enab

[2020-12-30 12:01] hicqu commented on #9231
Closed by #9379 .

[2020-12-30 12:18] sre-bot opened #9399 "cases::test_merge::test_node_merge_transfer_leader failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/39263/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/39263/display/redirect</a>

[2020-12-30 12:18] sre-bot opened #9400 "cases::test_merge::test_node_merge_reject_request_snapshot failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/39287/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/39287/display/redirect</a>

[2020-12-30 12:18] sre-bot opened #9401 "cases::test_merge::test_node_merge_reject_request_snapshot failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/39287/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/39287/display/redirect</a>

[2020-12-30 12:18] sre-bot opened #9402 "cases::test_merge::test_node_merge_crash_when_snapshot failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/39212/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/39212/display/redirect</a>

[2020-12-30 12:18] sre-bot opened #9403 "cases::test_replica_read::test_new_split_learner_can_not_find_leader failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/39270/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/39270/display/redirect</a>

[2020-12-30 12:18] sre-bot opened #9404 "metrics::threads_linux::tests::test_thread_io_statistics failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/39097/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/39097/display/redirect</a>

[2020-12-30 12:18] sre-bot opened #9405 "store::worker::split_controller::tests::test_hub failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/39215/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/39215/display/redirect</a>

[2020-12-30 12:20] KivenChen commented on #9400
This one checks to be a duplicate. Just close it.

[2020-12-31 02:18] brson opened #9406 "Many crates in workspace no longer build on their own"
PR https://github.com/tikv/tikv/pull/9358 changed cargo to use `resolver = 2`, which is described [here](https://doc.rust-lang.org/cargo/reference/unstable.html#resolver).

This changes, among other things, feature resolution to be based on the crates selected to build/check, instead of the workspace crate. After this change, building many crates results in the appropriate protobuf-codec/prost-cod

[2020-12-31 02:23] brson commented on #9406
The `test-engines-rocksdb`/`test-engines-panic` features have a similar problem, though it's not as bad since these aren't as widespread throughout the tree.

[2020-12-31 03:05] AndreMouche commented on #8862
/pick-up

[2020-12-31 03:31] cyliu0 opened #9407 "tikv w/ 8GB mem OOM while lightning importing"
## Bug Report

### What version of TiKV are you using?

[code]

### What operating system and CPU are you using?

Ubuntu 18.04 inside container
[code]

### Steps to reproduce

Importing 2TB data w/ lightning

### What did you expect?
Lightning successfully

### What did happened?
TiKV crashed and lightning failed w/ error 'tikv server timeout'

[2020-12-31 03:32] cyliu0 commented on #9407
/assign @Little-Wallace

[2020-12-31 04:56] #9388 closed

[2020-12-31 05:17] breeswish opened #9411 "Security check doesn't work in MacOS"
## Bug Report

### What version of TiKV are you using?

master

### What operating system and CPU are you using?

MacOS

### Steps to reproduce

[code]

### What did happened?

[code]

Clearly the grep of the security check does not work in MacOS. And it correctly reports security check pass incorrectly as well.

[2020-12-31 05:57] hicqu commented on #9399
Closed by https://github.com/tikv/tikv/pull/9393.

[2020-12-31 05:57] #9399 closed

[2020-12-31 05:57] hicqu commented on #9401
Closed by #9393.

[2020-12-31 05:57] #9401 closed

[2020-12-31 06:37] skyzh commented on #9411
@gregwebs is already working on this in #9377

[2021-01-01 05:34] brson commented on #9406
The change to resolver 2 also caused a number of crates to stop building on their own under `cargo test`. I'm trying to fix all these cases so that every crate builds under all feature configurations.

[2021-01-04 00:29] slow-zhang opened #9416 "Can tikv reduce read consistency"
## Question
I want to ask if there are any parameters in tikv that can adjust the read consistency?
Our current scenario does not require linear consistency, we want to improve read performance.

My idea is to get a read bypass the raft directly read rocksdb.

I use raw kv API in a tikv+pd system.

[2021-01-04 06:25] BusyJay commented on #9113
We have verify the new latch algorithm is very unlikely to cause conflict, so I  lower the severity of the issue.

[2021-01-04 06:25] yiwu-arbug commented on #5209
Tested on macos 11.1, clang 12.0.0 with current master 60f3c51fb and the `cargo bench` command succeeded. I added `protobuf-codec`, `test-engines-rocksdb` features due to recent changes. Full command:
[code]
In particular the `raftstore::store::fsm::router::tests::bench_send` does not exists in current master.

[2021-01-04 07:03] yiwu-arbug commented on #5209
The `bench_send` bench is under component/batch-system now. I'll try to run it on Mac.

[2021-01-04 07:11] BusyJay commented on #8359
Can't reproduce on my machine, and it seems no new failure occurs. Close it for now.

[2021-01-04 07:11] #8359 closed

[2021-01-04 07:20] BusyJay commented on #7212
Can't reproduce on my local machine, and it seems no new failure occurs, close it for now.

[2021-01-04 07:20] #7212 closed

[2021-01-04 07:30] BusyJay commented on #7213
Can't reproduce on my local machine, and there seems to be no new failure, close it for now.

[2021-01-04 07:30] #7213 closed

[2021-01-04 08:35] BusyJay commented on #7247
Can't reproduce on my local machine and there doesn't seem to have new failure, close it for now.

[2021-01-04 08:35] #7247 closed

[2021-01-04 08:36] sre-bot opened #9423 "raftstore::test_merge::test_merge_isolated_store_with_no_target_peer failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/39677/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/39677/display/redirect</a>

[2021-01-04 08:45] BusyJay commented on #7263
Can't reproduce on my local machine and there is no new failure anymore, close it for now.

[2021-01-04 08:45] #7263 closed

[2021-01-04 08:57] BusyJay commented on #7280
Can't reproduce on my local machine and there seems to be no new failure, close it for now.

[2021-01-04 08:57] #7280 closed

[2021-01-04 09:19] #9115 closed

[2021-01-04 09:27] BusyJay commented on #8544
Can't reproduce on my local machine and there seems to be no new failure, close it for now.

[2021-01-04 09:27] #8544 closed

[2021-01-04 09:58] BusyJay commented on #8327
Can't reproduce on my local machine and there seems to be no new failure, close it for now.

[2021-01-04 09:58] #8327 closed

[2021-01-04 10:59] sre-bot opened #9426 "[json_gcol]:a failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_integration_common_test/30701/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_integration_common_test/30701/display/redirect</a>

[2021-01-04 11:15] sre-bot opened #9427 "[json_gcol]:a failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_integration_common_test/30701/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_integration_common_test/30701/display/redirect</a>

[2021-01-04 12:19] 5kbpers opened #9429 "Files did not purged after `DeleteFilesInRanges`"
## Bug Report

### What version of TiKV are you using?

[code]

### Steps to reproduce

Run a cluster with three tikv nodes:
1. Add a node to the cluster
2. Choose one store, migrate its regions to the new store

### What did you expect?

The disk space should be reclaimed very fast.

### What did happened?

![image](https://user-images.githubusercontent.com/20279863/103534144-4c464a00-4ec9-11eb-8

[2021-01-04 12:20] 5kbpers commented on #9429
@Connor1996 @yiwu-arbug PTAL

[2021-01-05 00:47] #9411 closed

[2021-01-05 01:04] yiwu-arbug commented on #5209
The `bench_send` bench does build and run on Mac with current master. I'll send a PR to fix the build when building the `batch-system` crate alone.
<img width="715" alt="WeChatWorkScreenshot_5f9b64de-7086-40ba-aec9-58716d6d1d61" src="https://user-images.githubusercontent.com/2606959/103594906-d59c5300-4eae-11eb-8401-cecbd0db9a23.png">

[2021-01-05 01:51] Win-Man commented on #9392
/label type/bug

[2021-01-05 04:03] slow-zhang commented on #9416
@sre-bot

[2021-01-05 04:03] slow-zhang commented on #9416
/sign

[2021-01-05 07:41] lhy1024 commented on #9392
/assign

[2021-01-05 10:05] sre-bot opened #9439 "test_backup::test_backup_meta failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/39821/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/39821/display/redirect</a>

[2021-01-05 11:57] #9070 closed

[2021-01-05 12:47] tennix opened #9442 "docker build failed"
## Bug Report

### What version of TiKV are you using?

master version

### What operating system and CPU are you using?

macOS

### Steps to reproduce

Build docker image with the `Dockerfile` in this repo: `docker build -t tikv .`

### What did you expect?

A tikv docker image built with the above command

### What did happened?

[code]

[2021-01-06 02:15] #5209 closed

[2021-01-06 08:18] hicqu commented on #9311
Closed by https://github.com/tikv/tikv/pull/9419

[2021-01-06 08:18] #9311 closed

[2021-01-06 09:25] andylokandy opened #9444 "make doc is broken"
## Bug Report

### What version of TiKV are you using?

master

### Steps to reproduce

`make doc`

### What did happened?

[code]

[2021-01-06 09:27] sre-bot opened #9445 "raftstore::test_joint_consensus::test_restart_in_joint_state failed"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/39932/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/39932/display/redirect</a>

[2021-01-06 11:45] #9144 closed

[2021-01-06 22:24] sre-bot opened #9450 "Case failurestorage::test_raft_storage::test_auto_gc"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/39974/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/39974/display/redirect</a>

[2021-01-06 22:24] sre-bot opened #9451 "Case failureserver::gc_worker::test_applied_lock_collector"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/39973/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/39973/display/redirect</a>

[2021-01-07 00:24] sre-bot opened #9452 "Case failurecases::test_snap::test_server_snapshot_on_resolve_failure"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/39981/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/39981/display/redirect</a>

[2021-01-07 06:42] sre-bot opened #9456 "Case failurecases::test_split_region::test_split_lost_request_vote"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/40016/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/40016/display/redirect</a>

[2021-01-07 10:38] sre-bot opened #9457 "Case failurefile::tests::test_instrumented_file"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/40028/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/40028/display/redirect</a>

[2021-01-07 15:38] sre-bot opened #9459 "Case failurecases::test_pending_peers::test_pending_snapshot"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/40042/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/40042/display/redirect</a>

[2021-01-07 15:45] gengliqi commented on #9313
close due to https://github.com/tikv/tikv/pull/9447

[2021-01-07 15:45] #9313 closed

[2021-01-08 00:05] #9406 closed

[2021-01-08 01:38] sre-bot opened #9460 "Case failuretest_cdc::test_old_value_basic"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/40085/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/40085/display/redirect</a>

[2021-01-08 03:38] sre-bot opened #9461 "Case failureraftstore::test_region_heartbeat::test_server_down_peers_with_hibernate_regions"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/40088/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/40088/display/redirect</a>

[2021-01-08 06:26] youjiali1995 opened #9462 "Reduce tasks spawned to the scheduler worker pool"
## Development Task
A command has to wait for a available scheduler worker thread at least 2 times: one is from gRPC threads to the scheduler worker pool when the snapshot of the engine is ready; The other is from apply pool to the scheduler worker pool when data is written to the raft store. If the scheduler worker pool is busy, we may experience noticeable latency of it.

TPCC workload
![image](

[2021-01-08 07:04] kennytm commented on #9331
For backup after #9283, the predictable memory usage by backup should be no more than (backup.num-threads × backup.sst-max-size), initialized to (CPU count × 0.75 × 144 MiB) = (CPU count × 108 MiB). So I think a memory quota for backup is not needed.

[2021-01-08 07:42] overvenus opened #9463 "Blocking PD leader update leads to gRPC keepalive watchdog fire and disrupts online service"
## Bug Report

pingcap/br#671 reports restore fails due to gRPC keepalive watchdog fire. This is because gRPC threads in TiKV is blocked for a long time (17s > keepalive).

[code]

This is likely caused by

https://github.com/tikv/tikv/blob/55156a210593c4f163779959efb83a197554d9bf/components/pd_client/src/util.rs#L170-L215

### What version of TiKV are you using?

release-5.0-rc branch

### Steps

[2021-01-08 09:54] tennix opened #9464 "BR full backup failed when tikv running with 2G memory"
## Bug Report

### What version of TiKV are you using?

v4.0.9
### What operating system and CPU are you using?

Running TiKV on k8s cluster, the node is GCP n1-standard-1 instance type, the tikv-server can use less than 2G memory.

### Steps to reproduce

Run daily backup on DBaaS with about 100GiB data.

### What did you expect?

BR full backup succeed.

### What did happened?
<img width="1539"

[2021-01-08 09:56] SunRunAway commented on #9464
@shuke987

As we talked before, should it be a critical bug because it makes tikv-server crash?

[2021-01-08 11:43] hunterlxt opened #9466 "Performance decline in TPCC bench due to the absence of GC"
## Bug Report

### What version of TiKV are you using?

master 7757bd416b5f087f8a67bb02fd827feb78376aa6

### What operating system and CPU are you using?

CentOS 3.10.0-1127.13.1.el7.x86_64

### Steps to reproduce

[code]

### What did you expect?
Stable QPS

### What did happened?
Declining QPS

### Supplement
I found that `next` operation increased in `acquire_pessimistic_lock` which means there

[2021-01-08 12:17] MyonKeminta commented on #9466
According to the metrics, GC normally proceeds to the final distributed GC phase (compaction filter is not enabled).

![image](https://user-images.githubusercontent.com/9948422/104014505-1917f980-51ee-11eb-93d5-6cb1f689b5c2.png)

Then according to the log, auto gc founds no regions in the store.

[code]

Something went wrong about the region_info_accessor, or the gc_worker's region querying logic.

[2021-01-08 15:07] NingLin-P opened #9469 "raftstore: the invalid read delegates in local reader may not be removed forever"
## Bug Report

Although https://github.com/tikv/tikv/pull/4765 introduce the `invalid` flag to remove the invalid `ReadDelegate`s on `LocalReader`, but the flag only be checked when handling a request to the `ReadDelegate`, if the `ReadDelegate` is marked as invalid and no incoming request to it, the `ReadDelegate` not be removed and consuming memory.

Although `mem::size_of::<ReadDelegate>()` is

[2021-01-08 15:08] NingLin-P commented on #9469
PTAL @hicqu @BusyJay

[2021-01-08 15:38] sre-bot opened #9470 "Case failurecases::test_pd_client::test_pd_client_deadlock"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/40121/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/40121/display/redirect</a>

[2021-01-08 18:21] BusyJay commented on #9469
Perhaps it can also use `LruCache` instead of `HashMap` to maintain a reasonable size.

[2021-01-09 00:38] sre-bot opened #9471 "Case failureraftstore::test_conf_change::test_server_transfer_leader_safe"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/40156/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/40156/display/redirect</a>

[2021-01-09 01:38] sre-bot opened #9472 "Case failureimport::test_sst_service::test_ingest_sst"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/40157/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/40157/display/redirect</a>

[2021-01-09 07:39] sre-bot opened #9473 "Case failureimpl_like::tests::test_regexp"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/40162/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/40162/display/redirect</a>

[2021-01-09 09:39] sre-bot opened #9475 "Case failureraftstore::test_merge::test_merge_isolated_store_with_no_target_peer"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/40166/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/40166/display/redirect</a>

[2021-01-09 10:55] #9463 closed

[2021-01-10 04:39] sre-bot opened #9478 "Case failureimpl_time::tests::test_week_without_mode"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/40207/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/40207/display/redirect</a>

[2021-01-10 04:39] sre-bot opened #9479 "Case failureimpl_time::tests::test_week_with_mode"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/40206/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/40206/display/redirect</a>

[2021-01-10 17:01] brson opened #9480 "Refactor storage::kv to reduce abstraction duplication"
This module contains its own traits that define the properties of a key-value store. These traits mostly duplicate engine_traits, while also introducing a few other capabilities, while also leaking details of rocksdb. I'm finding this module to be troublesome as I look for more opportunities to remove rocksdb-specifics from the tikv crate, and think it could use some cleanup.

I propose changing t

[2021-01-10 17:09] brson commented on #9480
Some obvious followups:

- Move btree_engine to its own crate, implementing engine_traits
- Same for mock_engine
- Delete the rocks_engine implementation inside tikv

Any kv engine abstractions within tikv should depend only on engine_traits.

[2021-01-10 17:11] brson commented on #9480
It might be easier to _start_ by moving btree_engine and mock_engine into their own crates.

[2021-01-10 17:56] brson opened #9481 "engine_traits: merge Mutable trait with WriteBatch"
This trait has drastically changed over time and now is just a bunch of WriteBatch-specific methods. Rename `SyncMutable` to `Mutable`.

cc https://github.com/tikv/tikv/issues/6402

[2021-01-10 17:57] brson commented on #6402
I've updated the op to drastically simplify the remaining task list

[2021-01-10 20:14] brson commented on #9481
It also _might_ be worth keeping the Mutable trait, with just the mutation methods that SyncMutable has, if just for the aesthetic similarity between the two.

[2021-01-10 21:39] sre-bot opened #9483 "Case failurecases::test_merge::test_node_merge_catch_up_logs_no_need"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/40239/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/40239/display/redirect</a>

[2021-01-11 00:39] sre-bot opened #9484 "Case failureraftstore::test_region_heartbeat::test_region_heartbeat_timestamp"
Latest build: <a href="https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/40248/display/redirect">https://internal.pingcap.net/idc-jenkins/job/tikv_ghpr_test/40248/display/redirect</a>

[2021-01-11 02:04] Win-Man commented on #9416
/label type/question

[2021-01-11 02:44] yiwu-arbug commented on #9416
TiKV provides snapshot isolation, and the consistency level is not changeable. AFAIK it utilize lease read so only a small number of read requests has to go through raft. Hope that answers your question.

[2021-01-11 04:08] shuke987 commented on #9464
/severity critical

[2021-01-11 04:13] SunRunAway commented on #9464
/label bug

[2021-01-11 04:34] shuke987 commented on #9464
/type bug

[2021-01-11 08:43] #8724 closed

[2021-01-11 10:11] MyonKeminta commented on #9466
#9350 moves the `AutoGCConfig` creation before node starting, and the `store_id` is invalid (0) at that time. `GCManager` checks the region's peers by store_id, and it always fail. So no region will be GC-ed.

[2021-01-11 11:14] #9466 closed

[2021-01-12 03:11] aylei opened #9488 "TiKV crashes continuously if access AWS KMS failed at the first time"
## Bug Report

### What version of TiKV are you using?

`v4.0.9`

Note: `v4.0.8` does not have this issue

### What operating system and CPU are you using?

CentOS 7

### Steps to reproduce

1. Configure TiKV to use TDE with AWS KMS
2. Run TiKV with no AWS credentials
3. TiKV crashes
4. Restart TiKV with proper credentials
5. TiKV will still crash
6. Remove the empty `dict` and `key*..tmp` files
7

[2021-01-12 03:14] overvenus commented on #8768
After upgrading rusoto from 0.44 to 0.45, there is no more issue report, closed. Feel free to reopen if it occurs again.

[2021-01-12 03:14] #8768 closed

[2021-01-12 03:33] aylei commented on #9488
cc @SunRunAway

[2021-01-12 08:04] overvenus commented on #3831
Can not reproduce on master branch (tested 2077 times), closed. Feel free to reopen if it occurs again.

[2021-01-12 08:04] #3831 closed

[2021-01-12 12:20] overvenus commented on #2649
Can't reproduce (tested 7783 times), closed. Feel free to reopen, if it occurs again.

[2021-01-12 12:20] #2649 closed

[2021-01-12 15:21] gregwebs commented on #9488
I cannot reproduce with the file backend. I will try with KMS now.

[2021-01-13 01:13] gregwebs commented on #9488
I reproduced this. This is due to a combination of the lazy initialization of the KMS backend and 2 files being created non-atomically. We believe a simple fix is to open the master key first, check the error, and then opening key.dict

[2021-01-13 04:55] hicqu commented on #9429
I had tried to reproduce the situation but failed. My attempt is based on `max-replicas = 1`:
![图片](https://user-images.githubusercontent.com/8407317/104408075-2c381a00-559e-11eb-9376-bc3a4f6f59f5.png)
![图片](https://user-images.githubusercontent.com/8407317/104408096-3e19bd00-559e-11eb-800d-7b82068f5549.png)
The migration started at 19:47 and finished at 19:58. The space recycle was quickly.

Mayb

[2021-01-13 05:40] saresend commented on #9481
Would be interested to take a look if this is available!

[2021-01-13 07:59] Little-Wallace opened #9496 "TiKV panic when Lightning send twice ingest request."
## Bug Report

### What version of TiKV are you using?

master: 1f7f26f6a4b5025e26211b3390c8af4454554641

### What operating system and CPU are you using?

### Steps to reproduce

It may not be easy to reproduce.  I clear data of a Cluster, and try to import data into it with Lightning. Then I found that TiKV panic.

### What did you expect?

### What did happened?
TiKV panic. You can found that t

[2021-01-13 09:00] Connor1996 commented on #9429
I had tried to reproduce it with 1 replica too but failed. From the code level, I don't think it's related to 3 replicas.

[2021-01-14 09:23] #9450 closed

[2021-01-14 09:23] youjiali1995 commented on #9450
Fixed by https://github.com/tikv/tikv/pull/9386, https://github.com/tikv/tikv/pull/9420. Failures above are due to stale branch.

[2021-01-14 15:43] BusyJay opened #9505 "Leader can be missing for a long time when joint consensus and hibernate regions are both enabled"
## Feature Request

### Is your feature request related to a problem? Please describe:

Joint consensus can make a leader step down as a learner during conf change. And if hibernate region is enabled, the leader steps down, there can be a long time that there is no leader in the region until requests are sent to followers or hibernate timeout. It's expected client should try other peers when hiber

[2021-01-14 16:08] BusyJay commented on #9505
Or we can also make learner broadcast wakeup if it still doesn't know who is leader after election timeout.

[2021-01-14 16:17] #8783 closed

[2021-01-14 22:35] brson commented on #9481
@saresend yes please. For now I'd suggest moving all the write-batch specific methods into WriteBatch while leaving the Mutable trait there, mirroring the SyncMutable trait.

I'm still unsure about what to do with the Mutable/SyncMutable traits.

[2021-01-14 23:44] brson commented on #9480
This module uses very few other tikv modules, so once it is sufficiently cleaned up and minimized, it may be able to live in its own crate, maybe `tikv_kv_store`. Right now it doesn't look to me that it will be appropriate to completely merge this module into `engine_traits`, but it's hard to predict. I think this module can be cleaned up in many small ways.

[2021-01-15 00:33] brson opened #9508 "Extract tikv::storage::kv to its own crate"
## Development Task

- cc https://github.com/tikv/tikv/issues/9480
- cc https://github.com/tikv/tikv/issues/6402

This module defines the kv abstraction used within the tikv crate and parts of its test suite. This abstraction is yet different from engine_traits and raft_engine, and leaks details of both, and of rocksdb, and of its own btree_engine and mock_engine.

Many aspects of this module are

[2021-01-15 00:33] brson commented on #9508
I have started a patch for this.

[2021-01-15 06:05] #9451 closed

[2021-01-16 04:44] aylei opened #9512 "TiKV panics on lldb attach"
## Bug Report

More details to be added

### What version of TiKV are you using?

### What operating system and CPU are you using?

### Steps to reproduce

### What did you expect?

### What did happened?

[2021-01-16 12:18] 5kbpers opened #9513 "`validate_endpoints` does not check `leader` field of `GetMembersResponse`"
## Bug Report

### What version of TiKV are you using?

nightly

### What did happened?
During the initialization of TiKV, it will check pd connection in `validate_endpoints` with following steps:
1. call `get_members` for all pd endpoints
2. Use the leader information in the first `GetMembersResponse` to connect leader
By default the retry time is unlimited. Sometimes the response may not contain

[2021-01-18 07:35] BusyJay opened #9517 "Local reader delegate keeps stale ID"
## Bug Report

### What version of TiKV are you using?
Nightly 95951d04e6e8c0bb267c6a5591fb336ed5483b41

### Steps to reproduce
Deploy a cluster with at least four TiKV nodes and enable shuffle scheduling.
Kill a node randomly and check if all tables can be accessed and then restart it.

### What did you expect?
The operation can be repeated infinitely.

### What did happened?
TiDB keeps failing w

[2021-01-18 08:14] BusyJay commented on #9517
From logs, 4513038 has applied snapshot twice. It's possible that after first snapshot, read delegate is initialized and saved into local readers. The second snapshot creates a new read delegate and replace the first one directly without any notification. If there is no read requests until configuration changes, local readers have no chance to detect the delegate is stale, hence no chance to clean

[2021-01-18 08:21] slow-zhang commented on #9416
Thanks, this is very helpful.

[2021-01-18 08:21] #9416 closed

[2021-01-18 08:36] BusyJay opened #9518 "Follower read statistics should also be considered in PD scheduling"
## Feature Request

TiKV reports read statistics by region heartbeat, which is only reported by leader. After introducing replica reads, read statistics in replica can't be reported to PD in current mechanism, so workload can be imbalanced. We can decouple the statistics report from region heartbeat by using a separate message, so that every replica can report read flows in need. This can cause tr

[2021-01-18 09:14] #9395 closed

[2021-01-18 11:01] nolouch commented on #9518
Yes!! we need to consider the follower read. moreover, the tiflash may also need to do that(https://github.com/tikv/pd/issues/3261).

[2021-01-18 11:07] nolouch commented on #9513
there are three members, named pd0,pd1, pd2. and the pd0 is leader, pd1 is unhealth, which means pd1 may not know the leader. the TiKV start with endpoints="pd0,pd1,pd2", which may cause cannot connect to PD forever because cannot know the leader of pd members.
![image](https://user-images.githubusercontent.com/6428910/104907611-5172c100-59c0-11eb-9e37-eb9848946cb4.png)

[2021-01-18 12:24] shuijing198799 opened #9520 "BR will lead to the emergence of big regions with version v4.0.9"
## Bug Report

### What version of TiKV are you using?

TiKV
[code]
BR
[code]
### What operating system and CPU are you using?

### Steps to reproduce

Prepare some data to the tidb cluster
use BR to backup
### What did you expect?
tikv region will keep in a stable status, and use limited memory
### What did happened?
region decrease dramatically and tikv OOM

When the backup started, the region d

[2021-01-19 03:24] overvenus commented on #9520
This is caused by missing region approximate size/keys after restoration, it is resolved by https://github.com/pingcap/br/pull/702 .

[2021-01-19 06:11] tennix commented on #9520
/cc @SunRunAway

[2021-01-19 08:06] sticnarf opened #9523 "Resolved TS is not updated with async commit transactions"
### What version of TiKV are you using?

Master (35c66d38ff8180f3652643e35575590d9ab57fc1)

### Steps to reproduce

Enable failpoints in TiDB (with unmerged https://github.com/pingcap/tidb/pull/22431):

[code]

Set the interval of updating PD physical TS to 2s.

Run tipocket/pbank with async commit and 1PC enabled:

[code]

### What did you expect?

CDC works well.

### What did happened?

From th

[2021-01-19 08:08] sticnarf commented on #9523
cc @MyonKeminta @youjiali1995

[2021-01-19 10:07] BusyJay commented on #8184
The problem may not exist.

Because we don't allow a leader to remove itself, so the command must be proposed by leaders at previous terms. When a peer finds itself is removed, it will skip applying any further logs.

https://github.com/tikv/tikv/blob/35c66d38ff8180f3652643e35575590d9ab57fc1/components/raftstore/src/store/fsm/apply.rs#L829-L833

So it will not apply any proposals even they are com

[2021-01-19 10:33] BusyJay opened #9526 "incompatibility between gc and async commit"
## Bug Report

Because min_commit_ts is not updated for resolving locks in gc, so async commit may commit a transaction using a ts smaller than safe ts, which is dangerous and can break transaction easily.

[2021-01-19 10:34] BusyJay commented on #9526
The issue exists in both traditional gc and green gc.

[2021-01-19 13:26] NingLin-P commented on #8184
When `raftstore.allow_remove_leader` (default `false`) set to `true`, a leader can propose a `confchane` to remove itself.

[2021-01-20 03:12] sticnarf commented on #9523
When doing an unprotected rollback and there is already a write record with the same commit TS, we don't write any write record:
https://github.com/tikv/tikv/blob/7b057aa9bdc0b1c18d4d8a90fd731f461105e62e/src/storage/mvcc/txn.rs#L35

And CDC now only untracks locks according to writes.

[2021-01-20 05:03] youjiali1995 commented on #9523
Good catch! Can CDC untrack locks according to deleting locks too? I'm afraid the assumption that every lock deletion has a corresponding write can't hold. @overvenus

[2021-01-20 06:16] sticnarf commented on #9523
I tried but found it not so easy. The locks are managed by start_ts. However, when deleting a lock, we have no information about the deleted lock. So we cannot find the lock by start_ts and untrack it.

[2021-01-20 06:26] MyonKeminta commented on #9523
cc @5kbpers

[2021-01-20 06:46] sticnarf commented on #9523
I talked with @5kbpers and conclude there are two solutions.

1. As a simple fix for this issue, we can remove the optimization. Always write an overlapped rollback no matter if it is protected. Then, CDC can track such a rollback.

2. If we do not want such a constraint of transactions, we can add another data structure to the resolver to track locks by key. Then, we can let the resolver find the

[2021-01-20 08:00] hicqu commented on #9351
Can it be closed now?

[2021-01-20 08:15] BusyJay commented on #9351
Why? The API still exists and it can return wrong result.

[2021-01-20 08:15] BusyJay commented on #8184
Indeed, I will send a PR to remove the configuration.

[2021-01-20 08:41] #9327 closed

[2021-01-20 09:53] gengliqi commented on #8184
I find green gc can miss data in another situation below.
1. a leader applies a raft log and responses to the client
2. TiKV of this leader crashes and restarts, the data may be stale than before because we don't set sync option for applying
3. green gc worker scans all of the peer of this region and misses the data written before

TiKV relies on the guarantee that a leader of region can be read a

[2021-01-20 10:00] Yisaer commented on #9513
/assign

[2021-01-20 10:21] Connor1996 commented on #9044
Encounter again
![image](https://user-images.githubusercontent.com/13497871/105161278-274e0a00-5b4c-11eb-9a2a-f580dc71734d.png)
It is due to the region worker is running in background pool too which may trigger manual flush by ingest-delete
![image](https://user-images.githubusercontent.com/13497871/105161294-2ddc8180-5b4c-11eb-92c7-e5b9e4c47b21.png)

[2021-01-20 11:17] hicqu commented on #9391
It's expected because `Keys flow` in `RocksDB-kv` contains all CFs. Generally a kv_get command will access `write` CF and `default` CF one time. So It's about double of `kv_get` command count.

[2021-01-20 11:17] #9391 closed

[2021-01-20 12:20] breeswish opened #9532 "TiKV reported memory is wrong"
## Bug Report

### What version of TiKV are you using?

v4.0.9

### What operating system and CPU are you using?

CentOS + tidb-operator.

### Steps to reproduce

Open TiDB Dashboard.

### What did you expect?

Memory usage should be <= 100%.

### What did happened?

We expect memory usage > 100%.

![image](https://user-images.githubusercontent.com/1916485/105173986-cd097500-5b5c-11eb-8dc9-edd70f9

[2021-01-20 12:21] breeswish commented on #9532
@zhongzc PTAL

[2021-01-20 12:22] breeswish commented on #9532
Additionally it might be better that we can display a container usage / capacity in this page. @crazycs520 What do you think

[2021-01-20 15:53] #9517 closed

[2021-01-21 01:23] yiwu-arbug commented on #9044
I will work on a fix.

[2021-01-21 02:47] cfzjywxk commented on #9113
@youjiali1995 @BusyJay
Maybe we should change the severity to `major` as some customer have encountered such issues in which raftstore get stuck and the `pending write bytes` is always at a high value exceeding the rate limit value.

[2021-01-21 02:55] csuzhangxc opened #9535 "mesleading "No such file or directory" fatal when allocating reserve space failed"
## Bug Report

### What version of TiKV are you using?

v4.0.9

### What operating system and CPU are you using?

in K8s

### Steps to reproduce

run TiKV in a Pod without enough space for the `space_placeholder_file`.

### What did you expect?

report an error with `no space left` or a similar message.

### What did happened?

[code]

[2021-01-21 03:29] BusyJay commented on #9113
What's the TiKV version?

[2021-01-21 03:37] cfzjywxk commented on #9113
v5.0-rc, the deadlock [issue](https://github.com/tikv/tikv/issues/9044) is encoutered. RaftStore threads get stuck because of the deadlock or the lost of the majority of repicas on the stucked tikv nodes, these tikv nodes could not continue to work.

[2021-01-21 07:14] zhongzc commented on #9532
I will try to fix it. Just make memory usage cgroup-aware.

[2021-01-21 07:45] #9505 closed

[2021-01-21 07:56] breeswish commented on #9532
@zhongzc I would recommend two steps:

Step1. Display host memory capacity as a hot fix. Only 1 LOC change.
Step2. Change TiDB, TiKV and TiFlash, to report cgroup-aware memory, CPU and disk. This might be a big project..

[2021-01-21 08:13] #9392 closed

[2021-01-21 10:02] shuijing198799 commented on #9520
with PR https://github.com/pingcap/br/pull/702 the region decrease is imporve and momory used like below
![image](https://user-images.githubusercontent.com/30903849/105335258-cd644780-5c12-11eb-8087-de85f962f69b.png)

[2021-01-21 10:02] #9520 closed

[2021-01-21 12:01] 3pointer opened #9538 "heap pprof failed"
## Bug Report

### What version of TiKV are you using?

v4.0.10

### What operating system and CPU are you using?

### Steps to reproduce

1. `tiup playground v4.0.10`
2. `curl -H "Content-Type: application/protobuf" "http://127.0.0.1:20180/debug/pprof/heap?seconds=5&frequency=50"`
### What did you expect?
heap pprof success.

### What did happened?
`jemalloc error failed to dump the profile to "/

[2021-01-21 12:27] zhongzc commented on #9532
### Environment

- All conponents in one container
- Host memory capacity: 16G
- Container memory capacity: 8G

### Happened

[code]

### Summary

|         | Memory Free    | Memory Capacity | Memory Usage |
| ------- | -------------- | --------------- | ------------ |
| TiDB    | Host Available | Host            | Host         |
| TiKV    | Host Free      | Container       | Host         |
| TiF

[2021-01-21 14:22] NingLin-P commented on #9469
`LruCache` only remove one item each time when its capacity is full.  As TiKV run long enough, the capacity we set to `LruCache` will full and after that it may bring extract cost when handling request for a delegate not in the cache.

I think it may better to keep an unlimited `HashMap` and when we need insert new delegate to `LocalReader`, check `delegates.len() > store_meta.readers.len() * 1.5`

[2021-01-21 15:46] BusyJay commented on #9469
What's the extract cost comparing to a `HashMap` and a for loop?

[2021-01-21 16:59] NingLin-P commented on #9469
A `LruCache`'s capacity is limited, after it is full, every `insert` comes with a `remove`. With the approach mentioned above, we only need to clear invalid `delegate` when we know there has a large amount of invalid `delegate`, it should not be frequent and will be efficient, also prevent the `HashMap` grow unlimitedly.

[2021-01-21 17:13] NingLin-P commented on #3572
This forbids is not enough, if PD adds a new peer as voter (it is allowed currently, and use by a lot of tests) this issue can still happen. Maybe an uninitialized voter should just ignore vote request, this is intuitive, since the voter can not persist its vote, it should not vote at all. But this also means a voter won't vote for election and log replication until it is initialized. /cc @gengliq

[2021-01-21 17:14] hunterlxt opened #9541 "TiKV cannot send KMS request"
## Bug Report

### What version of TiKV are you using?
master

### What operating system and CPU are you using?
ubuntu 20.04

### Steps to reproduce
1. set up kms server such as localstack (https://github.com/localstack/localstack.git)
2. create tikv config
[code]
3. try to run pd-server and tikv-server
[code]
4. view the tikv.log and found kms request error due to timeout.

### What did you expec

[2021-01-21 17:16] hunterlxt commented on #9541
@gregwebs I tested using a real KMS key, maybe something is wrong with my steps

[2021-01-21 22:27] yiwu-arbug commented on #8635
Changing the scope of this task for RocksDB part only. Titan task is tracked separately with https://github.com/tikv/tikv/issues/5743

[2021-01-22 02:27] gengliqi commented on #3572
It is enough.
If PD wants to directly add a new peer as a voter, the leader must prevent it.
For tests, I suggest changing all adding voters to 2 steps, i.e. adding a learner then promoting it to a voter.
If a voter can ignore vote request, the available issue will happen even when the majority of peers are alive.

[2021-01-22 05:53] #9496 closed

[2021-01-22 06:18] #6711 closed

[2021-01-22 06:35] Connor1996 opened #9547 "Some rest works of iosnoop"
- [ ] Investigate the reason for inaccuracy between the overall iosnoop stats with disk bandwidth metrics

![image](https://user-images.githubusercontent.com/13497871/105454468-e0335680-5cbc-11eb-9e0c-11cfaa5ecab3.png)
![image](https://user-images.githubusercontent.com/13497871/105454479-e45f7400-5cbc-11eb-8bb6-17d24efc71d8.png)

- [ ] Check and clean leaked kprobe on starting. Though the kprobe w

[2021-01-22 07:11] BusyJay commented on #3572
Force using learner before adding voter LGTM, we have always followed the `learner -> voter` procedure for quite a long time.

It may not be a good idea. For example, we may choose to unsafe remove all content of a corrupted store, which can make a voter back to uninitialized. I suggest not to add the limitation to allow easier recovery in strange case.

[2021-01-22 07:30] NingLin-P commented on #3572
Letting uninitialized voter (which not persist its vote) to vote is the problem here, preventing `confchange` add uninitialized voter may prevent this happend, but if it do happen (as the case @BusyJay mentioned) then the problem still exist.

[2021-01-22 07:35] #9470 closed

[2021-01-22 09:02] BusyJay commented on #3572
Yes, we just need ensure that in all expected cases a voter should not become uninitialized again.

[2021-01-22 09:17] BusyJay commented on #9469
The usage in TiKV usually maintains `LruCache`'s capacity the same as region count. A remove is an `O(1)` operation that only takes several nanoseconds. Removal occurs only when capacity is full and new delegate is inserted. However the time of looping over a HashMap is undetermined. If the count of hashmap exceeds 100000, the time probably can be tens or hundreds of millis.

[2021-01-22 13:28] gregwebs commented on #9541
What does this mean? Was this test successful? Was it against AWS rather than localstack?

I have verified that master works against localstack as per the CONTRIBUTING instructions on both Mac and WSL Ubuntu Linux.

A timeout error means that the KMS endpoint is never reached. Can you add a log statement to log the url that is being used?

[2021-01-23 06:59] amyangfei opened #9551 "TiKV panic in a resolve lock case of TiCDC"
## Bug Report

### What version of TiKV are you using?

[code]

### What operating system and CPU are you using?

### Steps to reproduce

integration test in TiCDC: [ci/job/1920](https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/cdc_ghpr_kafka_integration_test/detail/cdc_ghpr_kafka_integration_test/1920/pipeline)

tikv logs: [tikv_logs.zip](https://github.com/tikv/tikv/files/5859

[2021-01-25 01:25] yiwu-arbug commented on #9044
There are two related issues:
1. RocksDB hold db_mutex when calling user (TiKV) callback to create SST partitioner in `Compaction::IsTrivialMove` in compaction thread, which may block all other compaction and flush threads
2. TiKV region apply and destroy tasks is executed in background_worker pool, and the tasks may wait for flush (in `crocksdb_ingest_external_file_optimized` in rust-rocksdb). Si

[2021-01-25 05:13] #9445 closed

[2021-01-25 06:24] youjiali1995 commented on #8045
According to the benchmark, it's not worthy to implement it now. Even though the latch wait duration is decreased, the storage async write duration is increased because it increases the write load of the raft store which offsets the improvement.
![image](https://user-images.githubusercontent.com/14819777/105668156-bb86eb00-5f17-11eb-85e1-bdd17908d1db.png)
![image](https://user-images.githubusercon

[2021-01-25 07:11] youjiali1995 commented on #8651
It's not a good help-wanted issue. There are 2 big problems:
1. To make the deadlock detector work well during the rolling upgrade, we can't use the new election strategy until all TiKVs in the cluster are upgraded to the new version. It's not easy to achieve and make code uglier even if TiKV supports `FeatureGate`.
2. I can't find a stable etcd-v3 client in rust that supports [`concurrency.Electi

[2021-01-25 07:14] yiwu-arbug commented on #9044
Found something new. There are actually two threads in the background_worker pool. From the stack the other background worker is stuck on resolve address, which is not related to compaction guard logic. If this worker can finish, then region info access will have a chance to run and deadlock would not happen. Still investigating.

<img width="2556" alt="WeChatWorkScreenshot_794e069a-71a3-48f5-8c07

[2021-01-25 07:49] youjiali1995 opened #9555 "TiKV aborts when accesses hardware info"
## Bug Report

### What version of TiKV are you using?

v4.0.10

### What operating system and CPU are you using?

https://asktug.com/t/topic/68102/3. Not known but deployed using docker.

### Steps to reproduce

Access the diagnostic service in TiKV to get the hardware info.

### What did you expect?
TiKV works well.

### What did happened?
TiKV aborts due to stack overflow:
[code]

[2021-01-25 08:17] kennytm opened #9556 "Provide some way to read the hibernate state of a region"
## Feature Request

### Is your feature request related to a problem? Please describe:

Currently there is no way to find out if a region is hibernated or not.

### Describe the feature you'd like:

Expose the `PeerFsm::hibernate_state` content, either through a `tikv-ctl`/`pd-ctl` command or the status API `127.0.0.1:20180/region/id`.

### Describe alternatives you've considered:

Maybe dump othe

[2021-01-25 08:19] kennytm commented on #9556
/project "Hibernate Region Polish"

[2021-01-25 08:24] youjiali1995 commented on #8652
`SingleDelete` has such a constraint:

In TiKV, a key in lock CF may be overwritten multiple times, for example, increasing TTL, updating overlap field. If we want to use it, we need to `SingleDelete` it and then put it to overwrite a key in lock cf.

There is a compatible issue during the rolling upgrade. If a new version TiKV `SingleDelete`s a key and replicates the log to old version replicas,

[2021-01-25 08:58] newHE3DBer opened #9557 "When I compile the tikv master branch, the following error appears"
## Question
tikv master banch, cargo 1.49.0-nightly  ,rustup 1.23.1
When I compile the tikv master branch, the following error appears：
Caused by:
  the `registry.index` config value is no longer supported
  Use `[source]` replacement to alter the default index for crates.io.

[2021-01-25 11:28] gengliqi opened #9561 "Multibatch‘s write efficiency is much worse than unordered write"
## Bug Report

### What version of TiKV are you using?
4.0.8

### What operating system and CPU are you using?
I think it's doesn't matter.

### Steps to reproduce
[code]

[datacreate.tar.gz](https://github.com/tikv/tikv/files/5866193/datacreate.tar.gz)
I use `init_schema.sql` to create table.
Change the IP and port of tidb in `tidb.sh` and run it.

Then I change to use unordered write.
[code]

Th

[2021-01-25 11:40] BusyJay commented on #9557
This should be caused by your local outdated configuration. Please check the file ~/.cargo/config and https://doc.rust-lang.org/cargo/reference/source-replacement.html.

[2021-01-25 12:29] breeswish commented on #9555
Should be fixed by #8796 .

[2021-01-25 12:29] #9555 closed

[2021-01-25 14:11] #9469 closed

[2021-01-26 05:27] hunterlxt commented on #9541
I got the key-id from `https://aws.amazon.com/` and got same error from tikv.log.
I followed your instructions but failed.
curl operations:
[code]
[code]

[2021-01-26 08:13] #9551 closed

[2021-01-26 09:51] newHE3DBer commented on #9557
Can you tell me the version of rust and cargo when compiling tikv in master branch。

[2021-01-26 09:57] newHE3DBer commented on #9557
I configured the file ~/.cargo/config, and then this problem occurred. I suspect that the version of cargo is incompatible with the rust version

[2021-01-26 11:37] BusyJay commented on #9557
The version is written in rust-toolchain in the root of the TiKV source, and will be used by cargo automatically.

[2021-01-26 11:46] TszKitLo40 commented on #8986
Can I try `strcmp` and `strcmp_utf8`?

[2021-01-26 14:17] BusyJay commented on #9113
I'm afraid raftstore can do nothing when it's block by deadlock. Perhaps additional protections need to be added to scheduler layer.

[2021-01-26 17:34] fschoell opened #9573 "Automatically adapt store limits based on load"
## Feature Request

### Is your feature request related to a problem? Please describe:

When our Tikv cluster is under heavy load, adding peers to a store can cause write stalls due to an increasing amount of pending compactions. This usually impacts the performance of the whole cluster.

We solve this by manually setting the add peer limit so the store can continue adding peers while still servin

[2021-01-26 19:28] yiwu-arbug commented on #9561
@gengliqi can you post write batch size and write duration metrics separately? want to see move details of what affects the write efficiency you defined.

[2021-01-26 21:29] yiwu-arbug commented on #9044
It is easy to reproduce when `server.background-thread-count = 1` and reduce RocksDB memtable size (to 128KB) and base level size (to 8KB, a misconfigure by the way, was intended to test with 128KB). RocksDB config change is to trigger compaction and compaction guard creation more often.

But with the default value `server.background-thread-count = 2` we are not reproducing the issue so far.

[2021-01-27 03:04] gengliqi commented on #9561
OK.

## multibatch

### write efficiency: avg write batch size / avg write duration
![image](https://user-images.githubusercontent.com/21253569/105936709-273f9400-608f-11eb-9273-1d867349de49.png)

### avg write batch size
![image](https://user-images.githubusercontent.com/21253569/105936723-2f97cf00-608f-11eb-9e63-8d31acfa7e8f.png)

### avg write duration
![image](https://user-images.githubusercon

[2021-01-27 03:15] #9523 closed

[2021-01-27 04:41] yiwu-arbug commented on #9561
It may be easier to read if metrics are average on a wider time window, but it looks like the write batch size are similar. My wild guess would be multibatch write taking more time on synchronization, but we may need some profiling to see.

[2021-01-27 06:45] gengliqi opened #9579 "The uninitialized voter which comes from splitting may lead to two same-term raft leaders"
## Bug Report

Like #3572 and #8381, there is another case that there may be two same-term leaders.

See this case:
1.  region A has peer 1, 2, 3 on store 1, 2, 3, respectively
2. peer 1 is leader and peer 3 is isolated
3. 1 proposes split cmd and region B is created.
4. 1 proposes two conf change to remove peer 3 and add peer 4
5. peer 3's network recovers and it will get a gc response from 1 or

[2021-01-27 06:51] gengliqi commented on #9579
/cc @BusyJay @NingLin-P

[2021-01-27 07:16] BusyJay commented on #9579
To fix it permanently, maybe we need to store hard state. It may change some assumptions but the change should be small.

[2021-01-27 08:28] yiwu-arbug commented on #9044
Reproduced with `server.background-thread-count = 2`. Both of the background worker calling RocksDB methods, waiting for RocksDB db_mutex, while the compaction thread creating compaction guard waiting in background worker queue, caused deadlock. It is easy to reproduce after running test workload for 2-3 hours. #9552 indeed can fix the case, and we verified with the fix the deadlock does not happe

[2021-01-27 08:28] #9044 closed

[2021-01-27 08:53] youjiali1995 commented on #3378
It still exists. And https://github.com/tikv/tikv/pull/3404 is the simplest way to fix it. Why is it closed? @breeswish

[2021-01-27 12:29] #9556 closed

[2021-01-27 12:33] andylokandy commented on #3035
@vbmade2000 This is already implemented 😆 https://github.com/tikv/tikv/pull/6148

[2021-01-27 12:33] #3035 closed

[2021-01-27 12:50] andylokandy opened #9588 "LFX: Implement Jepsen test for TiKV"
## Description

TiDB has implemented tests with [`Jepsen`](https://github.com/jepsen-io/jepsen), a test framework for distributed systems, to guarantee its correctness. But there are also many TiKV adoptions that are using TiKV without TiDB, which are not covered so well by the Jepsen test for TiDB. Therefore, this program is to build a test framework using Jepsen and Rust client that tests agains

[2021-01-27 12:59] #9532 closed

[2021-01-27 13:38] BusyJay opened #9590 "raft client doesn't recognize tombstone store"
## Bug Report

pd client will filter tombstone store and return error

https://github.com/tikv/tikv/blob/6cd51f9d07aa60fea651dea7ecb6a39c7425273a/components/pd_client/src/client.rs#L343-L347

but raft client depends on the store meta to recognize tombstone store correctly, so it will keep failing.

https://github.com/tikv/tikv/blob/6cd51f9d07aa60fea651dea7ecb6a39c7425273a/src/server/resolve.rs#L10

[2021-01-28 03:51] gengliqi commented on #9561
@yiwu-arbug @Connor1996 @Little-Wallace I test the pipelined write. It seems the multibatch write is a little better than pipelined write.

## pipelined write

### write efficiency: avg write batch size / avg write duration
![image](https://user-images.githubusercontent.com/21253569/106086121-7dc6d400-615c-11eb-912f-9020042d4298.png)

### avg write batch size
![image](https://user-images.githubuse

[2021-01-28 04:04] Connor1996 commented on #9561
It's as expected. So seems the multi-batch works well, it's mainly due to unordered_write has a better write duration which is as expected too.

[2021-01-28 08:37] #9526 closed

[2021-01-29 03:57] yiwu-arbug opened #9601 "Bench and upgrade to zstd 1.4.8"
## Development Task

Zstd introduce performance improvement since 1.4.7. We need to benchmark and upgrade to the latest version: https://github.com/facebook/zstd/releases We are currently on 1.4.4: https://github.com/tikv/rust-rocksdb/blob/master/librocksdb_sys/Cargo.toml#L15

[2021-01-29 06:33] hicqu commented on #9429
Seems the reason is about RocksDB's implementation for `DeleteFilesInRange`.
Here is a code sector about the function:
![图片](https://user-images.githubusercontent.com/8407317/106239988-78da5100-623e-11eb-8330-f310ba46599c.png)

There is an option `delete_obsolete_files_period_micros` for puring obsolete files. The default value is `3600s`. Maybe we can set it to a small value to speed up space rec

[2021-01-29 06:41] Connor1996 commented on #9429
It should be purged in `PurgeObsoleteFiles` if possible. But seems it indeed has the possibility that the file can't be purged right away due to iterators are referencing it and it can be only purged at full scan later 🤔

[2021-01-29 06:41] Connor1996 commented on #9429
I'll check that later.

[2021-01-29 07:53] 5kbpers commented on #9429
![image](https://user-images.githubusercontent.com/20279863/106246935-d7f19300-6249-11eb-9182-1df3591a9680.png)

For the metrics in my environment, the migration paused for more than one hour, there are still some SSTs in L6 that were cleaned after restarting the node.

[2021-01-29 13:13] #9590 closed

[2021-01-30 02:03] dhruvarora93 commented on #5751
Hi, I am looking to contribute to this project. Would it make sense to start with implementing the **GreatestString** function for TiKV ?

[2021-01-30 03:22] lonng commented on #5751
@dhruvarora93 Absolutely, you can choose any pushdown function to implement.

Thanks for your interest in this project.

[2021-01-31 06:51] hi-rustin commented on #9481
@saresend Are you still doing it? I'd like to get it done.

[2021-01-31 19:46] brson opened #9609 "Remove engine_rocks dependency from tikv_kv"
## Development Task

https://github.com/tikv/tikv/pull/9608 extracts tikv::storage::kv to its own crate. This crate depends on engine_rocks, but shouldn't. Remove the dependency. This will probably entail transforming the concrete RocksEngine type into a type parameterized over engine_traits.

[2021-02-01 07:30] andylokandy commented on #8986
@TszKitLo40

Yes, sure! You need to use a [collator](https://tikv.github.io/doc/tidb_query_datatype/codec/collation/trait.Collator.html) to compare strings [here](https://github.com/tikv/tikv/blob/515df8d552cce67111991fc6b205ec2905716c2b/components/tidb_query_expr/src/impl_string.rs#L684). In order to retrieve a collator, you need to expose the collator as a generic parameter like [this](https://g

[2021-02-01 08:05] Connor1996 opened #9612 "Support the TTL for rawkv"
## Development Task

Currently, TiKV doesn't support TTL feature, so some users who use rawkv directly need to implement the TTL logic on the applications side, like https://github.com/tikv/tikv/issues/3337.

To make TiKV self productization, we're planning to support TTL for rawkv with demands:
- Every key can have different TTLs or non-TTL
- When a key-value exceeds the TTL, it doesn't mean the

[2021-02-01 08:06] BusyJay opened #9613 "load based split can't handle raw kv well"
## Bug Report

### What version of TiKV are you using?
v5.0.0-rc

### Steps to reproduce
AutoSplitController always encode key as if it's transaction kv, which is wrong in raw kv.

https://github.com/tikv/tikv/blob/80582cb06f845a400090febb5cbaaf05250a2695/components/raftstore/src/store/worker/split_controller.rs#L378-L382

This can result in large region that can't be split. I suggest to always tr

[2021-02-01 09:05] TszKitLo40 commented on #8986
Do you mean replace `strcmp` with `strcmp_utf8` or add add new function `strcmp_utf8`?

[2021-02-01 10:10] BusyJay opened #9615 "commit merge and post_apply can make tikv panic"
## Bug Report

### What version of TiKV are you using?
v4.0.9

Because `on_ready_commit_merge` will remove source read delegate,

https://github.com/tikv/tikv/blob/bf92a4a9b56f410f3c0eefe8056c22923a08ceee/components/raftstore/src/store/fsm/peer.rs#L2774

and `post_apply` will update read_delegate

https://github.com/tikv/tikv/blob/bf92a4a9b56f410f3c0eefe8056c22923a08ceee/components/raftstore/src/s

[2021-02-01 10:27] andylokandy commented on #8986
You don't have to. The collator itself can handle the charset difference.