[2018-01-13 08:18] wangperry commented on #2681
@BusyJay tested the following two pd versions:
Release Version: v1.0.5-1-g776bcd9
Git Commit Hash: 776bcd940b71d295a2c7ed762582bc3aff7d3c0e
Git Branch: release-1.0
UTC Build Time:  2018-01-08 05:35:08

Release Version: v1.1.0-alpha-37-g237f977
Git Commit Hash: 237f977b4d0c43d3efae707bc12acfb6ad76e306
Git Branch: master
UTC Build Time:  2017-11-20 10:26:31

[2018-01-13 09:00] disksing commented on #2681
Neither of the 2 pd versions have proto3 support. Does the release-1.0 branch of tikv contains the feature? /cc @BusyJay

[2018-01-13 09:00] BusyJay commented on #2681
No.

[2018-01-13 09:01] BusyJay commented on #2681
@wangperry Can you provide the full log of tikv?

[2018-01-13 10:19] wangperry commented on #2681
@BusyJay The attached file is tikv log
[tikv.log](https://github.com/pingcap/tikv/files/1628224/tikv.log)

[2018-01-13 10:45] BusyJay commented on #2681
Is this cluster initialized by the same tikv-server binary? Do you still have the log from the very beginning?

[2018-01-13 11:21] wangperry commented on #2681
1. The beginning of tikv version is v1.0.1[tidb-latest.tar.gz], Then upgrade to  v1.0.6[tidb-v1.0.6-linux-amd64-unportable.tar.gz].
2.  The log with "missing region start key for split" is always existed from the  beginning.

[2018-01-13 11:49] BusyJay commented on #2681
Logs would certainly help. The only one possible case I can think of right now is that the cluster is initialized by master version, and then run with 1.0.x version.

[2018-01-13 14:40] wangperry commented on #2681
tks, I will test these two versions separately

[2018-01-15 01:19] siddontang opened #2682 "scheduler: unnecessary metrics?"
Can we see anything from these metrics?

![image](https://user-images.githubusercontent.com/1080370/34923219-ecc2dcfc-f9d4-11e7-829b-f3aa7a729acf.png)

@zhangjinpeng1987 @wentaoxu

[2018-01-15 01:48] #2670 closed

[2018-01-15 01:48] #2680 closed

[2018-01-15 01:48] #2630 closed

[2018-01-15 01:50] siddontang opened #2683 "raft: make raft-rs stable and use it direcly"
Now we have been moving our raft library to https://github.com/pingcap/raft-rs, I think we will finish this work and release the first version soon.

Then we can consider using the raft-rs directly.

[2018-01-15 07:55] BusyJay commented on #2678
Has there been any power failures or disk corruptions?

[2018-01-16 03:12] siddontang opened #2692 "test: failpoints_cases::test_storage::test_storage_1gc failed"
[code]

[2018-01-16 06:19] wentaoxu commented on #2692
this test case will success on linux os, and fail on macbook, I will check it.

[2018-01-16 17:58] BusyJay opened #2695 "Support fast backup for tikv storage"
In some situation we need to backup the storage before doing some experimental tests. We can always do it by command cp, but it may occupy large disk space and be slow.

Another way to do this is copying all non-sst files from the storage and then make hard links to all sst files. SST files are supposed to be immutable, so hard links are OK here. If hard links are impossible, it can fallback to co

[2018-01-19 05:45] wentaoxu commented on #2692
I think it will help to unset `http_proxy` and `https_proxy`.

[2018-01-19 08:02] #2692 closed

[2018-01-19 08:07] ngaut commented on #2692
Is this issue fixed? @wentaoxu

[2018-01-19 08:11] wentaoxu commented on #2692
Yes, it is already fixed. @ngaut

[2018-01-19 10:03] darren opened #2704 "TiKV not energy efficient while being totally idle"
1. What version of Rust are you using (`rustc --version`)?

    TiKV
    Release Version:   1.0.1
    Git Commit Hash:   1de37670ee601deba5d88609dcd7d848de2a11e3
    Git Commit Branch: master
    UTC Build Time:    2018-01-06 03:16:59
    Rust Version:      1.24.0-nightly (b98fd524e 2018-01-05)

2. What operating system and processor architecture are you using?
[code]

3. What did you do?

   1).

[2018-01-19 16:43] BusyJay opened #2705 "support recovery from corrupted rocksdb"
If one or a few sst files in rocksdb are corrupted, we don't have to give up the whole data, which is a waste and may take a long time to recover especially when there are a lot of regions on the store. We can try to remove those corrupted SST files and then delete all regions that are overlapped with the ranges covered by the SST files. In that case only the corrupted data will be replicated by r

[2018-01-22 03:54] hicqu commented on #2516
Any progress? @seth-priya ?

[2018-01-23 09:29] BusyJay opened #2709 "Support transferring raft snapshot on demand"
For now, to transferring a raft snapshot, we need to generate a snapshot file, and then transfer it via a gRPC streaming call. This can cause large disk IO when there are too many pending snapshots. Also other tasks may be blocked too if IO is busy.

Another way is transferring raft snapshot on demand. Instead of generating a snapshot file, it only takes a rocksdb snapshot, and then construct a fu

[2018-01-23 09:52] BusyJay commented on #2705
Or we can even make a step forward. If only some regions are affected by the corrupted data, then TiKV doesn't have to panic. We can mark the region as corrupted and then delete them via PD or tikv-ctl. So the cluster can recover automatically.

[2018-01-23 09:59] BusyJay commented on #1629
Or we can do this in TiKV. When TiKV is about to shutdown, it can check if there is any leader, then transfers leader to a random sufficient follower.

[2018-01-25 06:41] BusyJay commented on #2583
See also pingcap/raft#18

[2018-01-25 17:05] seth-priya commented on #2516
@hicqu - Sorry for the delayed response -  I was caught up with something else. I have started on this and will share a more detailed update in a couple of days

[2018-01-26 08:53] huachaohuang commented on #2548
TiKV can report the stall state to PD, then PD can transfer region leaders to other stores.
RocksDB v5.9.2 supports `Listener::OnStallConditionsChanged()`, we can try to use it after update.

[2018-01-26 08:55] huachaohuang commented on #1655
Closing in favor of https://github.com/pingcap/tikv/issues/2548.

[2018-01-26 08:55] #1655 closed

[2018-01-26 10:19] BusyJay commented on #2548
Actually if a TiKV stalls, it can't handle any commands which includes transfer leader command.

[2018-01-28 08:06] siddontang commented on #2704
Hi @Darren

Sorry for the late response, too busy these days.

I see that your TiKV is not idle, it is still doing raft replication and applying the raft logs.

[2018-01-29 01:26] zhangjinpeng1987 opened #2716 "Logging RocksDB key events in TiKV log files"
Logging RocksDB key events in TiKV log files, so we can retrieve these events easily.

[2018-01-29 01:36] siddontang opened #2717 "Test: add fail point in Raft snapshot generating, sending, receiving and applying."

[2018-01-29 06:20] AndreMouche opened #2718 "Coprocessor: support cache for select executor"
We would support cache for `aggregation` and `topn`  in the https://github.com/pingcap/tikv/pull/2309, Maybe we could consider supporting cache for select executor later.

[2018-01-31 07:41] berny9015 opened #2727 "TiKV panics with `end >= start` in RocksDB properties"
Please answer these questions before submitting your issue. Thanks!

1. What version of Rust are you using (`rustc --version`)?

2. What operating system and processor architecture are you using?

3. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.
[code]
4. What did you expect to see?

5. What did you see instead?

[2018-01-31 07:44] siddontang commented on #2727
PTAL @huachaohuang

[2018-01-31 07:44] zhangjinpeng1987 commented on #2727
This [pr](https://github.com/pingcap/tikv/pull/2715) have fixed this problem.

[2018-01-31 09:39] BusyJay opened #2729 "Support running scripts in tikv-ctl"
There are many possible condition out there needs to use tikv-ctl to do recovery. However, tikv-ctl is a static tools, it may not be flexible enough or efficient enough to handle all the cases. It will be very convenient and productive to be able to run scripts inside tikv-ctl. So we can update the internal logic quickly and fix specific case without making tikv-ctl more complicated, which is a co

[2018-02-01 01:06] berny9015 commented on #2727
my version :
[code]

[2018-02-01 07:19] siddontang commented on #2727
@berny9015

can you use the latest master version to try again?

[2018-02-01 15:37] balboah commented on #1439
sounds like a pretty important issue! I have this problem now with lost quorum and no clear path on how to recover / force one pd to become leader

[2018-02-01 15:38] balboah commented on #1439
huh? "balboah unassigned hhkbp2"

[2018-02-01 15:47] siddontang commented on #1439
Hi @balboah

Em, can you tell me how can the majority lose?

We have a pd-recover tool which can recover the PD data.  /cc @nolouch

[2018-02-01 16:13] balboah commented on #1439
thanks I got pointers to pd-recovery from another source, the majority can loose when you have nodes restarting or crashing :)

[2018-02-01 16:22] tennix commented on #1439
Yes, on some K8s cloud platform nodes will be removed for HA, if pd is deployed on such environment, pd may lose the majority.
@balboah We'll add official document about recovering pd soon

[2018-02-06 06:37] seth-priya commented on #2516
Hi @hicqu , @siddontang , just wanted to let you know that I have still not been able to make any real progress on this as I have been caught up with a bunch of high priority urgent requests :( I will try to get to this as soon as I can ...

[2018-02-08 02:15] aruanruan opened #2749 "tikv-server error when upgrade to last version tikv from version of 2017-8-14"
Please answer these questions before submitting your issue. Thanks!

1. What version of Rust are you using (`rustc --version`)?

 Rustc Version:     1.25.0-nightly (73ac5d6a8 2018-01-11)

2. What operating system and processor architecture are you using?

centos 7.2 x86_64
cat /proc/version
Linux version 3.10.0-327.13.1.el7.x86_64

3. What did you do?
If possible, provide a recipe for reproducing

[2018-02-08 02:23] siddontang commented on #2749
hi @aruanruan

Seem you use a too old TiKV version before which didn't support raft RocskDB.

We don't support compatibility before GA version.

[2018-02-08 13:41] huachaohuang opened #2753 "TiKV will not report unreachable errors until a long time after a peer has been isolated"
A test shows that TiKV will not report unreachable errors until a long time after a peer has been isolated.

It can not be solved by the GRPC timeout: https://github.com/pingcap/tikv/pull/2751.

The proper way to solve it is using the keepalive configuration.
/cc @BusyJay @disksing

[2018-02-09 09:18] #2626 closed

[2018-02-12 02:52] zimulala opened #2760 "raftstore_cases::test_multi::test_multi_server_latency failed"
1. What version of Rust are you using?
tikv v1.1.0-dev.1 (file:///home/ubuntu/tikv)

My CI is failed.
The error log as follows:
[code]
Full log path : https://circleci.com/gh/pingcap/tikv/8225?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-02-12 02:56] siddontang opened #2761 "metric: support gRPC Pull mechanism for Prometheus"
Now we use Push mechanism, which is not recommended by Prometheus, but unfortunately, TiKV can only support gRPC but not HTTP so Prometheus can't pull the metric from TiKV directly. To solve this, we need a proxy like:
[code]

For TiKV, we need to define a gRPC like `dump_metrics(content_type string) -> Vec<u8>`,  content_type is text or protocol buffer. Btw, in `tikv-ctl`, we can use text format

[2018-02-22 02:51] siddontang opened #2763 "try to use MaskedVByte to speed up varint decoding"
Refer http://maskedvbyte.org/

We should do the benchmark and see whether it can work well for us or not.

[2018-02-26 03:29] tshqin opened #2772 "tikv"
Please answer these questions before submitting your issue. Thanks!

1. What version of Rust are you using (`rustc --version`)?

2. What operating system and processor architecture are you using?

3. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.

4. What did you expect to see?

5. What did you see instead?

[2018-02-26 03:29] #2772 closed

[2018-02-26 03:36] tshqin opened #2773 "request a rule to rotate tikv.log when it becomes big"
in some cases tikv.log becomes very big in a day, pls add a rule to archive old log files by size, like tidb/pd.

[2018-03-01 03:45] zimulala opened #2779 "raftstore_cases::test_split_region::test_server_auto_split_region failed"
Please answer these questions before submitting your issue. Thanks!

1. What version of Rust are you using (`rustc --version`)?
tikv v1.1.0-dev.1 (file:///home/ubuntu/tikv)

My CI is failed.
The error log as follows:
[code]
Full log path : https://circleci.com/gh/pingcap/tikv/8362?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-03-01 03:47] zimulala commented on #2779
PTAL @overvenus

[2018-03-06 10:27] breeswish opened #2796 "read flow statistics is not collected for raw kv"
read flow is only collected in MvccReader and currently RawKv is out of this mechanism

[2018-03-07 01:32] breeswish opened #2797 "inject failures for read pool"
Previously proposed in https://github.com/pingcap/tikv/pull/2713

It would be nice to use failure injection to cover some error conditions (like snapshot failed).

[2018-03-09 16:00] breeswish commented on #2796
Collected in read pool based implementation. Closing.

[2018-03-09 16:00] #2796 closed

[2018-03-12 01:00] #2651 closed

[2018-03-12 01:00] #2655 closed

[2018-03-12 02:47] ngaut opened #2812 "Upgrade ordermap package"
Currently ordermap package has been rename to indexmap.
See https://github.com/bluss/indexmap

[2018-03-13 02:12] #2749 closed

[2018-03-13 02:13] #2727 closed

[2018-03-13 06:12] #2812 closed

[2018-03-13 07:09] zhangjinpeng1987 commented on #2675
https://github.com/pingcap/tikv/pull/2818

[2018-03-13 07:24] zhangjinpeng1987 commented on #2666
https://github.com/pingcap/tidb-ansible/pull/261 has fixed it.

[2018-03-13 07:24] #2666 closed

[2018-03-13 07:45] zhangjinpeng1987 commented on #2520
https://github.com/pingcap/rust-rocksdb/pull/185 has fixed it.

[2018-03-13 07:45] #2520 closed

[2018-03-13 07:49] zhangjinpeng1987 commented on #2454
https://github.com/pingcap/rust-rocksdb/pull/169 has done it.

[2018-03-13 07:49] #2454 closed

[2018-03-13 07:52] zhangjinpeng1987 commented on #2404
https://github.com/pingcap/tikv/pull/2600 has done it.

[2018-03-13 07:52] #2404 closed

[2018-03-13 07:54] #2365 closed

[2018-03-13 09:30] lingbin opened #2820 "How to avoid Performance Loss cost by DeleteRange Tombostones in TiKV"
We know rocksdb provide a *DeleteRange api* to delete a range of keys, so we do not need to delete those keys by iterating through all of them and issue Delete() to them one by one.

As i know, the range tombstones will be put on each range-related sst-tables, until compactions clean them. Before the tombstones being cleaned up, every rocksdb::seek will compare with these tombstones. **when there

[2018-03-13 09:45] siddontang commented on #2820
Thanks @lingbin

As you know, using too many DeleteRange may hurt the performance, we may also have this problem too, but we do something to relieve it:

1. We split the region by table, so when we drop database or table, we won't use this region anymore.
2. For 1, of course, there are also two or more tables crossing one RocksDB SST, but our SST size is small (8 MB), so there won't be too many De

[2018-03-13 09:46] zhangjinpeng1987 commented on #2820
TiKV handle request by region, and for each read query we set lower bound and upper bound for the iterator. So the read is restricted in a range. When a table have been dropped, no more request will query this range, so it is ok. If you really encounter this problem, you can trigger manual compaction on the related range by tikv-ctl.

[2018-03-13 09:51] #2683 closed

[2018-03-13 09:52] BusyJay commented on #2683
Fixed by #2774

[2018-03-13 11:48] lingbin commented on #2820
What about **recovery/load-balance** scenarios?

When the number reaches a certain order of magnitude, recovery/load-balance should be paid more attention.

Take a particular example, you have 10 server, each have 10000 regions, i.e. 10^5 regions totally.  Now you expanded server number to 20, so after load-balance, each server only hold 5000 regions. if we do nothing for this, **it will result to

[2018-03-14 10:39] zhangjinpeng1987 commented on #2773
@tshqin https://github.com/pingcap/tikv/pull/2823 this pr will support rotate log by size.

[2018-03-15 01:04] #2553 closed

[2018-03-16 04:06] codeworm96 commented on #2763
Hi. Since Rust recently started to provide SIMD in the nightly std, I am interested in working on a branch of that. May I have a try?

[2018-03-18 06:13] XiaoZYang opened #2837 "How about add the blogs about tikv posted in Wechat ?"
I've been seen several blogs about details of tikv in wechat, what makes me excited. It's wonderful to collect and sort out that articles and add them to doc. I wonder it should be a great tutorial for beginners :)

[2018-03-18 06:18] siddontang commented on #2837
Thanks @XiaoZYang

Maybe you can watch our blog https://pingcap.github.io/blog/ now.

Later, we will publish more docs about the architecture, the key design of the modules in the TiKV repo directly to let the user know it easily.

[2018-03-19 09:10] Martwu opened #2840 "ERROR on starting up process of TiKV"
Please answer these questions before submitting your issue. Thanks!

1. What version of Rust are you using (`rustc --version`)?

[code]
on `./tikv-server --version`

2. What operating system and processor architecture are you using?

[code]

3. What did you do?

[code]

4. What did you expect to see?

I would like to start up tikv after  crashing.

5. What did you see instead?

but process still c

[2018-03-19 09:13] siddontang commented on #2840
Hi @Martwu

Did your TiKV crash before and you restart it?

[2018-03-19 09:16] Martwu commented on #2840
@siddontang It was part of a cluster. And one day, It crashs with that log.  I tried to start it up. logs again.

[2018-03-19 09:22] siddontang commented on #2840
Can we show the lines before the first crash?

[2018-03-19 09:52] Martwu commented on #2840
[code]

like these ? I am sorry that I can't provide logs earlier than these. logs file is missing.

[2018-03-19 10:05] huachaohuang commented on #2840
Have you enabled the `raftstore.sync-log` configuration?
Did the machine restart before the tikv started to crash?
Any error with the disk?

[2018-03-19 16:06] breeswish opened #2842 "Remove make_callback in kv.rs"
It can be replaced by `util::future::paired_future_callback` now.

[2018-03-19 16:09] breeswish commented on #2763
@codeworm96 Of course! In addition we can consider using foreign libraries if exists.

[2018-03-19 16:12] breeswish commented on #2674
Will be solved by https://github.com/pingcap/tikv/pull/2827

[2018-03-19 16:15] csmoe commented on #2842
assign me.

[2018-03-19 16:18] breeswish commented on #2842
@csmoe Seems that GitHub's assignees are limited to contributors. Don't worry, please go ahead :)

[2018-03-19 17:22] XiaoZYang commented on #2837
Thanks for this suggestion, it's so kind of you~

[2018-03-20 01:10] siddontang commented on #2842
Thanks @csmoe

Wait for your PR soon.

[2018-03-20 02:21] Martwu commented on #2840
`raftstore.sync-log` is false now.

and the disk is healthy.

[2018-03-20 02:49] siddontang commented on #2840
Using false may cause this problem when the TiKV is crashed or your machine is power off accidentally, you can use tikv-ctl to remove this region and start the TiKV again.

If you find that many regions throw the same error after you recover one, you can consider removing the whole TiKV instance with pd-ctl.

@hicqu please show how to recover it.

[2018-03-20 05:46] breeswish opened #2845 "Update to futures 0.2"
[futures-rs](https://github.com/rust-lang-nursery/futures-rs) is ~~reaching~~ 0.2. There are some API changes though. We need to adapt our code base to the latest version once futures-rs 0.2 is stable.

[2018-03-20 05:49] breeswish commented on #2845
Note: relative crates should also be updates, i.e. futures-cpupool.

[2018-03-21 03:07] siddontang opened #2851 "use fxhash instead of fnvhash"
see https://github.com/cbreeden/fxhash

fxhash is faster than fnvhash, we can use it.

[2018-03-21 03:21] BusyJay commented on #2851
What about the collision rate?

[2018-03-21 10:46] #2842 closed

[2018-03-21 12:58] BusyJay commented on #1843
`FlatMap` will sort internal, it's not friendly for small groups, a similar bench result:
[code]
I change the query from only fetch one element to fetch all element in a loop to make the difference significant.

[2018-03-21 13:13] siddontang commented on #1843
maybe we can build a similar Map like FlatMap but use sequence scan. @BusyJay

Or we can use vector directly.

[2018-03-22 03:28] #2618 closed

[2018-03-22 07:31] AndreMouche opened #2855 "test_node_merge_rollback failed in CI"
hi,
    `test_node_merge_rollback` failed with the following details:
https://circleci.com/gh/pingcap/tikv/8861?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[code]

[2018-03-22 07:32] AndreMouche commented on #2855
@BusyJay PTAL

[2018-03-22 08:08] Martwu opened #2856 "balancer not works."
Please answer these questions before submitting your issue. Thanks!

[code]
on `./tikv-server --version`

What operating system and processor architecture are you using?
[code]

3. What did you do?
I would like to delele a tikv then add the other one.

4. What did you expect to see?

Status of deleted one become "offline" then "tombstone",  and region number of that increases no longer.  Region nu

[2018-03-22 08:09] Martwu commented on #2856
relate to this issue [https://github.com/pingcap/tikv/issues/2840](https://github.com/pingcap/tikv/issues/2840)

[2018-03-23 03:41] sunxiaoguang opened #2863 "test_server_partition_write failed on master"
raftstore::test_transport::test_server_partition_write

CI failed a test not related to pull request.

CI task is here: https://circleci.com/gh/pingcap/tikv/8917#config/containers/0

test raftstore_cases::test_transport::test_server_partition_write ... thread 'raftstore_cases::test_transport::test_server_partition_write' panicked at 'called `Result::unwrap()` on an `Err` value: Other(StringError("

[2018-03-23 04:42] breeswish commented on #2863
Some tests are not very stable as far as I know. Usually we invoke a rebuild.. Let's keep this issue open so that it can be further improved.

[2018-03-23 06:07] sunxiaoguang commented on #2863
Ok, I see. thanks.

[2018-03-26 07:11] ShalokShalom commented on #2282
Is this solved?

[2018-03-28 02:37] abo opened #2874 "tikv terminated with signal 4, Illegal instruction."
Please answer these questions before submitting your issue. Thanks!

1. What version of Rust are you using (`rustc --version`)?

    bin/tikv-server --version
    TiKV
    Release Version:   2.0.0-rc.3
    Git Commit Hash:   a6c08bcdbe747bfd2bc17048f991ed763db29bd7
    Git Commit Branch: master
    UTC Build Time:    2018-03-24 07:51:00
    Rust Version:      1.25.0-nightly (73ac5d6a8 2018-01-11)

[2018-03-28 02:46] siddontang commented on #2874
Hi @abo
Does the TiKV panic quickly when you start it or run for a time?

I see that you use AMD, maybe we introduce something only for Intel CPU. How do we build the release version, using `make release` or `make unportable_release` @iamxy

[2018-03-28 02:59] abo commented on #2874
run for a time.

p.s. another tikv works fine with processor:

vendor_id	: AuthenticAMD
cpu family	: 21
model		: 16
model name	: AMD A8-5600K APU with Radeon(tm) HD Graphics
stepping	: 1
microcode	: 0x6001119
cpu MHz		: 1900.000
cache size	: 2048 KB
physical id	: 0
siblings	: 4
core id		: 3
cpu cores	: 2
apicid		: 19
initial apicid	: 3
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flag

[2018-03-28 03:05] siddontang commented on #2874
oh, PTAL @huachaohuang @zhangjinpeng1987

[2018-03-28 05:38] breeswish opened #2876 "impl Clone for Box<Engine>"
Currently `Clone` is not implemented for `Box<Engine>` so that we can see a lot of structs self implementing a clone like this:

[code]

instead of using `#[derive(Clone)]`.

By `impl Clone for Box<Engine>`, we can simplify these code using `derive(Clone)`.

For contributors: Note that you cannot make `Engine: Clone`. You can use solutions in https://users.rust-lang.org/t/solved-is-it-possible-to-

[2018-03-28 05:57] breeswish commented on #2874
Hi, our binary contains SSE 4.1 and SSE 4.2 instructions:

[code]

while your CPU only supports sse4a instruction set. that's why there are illegal instructions.

[2018-03-28 07:19] Borelset opened #2877 "TiKV tuning"
Please answer these questions before submitting your issue. Thanks!

1. What version of Rust are you using (`rustc --version`)?
binary version
Release Version: v2.0.0-rc.3-2-gb1e6249
Git Commit Hash: b1e624918d5cd3a12a47ef23d7ac5eccd7db4757
Git Branch: master
UTC Build Time: 2018-03-26 08:50:31

2. What operating system and processor architecture are you using?
CentOS Linux release 7.4.1708 (Core)

[2018-03-28 08:01] abo commented on #2874
thanks @breeswish , i will try to build tikv with ROCKSDB_SYS_SSE=0

[2018-03-28 08:01] #2874 closed

[2018-03-28 10:05] siddontang commented on #2877
Hi @Borelset

You can increase the threads to 128 or start another YCSB instance to see whether the performance is increased or not.

[2018-03-28 10:36] Borelset commented on #2877
@siddontang
increasing thread to 128 leads to higher latency and ops.
but disks still have much idle time.

[2018-03-28 12:24] tydldd opened #2880 "check critical config failed"
问题：
check critical config failed, error "check critical config failed, err StringError(\"db wal_dir have been changed, former db wal_dir is , current db wal_dir is /vpants/tidb/data/store, please guarantee all data wal log have been moved to destination directory.\")"

安装好后，更改tikv的wal-dir目录，重新启动tikv报错。

[2018-03-28 12:38] siddontang commented on #2877
oh, does the TiKV becomes bottleneck? Can you run another YCSB?

[2018-03-28 14:22] siddontang commented on #2877
Can you use `top -H` to show each thread of TiKV?

Or how about the Threads of TiKV Grafana metrics?

[2018-03-28 14:40] #2837 closed

[2018-03-28 18:09] breeswish opened #2882 "Simplify Thread Names"
In Linux, thread names take at most 15 bytes according to the [documentation](http://man7.org/linux/man-pages/man3/pthread_setname_np.3.html). However currently we have many threads which name exceeded the limit (you can take a look by `ps -e -T`). Simplify these complex names helps identify thread usages in command line tools.

[2018-03-28 18:24] breeswish opened #2883 "Report Pending Tasks & Handled Tasks for FuturePool"
Currently we have these metrics for `Worker`. We also need metrics for `FuturePool`, which can be very helpful.

For contributors: Since we may turn to add metrics according to our needs in future, please leave a comment if you are going to work on this issue to let us know :)

[2018-03-28 18:32] breeswish commented on #2882
Duplicated https://github.com/pingcap/tikv/issues/2027

[2018-03-28 18:32] #2882 closed

[2018-03-29 02:43] Borelset commented on #2877
top -H

server 1 run 3 TiKVs

  PID USER      PR  NI    VIRT    RES    SHR S %CPU %MEM     TIME+ COMMAND
31232 root      19  -1 4609848 998832  24688 R 85.1  0.8  35:29.34 raftstore-984
30812 root      19  -1 4503352 0.982g  24880 R 78.8  0.8  34:53.45 raftstore-632
31016 root      19  -1 4708152 908512  24736 R 76.5  0.7  33:55.60 raftstore-843
31227 root      20   0 4609848 998832  24688 R 72.2

[2018-03-29 03:44] siddontang commented on #2877
You raftstore CPU nearly 90%.
Now, this is a single thread and can be a bottleneck.

[2018-03-29 04:37] Borelset commented on #2877
Ok, Thx.

[2018-03-29 04:45] Borelset commented on #2877
well, another question.
I found that "storage async write duration" in TiKV metrics maybe is a major part of latency.
in 64 thread latency is about 800us, and "storage async write duration" is about 550us
in 64 thread latency is about 1600us, and "storage async write duration" is about 1200us
"storage async write duration" relates to raftstore?

[2018-03-29 05:02] breeswish opened #2886 "Remove Option<..> in Storage::ReadPoolContext"
In `Storage::ReadPoolContext`, we used a `Option<FutureScheduler<PdTask>>`, instead of `FutureScheduler<PdTask>` because there will be no such pd in tests. However since the situation that "pd not exist" only occurs in tests, it will be better to mock an empty pd scheduler (like [what we did](https://github.com/pingcap/tikv/blob/4c3b6e5df6b82d02cebda098dbc9a27049ee4cd5/tests/coprocessor/test_selec

[2018-03-29 05:45] siddontang commented on #2877
@Borelset

Yes, this is related to Raft, as you can see, Raftstore is now a single thread, so if you increase the pressure, the latency will increase.

We will refactor to multi-threads later to fix this problem.

[2018-03-30 01:49] AndreMouche opened #2892 "test: test_scheduler_leader_change_twice failed sometime in CI"
hi, `test_scheduler_leader_change_twice` failed sometime in CI with the following details:
https://circleci.com/gh/pingcap/tikv/9061?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[code]

[2018-04-02 04:23] breeswish opened #2902 "test: test_node_remove_leader_with_uncommitted_log failed sometime in CI test"
https://circleci.com/gh/pingcap/tikv/9132

[2018-04-02 05:41] breeswish opened #2905 "test: test_multi_server_cluster_restart sometimes fails in CI"
https://circleci.com/gh/pingcap/tikv/9107

[2018-04-02 08:47] dbaspace opened #2906 "port data of 7.4G"
使用loader还原数据 ：
2018/04/02 16:44:58.230 session.go:506: [warning] [39] retryable error: [tikv:9003]TiKV server is busy[try again later], txn: {399155835216330753 <nil> 0xc42a7d0600 map[] [] <nil>}
2018/04/02 16:44:58.285 session.go:474: [warning] [39] Retry [9] query [0]
2018/04/02 16:44:58.286 session.go:474: [warning] [39] Retry [9] query [1]
2018/04/02 16:44:58.297 session.go:474: [warning] [39]

[2018-04-02 09:38] huachaohuang commented on #2906
These warnings can happen when TiKV is being written heavily, but TiDB will retry automatically, do you encounter any error on the client side?

[2018-04-02 09:46] Jacklli opened #2907 "tikv compile failed on CentOS"
Please answer these questions before submitting your issue. Thanks!

1. What version of Rust are you using (`rustc --version`)?
$ rustc --version
rustc 1.25.0-nightly (73ac5d6a8 2018-01-11)

2. What operating system and processor architecture are you using?
$ cat /etc/redhat-release
CentOS Linux release 7.2.1511 (Core)

$ uname -a
Linux host 3.10.0-327.36.3.el7.x86_64 #1 SMP Mon Oct 24 16:09:20 UT

[2018-04-02 10:12] hicqu commented on #2907
TiKV use rustc-serialize with version `0.1.24`. Please run `cargo update --package=rustc-serialize` first.

[2018-04-02 10:13] hicqu commented on #2907
You can extract the dependencies versions in `Cargo.lock`.

[2018-04-02 10:16] blacktear23 commented on #2907
@hicqu version should be 0.3.24

[2018-04-03 02:09] dbaspace opened #2908 "重启删除TIKV"
TIKV 停止了  ，原来数据全部删除，然后重新启动，提示
2018/04/03 09:58:28.006 util.rs:299: [ERROR] fail to request: Grpc(RpcFailure(RpcStatus { status: Unknown, details: Some("duplicated store address: id:5512 address:\"192.168.21.189:20160\" , already registered by id:5460 address:\"192.168.21.189:20160\" state:Offline ") }))
然后登陆pt-ctl 进行删除
    "store": {
        "id": 5460,
        "address": "192.168.21.189:20160",

[2018-04-03 02:20] huachaohuang commented on #2908
When you delete a store, the store will be in the "Offline" state, you need to wait until its state becomes "Tombstone" before you can start a new store with the same address.
Ref: https://github.com/pingcap/docs-cn/blob/master/op-guide/horizontal-scale.md#%E5%8A%A8%E6%80%81%E5%88%A0%E9%99%A4%E8%8A%82%E7%82%B9-1

[2018-04-03 02:28] dbaspace commented on #2908
谢谢  早上没注意那，，，

[2018-04-03 02:28] #2908 closed

[2018-04-03 04:11] breeswish opened #2909 "test: test_storage_1gc sometimes failed in CI"
https://circleci.com/gh/pingcap/tikv/9143

[2018-04-03 07:22] linux1fans opened #2910 "Program terminated with signal 4, Illegal instruction."
Please answer these questions before submitting your issue. Thanks!

1. What version of Rust are you using (`rustc --version`)?
bin/tikv-server --version
TiKV
Release Version:   2.0.0-rc.3
Git Commit Hash:   4c3b6e5df6b82d02cebda098dbc9a27049ee4cd5
Git Commit Branch: master
UTC Build Time:    2018-03-29 04:16:58
Rust Version:      1.25.0-nightly (73ac5d6a8 2018-01-11)

2. What operating system and

[2018-04-03 07:37] siddontang commented on #2910
Did TiKV crash after running for a long time?

[2018-04-03 07:39] siddontang commented on #2907
As I remember, seem that you use the new rust version to build a very old TiKV. If yes, we can close this issue. @Jacklli

[2018-04-03 07:39] #2886 closed

[2018-04-03 07:40] siddontang commented on #2877
can we close it now @Borelset

If you meet any problem later, you can file a new issue.

[2018-04-03 07:42] siddontang commented on #2856
PTAL @nolouch

[2018-04-03 08:04] siddontang opened #2912 "use IntCounter, IntGauge for the metrics."
Now Prometheus provides Int type for counter and gauge, which has a better performance than float, and in TiKV, we always use the Int type, so we can switch to it easily.

[2018-04-03 08:06] Jacklli commented on #2907
I rebuild the host OS environment, and git clone the source code instead of downloading release source code from github, and then compile successfullly!

[2018-04-03 08:06] #2907 closed

[2018-04-03 08:07] siddontang commented on #2907
Cool @Jacklli

If you have any problem, please file an issue later.

[2018-04-03 08:25] linux1fans commented on #2910
大概半小时左右，一部分tikv-server 出现上述问题

[2018-04-03 08:27] siddontang commented on #2910
seem that your memory is not enough. What is the Mem on your machine? How many TiKVs do you run in one machine?

[2018-04-03 08:35] linux1fans commented on #2910
free -g
           total     used  free  shared   buff/cache available
Mem: 251       15      71      0               165          202
Swap:  7          0        7

一台机器6个tikv，cache配置如下:
[defaultcf]
block-cache-size = "6GB"
[writecf]
block-cache-size = "2GB"
[raftdb.defaultcf]
block-cache-size = "1GB"

[2018-04-03 10:03] dbaspace opened #2913 "TIKV throws "no available space" after starting"
刚启动的TIKV服务，提示这个  no available space
实际
/dev/sdd1       1.9T  107M  1.9T   1% /disk2  盘空间很大。
[root@glusterfs10 tikv]# ll data
total 4
drwxr-xr-x 2 root root 4096 Apr  3 17:50 db
drwxr-xr-x 4 root root   43 Apr  3 17:50 import
-rw-r--r-- 1 root root    0 Apr  3 17:50 LOCK
drwxr-xr-x 2 root root  148 Apr  3 17:50 raft
drwxr-xr-x 2 root root   10 Apr  3 17:50 snap
drwxr-xr-x 3 root root   49 Apr  3 17

[2018-04-03 10:05] dbaspace commented on #2913
root      8737  7972  0 17:50 pts/3    00:00:00 /usr/local/tidb/bin/tikv-server --config=/usr/local/tidb/bin/tikv.toml  这个服务在线

[2018-04-03 10:41] siddontang commented on #2913
can you show the tikv log?

[2018-04-04 01:42] dbaspace opened #2916 "how to know the parameters"
怎么怎么获取TIDB一些参数，或者动态修改，如backoffer.maxSleep  想修改查看修改？

[2018-04-04 02:11] siddontang opened #2917 "test: raftstore_cases::test_conf_change::test_server_split_brain failed"
[code]

[2018-04-04 02:26] dbaspace commented on #2913
新启动的节点状态，没任何数据
store 3844
{
  "store": {
    "id": 3844,
    "address": "192.168.21.149:20160",
    "state_name": "Up"
  },
  "status": {
    "capacity": "12 KiB",
    "leader_weight": 1,
    "leader_score": 1,
    "region_weight": 1,
    "region_score": 1,
    "start_ts": "2018-04-04T10:17:37+08:00",
    "last_heartbeat_ts": "2018-04-04T10:25:47.305262296+08:00",
    "uptime": "8m10.305262296s"

[2018-04-04 02:27] dbaspace commented on #2913
磁盘是SAS的 不识别？

[2018-04-04 02:29] siddontang commented on #2913
[code]

Do you change TiKV's capacity?

[2018-04-04 02:39] dbaspace commented on #2913
[storage]
# notify capacity of scheduler's channel
scheduler-notify-capacity = 10240

[server]
# set listening address.
addr = "192.168.21.149:20160"
# if not set, use addr instead. set advertise listening address for client communication.
advertise-addr = ""
# set the path to rocksdb directory.
# notify capacity, 40960 is suitable for about 7000 regions.
notify-capacity = 40960

[raftstore]
sync-

[2018-04-04 02:39] Borelset commented on #2877
yeah,  thx

[2018-04-04 02:39] #2877 closed

[2018-04-04 02:43] siddontang commented on #2913
`capacity =12000` is too small, just 12 KB, please set a bigger one, like `500 GB`

[2018-04-04 02:46] dbaspace commented on #2913
THANK YOU

[2018-04-04 02:53] #2913 closed

[2018-04-04 08:28] zz-jason opened #2918 "some un-pushed builtin UDFs"
All the builtin UDFs supported by TiDB are:
https://github.com/pingcap/tidb/blob/master/expression/builtin.go#L292

All the builtin UDFs can be pushed down to TiKV are:
https://github.com/pingcap/tidb/blob/master/expression/expr_to_pb.go#L265

Following is part of UDFs which are still not being pushed to TiKV:

## cast functions
- [x] ast.Cast

## logic functions
- [x] ast.LogicXor

## arithmetica

[2018-04-10 03:58] breeswish commented on #2845
As part of the task "dependency upgrade", if you would like to work on this, please add yourself to the assignee :) @Hoverbear  You may also need to update the grpc because it uses futures as well.

[2018-04-10 05:26] overvenus commented on #2892
Closed via #2911

[2018-04-10 05:26] #2892 closed

[2018-04-10 06:38] overvenus commented on #2845
It looks like 0.1 and 0.2 are incompatible, we needs to update futures for grpc-rs first.

[2018-04-12 03:32] AndreMouche opened #2937 "test: test_kv_service failed frequently in CI"
hi,
    It seems test_kv_service failed frequently in CI https://circleci.com/gh/pingcap/tikv/9423?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[code]

@huachaohuang PTAL

[2018-04-12 07:30] breeswish opened #2939 "Don't panic for incorrect metric values"
For example, when a counter is going to decrease (due to some incorrect metric values), currently TiKV will panic. This is not a good behaviour, instead a warning log is preferred.

[2018-04-12 08:49] #2540 closed

[2018-04-12 12:54] overvenus opened #2941 "decode_var_u64 attempt to shift left with overflow"
TiKV: 74287e026ad099f35d3a94c4341ef4f1ab4111c9

[code]

[2018-04-12 13:00] BusyJay commented on #2941
It's not a bug. The result will be checked at https://github.com/pingcap/tikv/blob/master/src/util/codec/number.rs#L175.

[2018-04-13 03:31] #2905 closed

[2018-04-14 01:18] ChinaXing opened #2947 "master branch build failure with expanding macro `opts`"
Please answer these questions before submitting your issue. Thanks!

1. What version of Rust are you using (`rustc --version`)?

rustc 1.25.0-nightly (73ac5d6a8 2018-01-11)

2. What operating system and processor architecture are you using?

Darwin lambda-cat.local 17.4.0 Darwin Kernel Version 17.4.0: Sun Dec 17 09:19:54 PST 2017; root:xnu-4570.41.2~1/RELEASE_X86_64 x86_64

3. What did you do?
If

[2018-04-14 01:23] siddontang opened #2948 "test: raftstore_cases::test_lease_read::test_node_callback_when_destroyed panic"
[code]

[2018-04-15 12:21] siddontang opened #2949 "Just test jira sync"

[2018-04-15 12:24] #2949 closed, assigned to nobody

[2018-04-16 09:14] nolouch commented on #2856
@Martwu  could you please provide more detail information about cluster status. you can get stores information via `pd-ctl`, and some [metrics](https://github.com/pingcap/docs/blob/master/op-guide/dashboard-overview-info.md) via the monitor.

[2018-04-16 09:35] yanyanqing opened #2954 "for test"
Please answer these questions before submitting your issue. Thanks!

1. What version of Rust are you using (`rustc --version`)?

2. What operating system and processor architecture are you using?

3. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.

4. What did you expect to see?

5. What did you see instead?

[2018-04-16 09:41] #2954 closed

[2018-04-16 09:43] Martwu commented on #2856
@nolouch I am sorry, I have been destroy that environment. And I deploy a cluster by ansible. That works.

[2018-04-16 14:18] siddontang opened #2957 "test: test failpoints_cases::test_snap::test_generate_snapshot failed"
[code]

[2018-04-16 14:26] hicqu commented on #2957
Seems max wait 1 seconds is not enough here. I will try to increase it to fix this.

[2018-04-16 15:53] Hoverbear commented on #2906
Hello @dbaspace!

I see there was an answer to this question, and there has been no further activity for two weeks, so I'm going to close it.

Feel free to re-open the issue if there is still a problem.

[2018-04-16 15:53] #2906 closed

[2018-04-16 18:25] Hoverbear commented on #2916
Hi @dbaspace, it looks like this was a question which was answered. There hasn't been any activity in over a week so I'm going to close this. Feel free to re-open it if you experience more issues.

[2018-04-16 18:25] #2916 closed

[2018-04-17 01:22] tinkercloud opened #2959 "My tikv cluster goes wrong every day "counter cannot inc negative values""
**os:**   centos 7.4

[code]

**tikv version:**
[code]

I used docker to deploy 3 node tikv clusters, but I encountered tikv down 2 nodes every day. The following is the tikv log output information, which is related to prometheus from the log, whether data collection is caused by not deploying prometheus. Did not result in a down destination?

[code]

[2018-04-17 01:41] #2947 closed

[2018-04-17 04:58] codeworm96 commented on #2959
https://github.com/pingcap/tikv/blob/master/src/util/rocksdb/engine_metrics.rs#L120
Seems that it has been fixed in a later version? Maybe an upgrade could solve the problem.

[2018-04-17 05:44] xinxinsh opened #2961 "cannot build tikv"
Please answer these questions before submitting your issue. Thanks!

1. What version of Rust are you using (`rustc --version`)?
rustc 1.21.0-nightly (aac223f4f 2017-07-30)

2. What operating system and processor architecture are you using?
MacOS 10.13.3

3. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.
   1. download tikv from github

[2018-04-17 05:45] xinxinsh commented on #2961
cannot find the commit 079e31b1b9c9eccff9bb01afd2eab7f5037d9bf1 in jemallocator repo

[2018-04-17 05:51] BusyJay commented on #2961
I'm sorry it happened. I just did a quick fix, can you try again?

[2018-04-17 05:59] xinxinsh commented on #2961
the fix is in tikv repo or  jemallocator repo?

[2018-04-17 06:00] BusyJay commented on #2961
In jemallocator repo. You should be able to get it compiled by simply issue make again.

[2018-04-17 06:04] xinxinsh commented on #2961
can you show me the link of the fix, thx

[2018-04-17 06:51] siddontang commented on #2941
If panic here, means it can't enter the check? @overvenus

[2018-04-17 07:26] BusyJay commented on #2961
I just added the missing commit back to the repo.

[2018-04-17 08:15] #2883 closed

[2018-04-17 15:27] #2876 closed

[2018-04-17 15:27] #2912 closed

[2018-04-17 15:28] breeswish commented on #2959
Hi, we have shipped a fix in master: https://github.com/pingcap/tikv/commit/379df735df52b952c1886416cb76dc06776bf190

Please pull latest master to see if it works for you.

[2018-04-18 04:16] yanyanqing opened #2966 "for test sync"
Please answer these questions before submitting your issue. Thanks!

1. What version of Rust are you using (`rustc --version`)?

2. What operating system and processor architecture are you using?

3. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.

4. What did you expect to see?

5. What did you see instead?

[2018-04-18 05:40] sre-robot opened #2968 "for test sync"
Please answer these questions before submitting your issue. Thanks!

1. What version of Rust are you using (`rustc --version`)?

2. What operating system and processor architecture are you using?

3. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.

4. What did you expect to see?

5. What did you see instead?

[2018-04-18 05:42] #2968 closed

[2018-04-18 06:03] yanyanqing opened #2969 "for test sync"
Please answer these questions before submitting your issue. Thanks!

1. What version of Rust are you using (`rustc --version`)?

2. What operating system and processor architecture are you using?

3. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.

4. What did you expect to see?

5. What did you see instead?

[2018-04-18 06:05] yanyanqing commented on #2969
for test sync

[2018-04-18 06:07] #2969 closed

[2018-04-18 06:45] breeswish opened #2970 "Replace Remaining CpuPool with FuturePool"
`util::futurepool::FuturePool` is our high level wrapper around the CpuPool, provides some extra functionalities like ticks and metrics. There remains some usage of CpuPool in the code and we can safely replace it with the FuturePool to gain these advantages. In addition, when we are upgrading and optimizing CpuPool in future, we only need to update the implementation of FuturePool.

[2018-04-18 06:53] breeswish opened #2971 "test_serde_custom_tikv_config is not working as intended when there are skipped serializations"
In test_serde_custom_tikv_config, we serialize the config and deserialize again to check whether nor not they are equal, which is fine in most cases but will cause problems when there are serialization-skipped fields, for example, the deprecated `end_point_concurrency`. To workaround it, we have to set `end_point_concurrency` to the default value, but in this case we will miss the test of deserial

[2018-04-18 08:53] overvenus commented on #2971
Sounds like this one, does `#[serde(skip_serializing)]` help?
https://github.com/pingcap/tikv/blob/133d34e3c0e6ed405c731d1cbf7ffea750aed369/src/raftstore/store/config.rs#L113

[2018-04-18 09:48] breeswish commented on #2971
@overvenus No, in fact `skip_serializing` is the root cause of this issue.

For example, suppose we have a struct contains field `foo` and `bar`, in which `foo` is `skip_serializing`: `{ foo: "a", bar: "b" }` and the default value is `{ foo: "default_a", bar: "default_b" }`.

When we serialize `{ foo: "a", bar: "b" }` and deserialize again, we will get `{ foo: "default_a", bar: "b" }` thus the tes

[2018-04-19 03:27] breeswish opened #2976 "Improve split check"
In a TPCC benchmark we observed that split check becomes the bottleneck.

[2018-04-19 03:30] BusyJay commented on #2976
Any details? Did it cause too much resources? Or was it too slow? Or was it inaccurate?

[2018-04-19 09:05] siddontang opened #2977 "conf: Raft wal-bytes-per-sync is in the wrong place"
see https://github.com/pingcap/tikv/blob/master/etc/config-template.toml#L435

The config should belong to `[raftdb]`, not `[raftdb.defaultcf]`

[2018-04-19 09:49] breeswish opened #2979 "Setup CircleCI 2.0 and sccache"
CircleCI 2.0 along with sccache provides more precise control about caching and reusing compiled results. It should be helpful to reduce CI time

[2018-04-20 06:15] adiu opened #2982 "tikv-server 启动不了"
公司内网配置三台测试机部署情况如下：
192.168.0.202 pd tikv
192.168.0.203 pd tikv
192.168.0.208 pd tikv tidb

192.168.0.202 数据目录被删除
日志如下:

[code]

[2018-04-20 06:59] BusyJay commented on #2982
Do you mean the data directory is deleted on purpose?

The panic message means some logs are missing. A power failure happened probably. You can prevent such failure from happening again in the future by setting sync-log to true. To recover from the panic, you need to either use tikv-ctl to destroy the corrupt region or just start TiKV from a complete clean directory. PD will rebalance data if quo

[2018-04-20 07:05] adiu commented on #2982
运维失误删除数据，能否指导一下怎么使用tikv-ctl解决这个问题？

[2018-04-20 07:17] yanyanqing opened #2983 "for test sync"
Please answer these questions before submitting your issue. Thanks!

1. What version of Rust are you using (`rustc --version`)?

2. What operating system and processor architecture are you using?

3. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.

4. What did you expect to see?

5. What did you see instead?

[2018-04-20 07:17] yanyanqing commented on #2983
for test_sync

[2018-04-20 07:24] BusyJay commented on #2982
If the other two nodes are still alive, it's highly recommended to start a new instance of TiKV from a clean directory and put the corrupted instance to offline. As it's the most simple way to recover.

Otherwise you can also use pd-ctl to remove the corrupted peer from the region, and then use tikv-ctl to set the region to tombstone on the corrupted node and then start TiKV again. The functionali

[2018-04-20 07:33] adiu commented on #2982
@BusyJay 已经使用pd-ctl 移除出问题的节点 ，使用tikv-server都停机了，就是不会使用tikv-ctl把损坏的点移除，能否指导下tikv-ctl的使用？

[2018-04-20 07:37] BusyJay commented on #2982
`tombstone` subcommand is what you want.

[2018-04-20 07:49] adiu commented on #2982
@BusyJay 现在的问题是1台机丢失数据，其它两台几启动tikv-server报上面的错误。现在想恢复数据有可能么？
[code]
执行上面的命令告诉我 2 和 8两个 region 都损坏了。

`./bin/tikv-ctl --db /data/tikv/db/ --raftdb /data/tikv/raft/ tombstone -p http://192.168.0.203:2379 -r 2`
`./bin/tikv-ctl --db /data/tikv/db/ --raftdb /data/tikv/raft/ tombstone -p http://192.168.0.203:2379 -r 3`
这两条命令可以修复数据？

[2018-04-20 07:57] BusyJay commented on #2982
It depends. And **don't** execute such two commands now, they will delete all data of the specified regions on the node eventually. What `bad-regions` says about the other instance?

[2018-04-20 08:02] adiu commented on #2982
@BusyJay
总结一下
192.168.0.202 数据丢失
192.168.0.203 192.168.0.208 两台tikv-server启动报以上错误
有可能恢复数据么？

[2018-04-20 08:08] studyingwang opened #2984 "tikv-importer 怎么使用？有没有相当文档？"
Please answer these questions before submitting your issue. Thanks!

1. What version of Rust are you using (`rustc --version`)?

2. What operating system and processor architecture are you using?

3. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.

4. What did you expect to see?

5. What did you see instead?

[2018-04-20 08:12] hicqu commented on #2982
Please run `tikv-ctl --db /data/tikv/db/ --raftdb /data/tikv/raft/ bad-regions` on these 2 stores. Let's see there is simple way to recover them or not.

[2018-04-20 08:26] adiu commented on #2982
@hicqu
192.168.0.203:
[code]
192.168.0.208:
[code]

[2018-04-20 08:29] hicqu commented on #2982
`tikv-ctl` in master branch is not enough to handle this. I can send a PR to add this feature.

[2018-04-20 08:31] adiu commented on #2982
谢谢~ 怎么联系？发我邮箱吧！adiu1@qq.com

[2018-04-20 16:11] BusyJay commented on #1243
Split check is checked every 10s, assume a region write 10MB/s, then after 10 seconds, the region becomes 100MB. If scan is slow, the interval can be larger. So I think we still need this feature to support high load.

[2018-04-21 21:22] jrmuizel opened #2986 "Add a comparison to FoundationDB"
It would be nice to know how tikv compares to the newly open sourced FoundationDB.

[2018-04-22 05:10] siddontang commented on #2986
Hi @jrmuizel

I browse FoundationDB source code and documents quickly and find some differences, but can't cover all:

1. FoudnationDB uses Sqlite3 as its backend engine, TiKV uses RocksDB. I haven't done a benchmark for these two engines, so I can't tell whether is better or not.
2. FoundationDB uses a centralized transaction authority server to handle transactions and uses Paxos for the authorit

[2018-04-22 05:44] Hoverbear commented on #2961
@xinxinsh Did this resolve the issue?

[2018-04-23 12:54] BusyJay opened #2989 "Read trait may not be sufficient enough"
When using `Read` trait, the bench result shows:
[code]
When access slice directly with some branch optimization, it becomes:
[code]
`deocde_var_u64` is a heavily used function, which often shows up in the flamegraph. Its performance matters a lot. We may need to rewrite all the codec functions to access slice directly.

[2018-04-24 10:53] ddorian opened #2991 "Feature to not split ranges based on size-bounded key-prefixes for nicer performance"
When you know that your ranges won't grow too big, you may want to be sure a given key-prefix will always be 1 one range, for nicer write transactions (single server/region) and nicer read (single server).

When you have a set with 10 values, you keep it in 1 kv serialized. A set with 100K values, you keep it in 1 range. An unbounded set that can forever grow, you allow it to split for horizontal

[2018-04-24 10:59] ddorian commented on #2986
4. TiKV has coprocessors while FDB doesn't.
5. FDB has more clients (and easier C-based clients), TiKV has only Golang client (and easier not-C based clients).
6. FDB is single-process-core (ability for more efficient architecture, based on seastar/voltdb/redis designs) while TiKV multi-thread.
7. TiKV has mysql & redis(experimental) layers. Designs of these will help in building your own layers o

[2018-04-24 11:04] ngaut commented on #2991
Yes, that make sense, since tikv has supported plugable  coprocessor, you can do almost everything you want.

To add you own split strategy, you can build a customize coprocessor(split checker), please ref https://github.com/pingcap/tikv/blob/master/src/raftstore/coprocessor/split_check/half.rs#L78

[2018-04-24 11:49] #2991 closed

[2018-04-25 15:29] UncP opened #2992 "no coprocessor stream request timeout?"
Should we add timeout check for stream request in dag.rs?

[2018-04-27 05:41] breeswish opened #2999 "Bind port only right before server start"
Currently the listen port is bind long before start, so that checking TiKV running according to port is not reliable. We need to bind the port right before the server starts.

[2018-04-27 08:07] rushmorem commented on #2986
Does TiKV have something similar to [FoundationDB's watches](https://apple.github.io/foundationdb/developer-guide.html#watches)?

[2018-04-27 17:08] breeswish commented on #2989
The buffer length is checked every time for a `read()`. The underlaying data is copied multiple times as well. These operations can be definitely eliminated by avoid using the reader style.

[2018-04-28 02:46] huachaohuang commented on #2984
Thanks for attention, tikv-importer is still experimental and not totally open source yet, and also lack of official document now. But don't worry, it will be available soon, I will let you know when it is ready.

[2018-04-28 07:01] yanyanqing opened #3007 "for test"
Please answer these questions before submitting your issue. Thanks!

1. What version of Rust are you using (`rustc --version`)?

2. What operating system and processor architecture are you using?

3. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.

4. What did you expect to see?

5. What did you see instead?

[2018-04-28 07:03] #3007 closed

[2018-04-28 07:12] yanyanqing opened #3008 "for test"
Please answer these questions before submitting your issue. Thanks!

1. What version of Rust are you using (`rustc --version`)?

2. What operating system and processor architecture are you using?

3. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.

4. What did you expect to see?

5. What did you see instead?

[2018-04-28 22:02] Hoverbear commented on #252
#2942 enabled this! It's minimal right now but I think this particular issue can be closed.

[2018-04-28 22:02] #252 closed

[2018-04-28 22:04] Hoverbear commented on #966
I'm going to close this issue since it's two years old and does not represent a task that can be "completed", instead it represents ongoing work. Feel free to re-open it if you have a differing opinion. :)

[2018-04-28 22:04] #966 closed

[2018-04-28 22:08] Hoverbear commented on #1396
@spitfire2 Currently the only client is the Go client, however you're welcome to implement or work on your own. I'm going to close this issue for now as this is an answered question. Feel free to re-open it if you think this was not addressed.

[2018-04-28 22:08] #1396 closed

[2018-04-30 15:40] Hoverbear commented on #2986
@ddorian TiKV also has a spark layer. :wink:

[2018-04-30 18:55] ddorian commented on #2986
Yep. Better olap and better long running queries.

[2018-04-30 19:13] Hoverbear commented on #2999
:+1: Great catch.

[2018-05-02 12:58] codeworm96 opened #3012 "Coverage badge outdated"
Please answer these questions before submitting your issue. Thanks!

1. What version of Rust are you using (`rustc --version`)?
N/A

2. What operating system and processor architecture are you using?
N/A

3. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.
Just look at the coverage badge

4. What did you expect to see?
It shows the cove

[2018-05-02 13:00] ngaut commented on #3012
Thank you, please feel free to do it.

[2018-05-02 19:53] ehiggs opened #3015 "Support CompareAndSet"
A common action in key value stores is compare-and-set. This prevents race conditions for things like counters where you need to get a value, increment it, and then set it again. This is also more performant because you don't need to look up the key twice.

Rocksdb supports this primitive but calls it Merge:
https://github.com/facebook/rocksdb/wiki/Merge-Operator

I don't see this operation in the

[2018-05-03 03:50] overvenus commented on #2761
The `gRPC` part in TiKV is done. #2780

[2018-05-03 06:41] BusyJay commented on #3015
It's not supported yet. We don't have an urgent request for that, but we are open for a PR.

Using merge operator for it is a little bit overweight. I think it's enough to add it as a new `CmdType` and handle it in raft apply level.

/cc @zhangjinpeng1987

[2018-05-03 07:40] overvenus opened #3019 "Test test_node_stale_peer_without_data_right_derive_when_split fails"
[code]

The log: https://circleci.com/api/v1.1/project/github/overvenus/tikv/385/output/17/0?file=true

[2018-05-04 01:50] q96456 opened #3021 "compile on Mac"
1. What version of Rust are you using (`rustc --version`)?
rustc 1.27.0-nightly (8a37c75a3 2018-05-02)

2. What operating system and processor architecture are you using?
10.13.2 (17C88)

3. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.

4. What did you expect to see?
build success

5. What did you see instead?
[code]

[2018-05-04 02:33] zhangjinpeng1987 opened #3022 "Change region size to 1024MB, all gRPC requests failed"
When I changed TiKV's region size to 1024MB, all tidb-server's grpc requests to tikv-server failed.
[code]
Seems somewhere use a wrong message size limitation?

[2018-05-04 02:34] BusyJay commented on #3022
Did you configure it right? What tikv said about region size when started up?

[2018-05-04 04:15] Hoverbear commented on #3021
Hi! Please verify that you have `go` installed as it appears `boringssl`'s `cmake` wants it.

[2018-05-04 04:46] Hoverbear opened #3025 "Reflect that `from_hex` is failable"
Related to https://github.com/pingcap/tikv/pull/2873#discussion_r185096461.

During work on #2873 we discovered that `from_hex` is failable:

https://github.com/pingcap/tikv/blob/d90bc6d00234069e58308406d832f4d2f617f8ac/src/bin/tikv-ctl.rs#L1355-L1361

Note how we are calling `unwrap` on the final line, and that the function returns a `Vec<_>` instead of a `Result<Vec<_>, _>`.

This is not idiomat

[2018-05-04 04:48] q96456 commented on #3021
I can't understand what I should install. boringssl's cmake?

[2018-05-04 04:50] Hoverbear commented on #3021
Ah, I'm sorry. Please make sure you have `go` (as in https://golang.org/) installed.

If you're on Mac and using homebrew this should be sufficient:

[code]

[2018-05-04 04:56] Hoverbear commented on #3015
I think this is certainly a valid use case and a desirable function to support!

If anyone would like to work on this this, we can provide some guidance on how to get started and support you through the process. Otherwise, this is something that I imagine arriving eventually.

(If you're someone looking for this to, please add a :+1: to the root issue comment so we can gauge interest, feel free to

[2018-05-04 04:59] siddontang commented on #3022
why changing to 1024MB?

[2018-05-04 05:02] q96456 commented on #3021
It's ok.Thanks!

[2018-05-04 05:03] Hoverbear commented on #3021
That fixed it? Great! Feel free to open another issue if you have more problems. I'm trying to get an idea of where the kinks are in our READMEs so it's helpful for me too!

[2018-05-04 05:03] #3021 closed

[2018-05-04 22:38] siddontang commented on #2992
any update @hicqu

[2018-05-07 02:33] AndreMouche opened #3031 "test: test_raft failed frequently on CI"
hi,
     `test_raft` failed frequently on CI with following details(https://circleci.com/gh/pingcap/tikv/9927?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link):
[code]

@overvenus PTAL

[2018-05-07 05:12] ngaut opened #3032 "Improve performance of decoding table row"
Currently we are heavily depends of HashSet and HashMap while decoding a row(cut_row), which do some unnecessary allocation and hash computing. Since the key is always i64/u64, and the element count is small. we can implement a highly optimize/customize a HashSet/HashMap with a internal vector.

[2018-05-07 05:48] BusyJay commented on #3032
It depends on the number of columns. After changing from fnv to fx hash, the cost of hash can be negligible.

[2018-05-07 15:53] breeswish commented on #2959
We have not met this issue since the commit above. Closing. If you still facing this problem please leave a comment.

[2018-05-07 15:53] #2959 closed

[2018-05-07 15:54] breeswish commented on #2961
The issue should have been fixed according to the comments above. Closing. If you still face this issue please leave a comment and we will take a deeper look.

[2018-05-07 15:54] #2961 closed

[2018-05-07 15:58] breeswish commented on #2615
We are using a relatively new nightly version now thanks to @Hoverbear 's job. Closing :)

[2018-05-07 15:58] #2615 closed

[2018-05-07 16:02] breeswish commented on #2729
We can also change it into a library (i.e. python) so that we can directly write scripts.

[2018-05-07 19:04] siddontang opened #3034 "use a fast and workaround way to relieve the problem of Dropping Table/Index, etc, temporarily"
Now when the user drops table/index, etc, the internal DeleteRange command will block the apply worker and cause a high latency for the cluster.

Although we have #2960 to solve the problem, this PR may still be tested for a long time. Now we have been OnCall for this problem many times and I think we need to find an easy but not perfect way to work around it.

We know that the DeleteRange contain

[2018-05-07 19:08] Hoverbear opened #3035 "Implement logfile rotation by size"
After #3010 is merged we'll be doing our logging on another thread and using `slog` instead of `log`. This is excellent, and `slog` almost fulfills our needs, except there is no file rotation.

This feature is desirable because it lets us prevent log files becoming huge. This has been a problem previously in high load deployments.

We should alter the rotating file logger in `src/util/file_log.rs`

[2018-05-08 01:07] zhangjinpeng1987 commented on #3034
Previously i implemented a branch to use a individual thread to handle DeleteRange(Cleanup stale ranges) asynchronously.
1) Apply worker send a cleanup task to a persistent task queue after step 1. DeleteFilesInRanges.
2) Cleanup worker consume cleanup stale task, handle step 2 asynchronously.
I think this is more clear and simple, i prefer this solution.

[2018-05-08 05:02] siddontang commented on #3034
Cool, we can use this as a workaround way now.

[2018-05-08 06:47] breeswish opened #3038 "Use protobuf enums to replace coprocessor constants like REQ_TYPE_DAG"
Due to historical reasons, we are using standalone constants like REQ_TYPE_DAG, REQ_TYPE_ANALYZE and REQ_TYPE_CHECKSUM. This can be replaced by embedding enums in the protobuf file. This change can help simplify our code and make TiKV & TiDB source more consistent.

Note:

1. To complete this task, you need to update TiDB as well.
2. Because this is a breaking change, we may not merge the PR immed

[2018-05-08 06:51] breeswish opened #3039 "Utilize `oneof` in the protobuf"
Due to historical reasons, we are implementing our own `oneof` in coprocessor. For example, the `coprocessor::Request` protobuf message contains a `data: Vec<u8>`, which is the serialized message data for different kind of requests.

By using `oneof`, we can avoid deserialize two times (1 for message in `Request` and 1 for message in `Request.data`), which can eliminate memory copies and make code

[2018-05-08 07:00] BusyJay commented on #3038
I don't think it's a good idea. This doesn't provide enough benefits while breaks a lot of things.

[2018-05-08 07:12] BusyJay commented on #3039
/cc @coocood PTAL

Actually it's either deserialized by the library or by ourself.

[2018-05-08 07:16] breeswish commented on #3039
@BusyJay Yes, I mean, there is extra byte copies.

[2018-05-08 09:15] breeswish opened #3041 "Assign thread priorities for read pool"
According to an internal benchmark in TiSpark, when a specific thread pool's load keeps high (i.e. normal-priority thread pool in coprocessor), other threads does not have much chance to be scheduled.

Currently our "high priority" pool does not have high priority in fact. By assigning real thread priorities via syscalls to these threads we may get more in-time responses for high priority threads.

[2018-05-08 10:40] lerencao opened #3042 "tikv_engine_seek duration is too high"
Please answer these questions before submitting your issue. Thanks!

1. What version of Rust are you using (`rustc --version`)?

[code]

2. What operating system and processor architecture are you using?

[code]

[code]

3. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.

KV's seek duration of a tikv server goes very high, about 1 orde

[2018-05-08 11:11] hicqu commented on #3042
Seems your TiDB has lots of old version records. Is there any `UPDATE` queries?

[2018-05-09 01:16] zhangjinpeng1987 commented on #3034
After discussing with @BusyJay , we came to a better solution:
1) TiKV only do DeleteFilesInRanges that mentioned above.
2) Instead of delete the key range from system table `mysql.gc_delete_range` after DeleteRange requests have been done, we mark these key ranges as `done` status.
3) After TiKV has fix the issue of applying cleanup a range will block apply worker(apply pool), resume the original

[2018-05-09 04:48] siddontang opened #3044 "thread 'raftstore::store::util::tests::test_lease' panicked at 'assertion failed"
[code]

Cc https://github.com/pingcap/tikv/pull/2993#issuecomment-386187785

[2018-05-09 05:41] overvenus commented on #3044
The backtrace:

[code]

And the link: https://circleci.com/gh/Librazy/tikv/27?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-05-10 02:03] AndreMouche opened #3047 "tests: test_storage_1gc failed"
hi,
   `test_storage_1gc` failed randomly on CI with the following details:https://circleci.com/gh/pingcap/tikv/9997?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[code]

[2018-05-10 05:35] breeswish commented on #3047
Seems that our working threads are sometimes not yet ready at that moment.

[2018-05-10 07:58] overvenus commented on #3044
Okay, after I applied the patch,

[code]

I got a panicking message:

[code]

The `duration` is 1.5s (the lease is 1.5s too), so the thread is put to sleep
at least 1.5s [0], but the message says it only slept 1.49s. It smells like
clock jumps back. The clocksource is `kvm-clock` in the circle VM.

[0] http://pubs.opengroup.org/onlinepubs/9699919799/functions/nanosleep.html

[2018-05-10 11:27] lerencao commented on #3042
Yes, you're right. `update` is frequency.
After I increased the gc concurrency from default 1 to 3, the seek time recovered, and the total gc time decreased from dozens of minutes to several minutes.

Thanks very much!

[2018-05-10 12:13] breeswish opened #3056 "Coprocessor default read pool size may not taking effect"
For the following config, it works:

[code]

For the following config, it breaks:

[code]

[2018-05-10 12:41] breeswish commented on #3056
Opened an issue in serde: https://github.com/serde-rs/serde/issues/1254

If serde can solve this issue it would be great. However if it is "won't fix", we need workarounds.

[2018-05-10 13:08] BusyJay commented on #3056
That's why there are three different structs for three rocksdb cfs' configuration.

[2018-05-10 13:10] BusyJay commented on #3056
Looks like some tests are missing.

[2018-05-10 13:14] breeswish commented on #3056
@busyjay Yes, I'm proposing a PR to fix this with some tests for default values.

[2018-05-12 03:17] EighteenZi opened #3065 "'How to use TiKV' is now unavailable"
The linkage under 'How to use TiKV' is unvailable now, it leads to a 404 error page.

[2018-05-12 06:44] sanxiyn opened #3066 "Use rust-toolchain file instead of RUST_VERSION"
[The toolchain file](https://github.com/rust-lang-nursery/rustup.rs#the-toolchain-file) is the standard way to specify such information supported by rustup.

This is not a pull request because I don't know how to handle Jenkins CI...

[2018-05-12 11:48] BusyJay commented on #3066
/cc @Hoverbear PTAL

[2018-05-13 16:31] Hoverbear commented on #3066
Thanks for raising this @sanxiyn. I'll tackle this. :)

[2018-05-14 03:55] EighteenZi commented on #3065
I am investigating the TiKV, to get it used in our applymentation to replace another KVDB.

Is there anybody who can help me? Or give me a new weblink?

Thanks a lot.

[2018-05-14 07:41] EighteenZi commented on #3065
@gregwebs @weekface @guanqun @andelf @mccxj
May you help me on this?

[2018-05-14 07:50] BusyJay opened #3067 "Check compatibility with protobuf 1.6"
Protobuf 1.6 set unrecognized enum value to unknown field values. TiKV currently doesn't handle any unknown field values, that means when rolling upgrading tikv, it's possible that different instances can get different apply results if they are using different protocols. It's not an issue in the past (and now), because previous version will panic directly, so new command type won't be dropped as e

[2018-05-14 21:44] Hoverbear commented on #3065
Hi @EighteenZi!

I'm sorry the link is broken. I see that the link you're speaking about is in the [FAQ](https://github.com/pingcap/tikv/wiki/TiKV-FAQ) which hasn't been updated for a few years.

@queenypingcap Do you happen to know where the document in question is?

[2018-05-14 22:38] Hoverbear commented on #2729
I've seen things like Terraform provide a shell-type interface that you can pipe commands into. Is this what you mean? Or as in have it accept some sort of a DSL?

[2018-05-14 22:40] Hoverbear commented on #3042
@lerencao I'm glad you resolved this! I'm going to close this issue, please feel welcome to reopen the issue if you experience more problems.

[2018-05-14 22:40] #3042 closed

[2018-05-14 22:45] Hoverbear commented on #3038
Let's discuss if this is a good action before asking folks to tackle it. :)

[2018-05-15 03:55] queenypingcap commented on #3065
Hi @EighteenZi ,
I have fixed the link and now it points to [TiDB Quick Start Guide](https://github.com/pingcap/docs/blob/master/QUICKSTART.md). Sorry about the broken link. Just in case you are interested, we are now working on a separate document for TiKV as well.

[2018-05-15 12:42] #3056 closed

[2018-05-15 16:38] Hoverbear commented on #3065
@queenypingcap Unfortunately that topic is more about how to use TiDB. :(

This ticket won't

[2018-05-15 18:01] Hoverbear opened #3077 "Docker images aren't updating"
It seems like https://hub.docker.com/r/pingcap/tikv/ and https://hub.docker.com/r/pingcap/rust/ aren't building as we might expect them to. For example the `pingcap/rust` is still using `rustc 1.25.0-nightly (73ac5d6a8 2018-01-11)`

[2018-05-16 02:22] siddontang opened #3079 "raftstore_cases::test_split_region::test_server_apply_new_version_snapshot' panicked"
[code]

[2018-05-16 02:23] siddontang opened #3080 "'raftstore_cases::test_split_region::test_node_base_split_region_left_derive' panicked"
[code]

[2018-05-16 03:07] EighteenZi commented on #3065
@Hoverbear ,yes ,i have saw the guide, it is more about TiDB.
What i need is a KVDB, not a SQLDB. I want to use TiKV seperately. :(

[2018-05-16 06:15] queenypingcap commented on #3065
@EighteenZi We are working on it. Will update this issue when it's done.

[2018-05-17 08:07] #2939 closed

[2018-05-17 17:08] Hoverbear commented on #3065
@EighteenZi I do too! :)

[2018-05-17 18:34] Hoverbear commented on #3065
@EighteenZi I did find this example to get your started if you're feeling impatient. :)

[code]

[2018-05-18 02:25] EighteenZi commented on #3065
@Hoverbear
Thanks a lot.
The example above shows usage of inserts and gets of TiKV , and i can have a try.

The language is Go, Is there some Rust examples?

[2018-05-18 07:15] breeswish opened #3083 "Periodically log stack traces"
Currently when we find out that TiKV was using unreasonable high CPU resources, we can only try to infer the cause by looking at metrics and logs. However sometimes this won't work , for example, library bugs. Flamegraphs won't work as well for non-reproduceble issues.

If we can trace the application stack periodically, with a not-too-small interval (let's say, 1 minute), we may able to locate th

[2018-05-18 07:33] breeswish commented on #3066
Good catch! I like this solution.

[2018-05-18 14:55] gregwebs commented on #3065
There are only Go and Java drivers written right now. I am hoping a Rust driver will materialize in the near future.

[2018-05-18 14:58] siddontang commented on #3065
@gregwebs

I discussed it with @Hoverbear this morning, and he will start it soon.

[2018-05-19 13:00] siddontang commented on #3083
you can use systemtap to do it directly.

[2018-05-19 13:02] siddontang opened #3085 "increase the metric time for snapshot send"
![image](https://user-images.githubusercontent.com/1080370/40268847-ded17ccc-5ba7-11e8-9e33-cb13213402dd.png)

as we can see, the max snapshot sending time is 10s, we need to increase the metrics

[code]

[2018-05-20 12:05] oli-obk opened #3090 "Use `cargo clippy` instead of the clippy plugin"
We're planning on removing the clippy plugin interface, because rustc will remove it someday anyway. All that is required on your end is to remove the clippy feature and replace all cfgs that depend on it with the `cargo-clippy` feature which is automatically enabled by cargo clippy.

So you can then use `cargo clippy` instead of `cargo build --features=clippy`. Note that cargo clippy requires a `

[2018-05-20 12:06] siddontang commented on #3090
Thanks @oli-obk

PTAL @Hoverbear

[2018-05-20 17:10] BusyJay opened #3092 "Unsafe recover should only drop some nodes instead of all down nodes"
For example, A region contains six nodes a, b, c, d, e and f, a is leader. If a, b and c are down forever, we need to just delete two nodes instead of all three nodes. It's possible that just a, b, c and d share the committed log. If a, b, c are deleted, d's committed log can be overridden if e or f becomes leader. Note that d may even not know that a has committed the log, so the cluster can run

[2018-05-21 04:32] breeswish commented on #3083
Yes, but it would be better to do it in userland, i.e. without special privileges, so that it can be always carried with our application.

[2018-05-21 10:26] BusyJay commented on #3092
It's not fixed yet.

[2018-05-22 05:01] breeswish opened #3100 "last_tikv.toml may break"
when last_tikv.toml has different field types, TiKV should not panic: `thread 'main' panicked at 'invalid auto generated configuration file "/data1/bjbank/tidb_cluster/tikv2/d
ata/last_tikv.toml"`.

[2018-05-22 08:51] overvenus commented on #3012
Hi @codeworm96 !

We have merged #2993 in the last week, I think you can go on. We used to have a coverage report, #613, maybe it would help. Or you can try something new, the [tarpaulin](https://github.com/xd009642/tarpaulin). Let me know if there's anything I can do. :)

[2018-05-22 14:30] breeswish opened #3101 "Update tune-tikv.md"
it is outdated. some new changes in config are not in this doc.

[2018-05-23 04:13] breezewish opened #3103 "Add .99 metrics for coprocessor"

[2018-05-23 09:43] codeworm96 commented on #3012
I have started working on [this](https://github.com/codeworm96/tikv/tree/coverage), and successfully made the kcov run. But I failed to upload the result to coveralls (TRAVIS_JOB_ID is not available any more), coveralls has little document about integration with CirclesCI. I think I need some time to solve the problem.

tarpaulin sounds like a good choice, I will have a try.

BTW, can we try some

[2018-05-25 04:59] overvenus commented on #3012
FYI, I tested tarpaulin with codecov and circleci, they work smoothly, a simple example can be found at https://github.com/overvenus/keygraph-rs/pull/1 .

[2018-05-28 10:36] siddontang opened #3114 "raft: seem no need to save raft state every time when commit changed"
From Raft dissertation "3.8 Persisted state and server restarts", it says we must persist vote and team, but no need to save commit index.

So maybe an optimization is to remove the last index from LocalRaftState (we can get the last index from RocksDB), and then we can only persist LocalRaftState if vote and term changed.

This can reduce a key written mostly.

[2018-05-29 03:41] codeworm96 commented on #3012
Cool. After applying some workaround (https://github.com/xd009642/tarpaulin/issues/112),
tarpaulin works fine. I also tried kcov, but it seems have more overhead and is more likely to make tests timeout and fail.

I may split the coverage calculation in a separated job in a following commit, since it takes a long time. And the badge should be replaced with codecov badge, too.

[2018-05-29 08:56] #3034 closed

[2018-05-29 09:00] BusyJay commented on #3100
That means we should never change a field's type after releasing. Add a new field instead.

[2018-05-29 09:00] #3100 closed

[2018-05-29 09:04] BusyJay commented on #3083
It feels odd to implement such feature. Is it a common behavior that other similar products also implement? Can pstack solve your problem?

[2018-05-29 10:08] siddontang opened #3118 "doc: how to modify the configuration dynamically"
Now we support changing some configurations dynamically, but we have no documents to tell the user how to use it.

We should add it https://github.com/pingcap/docs/blob/master/tools/tikv-control.md

[2018-05-30 05:36] siddontang opened #3121 "sending messages in batch"
I wrote a simple test for gRPC - send 10 msgs with buffer hint and send one msg which contains 10 msgs in batch.

The proto is:

[code]

The server implementation is very easy - receive all messages and reply one Done msg.
The client looks:

[code]

Then I use `num = 100000` for test and get the result:

[code]

As you can see, using batch can reduce the total time too much, maybe 5 times shorter.

[2018-05-30 08:57] breeswish commented on #3083
Actually TiDB directly provides a feature to grab current stack traces. However after investigation it seems to be difficult to implement this feature inside TiKV. pstack should be a nice replacement. We can implement it in ansible.

[2018-05-31 12:43] Hoverbear commented on #3090
Thanks for telling us @oli-obk ! We'll migrate. :) Assigning myself to keep track of this but if someone else wants to tackle it I'm happy to give it up or help out.

[2018-05-31 12:53] oli-obk commented on #3090
If you want a "seamless" transition, you can use `RUSTC_WRAPPER=clippy-driver CLIPPY_TESTS=true cargo $somecommand`, which will basically replace your `rustc` with a `rustc` that has clippy built into it.

We're working on improving the experience around that.

[2018-05-31 15:08] pxps commented on #3092
I don't know how your raft library solves the problem in paragraph 5.4.2. My solution is to add some restrictions on the response of the requstvote RPC.

[2018-05-31 15:53] BusyJay commented on #3092
This is not the same problem in 5.4.2. Raft itself guarantees that logs committed from last term will never get overwritten as long as majority still alive. However the problem described here is at least half of the nodes are down and ruined forever that those nodes have to be removed from the meta manually. This case can't be solved by raft itself automatically, extra effort is required.

A node

[2018-05-31 16:31] pxps commented on #3092
On this issue, I think there are two solutions. First, add a coordination layer on the PD. Second, Raft guarantees that each submitted log can be saved to most of the nodes. As long as the people who have all the logs are running successfully, I can do it. Of course, further testing is needed after implementation. I am particularly interested in this question and have the opportunity to chat by ph

[2018-06-01 00:31] siddontang opened #3129 "test failpoints_cases::test_snap::test_generate_snapshot failed"
[code]

[2018-06-01 02:22] siddontang commented on #3092
hi @pxps

Seem that the node will response a reject message.

[2018-06-01 02:22] siddontang commented on #3092
hi @pxps

Seem that the node will response a reject message.

[2018-06-01 02:39] siddontang opened #3130 "test: thread 'raftstore_cases::test_merge::test_node_check_merged_message' panicked"
[code]

[2018-06-02 17:21] Hoverbear commented on #3065
Indeed, a Rust based driver is on my roadmap now. :)

[2018-06-02 23:56] #3085 closed

[2018-06-03 13:00] queenypingcap commented on #3065
@EighteenZi The TiKV document is finished. See https://pingcap.com/docs/tikv/tikv-overview/ for more information.

[2018-06-03 20:35] maninalift opened #3134 "small readme typo"
The readme has "RDMBS" instead of "RDBMS". Apologies for submitting an issue not a pull request, on my phone.

[2018-06-04 02:37] EighteenZi commented on #3065
Awesome!!  I am so excited!
I'll read it.

[2018-06-04 02:49] EighteenZi commented on #3065
@Hoverbear , Once the rust based driver is OK, pls remind me if it's convenient to you.
Thanks.

[2018-06-04 06:36] yanyanqing opened #3138 "for test sync"
Please answer these questions before submitting your issue. Thanks!

1. What version of Rust are you using (`rustc --version`)?

2. What operating system and processor architecture are you using?

3. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.

4. What did you expect to see?

5. What did you see instead?

[2018-06-04 06:37] #3138 closed

[2018-06-04 06:42] yanyanqing opened #3139 "for test sync"
Please answer these questions before submitting your issue. Thanks!

1. What version of Rust are you using (`rustc --version`)?

2. What operating system and processor architecture are you using?

3. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.

4. What did you expect to see?

5. What did you see instead?

[2018-06-04 06:50] #3139 closed

[2018-06-04 07:29] hicqu opened #3140 "Upgrade dependency grpcio."
grpcio 0.3 is released. We need to upgrade it.

[2018-06-04 07:36] BusyJay commented on #3130
It's caused by disk stall write and new elections, which is expected.

[2018-06-04 07:36] #3130 closed

[2018-06-04 07:55] overvenus opened #3141 "TiKV needs to reorganize bin directory for auto discovery"
Latest Cargo warns:
[code]

[2018-06-04 11:12] #3032 closed

[2018-06-04 11:14] #2851 closed

[2018-06-04 11:14] #1843 closed

[2018-06-04 15:21] Hoverbear commented on #3114
Perhaps this belongs on the raft-rs repo?

[2018-06-04 17:05] breeswish opened #3146 "Reduce dependency version conflicts"
In [Cargo.lock](https://github.com/pingcap/tikv/blob/master/Cargo.lock) we can see many dependencies have multiple versions, for example, bitflags has occurred 4 times and lazy_static has occurred 3 times. Mostly, we can resolve this by updating some dependencies.

[2018-06-04 17:29] #2979 closed

[2018-06-04 17:53] breeswish commented on #3066
@Hoverbear I added HelpWanted tag so that contributions are welcome for this as well :)

[2018-06-04 17:58] breeswish commented on #2880
As the error describes, you need to make sure that WAL logs are moved. After that, you can delete `last-config.toml` to omit this check.

[2018-06-04 18:00] breeswish commented on #2674
It is configurable in master. Closing.

[2018-06-04 18:00] #2674 closed

[2018-06-04 18:03] #2461 closed

[2018-06-04 18:04] breeswish commented on #2451
Closing. if you still have problems please re-open.

[2018-06-04 18:04] #2451 closed

[2018-06-04 18:05] breeswish commented on #2315
Closing. If you still have problems, please re-open the issue.

[2018-06-04 18:05] #2315 closed

[2018-06-04 18:06] breeswish commented on #1577
What is a storage format version key?

[2018-06-04 18:07] breeswish commented on #1532
@Hoverbear PTAL. I think this is now much easier to be implemented.

[2018-06-04 18:10] breeswish commented on #2447
Closing. If you still encounter this issue, please re-open.

[2018-06-04 18:10] #2447 closed

[2018-06-04 18:10] gregwebs commented on #3065
I added a that link to the FAQ. @queenypingcap I would suggest just having the wiki not have content but instead point to PingCAP docs so that everything is in one place. Perhaps some of the wiki FAQ content should be put under the TiKV documentation.

@EighteenZi should we close this issue now?

[2018-06-05 01:06] #1577 closed

[2018-06-05 02:55] overvenus opened #3147 "Test test_node_learner_conf_change failed"
Backtrace:
[code]

CI: https://circleci.com/gh/overvenus/tikv/509

The line fails the test:  https://github.com/overvenus/tikv/blob/f4e1903/tests/raftstore_cases/test_conf_change.rs#L620

Note that it has applied #2967 .

[2018-06-05 02:58] breeswish opened #3148 "Support dump region mvcc keys & values in tikv-ctl"
For now, in tikv-ctl, we support scanning mvcc keys & values according to the given range, and also support print region properties (like start key & end key). It will be very nice & convenient to integrate these two together so that we can also easily scan all keys & values in a region. It is very useful in debugging.

[2018-06-05 03:02] breeswish opened #3149 "Support unescape hex like keys"
Our pd-ctl produce keys in hex format, like `t\x80\x00\x00\x00\x00\x00\x00\xff\xdc_r\x80\x00\x00\x006\xff\x95\xb7\x86\x00\x00\x00\x00\x00\xfa`. We cannot unescape this format for now, which is inconvenient to be used in tikv-ctl.

[2018-06-05 03:04] breeswish commented on #3147
@Hicqu PTAL

[2018-06-05 03:09] breeswish opened #3150 "Add guides for contributors about what to start working on in README"
Now that we have two types of tags for marking issues welcoming contribution: HelpWanted and Difficulty: Easy/Medium/Hard, which is easy for the community to picking up. We can write guides about picking issues to work on and provide links to the tag filter for contributors in the CONTRIBUTE section in README to make it more friendly.

[2018-06-05 03:15] breeswish opened #3151 "Utilize the new GitHub issue template"
For now, when creating issues, we can see a predefined template, which is designed for reporting bugs. However the community (and we) may raise other kind of issues, for example, enhancement ideas and questions. We can utilize the latest GitHub multi issue template feature to handle these different type of initial templates to be more friendly.

See: https://help.github.com/articles/about-issue-an

[2018-06-05 05:50] BusyJay commented on #3149
I think they are supported already: https://github.com/pingcap/tikv/blob/master/src/bin/tikv-ctl.rs#L853.

[2018-06-05 06:01] HanibalGK opened #3152 "Use `cargo build` can't build up tikv"
rustc 1.28.0-nightly
CentOS release 6.5 (Final)

When I'm run cargo build ,that will append 'cargo publish timeouts' and 'unable to get packages from source'.

Why???

[2018-06-05 06:08] BusyJay commented on #3152
Can you provide the full output?

[2018-06-05 06:50] breeswish commented on #3149
@BusyJay They are different formats in fact..

The format pd-ctl outputs:

- printable characters are not escaped (like "_r")
- non-printable characters are in hex and has a prefix "\x".

[2018-06-05 07:08] #2475 closed

[2018-06-05 07:08] #2957 closed

[2018-06-05 07:15] breeswish opened #3153 "Document tikv-ctl region-properties"
We need to [add documentation](https://github.com/pingcap/docs-cn) for this feature: https://github.com/pingcap/tikv/pull/3122

@huachaohuang

[2018-06-05 09:11] Hoverbear commented on #1532
Yeah! I'm happy to take this on, or mentor someone if they'd like to dig in. :)

[2018-06-05 10:04] disksing commented on #3149
It is the Go format of string literals: https://golang.org/ref/spec#String_literals. And it is also the format to format a string with "%q" in Go.

[2018-06-05 10:56] HanibalGK commented on #3152
[code]
There is~   @BusyJay
Seem like my network problem?

[2018-06-05 11:33] #3153 closed

[2018-06-05 11:36] BusyJay commented on #3149
Yes. But what we are talking about is the components of TiDB project. :smiley_cat: By the way, the format we are using is also used by protobuf.

[2018-06-05 12:45] breeswish opened #3157 "`util::prefix_next` may not working as intended?"
I slightly modified our existing test case:

[code]

Adds some additional data, becomes:

[code]

now it panics, retrieved only 3 rows (row 0, row 1 and row 4).

Is this an intended behavior?

/cc @BusyJay  @AndreMouche

[2018-06-05 12:48] breeswish commented on #3149
I think definitely we need a unified format when outputting / inputting keys across all TiDB software stacks.

[2018-06-05 12:49] breeswish commented on #3152
@HanibalGK Seems that it is caused by your network connection issue. Please try again using proxies.

[2018-06-05 12:51] BusyJay commented on #3157
The provided key is invalid. @AndreMouche Maybe change the second parameter of `encode_row_key` to `i64` is better.

[2018-06-05 12:53] breeswish commented on #3157
@BusyJay What if it is an unique index?

[2018-06-05 13:23] BusyJay commented on #3157
The format of row key and index key are different. The rule only applies when the key is constructed correctly.

[2018-06-06 02:36] disksing commented on #3149
tidb and pd can parse both '\ddd' and '\xXX' format, as they are both valid string literals in Go. If a string is inside a protobuf message, the out format will be '\ddd'. Other than this, it will generally be '\xXX', because it is the default format when print a string in Go.
I did not investigate other components.These descriptions are limited to tidb and pd.

[2018-06-06 03:50] breeswish commented on #3100
Can we make tests? This is in fact a runtime error. We should be able to avoid it before release.

[2018-06-06 03:57] BusyJay commented on #3100
There are tests already. The error due to upgrade from an unstable experimental feature branch.

[2018-06-06 04:11] breeswish commented on #3100
Ok

[2018-06-06 05:12] breeswish commented on #2629
I think the foundation issue is the work scheduling strategy in thread pool. If there are many workers available, seems that the best strategy is not balanced schedule into each workers. How do you think @BusyJay

[2018-06-06 05:29] Pslydhh opened #3158 "Compiling tikv v2.1.0-alpha.1 errors"
Please answer these questions before submitting your issue. Thanks!

1. What version of Rust are you using (`rustc --version`)?
rustc 1.26.0-nightly (5508b2714 2018-03-18)

2. What operating system and processor architecture are you using?
Linux iZwz989756yjbwoyizlmxiZ 4.4.0-63-generic #84-Ubuntu SMP Wed Feb 1 17:20:32 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

3. What did you do?
If possible, provi

[2018-06-06 05:31] siddontang commented on #3158
Hi @Pslydhh
Please follow https://github.com/pingcap/tikv#configuring-your-rust-toolchain and use the specified version to build TiKV.

[2018-06-06 06:13] breeswish commented on #2629
@siddontang Our latest benchmark with TiDB shown that, with a carefully adjusted concurrency configuration, our write performance can boost > 30% as well.

[2018-06-06 08:57] breeswish opened #3160 "Performance is very bad when grpc concurrency is set to a large value"
Testing Update statement in a cluster with each host (40 core) running 6 tikv:

| GRPC Concurrency | QPS |
| ---- | ---- |
| 40 | 10000 |
| 4 | 18000 |

[2018-06-06 09:02] breeswish commented on #3157
@BusyJay Ok, so.. I think this is an intended behavior since TiDB should never build keys like this?

[2018-06-06 09:13] HanibalGK commented on #3152
Must use proxies?
My service is CentOS 6.5 ,python 2.7.3,gcc 3.8.5 have any way to deploy tidb to my cluster ? some like ansible or another way

[2018-06-06 09:18] breeswish commented on #3152
@HanibalGK If you don't want to modify source codes, of course you can use other better ways, which does not need proxies. Please refer to our doc: https://github.com/pingcap/docs-cn/blob/master/op-guide/ansible-deployment.md

[2018-06-06 11:05] overvenus opened #3162 "Test test_server_auto_adjust_replica failed"
Backtrace:

[code]

Link:  https://circleci.com/gh/overvenus/tikv/523

[2018-06-07 02:50] breeswish opened #3165 "Integrate RocksDB Perf context"
Note that perf context is thread local.

[2018-06-07 02:52] siddontang commented on #3160
can you see any big difference between them through Perf or metrics?

[2018-06-07 05:11] breeswish commented on #3160
@siddontang Context switch increased about 60% with grpc concurrency is set to 40.

[2018-06-07 12:55] BusyJay commented on #3149
OK, sounds like the simplest solution will be supporting such format in [unescape function](https://github.com/pingcap/tikv/blob/master/src/util/mod.rs#L213).

[2018-06-07 14:16] csmoe opened #3171 "bot: commenting with test failure snippet"
Add the function of commmenting with test failure snippet from ci to @sre-bot like @rust-highfive do in repos of rust-lang, such as https://github.com/rust-lang/rust/pull/51408#issuecomment-395297170

It'll be more convenient for contributors since it's a bit hard to locate the certain failure info from ci.

[2018-06-07 21:36] Hoverbear commented on #3067
Hi @hicqu is there any way I can help you with this? I see it's a dependency for #3133 which I'm working on. :)

[2018-06-08 04:28] breeswish opened #3172 "Re-design coprocessor busy detection logic"
We met a case that there are not many coprocessor requests, but with each one took a long time. In such cases, our current endpoint busy logic is not useful anymore, which presumed that requests are handled in a short time.

We need to implement a more accurate busy detection logic. For example, maybe we should use "the waiting time of the head item in the queue" to measure whether or not server i

[2018-06-08 04:29] breeswish commented on #3172
@hicqu Please kindly leave your ideas

[2018-06-08 04:30] breeswish commented on #3149
@BusyJay Yes! And it should be pretty easy to do. We can handle it to contributors.

[2018-06-08 04:38] breeswish commented on #3171
Good idea. @iamxy PTAL

[2018-06-08 06:06] #3150 closed

[2018-06-08 07:28] HanibalGK commented on #3152
Thank you~ @breeswish  it worked

[2018-06-08 07:29] #3152 closed

[2018-06-08 07:31] denghuancong opened #3174 "How to find out the migration of tikv’s data is happening？"
cluster info：
tikv:v2.0.1， docker deployment
base x86_64， centos 7.4
three tikv node deploy in three physical machine.
[code]

We want to check when add another tikv node into cluster，the cluster whether migration the region data to the new one，but look around all the doc cann't found something.
We also  want to simulate when the capacity of all the tikv node is full , and add another tikv node in

[2018-06-08 08:02] denghuancong opened #3176 "Get region size error"
base info :
tikv: v2.0.1 using docker deployment
-------------------------------------------------
I want to get the size of every region, check the doc,  using the following cmd:
[code]

[2018-06-08 10:13] breeswish commented on #3174
You can take a look at our grafana metrics, mainly pd dashboard, which will indicate how many pending regions are there, and also the region balance ratio.

[2018-06-08 10:16] breeswish commented on #3176
If you are using tikv-ctl to read a local db, you need to make sure no other RUNNING tikv is using that db. That's why this is called local mode (offline mode). You can use the remote mode (online mode) of tikv-ctl, namely, by supplying `--host` as well.

Also, you can use pd-ctl `region xxx` command to see the *approximate* size of a region online.

[2018-06-08 10:43] denghuancong commented on #3176
I run the cmd： ./tikv-ctl --host ip:10081 size -r 8 ， it show the following info, but I also don't know about the size of the region used,  Is 60MB or what ?
[code]

[2018-06-08 10:48] denghuancong commented on #3174
If we don't use grafana metrics , just using tidb/tikv/pd,  we manage the scale-out on myself, how should I know the size of one tikv node using  or the size of the tidb cluster  using?

[2018-06-08 11:06] breeswish commented on #3174
You can use pd-ctl to retrieve store (TiKV instance) sizes:

[code]

[2018-06-08 11:09] breeswish commented on #3176
The unit is in bytes. @hicqu Please take a look. Unit "B" is missing from the output when < 1MB.

[2018-06-08 13:59] siddontang opened #3180 "add a metric for ingest SST file"
We should know how much time it takes.

[2018-06-09 07:35] Pslydhh commented on #3158
@siddontang Thank you, it works.

[2018-06-09 17:30] #3158 closed

[2018-06-09 17:32] breeswish commented on #2359
The issue should have been fixed. Feel free to re-open if it still exists.

[2018-06-09 17:32] #2359 closed

[2018-06-09 17:32] #3157 closed

[2018-06-10 05:08] #3065 closed

[2018-06-10 05:31] breeswish opened #3183 "Code coverage might be broken"
https://coveralls.io/github/pingcap/tikv

As you can see, it collects from travis ci, but we are not using it. Also the file it presents does not exist.

[2018-06-10 05:41] BusyJay commented on #3183
Duplicated with #3012.

[2018-06-10 05:41] #3183 closed

[2018-06-10 14:33] #3141 closed

[2018-06-11 03:43] denghuancong commented on #3174
thanks a lot, that's  very helpful

[2018-06-11 03:43] #3174 closed

[2018-06-11 03:44] denghuancong commented on #3174
thanks a lot . very helpful !

[2018-06-11 03:50] #3176 closed

[2018-06-11 04:33] yanyanqing opened #3185 "for test label"
Please answer these questions before submitting your issue. Thanks!

1. What version of Rust are you using (`rustc --version`)?

2. What operating system and processor architecture are you using?

3. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.

4. What did you expect to see?

5. What did you see instead?

[2018-06-11 04:34] #3185 closed

[2018-06-11 07:34] breeswish opened #3186 "Output Unit "Byte" for tikv-ctl"
Currently tikv-ctl won't output the unit if the region size is < 1MB when retrieving, which may lead to confusion:

[code]

[2018-06-11 08:01] yanyanqing opened #3187 "for test sync"
TiDB:
[code]

[2018-06-11 08:02] #3187 closed

[2018-06-11 08:42] #3129 closed

[2018-06-11 09:46] denghuancong opened #3188 "Scale-out tikv node but the disk space used by tikv is not balanced"
tikv : v2.0.1
tree tikv nodes in tree physical machine

we use 'du -sh db-path' to calcuate the disk space of the tikv node using.
before we scale out one tikv node , the three tikv node a,b,c 's disk space used is 7.1g, 8.2g, 7.9g , and we print out the region size is the following:
[code]

after we scale out another tikv node , it trigger the pd server to manage balancing of the four nodes，the d

[2018-06-11 17:29] Hoverbear commented on #3067
Hi @BusyJay, was https://github.com/pingcap/raft-rs/pull/75 related to this?

[2018-06-12 03:47] #3067 closed

[2018-06-12 13:53] siddontang commented on #3121
I introduce a new gRPC m_raft which sends the Raft messages in batch, the performance looks good with YCSB:

![image](https://user-images.githubusercontent.com/1080370/41294307-4da39668-6e8a-11e8-8c44-8eb74004d3c8.png)

The first one is without batch, others are with batch but with different grpc-raft-conn-num, as we can see, the performance increased nearly about 20%. (we should find a proper val

[2018-06-12 19:47] Pslydhh opened #3195 "About concurrency of ctx.on_tick"
As I explore the thread pool of tikv，I find that In the tikv's threadpool(src/util/threadpool.rs)，worker threads take ctx.on_tick() in two places，one could be concurrent，just when have done enough tasks continuely：
<pre><code>
loop {
            let task = match self.next_task() {
                None => return,
                Some(t) => t,
            };

            self.ctx.on_task_started();

[2018-06-13 05:53] breeswish commented on #3195
Context is a single-worker(thread) concept, which is never shared for multiple threads. The context does not need to be `Sync`, because it is invoked from a fixed thread.

So for your answer, `on_tick` does not need to be `Sync`.

[2018-06-13 05:59] breeswish commented on #3188
This is related to the RocksDB engine, which is a LSM tree implementation. For RocksDB, when we "delete" something, data will not actually be deleted, instead, a flag is written, and the real deletion (and the disk space reclaim that you expect) will happen when doing compaction.

For TiKV, we have some mechanism to reclaim disk space faster after region balance, under certain condition. For examp

[2018-06-13 15:35] #3149 closed

[2018-06-14 04:49] breeswish opened #3202 "Avoid slow log blocking the scheduler"
Currently we print slow log in `Drop` of Task Context, which is invoked from the Scheduler thread. This leads to potential blocking issues in the scheduler when there are too many tasks.

[2018-06-14 08:27] denghuancong commented on #3188
How can I manually do the compaction ?  Is there any doc or comand that I can try ?

[2018-06-14 10:16] #3012 closed

[2018-06-16 08:15] huachaohuang opened #3215 "failpoints_cases::test_snap::test_generate_snapshot failed"
[code]

[2018-06-16 08:30] siddontang opened #3216 "test: raftstore_cases::test_conf_change::test_learner_with_slow_snapshot panic"
[code]

[2018-06-16 11:16] huachaohuang opened #3217 "test raftstore_cases::test_compact_after_delete::test_node_compact_after_delete failed"
raftstore::test_compact_after_delete::test_node_compact_after_delete

[code]

[build_10982_step_18_container_0.txt](https://github.com/pingcap/tikv/files/2108056/build_10982_step_18_container_0.txt)

[2018-06-17 14:59] siddontang opened #3218 "test: raftstore_cases::test_service::test_raft failed"
[code]

[2018-06-19 01:58] Hoverbear commented on #2880
I think this is resolved so I'm closing this. Feel free to reopen!

[2018-06-19 01:58] #2880 closed

[2018-06-19 21:39] Hoverbear commented on #3151
:+1: I think this is a really great idea.

[2018-06-19 21:55] #3195 closed

[2018-06-20 04:09] #3140 closed

[2018-06-20 05:36] breeswish commented on #3188
The compaction is do automatically. Or you can use tikv-ctl (please refer to its doc). Or restart TiKV.

[2018-06-20 09:17] EighteenZi commented on #3065
@Hoverbear  @siddontang  @gregwebs , have the Rust Driver been finished?
I look forward to using TiKV these days :)

[2018-06-20 13:51] breeswish opened #3231 "master CI failed"
https://circleci.com/gh/pingcap/tikv/11035?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-06-21 01:31] gregwebs commented on #3065
This issue was for a documentation fix, so lets keep it closed. The Rust driver will take some time. Generally we don't open github issues to track new features but instead maintain a public roadmap (which probably needs to be updated now). https://github.com/pingcap/docs/blob/master/ROADMAP.md

[2018-06-21 02:29] EighteenZi commented on #3065
I don't find any description of Rust Driver in 'ROUADMAP.md'. Maybe it needs to be updated as you say.

[2018-06-21 15:53] Hoverbear commented on #3065
@EighteenZi I created the repo if you'd like to watch it. :) https://github.com/Hoverbear/tikv-client, It'll be moved to @pingcap later.

[2018-06-23 00:24] zhangquan0126 opened #3242 "Build error"
Please answer these questions before submitting your issue. Thanks!

1. What version of Rust are you using (`rustc --version`)?

rustc 1.28.0-nightly (41affd03e 2018-06-04)

2. What operating system and processor architecture are you using?

Ubuntu 16.04

3. What did you do?
If possible, provide a recipe for reproducing the error.
Make release under tikv

A complete runnable program is good.

4. W

[2018-06-23 01:14] breeswish opened #3243 "Try to use enum instead of trait objects"
We have heavily used trait objects in some places in which we store multiple types within a single value or a single container of values, for example, in Coprocessor executors and request handlers. In this case, using enum can be a more performant alternative.

Ref:
- Community discussions about pros and cons of trait object vs enum: https://users.rust-lang.org/t/performance-implications-of-box-tr

[2018-06-25 11:17] DorianZheng commented on #3180
done #3209

[2018-06-25 11:17] #3180 closed

[2018-06-25 12:03] breeswish opened #3248 "Remove `allow(unknown_lints)`"
There are built-in lints and [rust clippy](https://github.com/rust-lang-nursery/rust-clippy) lints. When we `allow` a clippy lint rule without specifying `feature = cargo-clippy`, it will be an unknown lint when clippy is not enabled.

Currently we enabled "allow(unknown_lints)" so that they won't bother us. However it is not a good idea since we can't know the removal of clippy lints as well. So

[2018-06-25 12:06] breeswish opened #3249 "Clean up unused #[allow] directives"
We have a lot of `#[allow]` or `#![allow]`. Some of them are duplicated with global overrides, or not valid any more. We need to keep our `#[allow]` as few as possible so these directives should be removed.

[2018-06-25 12:12] breeswish commented on #3242
which rust version are you using?

[2018-06-25 12:13] breeswish commented on #3242
Please try with the rust version we provided in `RUST_VERSION` file (see README). We have not adapted to the latest rust nightly yet.

[2018-06-25 12:14] breeswish commented on #3231
https://github.com/pingcap/tikv/pull/3241 has landed. Closing.

[2018-06-25 12:14] #3231 closed

[2018-06-25 12:19] breeswish opened #3250 "Use tarpaulin binary in CI instead of compile a new one"
First, the compatible rustc version for compiling tarpaulin might not exactly the same as our projects, so we cannot freely choice a tarpaulin version currently. Second, it takes us several minutes to install the tarpaulin in CI. If we use a binary version as tarpaulin's CI did, these issues can be eased.

[2018-06-26 06:01] yanyanqing opened #3252 "for test assign"
Please answer these questions before submitting your issue. Thanks!

1. What version of Rust are you using (`rustc --version`)?

2. What operating system and processor architecture are you using?

3. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.

4. What did you expect to see?

5. What did you see instead?

[2018-06-26 06:03] #3252 closed

[2018-06-27 03:49] Hoverbear opened #3254 "Check over information in the example configuration."
In https://github.com/pingcap/docs/pull/498 we closed a PR with some expanded information regarding the example configuration.

It would be very useful to synchronize those details into the existing example configuration in `/etc/config-template.toml`.

[2018-06-27 08:14] siddontang opened #3255 "test failpoints_cases::test_merge::test_node_merge_restart failed"
[code]

[2018-06-27 12:04] codeworm96 commented on #2999
I would like to have a try. Could you provide more information?

I think it happens ![here](https://github.com/pingcap/tikv/blob/master/src/server/server.rs#L171).

[2018-06-27 12:08] breeswish commented on #2999
@codeworm96 You can add some sleep between server.start() and server::new(), and you will find that, before start is called, the port is already binded. This is because we currently bind port first, then initialize some rest component, and finally `server.start()`.

[2018-06-27 12:10] breeswish commented on #2999
@codeworm96 Notice that, the reason that we bind port before initialization is to support binding at port 0 (and other services rely on the actual port), which is useful in CI to avoid port conflict.

[2018-06-27 13:40] codeworm96 commented on #2999
I see. I tested grpc-rs. The binding happens [here](https://github.com/pingcap/tikv/blob/956e7e96061fc82ba94108843185fd806861cf4d/src/server/server.rs#L120), long before start.

[2018-06-28 12:54] BusyJay opened #3257 "Show log location"
After switching to slog, log location is gone which is quite useful. Maybe a customized `FullFormat` need to be implemented.

[2018-06-29 12:04] breeswish opened #3261 "log not outputting source"
## Bug Report

**What version of Rust are you using?**

**What operating system and CPU are you using?**

**What did you do?**

Run TiKV

**What did you expect to see?**

[code]

**What did you see instead?**

[code]

Note: source like `pd.rs:437` is missing. This will lead to notable inconvenience when tracing issues.

[2018-06-29 12:04] breeswish commented on #3261
@overvenus @Hoverbear PTAL

[2018-06-29 12:06] breeswish commented on #3261
Also notice that log date format (`Jun 29 20:00:43.852`) is different from the rest of the system (`2018/06/22 22:16:24.725`) and previous ones, which will also introduce many inconvenience when tracing clients' issues.

[2018-06-29 12:07] BusyJay commented on #3261
Duplicated with #3257.

[2018-06-29 12:08] breeswish commented on #3261
@BusyJay Oh! Thanks!

[2018-06-29 12:08] #3261 closed

[2018-06-29 12:08] breeswish commented on #3257
Notice that log date format (`Jun 29 20:00:43.852`) is also different from the rest of the system (`2018/06/22 22:16:24.725`) and previous ones, which will also introduce many inconvenience when tracing clients' issues. See https://github.com/pingcap/tikv/issues/3261 for samples.

[2018-06-29 12:45] breeswish commented on #2675
#2818 is landed.

[2018-06-29 12:45] #2675 closed

[2018-06-29 14:23] overvenus opened #3262 "test test_server_remove_leader_with_uncommitted_log failed"
test_server_remove_leader_with_uncommitted_log failed with prevote.

Backtrace:
[code]

Log at https://circleci.com/gh/pingcap/tikv/11391

[2018-06-29 16:59] breeswish opened #3266 "Adjust read pool test timeouts"
thread ‘server::readpool::tests::test_full’ panicked at ‘assertion failed: rx.recv_timeout(Duration::from_millis(50)).is_err()’, src/server/readpool/mod.rs:292:9

[2018-06-29 17:04] huachaohuang opened #3267 "'raftstore_cases::test_transport::test_node_partition_write' panicked"
[code]

[2018-06-29 17:26] siddontang opened #3268 "test raftstore_cases::test_merge::test_node_merge_brain_split failed"
[code]

[2018-06-29 18:15] rohitjoshi commented on #933
ideally, if TiKV support `Redis` protocol, we can leverage existing Redis clients in various languages.

[2018-06-30 09:41] overvenus opened #3272 "Test test_multi_node_random_latency failed"
[code]

[log.log](https://github.com/pingcap/tikv/files/2151589/log.log)

[2018-07-02 06:58] AndreMouche opened #3275 "coprocessor/expression: push down scalar functions"
# Update

The content in this issue is outdated. Please refer to https://github.com/tikv/tikv/issues/5751 for a latest list.

<details>
  <summary>Click to expand the original content</summary>

## Feature Request

In coprocessor, for reading operations, some functions have been pushed down to tikv  to make the computation distribute into each region. For example, when TiDB receives a SQL query li

[2018-07-04 20:39] Hoverbear commented on #933
@rohitjoshi You may be interested in https://github.com/yongman/tidis

[2018-07-05 07:22] EighteenZi commented on #3065
@Hoverbear  Nothing have been committed to the repo since then... -_-!

[2018-07-05 14:11] Hoverbear commented on #3065
@EighteenZi I know. :( We released a new version of TiKV with Raft Prevote and we found some issues.

This is officially on my roadmap for this next quarter (I cemented it with the team yesterday) so it's coming!

[2018-07-06 22:09] Hoverbear commented on #3255
I think this is related:

[code]

This seems to be due to:

https://github.com/pingcap/tikv/blob/1e45270e93b31f24dfbc030691bcd49fb52cf19a/src/raftstore/store/peer.rs#L1535

Which is calculated by:

https://github.com/pingcap/tikv/blob/1e45270e93b31f24dfbc030691bcd49fb52cf19a/src/raftstore/store/peer.rs#L1523-L1531

Which points to https://github.com/pingcap/raft-rs/pull/83/files#diff-18f3dab6275bb

[2018-07-09 06:50] hicqu opened #3292 "make clippy reports lots of warning"
## clippy issue

**What version of Rust are you using?**
rustc 1.28.0-nightly (b907d9665 2018-06-13)
clippy 0.0.207

**What did you do?**
cargo clean && cargo clippy

**What did you expect to see?**
No warning should be reported.

**What did you see instead?**
[code]
And lots of other warnings.

@Hoverbear is there a same result in your environment? If so, I can help to fix those warnings and add

[2018-07-09 08:42] breeswish commented on #3292
You should not invoke `cargo clippy`, use `make clippy` instead because we added some globally allowed rules (see https://github.com/pingcap/tikv/blob/master/Makefile#L40)

[2018-07-09 12:01] #3292 closed

[2018-07-10 02:03] dulumao opened #3296 "consider not to use rust"
太麻烦，rust现在语法都不稳定，mac linux光配置编译环境都差不多用了1天，编译还总失败, issue基本都是再问编译问题，都不如基于rocksdb从新用golang编译一个新引擎版本，cochroach用golang编译，很方便，并发也很高，不比c++开发的mysql慢多少，反而还快,tidb,pd都很好编译，kv就很麻烦，跨3个语言，要二开都麻烦，官方真心可以好好考虑下

[2018-07-10 02:13] #3242 closed

[2018-07-10 02:14] siddontang commented on #3296
@dulumao

What is the compiling error when you build TiKV on Linux?

[2018-07-10 02:19] siddontang commented on #3250
do we still have this problem? @breeswish

[2018-07-10 09:53] breeswish opened #3298 "test_unbounded fails on MacOS constantly"
## Bug Report

**What did you do?**

[code]

**What did you see instead?**

[code]

[2018-07-10 09:54] breeswish opened #3299 "clippy warnings in master"
## Bug Report

**What did you do?**

[code]

**What did you see instead?**

[code]

These warnings are introduced in https://github.com/pingcap/tikv/commit/238a2fd59430366f122d93480bcc032826107a71

[2018-07-10 10:03] breeswish commented on #3296
## Rust Compile Environment Issue

From my existing experience, the environment setup is pretty easy in Linux and MacOS. You just need to download [rustup](https://rustup.rs/) following the official instruction, and use rustup to install required rust versions as instructed in README. If you strictly follow steps in README, it should be ok. If not, please provide some details about what you did so

[2018-07-10 10:10] breeswish commented on #3254
Also we need to sync the "tune TiKV" documentation.

[2018-07-10 10:13] breeswish commented on #3296
Closing, since the topic this issue discusses about is definitely not going to be considered. Please feel free to post detailed steps and the issues you met when building TiKV.

[2018-07-10 10:13] #3296 closed

[2018-07-10 10:21] breeswish opened #3300 "CI is not failed when there is clippy issues"
## Bug Report

We added back clippy in commit https://github.com/pingcap/tikv/commit/571aa662878bcafe4ad5ec0ebd63afe0baecff05 and later we have another commit https://github.com/pingcap/tikv/commit/238a2fd59430366f122d93480bcc032826107a71 causing clippy warnings. According to the CI result, the later commit passed, which is not desired.

[2018-07-10 12:20] BusyJay commented on #3300
Turns out there is a bug in clippy: https://github.com/rust-lang-nursery/rust-clippy/pull/2863, let's update to a more recent version.

[2018-07-10 18:10] breeswish opened #3303 "Use XxxBuilder style for EvalConfig"
## Feature Request

Currently we did like this:

[code]

Ideally, we should do like this:

[code]

[2018-07-11 11:31] #3299 closed

[2018-07-11 11:40] #3300 closed

[2018-07-11 21:22] Hoverbear commented on #3250
I think it's worth a try. :)

[2018-07-12 00:48] Hoverbear opened #3314 "Joint Consensus"
# Design Prerequisites

## Demand and Design

Currently adding and removing nodes from a TiKV cluster is orchestrated by a PD cluster. We support adding as well as removing nodes, but we do not support a replace functionality (Eg cluster `ABC` becomes `BCD`.) Currently, this operation can be done unsafely. It is possible to do things such as add a node so that the majority of nodes are no longer u

[2018-07-12 09:38] #3298 closed

[2018-07-12 12:05] #3092 closed

[2018-07-12 22:03] Hoverbear commented on #3314
I currently prefer solution 2 to problem 1, and solution 3 to problem 2.

[2018-07-13 03:40] #3218 closed

[2018-07-13 07:02] denghuancong opened #3320 "Why too many leader drops？"
base info
tikv version：2.0.4
run under docker container
-----------------------
we received a few alert message ,  just like the following :
[code]
then,  we check the logs, look like a few error happen:
[code]
so, we use pd-ctl check the cluster , it print healthy is ok.
Is there our network problem ? how to find the problem ?

[2018-07-16 18:15] #3257 closed

[2018-07-17 18:06] Hoverbear commented on #1468
#3314

[2018-07-17 23:43] carr123 opened #3326 "how to remove logs ?"
when i create a tikv client with tikv.NewRawKVClient( ).
it automatically prints on console the following logs:

time="2018-07-12T14:06:38+08:00" level=info msg="[pd] create pd client with endpoints [175.16.1.50:2379 175.16.1.53:2379 175.16.1.54:2379]"
time="2018-07-12T14:06:38+08:00" level=info msg="[pd] leader switches to: http://175.16.1.50:2379, previous: "
time="2018-07-12T14:06:38+08:00" lev

[2018-07-18 08:43] #3248 closed

[2018-07-19 06:50] shenlijungg opened #3331 "tikv storage capacity expansion"
HI:
    请问下，没有做LVM 的情况下，扩容了一块新的硬盘。原先的TIDV 部署在  /home     /dev/sda1
新扩容的盘为 /data  /dev/sda1   . TIKV 能在一台上支持多个存储目录吗？

[2018-07-19 07:23] siddontang commented on #3331
you can run another TiKV on the new storage.

[2018-07-19 08:11] shenlijungg commented on #3331
How to configure    ？

[2018-07-19 11:14] ngaut opened #3334 "we need a pretty log format"
2018/07/19 19:06:42.661 WARN mod.rs:97: handle task CheckAndCompact { cf_names: ["default", "write"], ranges: [[122], [122, 116, 128, 0, 0, 0, 0, 0, 0, 255, 7, 0, 0, 0, 0, 0, 0, 0, 248], [122, 116, 128, 0, 0, 0, 0, 0, 0, 255, 11, 0, 0, 0, 0, 0, 0, 0, 248], [122, 116, 128, 0, 0, 0, 0, 0, 0, 255, 15, 0, 0, 0, 0, 0, 0, 0, 248], [122, 116, 128, 0, 0, 0, 0, 0, 0, 255, 19, 0, 0, 0, 0, 0, 0, 0, 248], [12

[2018-07-20 04:13] winjeg opened #3337 "Does TIKV support TTL?"
我只搜到了 tidb 的 ttl 支持相关的内容, tidb 不支持ttl可以理解
tikv 与tidb本身就是两个层面的东西, rocksdb 本身也是支持ttl的,  如果在tikv 上层构建其他协议, 如redis 协议, 对于ttl 支持的需求就比较重,  但目前来看并未发现tikv 支持ttl.
如果采取其他方法如
https://github.com/yongman/tidis/blob/master/tidis/ttl.go#L46
去实现ttl 的功能,在数据量大到一定程度的时候 估计会有问题
我觉得最好还是tikv 给出底层ttl 支持的原生实现

[2018-07-20 06:10] bb7133 commented on #3275
Regexp/RegexpBinary added: https://github.com/pingcap/tikv/pull/3196

[2018-07-20 14:12] winjeg commented on #3337
Need translation ???

[2018-07-22 02:30] siddontang commented on #3337
TTL is not on our roadmap this year.

For MVCC, every key has a version, so you can use a background thread to scan all keys and do it by yourself now.

[2018-07-22 09:32] winjeg commented on #3337
ok, thanks.
To scan all keys takes much time and may cause some uncertainty.
So I think I 'll  just wait for the original support from tikv.

[2018-07-22 09:32] #3337 closed

[2018-07-23 08:57] overvenus commented on #3267
Hi! Could you provide trace logs? Like this one https://circleci.com/gh/pingcap/tikv/11391

[2018-07-23 10:36] breeswish commented on #3331
Please see our "单机多 TiKV 实例集群拓扑" section in the doc: https://pingcap.com/docs-cn/op-guide/ansible-deployment/

[2018-07-23 10:38] breeswish commented on #3334
For contributors: we already have a PR https://github.com/pingcap/tikv/issues/3334 for this.

[2018-07-23 17:20] Hoverbear commented on #3326
Hi! Closing this as it is a solved question. If your question remains unanswered please reopen it.

[2018-07-23 17:20] #3326 closed

[2018-07-24 03:37] #3334 closed

[2018-07-24 07:44] siddontang opened #3342 "delay sending proposal callback to apply worker"
Now for every write request, we will do:

1. Raftstore sends a Proposal message to Apply worker
2. If the raft log is committed, sends the Raft Log to Apply worker
3. Apply worker applies the Raft log and calls the Proposal callback

As we can see, for every write, we do the message communication between Raftstore and Apply worker twice, we can combine 1 and 2 together.

The Raftstore can hold the

[2018-07-25 01:35] #2989 closed

[2018-07-25 01:42] AndreMouche opened #3345 "Write trait may not be sufficient enough"
When using `Write` trait, the bench result shows:

[code]

When access slice directly with some branch optimization, it becomes:

[code]
encode_var_u64 is a heavily used function(mainly used in timestamp for write_cf/default_cf), which often shows up in the frame graph. Its performance matters a lot. We may need to rewrite all the codec functions to access slice directly.

The following is the sou

[2018-07-25 03:17] siddontang opened #3347 "Don't use space in the thread name"
Now some of our threads' name contains space like "apply worker", this is not friendly for us to parse n the perf script or ftrace result, e.g.

[code]

We can't use `awk` to parse the result easily.

[2018-07-25 04:02] #3066 closed

[2018-07-25 06:16] overvenus commented on #3268
Another failed test, https://circleci.com/gh/overvenus/tikv/659

[2018-07-25 06:39] breeswish commented on #3347
Already working on this.

[2018-07-25 08:16] breeswish commented on #3345
So both Read and Write traits are not fast :)

[2018-07-25 08:16] #3331 closed

[2018-07-25 08:41] breeswish opened #3352 "Split the project into multiple workspaces"
## Feature Request

Currently all of the code are imported by a single entry, i.e. `src/lib.rs`. When we change something (even just adding a blank line), it takes at least 4 minutes to compile on a high-end server (when LTO=false). This makes it very hard to do micro optimizations on a function level.

We can split our single TiKV library into multiple workspaces, so that it will be easy and not

[2018-07-25 08:41] breeswish commented on #3352
@BusyJay @Hoverbear Please kindly leave your comments.

[2018-07-25 10:04] BusyJay commented on #3352
Is there any clear conclusion that workspace can speed up compilation? Workspace is useful for reusing target directory and keeping a convenient layout for the different but related projects. I haven't noticed that it can speed up compilation.

[2018-07-25 11:49] breeswish commented on #3352
@BusyJay That's what we need to investigate. BTW, it should not speed up initial compilation. Instead, maybe the incremental parts.

[2018-07-26 03:09] overvenus commented on #3352
AFAIK, incremental compilation only takes place in debug, and it is disabled in release by default.

[2018-07-26 03:39] breeswish commented on #3352
@overvenus However build cache is still effective. I.e. the module (one of our workspace) that you have not changed will not need to be compiled.

[2018-07-26 03:56] overvenus opened #3355 "Fuzz TiKV"
## Targets

Following models are well suited for fuzzing.

### Coprocessor

- [x] coprocessor::codec::mysql::decimal #3190
- [ ] coprocessor::codec::mysql::duration
- [ ] coprocessor::codec::mysql::time
- [ ] coprocessor::codec::mysql::json::binary
- [ ] coprocessor::codec::mysql::json::comparison
- [ ] coprocessor::codec::mysql::json::json_cast
- [ ] coprocessor::codec::mysql::json::json_extract

[2018-07-26 06:01] breeswish opened #3356 "Utilize use_extern_macros"
## Feature Request

Currently our macros are exported globally. We can make it modular by using the feature "use_extern_macros" so that unnecessary macros are not visible in the scope.

However there some commonly used macros, i.e. info!, warn!. We may create something like "common_macros.rs" and `use ::common_macros::*` so that it can be easy to use.

[2018-07-27 14:56] Hoverbear commented on #3352
#3360

[2018-07-28 14:32] siddontang opened #3363 "consider using channel directly instead of Box"
Now, for crossing thread communication, we pass a Box Callback and let another thread call it.

Mostly, this Callback only does one thing - sending the result to a channel. Maybe we can let another thread send the result to a channel directly to avoid Box.

[code]

I write a simple benchmark and find that the result seems good.

[code]

Btw, reducing Box can also reducing memory allocation.

/cc @

[2018-07-28 14:33] siddontang commented on #3363
I write another benchmark with crossing thread communication.

[code]

The result seems amazing:

[code]

[2018-07-29 04:03] laidahe commented on #3275
i want to implement math/RouldReal, OK?

[2018-07-30 07:09] AndreMouche commented on #3275
Of course you can, enjoy yourself　@laidahe

[2018-07-30 11:52] hicqu opened #3366 "Peers sending stale pre-vote messages should be gc"
## Bug Report

**What version of Rust are you using?**
rustc 1.29.0-nightly (4f3c7a472 2018-07-17)

**What did you do?**
Running a TiKV cluster, 5 nodes, 3 replicas. After a while, we can see this log on 4 nodes:
[code]

[code]

**What did you expect to see?**
The stale peer should be gc.

**What did you see instead?**
The stale peer can't be gc.

[2018-07-30 12:13] laidahe commented on #3275
Is there any guide on math/RoundReal? @AndreMouche

[2018-07-30 12:14] #3347 closed

[2018-07-30 12:17] dulumao opened #3367 "Hope to open source Pump and Drainer."
I don't want to use Kafka, I hope I can delete it myself.

[2018-07-30 12:48] breeswish commented on #3275
@AndreMouche Seems that we need to correct our typo first: RouldReal -> RoundReal

[2018-07-30 14:04] CodesInChaos commented on #2986
FDB has important limitations:

1. Max transaction size of 10MB
2. Max transaction duration of 5s
3. Max key size of 10kB and value size of 100kB.

https://apple.github.io/foundationdb/known-limitations.html

[2018-07-31 05:15] siddontang commented on #2986
Cool @CodesInChaos

Btw, the max transaction duration depends on the GC interval, default is 10m, but you can increase it.

[2018-07-31 05:33] breeswish commented on #3268
Just a list of recently failed tests due to this issue:

https://circleci.com/gh/pingcap/tikv/12005
https://circleci.com/gh/pingcap/tikv/11991
https://circleci.com/gh/pingcap/tikv/11978
https://circleci.com/gh/pingcap/tikv/12003
https://circleci.com/gh/pingcap/tikv/11984
https://circleci.com/gh/pingcap/tikv/11962
https://circleci.com/gh/pingcap/tikv/11953

[2018-07-31 05:33] breeswish commented on #3268
@BusyJay PTAL

[2018-07-31 07:38] overvenus commented on #3044
Another failed test:

[code]

https://github.com/pingcap/tikv/blob/c24136a6eb62388ab15a35e2f683d07fae171cad/src/raftstore/store/util.rs#L619-L635

https://circleci.com/gh/overvenus/tikv/674?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-07-31 10:58] overvenus commented on #3363
Similar results of futures channel:

[code]

[code]

[2018-08-02 02:05] spongedu commented on #3275
@AndreMouche @breeswish  I think we'd better not push those builtin functions that don't use column data ( e.g:  `UUID`, `PI`) down to `coprocessor` because:
1. they don't make use of data in TiKV
2. they aggravate network traffic between TiKV nodes and TiDB nodes

[2018-08-02 06:26] #3366 closed

[2018-08-02 07:41] breeswish opened #3378 "Cursor remains valid when seek to nothing again"
## Bug Report

Currently we judge whether or not seeking reaches data end by checking either:
1. `cursor.seek()` family returns true or false
2. `cursor.valid()` returns true or false

This "either" choice is based on the assertion that the following scenario always holds:

[code]

However, this scenario actually does not always holds.

In the following test case, last line's assertion will fail:

[2018-08-02 12:27] BusyJay commented on #3378
Does such use case exist? Is it a bug in real life or just an unexpected behavior for possible usage?

[2018-08-02 12:48] breeswish commented on #3378
@BusyJay In many of our existing code, we use `iter.valid()` instead of the return value of seek family function, so it could be possible to construct. Also the newer mvcc refinement *heavily* relies on this assertion to eliminate an extra check (currently we both check return value and `valid()` in many functions in mvcc) and it will be easier to construct a failure case.

[2018-08-02 12:53] BusyJay commented on #3378
Would like to see a practical fail case. As the cursor is about to be split into more domain specific, the fix may otherwise not be necessary anymore.

[2018-08-02 12:57] breeswish commented on #3378
@BusyJay Even after cursor split, this case exists, because after cursor splitting, a re-seek in contrary direction is still allowed (with explicit casting).

[2018-08-02 13:10] BusyJay commented on #3378
It depends on how the splitting works. The big principle would be only allow one direction seek when possible.

What I really concern about is whether it impacts the version 2.0.xs which doesn't have all the refactoring yet.

[2018-08-02 13:11] siddontang commented on #3378
Em, @breeswish

I prefer only using valid to check iterator valid or not, `seek` return nothing,

[2018-08-02 13:55] yangwenmai commented on #3147
[code]

[2018-08-02 14:24] BusyJay opened #3384 "False stale peer alert"
[code]

The alert keeps popping up when there is only one peer in a region after a while. I think it should check if itself is the very leader before reporting peer stale.

[2018-08-02 15:00] breeswish commented on #3147
@yangwenmai You can simply re-run the test. Some tests are just not very stable.

[2018-08-02 15:20] Hoverbear opened #3385 "Some Prevote tests cannot pass reliably."
In #3386 we determined that some prevote tests cannot pass reliably.

This is because we attach a `MessageTypeNotifier` which listens for a specific message type to be send in some duration.

The way we use it is by creating a failure, such as a partition, then recovering it and immediately attaching the notifiers.

Some notes:

* Attaching the notifiers before clearing the partitioning means we a

[2018-08-02 15:53] Hoverbear commented on #3363
I think it's a great idea!

[2018-08-02 16:05] breeswish commented on #3363
worth to have a try

[2018-08-02 16:47] morgo opened #3387 "tikv should provide error message if it can't start"
## Bug Report

**What version of Rust are you using?**
I'm using a binary provided by PingCAP:
[code]
**What operating system and CPU are you using?**
[code]
**What did you do?**
`./bin/tikv-server --pd="127.0.0.1:2379" --data-dir=tikv --log-level=debug`
**What did you expect to see?**
An error message saying that tikv could not be started because kernel settings were not as expected.
**What did y

[2018-08-02 16:53] breeswish commented on #3387
Thanks for your report. Do you mean that after executing command `./bin/tikv-server --pd="127.0.0.1:2379" --data-dir=tikv --log-level=debug` you got nothing in output and it just stopped?

[2018-08-02 16:54] morgo commented on #3387
@breeswish that is correct.

[2018-08-02 16:55] breeswish commented on #3387
@morgo Thanks! You are correct, we expect it to print error messages in this scenario.

[2018-08-03 03:40] yangwenmai commented on #3275
I want to implement info:

- [x] Database
- [x] FoundRows
- [x] CurrentUser
- [x] User
- [x] ConnectionID
- [x] LastInsertID
- [x] LastInsertIDWithID
- [x] Version
- [x] TiDBVersion
- [x] RowCount

One by one, or implement the submitted together?

[2018-08-03 05:57] spongedu commented on #3275
@breeswish  yes, I think there's no need push down these down to coprocessor....

[2018-08-03 06:03] BusyJay opened #3390 "Fully utilize slog"
We used to put context as a tag string inside a struct when using std log. Now that we are using slog, we can use the context mechanism it provides to get rid of the redundant tag.

[2018-08-03 09:59] overvenus opened #3393 "Single-node TiKV cluster logs abnormal leader missing"
## Bug Report

**What did you do?**

Run a single-node TiKV cluster.

**What did you expect to see?**

No abnormal leader missing.

**What did you see instead?**

[code]

Because there is no heartbeat message, `peer.step` will not be invoked, it will eventually lead to `abnormal_leader_missing`.

CC #3133

[2018-08-03 10:13] BusyJay commented on #3393
Duplicate with #3384.

[2018-08-03 16:45] colinback commented on #3275
I'm going to do RoundXXX in Math:
- [ ] RouldReal
- [ ] RoundInt
- [ ] RoundDec
- [ ] RoundWithFracReal
- [ ] RoundWithFracInt
- [ ] RoundWithFracDec

[2018-08-03 17:29] breeswish commented on #3275
@yangwenmai Thanks for your interest. As stated above, these functions seems to be not suitable for push down and we will remove it from the list. Please choice other functions :)

[2018-08-03 17:30] breeswish commented on #3275
@colinback @yangwenmai Also please keep PR small so that it would be faster for review, for example, 1 function per PR.

[2018-08-03 17:32] breeswish commented on #3275
@spongedu I have an idea. How about expressions like  col = PI() ? In this case, filtered data will be responded from coprocessor instead of full data.

[2018-08-04 01:33] spongedu commented on #3275
@breeswish In this case, the planner will resolve `PI` and make it a constant.  I think in some cases the query would be changed to an index scan, that may be faster.

[code]

but there may be this case: `... where col = UUID() `, though the usage is rare...  If these builtins are used this way, they should be processed in coprocessor..  We can left it to planner whether to push down these builtin

[2018-08-05 11:26] TennyZhuang commented on #3275
It seems that there is no session info in eval_context, so it's very difficult to push down the expressions in info

[2018-08-05 22:59] opensourcegeek commented on #3275
I'd like to take a stab at

- [ ] IsIPv4

first and if I get my head around the code, I'd like to implement the following ones as well if that's OK?

- [ ] InetAton
- [ ] InetNtoa

[2018-08-06 03:00] AndreMouche commented on #3275
I'm not sure, they( e.g: UUID, PI) may be used as constant @XuHuaiyu @zz-jason ? I guess @breeswish @spongedu

[2018-08-06 03:10] zz-jason commented on #3275
@AndreMouche
`UUID` can not be folded as a constant in plan generation phase, I think we still need to implement this function in TiKV.

As for `PI`, it can be folded as a constant, I think it's ok to not implement this function in TiKV.

[2018-08-06 06:47] vkorenev commented on #3275
I'd like to implement **sin** and **cos**.

[2018-08-06 07:43] opensourcegeek commented on #3275
@AndreMouche @zz-jason thanks, so do you think IsIpV4 and other IP addressing related functions need not be implemented in TiKV?

[2018-08-06 07:46] zz-jason commented on #3275
@opensourcegeek No, these functions need to be implemented in TiKV as well.

[2018-08-06 08:13] spongedu commented on #3275
@zz-jason @AndreMouche  It seems that only those builtins in `builtin_info.go` need not be implemented in TiKV.

[2018-08-06 08:15] zz-jason commented on #3275
@spongedu Yes, I've already removed these functions in the list by a strikethrough.

[2018-08-06 08:17] zz-jason commented on #3275
@spongedu And also some date functions can be folded to a constant and don't need to be implemented in TiKV, for example, `CurrentDate`, `now()`.

[2018-08-06 08:26] zz-jason commented on #3275
@spongedu I remember there is a MySQL document about what functions can be constant-folded in the planner phase.

In TiDB, only these functions can not be folded: https://github.com/pingcap/tidb/blob/master/expression/function_traits.go#L42

[2018-08-06 08:52] opensourcegeek commented on #3275
@zz-jason @AndreMouche in that case would you be fine with me to start with IsIpV4 impl?

[2018-08-06 09:38] zz-jason commented on #3275
@opensourcegeek Sure! 😄

[2018-08-06 10:07] opensourcegeek commented on #3275
@zz-jason great - are you creating separate issues for each function and assigning to folks trying to implement them (as it says in the [post](https://pingcap.com/blog/adding-built-in-functions-to-tikv/)?)

[2018-08-06 12:53] hicqu commented on #3147
Fixed by #3321.

[2018-08-07 13:06] liufuyang commented on #3275
@AndreMouche or someone is in charge here, can I try the math.sin() first to see whether I can do i? :thinking:

[2018-08-08 01:02] vkorenev commented on #3275
@liufuyang https://github.com/tikv/tikv/issues/3275#issuecomment-410605573

[2018-08-08 07:15] zz-jason commented on #3275
@opensourcegeek Sorry for the late reply, you can pick an unchecked item in the function list above, and make a comment in this issue to let other people know that you are working on it to avoid duplicate work. We'll modify the check list once we see your comment.

@AndreMouche @breeswish How do you think?

[2018-08-08 07:49] xiangyuf commented on #3275
hi all, is there anyway to rerun the CircleCI in my pull request https://github.com/tikv/tikv/pull/3408 ? The current ci test shows my change failed on raftstore_cases::test_node_merge_brain_split, but my change is not related with this module at all.

[2018-08-08 10:17] liufuyang commented on #3275
@vkorenev sorry I didn't saw your comments earlier. Do you already have a working branch of both sin or cos? Or perhaps you can do the Cos one. I only did sin :)

[2018-08-08 18:32] xiangyuf commented on #3275
Rand, RandWithSeed implemented.

[2018-08-09 13:12] birdstorm opened #3423 "Make DEFAULT_REQUEST_MAX_HANDLE_SECS configurable"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Now DEFAULT_REQUEST_MAX_HANDLE_SECS is set as a constant 60 seconds, i.e., a coprocessor request waiting longer than 60s will be cancelled to reduce chances of stacking requests on TiKV server, and an otherError 'request outdated' will be thrown. However, for some OLAP queries, coprocessor requests might take l

[2018-08-09 17:24] #3268 closed, assigned to nobody

[2018-08-09 18:10] Hoverbear commented on #3423
Hi @birdstorm! I think this is a valid request. Thanks!

I'm going to flag it up for help wanted and invite contributors to work on this.  :)

To anyone wanting to work on this, please let us know, and feel free to ping me for help!

[2018-08-10 03:23] zhangjinpeng87 opened #3425 "We can use the idea of Linux slub in aggregation module"
## Feature Request

**Is your feature request related to a problem? Please describe:**
In aggregation module, in most of time we handle row by row, for each row we will new some objects like `Datum`. This will cause memory allocation.

**Describe the feature you'd like:**
We can reuse these objects. Because for each row the number and type of these objects are the same.

[2018-08-10 08:04] breeswish commented on #3425
I guess the situation will be eased once we are executed by chunk. @AndreMouche @zz-jason

[2018-08-10 12:06] overvenus commented on #2761
Closed, as it has been resolved in https://github.com/pingcap/tidb-inspect-tools/pull/41.

[2018-08-10 12:06] #2761 closed

[2018-08-10 13:52] BusyJay opened #3431 "Choose different split policy according to the region size and desire size"
When write load is high, it's very easy that split check scan can't catch up with the data written. This can lead to a very large region.

#1243 can ease the problem. However scan a large region can also consume a lot of time and CPU. Tests show that large region can still easily show up even with batch split implemented, although split is speeded up.

When a region becomes large, it's more practi

[2018-08-10 13:55] birdstorm commented on #3423
Seems it has already been configurable via `server.end-point-request-max-handle-duration`.

[2018-08-10 13:55] #3423 closed

[2018-08-10 14:02] siddontang commented on #3431
I think first we can

1. Merge the batch split PR
2. use batch split + approximate split key to relieve the problem.
3. Others.

/cc @Connor1996

[2018-08-10 14:44] Connor1996 commented on #3431
got it

[2018-08-11 14:12] siddontang opened #3434 "test: test_batch_snapshot failed"
test storage_cases::test_raftkv::test_batch_snapshot ... thread 'storage_cases::test_raftkv::test_batch_snapshot' panicked at 'assertion failed: s.is_some()', tests/storage_cases/test_raftkv.rs:99:9
note: Some details are omitted, run with `RUST_BACKTRACE=full` for a verbose backtrace.
stack backtrace:
   0: std::sys::unix::backtrace::tracing::imp::unwind_backtrace
             at libstd/sys/unix/

[2018-08-13 06:48] breeswish opened #3439 "Separate asc / desc codec"
## Feature Request

Currently we control whether to encode in asc or in desc (and decode in asc or desc) by using a `desc` parameter in function signature.

According to some experiments in https://github.com/tikv/tikv/pull/3427#issuecomment-412183303, the branch statements introduced by this kind of operation is also notable. We'd better provide standalone functions like `encode_desc` / `decode_d

[2018-08-13 07:12] carr123 opened #3440 "which API should I use ?"
there are two types of tikv client api, Raw KV api and transactional kv api.
I want to implement a redis like KV system, so which type of api should i use to get the most read/write performance ?
I read stories about eleme.com, who has successful practice in tikv for production usage. i wonder how
eleme take advantage of the tikv api.

[2018-08-13 09:00] niedhui commented on #3146
Hi, I want to pick this issue.  Seems the first thing need to do is to upgrade `mio` to 0.6( bitflags depends on nix, nix depends on mio). and I found there is a  closed issue #1050 (upgrade to mio 0.6). is it OK if I upgrade the mio?

[2018-08-13 12:27] breeswish commented on #3146
@BusyJay Are there any known issues of upgrading mio?

[2018-08-13 14:00] hawkingrei commented on #3275
#3428

[2018-08-13 20:33] ddorian commented on #3440
You can contribute to https://github.com/yongman/tidis for example.

See apis: https://www.pingcap.com/docs/tikv/go-client-api/ (non transactional is faster).

[2018-08-14 07:44] BusyJay commented on #3146
mio will be removed when threaded raftstore is landed. Let's hold it until then.

[2018-08-14 08:13] breeswish commented on #3146
@BusyJay Sure! @niedhui May be you can take a look at other dependencies? As I remembered, a lot of other dependencies are duplicated as well.

[2018-08-14 08:17] niedhui commented on #3146
got it.

[2018-08-15 02:57] Hoverbear opened #3453 "Starting `tikv-ctl` with no arguments results in unreachable!()"
## Bug Report

**What version of Rust are you using?**
N/A

**What operating system and CPU are you using?**
N/A

**What did you do?**

[code]

**What did you expect to see?**

The output of:

[code]

**What did you see instead?**

[code]

[2018-08-15 18:04] Boscop opened #3462 "Can diesel be used with TiKV?"
Can diesel be used with TiKV? If not, what should be used instead? :)

[2018-08-15 18:41] siddontang commented on #3462
Hi @Boscop

Do you mean https://github.com/diesel-rs/diesel?

It is an ORM framework and I haven't used it before, seem we can use it directly with TiDB.

[2018-08-15 18:43] siddontang commented on #3384
have we already fixed it yet? @BusyJay

[2018-08-15 18:43] #3393 closed

[2018-08-15 21:25] Boscop commented on #3462
Thanks for the quick reply.

Yes, I meant using diesel with TiDB (not TiVK directly)..
I've been using diesel for postgres dbs in my Rust server, but for a new project I want to try TiDB (it's also a Rust server).
How can diesel ORM be used with TiDB in my Rust server? Should I just treat it as MySQL?
Can diesel also be used to generate & run db migrations on my TiDB database?

If it doesn't work

[2018-08-16 07:52] jiancaiHub opened #3465 "[Alerting] server report failures will cause data loss?"
## Question

Alerting Info：

TiKV Doc：

Questions：

- Alerting will cause data loss or query error?

- There will be scenes triggering alarms？

![image](https://user-images.githubusercontent.com/16162787/44195677-5e928280-a16c-11e8-843a-4c3c68c84824.png)

[2018-08-16 09:46] breeswish commented on #3465
There will be query errors if majority is lost (and insertion or updates will fail but existing data will not be influenced). If only minority is lost, queries should be normal (but query duration may be longer, waiting for new leader election).

It's very common, for example, when one TiKV is gone, or the network of the machine is down.

[2018-08-16 09:51] breeswish commented on #3462
@Boscop Yes, you just need to treat it as MySQL. We are MySQL protocol compatible and SQL syntax compatible. However note that not all kind of DDL operations are supported (see https://github.com/pingcap/docs/blob/master/sql/ddl.md#difference-from-mysql) so you may need extra work.

[2018-08-16 15:54] jiancaiHub commented on #3465
@breeswish thanks a lot~

[2018-08-16 15:54] #3465 closed

[2018-08-17 03:36] ice1000 commented on #3303
Close dis plz

[2018-08-17 03:42] #3303 closed

[2018-08-17 08:06] thomashlvt opened #3474 "Go client does not correctly insert, and gives no error"
## Bug Report

**What version of Rust are you using?**
1.29.0-nightly

**What operating system and CPU are you using?**
3 servers:
Intel(R) Xeon(R) CPU E5-2650 v3 @ 2.30GHz (20-core)
Ubuntu 16.04.5 LTS

client:
Intel(R) Core(TM) i7-7700 CPU @ 3.60GHz (8-core)
Ubuntu 16.04.5 LTS

**What did you do?**
I want to test the performance of TiKV, for this I create a lot of parallel connections and randoml

[2018-08-20 02:44] breeswish opened #3481 "Discussion: distinguish KeyIsLocked error and other errors"
# Discussion

Currently there is something unsound in mvcc readers, caused by `KeyIsLocked` error. `KeyIsLocked` is a kind of recoverable mvcc errors that the scanner should be able to proceed when facing it. Meanwhile, other kind of mvcc errors can be considered to be not recoverable, for example, the error produced by failing to decode ts (usually means a data corruption) or the error that given

[2018-08-20 07:19] malc0lm commented on #3275
Hi all, I will implement Acos and Asin.

[2018-08-20 13:19] breeswish commented on #3474
Hi, there is currently an issue in our very recent master because one of our new feature is only partially merged and the remaining part is still under review.

Please try run this and restart TiDB:

[code]

@Connor1996 Are there ways to gate our new feature so that users won't fail because of this?

[2018-08-20 13:25] breeswish opened #3486 "Align key memory location"
## Feature Request

After encoding, our keys are 9*N in length (or 9*N+8 if it has timestamp suffix).

when comparing key equality, or decoding key timestamp, we access its last 8*N part, which is not memory aligned in most cases. Make keys ends with a memory aligned location could improve performance.

[2018-08-20 13:30] Connor1996 commented on #3474
@breeswish seems no, I will merge it as soon as possible.

[2018-08-20 17:57] #3090 closed

[2018-08-21 17:08] thomashlvt commented on #3474
I tried this.
I also downgraded to a previous release (v2.0.6) of TiDB, but this also didn't help.
With the RawKVClient in go, I put randomly generated keys (10000) of length 256 bytes, and values equal to these keys, appended with zeros up to 262144 bytes. After each Put, I immediately do a Get and check the value, this is always correct, no empty values are returned.
However if I then do a Get f

[2018-08-21 23:59] siddontang commented on #3474
hi @thomashlvt

can you show us your test program? do you retry insertion when meeting error?

[2018-08-22 05:50] breeswish commented on #3474
@thomashlvt Could you try again with our TiKV previous release (2.0.6), or latest (i.e. today's) master? The fix for the issue has been shipped.

[2018-08-22 12:57] thomashlvt commented on #3474
I found the problem, it was in the client code. My random keys were generated using rand.Intn, but this is also called in the RawKVClient code, making the random numbers not reproducible... (You might consider changing this and using a new rand.Rand struct for generating these numbers so it won't interfere with the code that drives the client. I solved the problem on my side by using this.)

Thank

[2018-08-22 12:57] #3474 closed

[2018-08-22 14:20] chux0519 commented on #3275
Hi guys, I will impl time/Month

[2018-08-22 14:39] gunjdesai opened #3498 "Unable to build tikv Docker image from scratch"
I am trying to build the TiKV docker image from scratch, I was successfully able to build the rust image, but i am running into compile issues when trying to build `tikv`

My Rust Version is `rustc 1.29.0-nightly (4f3c7a472 2018-07-17)`
Rustup Version is `rustup 1.13.0 (ea9259c1b 2018-07-16)`

Release Version that i have tried are `2.0.5` and `2.0.4`

The error trace that i get is as follows:

[co

[2018-08-23 03:49] niedhui commented on #3275
Hi , I will impl math/	TruncateInt, TruncateReal, TruncateDecimal

[2018-08-23 07:17] gunjdesai commented on #3498
adding `#![feature(raw_vec_internals)]` to `src/lib.rs` enabled the unstable feature in the nightly build. Sorry for the trouble, rookie mistkake

[2018-08-23 07:17] #3498 closed

[2018-08-23 08:50] breeswish opened #3503 "Suggestion: make config item names more readable"
## Feature Request

For *commonly used* configurations, it's name should be easy to understand by users (i.e. obvious) with as less as technical details as possible. If its meaning can be understood without comments, it is the best.

Some negative examples:

- TiDB's token-limit

   For users, what is token? Why should I limit token?

   However, names like "max-sessions" is much more obvious.

-

[2018-08-23 15:58] xiangyuf commented on #3275
anyone help to review my pr? #3415

[2018-08-23 17:51] Hoverbear commented on #3503
Great idea @breeswish . :) Very happy to tackle this or help contributors interested in working on it. Please ping me here if you want to!

[2018-08-23 19:16] siddontang commented on #3486
Great!!!

myrocks uses a new format which uses 8 not 9 for encoding, refer to https://github.com/facebook/mysql-5.6/blob/fb-mysql-5.6.35/storage/rocksdb/rdb_datadic.cc#L2020

it may help us but we need to consider compatibility.

[2018-08-24 02:02] fredchenbj opened #3508 "what's the purpose of "raft-entry-max-size=8MB", in our environment "RaftEntryTooLarge" error occurs?"
## Question

[2018-08-24 05:14] Hoverbear commented on #3462
Hi! I think this question is answered. I'll close it but you're welcome to reopen if that didn't work for you.

[2018-08-24 05:14] #3462 closed

[2018-08-24 06:07] colinback commented on #3275
Anyone else has following problem of ci/circleci: test in PR?
[code]

However I 'make test' runs OK on my desktop. No idea about this.

[2018-08-24 14:57] BusyJay opened #3517 "Reduce dynamic dispatch in coprocessor"
We use trait object to dispatch dag execution. However, the dag pushed down is usually very simple. It may be just a pure selection or a aggregations. In such case using dynamic dispatch can be expensive especially when there are a lot of rows. For such simple case, we can build the executors as a concrete type instead of a trait object, which can utilize static dispatch and potential compile time

[2018-08-24 15:16] breeswish commented on #3517
https://github.com/tikv/tikv/issues/3243

[2018-08-24 15:39] BusyJay commented on #3517
Enum is also a type of dynamic dispatch. The proposal here is to use generic instead of trait object when handling common cases.

[2018-08-24 15:43] BusyJay commented on #3508
For now rocksdb performs badly when there are large KVs. Hence we set a limit to the size of a raft entry.

[2018-08-24 16:01] breeswish commented on #3517
@BusyJay I don't think generic can be used here, you don't know the type of DAG until user gives you one.

[2018-08-24 16:07] BusyJay commented on #3517
For example:

[code]

[2018-08-25 04:51] BusyJay commented on #3481
Is `KeyIsLock` always recoverable? For example, in coprocessor scan, when a key is locked, I think it should be aborted immediately.

[2018-08-25 07:12] breeswish commented on #3517
@BusyJay Ok, got it.

[2018-08-25 16:42] hawkingrei commented on #3275
Data has been completed. #3428

[2018-08-27 06:10] BusyJay opened #3524 "Test the performance difference between RPN and naive recursion"
Currently coprocessor expression is executed recursively, which can be expensive. Maybe we need to test how it performs when expression is expanded in a loop. We can translate the expression tree into an RPN, and than maintain a vector as its stack. The vector can be reused across all the rows.

[2018-08-27 12:11] breeswish commented on #3481
@BusyJay Right. In coprocessor (the caller) we don't need to recover it however for the underlying interface it still needs to be recoverable.

[2018-08-27 13:48] breeswish commented on #3481
@BusyJay Our KV interface requires it to be recoverable :( It should continues scanning even if there are locks.

[2018-08-28 07:21] breeswish opened #3537 "trace! is executed when log level > trace"
## Bug Report

[code]

Output:

[code]

As you can see, trace body is not outputted (expected), but trace body is really executed (unexpected). If what we are tracing is time consuming, it will hurt performance badly.

[2018-08-28 07:37] BusyJay commented on #3537
See also: https://github.com/tikv/tikv/pull/3010#issuecomment-388385374.

Although slog-stdlog is the one to be blamed this time.

[2018-08-29 07:41] mtunique commented on #3275
Hi, I will impl `Cot` and `Degrees`.

[2018-08-30 08:04] denghuancong opened #3546 "Add more 3 tikv nodes，but the memory usage still not balance?"
base info
- tikv version: v2.0.4
------------------------------------

first , we use 3 nodes of tikv to store data, and we bench to test the memory usage. We found that the memory usage in one nodes is very high , other is lower .
so, we add 3 more tikv node to the cluster ,  and we found that the hot node still the origin one and laster oom by the system .
why we add 3 more nodes,  the memory us

[2018-08-30 08:06] #3434 closed

[2018-08-30 13:38] BusyJay opened #3548 "Reload configuration at runtime"
For now, an instance needs to be restarted to apply the new configuration. This is sometimes too expensive and slow. Supporting reloading configuration at runtime can give us more flexibility for testing and maintaining.

[2018-08-31 01:26] siddontang opened #3549 "remove many box creations in the nested callbacks"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Now for an operation, we create many boxes to wrap the callbacks to ensure these callbacks can be passed to other places and called. E.g, for the raw put API

At first, we use `let (cb, f) = paired_future_callback();` to create a callback to notify the gRPC thread. Then we pass this callback to Storage `async_r

[2018-08-31 06:09] liubo0127 opened #3550 "Log cleaning"
## Feature Request

**Is your feature request related to a problem? Please describe:**
It will cause disk space not to be freed.

**Describe the feature you'd like:**
Add automatic log cleaning.

**Describe alternatives you've considered:**
Can configure crontab to clean up the logs.

**Teachability, Documentation, Adoption, Migration Strategy:**

[2018-09-02 06:54] WPH95 commented on #3275
Hi i will impl LastDay

[2018-09-03 08:41] wolfkdy opened #3559 "How does tikv maintain the monotonic of (raft) log Index"
I've read your optimizations to raft, which can be found here(https://zhuanlan.zhihu.com/p/25735592)
There are severial points not mentioned in the article, but I think quite important. I'm not fimiliar with
RUST, so I wonder if someone can give me clues.
**Q1**:  Client(or proxy layer, not important) sends write requests to leader parallelly,  The requests are transformed into raftlog( I guess)。B

[2018-09-03 13:16] siddontang commented on #3559
1. We use one queue for the Raft write, it is in sequence.
2. No, the log can only be applied after committed.

[2018-09-04 04:53] #3384 closed

[2018-09-04 06:35] breeswish opened #3564 "Support `is_float` option for parse_datetime"
## Feature Request

In TiDB's latest implementation, `parseDatetime` [has an option `isFloat`](https://github.com/pingcap/tidb/blob/418cdf2308c8ebedadbf356142f9afbab9aea111/types/time.go#L603) and there will be [different behaviours](https://github.com/pingcap/tidb/pull/4273) when time is constructed from a float or not a float. In TiKV this option is not implemented.

[2018-09-04 06:36] breeswish commented on #3546
Hi, we don't schedule according to memory usage. If you meet OOM, are you setting your block cache size too large?

[2018-09-04 10:03] romiguan opened #3566 "Strange behavior of TiKV: performance not increase when adding more load test client while TiKV server is idle"
Env: TiKV cluster of 6-node(64Core, 256G Mem, NVME disk 4T) with 3-billion data(key size : 8-bytes, value size < 50Byte), using TiKVRawClient doing BatchGet(300 keys one batch).
Strange behavior found when adding more clients: TiKV server throughputs are not increasing by adding more load test clients(more TiKVRawClient), while TiKV server is less than 50% CPU usage, many threads idle.

Is there a

[2018-09-05 07:40] BusyJay opened #3572 "Potential two different leaders on a same term"
Suppose a region A contains three peers a, b, c at term n. If c is uninitialized, a is stuck for some reason, then b can become leader at term n + 1. If c is restarted before accepting a snapshot, and a is recovered, then a can still start a campaign. Because we don't save hard state of an uninitialized peer, so c's term go back to 0. Hence a can win the campaign and become leader at term n + 1. S

[2018-09-05 08:18] Connor1996 commented on #3566
There maybe a bottleneck in some threads, you can use `top -H -p {tikv-pid}` to see thread CPU usage.  If `grpc-server` threads close to 100%, you can large `grpc-concurrency` in config.

[2018-09-05 10:12] Connor1996 commented on #3550
/cc @Hoverbear

[2018-09-05 10:14] BusyJay opened #3574 "Presplit in case apply stalls"
Split is an admin command which is applied sequentially as regular logs. If apply stalls, split will delay. So a fast leader may not be able to accept requests immediately if followers are slow. If it takes a lot of time for quorum to finish split, then request latency will increase a lot as it has to back off until a leader is elected.

Actually split can be executed once it's committed. The corr

[2018-09-05 10:47] BusyJay commented on #3431
Can this be closed, @Connor1996 ? If it can, please links to the PRs that resolve the issue.

[2018-09-05 11:11] Connor1996 commented on #3431
Fix by https://github.com/tikv/tikv/pull/3511

[2018-09-05 11:11] #3431 closed

[2018-09-05 19:34] Hoverbear commented on #3550
@liubo0127 Definitely a legitimate request. :)

Since we're not logging to something like the systemd journal we need to worry about this.

[2018-09-06 02:10] romiguan commented on #3566
Below config has benn made:

_grpc-concurrency = 64
normal-concurrency = 16
grpc-stream-initial-window-_size = "64MB"_

grpc-thread and normal-concurrency thread cpu usage is about 40-60%, and no end-point thread is displayed in top outputs.
Any suggestion for further tuning?

[2018-09-06 02:39] #3537 closed

[2018-09-06 03:12] zhangjinpeng1987 opened #3578 "skip_bcast_commit will delay follower's apply process"
## Bug Report

**What version of Rust are you using?**
rustc 1.29.0-nightly (4f3c7a472 2018-07-17)

**What operating system and CPU are you using?**
Centos 7.3

**What did you do?**
Writing data continuously.

**What did you expect to see?**
Leader will be elected as soon as split finished.

**What did you see instead?**
I find that if region split happens, the new generated region can't elect a l

[2018-09-06 03:14] breeswish commented on #3566
What kind of payload is it? Pure write? Pure read? Or mixed?

[2018-09-06 05:12] siddontang commented on #3578
@zhangjinpeng1987

`skip_bcast_commit` can reduce the message and help us gain a better performance, seem that for the admin operation, we need to force bcast, maybe we can use Context to do it.

/cc @Hoverbear @BusyJay

[2018-09-06 07:26] romiguan commented on #3566
Pure batchGet operation, details as below:

Env: TiKV cluster of 6-node(64Core, 256G Mem, NVME disk 4T) with 3-billion data(key size : 8-bytes, value size < 50Byte), using TiKVRawClient doing BatchGet(300 keys one batch).

[2018-09-06 09:06] Connor1996 commented on #3566
`end-point` thread has been renamed to `readpool-low/normal/high`. So you mean you have already set the configs but the performance didn't increase? What is the highest usage thread and how much is it?

[2018-09-06 11:36] ddorian opened #3584 "Reed Solomon encoding"
## Feature Request

Do you have any idea if/how Reed-Solomon error correction could be implemented in tikv ?

Regards,
ddorian

[2018-09-06 12:47] BusyJay commented on #3584
Can you provide more information about the motivation of the feature?

[2018-09-06 12:49] BusyJay commented on #3508
Closing this. Feel free to reopen it or create a new issue if you have further questions.

[2018-09-06 12:49] #3508 closed

[2018-09-06 12:57] ddorian commented on #3584
When you have real-big-data, or cold data, reed-solomon lowers your replication overhead from 3x->1.5x and increases resistance on more server-failures.

If your network is good, and caching is good, using reed-solomon may also increase performance (like compression does, you read less data but do more cpu, the same with reed-solomon, you read less data but compute more to read).

[2018-09-07 02:00] romiguan commented on #3566
For readpool config in which section, readpool.storage or readpool.coprocessor?
Below changes has been made, and performance has been increased.
Could you please indicate which configuration is the key point ?

[readpool.storage]
high-concurrency = 4
normal-concurrency = 16
low-concurrency = 4
max-tasks-per-worker-high = 10000
max-tasks-per-worker-normal = 10000
max-tasks-per-worker-low = 10000
st

[2018-09-07 06:02] breeswish opened #3587 "Use module path instead of file name in logging"
## Feature Request

Sometimes file name is identical enough, for example, multiple files are named as `mod.rs`, and it will be the name just printed out. This is actually not helpful for identifying issues. We can use module path instead.

[2018-09-07 06:04] breeswish commented on #3587
@BusyJay @Hoverbear How do you think?

[2018-09-07 06:07] BusyJay commented on #3584
Sounds interesting. /cc @zhangjinpeng1987 @huachaohuang PTAL

[2018-09-07 06:09] BusyJay commented on #3587
I'm afraid it will be too long. Generally, combine file name and line number can identify a log location precisely.

[2018-09-07 06:14] breeswish commented on #3587
@BusyJay I was looking at the trace level logging, and these logs are really hard to identify location. How about truncating long module names using ..., like "raftstore::(...)::store::Peer"?

[2018-09-07 12:16] Connor1996 commented on #3566
`readpool.storage` is related to kv api,
`readpool.coprocessor` is related to coprocessor api.

And which is the key point depends on your former bottleneck. So what is the highest usage thread before?

[2018-09-07 19:30] Hoverbear commented on #3587
What about the full file path? It will probably be shorter than module path.

[2018-09-10 03:08] breeswish opened #3591 "Run coverage report for PRs"
## Feature Request

Previously we disabled running coverage in PR #3247 because tests are run twice which slows down CI a lot.

Now [Tarpaulin supports returning test error codes](https://github.com/xd009642/tarpaulin/issues/119) so maybe we could merge them together and bring Tarpaulin back for PRs.

[2018-09-10 03:10] siddontang commented on #3591
you can have a try later @breeswish

[2018-09-10 03:11] breeswish commented on #3591
@siddontang It is rather a simple task. I marked it as help wanted so that contributions are welcome! :)

[2018-09-10 06:06] siddontang commented on #3591
Got it

[2018-09-12 07:08] jaltabike opened #3595 "Two single-threaded modules in TiKV limit the performance of TiDB"
I recently performed a custom benchmark for TiDB.
Through this benchmark, I suspect that the performance of my TiDB be limited by two single-threaded modules of TiKV: "raft store" and "async apply".

Specific symptoms were as follows.
While benchmarking, there was enough room for system resource usage of TiDB and TiKV like follows:
(CPU usage was around 60% and IO utilization was under 20%.)
![ima

[2018-09-12 07:51] #3578 closed

[2018-09-12 14:37] BusyJay commented on #3595
Yes. Both "raftstore" and "async apply" are single thread for now. And we are working on replacing it with thread pool. raftstore drives raft FSMs and serializes raft log. "async apply" applies raft logs and serializes user data.

From the picture you posted, it's likely that "async apply" becomes the bottleneck in your situation. I think a solution may depend on the specific situation. Generally,

[2018-09-12 15:04] victorggsimida opened #3597 "TIKV-Slow-Query"
## Question

Before asking a question, make sure you have:

My Question:

1. I input a full table scan sql to Tidb, and "many tikv server timeout" in tidb log

2. I found that it stuch in a tikv. I found that on that tikv cpu is full used.
And many slow query like belows. with table id  I found that this region belongs to the table I search.

Question:

1. how to solve this problem? it stop almost

[2018-09-12 16:24] breeswish opened #3600 "CI target cache might be broken now"
## Bug Report

From CI ([example](https://circleci.com/gh/tikv/tikv/13897)), we can see that it takes 0 seconds to download `target` cache. It might indicate that cache is not found. This lead to 30 minutes' built time. Previously when we have a target cache, it can be only 8 minutes ideally.

[2018-09-12 16:27] breeswish commented on #3597
Hi, what's your disk kind? (HDD / SDD)? How is the read speed of your disk?

[2018-09-13 01:36] jaltabike commented on #3595
@BusyJay
Thank you for your reply. It is very helpful to me. :)

[2018-09-13 05:28] koushiro opened #3601 "coprocessor/codec/mysql/duration.rs: function`micro_secs` of struct `Duration` return nanoseconds."
## Bug Report

I am a beginner of tikv.
I found this function when I wanted to add some push down scalar functions about time.
The name of the function is confusing.

[code]

This function is currently only used in `to_decimal` of `Duration` and `Display` of `Duration`, like this:
[code]

But in the function `round_frac` of `Duration`

[code]

So I think it might be a bug.
Maybe I can submit a PR.

[2018-09-13 06:05] BusyJay commented on #3601
Yes, it's a wrong name. Feel free to fix it.

[2018-09-13 06:51] victorggsimida commented on #3597
@breeswish  ssd.

when  this happen, io is free with iostat . I thing it is not about io problem

[2018-09-13 11:55] jaltabike commented on #3595
@BusyJay
I configured TiDB as you recommended above and performed the same benchmark again.
I added another TiKV instance to each node where an existing TiKV instance was deployed.
As a result, "async apply" became not the bottleneck:
![image](https://user-images.githubusercontent.com/1661884/45485683-783ae000-b793-11e8-9c45-56ea2b44703d.png)
I expected that QPS can be increased up to twice than b

[2018-09-13 12:50] yjhmelody commented on #3275
Hi, I will impl OctInt.

[2018-09-13 13:30] BusyJay commented on #3595
No.

There is no enough information to give the conclusion. You can try to use the Report button on the grafana dashboard to generate a complete report.

It depends. You can also try to increase the benchmark concurrency.

[2018-09-13 14:43] siddontang commented on #3597
@breeswish

I think we need to improve the time representation.

and this

seem `PerfStatisticsDelta(PerfStatisticsFields` is redudant.

[2018-09-13 14:44] siddontang commented on #3597
@huachaohuang

`internal_key_skipped_count: 1097893` means skipping unnecessary 1097893 keys?

[2018-09-13 15:04] DorianZheng commented on #3597
@breeswish ping

[2018-09-13 16:44] victorggsimida commented on #3597
more info

when the sql scan the big table (almost 300m rows,150 g in innodb table), the sql has no index to use.

It will stuck in the tikv. And then return tikv server timeout finally.

And in the period of this execution, other sql is also returned with 'tikv server timeout'

I have try increasing the concurrency of tikv confi, it does not take effect. after tikv server use the limit cpu , it w

[2018-09-14 01:09] jaltabike commented on #3595
@BusyJay
Thank you for your reply.
I attach my report: [test-cluster-tikv.pdf](https://github.com/tikv/tikv/files/2381474/test-cluster-tikv.pdf)
Please take a look.
I already increased the benchmark concurrency until QPS no longer increases.

[2018-09-14 02:08] BusyJay commented on #3595
@DorianZheng would you like to take a look?

[2018-09-14 02:32] breeswish commented on #3597
How is your block-cache configuration? Could you also show us the metrics graph in TiKV?

[2018-09-14 02:37] breeswish commented on #3566
Seems that you are requesting from KV API. Would you like to share us your output of `top -H`?

I guess the performance is limited by "xxx-concurrency" configuration in readpool.storage section. Your output will help us confirm the cause.

[2018-09-14 02:37] breeswish commented on #3566
Seems that you are requesting from KV API. Would you like to share us your output of `top -H`?

I guess the performance is limited by "xxx-concurrency" configuration in readpool.storage section. Your output will help us confirm the cause.

[2018-09-14 04:02] victorggsimida commented on #3597
@breeswish
block cache
[rocksdb]
max-background-jobs = 2
wal-dir = ""

[rocksdb.defaultcf]
block-cache-size = "14GB"

[rocksdb.lockcf]
block-cache-size = "2GB"

[rocksdb.writecf]
block-cache-size = "18GB"
compression-per-level = ["lz4", "lz4", "lz4", "lz4", "lz4", "zstd", "zstd"]
dynamic-level-bytes = false

[raftdb]

[raftdb.defaultcf]
block-cache-size = "2GB"

[2018-09-14 05:07] breeswish commented on #3597
@victorggsimida You may send to breezewish@pingcap.com

[2018-09-14 05:13] huachaohuang commented on #3597
@siddontang `internal_key_skipped_count` increases on every `Next()` even for valid keys, so it doesn't mean that it skipped that many unnecessary keys.

[2018-09-14 07:45] denghuancong opened #3611 "tikv_coprocessor_request_error,reason="stale_epoch", value = 344"
base info
tidb version: v2.0.4
-------------------------
we receive some warning message from prometheus， that we setup for out tidb cluster。
[code]
the stale_epoch count is 344 , we checkout the alert config:
[code]
It match the alert rule.  The background is we are importting data, I google it , it seem that the tikv region matter, what is this warning acturally mee?

[2018-09-14 11:27] DorianZheng commented on #3595
@jaltabike I downloaded your report, but it seems that it's already damaged. Could you upload it again?

[2018-09-14 13:15] siddontang commented on #3597
@huachaohuang

max-background-jobs = 2 seems too small?

[2018-09-16 02:10] huachaohuang commented on #3597
Yes, but it seems may not affect the coprocessor.
@victorggsimida Do you set `max-background-jobs = 2` manually? May I ask why?

[2018-09-16 15:06] chux0519 commented on #3600
It seems the cache key  should have `-{{ .Environment.CIRCLE_SHA1 }}` suffix. Adding the suffix may fix this.

[2018-09-16 16:18] victorggsimida commented on #3597
i  do not set it manually! do i need to increase this config?

[2018-09-17 01:00] jaltabike commented on #3595
@DorianZheng
I'm so sorry, I upload it again:
[test-cluster-tikv.pdf](https://github.com/tikv/tikv/files/2387167/test-cluster-tikv.pdf)

[2018-09-17 14:08] kkush commented on #3320
We are also facing similar issue, on **tikv version: 2.0.5** , CPU usage reaches max at 100% across all tikv nodes, even when no queries are being executed.
![screen shot 2018-09-17 at 7 33 08 pm](https://user-images.githubusercontent.com/6163365/45628168-1808ae80-bab1-11e8-80fe-4a4d5fc3f94c.png)

`2018/09/17 19:11:08.721 scheduler.rs:1306: [ERROR] get snapshot failed for cids=[179767164], error R

[2018-09-17 19:07] DorianZheng commented on #3320
@kkush Could you profile tikv and upload the flame graph?

[2018-09-18 02:24] hellotomfan opened #3617 "How can I completely the transactions?"
When some transactions wrote conflict, I got following logs:
[code]
and I don't rollback these transaction because they were invalid.
I think I get these logs because I don't completely close these transactions. How can I completely close these transactions?

[2018-09-18 08:10] kkush commented on #3320
@DorianZheng We are not using docker compose for running our setup, can you please help us out, how to profile TiKV without that. We went through this link (https://github.com/pingcap/tidb-docker-compose/blob/master/README.md), but were unable to follow the steps related to profiling. We are having 3 TiDB, PD instances and 4 TiKV instances.

[2018-09-18 15:21] DorianZheng commented on #3595
@jaltabike Looks like it haven't reached bottleneck. Could you increase the number of threads (maybe double it or even higher) of the benchmark?

[2018-09-19 00:54] jaltabike commented on #3595
@DorianZheng
I upload another report in which TiKV seems to reached bottleneck:
- Benchmark concurrency: use about 3000 clients -> TPS: 21,899.3 / MTT: 139.3
[document_20180919_3000.pdf](https://github.com/tikv/tikv/files/2394987/document_20180919_3000.pdf)
- Benchmark concurrency: use about 6000 clients -> TPS: 21,153.7 / MTT: 287.6
[document_20180919_6000.pdf](https://github.com/tikv/tikv/files/

[2018-09-19 03:30] DorianZheng commented on #3595
@jaltabike What kind of network you are using, 1000Mbps or 10000Mbps? And what about your network interface card, 1000Mbps or 10000Mbps? Can you post the graph of network traffic too? I wonder if it is reach the network bottleneck.

[2018-09-19 05:04] jaltabike commented on #3595
@DorianZheng
The graph of network traffic (when using about 3000 clients) was as follows:
- Inbound: tidb
![image](https://user-images.githubusercontent.com/1661884/45731722-e52afb80-bc13-11e8-9c16-9f8198b2ff6d.png)
- Outbound: tidb
![image](https://user-images.githubusercontent.com/1661884/45731738-f7a53500-bc13-11e8-82ee-e61460da7f6d.png)
- Inbound: tikv
![image](https://user-images.githubuserco

[2018-09-19 05:17] DorianZheng commented on #3595
@BusyJay PTAL

[2018-09-19 07:41] yangwenmai commented on #3600
@breeswish You can review the pr #3619 .

[2018-09-20 02:34] breeswish opened #3623 "Master CI failed for a week"
## Bug Report

https://circleci.com/gh/tikv/tikv/tree/master

Failures come from Coverage test.

I guess it may be one of the cause of https://github.com/tikv/tikv/issues/3600, because master has not been successfully built for a while and cache might be invalidated.

[2018-09-20 09:21] hicqu commented on #3623
Is it a travis-ci issue? See https://github.com/travis-ci/travis-ci/issues/6253.

[2018-09-20 09:46] breeswish commented on #3623
@hicqu I guess not, we are using circle CI and from the message we can see that it failed in code coverage tests.

[2018-09-20 09:47] breeswish commented on #3623
@Connor1996 PTAL, the build starts to fail since your change (success: https://circleci.com/gh/tikv/tikv/13813, fail: https://circleci.com/gh/tikv/tikv/13837). It might not be a direct cause though.

[2018-09-20 12:30] Connor1996 commented on #3623
emmm...my code changes have nothing relationship with that error, this test even doesn't reach merge logic. We didn't change `SchedTooBusy` logic for a long time, it seems that prewrite finished asynchronously everytime before call next `async_write()`. Maybe it is related to CI itself?

[2018-09-20 17:48] sch00lb0y commented on #3453
This issue has been solved I guess.

[2018-09-20 18:10] #3453 closed

[2018-09-20 18:10] Hoverbear commented on #3453
Thanks for noticing, @sch00lb0y

[2018-09-21 16:47] ice1000 commented on #2452
Related: #2614

[2018-09-22 06:12] #3601 closed

[2018-09-23 03:56] shizy818 opened #3630 "ci-test failed on test_prevote_reboot_minority_followers"
## Bug Report

**What version of Rust are you using?**

**What operating system and CPU are you using?**

**What did you do?**
run ci test in PR request

**What did you expect to see?**
tests run OK

**What did you see instead?**

[code]

[2018-09-23 14:38] sch00lb0y commented on #3342
@siddontang I would like to work on this.

you want to send the proposal and applies in a single task, right?
(i.e after writing kv wal and raft wal)

[2018-09-24 16:36] breeswish opened #3631 "Avoid using knowledge of MVCC layer in bytes codec"
## Feature Request

Currently in bytes codec (`util::codec::bytes`), it uses some knowledge from MVCC keys, for example, `max_encoded_bytes_size` added an extra size for appending ts, which is incorrect: this facility is not only used in MVCC layer, but also other layers, for example, Coprocessor datums. For this reason, bytes codec should be general and should not fulfill any requirements from th

[2018-09-25 05:29] zhangjinpeng1987 commented on #3617
@hellotomfan Can you provide more logs?

[2018-09-25 06:10] huachaohuang commented on #3611
Every region in TiKV has an epoch with two version numbers, one is for region split and merge, another is for membership configuration change. If you are importing data, it is likely that regions will split rapidly and so as the region epoch, that's why some requests return stale epoch error. Generally, tidb-server will retry on this error so it may not be a problem for the client. Do you encounte

[2018-09-25 06:52] siddontang commented on #3550
From @iamxy

It is better for the users themselves to decide when to clean the log, so I will close this issue.

[2018-09-25 06:52] #3550 closed

[2018-09-25 06:54] fredchenbj opened #3632 "compile error: does "raft" version mistake in Cargo.toml?"
## Bug Report

**What version of Rust are you using?**
rustc 1.29.0-nightly (4f3c7a472 2018-07-17)

**What did you do?**
make build

**What did you see instead?**
error[E0599]: no method named `skip_bcast_commit` found for type `raft::RawNode<raftstore::store::peer_storage::PeerStorage>` in the current scope
--> src/raftstore/store/peer.rs:1070:37
|
1070 | self.raft_group.skip_bcast_commit(true);

[2018-09-25 07:12] BusyJay commented on #3632
I guess `Cargo.lock` is mutated on your workspace locally, which is expected to lock the version of raft to specific commit.

[2018-09-25 07:13] BusyJay commented on #3632
@Hoverbear Do you have time to update the raft dependency to latest release?

[2018-09-25 08:09] fredchenbj commented on #3632
@BusyJay Thanks. I used the domestic Cargo Sources(https://mirrors.ustc.edu.cn/crates.io-index), so the Cargo.lock file changed.

[2018-09-25 14:46] #3564 closed

[2018-09-26 10:59] victorggsimida commented on #3597
@siddontang  is there any progress in this issue?

[2018-09-28 05:09] breeswish commented on #3597
How many TiDB and TiKV have you deployed? Are they share the same host or? When you meet slow query, are all TiKV in busy, or only one of them is busy? Can you share the metrics in TiKV - threads in grafana?

[2018-09-28 09:18] breeswish opened #3638 "Remove --exclude tikv_fuzz"
## Feature Request

Currently [we have --exclude tikv_fuzz in Makefile](https://github.com/tikv/tikv/blob/3ee21dca43d5fc9d16542e751c5961dceaf21e5f/Makefile#L87). It will be nice to remove it.

[2018-09-28 10:52] victorggsimida commented on #3597
@breeswish  8 tidb server in 4  phsical server and 26 tikv server in 13 phsical server

not all tikv is in busy. onley  one tikv server is in busy  with the same sql.

maybe i  reproduce it and get the tikv report and send to u.

pls give me your email

[2018-09-28 18:34] Hoverbear commented on #3632
@BusyJay We cannot update the raft version until https://github.com/pingcap/kvproto/pull/296. Once that is merged I will make a PR.

[2018-09-28 22:42] Hoverbear commented on #3623
@Connor1996 Have you managed to reproduce this locally?

[2018-09-29 02:59] victorggsimida commented on #3597
@breeswish

more info

[code]

[2018-09-29 03:01] breeswish opened #3640 "Observe the influence of codegen-unit bug"
## Feature Request

According to https://github.com/tikv/tikv/pull/3629, the performance is affected by the codegen-unit bug. Currently we are using codegen-unit = 2. We need to investigate how TiKV performs and maybe switch codegen-unit when the bug is fixed.

Previously reported in https://github.com/tikv/tikv/pull/3629#issuecomment-425045536

[2018-09-29 03:06] breeswish commented on #3597
@victorggsimida You can send metrics and logs to breezewish@pingcap.com

Maybe your table has hot region? You can observe gRPC requests received by each TiKV in TiKV's Threads panel. If only few of them has requests, then there are hot regions.

[2018-09-29 04:16] Connor1996 commented on #3623
@Hoverbear I didn't have any try to reproduce it locally, instead I make a PR https://github.com/tikv/tikv/pull/3635 to let circleci to retest.
the result shows
under master revert my change  **failed**
then use tarpaulin 0.6.1 instead of 0.6.3 **failed**
reset to commit(Fix CI by installing tarpaulin from git) with tarpaulin 0.6.1  **passed**
then add my change without test **passed**
then add te

[2018-09-29 10:18] victorggsimida commented on #3597
@breeswish
hot region  reminds me something.

becasuse i find that scheduler config  with 8 and some makeofflineregion schuduler  take up some of this. mayby this affect the hot region schedul

[2018-09-30 02:27] breeswish commented on #3623
Maybe you can try on a Linux machine to reproduce it faster? @Connor1996

[2018-09-30 03:00] victorggsimida commented on #3597
maybe is not the hot region problem.
is the WARN info  has something to do with slow query

[code]

[2018-09-30 09:17] siddontang opened #3647 "just test"
## Bug Report

**What version of Rust are you using?**

**What operating system and CPU are you using?**

**What did you do?**

**What did you expect to see?**

**What did you see instead?**

[2018-09-30 09:17] #3647 closed

[2018-10-01 21:36] Hoverbear commented on #3623
@Connor1996 Hmmm, okay. I haven't managed to reproduce this locally. (In fact, I cannot get Tarpaulin to even build versions 0.6.1 and 0.6.3. `cargo +nightly-2018-07-18 install cargo-tarpaulin --version 0.6.1` fails with many proc macro errors)

[2018-10-08 01:45] breeswish commented on #3597
@victorggsimida We just had a national holiday, sorry for the delay.

The WARN shown that some small operations took a long time and there might be something wrong. However it can not be easily identified by logs. Would you like to share your metrics? You should be able to export your metrics (TiDB, TiKV, PD and Overview) via either export to PDF in the grafana or File->Print->Save PDF.

[2018-10-08 01:45] breeswish commented on #3623
@Hoverbear You will need to install it via the command line in our CI script :)

[2018-10-08 02:31] breeswish commented on #3320
@DorianZheng PTAL

[2018-10-08 02:47] victorggsimida commented on #3597
@breeswish  i sent u the tikv report. And if u need tidb ,pd and overview report ,i will send u later

[2018-10-08 07:02] denghuancong commented on #3611
@huachaohuang the client work normal, we just confuse about the meaning of this error, thank you for the explanation！

[2018-10-08 07:02] #3611 closed

[2018-10-08 13:54] crazycs520 commented on #3275
I will impl `Concat`. [#3654](https://github.com/tikv/tikv/pull/3654)

[2018-10-09 02:36] breeswish commented on #3597
@victorggsimida Sorry I missed that email. I reviewed the metrics you given. On the first sight, TiKV coprocessor requests are indeed bad balanced, which is mostly caused by incorrect / not-optimized SQL plans. Are you doing POC? We do provide some kind of supports for POC users *for free*. I have send you my WeChat account so that we can communicate more efficiently and also let our OPS team take

[2018-10-09 02:44] Connor1996 opened #3655 "tikv-ctl compact run infinitely"
## Bug Report

When tikv-ctl `--host` is set with url with a schema like `172.0.0.1:20161`, compact runs successfully and returns soon. But once the url has a schema like `http://172.0.0.1:20161`, compact will run infinitely and actually it does nothing.

[2018-10-09 03:18] Xavier1994 opened #3656 "[TiKV Client][C++][Error Handling] how to handle "Not Leader" error"
## Question

I'm writing cpp client for TiKV, I get some problem  about error handling

1. I send a request to a region, but get "Region Is Stale" error, because the target region has been split into two new region. for example, the original region is **{region id: 1000, conf ver: 4, ver: 5}**,
new regions **{region id: 1000, conf ver: 4, ver: 6}**, **{region id: 1001, conf ver: 4, ver:6}**
2. I g

[2018-10-09 03:43] c4pt0r commented on #3656
@siddontang  @disksing  PTAL

[2018-10-09 03:46] gregwebs commented on #3656
You might be interested to learn about the Rust client being worked on (it would also expose a C interface). @Hoverbear

[2018-10-09 03:50] siddontang commented on #3656
@Xavier1994

Very glad to hear that you are building a C++ client for TiKV.
Seems that Region 1001 has not elected a new leader and reported to PD, so you can't get the leader info from PD. In Go client, we will wait some time and retry to get it again.

[2018-10-09 07:04] denghuancong commented on #3546
I think it should balance when someone scale out some tikv node into the system.
If not balance , it seem not unreasonable, we scale out tikv node because we met some tikv node using too match memory, it met oom.

[2018-10-09 07:31] breeswish commented on #3546
We don't have knowledge about per-region memory usage. It is managed by rocksdb and rocksdb don't know the region. Also, if you meet OOMs, mostly it is caused by too many cached data. Honestly schedule region away won't help, because, it will eventually cache so many data, as long as your data size > block-cache configuration > memory size .

[2018-10-09 10:48] powqabc opened #3658 "One of tikv instances is always restarting every minute"
There is a tidb cluster and the structure of tikv instance like this：
![image](https://user-images.githubusercontent.com/10123620/46664249-04a1bc80-cbf3-11e8-886b-6b4ce7062c00.png)
Now,the Tikv2-1 tikv instance is always restarting.There are some messages like this:
![image](https://user-images.githubusercontent.com/10123620/46664475-b80ab100-cbf3-11e8-9640-f5677f9307c6.png)
And,the version of tik

[2018-10-09 12:58] breeswish commented on #3658
@overvenus  PTAL

[2018-10-09 16:27] sch00lb0y commented on #3655
I would like to take this
[code]
 does the http prefix has to be removed on connect?

[2018-10-10 00:33] zhangjinpeng1987 commented on #3658
@powqabc Does the machine has restarted?

[2018-10-10 01:27] zhangjinpeng1987 commented on #3655
@Connor1996 We need to find out why it can not work when has http:// prefix.

[2018-10-10 01:28] zhangjinpeng1987 commented on #3638
@overvenus PTAL

[2018-10-10 01:47] Connor1996 commented on #3655
@sch00lb0y only remove http prefix is not elegant, any invalid url will cause it run infinitely. IMO, it is better to return some error info.

[2018-10-10 01:57] siddontang commented on #3658
do you enable `sync-log`? seem the raft log is lost.

[2018-10-10 03:12] powqabc commented on #3658
I confirmed that the machine has restarted. Now, what do I need to do?

[2018-10-10 03:13] powqabc commented on #3658
I set sync-log=false

[2018-10-10 04:42] hicqu commented on #3658
The reason is some raft entries are lost when the machine down. You can use [tikv-ctl tombstone](https://github.com/pingcap/docs-cn/blob/master/tools/tikv-control.md) to remove the bad region `702622` from the store.

[2018-10-10 05:03] #3656 closed

[2018-10-10 07:02] Connor1996 commented on #3623
@breeswish `codegen-units=1` makes no effort, maybe we should rewrite the test to make it more stable?

[2018-10-10 07:05] breeswish commented on #3623
@Connor1996 Yes. codegen-units=1 only helps with performance, won't change other thing.

[2018-10-11 02:07] powqabc commented on #3658
Thank you

[2018-10-11 08:13] breeswish opened #3664 "#[should_panic] unit tests cannot pass CI"
## Bug Report

As title describes, `#[should_panic]` tests, or tests using `catch_unwind` cannot pass CI, even if they succeeded actually.

Previously found in https://github.com/tikv/tikv/pull/3629#issuecomment-424557383

[2018-10-11 08:14] breeswish commented on #3664
@BusyJay Since the checking script that cannot support should_panic was written by you, you may have some new ideas about how to fix it?

[2018-10-11 08:16] breeswish commented on #3664
Currently it blocks #3629 because there are panic tests in that PR.

[2018-10-11 09:54] romiguan opened #3665 "Tikv: How to config to use a large region ?"
## Question

### Env:
    _tikv 2.1.0-rc.1  PD: v2.1.0-rc.1-1-g47a950e_
### Question:
In our production scenario, we will provision data offline and then put it to production env. And in production env, only batchGet(300 keys one batch) is performed, no put operation.
Our test result shows that under high concurrency, since one goroutine per region, too many goroutines generated in TikvRawClient a

[2018-10-11 10:41] BusyJay commented on #3664
You can use `recover_safe` instead of `#[should_panic]` or `catch_unwind`, so panic trace won't be printed out.

[2018-10-11 11:02] breeswish commented on #3664
@BusyJay Good idea! So this issue won't block #3629 but still nice to be fixed some day.

[2018-10-11 11:08] breeswish commented on #3665
Hi,

Large region is highly not recommended, which usually degrades performance instead. For your scenario, how about adjusting [grpc-connection-count](https://github.com/pingcap/tidb/blob/master/config/config.toml.example#L219)?

For your question, you may take a look at the keys in region and check out whether they exceeds the configuration. Also if you are changing region size over existing dat

[2018-10-11 11:39] romiguan commented on #3665
We use a proxy to wrap the batchGet operation(using tikv raw client) to tikv server, not use tidb. Then how to change it ? We have found that it is hard-coded in client code.

[2018-10-11 16:39] Hoverbear commented on #3664
I think this is a bug with how TiKV does CI. `#[should_panic]` tests don't cause `cargo test` to return non-zero. This doesn't change when you enable backtraces or logs.

[code]

[2018-10-11 16:51] breeswish commented on #3664
@Hoverbear Yeah.. The problem is that our CI script tried to parse panic messages from output.. so even if it returned with exit code 0, it is still treated as failures :(

[2018-10-11 16:57] breeswish opened #3669 "test_delay_split_region failed"
## Bug Report

See https://circleci.com/gh/tikv/tikv/14340

@overvenus @hicqu PTAL

[2018-10-11 16:58] Hoverbear commented on #3664
Oh no.

[2018-10-11 19:12] doublex commented on #2986
@ddorian
Yes, a "c-client" would be great for TiKV (+ SWIG bindings)

[2018-10-12 07:08] hicqu commented on #3320
Seems at TiKV end we need to set `http2_max_ping_strikes` big enough. I have a similar problem, too. And after I set the config to `i32::MAX`, there is no `too many pings` any more.

[2018-10-12 10:31] overvenus commented on #3655
Looks like grpc dns resolution failed.
[code]

[2018-10-13 09:10] sch00lb0y commented on #3655
@Connor1996 @zhangjinpeng1987 @overvenus I did some investigation on this with help of log.
 Error is happening here https://github.com/grpc/grpc/blob/master/src/core/lib/iomgr/resolve_address_posix.cc#L87
cause for the bug is not parsing the hostname and port properly.(https://github.com/grpc/grpc/blob/master/src/core/lib/gpr/host_port.cc#L41)
They passing `http://localhost:80` in getaddrinfo ins

[2018-10-13 12:03] sch00lb0y commented on #3655
And I've tried this with sample server. It was panicked and exited.
When I tried to compile tikv with latest grpc-rs,I was not able to compile.
I think, This issue will be solved with the new grpc-rs

[2018-10-15 03:28] hicqu opened #3673 "Export ThreadCollector to use it in other places"

[2018-10-15 04:46] #3673 closed

[2018-10-15 08:59] breeswish opened #3677 "Selection executor does not handle start_scan or stop_scan correctly"
## Bug Report

As title describes.

By default, `stop_scan` will return `None` and we explicitly implemented these interface for Table Scan and Index Scan. However we may have the following scenario: selection + table_scan. Then it will break.

Also it can be seen that the best solution is to inherit start_scan and stop_scan from child executors by default (currently our behaviour is override with

[2018-10-15 12:41] overvenus commented on #3669
PTAL @BusyJay

[2018-10-15 12:49] overvenus commented on #3549
To reduce nested `FnBox`, `impl FnOnce` is a good choose, it is easy to implement.
We may consider `Future` which reduces `FnBox` too. Also it can be integrated to coprocessor and storage seamlessly.

[2018-10-16 02:33] Connor1996 commented on #3655
@overvenus /cc

[2018-10-16 07:18] Xavier1994 opened #3679 "[TiKV] Some problems about performance and fault tolerance"
## Question

Hi, We are prepared to integrate tikv into our business, so I am testing tikv's performance and fault tolerance, but i get some problems about tikv.

1. I'm testing the write performance, I use 160 threads to send put request and get 2W QPS.  but  i find some of my put request usually get DEADLINE_EXCEEDED, my timeout setting is 100ms, that mean i send a request to a tikv server, but

[2018-10-16 07:18] Xavier1994 commented on #3679
@siddontang

[2018-10-16 07:44] overvenus commented on #3679
Hi @Xavier1994

Could you show grpc panel and thread CPU panel in grafana?
Examples:
![screenshot_20181016_153730](https://user-images.githubusercontent.com/2150711/46999896-89438c00-d159-11e8-8f7d-79fcec7cff51.png)
![screenshot_20181016_153755](https://user-images.githubusercontent.com/2150711/46999897-89438c00-d159-11e8-8ddc-64f32c0d9d06.png)

Latency of requests may increase under heavy load, l

[2018-10-16 07:57] zhangjinpeng1987 opened #3680 "TiKV support encryption before store into the low level engine"
## Feature Request

TiKV support encrypting the data before store it into the low level engine.

[2018-10-16 08:06] MyonKeminta commented on #3680
Emmm, why is this feature important?

[2018-10-16 09:51] breeswish commented on #3680
@MyonKeminta This seems to be a feature very useful for enterprises.

[2018-10-16 09:53] breeswish commented on #3680
How about utilizing RocksDB's env encryption? https://github.com/facebook/rocksdb/blob/189f0c27aaecdf17ae7fc1f826a423a28b77984f/include/rocksdb/env_encryption.h

[2018-10-16 11:56] Xavier1994 commented on #3679
hi,  @overvenus

![2018-10-16 7 47 40](https://user-images.githubusercontent.com/11145343/47014345-9756d400-d17c-11e8-935e-420ce30f9c14.png)
![2018-10-16 7 47 52](https://user-images.githubusercontent.com/11145343/47014346-97ef6a80-d17c-11e8-82e6-0bd112e3f7c3.png)

at 19:30, i stopped one of my tikv instance, and at 19:40, i restart the stopped instance. and i always send request with client  all

[2018-10-16 14:09] overvenus commented on #3679
Could you export tikv grafana to PDF for further investigation? Click the report button on the up-right corner.
![screenshot_20181016_220446](https://user-images.githubusercontent.com/2150711/47022232-9f6c3f00-d18f-11e8-8871-4b6ce92f6d14.png)

[2018-10-16 14:37] siddontang commented on #3680
I think using RocksDB's is enough.

[2018-10-16 14:38] siddontang commented on #3680
BTW, @huachaohuang you must also consider this.

[2018-10-16 14:53] siddontang commented on #3679
Hi @Xavier1994

The print logs are not relevant to this issue, but we find a problem when Compacting Raft log, see #3671

Can you give us the whole metrics PDF like above said? If not, maybe you can give us the panels like gRPC, Raft IO, Raft Propose or More Raft metrics, and threads.

Maybe it is caused by Raft leader election, maybe you can give us all the logs at that time.

BTW, can you give u

[2018-10-16 16:03] overvenus commented on #3655
Yes, it is solved with grpc-rs 0.4.

[code]

[2018-10-16 16:03] #3655 closed

[2018-10-17 03:51] Xavier1994 commented on #3679
![xnip2018-10-17_11-38-31](https://user-images.githubusercontent.com/11145343/47061138-d465a980-d202-11e8-80c3-333811fa2e30.jpg)

[2018-10-17 04:02] Xavier1994 commented on #3679
hi, @siddontang @disksing I failed to export the pdf from grafana, so i have a full screenshot of the monitor panel, but it is too big to upload on github. So you can give me a email address and i will send it by email. the grpc screenshot is below

![xnip2018-10-17_11-52-59](https://user-images.githubusercontent.com/11145343/47061359-acc31100-d203-11e8-9b70-8f8a891349fe.jpg)

I stopped one of my

[2018-10-17 06:42] Connor1996 commented on #3655
@sch00lb0y Thanks a lot😄

[2018-10-20 11:50] overvenus opened #3695 "Consider choosing block strategy for slog-async"
## Question

There are lot of `slog-async: logger dropped messages due to channel overflow, count: 7` in tikv's log file. The `count: 7` means 7 logs have been drop due to slogger channel full. There is no way to recover dropped logs, which is not helpful for debugging. The behaviour is controlled by `slog_async::OverflowStrategy`. Instead of `OverflowStrategy::DropAndReport`(current strategy), pl

[2018-10-22 03:47] malc0lm commented on #3677
@breeswish Hi, I'm trying to fix this issue, but I didn't understand your scenario "selection + table_scan" which you mentioned above.  In test "test_selection_executor_simple", "SelectionExecutor" has a "src" field which is just "TableScanExecutor", and it works fine. So what does "selection + table_scan" mean? I'm starter for tikv :)

[2018-10-22 03:47] malc0lm commented on #3677
@breeswish Hi, I'm trying to fix this issue, but I didn't understand your scenario "selection + table_scan" which you mentioned above.  In test "test_selection_executor_simple", "SelectionExecutor" has a "src" field which is just "TableScanExecutor", and it works fine. So what does "selection + table_scan" mean? I'm starter for tikv :)

[2018-10-22 12:48] Hoverbear commented on #3656
Hi @Xavier1994, if you encounter any problems with your effort to develop a TiKV client please feel very welcome to open any issues here. We are excited  about this project! You can also contact me at andrew@pingcap.com if you would like to ask something privately.

Thanks so much for your efforts!

[2018-10-22 14:16] Hoverbear commented on #3695
Already fixed in `master` quite some time ago:

https://github.com/tikv/tikv/blob/d046faecf56a11e526ce4f0211fe76ac5f1c7296/src/bin/util/setup.rs#L39-L62

[2018-10-22 14:16] #3695 closed

[2018-10-23 03:10] MyonKeminta commented on #3680
One thing we should also take care is that, sometimes a little data would show up in logs. If we do want to encrypt data on disk, I think these logs should also be treated carefully.

[2018-10-23 05:40] sch00lb0y commented on #2516
@siddontang @breeswish
Anyone working on this?
If not, I'm willing to work on this.

[2018-10-23 06:13] MyonKeminta commented on #3632
Seems the issue was solved. Should we close this?

[2018-10-23 06:28] siddontang commented on #3669
PTAL @zhangjinpeng1987