[2019-02-26 03:55] brson commented on #4100
@breeswish can mentor.

[2019-02-26 07:32] BusyJay commented on #4219
All tests pass on my local machine after merging #4256. Feel free to reopen it if you have further problem.

[2019-02-26 07:33] #4219 closed

[2019-02-26 15:49] #4221 closed

[2019-02-26 20:01] brson commented on #4260
@BusyJay tikv [turns on](https://github.com/tikv/tikv/blob/master/components/tikv_alloc/Cargo.toml#L27) the `unprefixed_malloc_on_supported_platforms`, which, on current jemallocator, [looks to unprefix malloc](https://github.com/gnzlbg/jemallocator/blob/master/jemalloc-sys/build.rs#L45) on most platforms, but not darwin nor musl, because those have bugs when unprefixed. Tikv also disables jemallo

[2019-02-27 00:17] Hoverbear opened #4286 "Add community health files for entire org."
We can now use org wide community health files!

https://github.blog/changelog/2019-02-21-organization-wide-community-health-files/

I'm happy to tackle this, but @siddontang can you get us a `.github` repository?

[2019-02-27 01:59] nhultz commented on #4229
@brson I can take a stab at this one.  Been looking for a relatively straight forward task to get my feet wet with this project.

[2019-02-27 03:45] DorianZheng opened #4288 "Titan is not compatible with DeleteFilesInRanges"
## Bug Report

According to my test, using DeleteFilesInRanges in Titan will lead to inconsistent read.

In TiKV, we can simply set `use_delete_files` in https://github.com/tikv/tikv/blob/e1984bcc3c3ed96544eb4012da71137509f7d145/src/raftstore/store/worker/region.rs#L466
to false to solve this issue.

[2019-02-27 03:58] DorianZheng commented on #4286
@siddontang PTAL

[2019-02-27 04:35] jaltabike opened #4289 "TiKV go-client dependency install failed"
Following the guide (https://github.com/tikv/tikv/blob/master/docs/clients/go-client-api.md),

I create the example go-client program using the Transactional Key-Value API.

When installing dependencies (i.e., running "go get github.com/pingcap/tidb@master"),

I met the same issue solved in https://github.com/tikv/tikv/issues/3900#issue-389056974.

Following the solution in https://github.com/tikv

[2019-02-27 06:10] #4247 closed

[2019-02-27 07:21] AndreMouche commented on #4238
For `read` in the coprocessor, it seems to get one lock should be enough since we will return when meeting the first lock.

[2019-02-27 07:25] DorianZheng commented on #4289
@disksing PTAL

[2019-02-27 07:56] weekface opened #4291 "tikv failed to start: failed to create kv engine: "Corruption: Sst file size mismatch...""
In k8s env, the host machine rebooted, and then the tikv server can't started.

tikv logs:
[code]

dmesg:
[code]

the data dir:
[code]

@DorianZheng PTAL

[2019-02-27 07:59] kennytm commented on #4260
🤔 Since you mentioned `jemallocator`, when we collected the memory profile the `tikv-importer` was built based on the release-2.1 branch which didn't contain the 2018 edition changes. Perhaps we need to try again based on 3.0.

[2019-02-27 09:36] BusyJay commented on #4260
The builtin jemalloc is not configured and built with profile functionality. So TiKV links to jemallocator crate when trying to profile memory, which is done via feature "mem-profiling".

[2019-02-27 10:03] #4197 closed

[2019-02-27 10:13] kennytm commented on #4260
Yes we did enable the `mem-profiling` feature when compiling (which is why we can get the memory dump). At least on 2.1 this is not propagated into RocksDB though.

[2019-02-27 11:40] #4273 closed

[2019-02-27 12:55] breeswish commented on #4238
@AndreMouche Yes. But maybe our implementation need to take care of it to keep compatibility with KV interface (KV interface doesn't stop when there is a lock). Additionally we also need to batch the read of write CF and data CF.

[2019-02-27 15:57] BusyJay opened #4293 "coprocessor: parsing error is never returned"
When it fails to parse a request, the error is wrapped in an dummy handler which is returned from the function with a fake context and supposed to be executed inside read pool.

https://github.com/tikv/tikv/blob/e53a8c21d77d8ce0e06b855fbe31ee9f8cd525a2/src/coprocessor/endpoint.rs#L196-L211

However endpoint will continue to get a snapshot first using the fake context, which will always fail as it'

[2019-02-27 16:01] siddontang commented on #4293
Finally, we find this problem 😭

Btw, why parsing failed? the request is too big? @BusyJay

[2019-02-27 16:05] siddontang commented on #4291
the problem is caused by the corrupted SST file, now we have no way but to remove this TiKV.

Can we reproduce this problem? if yes, seem we need to investigate why doing this can lose data.

[2019-02-27 16:07] disksing commented on #4293
The request can be unmarshalled in Go. I guess the problem is the  DAG request recurses too deep.

[2019-02-27 16:50] breeswish commented on #4293
Interesting finding. Looks like we must find a way that parsing failed errors are returned immediately instead of partially finished the pipe line.

[2019-02-28 00:37] Hoverbear commented on #4262
The document discusses auto-generated API documentation. I think in the case of our clients, the auto-generated documentation like that which rustdoc creates will suffice.

For TiKV, we have some ongoing projects to improve documentation. The primary thing we need to detail is input/output, but that is related to GRPC and grpc-rs doesn't build out documented content. I wonder if @nrc and @ice1000

[2019-02-28 01:37] siddontang commented on #4288
how can we solve this problem absolutely?

Another thing is that seems Titan doesn't support DeleteRange, right? @DorianZheng

[2019-02-28 02:39] weekface commented on #4291
The scene of the problem still exists, but this problem is not easy to reproduce.

[2019-02-28 02:54] DorianZheng commented on #4288
Titan support DeleteRange. I haven't figured out what's wrong with DeleteFilesInRanges yet. I need some time to investigate.

[2019-02-28 03:02] ICEYSELF commented on #4196
@wujunze Are you still working on this? If not, I will start.

[2019-02-28 03:03] wujunze commented on #4196
I am doing   Thanks

[2019-02-28 04:16] disksing commented on #4289
Hi @jaltabike , seems there are something wrong with network. Can you successfully download packages from `golang.org`? (try `go get -v golang.org/x/sys`)

[2019-02-28 05:22] ICEYSELF opened #4295 "test: test_sst_writer(I guess) failed with assertion failed in rocksdb"
## Bug Report

**What version of Rust are you using?**
`rustc 1.32.0-nightly (14997d56a 2018-12-05)`, it was downloaded by cargo automatically when first time running `cargo build`

**What operating system and CPU are you using?**
[code]
operating system(uname -a): `Linux icey-self 4.15.0-29deepin-generic #31 SMP Fri Jul 27 07:12:08 UTC 2018 x86_64 GNU/Linux`

**What did you do?**
I cloned the lat

[2019-02-28 06:51] dcalvin commented on #4263
@queenypingcap FYI

[2019-02-28 07:48] DorianZheng commented on #4295
#4296

[2019-02-28 08:37] jaltabike commented on #4289
Hi @disksing
Yes, I can.

$ go get -v golang.org/x/sys
Fetching https://golang.org/x/sys?go-get=1
Parsing meta tags from https://golang.org/x/sys?go-get=1 (status code 200)
get "golang.org/x/sys": found meta tag get.metaImport{Prefix:"golang.org/x/sys", VCS:"git", RepoRoot:"https://go.googlesource.com/sys"} at https://golang.org/x/sys?go-get=1
go: finding golang.org/x/sys latest
go: downloading go

[2019-02-28 08:39] siddontang commented on #4289
@disksing
maybe we can replace golang.org to github.com/golang :-)

Can we let the user use tikv/client-go now? so we don't need to depend on tidb.

[2019-02-28 10:14] wujunze commented on #4196
This task looks very interesting and you are welcome to complete it together @ICEYSELF
https://github.com/tikv/tikv/pull/4297

[2019-03-01 02:41] disksing commented on #4289
@siddontang We can't use `github.com/golang` directly unless we replace all import path in the package. `tikv/client-go` is still not ready yet.

[2019-03-01 02:47] disksing commented on #4289
Hi @jaltabike , could you try `go get -u -v github.com/pingcap/tidb@master`? I still suspect that it is related to the network. It just simply works in my machine following the documentation. BTW, please paste the output of `go version` too.

[2019-03-01 03:16] brson commented on #4274
What sort of stack protection are you thinking of @siddontang ?

[2019-03-01 05:05] breeswish opened #4301 "clippy -D rust-2018-idioms"
## Feature Request

Currently we have `-D bare_trait_objects`. We can further extend deny rules to `-D rust-2018-idioms`.

Notice that we first need to upgrade our rustc version to a later one. The current one will report:

[code]

which is a false positive.

[2019-03-01 05:07] breeswish commented on #4301
for contributors who want to work on this: you may want to invoke `cargo fix --edition-idioms --all --all-targets` first to eliminate your manual work. However this fix produces some issues and you need to further work on it.

[2019-03-01 05:13] breeswish commented on #4301
Oh looks like @nrc already created a PR on this! https://github.com/tikv/tikv/pull/4300

[2019-03-01 07:26] TennyZhuang commented on #4239
How about creating a iterator pool in memory and always find the nearest iterator?

[2019-03-01 07:49] overvenus opened #4302 "Use segment locking when scheduling tasks to a thread pool"
## Feature Request

We notice that there is severe lock contention in coprocessor thread pools, because worker threads share a `Arc<Mutex<Receiver>>`. To reduce lock contention, we can use segment locking, say there is a big thread pool which has 32 workers, but internally it has 8 small thread pools (4 threads each), we can divide the lock into 8 locks.

Here is a flamegraph of the coprocessor: h

[2019-03-01 09:03] breeswish commented on #4239
@zhangjinpeng1987 PTAL

[2019-03-01 09:04] huachaohuang commented on #4291
I think it has something to do with the filesystem.

[2019-03-01 09:07] huachaohuang commented on #4257
The problem has been solved. In short, we used 1MB block size for the engine file and kept all SST files in level 0, so the memory consumption of N concurrent iterators can be 1MB * (number of files) * (number of iterators).

[2019-03-01 09:07] #4257 closed

[2019-03-01 09:53] weekface commented on #4291
Do we have some tools to monitor it and print some logs when it happens again?

[2019-03-01 11:32] zhangjinpeng1987 commented on #4239
@breeswish Can you provide more details for what kind of SQL can send queries that scan multiple ranges in one Coprocessor query.

[2019-03-01 14:53] breeswish commented on #4239
@zhangjinpeng1987 There are many, for example, `select * from table where id not in (...)`.

[2019-03-01 15:38] jiak94 opened #4304 "Cross Compile on target aarch64-unknown-linux-gnu"
## Question
Cannot Compile on target=aarch64-unknown-linux-gnu
Before asking a question, make sure you have:

- Searched existing Stack Overflow questions.
- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/tikv/tikv/issues?utf8=%E2%9C%93&q=is%3Aissue)
- Read the documentation:
  - [TiKV Readme](https://github.com/tikv/tikv)
  - [TiKV Doc](https://github.com/tik

[2019-03-01 17:53] da-x commented on #4189
[Internals forum Pre-RFC](https://internals.rust-lang.org/t/pre-rfc-cargo-custom-named-profiles/9538).

[2019-03-02 00:50] zhangjinpeng1987 commented on #4239
I think it worth to reuse iterator in a coprocessor request.

[2019-03-02 07:13] ICEYSELF commented on #4295
The test is passing now, thx

[2019-03-02 07:13] #4295 closed

[2019-03-02 07:49] ice1000 commented on #4295
Thanks for reporting!

[2019-03-02 09:35] zhangjinpeng1987 commented on #4304
@jiak94 Can you provide more informations for the compile error?

[2019-03-02 09:37] zhangjinpeng1987 commented on #4302
Good catch.

[2019-03-02 10:29] breeswish commented on #4239
@zhangjinpeng1987 Yes I agree. It's this issue's purpose. Also @ilovesoup has some demands of scanning multiple ranges.

[2019-03-02 12:33] siddontang commented on #4302
can migrating to tokio thread pool solve this problem directly? We will use tokio thread pool later.

[2019-03-04 02:44] brson commented on #4155
In a particular test I did, I see a 4% savings for full build times when incremental is off:

brson/makefile-profiles branch 4a915f147b9ab60ff871352e3f5467ea839df690

[code]

## incremental = true

[code]

## incremental = false

[code]

96.14890885750962

Nearly 4% improvement in compile time for full rebuilds.

Today our release builds don't use incremental, but for development you really want i

[2019-03-04 02:48] brson commented on #4190
[Here](https://github.com/tikv/tikv/issues/4155#issuecomment-469099403) I measured a nearly 4% reduction in compile time in a particular test by turning off incremental compilation.

While we can't do that, we _could_ turn it off for a significant percentage of the crate graph that changes relatively rarely.

[2019-03-04 06:05] jaltabike commented on #4289
$ go get -u -v github.com/pingcap/tidb@master
go: finding github.com/pingcap/tidb master
go: finding github.com/ngaut/pools latest
go: finding github.com/eknkc/amber latest
go: finding github.com/shurcooL/httpfs latest
go: finding github.com/ngaut/sync2 latest
go: finding github.com/StackExchange/wmi latest
Fetching https://golang.org/x/tools?go-get=1
go: finding github.com/etcd-io/gofail latest
g

[2019-03-04 06:41] 5kbpers commented on #4302
Seems it would lead too many modifications cause the interface isn't compatible well.

[2019-03-04 09:27] siddontang commented on #4274
@brson

what I mean is GCC `-fstack-protector`, but I don't know whether it can work or not :-)

[2019-03-04 09:33] mark988 commented on #2874
./tikv-server --pd="127.0.0.1:2379" --data-dir=tikv --log-file=tikv.log
执行上面的指令，报错如下，
Illegal instruction (core dumped)

[2019-03-04 09:48] breeswish commented on #2874
@mark988 Which version are you using?

[2019-03-04 10:16] disksing commented on #4289
Hi @jaltabike, it is really a very strange problem. I have tried to reproduce it using go1.11.2 in my environment but with no luck :(

I noticed an error about `testify` from the log you provided:
[code]
After search go source code, I found that it should reported from here: https://github.com/golang/go/blob/d346a9b7725b5313ddda3913cbcd5ff5fba0c909/src/cmd/go/internal/modfetch/coderepo.go#L339

Fr

[2019-03-04 14:11] siddontang commented on #4302
@5kbpers

Can you do a quick POC and verify using segment locking can improve performance?

[2019-03-04 19:10] brson commented on #4229
@nhultz Awesome. Let me know if you run into problems.

[2019-03-04 23:06] Hoverbear commented on #4264
Closed

[2019-03-04 23:06] #4264 closed

[2019-03-04 23:43] brson commented on #4274
Oh that does look interesting. It's not what I expected - it's actually verifying the integrity of (some) stack frames.

From reading about `-fstack-protector` it does not sound like it protects against stack overflow the way rust does. If rocksdb is not setting up guard pages and doing the appropriate codegen for them then that also should be turned on unconditionally. Seems like `-fstack-check`

[2019-03-04 23:55] brson commented on #4165
The next step here is simply to investigate where modules can be pulled out of tikv, give it a try and see if something is feasible.

@BusyJay I wonder if you have ideas about which modules could most easily be pulled out of tikv into crates.

[2019-03-05 00:14] brson commented on #4190
I've started working on this myself.

[2019-03-05 00:32] brson opened #4308 "MustConsumeVec"
## Bug Report

**What version of Rust are you using?**

**What operating system and CPU are you using?**

**What did you do?**

**What did you expect to see?**

**What did you see instead?**

[2019-03-05 00:32] #4308 closed

[2019-03-05 01:05] brson opened #4309 "MustConsumeVec double-panics in dtor"
Here's a backtrace I saw after the integrations suite aborted:

[code]

The source of the panick is:

[code]

It is not appropriate for destructors to panic because it leads to double panic like this ([guide](https://rust-lang-nursery.github.io/api-guidelines/dependability.html#destructors-never-fail-c-dtor-fail). It would be fine to log this, but not panic.

The intent here looks to be that the v

[2019-03-05 01:07] brson commented on #4309
Ok, probably a better solution here is to say "if the thread doesn't panic, the buffer must be empty" (assuming that is acceptable for its use case). And that can be expressed by adding `if !std::thread::panicking()` to the dtor.

[2019-03-05 01:10] brson opened #4310 "PendingCmd panics on drop"
It's not ok generally to panic in destructors because of the risk of double-panic ([see api guide](https://rust-lang-nursery.github.io/api-guidelines/dependability.html#destructors-never-fail-c-dtor-fail)), which causes an abort.

Here's the code:

[code]

What is the expected outcome for `cb` if the thread panicks? Is it ok to not call it in that situation? If that's ok then adding `!std::thread:

[2019-03-05 01:29] brson opened #4311 "ChannelCredentialsBuilder leaks secrets on drop"
ChannelCredentialsBuilder contains an Option field called cert_key_pair that contains secrets when Some. The drop function assumes that cert_key_pair has been moved into grpc_sys, but it is possible for that not to be true if `build` is never called.

The drop method should look into this field and call `clear_key_securely` on it if it still exists.

[2019-03-05 01:36] brson commented on #4311
This is incorrect. Not sure what I was looking at.

[2019-03-05 01:36] #4311 closed

[2019-03-05 01:50] brson opened #4312 "RotatingFileLoggerPanics on drop"
It's not ok generally to panic in destructors because of the risk of double-panic ([see api guide](https://rust-lang-nursery.github.io/api-guidelines/dependability.html#destructors-never-fail-c-dtor-fail)), which causes an abort.

RotatingFileLogger's drop method calls `close` which calls `flush` on a file, which can fail. It then unwraps that result, potentially panicking. The best that con be do

[2019-03-05 02:04] brson opened #4313 "RocksEngineCore can probably panic on drop"
It's not ok generally to panic in destructors because of the risk of double-panic ([see api guide](https://rust-lang-nursery.github.io/api-guidelines/dependability.html#destructors-never-fail-c-dtor-fail)), which causes an abort.

Here's the drop impl:

[code]

That's a thread join handle being unwrapped, so if the worker panicked, the joinhandle will return an error. Now, RocksEngine has a `stop`

[2019-03-05 02:22] brson commented on #4313
Actually, this could use `std::thread::panicking` to only panic on a joinhandle failure if the stack is not already unwinding. I'm not sure what the best solution is offhand, though I recall that using `panicking` in that way is frowned on for reasons I don't recall.

[2019-03-05 02:31] brson commented on #4309
Before trying to fix this I think we should get more clarity on the downsides of using `thread::panicking` in drop.

[2019-03-05 02:31] brson commented on #4310
Before trying to fix this I think we should get more clarity on the downsides of using `thread::panicking` in drop.

[2019-03-05 02:31] brson commented on #4312
Before trying to fix this I think we should get more clarity on the downsides of using `thread::panicking` in drop.

[2019-03-05 02:31] brson commented on #4313
Before trying to fix this I think we should get more clarity on the downsides of using `thread::panicking` in drop.

[2019-03-05 02:38] mark988 commented on #2874
没看懂解决方案。

[2019-03-05 02:41] 5kbpers commented on #4302
@siddontang
OK

[2019-03-06 02:42] siddontang opened #4318 "test buffer::tests::test_vec_reallocate failed"
## Bug Report

[code]

[2019-03-06 04:17] Sai-Adarsh commented on #4185
Hey @Hoverbear , @BusyJay I am [Sai Adarsh](http://sai-adarsh.github.io). I am planning to do GSoC with TiKV-CNCF. [Building TiKV client](https://github.com/cncf/soc#build-tikv-clients-in-different-languages) - this interests me and I would like to discuss with you regarding contributions, proposal. I've searched both of you in k8s slack and CNCF slack and I don't think I found you.

[2019-03-06 07:03] yiwu-arbug commented on #4260
I'm able to dump a heap of tikv which is showing rocksdb allocations. I'm using tikv master.
[heap.pdf](https://github.com/tikv/tikv/files/2934872/heap.pdf)

Seems the issue is with MacOS or release-2.1? Closing the issue for now.

[2019-03-06 07:03] #4260 closed

[2019-03-06 09:06] overvenus opened #4319 "TiKV may fail to find PD cluster if all PD members are changed"
## Bug Report

TiKV may stop service if PD members are all changed and PD leader is the last one removed because TiKV caches PD member list and does not update unless  PD leader has changed.

[code]

TiKV needs to update the PD member list periodically.

[2019-03-06 10:55] liyuntao commented on #2373
To get rid of copy, is it possible to change the `entries` field's type to `&[Entry]` in `Ready` struct?

However this would lead to first mutable borrow on `raw_node` ends later than second mutable borrow, thus introduce some compile time error I can't solved by myself.

[code]

[2019-03-06 16:15] BusyJay opened #4323 "TiKV may not report errors if port is in conflict"
Because TiKV binds port using SO_REUSEPORT, so if the port is binded by other process with SO_REUSEPORT already, the instance can start successfully without errors. However new connections may not be accepted by the started instance, so it's idle and no errors or warnings are reported.

This can easily happen if multiple instances are sharing the same machine while they are not configured properly

[2019-03-06 18:36] Hoverbear commented on #4185
Hi @Sai-Adarsh ! You can catch us in the [TiKV community chat](https://join.slack.com/t/tikv-wg/shared_invite/enQtNTUyODE4ODU2MzI0LTgzZDQ3NzZlNDkzMGIyYjU1MTA0NzIwMjFjODFiZjA0YjFmYmQyOTZiNzNkNzg1N2U1MDdlZTIxNTU5NWNhNjk).

You can also email me at ana@pingcap.com and we can have a chat.

Thanks so much for your interest. :)

[2019-03-06 23:11] brson commented on #4166
Cargo pipelining issue: https://github.com/rust-lang/cargo/issues/6660

[2019-03-07 01:00] axelmagn commented on #4312
I am interested in patching this.  I think I've got a handle on how I would do it.  I did some googling, but I couldn't find any reference to the downsides of thread::panicking that you are referring to.

[2019-03-07 02:26] 5kbpers commented on #4302
I found lock contention there could not be a bottleneck, its CPU usage is about 2.5% when the Threadpool is fully used.
See the flamegraph of coprocessor here:
<https://gist.github.com/5kbpers/be7e20078e689f21757a4c151d834d90>

[2019-03-07 03:16] breeswish commented on #4318
This test relies on the behaviour that jemalloc realloc the address. Maybe the new member of our team can help us find a solution to reliably letting jemalloc realloc. @siddontang

[2019-03-07 08:39] breeswish opened #4327 "float_str_to_int_string should not return error"
## Bug Report

TiDB with TiKV:

[code]

TiDB without TiKV:

[code]

MySQL:

[code]

According to TiDB's [implementation](https://github.com/pingcap/tidb/blob/469fa877d6c3f8851760eade5f8601dcbbbd4d59/types/convert.go#L274) of `float_str_to_int_string` it returns warnings instead of errors. That should be the main reason why this fails in TiKV.

[2019-03-07 11:24] liufuyang commented on #4327
Is this some easy task, perhaps I can try give some help on it?
Looks like I just need to return some warning here:
https://github.com/tikv/tikv/blob/02ebbd69d0c7332e5776248122e0e59949317f57/src/coprocessor/codec/convert.rs#L306
?

[2019-03-07 12:31] tennix opened #4328 "TiKV lost logs in Kubernetes/Docker environment"
## Bug Report

**What version of Rust are you using?**
1.29.0-nightly (4f3c7a472 2018-07-17)

**What operating system and CPU are you using?**
[code]

**What did you do?**
I deployed a TiDB cluster on Kubernetes using TiDB Operator. And then ran sysbench on TiDB, but after some time, the TiKV server got restarted.

**What did you expect to see?**
The TiKV server got panic, I'd expect to see the er

[2019-03-07 13:09] breeswish opened #4330 "error: ./target/debug/tikv-server does not enable sse4.2"
## Bug Report

This error is shown for in CI:

[code]

https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/2134/pipeline

[2019-03-07 13:10] breeswish commented on #4327
@liufuyang Yes, you just need to change errors to warnings. Notice that the function itself is not accepting some context for writing warnings, so you need to modify these function signatures.

[2019-03-07 13:23] liufuyang commented on #4327
hmm... can you help me find some code that returns Warnings so I can try do the same here? I am pretty new to tikv and kind of new to Rust. I know the type Result kind of well but I am not sure how to change this to some Warning type :)

[2019-03-07 13:23] breeswish commented on #4330
Just caught another failure:

https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/2137/pipeline

This error happens pretty frequently.. @overvenus PTAL

[2019-03-07 13:29] breeswish commented on #4327
@liufuyang You can grep for "append_warning" and you will see that normally there will be a `ctx.warnings.append_warning`. So to append warnings the function should accept that ctx first (and you need to change the signature)

[2019-03-07 13:50] liufuyang commented on #4327
@breeswish Thanks :)

Okay. Before I go further with that, I just tried some corner cases for fun. It seems our code in here in tikv (or maybe also in tidb, if you can help me test it would be nice), that when the input is `"9e20"`, which is a number bigger than i64_max, the code here passes without returning a Err:
Input: `"9e20"`
Current float_str_to_int_string() output:
`900000000000000000000`

[2019-03-07 13:59] liufuyang commented on #4327
I actually not sure how mysql works, it seems that `"1e5"` will not cause warning but "1e10" will...

[code]

Not exactly sure what I am doing here but do we try to make tidb behave exactly the same as MySQL5.7 or...? 🤔

[2019-03-07 22:25] Hoverbear commented on #4327
Hi @morgo, can you take a look at this compatibility issue?

[2019-03-07 23:44] morgo commented on #4327
This is really weird.  It looks like the insert is behaving as expected, but on reading the data TiKV is evaluating the values to compare them to `s`.

So for a quick test case that is legal:
[code]
So there has to be a `NOT NULL` check, but I am not sure casting a string value that looks numeric is required to do that (it's a bug).  It should only compare for nullability and not cast in doing so.

[2019-03-07 23:52] morgo commented on #4327
It looks like this behavior might be required for MySQL compatibility (sorry, it's not common syntax - so I am less familiar):
[code]

I would have interpreted `WHERE s` as "where s is not null", but it looks like MySQL doesn't do that.  It will cast values to compare.  It can even produce a warning:

[code]

It is possible the only part broken here is the type used for casting before comparing.

[2019-03-08 00:52] brson commented on #4312
@axelmagn great, please give it a try.

I chatted a bit on #rust-libs about fallible destructor patterns today, and came away thinking we should go ahead and use thread::panicking to avoid the double-panic.

Generally though, I think the best pattern for fallible destructors is to have a close method that returns a Result, and a drop method that verifies that close was called. I sketched out how t

[2019-03-08 00:54] brson commented on #4310
I chatted a bit on #rust-libs about fallible destructor patterns today, and came away thinking we should go ahead and use thread::panicking to avoid the double-panic.

That is, if it is acceptable to not call that callback on panic. Hopefully someone will think about that during review.

Generally though, I think the best pattern for fallible destructors is to have a close method that returns a Re

[2019-03-08 00:55] brson commented on #4309
I chatted a bit on #rust-libs about fallible destructor patterns today, and came away thinking we should go ahead and use thread::panicking to avoid the double-panic.

That is, if it is acceptable to leave the buffer full on panic. Hopefully someone will think about that during review.

Generally though, I think the best pattern for fallible destructors is to have a close method that returns a Res

[2019-03-08 00:56] brson commented on #4312
@axelmagn if you like this one, there are two more like it: https://github.com/tikv/tikv/issues/4310, https://github.com/tikv/tikv/issues/4309

[2019-03-08 01:05] Maxgy commented on #4151
I'll see what I can do here.

[2019-03-08 01:21] nrc opened #4331 "Fix the `buffer::tests::test_vec_reallocate` test"
The test is ignored since it has been flaky in CI see [this comment](https://github.com/tikv/tikv/pull/4300#issuecomment-470319267) for details.

[2019-03-08 01:39] brson commented on #4309
I chatted a bit on #rust-libs about fallible destructor patterns today, and came away thinking we should go ahead and use thread::panicking to avoid the double-panic.

That is, if it is acceptable to leave the buffer full on panic. Hopefully someone will think about that during review.

Generally though, I think the best pattern for fallible destructors is to have a close method that returns a Res

[2019-03-08 02:23] overvenus commented on #4330
It was caused by missing gdb in our CI before. Now https://github.com/tikv/tikv/pull/4329 shows this issue is  resolved.

[2019-03-08 02:23] #4330 closed

[2019-03-08 02:34] overvenus commented on #4328
Maybe we should call `fflush(stderr)` before exiting. http://man7.org/linux/man-pages/man3/fflush.3.html

[2019-03-08 02:59] Connor1996 commented on #4182
Fixed by https://github.com/pingcap/rocksdb/pull/69

[2019-03-08 02:59] #4182 closed

[2019-03-08 03:02] tennix commented on #4328
I don't know how the log library works, but I've never encountered such problems with PD or TiDB. So could you help to test and verify this? @overvenus

[2019-03-08 03:15] nrc commented on #4331
Duplicate of #4318

[2019-03-08 03:15] #4331 closed

[2019-03-08 03:15] nrc commented on #4318
See also https://github.com/tikv/tikv/pull/4300#issuecomment-470319267

[2019-03-08 07:52] overvenus opened #4333 "TiKV may fail to restart if it fails after writing store ident and before bootstrapping cluster"
## Bug Report

**What did you do?**

Make TiKV fails after L149 @ node.rs. In a single node cluster, TiKV can not restart and always return `Err(store x is not empty)`.
https://github.com/tikv/tikv/blob/206209fbcc4c45ae50e1a66fc5df3ac39a6570f1/src/server/node.rs#L146-L159

**What did you expect to see?**

Restart successfully.

[2019-03-08 07:57] overvenus commented on #4328
We don't need to change the log library, just patch the panic hook and the `fatal` macro.  @tennix
https://github.com/tikv/tikv/blob/206209fbcc4c45ae50e1a66fc5df3ac39a6570f1/src/util/mod.rs#L447
https://github.com/tikv/tikv/blob/206209fbcc4c45ae50e1a66fc5df3ac39a6570f1/src/bin/util/setup.rs#L27

[2019-03-08 08:13] jaltabike commented on #4289
@disksing
OK. Thank you for your help.

[2019-03-08 08:13] #4289 closed

[2019-03-08 08:24] tiancaiamao commented on #4289
I meet the same problem.
Tomorrow I'll try to upgrade Go1.12, after the upgrading I'll check it again @disksing

[2019-03-08 10:47] liufuyang commented on #4327
@morgo If necessary, perhaps you can help open another issue on this weird behavior of MySQL?

I made a PR https://github.com/tikv/tikv/pull/4336 in the hope to firstly solve the issue mentioned here at the top. I hope here we can continue discussion here about making "99999999e1000" can be selected. The issue you talked above seems has a much larger scale and discuss here further might make thing

[2019-03-08 22:11] brson commented on #4151
Wow, thanks @Maxgy !

[2019-03-08 22:16] brson opened #4338 "Dynamically link rocksdb during development"
RocksDB is likely a big part of the TiKV binary. Linking to it dynamically during testing would reduce static linking time. We especially need to be able to do this on the release build machines, to reduce benchmarking time.

Related to https://github.com/tikv/tikv/issues/4151

[2019-03-08 22:31] yiwu-arbug commented on #4338
May be a dump question. How do we handle versioning of dynamic lib? With RocksDB we cherry-pick commits (bug fixes, new APIs) from upstream from time to time and don't have fixed release cycle.

[2019-03-09 02:47] siddontang commented on #4338
@yiwu-arbug

Seem TiKV depends on specified version of rust-rocksdb, we can build the RocksDB in rust-rocksdb and put all the so files in `/bin/tikv` beside `tikv-server`, maybe we should explicitly set dynamic export path and let tikv-server use RocksDB now :-)

But we should know that if we change RocksDB, we still need to rebuild all. Another think is for deployment, now we not only need to dep

[2019-03-09 03:00] BusyJay commented on #4338
I think we can export a tar instead of a binary so that all required library can be shipped and deployed automatically by ansible or k8s.

[2019-03-09 03:03] brson commented on #4338
@yiwu-arbug I don't think it matters very much. These dynamic libraries are only going to be used for development purposes, not distributed.

I created a branch of rust-rocksdb here: https://github.com/brson/rust-rocksdb/compare/master...brson:dylib?expand=1

It doesn't link yet, but I am hopeful that with a single change to rocksdb itself that it will. bzip2, as configured w/o stdio, requires cli

[2019-03-09 03:44] brson commented on #4338
Difining `bz_internal_error` in rocksdb itself allows the static linking to complete, and seems to produce a working tikv-server bin.

It would be better to define `bz_internal_error` elsewhere though.

[2019-03-10 01:14] yiwu-arbug commented on #4338
@siddontang I missed that we always bump rust-rocksdb version whenever we update rocksdb. Thanks.

[2019-03-10 09:52] breeswish opened #4339 "Consider using galemu in FixtureStore"
## Feature Request

Because of lacking GATs, `FixtureStore` clones data when an scanner is created from it. This makes benchmarks complicated (to bypass this clone cost) or inaccurate (clone cost is counted).

Looks like for now we have a choice to resolve this before GATs is landed: https://github.com/1aim/galemu

[2019-03-10 11:44] iosmanthus commented on #4309
Maybe it should just panic? There have been already some resources leaked if the inner buffer is not empty which means there was something going wrong, so avoiding double panicking won't help the fact that some resources are leaked. btw, the original code may be rewritten as??:
[code]

[2019-03-10 14:12] breeswish opened #4341 "Accept & for Tz"
## Feature Request

Currently mostly `Tz` is passed by value, i.e. it is copied when it is passed to elsewhere. However, actually `Tz`'s [size is pretty large](https://github.com/chronotope/chrono-tz/issues/27) thanks to the interesting chrono-tz implementation.. This means that it may be faster to pass `Tz` by reference.

[2019-03-10 20:21] Maxgy commented on #4151
Upon adding `crate-type = ["dylib"]` and running a simple `make build`, the following error occurred:
[code]
All error messages shown were of the same nature as the one I chose to include.  There was usually mention of the redefinition of some c library function.

[2019-03-10 21:00] Maxgy commented on #4151
For the sake of experimentation, I compiled the project with `crate-type = ["cdylib", "rlib"]` and the build was successful.

[2019-03-11 01:37] siddontang commented on #4323
can we add `SO_REUSEADDR` to avoid this?

[2019-03-11 02:08] siddontang commented on #4319
How to fix it?

[2019-03-11 02:11] iosmanthus opened #4342 "Build failed with 1.35.0-nightly(26b4cb484 2019-03-09)"
## Bug Report

**What version of Rust are you using?**
[code]

**What operating system and CPU are you using?**
[code]

**What did you do?**
I change the toolchain in `rust-toolchain` to `nightly-2019-03-10`

**What did you expect to see?**
build successfully

**What did you see instead?**
Error occurs. It reports:
[code]
It seems if I remove the feature above in `src/lib.rs`, it will compile succ

[2019-03-11 02:33] iosmanthus commented on #4341
Maybe we can just remove the derived `Copy` trait of `Tz` in https://github.com/tikv/tikv/blob/5a296bc4ff9bc36a7d7da0732de1c5ba85d5c176/src/coprocessor/codec/mysql/time/tz.rs#L22-L34
But it seems `EvalConfig` has the same problem as `Tz` which derive redundant `Copy` trait.
https://github.com/tikv/tikv/blob/c772ec291d0c6dc58361cc57f04170c98857285f/src/coprocessor/dag/expr/ctx.rs#L53-L71
But I am s

[2019-03-11 02:50] siddontang commented on #4342
Thanks @iosmanthus

We will upgrade Rust version regularly, every quarter.

[2019-03-11 03:49] breeswish commented on #4341
Yes, maybe we can just remove the Copy of `Tz`. The Copy of EvalConfig is just added recently and it can be removed safely.

[2019-03-11 04:10] iosmanthus commented on #4341
@breeswish maybe I can open a pr in this afternoon after I check the rest of the codes that depend on `EvalConfig` and `Tz`~ thx!

[2019-03-11 08:23] AndreMouche opened #4344 "coprocessor/builtin_string: bug exist in InstrBinary"
## Bug Report

In PR #4340 for function `InStrBinary`, there are two bugs:
1.  A binary string shouldn't be decode by UTF-8, this may cause an error when meet string not encoded by UTF-8.
2. for empty substr the result should be `1` instead of `0`, in MySQL  5.6

[code]

[2019-03-11 08:25] AndreMouche commented on #4344
@TigerInYourDream would you like to fix it?

[2019-03-11 08:27] denghuancong opened #4345 "no mertic data return ?"
version info: v2.1.4
------------------------------
we setup the status-addr for promtheus to pull data . but it return nothing .
here is our config tikv.toml define:
[code]

our docker file:
[code]

we using curl to check data
[code]
nothing return?

[2019-03-11 08:47] BusyJay commented on #4345
Hi, can you access the metrics after attaching the docker? Is TiKV started successfully? If status server is started, it should log something like "Status server started". Also can you use verbose mode to see what happen when curl makes request?

[2019-03-11 09:08] BusyJay commented on #4323
Yes. It should solve the problem. And gRPC sets `SO_REUSEADDR` by default.

[2019-03-11 17:06] kennytm opened #4356 "test: raftstore::test_conf_change::test_server_split_brain failed"
## Bug Report

**What version of Rust are you using?**

nightly-2018-12-06 (`rustc 1.32.0-nightly (14997d56a 2018-12-05)`)

**What operating system and CPU are you using?**

(The failure comes from the CI)

**What did you do?**

Wait for the CI report from #4348

**What did you expect to see?**

CI pass

**What did you see instead?**

[CI failed](https://internal.pingcap.net/idc-jenkins/blue/organ

[2019-03-11 22:55] brson commented on #4342
This PR is upgrading to 3/10: https://github.com/tikv/tikv/pull/4300

[2019-03-12 01:08] brson commented on #4338
I don't see a significant difference in compile times by dynamic linking rocks:

[code]

I verified that the static case was statically linked and the dynamic case was dynamically linked.

[2019-03-12 01:14] siddontang commented on #4338
Very bad news...

[2019-03-12 01:21] brson commented on #4338
Here are my present branches:

This is the rust-rocksdb branch: https://github.com/brson/rust-rocksdb/tree/dylib

The rocksdb submodule must have this branch fetched: https://github.com/brson/rocksdb/tree/dylib

This is the tikv branch: https://github.com/brson/tikv/tree/dylib

It expects rust-rocksdb to be checked out to ../rust-rocksdb. Build tikv with --features=shared-rocksdb

[2019-03-12 01:43] brson opened #4358 "fatal! macro doesn't flush logs"
This macro isn't used all that much, maybe not at all after startup, but one place it is very noticeable is when loading the tikv-server config fails.

Here's what it's supposed to look like:

[code]

Pretty often though it looks something like:

[code]

The logs are cut off.

This may look minor, but is a matter of first impressions.

[2019-03-12 01:44] brson commented on #4358
Tested w/ commit 206209fbcc4c45ae50e1a66fc5df3ac39a6570f1

[2019-03-12 03:11] denghuancong commented on #4345
@BusyJay
hi,  inside the docker , there is no port of status-addr indicated listened ?
[code]
the port 5161 is not listened, we using v2.1.4, Is that not support ?

[2019-03-12 03:19] BusyJay commented on #4345
No, it's supported from v3.0.0.

[2019-03-12 03:20] denghuancong commented on #4345
@BusyJay , I solved it , it print out the data now!

[2019-03-12 03:24] denghuancong commented on #4345
you can close this issue。

[2019-03-12 03:26] BusyJay commented on #4345
Good for you! And turns out I'm wrong, it's supported from v2.1.3.

[2019-03-12 03:26] #4345 closed

[2019-03-12 04:49] iosmanthus commented on #4344
@AndreMouche maybe I can fix it. I will try.

[2019-03-12 05:04] iosmanthus commented on #4344
@AndreMouche It seems not so complicated, maybe I can fix it. It will try.

[2019-03-12 05:58] overvenus opened #4361 "slog kvs are missing in CaseTraceLogger"
## Bug Report

**What did you do?**

`make trace_test`

**What did you expect to see?**

[code]

The log is not complete, miss important info, eg, cluster id/store id/region id

**What did you see instead?**

All slog kvs are retained.

[2019-03-12 05:58] siddontang commented on #4338
I do the same experiments and get the same result.
@BusyJay @breeswish can you try it again?

[2019-03-12 08:05] breeswish commented on #4361
For contributors who want to fix this:

Currently CaseTraceLogger does not output kv pairs:

https://github.com/tikv/tikv/blob/192cd352667fa52fb0f205a0ad517b12ae9f150e/components/test_util/src/logging.rs#L33

We can just refer to slog-term's implementation to output kv pairs:

https://github.com/slog-rs/term/blob/e5518f68b00f088c19aaa8238a23dac3a7aa8843/src/lib.rs#L394

[2019-03-12 09:14] overvenus commented on #4358
Dup with #4328 ?

[2019-03-12 10:15] BusyJay commented on #4309
Generally it won't panic inside drop unless there are bugs, so `thread::panicking` inside drop should be nearly-unreachable code.

[2019-03-12 10:22] BusyJay commented on #4309
In TiKV, if a panic happens, the whole process will be forced to exit later, so it's not necessary to panic again even resource leak is detected. The purpose of `MustConsumeVec` is to detect if there is resources not released properly during normal situation.

[2019-03-12 14:36] iosmanthus commented on #4344
`instr_binary` use a subroutine to find the substring position use the naive string-search algorithm which takes time `O(mn)` so does lots of functions in [src/coprocessor/dag/expr/builtin_string.rs](https://github.com/tikv/tikv/blob/master/src/coprocessor/dag/expr/builtin_string.rs): `locate_binary_2_args, locate_binary_3_args ...`.

If `s` and `substring` is in UTF-8 encoding, we can use [`find

[2019-03-12 20:25] brson commented on #4151
@Maxgy thanks for the experiment! I wonder if all the redefinitions were in libz. I know that librocksdb_sys is explicitly enabling static linking, which might cause cargo to link it into multiple dylibs in a way that would cause an error.

[2019-03-12 21:08] brson commented on #4358
Yes I think so.

[2019-03-12 21:08] #4358 closed

[2019-03-12 22:56] brson commented on #2373
Thanks for giving it a look @liyuntao.

It seems that simply storing a slice for Ready::entries won't work, because that borrows from the RawNode; and RawNode::advance needs to be called mutably with the Ready that is already mutably borrowing it.

My inclination on seeing that is to not store 'entries' in Ready at all, but to just store an index or other value that will allow entries to be retrie

[2019-03-13 00:34] siddontang commented on #2373
/cc @BusyJay

[2019-03-13 04:09] #4333 closed

[2019-03-13 04:14] nrc opened #4364 "test: test_thread_load_statistic fails on CI"
It consistently fails on CI since https://github.com/tikv/tikv/pull/4300 and failed intermittently before (#4103). CPU usage comes back as 0.

[2019-03-13 04:15] nrc commented on #4364
E.g., https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/2329/pipeline/108/

[2019-03-13 09:57] jaltabike opened #4367 "error: ./target/debug/tikv-server does not enable sse4.2"
## Bug Report

**What version of Rust are you using?**

rustc 1.35.0-nightly (a9da8fc9c 2019-03-04)

**What operating system and CPU are you using?**

Ubuntu 18.04.2 LTS
Intel(R) Core(TM) i7-7700 CPU @ 3.60GHz

**What did you do?**

run "make dev"

**What did you expect to see?**
Successful building and testing

**What did you see instead?**
When "checking binary ./target/debug/tikv-server for sse

[2019-03-13 10:26] siddontang commented on #4367
PTAL @overvenus

[2019-03-13 10:29] overvenus commented on #4367
Hi @jaltabike Have you installed gdb?

[2019-03-13 10:30] jaltabike commented on #4367
Hi, @overvenus
Yes.

$ gdb --version
GNU gdb (Ubuntu 8.1-0ubuntu3) 8.1.0.20180409-git
Copyright (C) 2018 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and "show warranty" for details.
This GDB wa

[2019-03-13 10:30] siddontang commented on #4367
oh, it is very strange to let user install gdb....

Btw, how about Windows.

[2019-03-14 05:20] overvenus commented on #4367
Could you `cat /proc/cpuinfo` ? @jaltabike

------------------

I will remove sse4.2 check for `make dev`. @siddontang

[2019-03-14 06:04] jaltabike commented on #4367
```$ cat /proc/cpuinfo```
[code]

[2019-03-14 08:36] overvenus opened #4375 "Merge Msg::Proposal into Msg::Apply to reduce apply worker messages"
`apply::Msg::Proposal` contains callbacks of proposals, which will be invoked when the proposals is applied. So for now, there are at least two messages are sent to apply workers `Msg::Proposal` and `Msg::Apply`, in fact they can be merged into one message, by this way we can simplify the apply workflow and may improve performance.

`apply::Msg`:

https://github.com/tikv/tikv/blob/7165e0f3c1010481

[2019-03-14 08:39] ngaut commented on #4375
Good catch.

[2019-03-14 22:19] brson commented on #4151
Just to answer my own question, I tried the same build here and it indeed looks like all the reported errors are due to zlib symbols.

That is encouraging.

I know that librocksdb explicitly turns on the "static" feature, so perhaps there is some way we can tweak the configuration there when building a dylib.

But also I see that grpcio is building its own copy of zlib, and at least in the example

[2019-03-14 23:24] brson commented on #4164
Close seems to be accidental.

[2019-03-15 02:29] brson commented on #4163
debuginfo, panic=unwind, codegen-units=1, non-incremental, thin lto:

real    9m57.195s
user    22m48.391s
sys     0m22.081s

----

So that's all very encouraging. Next step is to do runtime
benchmarking of these configurations to see what the impact is.

[2019-03-15 02:31] brson commented on #4155
I did a new experiment today timing full and partial builds with a
number of settings tweaked.

These first are for a full rebuild. `cargo clean` between each run.

command: `time cargo build --release`
toolchain: rustc 1.35.0-nightly (a9da8fc9c 2019-03-04)
platform: Linux

debuginfo, panic=unwind, codegen-units=1, non-incremental, full lto (master's config):

real    25m52.666s
user    53m45.947s

[2019-03-15 02:31] brson commented on #4150
I did a new experiment today timing full and partial builds with a
number of settings tweaked.

These first are for a full rebuild. `cargo clean` between each run.

command: `time cargo build --release`
toolchain: rustc 1.35.0-nightly (a9da8fc9c 2019-03-04)
platform: Linux

debuginfo, panic=unwind, codegen-units=1, non-incremental, full lto (master's config):

real    25m52.666s
user    53m45.947s

[2019-03-15 02:33] brson commented on #4173
Some compile-time benchmarks including panic=abort: https://github.com/tikv/tikv/issues/4155#issuecomment-473136199

[2019-03-15 02:46] AndreMouche commented on #4344
It looks good to me @iosmanthus

[2019-03-15 02:49] #4344 closed

[2019-03-15 03:36] #4361 closed

[2019-03-15 11:33] hicqu opened #4384 "Correct style to compile tikv with latest kvproto"
## Question

I have tried to compile TiKV with latest kvproto, and meet a problem about `#[cfg(lib_use_protobuf]`. Seems we must pass `--cfg lib_use_protobuf` to rustc, otherwise compile will fail.
I found that it works: `export RUSTFLAGS="--cfg lib_rust_protobuf"`, but as you can see it's ugly. Anyone has a better solution?
@nrc @brson @breeswish please take a look if you are free, thanks!

[2019-03-15 16:57] breeswish commented on #4384
Looks like this is a custom condition. Can we achieve this by using features?

[2019-03-15 17:02] kennytm commented on #4384
These should certainly be changed to `#[cfg(feature = "protobuf-codec")]` and `#[cfg(feature = "prost-codec")]` in kvproto.

[2019-03-15 20:55] brson commented on #4384
I agree with @kennytm.

[2019-03-16 01:53] brson commented on #4163
Here's some runtime benchmarking.

command: `cargo clean && cargo bench --no-run && time cargo bench`
toolchain: rustc 1.35.0-nightly (a9da8fc9c 2019-03-04)
platform: Linux

debug=true, panic=unwind, codegen-units=1, incremental=false, **lto=true**:

real    33m39.746s
user    21m38.901s
sys     3m41.782s

debug=true, panic=unwind, codegen-units=1, incremental=false, **lto=thin**:

real    32m54.4

[2019-03-16 05:25] siddontang commented on #4342
seem the PR is merged, maybe we can close this issue. Feel free to reopen it if we meet the same problem again.

[2019-03-16 05:33] siddontang commented on #4384
PTAL @nrc

[2019-03-16 10:20] iosmanthus commented on #4025
@breeswish Is it enough to use a `u8` to store `fsp`? I check the [documentation](https://dev.mysql.com/doc/refman/8.0/en/fractional-seconds.html) of  the `Time` type in MySQL. It says that `fsp` is up to 6 digits(20 bits at least). If we write the `Duration` in C style, is the following code reasonable?
[code]

[2019-03-16 13:26] breeswish commented on #4025
@iosmanthus Maybe you don't need so many fsp. It's fine to leave some unused bits. Also you need to find some ways to write these bit fields, which is not a feature provided by Rust.

[2019-03-16 14:07] breeswish commented on #2797
Closed in https://github.com/tikv/tikv/pull/4376

[2019-03-16 14:07] #2797 closed

[2019-03-16 14:39] iosmanthus commented on #4025
@breeswish I check the implementation of `Duration`, I found that it uses `fsp` to represent the count of digits to be reserved instead of the fractional part. And I checked the [documentation](https://dev.mysql.com/doc/internals/en/date-and-time-data-type-representation.html) which says the size of the fractional part depends on `fsp` and can be up to 3 bytes. Maybe it's too complicated if  we st

[2019-03-17 06:14] siddontang opened #4388 "inject failure through HTTP"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Now we have already installed lots of fail points and used them in tests, but only in uint or local integrated tests, we can't use them in Schrodinger or at runtime.

**Describe the feature you'd like:**

We can build a release version with fail support, add HTTP handlers to help us trigger/list/delete fail poi

[2019-03-17 06:34] kennytm commented on #4388
Seems this issue is more suitable for https://github.com/pingcap/fail-rs?

[2019-03-17 07:09] breeswish commented on #4025
@iosmanthus Oh, sorry I misunderstood you. Fsp means the fractional seconds precision. So we need to store these fields actually: sign (1bit), hour (10bit), minute (6bit), second (6bit), fractional seconds (24bit) and additionally ([maybe it can be removed](https://github.com/pingcap/tidb/pull/7043)) fsp(8bit)

[2019-03-17 22:28] nrc commented on #4384
This is already fixed as suggested on kvproto master.

[2019-03-17 23:09] siddontang commented on #4388
@kennytm

I don't like the way of using an HTTP environment to start a fail service.

Another reason is that I don't like using another port for `fail` separately, we should use the same HTTP port of TiKV, but unlike Go, there is no standard HTTP lib so we have to write our HTTP logic directly in TiKV.

[2019-03-17 23:15] brson commented on #4153
I did some tests with sccache and found that it does not provide any speedups, surprisingly. There are 54 uncacheable artifacts reported by sccache, and I'm guessing kvproto is one of them. Then of course the big tikv build/link step isn't going to be helped.

[2019-03-17 23:17] #4153 closed

[2019-03-17 23:20] brson commented on #4148
I haven't written a single script as described in the op, but I've done lots of profiling, with various tools, with the numbers posted to various other issues.

I did write one set of scripts for comparing all in-tree benchmarks between two commits: http://github.com/brson/tikv-bench-scripts

[2019-03-17 23:20] #4148 closed

[2019-03-17 23:22] brson commented on #4173
I think this is thoroughly investigated. It's a small but easy and worthwhile speedup.

[2019-03-17 23:22] #4173 closed

[2019-03-17 23:28] brson commented on #4190
PR: https://github.com/tikv/tikv/pull/4324

[2019-03-17 23:30] brson commented on #4189
This PR uses .cargo/config to add more profiles: https://github.com/tikv/tikv/pull/4324

[2019-03-17 23:32] brson commented on #4190
Actually, all my work so far is with "custom profiles" not "profile overrides". Still need to look at this.

[2019-03-17 23:49] brson opened #4389 "Try to remove codegen from tikv-server, etc."
During my profiling I've noticed that the codegen for tikv-server takes almost as long as the codegen for the tikv lib. Codegen being the time it takes for rustc to emit llvm IR.

This is surprising since the tikv-server binary contains very little code.

My guess is there's a ton of generics instantiation in the crate, which would be duplicated in the other bins as well, and maybe in the lib.

Mo

[2019-03-18 00:01] brson opened #4390 "Don't call `cargo search` and `cargo audit` unconditionally in makefiles"
These seem to be called for rare purposes, but `cargo search` may hit the internet whenever it needs.

For some purposes, like benchmarking or building offline, it may not be appropriate to have that network hit happen unconditionally.

Restructure this part of the Makefile so that these cargo calls only happen when the targets that need them are invoked.

[2019-03-18 00:04] brson opened #4391 "Disable test suites that contain no tests"
I haven't looked closely at this, but I'm hopeful that some compile time can be saved by not building empty test suites and doc test suites.

I think cargo has some ability to control which targets are built for testing. I hope it can control which are doc-tested.

So the task here is to find all of the empty test suites run by `cargo test --all` and disable them in Cargo.toml. Then time `cargo te

[2019-03-18 03:12] brson opened #4392 "tikv-server doesn't do data-dir check on startup if using the default data-dir value"
## Bug Report

**What operating system and CPU are you using?**

Linux

**What did you do?**

Created a new tikv.toml, only setting pd.endpoints, leaving storage.data-dir to be defaulted.

`cargo run --release --bin tikv-server -- --config=tikv.toml`

**What did you expect to see?**

In the logs:

[code]

**What did you see instead?**

[code]

---

This happens because the startup code is passing

[2019-03-18 03:32] Xuanwo opened #4394 "tikv v2.1.6 compiled with warning"
## Question

When I tried to compile tikv 2.1.6, I faced following error, plz check whether it has been fixed in master (so it will not happen in next release)

[code]

[2019-03-18 06:57] breeswish commented on #4293
Fixed in #4303

[2019-03-18 06:57] #4293 closed

[2019-03-18 07:08] breeswish commented on #4318
Not occurred for a while. Closing for now.

[2019-03-18 07:08] #4318 closed

[2019-03-18 13:30] liufuyang commented on #4327
@breeswish The PR has been merged, do we need to test it again manually to verify it before we close this issue?

[2019-03-18 13:37] liufuyang commented on #4312
@axelmagn Are you still working on this? Or is there something I can also help with?

[2019-03-18 14:02] liufuyang commented on #4388
Is this issue easy to solve? Can I try give some help? :)

[2019-03-18 15:58] breeswish commented on #4341
Implemented in #4380

[2019-03-18 15:58] #4341 closed

[2019-03-18 16:01] breeswish commented on #3524
We are definitely using RPN now.

Additionally, here is a benchmark: https://gist.github.com/breeswish/6c98e7a41940547a93fa674a04557fbe

[2019-03-18 16:01] #3524 closed

[2019-03-18 16:03] breeswish commented on #4327
Yes! :) Would you like to have a try with latest master?

[2019-03-18 17:25] liufuyang commented on #4327
Never really did this before, I guess I can use the tidb-docker-compose repo for this, right?

[2019-03-18 19:30] Hoverbear commented on #4327
@liufuyang Should be do-able that way. You'd set up the docker-compose and make TiKV work "from source" via the instructions here I think:  https://github.com/pingcap/tidb-docker-compose#bring-up-tidb-cluster

[2019-03-18 21:43] siddontang commented on #4394
@Xuanwo

can you help us fix this?

[2019-03-19 00:03] Xuanwo commented on #4394
Ok

[2019-03-19 01:49] breeswish commented on #4327
@liufuyang Or you may just use tidb-ansible from https://github.com/pingcap/tidb-ansible, but subsitute the tikv binary in resources/bin from the one downloaded by ansible to yours.

[2019-03-19 03:48] #4384 closed

[2019-03-19 05:12] BusyJay commented on #4388
Yes, it's quite easy. What needs to do is to setup the failpoint registry when TiKV starts, and then provide HTTP interface at status server.

https://github.com/tikv/tikv/blob/3f10327e648b4c1c6935154f8bca4e2abd894419/src/server/status_server.rs#L65-L73

[2019-03-19 05:20] Xuanwo commented on #4394
Hi, @siddontang, I did some resaerch on this problem.

`fail_point!` will not be expanded will feature `no_fail`, so the `ErrorHeader` will not be used. I find out following ways to solve it, plz take a look.

- use `kvproto::errorpb::Error` directly in the macro
- use `use kvproto::errorpb::Error as ErrorHeader` in the macro
- Add `#[cfg(not(feature = "no_fail"))]` before the use

And I will make

[2019-03-19 13:52] sciamp-dev commented on #2970
Hi, I'd like to work on this

[2019-03-19 19:09] Hoverbear commented on #4262
We already did this. :)

[2019-03-19 19:09] #4262 closed

[2019-03-19 19:09] Hoverbear commented on #4263
We did this! Closing!

[2019-03-19 19:09] #4263 closed

[2019-03-20 03:05] Mynameislyc commented on #2908
Is there a way to make it Tombstone state? Or can we just wait?

[2019-03-20 03:35] breeswish commented on #2970
@sciamp-dev Nice to hear! Please go ahead :)

[2019-03-20 05:28] brson opened #4406 "Upgrade jemalloc to v0.3"
Edit: A new version of jemallocator has been released. The task here is to upgrade jemalloc, jemalloc-sys, and jemalloc-ctl.

Should wait until after https://github.com/tikv/tikv/pull/4416#issuecomment-476242997 lands.

---

I've only just discovered that jemallocator/master is at version 0.3.0, but the latest jemallocator crate (the one we are linking to) is only at 0.1.9 and was published last J

[2019-03-20 05:35] iosmanthus commented on #4025
@breeswish in https://github.com/tikv/tikv/blob/master/src/coprocessor/codec/mysql/duration.rs, lots of operations convert nanosecond to `Duration` and vice versa. Could we store fractional part as `u32` (32 bits) which could be more accurate and store a nanosecond instead of a microsecond as in `MySQL`?
the structure would look like:
[code]

[2019-03-20 06:00] breeswish commented on #4025
@iosmanthus It looks fine. Additionally I believe that fsp should be placed after frac, so that the duration can be directly memory comparable?

[2019-03-20 07:26] iosmanthus commented on #4025
@breeswish thx! impressive view!

[2019-03-20 08:57] brson opened #4409 "Reorganize tikv_alloc's cargo features"
The way tikv_alloc uses features makes it easy to silently break it's conditional compilation such that it's impossible to disable jemalloc.

tikv_alloc makes jemalloc a default feature that can be turned off by asking cargo to disable its default features. In order to make it possible to do so, the tikv create marks jemalloc as default-features = false and turns them back on by itself making jema

[2019-03-20 09:02] brson opened #4410 "TiKV doesn't build with the system allocator"
Some recent changes have made it so that building w/o jemalloc fails.

[2019-03-20 13:11] liufuyang commented on #4327
Looks like the newest image has been updated with my changes. I tried with tidb-docker-compose and just start it with the default settings. Then do test like
[code]

Noticing the warning number is different from the standard MySQL warning which is 1292 seen from above discussion. This is expected, as in PR https://github.com/tikv/tikv/pull/4336 we appended warnings as `Error::overflow()` instead o

[2019-03-20 13:29] liufuyang commented on #4327
I also made a PR https://github.com/tikv/tikv/pull/4413 to fix the output format.

[2019-03-20 15:18] siddontang commented on #4409
@brson

I want to use sanitizer which is conflicted jemalloc, so how can I enable all the crates don't use it?

[2019-03-20 22:02] brson commented on #4409
@siddontang today it's not possible because of https://github.com/tikv/tikv/issues/4410, which is fixed in https://github.com/tikv/tikv/pull/4411.

After just https://github.com/tikv/tikv/pull/4411 it _might_ be possible, but I'd wait  for https://github.com/tikv/tikv/pull/4370. After that you would run

`cargo build --no-default-features`

After https://github.com/tikv/tikv/pull/4411 and https://

[2019-03-20 22:16] brson commented on #4155
Here's the runtime benchmark:

command: cargo bench --no-run && time cargo bench
toolchain: rustc 1.35.0-nightly (a9da8fc9c 2019-03-04)
platform: Linux
commit-base: 970c1c8eb49a16864540a4ac3a45030992943fc3

debug=false, panic=unwind, opt-level=3, codegen-units=1, incremental=false, lto="thin":

real    32m52.245s
user    21m0.920s
sys     3m42.073s

debug=false, panic=unwind, opt-level=3, codegen-

[2019-03-20 22:22] brson commented on #4155
I still don't have any numbers measuring just the impact of incremental on partial rebuilds.

[2019-03-20 22:41] brson commented on #4163
I think this is sufficiently considered.

Thin LTO is much faster than full LTO, changes individual benchmark performance in the unpredictable ways LTO does. Surprisingly, it may increase overall performance, per my testing.

I will propose using thin LTO everywhere except for the production builds.

[2019-03-20 22:45] brson commented on #4164
I wrote a script to capture max RSS for rustc

https://github.com/brson/measure-rustc-rss

command: RUSTC_WRAPPER="measure-rustc-rss.sh" make x-build-dev-nopt
toolchain: rustc 1.35.0-nightly (a9da8fc9c 2019-03-04)
platform: Linux

[profile.dev]
opt-level = 0
debug = false
rpath = false
lto = false
debug-assertions = true
codegen-units = 1
panic = "unwind"
incremental = true
overflow-checks = true

[2019-03-20 22:57] siddontang commented on #4163
Oh, strange, can we use it in production?

[2019-03-21 03:37] niedhui commented on #4040
hi @KeeganMyers  had you already started working on this? I'd like to take this if you don't mind , since I'm working on the new row codec, and maybe this task can give me a better understanding on the codec component and the original codec logic.

[2019-03-21 04:09] breeswish commented on #4327
Yes! Thanks a lot!

[2019-03-21 04:09] #4327 closed

[2019-03-21 06:34] seansu4you87 commented on #4229
Hey @brson I took a rough draft at this issue in this [PR][1].  I skipped the tests/components/benches/etc because I wanted to get some feedback on what I have so far first.

Also, I just noticed that someone else already volunteered for this issue.  Sorry about that 😅, I'll check more closely next time.  Hopefully work hasn't been started already, if it has then feel free to forget about my PR.

[2019-03-21 11:58] nhultz commented on #4229
@seansu4you87 No worries!  I actually got caught up and haven't had a chance to put together much for this so all yours.

[2019-03-21 13:50] KeeganMyers commented on #4040
@niedhui go for it. I have gotten a bit distracted trying to find a new job and have not been able to work on this much yet. I grep'd through the codebase and it seems like ~18 files will need to be changed in total for this issue.

[2019-03-21 14:26] seansu4you87 commented on #4229
thanks @nhultz 🙏

[2019-03-21 17:58] brson commented on #4155
OK, here are numbers for incremental rebuilds.

command: cargo build --release && echo >> src/lib.rs && time cargo build --release
toolchain: rustc 1.35.0-nightly (a9da8fc9c 2019-03-04)
platform: Linux

debug=false, panic=abort, opt-level=3, codegen-units=1, incremental=false, lto="thin":

real    7m43.300s
user    17m22.941s
sys     0m9.721s

debug=false, panic=abort, opt-level=3, codegen-units=1

[2019-03-21 17:59] brson commented on #4155
Considering this complete.

[2019-03-21 17:59] #4155 closed

[2019-03-21 21:00] seansu4you87 commented on #4184
Hi! I'd be interested in tackling this, I took a first pass at https://github.com/tikv/tikv/issues/4229, and if that goes well, maybe I can take this on?

[2019-03-22 05:22] Xuanwo commented on #4394
Problem solved in pr 4408， closed.

[2019-03-22 05:22] #4394 closed

[2019-03-22 06:41] lonng opened #4421 "TiKV-Importer should pause import progress when target store disk space full"
## Feature Request

**Is your feature request related to a problem? Please describe:**

There are two key steps to import an `Engine file` to TiKV in the current implementation:

1. Prepare
	- Split `Engine file` into ranges base on config `region-split-size`
	- Split region if need (get region info from PD base `range.start_key` → split region if contains `range.end_key` → R1: `[old_region_start_

[2019-03-22 06:53] CrazyNash opened #4422 "protoc required by build but not included in Dockerfile"
## Bug Report

**What version of Rust are you using?**

build in docker

**What operating system and CPU are you using?**

build in docker

**What did you do?**

[code]
[code]

**What did you expect to see?**

All required tools are included in Dockerfile, so it builds without any dependency from host.

**What did you see instead?**

protoc missed resulted in build failure

[2019-03-22 09:02] breeswish commented on #4422
@zhouqiang-cl PTAL

[2019-03-22 09:03] breeswish commented on #4422
Thanks for your report! We have recently updated our build requirement but docker image is not updated. We will fix it soon.

[2019-03-22 17:03] Hoverbear opened #4426 "Releases should include binaries"
When making a release on https://github.com/tikv/tikv/releases we currently only release source code.

For users interested in using TiKV directly, this means they need to download TiDB and extract TiKV, or build TiKV themself. It would be highly advantageous for them to be able to easily download the released portable build.

I am fairly sure these already exist somewhere for every version. Do yo

[2019-03-22 18:54] brson commented on #4163
@siddontang Looking back through my notes I can't find anything that supports the statement "may increase overall performance". I suspect what I meant to say was "my decrease full rebuild time", since I would expect the extra incremental bookkeeping to increase full rebuild time.

So the answer to your question is no.

Here are the results suggesting a decrease in full rebuild time:

command: time

[2019-03-23 02:09] brson commented on #4163
@siddontang here's the result that showed an increase in perf with thinlto:

[code]

Those results were accompanied by these complete bench results: https://gist.github.com/brson/d4f5f6d97c0abd24aa000e0daf66f559

In this test the overall time decreased slightly by using thin lto instead of lto, while individual benchmarks changed unpredictably.

I'd want to do more tests before assuming the result

[2019-03-25 12:38] bradyjoestar opened #4431 "add `rocksdb` into "Checking your prerequisites"?"
I have tried to build tikv on a new machine, I failed many times.

Finally  I found the reason of it is that I don't have the prerequisites of `rocksdb` on my machine.

Maybe it's better to add it into "Checking your prerequisites" in README.md?

[code]

[2019-03-25 14:07] BusyJay commented on #4431
Can you provide the failure logs? Rocksdb is not required. Actually it's supposed to build rocksdb from source, which is part of rocksdb-rs dependency.

[2019-03-25 14:10] BusyJay commented on #4426
I think it's part of product strategy to only provide deploy solution instead of individual binaries. Deploy solution can be found in https://pingcap.com/docs/QUICKSTART/.

[2019-03-25 14:36] bradyjoestar commented on #4431
As you said , I  installed rocksdb-rs dependency and it succeed.

I follow the steps in `rocksdb-c++` and install these following library, and it worked.
[code]

maybe we should tell users that they should install `rocksdb-dependency`? Thank you for your reply.

[2019-03-25 14:55] BusyJay commented on #4431
snappy, zlib, bzip2, lz4 and zstandard are also compiled from source too, you are not required to pre-install any of those. And gflags should not be required as we only build the rocksdb library instead of ldb utils. Can you provide your system information?

[2019-03-25 15:28] bradyjoestar commented on #4431
root@ip-172-31-30-204:/home/ubuntu# cat /proc/version
Linux version 4.15.0-1032-aws (buildd@lcy01-amd64-025) (gcc version 7.3.0 (Ubuntu 7.3.0-16ubuntu3)) #34-Ubuntu SMP Thu Jan 17 15:18:09 UTC 2019
root@ip-172-31-30-204:/home/ubuntu# uname -a
Linux ip-172-31-30-204 4.15.0-1032-aws #34-Ubuntu SMP Thu Jan 17 15:18:09 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
root@ip-172-31-30-204:/home/ubuntu# lsb_rel

[2019-03-25 15:38] bradyjoestar commented on #4431
error Info

[code]

[2019-03-25 17:23] Hoverbear commented on #4426
Okay. I'll work to provide some better access to tools like `tikv-ctl` via docker containers then so we can easily integrate them

[2019-03-25 18:24] brson commented on #4426
I agree that since TiKV is a standalone project that it should have its own binary releases. It's not obvious to me why we it would be strategic to not publish plain binaries in addition to docker containers, etc.

[2019-03-26 02:00] brson commented on #4406
jemallocator v0.3 is released

[2019-03-26 17:11] Hoverbear commented on #816
I'm closing this stale issue, please re-open it if it's still a problem and you'd like to revisit it.

[2019-03-26 17:11] #816 closed

[2019-03-26 17:12] Hoverbear commented on #876
I'm closing this stale issue, please re-open it if it's still a problem and you'd like to revisit it.

[2019-03-26 17:12] #876 closed

[2019-03-26 17:14] Hoverbear commented on #933
Hi! https://github.com/tikv/client-rust is a good reference now, you can generate the docs with `cargo doc --open`. We're also working on documenting our code a lot more.

We do have an issue to create a full reference for our protobufs, you can track that here if it's relevant. #4262

I'm going to close this issue as it's quite old and very broad.

[2019-03-26 17:14] #933 closed

[2019-03-26 17:15] Hoverbear commented on #1059
This is closable since we use our own RocksDB now.

[2019-03-26 17:15] #1059 closed

[2019-03-26 17:16] Hoverbear commented on #1121
@BusyJay Do you think we can close this issue now?

[2019-03-26 17:17] Hoverbear commented on #1243
Seems this feature is supported now!

[2019-03-26 17:17] #1243 closed

[2019-03-26 17:19] Hoverbear commented on #1592
We use schrodinger now so this can be closed!

[2019-03-26 17:19] #1592 closed

[2019-03-26 17:21] Hoverbear commented on #1439
Seems https://github.com/pingcap/pd/tree/master/tools/pd-recover accomplished this? I'll close it, but feel free to re-open.

[2019-03-26 17:21] #1439 closed

[2019-03-26 17:23] Hoverbear commented on #2452
We're currently trying Prost!

[2019-03-26 17:26] Hoverbear commented on #2416
Hi @amirouche !

Why don't you get in touch with me on Slack? https://join.slack.com/t/tikv-wg/shared_invite/enQtNTUyODE4ODU2MzI0LTgzZDQ3NzZlNDkzMGIyYjU1MTA0NzIwMjFjODFiZjA0YjFmYmQyOTZiNzNkNzg1N2U1MDdlZTIxNTU5NWNhNjk

I'd be happy to help you or anyone get started. You'll also see we know have things like the https://github.com/tikv/client-rust to help you play with the codebase.

[2019-03-26 17:26] #2416 closed

[2019-03-26 17:29] Hoverbear commented on #2678
Stale, closing. Please reopen if you have more issues.

[2019-03-26 17:29] #2678 closed

[2019-03-26 17:31] Hoverbear commented on #2840
I can see from #2856 that this seems to be resolved.

[2019-03-26 17:31] #2840 closed

[2019-03-26 17:42] Hoverbear commented on #1280
@Fullstop000 is working on an RFC for this!

[2019-03-26 17:47] Hoverbear commented on #3947
Closing this issue as we're not getting any feedback.

[2019-03-26 17:47] #3947 closed

[2019-03-26 17:49] Hoverbear commented on #3935
Seems this question is answered! Closing.

[2019-03-26 17:49] #3935 closed

[2019-03-26 18:00] Hoverbear commented on #2613
Seems this is done! Thanks @sch00lb0y . :)

[2019-03-26 18:00] #2613 closed

[2019-03-26 18:01] hhkbp2 commented on #1121
Check out `DeleteRange()` in 5.18+.

[2019-03-26 18:03] Hoverbear commented on #2910
Hi, I'm closing this due to inactivity. Please reopen it if it is still an issue!

[2019-03-26 18:03] #2910 closed

[2019-03-26 18:04] Hoverbear commented on #3992
Seems this question is answered. I'll close this!

[2019-03-26 18:04] #3992 closed

[2019-03-26 18:06] Hoverbear commented on #3834
Hi @CindyXing, @siddontang maybe this could be an RFC?

[2019-03-26 19:04] ice1000 commented on #2452
... and it's because quick-protobuf does not satisfy our requirement (service generation) and it cannot generate struct from our protos correctly.

[2019-03-26 19:18] Hoverbear commented on #2982
@hicqu Was this issue ever closed?

[2019-03-26 19:21] #4118 closed

[2019-03-26 19:23] Hoverbear commented on #4039
I made a pretty simple REPL implemenetation that hooks into clap here: https://github.com/tikv/rfcs/pull/21#issuecomment-475441823

Might be relevant.

[2019-03-26 19:24] Hoverbear commented on #3981
Any update on this issue @Connor1996 ?

[2019-03-26 19:25] Hoverbear commented on #2773
This is supported now! #3059

[2019-03-26 19:25] #2773 closed

[2019-03-26 19:27] Hoverbear commented on #3595
Hi folks, this issue has been stale for nearly 6 months so I'll close it now. YOu can reopen it if it's still relevant.

[2019-03-26 19:29] #3595 closed

[2019-03-26 19:30] Hoverbear commented on #2344
Hi! This issue is stale, I'm closing it. Please reopen it if it's still an issue for you.

[2019-03-26 19:30] #2344 closed

[2019-03-26 19:32] Hoverbear commented on #2338
Seems this question is answered. :) Closing.

[2019-03-26 19:32] #2338 closed

[2019-03-26 20:11] Hoverbear commented on #3764
@breeswish Seems this can be closed then?

[2019-03-26 21:21] Hoverbear commented on #4054
Blocked by https://github.com/slog-rs/stdlog/pull/5

[2019-03-26 21:22] #3771 closed

[2019-03-26 21:23] Hoverbear commented on #3718
This question seems solved. Closing.

[2019-03-26 21:23] #3718 closed

[2019-03-26 21:23] brson commented on #4328
This looks straightforward. Figure out how to flush logs (both the file logger and the console logger) and do so in the panic hook and fatal macro.

[2019-03-26 21:38] Hoverbear commented on #4431
The error is a missing zlib. You need `zlib1g-dev` or similar installed on Ubuntu

[2019-03-26 21:47] Hoverbear commented on #3762
Seems duplicate of https://github.com/tikv/tikv/issues/3770

[2019-03-26 21:47] #3762 closed

[2019-03-26 21:51] Hoverbear commented on #3826
Seems this issue is resolved? Please re-open if not.

[2019-03-26 21:51] #3826 closed

[2019-03-26 21:53] Hoverbear commented on #3754
Hi! Seems this question is resolved. Please reopen if it's not.

[2019-03-26 21:53] #3754 closed

[2019-03-26 21:54] Hoverbear commented on #3546
Seems this question is answered, but please reopen it if you need more information!

[2019-03-26 21:54] #3546 closed

[2019-03-26 21:57] Hoverbear commented on #3387
@morgo I suspect we are logging it but the logger is being dropped before it can print. The master or 3.0.0 release should be fixed. (I checked just 2 weeks ago).

I'll close this since it's fixed on master.

[2019-03-26 22:14] morgo commented on #3387
I can still reproduce this against daily builds.  First invokation showed me some info, subsequent not event that:
[code]

[2019-03-26 22:30] morgo commented on #3387
If you are having trouble reproducing, I recommend trying this:
[code]
The first time it prints that nice config dump and exits without error, the second time it just gives no feedback.  If I change the global limit to `1000000` everything works, I change it back to `1024`, same problem.

[2019-03-27 00:54] ehds opened #4434 "Cannot find module providing package github.com/pingcap/pd/pd-client"
When I run the [example](https://github.com/tikv/tikv/blob/master/docs/clients/go-client-api.md) code ,I got the error like that:
[code]
I searched this question on google, stackoverflow and issues, but I got nothing.

[2019-03-27 01:06] siddontang commented on #4434
@disksing

seem now it is better for us to migrate to use client-go directly.

[2019-03-27 01:36] jaltabike commented on #4367
Now, "make dev" runs successfully.

[2019-03-27 02:22] #4392 closed

[2019-03-27 03:14] disksing commented on #4434
Hi @ehds, if you want to do some experimentation, try using https://github.com/tikv/client-go and there are examples in the example directory. Note that that project is still iterating, so the API may change in the near future.

[2019-03-27 05:13] breeswish commented on #3764
Yes! @Hoverbear

[2019-03-27 05:13] #3764 closed

[2019-03-27 07:05] BusyJay commented on #4426
There are also [deployment steps](https://github.com/tikv/tikv/#testing-deployment) in README file that shows how to deploy with pure binary files.

[2019-03-27 08:43] zhangjinpeng1987 opened #4435 "Reuse `WriteBatch` in apply worker"
## Improvement

Apply worker will new a `WriteBatch` and fill it with updates, and will release it after these updates has been written to RocksDB. This cause many memory allocations and deallocations. Essentially, `WriteBatch` is a continuously memory buffer, each apply worker reuse the same `WriteBatch` is a better way.

[2019-03-27 09:09] siddontang commented on #4435
seem we need to re-implement RocksDB API to not move WriteBatch, then we can reuse the batch.

[2019-03-27 09:40] zhangjinpeng1987 commented on #4435
@siddontang  No necessary, https://github.com/pingcap/rust-rocksdb/pull/283

[2019-03-27 14:50] ehds commented on #4434
OK, thanks for your help.

[2019-03-27 17:16] Hoverbear commented on #4426
These steps instruct the user to download the `latest` TiDB package from PingCAP.

This ticket explicitly requests per-release downloads available through Github releases, not just source code.

You can see this is a common practice, especially among other CNCF projects:

* https://github.com/kubernetes/kubernetes/releases
* https://github.com/open-policy-agent/opa/releases
* https://github.com/pr

[2019-03-28 14:15] liufuyang commented on #4388
Okay I seem to have some time to look at this issue now.
The question I have is, how would a user uses the http failpoint when finished? So one can use it like this?:
[code]

[2019-03-28 17:21] gregwebs opened #4447 "Automatic advertisement by IP address."
## Feature Request

tikv `--advertise-addr=...` creates some difficulty to bringing up TiKV because the argument is dependent on the host where it is ran.

Is it possible we can have an alternate option `--advertise-ip-address=true`? When that option is set, PD will help advertise it by the IP address of TiKV that PD sees.

The work for this would actually be mostly in the PD repo, I can open an i

[2019-03-28 17:22] gregwebs commented on #4447
This was originally suggested by @kolbe

[2019-03-28 21:33] brson commented on #3387
I think this is a dupe of https://github.com/tikv/tikv/issues/4328 and https://github.com/tikv/tikv/issues/4358

[2019-03-28 23:30] Hoverbear commented on #4447
I think this is also a problem for using TiKV with docker compose without host networking.

[2019-03-28 23:31] #4434 closed

[2019-03-28 23:31] Hoverbear commented on #4422
I'm working on a fix here.

[2019-03-29 00:11] zhouqiang-cl opened #4450 "TiKV failpoint test hang for more then 30 minutes"
## Bug Report
TiKV failpoint test hang more then 30 minutes
The log can be download here: http://172.16.30.25/download/my_test.tar.gz

[2019-03-29 10:16] BusyJay commented on #4388
How about put the name in the URL part?

[2019-03-29 10:19] liufuyang commented on #4388
If that is easier when using, I can try that as well :)

[2019-03-29 13:40] liufuyang commented on #4388
So I made some demo http code here https://github.com/liufuyang/fail-rs-http-demo
Do you mind go take a look at it to see whether that is the way we would like to implement here for tikv?

[2019-03-29 18:38] kolbe opened #4455 "Streamline permanent shutdown of tikv-server"
## Feature Request

**Is your feature request related to a problem? Please describe:**

The recommended way to remove a TiKV Server node from a cluster (https://github.com/tikv/tikv/blob/master/docs/op-guide/horizontal-scale.md#remove-a-tikv-node-dynamically) is cumbersome. It requires manually informing PD that you continue to take tikv-server Offline, then waiting for the node to become Tombston

[2019-03-29 19:36] kolbe commented on #4447
It seems like this `--advertise-ip-address=true` behavior should simply be the default if there's no `--advertise-addr` given. Unless told otherwise, PD will just assume the address TiKV is coming from is the one it should use for TiKV.

[2019-03-29 19:57] kolbe commented on #4455
It would be great if this behavior could be triggered by sending a signal to tikv-server.

nginx uses SIGQUIT (http://nginx.org/en/docs/control.html) and Apache uses SIGWINCH (https://httpd.apache.org/docs/2.4/stopping.html#gracefulstop) for this purpose.

The chosen signal could be used in docker-compose.yml with `stop_signal` (and `stop_grace_period`) to cause tikv-server to gracefully leave the

[2019-03-30 03:36] iosmanthus commented on #4339
@breeswish Could we just modify the representation of `FixtureStoreScanner` and let it wrap an `std::collections::btree_map::Iter` which is an iterator that yields references of items in `BTreeMap`. And then we can clone the data in `BTreeMap` by need.
https://github.com/tikv/tikv/blob/cb0e3046ca315ce00964b9bf11bd210c08f4ccdf/src/storage/txn/store.rs#L278-L280

[2019-03-30 09:31] iosmanthus commented on #4339
@breeswish I check [the documentation of `galemu`](https://docs.rs/galemu/0.2.2/galemu/), it seems that we need to change the definition of  trait `Store` to (some details omitted):
[code]
It will be a disaster when GATs is landed and harm for the current APIs the depends on `Store`.

Or, we could add a lifetime to `Store`:
[code]
So, we can return a `std::collections::btree_map::Iter` which itera

[2019-03-31 01:40] #4189 closed

[2019-03-31 16:20] morgo commented on #3387
Confirming that this is now fixed!  I reliably get an error now:
[code]

I am going to close this issue.

[2019-03-31 16:20] #3387 closed

[2019-04-01 02:23] brson commented on #4390
Fixed.

[2019-04-01 02:23] #4390 closed

[2019-04-01 02:25] brson commented on #4162
This is so abstract, and there are many concrete things to work on. Closing.

[2019-04-01 02:25] #4162 closed

[2019-04-01 02:27] brson commented on #4328
Should be fixed.

[2019-04-01 02:27] #4328 closed

[2019-04-01 02:28] brson commented on #4323
If grpc already uses `SO_REUSEADDR` which are the network connections that it needs to be added to?

[2019-04-01 02:49] brson commented on #4196
Looks like this is fixed.

[2019-04-01 02:49] #4196 closed

[2019-04-01 10:09] breeswish commented on #4339
@iosmanthus Nice work. I previously tried to use Store<'s> but it is more complicated because `Store` is stored in a lot of places (so it's indeed also a large API change). May you try with `fn scanner<'s>(&self) -> Bound<'s, Self::Scanner>;` to see if it needs a lot of changes?

[2019-04-02 01:36] siddontang commented on #4450
PTAL @breeswish

[2019-04-02 10:31] jswh commented on #4391
Do you mean to add `#[cfg(test)]` to those test functions ?

[2019-04-02 15:26] overvenus commented on #4455
Hi @kolbe

I think this is a cool feature, to achieve that we may need to add a few new RPC to informing PD. For now, TiKV does not exit even if it is in Tombstone state.

Acutally, pd-ctl can remove a TiKV node permanently by setting it to Tombstone, `pd-ctl -u ${PDADDR} -d "store delete ${STORE_ID}` https://github.com/pingcap/docs/blob/3768641b23c9741522d0443945fec0d21ce51438/v2.1/tools/pd-contr

[2019-04-02 16:05] kolbe commented on #4455
@overvenus the issue is one of usability. Having to use `pd-ctl` to delete a store, then continue to poll `pd-ctl` until the store is successfully Tombstone, and only *then* go stop the tikv-server process on another machine, is a very cumbersome and error-prone workflow.

My proposal is that `tikv-server` be given a mechanism to inform `pd-ctl` on its own that it's going to leave the cluster perm

[2019-04-02 22:48] brson commented on #4410
This is done.

[2019-04-02 22:48] #4410 closed

[2019-04-03 00:06] brson commented on #4406
jemalloc-ctl, which we depend on, still hasn't been updated for 0.3. I've been testing the pre-release version and will push to get it published.

[2019-04-03 03:15] ericisme opened #4466 "how to try titan store engine in recent tidb cluster"
i have an tidb cluster in production env,

after i readed the article Titan 的设计与实现 (https://www.pingcap.com/blog-cn/titan-design-and-implementation/), than i want to try it.

but there some question i want to know before i do it,

as the article says,:

"在 TiKV 中使用 Titan
目前 Titan 在 TiKV 中是默认关闭的，我们通过 TiKV 的配置文件来决定是否开启和设置 Titan，相关的配置项包括 [rocksdb.titan] 和 [rocksdb.defaultcf.titan]， 开启 Titan 只需要进行如下配置

[2019-04-04 00:09] brson opened #4471 "Link tcmalloc statically"
## Feature Request

**Is your feature request related to a problem? Please describe:**

After https://github.com/tikv/tikv/pull/4370 tikv can be built with tcmalloc instead of jemalloc, but the tcmalloc crate doesn't actually build tcmalloc, but assumes it exists.

**Describe the feature you'd like:**

Make the tcmalloc crate implement tcmalloc. [This PR](https://github.com/jmcomets/tcmalloc-rs/pu

[2019-04-04 06:25] yiwu-arbug commented on #4466
Thank you for your interest in Titan. Titan is not released yet, and only available in master branch. It is not suitable for production use, yet. For test, if you build tikv from master, yes, adding the config and restart should be sufficient to enable Titan. But Titan does not support rollback to be without Titan right now.

[2019-04-04 06:27] BusyJay commented on #4455
tikv-ctl is primary for debug and recovery purpose instead of administration. Users are expected to manipulate the cluster via pd-ctl instead. But it's a good idea to stop TiKV automatically after it becomes tombstone.

[2019-04-04 15:58] kolbe commented on #4455
Sounds good. So let's not consider tikv-ctl.

I still think it would be good if I could send a signal to tikv-server that would cause it to inform pd that it intends to exit the cluster permanently.

[2019-04-05 01:38] siddontang commented on #4471
@brson

If we can do this, which means imbedding gperftools statically, I think we can let TiKV support CPU/Mem profile directly, right?

/cc @breeswish

[2019-04-05 03:15] brson commented on #4471
@siddontang yeah it has cpu profiling, heap profiling, and heap checking, and works with the pprof tool.

[2019-04-07 02:47] brson commented on #4389
After experimenting with this I don't think there's much to be gained.

[2019-04-07 11:33] breeswish commented on #4471
Interesting, I guess the most notable benefit is memory related profiling. My previous attempt over CPU profiling doesn't need tcmalloc: https://github.com/tikv/tikv/pull/3971

BTW are we going to opt-in tcmalloc to replace jcmalloc, or just leaving a choice?

[2019-04-07 17:13] kennytm commented on #4312
There's an easy way to reproduce the double panic crash.

1. Start TiKV, log to some folder, and set a very short log rotation period

[code]

[code]

2. Make the log folder read-only (*in practice, this means any kind of I/O error happening during log rotation*)

[code]

3. Force TiKV to log something, e.g. send SIGUSR1 to it.

[code]

4. TiKV will now crash with the pretty obscure error `[FATAL]

[2019-04-08 15:42] sciamp-dev commented on #2970
Hey @breeswish I'm still working on this, didn't have much time last week. I'm a bit stuck on the substitution when it comes to the context_factory parameter for FuturePool::new().
A FuturePool requires:
[code]
I found 6 uses of CpuPool, and there always are `pool_size` and `name_prefix`.  `stack_size` and `tick_interval` are not a problem either, but I don't know how to properly handle the contex

[2019-04-08 15:43] breeswish opened #4491 "Coverage is not working"
## Bug Report

Currently our coverage is not working due to https://github.com/xd009642/tarpaulin/issues/190. This issue is just a reminder so that we will not forget to update our infra to use a newer Tarpaulin and start coverage tests once bug is fixed.

[2019-04-08 18:29] brson commented on #4107
Here's where the space is going:

[code]

Over 200 MB is debuginfo, only 17 MB is program text.

[2019-04-09 02:00] siddontang commented on #4202
Another thing I find is that the binary size in Linux is too huge, nearly 300MB, I use boaty

[code]

Seem most of the spaces are occupied by debug info, so I use `strip --strip-debug tikv-server` and the size becomes 30MB.

But this has a problem that we will miss the backtrace, so it is not a good idea to do it. Maybe we can separate the debug info, mostly, we don't need to use it, if we want to

[2019-04-09 03:27] ericisme commented on #4466
@yiwu-arbug thanks

[2019-04-09 03:36] breeswish opened #4495 "Utilize bitflags in Coprocessor ctx"
## Feature Request

In https://github.com/tikv/tikv/blob/56c1b44b32e3d8ee59729e4343219d1a1fc96086/src/coprocessor/dag/expr/ctx.rs#L57 we store each flag in a bool, which is not necessary. Instead we can just store a u64 (but which is a bitflag). In this way we can greatly simplify the bootstrap code.

A sample similar change: https://github.com/tikv/tikv/pull/4494

[2019-04-09 04:13] iosmanthus commented on #4339
`fn scanner<'s>(&self) -> Bound<'s, Self::Scanner>;` require `Self::Scanner` satisfy trait bound: `BoundExt<'s>`. To Add `BoundExt<'s>` for `Store::Scanner`, we need to use `create_gal_wrapper_type_for` for every `Scanner` type to create a wrapper type in order to lift the lifetime. It looks like:
[code]
It we use GATs, no wrapper type are needed.
The wraper type created by the macro is annoying a

[2019-04-09 05:13] breeswish commented on #2970
@sciamp-dev Hi, the context is used to store some (nearly) "thread local" variables for metrics. We recently proposed another PR, modified a lot of interfaces in FuturePool, deprecates the Context and use true thread local variables instead. Maybe you can wait for this PR: https://github.com/tikv/tikv/pull/4486

[2019-04-09 09:28] CrazyNash commented on #4422
any update?

[2019-04-09 12:12] sciamp-dev commented on #2970
Sure, I'll wait for #4486 then

[2019-04-09 15:47] morgo opened #4500 "tikv should retry connecting to pd indefinitely"
## Feature Request

**Is your feature request related to a problem? Please describe:**

In https://github.com/tikv/tikv/issues/3827 I requested retrying connectivity to pd for a few seconds, and then giving up.

*However* as part of Jepsen testing, it was reported that clusters can fail to come online for hundreds of seconds.

**Describe the feature you'd like:**

I like the 300ms retry interval a

[2019-04-09 16:02] Hoverbear commented on #4500
I should have a PR for this soon. :)

[2019-04-09 18:36] kennytm commented on #3587
Unified log format doesn't really solve the ambiguity problem. There are still tons of `mod.rs` and `util.rs` which we can't identify the actual source without guessing 😞.

[code]

[2019-04-09 22:08] aphyr commented on #4500
We've already talked about this in chat, but for posterity, it looks like TiKV 2.7.1 will retry for up to 60 seconds on startup before crashing. This could lead to situations in which a finite sequence of failure and recovery events results in a cluster that stays partially or totally unavailable until an operator intervenes. For instance, in this Jepsen test, we kill all TiKV nodes, pause all PD

[2019-04-09 22:12] aphyr commented on #4500
To reproduce this problem, and confirm behavior experimentally, you can check out Jepsen abcc56e39a4b5bf6d477edccf59b57aea717e2ed and run something like

[code]

[2019-04-09 22:18] Hoverbear commented on #4500
Thank you for sharing this knowledge of best practices with us, @aphyr . :)

Maybe it's an appropriate topic for us to add to https://tikv.org/deep-dive/ as well! This seems like it's  information valuable to our friends making other distributed systems.

[2019-04-10 00:36] brson commented on #4391
@jswh no, it's not that there are test cases that are missing the attribute, but that there are test suites with no test cases at all. And compiling them costs time. There is though a PR open for this.

[2019-04-10 01:15] siddontang commented on #4500
I think it is better to provide some configurations to control the retry, not unlimited.
Here we also need to care is the retry time when we start the service, it is too short not only in TiKV, but also in TiDB.

/cc @nolouch @overvenus

[2019-04-10 01:19] siddontang commented on #4500
we can provide a timeout configuration for start, timeout 0 is unlimited.

[2019-04-10 01:40] siddontang commented on #4471
I prefer just leaving a choice. But if we can prove tcmalloc has better performance, we can enable it by default.

[2019-04-10 01:41] siddontang commented on #4471
hello @brson

Can we use your branch to try in TiKV at first, I think we don't need to wait the PR merged.

[2019-04-10 02:59] brson commented on #4471
I would definitely not pick tcmalloc over jemalloc without very convincing evidence. Jemalloc looks to be much more developed and developer friendly. tcmalloc has almost no documentation and comes with dire warnings about using the wrong unwinder. I mostly see this as an extra tool, and an easy way to compare allocators.

@siddontang I will put together a branch that can be used for testing.

[2019-04-10 03:07] siddontang commented on #4471
Got it @brson

[2019-04-10 06:53] overvenus opened #4505 "Case trace logger is not working"
Case tracing logger is not working, the logger put test case name at the beginning of every logs, so we can grep the name to find related log, eg, https://circleci.com/gh/tikv/tikv/14340

Now we lost almost all logs when a test failed, eg, https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/3156/pipeline

PTAL @zhouqiang-cl @breeswish

[2019-04-10 07:16] overvenus opened #4506 "test_server_transfer_leader_safe fails"
## Bug Report

[code]
Link: https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/3156/pipeline

Logs are lost due to #4505

[2019-04-10 07:21] overvenus opened #4507 "test_server_read_leader_with_unapplied_log fails"
## Bug Report

[code]

Link: https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/3156/pipeline

Logs are lost due to #4505

[2019-04-10 08:03] overvenus commented on #4506
Another failed test https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/3172/pipeline

[2019-04-10 10:30] #4312 closed

[2019-04-10 10:43] breeswish opened #4508 "Utilize Criterion's new feature iter_batched_ref"
## Feature Request

`iter_batched_ref` / `iter_batched` is a replacement for `iter_with_setup` available in latest Criterion, which provides more accurate time measurement. We can utilize these two functions to make our benchmark results more accurate.

[2019-04-10 11:38] breeswish commented on #4165
Duplicates https://github.com/tikv/tikv/issues/3352

[2019-04-10 11:38] #4165 closed

[2019-04-10 12:22] aphyr commented on #4500
Out of curiosity, what happens when TiKV loses its connection to PD during normal operation? Does it kill the process?

[2019-04-10 13:21] ZhangHanDong opened #4510 "Why did this test fail?"
## Question

the PR test run failed: https://github.com/tikv/tikv/pull/4370

![image](https://user-images.githubusercontent.com/27893/55882032-678e0380-5bd6-11e9-9eee-16e1475cd93c.png)

[2019-04-10 15:59] zxjcarrot opened #4511 "Adding bloom filters for TitanDB's BlobsFiles?"
Since BlobFile is sorted, here is a potential optimization for point lookup:
For each BlobFile, maintain an in-memory bloom filter for keys.
Maintain a global in-memory bloom filter(updatable, counting filter) for all keys in all BlobFiles.
On point lookups, before consulting the LSM files, check the global bloom filters. If it is a hit, it's possible we are querying a large-valued key. We then ch

[2019-04-10 17:48] brson commented on #4229
I believe this is done. Thanks @seansu4you87 !

[2019-04-10 17:48] #4229 closed

[2019-04-10 17:57] brson commented on #3352
@BusyJay has a PR to extract `util`. Does anybody have a notion of the next mods to extract?

[2019-04-10 18:19] brson commented on #3352
It looks like `pd` is a strong candidate. The only problem there is that `pd.rs` imports from `crate::raftstore` and `crate::storage`.

`raftstore` is also close, probably needs to go before `pd`. But `pd` and `raftstore` have some cross dependencies, and `raftstore` has a small dependency on `storage`. Also a few deps on `import`.

`storage` and `raftstore` have cross dependencies. `storage` has

[2019-04-10 21:53] Hoverbear commented on #4500
TiKV will attempt to reconnect!

I suspect the behavior we saw in this issue was because in our deployments we typically provision PD first, so we rarely have problems with TiKV's initial connections.

[2019-04-10 22:05] aphyr commented on #4500
So... why would you want TiKV to recover from an unavailable PD automatically some of the time, but crash other times?

[2019-04-10 22:26] Hoverbear commented on #4500
I don't really have a good answer for you, @aphyr . 😢

Most folks using TiKV are using tidb-ansible or tidb-operator for their deployment. These provide [systemd service files](https://github.com/pingcap/tidb-ansible/blob/master/roles/systemd/templates/systemd_binary.service.j2#L23-L28) and manage some of the ordering of system startup. So this issue may be relatively rarely experienced as a resul

[2019-04-10 23:45] Hoverbear commented on #4422
@CrazyNash I have a testing branch here I'm just trying to get integrated with our release process. Could you try `make docker` with https://github.com/Hoverbear/tikv/tree/test-docker-hub ?

[2019-04-11 01:32] iosmanthus commented on #3275
I would like to complete the missing part of encryption and here is a relative issue: https://github.com/tikv/tikv/issues/3875
* [ ] AesDecrypt
* [ ] AesEncrypt
* [ ] Password
* [ ] RandomBytes

But I have a question, the `Password` here, does it means we need a safe password-hashing like `bcrypt/PBKDF2`or something else @breeswish ?

[2019-04-11 04:47] breeswish commented on #3275
@iosmanthus Depends on whether or not TiDB supports it. I think you can forget it for now (lower priority)

[2019-04-11 04:49] breeswish commented on #3352
Another thing can be data structures implementations (like date time, decimal, json) in Coprocessor.

[2019-04-11 05:28] iosmanthus commented on #3875
By default, MySQL's  [`aes_encrypt`](https://dev.mysql.com/doc/refman/8.0/en/encryption-functions.html#function_aes-encrypt) apply ECB mode, but it can be configed by env variable [block_encryption_mode](https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_block_encryption_mode)

[2019-04-11 05:33] jswh commented on #4391
I did some search but only found the `cargo test --all --exclude <spec>`  command that can exclude specific test suites.
The empty test suties could be found by the test output. For example，the `test_storage` test suite has no cases as the output says
[code]
The list was found with [a little script](https://gist.github.com/jswh/fd2a53f3bac33491cee0e27e6db525be) as

- fuzz
- bfuzz_targets
- fuzzer_

[2019-04-11 05:37] kennytm commented on #3875
We could use the `md5` package in additional to `ring` for `MD5()` support.

[2019-04-11 05:48] iosmanthus commented on #3875
If we want to add function `aes_encrypt/aes_decrypt`, maybe we have to keep `rust-crypto` and add [`stream-ciphers`](https://github.com/RustCrypto/stream-ciphers) because MySQL's `block_encryption_mode` supports: `ECB, CBC, CFB1, CFB8, CFB128, OFB`

[2019-04-11 07:31] CrazyNash commented on #4422
I hit network issue, will try to fix that first

[2019-04-12 00:32] brson opened #4520 "Link libunwind into tcmalloc crate"
As mentioned in https://github.com/tikv/tikv/pull/4516, the tcmalloc crate builds tcmalloc but does not build an unwinder.

This is a problem because the build _will_ link to some unwinder, but tcmalloc is only compatible with specific versions of libunwind.

To make the tcmalloc crate reliable it needs to build and link the correct version of libunwind.

Linking unwinders is tricky because they a

[2019-04-12 00:35] brson commented on #4191
Done.

[2019-04-12 00:35] #4191 closed

[2019-04-12 00:40] brson opened #4521 "Better document allocator selection in tikv"
TiKV can now be run with 3 allocators, but there's not much documentation for it. There should be some developer docs that can be found through the README that explain it.

Also update the tikv_alloc crate doc to make sure it correctly explains how to use tcmalloc and system alloc.

[2019-04-12 05:14] yiwu-arbug commented on #4511
@zxjcarrot Thank you for your suggestion and sorry for late response. One question I have is even if you find a key exist in a blob file (via bloom filter), how do you make sure the key is the latest version (or the version visible to current snapshot) without querying LSM tree?

Regarding global bloom filter, I'm interest to know how to maintain it. We need a bloom filter that supports delete ope

[2019-04-12 06:47] #4471 closed

[2019-04-12 07:51] zxjcarrot commented on #4511
@yiwu-arbug  Thank you for your reply.  I watched the [video recording](https://www.bilibili.com/video/av38368607?from=search&seid=7735146061825945740) of TiDB meetup about the design ofTitanDB. Correct me if I'm wrong. I suppose the BlobFiles are generated at flush from memory or compactions between blob files. Now let's forget about the compaction for a moment.

One simple way is that we order t

[2019-04-12 18:19] yiwu-arbug commented on #4511
lol. Yes this another LSM tree.. and we will loss the benefit for separating large values from LSM tree.

Thank you for your pointer to cuckoo filter. I'll take a look.

[2019-04-13 01:51] breeswish opened #4523 "Make logs of protobuf structures more friendly"
## Feature Request

Now our log output is pretty verbose:

[code]

would be better to make it short and easy to view, for example, do not display internal fields.

[2019-04-13 10:01] overvenus commented on #4505
Okay, the case trace logger only works when we run tests concurrently, https://github.com/rust-lang/rust/blob/99da733f7f38ce8fe68453e859b7ac96bf7caa0f/src/libtest/lib.rs#L1486
A simple workaround is setting `RUST_TEST_THREADS=2`.

[2019-04-13 15:37] ZhangHanDong commented on #4409
@brson  https://github.com/tikv/tikv/pull/4524

[2019-04-14 14:12] palash25 commented on #4185
Hi,

Are there any plans for clients in dynamic languages like Ruby or Python?

[2019-04-14 16:00] hawkingrei commented on #2970
I'd like to work on this. i will replace futurepool with cpupool in https://github.com/tikv/tikv/blob/8dae71abe25cdcc511116f7d5b29312dffc2b152/src/import/sst_service.rs#L34

[2019-04-15 03:02] breeswish commented on #2970
hi @hawkingrei Thanks foe your interest. you may refer to my comment above for the metrics issue. :)

[2019-04-15 19:13] Hoverbear commented on #4185
@palash25 There are no official roadmap plans I am aware of, if you're interested in building one let us know and we can definitely help though!

[2019-04-17 01:01] brson commented on #4389
I'm going to give this another try. It doesn't reduce sequential compile time, but does reduce work.

[2019-04-17 06:16] jswh commented on #4508
I did something work, but not sure if there is a change to to use iter_batched_ref as the document described

[2019-04-17 06:20] breeswish commented on #4508
@jswh Yes, in most of the time we only want to test how long it takes for a single iteration and we don't want to count the duration of Drop.

[2019-04-17 07:26] BusyJay opened #4541 "Support GiB and its families"
Technically, units with binary prefixes are based on 2, for example, 1 GiB = 1024 MiB, and without the binary prefixes are based on 10, for example, 1 GB = 1000 MB.

TiKV only supports units without binary prefixes and treats them as if they are prefixed. To make it more precise, we need to support GiB and its families too. And to keep compatibility, GB and its families should still be treated as

[2019-04-17 08:16] #4421 closed

[2019-04-17 09:15] siddontang commented on #4541
I remember that we have discussed this problem a long time before. I think to make us less trouble, I prefer treating GB and GiB the same...

[2019-04-17 09:17] siddontang commented on #4541
seem CockroachDB met the same problem before https://github.com/cockroachdb/cockroach/issues/4735

[2019-04-17 09:37] BusyJay commented on #4541
Agree. The purpose of this issue is to add support for *iB in ReadableSize parser.

[2019-04-17 12:39] siddontang commented on #4541
Got it

[2019-04-17 12:54] breeswish opened #4544 "Support builder style for protobuf structures"
## Feature Request

Currently the code looks very verbose when building protobuf structures so that we even have many helper functions like this:

[code]

If we can build protobuf structures easily, then these helper utilities can be removed.

[2019-04-18 06:37] breeswish commented on #4495
Implemented in #4536.

[2019-04-18 06:37] #4495 closed

[2019-04-18 10:33] sticnarf commented on #4202
I'm interested in this issue. Is there any mentor?

Here is my rough idea. To create a minidump, we create a binding of breakpad using bindgen, then initiate the exception handler on startup of tikv. After the `tikv-server`  binary is built, use `dump_syms` in breakpad to create a symbol file. We save the symbol file and then we can distribute the stripped binary.

I have some concerns.

If we use

[2019-04-18 15:24] sciamp-dev commented on #2970
Hey @hawkingrei are you working on sst_service? I'm asking to avoid overlapping

[2019-04-19 09:49] BusyJay opened #4551 "Progress of learner should also be considered before merging"
Learners in target regions also have to help learners in source regions to apply the missing logs. But currently min index is computed only by the progresses of voters, it can lead to in-continuous logs and panic in the end.

[2019-04-21 08:36] sticnarf commented on #4323
Would you please explain a bit more about how `SO_REUSEADDR` solves this? I think it unrelated.

To my understanding, gRPC uses `SO_REUSEPORT` to enable multi-processing. But `SO_REUSEADDR` does not limit another process to bind to the same address and port.

I cannot think of a perfect solution. But I think we may bind to the port w/o `SO_REUSEPORT` first to detect if it conflicts, then we close

[2019-04-22 02:59] breeswish opened #4553 "Consider substituting chrono-tz with other tz libraries"
## Feature Request

We have many opening issues, for example,

https://github.com/chronotope/chrono-tz/issues/23
https://github.com/chronotope/chrono-tz/issues/25
https://github.com/chronotope/chrono-tz/issues/27

and looks like no one is actually maintaining chrono-tz.

Considering that time processing is a very common demand, improving time processing has many benefits. We may:

- Maintain our o

[2019-04-23 10:18] overvenus opened #4560 "Raft logs in CommitMerge should forward to raftstore first"
If a node is panicked when there is a region executing `catch_up_logs_for_merge`, then the node can not restart again, because when it executes `catch_up_logs_for_mrege` it may execute some committed logs that are not yet present in the peer_storage, this will lead to write an applied_index that is higher than the commit_index. When the node restarts it will panic due to applied_index > commit_ind

[2019-04-23 11:31] Connor1996 commented on #4551
Oh, that is a problem. For good news, PD makes sure the merge regions have no learner peer, so the previous releases won't suffer from it.

[2019-04-23 13:06] overvenus commented on #4505
The fix is confirmed by https://github.com/tikv/tikv/pull/4559, closed.

[2019-04-23 13:06] #4505 closed

[2019-04-24 08:55] kennytm commented on #4553
Unfortunately 2 of these 3 issues are caused by `chrono` itself, not `chrono-tz`.

* chronotope/chrono-tz#23: as I've written in the [comment](https://github.com/chronotope/chrono-tz/issues/23#issuecomment-485943119), it is due to how `and_hms_opt` was written. You could use `TimeZone::from_local_datetime` as workaround.

* chronotope/chrono-tz#25: https://github.com/kennytm/tzfile (not suitable f

[2019-04-24 10:11] #4551 closed

[2019-04-25 01:55] brson commented on #4166
Work has started on this https://github.com/rust-lang/cargo/pull/6864

[2019-04-25 02:27] #4466 closed

[2019-04-25 03:57] denghuancong opened #4564 "Outdate"
## Bug Report

**What version of TiKV are you using?**

**What operating system and CPU are you using?**

**What did you do?**

**What did you expect to see?**

**What did you see instead?**

[2019-04-25 04:16] breeswish commented on #4564
Hi, outdated means that the query runs for too long time.

[2019-04-25 04:22] breeswish opened #4565 "Use thread local variables for all metrics"
## Feature Request

In https://github.com/tikv/tikv/pull/4486 we switched to thread local variables for some metrics. We should further move all metrics to thread local variables like what we did in this PR (unless the metric is accessed by single thread). Note that previously we use `Context` to do this but which may not be available in all components. However TLS can be a common solution.

How h

[2019-04-25 05:16] denghuancong commented on #4564
it true that has too many slow query， but why tikv crash ？

[2019-04-25 07:13] disksing opened #4572 "Support batchSplit in kvserver API"
## Feature Request

**Is your feature request related to a problem? Please describe:**

TiDB needs to split a region into many regions when creating a table with table partition. https://github.com/pingcap/tidb/pull/10221

**Describe the feature you'd like:**

Like old `splitRegion` command, but can set multiple keys to split a region into a batch of regions using only 1 rpc call.

**Describe alte

[2019-04-25 07:15] breeswish commented on #4564
@denghuancong The crash is not related to this. This error will not lead to crash. You need to take a deeper look at logs. Usually grep `Welcome` is a good idea which indicates TiKV is just started, so logs right above it is the key.

[2019-04-25 07:23] denghuancong commented on #4564
ok，I check the log level， it error level， but it make me confused about it has not print error log ， also no welcome， but the node actually  has crashed （docker container）
@breeswish

[2019-04-25 07:41] breeswish commented on #4564
@denghuancong These errors won't lead to crash as well. Maybe you need to check whether there was an OOM?

[2019-04-25 09:37] brson commented on #4167
Direct deps are now done. There is still opportunity to dig deeper in the crate graph, modify upstream crates to disable default features of _their_ deps, then upgrade them here.

[2019-04-25 11:23] breeswish commented on #4244
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/3602/pipeline

[2019-04-25 11:23] breeswish commented on #4244
@overvenus @BusyJay PTAL

[2019-04-26 01:02] brson commented on #4163
My current plan is to use thinlto for the release profile, and full lto for publication.

[2019-04-26 01:31] brson commented on #4190
Unassigning myself since this isn't something I'm going to do in the near term.

[2019-04-26 01:41] siddontang commented on #4572
@nolouch

Another thing I want to care about is not to merge these manually split regions. Now the time is 1h, after that, the merge operator can choose these regions, but mostly, we don't want to merge them.

[2019-04-26 03:06] disksing commented on #4572
@siddontang PD will **not** merge the regions because partition tables have different table id.

[2019-04-26 03:24] denghuancong commented on #4564
no oom，just crash，we monitor the docker event，just send out die event，no oom event，we also check the system log ，no oom too，we sure that it crash @breeswish ， we plan to change the log level to see

[2019-04-26 03:27] brson commented on #3352
I have begun extracting pd and raftstore https://github.com/tikv/tikv/pull/4579/files

[2019-04-26 03:45] denghuancong opened #4580 "Tombstone tikv node still has region ?"
tikv version: v2.1.4
-------------------------
our cluster origin has 9 tikv nodes , but recently  we offline 2 tikv nodes because of machine problem, we confuse that why the Tombstone tikv node still has 49 regions ?

**the pic show 9 tikv nodes and the red line label 2 tomstone tikv nodes**

![image](https://user-images.githubusercontent.com/1788022/56781841-2d984080-6817-11e9-94ff-512d9c724c5f.

[2019-04-26 03:51] breeswish commented on #4564
How about stdout?

[2019-04-26 05:56] overvenus opened #4581 "Panic on leader election after `catch_up_log_for_merge`"
## Bug Report

TiKV panics on leader election if `catch_up_log_for_merge` applies a compact log command. Let's say there is a peer truncated_index = 6, applied_index = 7, commit_index = 8, last_index = 10, and the peer is going to be merged into a target. When the target applies a commit_merge command, it will first send a `CatchupLog` task to the peer, after receiving the task, the peer will load

[2019-04-26 09:10] disksing commented on #4580
Hi @denghuancong Thanks for your report. May I have your pd-server's version? This may be caused by an earlier version of PD, which causes the region statistics to remain in the grafana after tombstone.
The fix PR: https://github.com/pingcap/pd/pull/1261

[2019-04-26 10:11] denghuancong commented on #4580
@disksing  we using offical docker image v2.1.4，but the pd-server inside is  v2.1.3.
[code]

[2019-04-26 11:18] disksing commented on #4580
@rleungx Please take a look. From the changelog, v2.1.3 should include the fix.

[2019-04-26 12:50] rleungx commented on #4580
@denghuancong As for the TiKV with no region, you can try this way:
![Screen Shot 2019-04-26 at 8 34 25 PM](https://user-images.githubusercontent.com/35896542/56808531-509d1180-6864-11e9-81f2-60e92ecd4d42.jpg)
@disksing The PR only fixes this problem in PD. It seems this panel is from TiKV dashboard.

[2019-04-27 13:35] siddontang opened #4584 "infinite "batchRecvLoop re-create streaming fail" after sysbench"
## Bug Report

**What version of TiKV are you using?**

[code]

[code]

**What did you do?**

After sysbench, find too many error messages.

**What did you expect to see?**

No error messages

**What did you see instead?**

[code]

[2019-04-27 16:06] stefson commented on #4304
You're propably not aware of it, but this post is the first hit if using google for learning about -DLLVM_DEFAULT_TARGET_TRIPLE and aarch64

[2019-04-27 23:19] whoiscc opened #4585 "Error report not precise when fuzzer fail"
## Bug Report

**What version of TiKV are you using?**

3.0.0-beta.1

**What operating system and CPU are you using?**

macOS 10.14.4, core I5

**What did you do?**

[code]

The fuzzer is failed in my environment because some unknown reason, and the output looks like this:

[code]

The line says `no such subcommand` is very confusing.

Also, the afl fuzzer also fails on my machine with this output

[2019-04-28 00:59] siddontang commented on #4585
PTAL @breeswish

[2019-04-28 01:24] ice1000 commented on #4585
Could you please run `cargo install honggfuzz` and try again?

[2019-04-28 01:28] ice1000 commented on #4585
I'm getting this compilation error after trying to update the currently dependent honggfuzz library :worried: :

[code]

[2019-04-28 02:07] ice1000 commented on #4585
According to the [documentation](https://github.com/tikv/tikv/tree/master/fuzz#honggfuzz), you'll need to install the fuzzers (like for honggfuzz, use `cargo install honggfuzz --version 0.5.34`) prior to running the fuzzers.

However, I've created a PR (#4586) that tries to install the fuzzers automatically.

[2019-04-28 04:00] breeswish opened #4587 "Explain thread names in documentation"
## Feature Request

Our thread names are hard to understand for users, e.g. what kind of operations it is related, how to enlarge its capacity, etc. So we should document these threads, as well as related configurations.

[2019-04-28 06:14] whoiscc commented on #4585
Installing honggfuzz manually works, however, this is unrelated to the original problem.

[2019-04-28 08:24] YangKeao commented on #4272
I am working on this issue. Plan to add a new entry in status server (such as `(&Method::GET, "/jeprof")`) which dumps prof to a temporary file and show it on web page.

For example, access `/jeprof?seconds=30` will start the profiler, wait asynchronously for 30 seconds and dump the profile, finally return the result and stop the profiler. (Maybe deleting the dump file is also needed, I want to kn

[2019-04-28 17:07] breeswish commented on #4585
We need to enhance the error process for the fuzzing cli. PRs are welcome!

[2019-04-29 05:18] 5kbpers opened #4594 "test_region_change_observer fail"
## Bug Report

<https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/3752/pipeline/135/>

**TiKV Version:** https://github.com/5kbpers/tikv/tree/50103159042c47962d21d3315a1ac832accf0d39

PTAL @MyonKeminta @hicqu

[2019-04-29 06:34] CrazyNash commented on #4422
@Hoverbear sorry for late response, but it failed in this way

![image](https://user-images.githubusercontent.com/39256431/56879532-b7e8da80-6a8b-11e9-8173-c0e3dd838f46.png)

[2019-04-29 08:14] disksing commented on #4580
Oh, I misunderstood it. Currently tikv cannot clean up residual metrics after tombstone. If you use tidb-ansible, we have a specific script to do this. Please refer to: https://github.com/pingcap/tidb-ansible/blob/master/scripts/metrics-delete.py

[2019-04-29 13:14] breeswish opened #4603 "Change batch limit executor's tests to test behaviour instead of implementation"
## Feature Request

Currently the `BatchLimitExecutor`'s unit test heavily depends on the internal implementation, which is generally considered as a bad practice. We should rewrite these tests to test behaviour instead, e.g. what we expect for the first call, what for the second call, under different scenarios, etc.

[2019-04-30 00:02] whoiscc opened #4609 "Fuzz test failed for tikv::coprocessor::codec::mysql::Duration"
## Bug Report

**What version of TiKV are you using?**

3.0.0-beta.1

**What operating system and CPU are you using?**

macOS 10.14.4

**What did you do?**

The new fuzz tests added by WIP PR #4608 failed. The fuzz test looks like this:

[code]

The crash log:

[code]

[2019-04-30 00:07] ice1000 commented on #4609
Could you please rerun with the env var?

[2019-04-30 00:07] ice1000 commented on #4609
... and show us the printed stacktrace?

[2019-04-30 00:20] whoiscc commented on #4609
[code]

[2019-04-30 00:22] whoiscc commented on #4609
The code there looks like this:

[code]

The max negative i64 value is not handled properly, I think.

[2019-04-30 00:50] whoiscc opened #4610 "Fuzz test failed for tikv::coprocessor::codec::mysql::Duration::parse"
## Bug Report

**What version of TiKV are you using?**

3.0.0-beta.1

**What operating system and CPU are you using?**

macOS 10.14.4

**What did you do?**

The fuzz test added by WIP PR #4608 failed. This is the test:

[code]

This is the error report:

[code]

[2019-04-30 03:09] breeswish commented on #4609
Good job! @AndreMouche  PTAL

@iosmanthus You can also take a look.

[2019-04-30 06:27] disksing opened #4613 "Prevent large cop request causing tikv OOM"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Due to network bandwidth limitations, tikv may not be able to return to TiDB in time after processing large queries and eventually lead to OOM.

**Describe the feature you'd like:**

Reduce the speed of accept requests when there is a large amount of data waiting to be sent.

**Describe alternatives you've cons

[2019-04-30 06:42] andylokandy commented on #4283
The PR is close due to a bug of cargo (rust-lang/cargo#5478).

[2019-04-30 07:35] andylokandy commented on #4603
The only internal usage in tests I found is just the `remaining_rows` in `test_limit_remaining`, and it appears just once. Are there any other places I should notice?

[2019-04-30 07:38] YangKeao commented on #4180
I am willing to work on this issue. Should I start a new repository or create a new subdir in `components` named cop_dag?

For extracting coprocessor DAG, some dependencies may need to be solved:

1. `tipb` and `kvproto`. The `builder.rs` and `handler.rs` are used to provide a convenient interface for grpc server. At the same time, a lot of types in these two crates are used in DAG. Should we depa

[2019-04-30 07:54] breeswish commented on #4180
@YangKeao Thanks for your interest!

Isolate protobuf structures can be nice, but is not required. This can be a step 2.

Yes. However Store and Scanner are traits from the KV interface itself. To make Coprocessor a standalone project, it should provide its own.

I think you can start from an easy path:
1. Try to extract everything in Coprocessor into a workspace.
2. Try to provide its own traits.

[2019-04-30 07:57] breeswish commented on #4603
@andylokandy Nop. However these tests have a fundamental problem, which is, if you follow the way that these tests write (using the MockExecutor in that module), you will fall into depending on internal implementations to test specific behaviour, otherwise the test would be very complex.

[2019-04-30 08:00] breeswish commented on #4603
@andylokandy You may refer to https://github.com/tikv/tikv/blob/master/src/coprocessor/dag/batch/executors/selection_executor.rs to see how "good" tests should be.

[2019-04-30 11:55] YangKeao commented on #4180
It depends heavily on codec mod (in coprocessor). Should I extract it first?

[2019-04-30 12:35] iosmanthus commented on #4609
OK! Thanks for reminding! 😆

[2019-04-30 14:09] iosmanthus commented on #4609
Yeah! We should use [`i64::check_abs(self) -> Option<i64>`](https://doc.rust-lang.org/std/primitive.i8.html#method.checked_abs) instead.

[2019-04-30 16:25] iosmanthus commented on #4610
From my perspective, the bug is caused by delaying the check of the value of the `hour/minute/second` to `Duration::new`.
1. the following code never checks the value of `hour/minute/second` until calling `Duration::new`
https://github.com/tikv/tikv/blob/d4f238d09dd3a3d0555d50d8fbcf49e9da6fbb4f/src/coprocessor/codec/mysql/duration.rs#L165-L188
2. do the checking here:
https://github.com/tikv/tikv/

[2019-05-01 07:47] #4244 closed

[2019-05-01 17:34] Hoverbear commented on #4422
@CrazyNash I tried to reproduce on Windows 10 and Arch Linux and didn't experience the same problem. :( I did update the branch today, but I don't think anything I did relates to this problem. I'm puzzled how this is happening.

What OS and Docker version were you using?

[2019-05-02 18:14] Hoverbear commented on #4188
Any updates on this @brson ?

[2019-05-02 18:34] whoiscc opened #4616 "Test failed with error `too many open files`"
## Bug Report

**What version of TiKV are you using?**

3.0.0-beta.1

**What operating system and CPU are you using?**

macOS 10.14.4

**What did you do?**

`cargo test` or `make dev`

**What did you expect to see?**

The tests are passed.

**What did you see instead?**

This is the last part of output:

[code]

The omitted part is about thousands of lines.

[2019-05-04 01:37] siddontang commented on #4616
what is the limit of your file descriptors?

[2019-05-04 03:18] whoiscc commented on #4616
[code]

[2019-05-04 06:02] iosmanthus commented on #4616
@whoiscc try `ulimit -n 1024`?

[2019-05-04 06:12] iosmanthus commented on #4616
@whoiscc BTW, If you just modify a specific module, maybe running `cargo test some_unit_tests` for a specific unit test is enough? For more info: [running specific tests](https://doc.rust-lang.org/rust-by-example/testing/unit_testing.html#running-specific-tests)

[2019-05-04 07:41] iosmanthus commented on #4610
Fixed in https://github.com/tikv/tikv/pull/4497, I do the check while parsing the format string.

[2019-05-04 10:02] breeswish commented on #4180
@YangKeao My suggestion is that, you may first extract the whole Coprocessor (including DAG part and Analyze part) into a standalone component. Then, further extract the DAG part (including the codec). Finally, optionally, you may extract the codec and the data type.

[2019-05-04 12:37] zhangjinpeng1987 commented on #4616
@whoiscc Is there any problem after tuned ulimit?

[2019-05-04 12:41] zhangjinpeng1987 commented on #4613
For the first step, i think we should add a metric to monitor how much memory occupied by these pending send data.

[2019-05-04 14:04] H-ZeX commented on #3275
Hello. I would like to impl these functions
- [ ]  IntAnyValue
- [ ]  RealAnyValue
- [ ]  StringAnyValue
- [ ]  TimeAnyValue
- [ ]  IsIPv4Compat
- [ ]  IsIPv4Mapped

There are some questions:
  - Is it better to split such functions to different PR?
  - Is the feacture os *AnyValue same as [mysql's ANY_VALUE]( https://dev.mysql.com/doc/refman/8.0/en/miscellaneous-functions.html#function_any-value)

[2019-05-05 01:00] whoiscc commented on #4616
Sorry for late responding. The test is passed after setting.

[2019-05-05 02:35] ice1000 commented on #4616
Do we need to do anything with this issue? Like improving error messages, handling errors properly or adding documentation?

[2019-05-05 03:46] MyonKeminta commented on #4594
`must_add_peer` failed on a NodeCluster.
@overvenus PTAL

[2019-05-05 04:51] brson commented on #3352
I have a branch with pd and some of raftstore extracted into a diamond dependency graph. I see no improvement, probably worse speed for a full build, on a 4-core machine.

branch https://github.com/brson/tikv/tree/extract-raftstore

[code]

[2019-05-05 07:39] zhangjinpeng1987 commented on #4616
@ice1000 `Too many open files` has showed the error clearly.

[2019-05-05 07:39] #4616 closed

[2019-05-05 07:52] breeswish opened #4623 "Support `make ci-post-build`"
## Feature Request

Currently we run some scripts post build on CI platform. These scripts / actions are hardcoded in CI platform instead of this repo. We should move these scrtips / actions to the repo.

[2019-05-05 09:59] CrazyNash commented on #4422
@Hoverbear CentOS 7.5 +Docker 18.09.2+ Go 1.12

[2019-05-06 03:04] siddontang commented on #2970
have we already started this? @breeswish

Seem we can remove all CpuPools now.

[2019-05-06 03:27] breeswish commented on #2970
@siddontang I don't think so? I didn't see new PRs for this issue. @hawkingrei How is your progress?

[2019-05-06 03:34] siddontang opened #4630 "try to reduce too many gRPC threads"
## Feature Request

We opened too many gRPC threads, like:

[code]

I think we should reduce them.

For the gRPC release 1.20.0, https://github.com/grpc/grpc/releases/tag/v1.20.0, there is a new feature [Avoid using grpc_core::Executor when the background poller is available](https://github.com/grpc/grpc/pull/18501) to avoid this problem maybe, and gRPC also provides a new poll called [epollbg](ht

[2019-05-06 11:04] breeswish opened #4636 "Refine slow_log to meet unified log format"
## Feature Request

Currently slow_log does not support fields. We need to make it structurized.

This is an unfinished task from https://github.com/tikv/tikv/pull/4177#discussion_r258788047

[2019-05-06 11:11] sciamp-dev commented on #2970
I'm working on this, too. I was waiting for @hawkingrei to avoid overlapping with the work.
I have found the following usages of CpuPool, I can go ahead with all of them if no one else is doing it.

https://github.com/tikv/tikv/blob/8dae71abe25cdcc511116f7d5b29312dffc2b152/src/server/service/debug.rs#L49

https://github.com/tikv/tikv/blob/8dae71abe25cdcc511116f7d5b29312dffc2b152/src/server/snap.rs

[2019-05-06 13:02] brson opened #4638 "Turn on panic=abort for release and dev profiles"
Per https://github.com/tikv/tikv/issues/4173#issuecomment-462101391 it's a small but unambiguous win for compile time and bin size.

[2019-05-06 16:39] Hoverbear commented on #4422
@CrazyNash I'm also running Docker 18.09. This is very odd. It seems it's actually finding a syntax error in some example of a upstream dependency.. 😵 Are you able to `make release` on your local machine?

Can you build https://github.com/bitflags/bitflags/releases/tag/1.0.1 on your local machine?

[2019-05-06 21:27] #4585 closed

[2019-05-07 02:28] nrc commented on #4630
What are our constraints on updating grpc? We're currently on 1.17.2, I can only assume the upgrade will be non-trivial.

[2019-05-07 02:46] #4171 closed

[2019-05-07 03:00] nrc commented on #4630
AFAICT, epollbg has not landed yet, only that preparation PR.

[2019-05-07 03:40] siddontang commented on #4630
@nrc

we can catch up with the latest gRPC release. so do the upgrade as you wish

[2019-05-07 03:45] siddontang opened #4642 "just test jira sync, will delete soon"
## Question

Before asking a question, make sure you have:

- Searched existing Stack Overflow questions.
- Googled your question.
- Searched open and closed [GitHub issues](https://github.com/tikv/tikv/issues?utf8=%E2%9C%93&q=is%3Aissue)
- Read the documentation:
  - [TiKV Readme](https://github.com/tikv/tikv)
  - [TiKV Doc](https://github.com/tikv/tikv/wiki/TiKV-Documentation)
  - [TiKV-Ctl Doc]

[2019-05-07 03:51] #4642 closed

[2019-05-07 10:19] psinghal20 commented on #3736
Hey! Is this issue still there? If yes, could you give me some pointers to start working on this? Thanks!

[2019-05-07 10:24] breeswish commented on #3736
@psinghal20 Thanks for your interest! As the first step, you need to add corresponding fields into the protocol which is defined at https://github.com/pingcap/tipb/blob/535e1abaa330653c8955cb3484261ea9f229e926/proto/select.proto#L61

[2019-05-07 10:27] breeswish commented on #3352
The benefit of the extraction should be notably faster benchmark builds.

[2019-05-07 16:14] H-ZeX opened #4651 "Update rand to 0.6.5"
## Feature Request

I want to update `rand` dependence to 0.6.5, however, it appear in serval place, such as
-  `Cargo.toml`
-  `components/codec/Cargo.toml`
-  `components/tikv_util/Cargo.toml`
- etc.

So should I update all of them to 0.6.5?
Or is it better to wait for `rand` update to `1.0.0`?

[2019-05-07 17:34] kennytm commented on #4651
I don't see any plan from `rand` to update to 1.0.0 soon (the next major release will be 0.7). I think updating everyone to 0.6.5 is ok.

[2019-05-08 04:28] H-ZeX commented on #4651
@kennytm OK, I will try to update them.

[2019-05-08 10:43] z572505258 commented on #4180
The current coprocessor is for tidb. Is it possible to provide a plugin interface? then we can write custom coprocessor plugins which can process our own defined data format (such as bson).

[2019-05-09 03:32] brson commented on #4188
No.  I got the results I wanted out of my cargo-bloat fork, they don't contain enough information to be actionable, and it's not a priority for me to improve the analysis or clean up the code for upstreaming. So I'll close this.

[2019-05-09 03:32] #4188 closed

[2019-05-09 04:43] brson commented on #4283
Thanks for trying @andylokandy.

`patch` doesn't seem like the right solution to me since it's for forcibly overriding crate implementations, not really what we are trying to do.

I previously expected the git rev to act like a version constraint causing the crate resolver to pick that rev for every instance of the same git dep, but that's clearly not what happens.

And on further consideration, r

[2019-05-09 04:50] brson commented on #4283
Here's another idea. I don't know the details of `patch` offhand, but we could try a different scheme that would put all the git repos and revs in a single place:

- for each git dep, only specify the version number, as if it lived on crates.io
- in the workspace manifest, use `[patch]` to specify that that crate is actually from a git repo with revision

That would eliminate both the repo duplica

[2019-05-09 05:31] BusyJay commented on #4283
Or we may just release all the git dependency to crates.io. Rev is hard to read, not easy to be updated and duplicated with what's inside `Cargo.lock`.

On the other hand, repositories like kvproto is expected to be released on crates.io to make it more community friendly.

[2019-05-09 09:50] #4389 closed

[2019-05-09 10:01] overvenus commented on #3255
Another failed test. [log.txt](https://github.com/tikv/tikv/files/3161467/log.txt)

[2019-05-09 11:49] brson opened #4673 "Add a TiKV-specific developer guide"
There's quite a lot that can yet be documented about the TiKV development process, independent of TiDB. I in particular need a developer guide to exist so I can document tips for reducing compile time, especially since I am going to turn off debuginfo by default and must document how to turn it back on.

I think this is a distinct document from CONTRIBUTING.md, which I consider to be about the bas

[2019-05-09 11:52] brson commented on #4673
I have begun a patch https://github.com/brson/tikv/tree/dev-docs-etc

[2019-05-09 11:52] brson opened #4674 "Promote compile-time relevant profile changes to primary dev/release profiles"
The makefile presently contains a number of `x-*` targets used for experimenting with different cargo profile options, for reducing compile times. It is time to move the changes there into the "main" dev and release profiles.

As part of this, per discussion with @BusyJay I intend to slightly de-optimize `make release` so that it builds significantly faster, while adding a new target for creating

[2019-05-09 11:52] brson commented on #4674
I have begun a patch https://github.com/brson/tikv/tree/cargo-profiles-2

[2019-05-09 16:03] breeswish opened #4676 "coprocessor::Result<T> is at least 176 bytes.."
## Bug Report

Found during an investigation of performance regression after applying some new optimizations to the Coprocessor.

[code]

Output:

[code]

This means that, any frequent interface using `coprocessor::Result` as the return value will be very ineffective. This should be one of the root case of so many memcpy in the profiling result.

Follow up:

[code]

[2019-05-10 05:39] YangKeao commented on #4180
@breeswish I don't know what `cop_datatype` is designed for. Could I place `RequestHandler` trait in it?

[2019-05-10 05:59] BusyJay commented on #4523
Should be fixed by pingcap/kvproto#389 and #4658.

[2019-05-10 05:59] #4523 closed

[2019-05-10 07:37] BusyJay opened #4680 "ReadIndex when transferring leader may not be correct"
Note that when doing ReadIndex and there is already one pending, the new request will be append to queue directly.

https://github.com/tikv/tikv/blob/4285afc203e38f032657f96b2132dc2dcc655fc4/src/raftstore/store/peer.rs#L1671-L1677

This is sound as long as it holds that the lease of leader will be extended when pending ReadIndex is committed. However, when transferring leader, this is not true any

[2019-05-10 09:33] siddontang commented on #4676
oh, seem we need to use Box to wrap the Error, right?

[2019-05-10 12:30] breeswish commented on #4676
@siddontang Maybe yes, maybe no:

Yes: -- This can solve the large memory problem.
No: -- This will simply make `?` operator fail everywhere.

[2019-05-10 15:37] kennytm commented on #4676
This sort of thing is supposed to be warned by the [`large_enum_variant`](https://rust-lang.github.io/rust-clippy/master/index.html#large_enum_variant) lint. Unfortunately the default setting is allow up to 200 bytes (inclusive), i.e. your `tikv::storage::txn::Error` is 16 bytes too small from triggering the warning 🙃.

[2019-05-10 15:46] breeswish commented on #4676
@kennytm Maybe we can adjust the throttle, to discover what is missing in the list. I believe there is a lot :(   For those really unimportant & large ones we can whitelist them explicitly in `#[allow]`.

[2019-05-11 05:02] overvenus opened #4686 "Resource deadlock avoided (os error 35) on panic hook"
## Bug Report
[code]

[2019-05-11 10:47] YangKeao commented on #4180
@breeswish I am extracting `Store` and `Scanner` trait. How should I design a new `Error` for them? (because previous errors strongly depend on storage)

The Error (and Result) with these trait shouldn't depend on the implementation of them, so I think Mvcc (from  `crate::storage::mvcc::Error`) and Engine (from `crate::storage::kv::Error`) errors shouldn't be here.

I cannot use a generic type to

[2019-05-14 10:34] breeswish opened #4692 "A series of date time related bugs"
## Bug Report

Known bugs that need to be fixed one day in future:

1. Does not support `date` that 00:00:00 is an invalid time.
2. Always reports errors for invalid time while MySQL does not.
3. Incorrect date time processing for some functions when year < 1970 or date time is invalid.
4. Zero month or zero day is not supported.

[2019-05-14 13:00] rleungx opened #4693 "Support IPV6 address"
## Feature Request
Currently, TiKV doesn't support IPV6 address.
<img width="1238" alt="Screen Shot 2019-05-14 at 8 36 35 PM" src="https://user-images.githubusercontent.com/35896542/57699837-4021cf00-768b-11e9-8daf-91ecee793d5d.png">
We may need to support it in the future.

[2019-05-14 13:30] siddontang commented on #4676
@breeswish

Can we file an issue to let contributors help us do the large enum check?

[2019-05-14 13:30] siddontang commented on #4676
Not only the large enum, I also think we should find a way to detect large structure move.

[2019-05-14 17:07] kennytm commented on #4693
A valid IPv6 socket address should be written as `[::1]:20160` — note the square brackets. If that `::1:20160` comes from user's settings it would be user's mistakes.

[2019-05-15 04:10] siddontang opened #4696 "illegal instruction coredump"
## Bug Report

**What version of TiKV are you using?**
2.1.6

**What did you do?**

The customer just used ansible to upgrade to 2.1.6 and found TiKV couldn't start again.

**What did you expect to see?**

Raise another panic, not "illegal instruction"

**What did you see instead?**

Through the TiKV err log, we can see file logger paniced with "trap invalid opcode" problem, but we didn't know why

[2019-05-15 04:11] siddontang commented on #4696
of course, we must reproduce this problem too.

[2019-05-15 08:38] breeswish commented on #4180
@Yangkeao I think what you need is a new Store / and a new Scanner trait, under Coprocessor's module.

[2019-05-15 08:55] kennytm commented on #4323
For the record, we've spent a few hours today checking why Lightning randomly got some "UNIMPLEMENTED" gRPC error from Importer, before we (through Wireshark) realized that both TiKV and Importer are configured to bind to the same port.

[2019-05-15 15:31] zhouqiang-cl opened #4700 "just test sync reporter"

[2019-05-15 15:37] #4700 closed

[2019-05-15 15:37] zhouqiang-cl opened #4701 "test sync reporter"
will close soon

[2019-05-15 15:45] #4701 closed

[2019-05-15 17:29] breeswish commented on #4696
A possible cause could be, some illegal data were written to the stack when disk is full (or buffer overflowed), which will then likely to cause illegal instructions because of the invalid return address.

[2019-05-16 02:46] brson commented on #4107
maybe some useful info here https://mysqlrelease.com/2019/05/the-amazing-shrinking-tarball/ cc @sticnarf

[2019-05-16 03:03] breeswish opened #4702 "Warn on large structure move or large return structure"
## Feature Request

According to https://github.com/tikv/tikv/issues/4676 in fact we have some large structures in critical paths, which may greatly impact the performance. We need to warn these large structures taken place in return values. Also it would be even better if we can check the structure size of each `move`!

[2019-05-16 03:05] koushiro opened #4703 "cargo audit error"
## Bug Report

**What did you do?**

    Fetching advisory database from `https://github.com/RustSec/advisory-db.git`
      Loaded 24 security advisories (from /home/koushiro/.cargo/advisory-db)
    Scanning Cargo.lock for vulnerabilities (306 crate dependencies)
error: Vulnerable crates found!

Crate:	 protobuf
Version: 2.0.4
Date:	 2018-06-08
URL:	 https://github.com/stepancheg/rust-protobuf/iss

[2019-05-16 03:44] nolouch opened #4704 "Redundant heartbeat report"
## Bug Report

**What version of TiKV are you using?**
commit: af12d7d504efdfa8fb875e5f53e03177511a8212

**What did you do?**
[code]
**What did you expect to see?**
Just only report once.
**What did you see instead?**
An operator step finished found multiple heatbeat report.

[2019-05-16 04:39] Hoverbear commented on #4703
From @zhangjinpeng1987

![image](https://user-images.githubusercontent.com/130903/57826844-d7edee80-7759-11e9-80cc-93eb64374f8e.png)

[2019-05-16 09:05] siddontang commented on #4702
how can we do this?

/cc @nrc @brson

[2019-05-16 11:03] kennytm commented on #4702
This would be part of rust-lang/rust#45683.

[2019-05-16 12:28] #4638 closed

[2019-05-16 17:21] Hoverbear commented on #4703
There is a fix pending on our internal infrastructure.

[2019-05-16 20:45] nrc commented on #4702
I think  rust-lang/rust#45683 is just about copies, not moves (i.e., if you have a large struct and you impl `Copy`). I don't think there is anything we can do to detect this statically because whether a structure is actually moved depends on exactly LLVM optimises the program, so it could change even at link time.

I think a conservative check could be implemented in Clippy (and I'm 99% sure they

[2019-05-16 21:57] brson commented on #4702
Clippy does seem like the easiest - it should be able to detect _semantic_ moves perfectly, which are a good indication of what LLVM might do.

I can think of other approaches:

- Instrument the few main instances of memcpy/memmove - in core, std, and the libc crate. This relies on an assumption that LLVM converts "big" moves to memmove calls, which I have no idea is true. And has to be caught at

[2019-05-16 22:01] brson commented on #4702
Another option - set a threshold size for structs (clippy already detects large structs), and just keep all structs under that size. Or maybe every struct of significant size needs to be pinned, which a lint could do.

[2019-05-16 22:04] brson commented on #4702
We could also explore "placement" constructors, with a lint saying to always use placement ctors for anything over some size threshold, since ctors are a common source of moves, though my impression is that they are still not particularly ready to go in Rust.

[2019-05-17 01:06] brson opened #4711 "Turn off rocksdb debuginfo in dev mode when tikv debuginfo is off"
In https://github.com/tikv/tikv/pull/4689 I am turning off debuginfo for the dev, test, and bench profiles.

Unfortunately, this does not turn off debuginfo for RocksDB (and any other jemalloc project) because CMake's builtin "Debug" profile always includes debuginfo. So cmake-rs just ignores the debuginfo setting if opt-level = 0.

I don't know how to fix it offhand, but I think the best fix woul

[2019-05-17 03:11] brson commented on #4711
I think the best place to fix this is in cmake-rs if its possible. Today there are two cases where it just ignores cargo's debuginfo choice.

[2019-05-17 18:53] brson commented on #4711
Upstream issue https://github.com/alexcrichton/cmake-rs/issues/79

[2019-05-19 13:52] siddontang commented on #4711
@brson

how about the compiling time now when disable rocksdb's debuginfo.

[2019-05-19 14:55] BusyJay opened #4717 "Sending messages should be more tolerant"
https://github.com/tikv/tikv/blob/69680545b2721810581cdedeb5c4a975ddc4dc2b/src/raftstore/store/peer.rs#L2046-L2055

If returns error early, all the following messages will be discard and other peers may not receive logs until next heartbeat, which can cause unexpected delay.

In my opinion, sending message may not report error at all, because there will be no special handing except logging.

[2019-05-19 14:55] BusyJay commented on #4717
/cc @zhangjinpeng1987 @siddontang

[2019-05-19 15:51] kennytm commented on #4703
We're currently only ignoring the audit, but the actual fix is still not applied. Let's keep this open until protobuf is updated and the audit is re-enabled.

[2019-05-20 15:43] breeswish opened #4736 "raftstore::test_tombstone::test_server_readd_peer failed"
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/4644/pipeline

[2019-05-21 04:02] YangKeao opened #4739 "Range of `scanner` desc of `FixtureStore` is different from other stores"
In the implementation of `Store` for `FixtureStore`, the range of `scanner` is given by below codes:

[code]

So with desc, it uses left open right close closure. However, `BackwardScanner` (used by `SnapshotStore` to implement scan method) scans key only lower than upper bound.

And in dag coprocessor, key was restricted lower than end of range, no matter desc or not.

[code]

Maybe we will never

[2019-05-21 04:21] Connor1996 opened #4740 "MvccProperty should consider delete version"
## Bug Report

We decide whether need to gc based on MvccProperty max row version. But if the compaction is not performed on the SSTs after GC, the max row version would still large so that GC is triggered again and again which is unnecessary.

https://github.com/tikv/tikv/blob/master/src/storage/mvcc/reader/reader.rs#L432

maybe we can add a delete_version to `MvccProperty`, once delete_version/n

[2019-05-21 08:33] breeswish opened #4742 "storage::lock_manager::waiter_manager::tests::test_waiter_manager failed"
## Bug Report

https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/4717/pipeline

[2019-05-21 09:39] siddontang commented on #4740
how do you find this problem, through metrics?

[2019-05-21 09:39] siddontang commented on #4740
how do you find this problem, through metrics?

[2019-05-21 14:34] Connor1996 commented on #4740
@MyonKeminta tests GC and finds that GC is always working even there is no new write. The log shows that GC is not skipped because the `max_row_version` always exceeds the threshold. Maybe this case is not the actual reason for his test but seems it really exists.

[2019-05-21 14:47] MyonKeminta commented on #4740
This happened on my test cluster for ResolveLocks. The symptom is, after normally running without heavy writting and a rebooting, one of the TiKVs stopped skipping GC and scans every region, which can be seen in metrics. Then I added logs to the `need_gc` function and found that nearly all regions has `max_row_versions == 132`. Then this symptom disappeared after a full compaction.

[2019-05-22 05:57] YangKeao commented on #4180
As @z572505258 has said, and Yiqing Xiong in slack said he want to develop a graph database on TiKV. Should we provide some way to "register" new coprocessor ?

A new coprocessor should provide its RequestHandler and REQ_TYPE_ID, and "register" it on TiKV. Here are some questions on implementation:

1. How can I map an ID to a type?
2. Can developer "register" a coprocessor without modifying codes

[2019-05-23 03:09] breeswish commented on #4180
@BusyJay PTAL

[2019-05-23 03:23] breeswish opened #4756 "Use arena/bump allocator to avoid frequent allocation for SlowHashAggregationExecutor"
## Feature Request

In SlowHashAggregationExecutor, we allocates N + 2 vectors each time where N is the number of rows:

https://github.com/tikv/tikv/blob/c7f62e63d3e9b4388d7c131262f678cf6b02e10a/src/coprocessor/dag/batch/executors/slow_hash_aggr_executor.rs#L207

which have a very high impact on performance. By using some pre-allocate techniques like arena allocator / bump allocator, we will save

[2019-05-23 09:18] xiekeyi98 opened #4758 "*: Many possible spelling mistakes."
## Bug Report

**What version of TiKV are you using?**

N/A

**What operating system and CPU are you using?**

N/A

**What did you do?**
![image](https://user-images.githubusercontent.com/7782671/58240989-a6d77480-7d7e-11e9-890a-255becbc22e6.png)

As the pic says, we could fix these spelling mistakes to make the code fresh.

[2019-05-23 09:30] BusyJay commented on #4758
Cool! Can you send a PR to fix these?

[2019-05-23 09:32] BusyJay commented on #4739
/cc @breeswish PTAL

[2019-05-24 03:02] #4500 closed

[2019-05-24 05:57] breeswish opened #4762 "Relax batch table scan & batch index scan compatibility check"
## Feature Request

Currently we will fallback all requests that contains Enum / Set column in the table/index scan to non-batch executors. However, as long as we don't need to decode these columns, it is fine to use batch table/index scan executor.

[2019-05-24 09:45] nolouch opened #4764 "ReadIndex service may got duplicate `ctx`"
## Bug Report

**What version of TiKV are you using?**
release3.0 rc2

**Problems**
1. The `ctx` of pending reading is independently produced by `tikv` itself, it may same in leader and follower at the same time, the `ReadIndex` request will conflict and may lose one.
2. If we use `follwer_id` in `ctx`, it will solve problem 1, but if follower restart will also produce the same `ctx`.
3. `advance`

[2019-05-24 10:12] rleungx opened #4766 "Running cargo bench causes panic"
[code]

[2019-05-24 14:06] lysu commented on #4541
@BusyJay  maybe this is good to the version downgrade..

I had try master code then downgrade to 3.0.rc1...but meet this

[code]

then I need manual to replace MiB back to MB for every nodes....

maybe some big cluster upgrade need take care this problem :D

[2019-05-24 21:25] brson opened #4767 "sys-info upgrade causes panics on wsl and pre 3.4 linux"
## Bug Report

**What version of TiKV are you using?**

master

**What operating system and CPU are you using?**

wsl

**What did you do?**

cargo test

**What did you expect to see?**

passage

**What did you see instead?**

crashage. error says "Error: Unknown"

This is due to the sys-info upgrade from 0.5.1 to 0.5.6. https://github.com/tikv/tikv/pull/4760. There is a patch to fix it upstream in

[2019-05-24 21:34] #4767 closed

[2019-05-25 06:14] brson opened #4769 "Non-jemalloc builds currently use jemalloc"
This is because a few crates are leaving the tikv_alloc default features on.

[2019-05-26 07:59] sticnarf commented on #4756
I guess those allocations are unlikely to harm performance a lot. Modern allocators like jemalloc should do well in these small allocations. (However, I haven't benchmarked.)

With an arena, there still can be much trouble. Besides the problem of self-referential in the HashMap key, the `Vec` we use needs to support expansion. Expansion means freeing the previously allocated memory and allocating

[2019-05-26 12:40] breeswish commented on #4756
When I cut allocations from N * 2 to N, performance simply improved about 30% 🤣

[2019-05-26 14:56] kennytm opened #4776 "test: test_local_read_cache failed"
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/4923/pipeline

[code]

[code]

[2019-05-27 05:44] iosmanthus opened #4780 "`Duration` parser is not fully compatible with `MySQL`'s `TIME` parser"
## Bug Report
The `Duration` parser in https://github.com/tikv/tikv/pull/4497 is not fully MySQL compatible.

The language recognized by the parser includes the language recognized by MySQL which means there are some strings that can be accepted by this parser but rejected in MySQL. Here are some examples:
[code]
Maybe we need to change this behavior in the future.

[2019-05-27 06:03] breeswish opened #4781 "Strictly check TiDB request"
## Feature Request

Currently for irregular TiDB requests, e.g.

- LimitExecutor's limit == 0
- AggregationExecutor's GROUP BY is a constant
- AggregationExecutor has no aggregation function

We silently (output info) fallback them to non-batch executors. We need to output it in log as well as in metrics, so that we can know something wrong happened.

[2019-05-27 06:27] lonng opened #4784 "Unify all error messages format and style"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Error message start with a lower case is more idiomatic in the community.

1. Rust: https://rust-lang-nursery.github.io/api-guidelines/interoperability.html#error-types-are-meaningful-and-well-behaved-c-good-err
2. Go: https://github.com/golang/go/wiki/CodeReviewComments#error-strings

But there is no unify sty

[2019-05-27 06:46] breeswish opened #4787 "Make existing integration tests cover batch executors"
## Feature Request

Batch executors rely on type info in the request to work. When there is no type info, requests will be fallen back to normal executors.

In our integration tests, most of the test does not generate a fixture request carrying type info, thus batch executors are likely not be covered.

[2019-05-27 06:57] breeswish commented on #4787
Note: The "offset_for_column" in existing integration tests are also incorrect, which need to be fixed first. Otherwise, batch executors will simply reject these requests.

[2019-05-27 07:28] breeswish commented on #4776
Meet the same error as well:

https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/4948/pipeline

[2019-05-27 08:31] #4758 closed

[2019-05-27 09:58] jswh commented on #4762
Just set the types to pass the should batch test. Is there any thing else to do?

[2019-05-27 10:32] breeswish commented on #4762
@jswh Looks like no.

[2019-05-27 16:25] kennytm commented on #4776
Test case is modified in #4789. Will close next week if no longer reproducible.

[2019-05-27 16:41] brson commented on #4166
This can be done now. I've tested with nightly-2019-05-21: https://gist.github.com/brson/4fb7d89b6e8da5183732b5a880d7d1ba

There are wins to have.

[2019-05-27 22:18] brson commented on #4711
I haven't tried yet. I don't have the correct solution yet. When I get back to it I'll hack something together to get numbers.

[2019-05-28 05:39] BusyJay commented on #4541
Sorry to see that happen, but it's intended not to support version downgrade.

[2019-05-28 05:39] #4541 closed

[2019-05-28 05:49] BusyJay commented on #4180
Yes. Coprocessor is designed to be plug-able. However it's still all maintained inside TiKV project. It was planned to use plugin mechanism to support dynamically load user defined coprocessors, but seems no one has time to do so (and it's not urgent).

It's appreciated that you want to work on this feature. Since it's not a small change and easily lead to debate on how the interfaces and loading

[2019-05-28 15:09] breeswish commented on #4742
Failed again in https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tikv_ghpr_test/detail/tikv_ghpr_test/5046/pipeline

[2019-05-29 05:15] #4717 closed

[2019-05-30 02:46] Ryan-Git opened #4805 "Why default to right_derive?"
## Question

When split, why not the first partition use the origin region id? I find right_derive is default to true, what's the purpose of this configuration and default value?

[2019-05-30 04:28] BusyJay commented on #4805
See also #1185.

[2019-05-30 04:44] BusyJay opened #4806 "Reconsidering adapting box syntax"
I do a simple [comparison](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=b05538fd40f9e29a104765826206615f) between `Box::new` and box syntax and find that `Box::new` will always initialize at stack first and then allocate and copy to heap in the end. But box syntax will allocate first and initial at the heap directly.

So I suggest to replace all the Box::new with box sy

[2019-05-30 04:59] BusyJay commented on #4806
Seems for simple struct and release mode, `Box::new` and box syntax behave the same. But in some cases `Box::new` will fallback to the procedure described above like array field or complicated struct.

[2019-05-30 07:37] Ryan-Git commented on #4805
that makes sense. Thanks.

[2019-05-30 07:37] #4805 closed

[2019-05-30 08:46] breeswish commented on #3803
According to some latest attempts in batch execution, we are now using the following approach (in batch execution):

1. Store i64 and u64 together in i64, as before. (maybe change in future).
2. If some UDF has different implementations for signed / unsigned, then we need to write two functions (so that the checking of signed / unsigned is *outside* the loop).
3. The checking of signed or not is p

[2019-05-30 08:46] #3803 closed

[2019-05-30 08:53] breeswish commented on #4450
Looks like recent failpoint tests in CI work as normal. Close for now.

[2019-05-30 08:53] #4450 closed

[2019-05-31 02:30] zhouqiang-cl commented on #4766
@rleungx Did this has been fixed

[2019-05-31 03:05] hicqu opened #4814 "Commands could be pending in scheduler forever"
With latest TiKV:
![图片](https://user-images.githubusercontent.com/8407317/58678907-f7109100-8393-11e9-8c86-c228c14d477b.png)

[2019-05-31 03:41] brson commented on #4711
Per a chain of comments across various issues and PRs, particularly https://github.com/alexcrichton/cmake-rs/issues/79#issuecomment-497563743. We could end up wanting debuginfo=1 for optimized rocksdb, and it looks very complicated to make that happen in the general case in cmake-rs. We may be forced to add hacks to our rocksdb build script to adjust the debuginfo.

[2019-05-31 03:44] brson commented on #4674
Per https://github.com/tikv/tikv/pull/4687#issuecomment-497562416, we probably want profiling to work for optimized builds. I need to test that it does with debuginfo=0. We may need debuginfo=1 for release mode.

[2019-05-31 06:17] #4814 closed

[2019-05-31 07:22] BusyJay opened #4815 "TiKV may not have enough replicas before accepting writes"
When TiKV bootstraps, it will request an ID from PD to initialize a region with one peer, and then rely on PD to add enough replicas.

However, adding replica takes time. It happens when region doesn't contain enough replicas but client starts to write and then causes problems like pingcap/tidb#10657.

As discussed with @disksing, PD can allocate all the required replicas at once. When TiKV bootst

[2019-05-31 07:33] Yriuns opened #4816 "Use docker-compose to deploy a TiKV cluster in a single machine, no replication happens."
## Bug Report

**What version of TiKV are you using?**
[code]

**What operating system and CPU are you using?**
[code]

**What did you do?**

1.  Use `docker-compose ` to start 3 `TiKV` and `PD` in 1 machine

[code]

the `pd-ctl` shows the cluster is healthy, and the number of replica is 3

[code]
[code]

2. put some `key-value`

**What did you expect to see?**
each region has 3 peers
**What did y

[2019-05-31 17:07] siddontang commented on #4815
Mostly, we may just start one TiKV for testing, so now we have to change the max-replica in PD, and if we want to test scale out, we need to remember to change the max-replica again. I don't like this way.

[2019-05-31 22:56] siddontang commented on #4816
how about the output of `pd-ctl store`?

[2019-05-31 22:57] siddontang commented on #4816
or have you checked the TiKV logs in logs directory?

[2019-06-01 03:26] siddontang commented on #4756
@sticnarf

do you do some experiments?

[2019-06-01 04:08] Yriuns commented on #4816
Sorry I can not access the servers now. But I remember that, `store` shows there are 3 stores, but only 1 store has multiple regions, the other 2 has 1 region.

Most of them are info. But I notice that there is a warning
[code]

Hope these information helps. I'm sorry I can't provide a complete log for the time being. I will provide them in Monday.

[2019-06-01 06:04] sticnarf commented on #4756
I just tried concatenating keys by row and tested using existing benches. No obvious performance improvement or regression. Haven't perfed to see the cache miss count.

[2019-06-01 14:04] breeswish commented on #4756
@sticnarf It concatenates keys by column due to the limit of a &mut eval interface at that time :)  I guess it should have similar cache miss compared to concatenates keys by row. However, concatenates keys by row is a required implementation if we want no allocation (i.e. what this issue for).

[2019-06-01 14:09] sticnarf commented on #4756
@breeswish The limit of &mut eval interface can be overcome by decoding column ahead of time (like in stream aggregation). But this introduces two (maybe one in HashAgg) allocations per batch.

[2019-06-01 14:13] breeswish commented on #4756
@sticnarf Yes I know that there is no such limit now.

BTW in top N executor we have a similar demand as in this issue. I am going to use raw pointers everywhere I need to bypass the lifetime checker, for simplicity && performance.. Don't know whether or not it is a good idea.

[2019-06-01 14:17] sticnarf commented on #4756
@sticnarf Raw pointer is probably unavoidable. I've been trying to solve the problem using rental, but I find it more complex than using raw pointers...
Of course, the unsafe code should be reviewed a lot more carefully.

[2019-06-01 14:38] breeswish commented on #4756
@sticnarf Good to hear that Rental is more complex. Using Rental is indeed another option I considered and is going to try with and now I can totally forget about it XD

[2019-06-02 05:50] siddontang commented on #4756
@sticnarf

can you show us the benchmark code?

[2019-06-02 15:35] sticnarf commented on #4756
@siddontang This is the change commit: https://github.com/sticnarf/tikv/commit/32da5ad460bc9dbc789f39b7dfa835f273786e56, all other logic (including allocation number) are the same.
For hash_aggr_count_1_group_by_int_col_real_col_2_groups/batch/rows=100000, it shows a regression of 5% when iterating by row:
[code]

Iterating by row is slightly more cache friendly:

[code]

[2019-06-03 02:08] lonng opened #4822 "coprocessor/expression: supported aggregate functions"
## Feature Request

This issue is used to track aggregate functions implementation in the coprocessor.

### Batch

- [ ] AVG
- [ ] BIT_AND
- [ ] BIT_OR
- [ ] BIT_XOR
- [ ] COUNT
- [ ] COUNT(DISTINCT)
- [ ] GROUP_CONCAT
- [ ] JSON_ARRAYAGG
- [ ] JSON_OBJECTAGG
- [ ] MAX
- [ ] MIN
- [ ] STD
- [ ] STDDEV
- [ ] STDDEV_POP
- [ ] STDDEV_SAMP
- [ ] SUM
- [ ] VAR_POP
- [ ] VAR_SAMP
- [ ] VARIANCE

### Non

[2019-06-03 03:24] Yriuns commented on #4816
Hi, @siddontang , here are the `store` and `logs`
[code]

[code]

[code]

[2019-06-03 03:33] disksing commented on #4815
@siddontang I think "test scale out" doesn't mean to scale from 1 replica to more replicas. Instead, it tests scaling from a small number of nodes to more nodes (either single replica or multiple replicas can be scaled out).

[2019-06-03 07:32] BusyJay commented on #4815
To be honest, I barely test with only one node. I always test using tidb-ansible, which usually setups at lease 3 nodes and should be able to adjust max-replica automatically.

[2019-06-04 08:04] Yriuns opened #4828 "What is the relationship between `sync-log` and `wal-bytes-per-sync`"
## What is the relationship between `sync-log` and `wal-bytes-per-sync`

I know that each `TiKV` instance contains two `RocksDB` instances, one is `Raft RocksDB`, stores `raft log` and the other stores `key-value`.
I also know that in a standard raft write process, the raft cluster should persist log before respond `success`.

My question are:
1. If `wal-bytes-per-sync` is not `0`, when we calls s

[2019-06-05 03:42] Fullstop000 commented on #4806
It sounds weird that this would make a difference, given that `Box::new` is an `#[inline(always)]` wrapper around `box` syntax.
https://github.com/rust-lang/rust/blob/81eb15210a0c43820b146cd9ae6fd2062e1b2922/src/liballoc/boxed.rs#L114-L118

[2019-06-05 03:47] BusyJay commented on #4806
/cc @brson any ideas?

[2019-06-05 03:50] BusyJay commented on #4806
Seems related to rust-lang/rust#53827

[2019-06-05 08:08] ice1000 commented on #4806
Even more relevant: rust-lang/rust#58570

[2019-06-06 00:03] brson opened #4842 "TiKV is not being run on crater"
Crater is what prevents Rust regressions, so we want it to be run there. Right now it is on the "automatic" black list https://github.com/rust-lang-nursery/crater/blob/master/config.toml#L12995,
for failing to build consistently.

Crater's maintainer @pietroalbini suggests that they may re-enable those blacklisted items soon. If that happens we will be able to look at the error logs and figure out

[2019-06-06 00:04] brson commented on #4842
If the auto-blacklist isn't reverted soon we can ask @pietroalbini to just take tikv off that list so we can see the error logs and fix the problem.

[2019-06-06 01:23] brson opened #4843 "Be more precise about target CPU features and minimum CPU requirements"
TL;DR: declare that TiKV runs on westmere-level processors and above. Pass `-march=westmere` to every project we build. Get better optimizations everywhere.

Rationale below.

Today we take some slight consideration about the minimum CPU features required to run TiKV, but there is much more that can usefully be configured to add more optimizations to TiKV.

Today our releases have a slight influen

[2019-06-06 03:25] breeswish commented on #4828
@Connor1996 Could you help answer this?

[2019-06-06 03:44] brson commented on #4107
The tarball no longer contains two copies of tikv-server

[2019-06-06 03:47] brson commented on #4281
There are no longer two tikv-servers in the distribution. cc @zhouqiang-cl

[2019-06-06 03:47] #4281 closed

[2019-06-06 04:02] brson opened #4845 "Dockerfile should use the Makefile to build tikv"
In the in-repo Dockerfile https://github.com/tikv/tikv/blob/master/Dockerfile#L64 tikv is built with this command:

[code]

This duplicates the command line put together by `make release` and is brittle to changes in the tikv manifest. It should just call `make release`.

cc @siddontang I recall the Dockerfile was originally built by a script. Is it ok now to edit it by hand? And do you see a reas

[2019-06-06 05:02] zhangjinpeng1987 opened #4846 "Missing sync file after receiving snapshot"
## Bug Report

Should sync_all at https://github.com/tikv/tikv/blob/master/src/raftstore/store/snap.rs#L1057 when receiving snapshot.

[2019-06-06 07:37] brson commented on #4843
Some of the additional features added by westmere are pretty interesting: cx16 is 128-bit atomics, aes is hardware AES, popcnt of course is useful for various things, ssse3 is streaming extensions that might be employed in various encoders and decoders. pclmul is "carryless" multiplacation - multiply two 64-bit values get a 128-bit value. sse4.2 also has a crc32 instruction that could be used for

[2019-06-06 07:44] brson commented on #4843
We should probably also do feature detection on startup to avoid mystery illegal instructions during operation for low-class cpus, but not sure if it can be done early enough to avoid hitting westmere-specific code - to do this we could probably put startup code in its own crate that is not -march=westmere.

Another problem here is that std is compiled for -march=x86. This doesn't matter for gener

[2019-06-06 08:21] brson commented on #4806
https://github.com/rust-lang/rust/issues/53827 is the problem yes. I don't know enough about the details, but Rust just has no guaranteed way to initialize something directly on the heap. The linked discussion discussed "placement in", which is like a "placement new" ctor in c++. Apparently "placement in" is dead, so it's back to being an open problem how to construct a value in an exact memory lo

[2019-06-06 08:29] brson commented on #4806
Here's why placement died: https://github.com/rust-lang/rust/issues/27779#issuecomment-378416911

[2019-06-06 08:38] brson commented on #4769
Fixed

[2019-06-06 08:38] #4769 closed

[2019-06-06 14:32] #4846 closed

[2019-06-07 14:13] psinghal20 commented on #3736
@breeswish Hey, I raised a PR in pingcap/tipb [#120](https://github.com/pingcap/tipb/pull/120). I took a look PR [#3716](https://github.com/tikv/tikv/pull/3716), I will start working on adding max_allowed_packet variable on those scalar functions as soon as my PR gets merged.

Please take a look at it when you get a chance! 🙂

[2019-06-10 09:08] qw4990 opened #4864 "can't upgrade dependency `tipb` in `tikv`"
## Bug Report
I want to introduce a new function signature to fix this MySQL-compatibility problem(https://github.com/pingcap/tidb/issues/9763);

After I upgrade `tipb` from the specific version `tipb/833c2f` to `tipb/master`, I get some errors when building:
[code]

The specific version is hard-wrriten in `Cargo.lock`:
[code]

[2019-06-11 05:31] Connor1996 commented on #4828
Not quite sure. /cc @yiwu-arbug

[2019-06-11 06:31] yiwu-arbug commented on #4828
@Yriuns your understanding for the options are all correct. `sync-log=true` sync WAL for every write, while if `sync-log=false` the WAL is being sync per `wal-bytes-per-sync`.

[2019-06-11 06:40] Yriuns commented on #4828
@yiwu-arbug  Thanks a lot! So even if `raft` responds `ok`, there is still the possibility of losing at most `wal-bytes-per-sync` bytes data. Have I understood correctly?

[2019-06-11 07:03] yiwu-arbug commented on #4828
@Yriuns yes, if `sync-log=false`.

[2019-06-11 07:09] Yriuns commented on #4828
@yiwu-arbug Thank you very much!

[2019-06-11 07:09] #4828 closed

[2019-06-11 08:49] chenyukang commented on #1372
@breeswish which branch did you work on ?

[2019-06-11 11:11] #4756 closed

[2019-06-11 14:51] breeswish commented on #1372
@chenyukang You may take a look at https://github.com/breeswish/tikv/tree/_log_refine . This was a working in progress and has pretty much conflicts to the current master. However it mostly illustrates what we are going to do about the logging part.

[2019-06-12 03:50] JadeQin opened #4874 "can not start tikv in Docker"
I use Docker to run tikv,and I have start pd success.

It shows
[code]

How can I resolve it?Thanks

[2019-06-12 06:15] JadeQin commented on #4874
I use `pingcap/tivk:latest`,it works well.

[2019-06-12 10:40] BusyJay opened #4881 "Take mutable reference in stead of moving in callbacks"
Most of our callbacks just consume part of the arguments, which are usually protobuf messages. Protobuf messages are usually too big in memory to be moved around frequently. If they are moved by pointers, a lot of memory copy can be avoided.

[2019-06-13 08:24] siddontang opened #4884 "why do we need to install zlib manually before compiling TiKV?"
## Question

[code]

I have to run `sudo yum install zlib-devel` before. IMO, we should build and link zlib statically.

[2019-06-13 08:57] lonng commented on #4874
The docker's maximum number of open file descriptors is limited to 65535, there are two ways to fix it:

1. `unlimit -n 82920`
2. change the `max-open-files` in configuration (not recommend)

[2019-06-13 09:11] BusyJay opened #4886 "First message should trigger only one message in batch system"
If user tries to send a message to a sleep fsm, mailbox will first push the message into the fsm's message queue, and then send the fsm to poller thread to let it poll the messages. If the first message can be sent with the fsm to poller thread directly, we can reduce one send operation.

[2019-06-13 09:17] BusyJay opened #4887 "make batch system auto scale"
For now, the thread pool inside batch system is configured statically. It has fixed count of threads and always do work concurrently. The more threads usually mean more context switches and possibly bad batch size. It would be helpful to make the thread pool auto scale. Threads don't have to be created and stopped at runtime, but it should be able to change the count of threads utilized at runtime

[2019-06-13 12:35] hicqu opened #4891 "can't exit tidb with ctrl + C"
[2019/06/13 11:19:48.460 +00:00] [ERROR] [client.go:146] ["batchRecvLoop error when receive"] [target=127.0.0.1:20160] [error="rpc error: code = Internal desc = stream terminated by RST_STREAM with error code: INTERNAL_ERROR"] [stack="github.com/pingcap/tidb/store/tikv.(*batchCommandsClient).batchRecvLoop\n\t/home/ec2-user/tidb/store/tikv/client.go:146"]
[2019/06/13 11:19:48.460 +00:00] [ERROR] [c

[2019-06-13 18:33] yiwu-arbug commented on #4884
RocksDB cmake script assume linking with system provided zlib when `WITH_ZLIB=1`, which we set in "build.rs". We need to update our "build.rs" to pass zlib link path and set compile flags instead.

[2019-06-13 23:57] brson opened #4894 "There isn't a single stable way to enable debuginfo for both rustc and gcc"
I recently turned off (https://github.com/tikv/tikv/pull/4689) debuginfo for dev, bench, and test configs, and added to the README the suggestion that to turn it back on use `RUSTFLAGS=-Cdebuginfo=2`. This of course doesn't change the flags passed to gcc.

Normally, the cmake-rs crate tries to interpret cargo's settings and configure the C toolchain similarly (though see https://github.com/tikv/ti

[2019-06-14 00:12] siddontang commented on #4894
@brson

If this only affects development, I think it is fine, we don't need to roll back but can still improve it if we can ensure the dist_release still contains debuginfo.

[2019-06-14 00:15] brson commented on #4894
OK, I will not revert, but try to come up with solutions to improve it.

[2019-06-14 00:22] brson opened #4896 "Use bench bot to monitor compile times"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Compile times are bad.

**Describe the feature you'd like:**

Have the bench bot monitor compile times and report on regressions.

cc @zhouqiang-cl I don't know how to do this yet, but maybe you can point be in the right direction.

[2019-06-14 00:25] brson commented on #4894
Some simple solutions:

- add new make targets
- explain CXXFLAGS etc in readme

[2019-06-14 00:45] brson commented on #4894
Oh this also interacts with https://github.com/tikv/tikv/issues/4711. So today, we actually can't turn off rocks' debuginfo in the `dev` / `test` profiles, and this only impacts `release` / `bench`.

[2019-06-14 01:35] #4166 closed

[2019-06-14 01:37] brson opened #4897 "Turn on cargo pipelining"
Cargo pipelining improves compile time noticeably. Upgrade the toolchain, then turn it on.

Since it requires setting an environment variable, probably it needs to be done in the makefile, then instructions added to the readme for doing it manually with plain cargo.

Some old links and instructions here: https://github.com/tikv/tikv/issues/4166

[2019-06-14 05:21] siddontang commented on #4884
another thing is that why do we need to install gflags manually too?

[2019-06-14 06:04] BusyJay commented on #4884
It doesn't link to the system zlib before. I guess maybe recent changes break the behavior.

[2019-06-14 07:36] shafreeck commented on #4842
The `tikv` has been removed from the blacklist.

[2019-06-14 08:36] pietroalbini commented on #4842
(the updated blacklist hasn't been deployed yet)

[2019-06-14 08:59] #4339 closed

[2019-06-14 09:00] #4762 closed

[2019-06-14 12:28] psinghal20 commented on #4881
Hi! I would like to work on this issue if it's up for grab. Could you give me some pointers on where to begin?

[2019-06-14 14:13] siddontang opened #4900 "should not check SSE if we disable it"
## Bug Report

**What version of TiKV are you using?**
master

**What operating system and CPU are you using?**

ARM64

**What did you do?**

[code]

**What did you expect to see?**

Compile successfully

**What did you see instead?**

[code]

[2019-06-14 14:19] siddontang opened #4901 "support HTTP API to handle configuration"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Our contributor @liufuyang uses K8s to deploy TiKV, and finds that it is hard to know the configuration of running TiKV.

**Describe the feature you'd like:**

Provide some HTTP APIs to let us handle configurations, e.g:

[code]

**Describe alternatives you've considered:**

We can also use tikv-ctl to do this,

[2019-06-14 14:23] siddontang opened #4902 "test_prevote_partition_leader_in_minority_detect_in_majority failed"
## Bug Report

[code]

[2019-06-15 13:31] siddontang commented on #4897
@brson

Please do it ASAP, I can't wait to use it.

[2019-06-16 01:03] zhangjinpeng1987 commented on #4740
@MyonKeminta Any update for this issue?

[2019-06-16 10:33] siddontang opened #4904 "should use a larger value for the default block cache"
## Question

Now we use shared block cache by default and the default value is "1GB", which means that if we forget to set it explicitly and not set previous RocksDB block caches of different column families, we will only use 1GB.

I think we should keep the same as before, if not set, may calculate the block cache. Mostly, we will use half of the memory.

[2019-06-16 15:18] siddontang opened #4905 "how to disable gRPC batch mechanism"
## Question

I use go-ycsb and set TiKV max batch size to 0 to disable gRPC batch explicitly, but to my surprised, I still find gRPC uses batch:

![image](https://user-images.githubusercontent.com/1080370/59566041-12b2b180-908d-11e9-8746-a73fc91f7b90.png)

How to disable it?

[2019-06-16 17:16] liufuyang commented on #4901
I think it is nice to add some GET config endpoints as we already have some http endpoints on the server.

But I am not sure whether or not  to support the utility to update configs as well. Will it make you have to maintain two places in order for the update config feature to work when some of the configs changes or new configs being added?  🤔

[2019-06-17 00:46] siddontang commented on #4901
You can add GET at first.

Now we support all(get, update config) through gRPC in tikv-ctl, we plan to migrate all to HTTP so we can write a unified ctl tool to operate PD, TiKV and TiDB.

[2019-06-17 01:24] siddontang opened #4906 "Proposal: introduce actix-web to simplify HTTP handling?"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Refer to #4444

Seem that we may add more and more HTTP APIs so the origin hyper can't fit our need.

@BusyJay and @breeswish think https://github.com/actix/actix-web is a better choice.

**Describe alternatives you've considered:**

Maybe compare other Web frameworks.

[2019-06-17 03:00] breeswish opened #4907 "Verify range for Table / Index scan executor"
## Feature Request

In coprocessor, we need to report errors when table ranges are sent to index scan executor, or index ranges are sent to table scan executor.

[2019-06-17 04:06] yiwu-arbug commented on #4904
I believe our default cache size is 45% physical memory.  Do you find it not being the case?
https://github.com/tikv/tikv/blob/master/src/storage/config.rs#L96

[2019-06-17 04:07] yiwu-arbug commented on #4904
The config template has a ="1GB" value, but it is just an example.

[2019-06-17 05:20] lpan commented on #4907
Hi, I am interested in working on this :slightly_smiling_face: I am really new to this project. Do you have any resources/pointers for me to get started on this?

[2019-06-17 05:27] hicqu commented on #4905
How do you set `max-batch-size` to 0?

[2019-06-17 05:39] siddontang commented on #4905
https://github.com/pingcap/go-ycsb/blob/master/db/tikv/db.go#L37

[code]

[2019-06-17 05:46] siddontang commented on #4904
got it, seem I made a mistake. sorry.

[2019-06-17 05:46] #4904 closed

[2019-06-17 06:47] BusyJay commented on #4881
Sure. You can start with src/raftstore/store/msg.rs. There are several definitions of Callbacks, you may need to change the signature from |M| to |&mut M|. If M is a combination of two large struct, it's better to separate them.

[2019-06-17 07:25] nrc commented on #4906
Actix is a decent library, but it has downsides: it uses non-standard futures (which may have soundness issues), it is a pretty opinionated, heavyweight framework, and it is large and complex. We should definitely compare other web frameworks to make sure we pick the right one; we should at least consider Rocket and Tide. It would also be good to know exactly how Hyper is not meeting our needs - I

[2019-06-17 07:29] siddontang opened #4908 "combine all binaries into one"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Now we have three binaries: tikv-server, tikv-ctl and tikv-importer. Compiling them all may take a long time, and another problem is that people may misuse different versions, e.g. one people used an old tikv-ctl to access tikv-server.

**Describe the feature you'd like:**

We may combine all into one binary, I

[2019-06-17 07:48] BusyJay commented on #4908
I don't think this will improve compile time. When building three binaries, they are compiled in parallel. And tikv-server is always the last one that finish compilation.

The overall idea looks good to me.

[2019-06-17 08:17] hicqu commented on #4905
Please try `-p "tikv.batchsize=0"`.

[2019-06-17 08:38] #4905 closed

[2019-06-17 10:21] breeswish commented on #4907
@lpan Thanks for the interest! You need to add code to verify whether or not key meets the format (for index scan, it should be prefixed with tXXXXXXXX_iXXXXXXXX and for table scan it should be prefixed with tXXXXXXXX_rXXXXXXXX) in `TableInnerExecutor::decode_row`, `IndexInnerExecutor::decode_row`, `BatchTableScanExecutor::process_kv_pair` and `BatchIndexScanExecutor::process_kv_pair`.

[2019-06-17 11:23] lonng commented on #4907
@breeswish I think the easiest way is to check all ranges in `builder.rs`

[2019-06-17 11:28] breeswish commented on #4907
@lonng
- It cannot avoid invalid ranges like `[tXXXXXXX1_r, tXXXXXXX2_r)`
- End key is not required to be in format `tXXXXXXXX_r` since we will only scan keys < end key.

[2019-06-17 13:15] #4603 closed

[2019-06-17 13:17] #3903 closed

[2019-06-17 13:59] breeswish commented on #4906
@nrc We mostly want a framework with some better routing features, for example, able to match path parameters. As you can see in #4444 we did that manually which is pretty awful.

[2019-06-17 16:02] lpan commented on #4907
@breeswish @lonng thanks so much everyone! I will dive into it soon. Will keep you posted if I run into any questions or blockers 🙂

[2019-06-17 18:08] Hoverbear commented on #4908
This is a super great idea!

[2019-06-17 18:09] Hoverbear commented on #4908
We should consider that if we do this with TiKV the same should be done for PD to maintain consistency.

[2019-06-17 18:10] Hoverbear commented on #4901
In #4444 we talked about adding Actix, so this could be used here too

[2019-06-17 18:17] brson commented on #4908
I think probably it makes sense.

If there were a way to run a post-install script, we could even preserve the existing names by linking e.g. `tikv-server`, `tikv-ctl` etc all to the same binary. But just making them all one binary and changing the command format is also fine. Similarly for backwards compat, sym/hardlinks could link `tikv-server` etc to the new `tikv` command.

For less parallel b

[2019-06-17 19:12] jlerche commented on #4901
I would like to work on this if nobody else has already started.

[2019-06-17 19:25] kennytm commented on #4908
Note that we've split tikv-importer into its own repository (https://github.com/tikv/importer) and the copy here will soon be deleted on master.

[2019-06-17 19:38] Hoverbear commented on #4901
Thanks @jlerche . Do you think you could start with supporting `get` for now?

Since you're not (at the moment) a member of the TiKV project I can't assign you, but we'd really love to let you tackle this!

Is there any way we can support you? You can chat with me on Slack if you have any roadblocks. :)

[2019-06-17 19:46] gregwebs commented on #4908
It is very easy to try this idea out by putting all the binaries into a single docker container. Create a dispatch shell script called `tikv` if you want. See [jaeger all in one](https://www.jaegertracing.io/docs/1.8/getting-started/#all-in-one) for inspiration. Note this can also be done just by putting all binaries into a single directory.

Note that with this approach it is also easy to add in

[2019-06-17 20:01] jlerche commented on #4901
`get` sounds like a good start. I will definitely be pinging you on slack as I work through this 😝

[2019-06-17 23:34] yiwu-arbug commented on #4884
It doesn't seems to me there's recent change to the behavior. How we link with zlib doesn't change since https://github.com/pingcap/rust-rocksdb/commit/fbee9afdfc8d120935fa9f91d7629a74f86d721d, and how rocksdb cmake script handle zlib doesn't change since https://github.com/facebook/rocksdb/commit/185ade4c0c91288ae268f6ceca8310421325cea4 ...

[2019-06-17 23:34] tennix commented on #4908
As for compatibility, the [hyperkube](https://github.com/kubernetes/kubernetes/blob/master/build/debian-hyperkube-base/Dockerfile) approach is a good solution. The hyperkube is a binary wrapper for all the k8s binaries, when running `hyperkube --make-symlinks`, it will create all the symbolic links to `hyperkube`, and invoking `hyperkube <component>` is equivalent to `<component>`, for example to

[2019-06-17 23:35] yiwu-arbug commented on #4884
@siddontang regarding gflags, on my side it only warns gflags not exist, but it continue to build without error. Is it not the case on your side?

[2019-06-17 23:36] yiwu-arbug commented on #4884
Sent https://github.com/pingcap/rust-rocksdb/pull/303 for zlib fix.

[2019-06-18 07:58] jswh commented on #4906
The Rocket is quite an application framework which is not a good choice for intergration.

[2019-06-18 08:29] liufuyang commented on #4901
@jlerche I am in the process to try to get https://github.com/tikv/tikv/pull/4444/ this in, which added some extra http endpoint. And my plan was to add those configuration http endpoints as well afterwards. The reason I am waiting to not start add config related endpoints now is that I am waiting to have a decision here https://github.com/tikv/tikv/issues/4906 - where we are talking whether we wi

[2019-06-18 08:38] meeepo opened #4916 "why ssd iops very low on cloud ssd?"
I use tidb and it use rocksb as storage engine and running on aliyun cloud server with cloud ssd.

The ssd iops performance test is 15k iops via 4k write block size and 1k iops via 3k write block size(it's looks like a disk bug and appear on all cloud ssd)

And i found disk util very high to over 80%,iostat shows that avgrq-sz about 6.25,that means my ssd iops performance down to only 1/15 .

I tr

[2019-06-18 09:11] lysu opened #4917 "Can we remove max_receive_message_len limit for query request"
## Question

now, tikv limits tidb's grpc request size not over than MAX_GRPC_RECV_MSG_LEN(10 MiB)

https://github.com/tikv/tikv/blob/dfdacc8df9a592b0676adb554cb7fb35d1a80933/src/server/server.rs#L91

Does it seem that this limitation is aimed to write request to reduce raft log size?

but for coprocess query, this limitation isn't friendly, we are hard to know final GRPC msg size during splitting

[2019-06-18 09:11] lysu commented on #4917
@hicqu  PTAL thx

[2019-06-18 09:35] liufuyang commented on #4906
Yes, I also feels Rocket is a bit too large. Tide is new and aiming for using standard futures I remember. I think it was relatively small sometime ago but I can see it keeps on growing. (Or perhaps the growing of it will not be an issue...)

Anyway I think Tide have very nice api designs:
https://github.com/rustasync/tide/blob/master/examples/messages.rs
[code]
What do you think?  @breeswish  hav

[2019-06-18 09:50] siddontang commented on #4916
hi @meeepo

how do you bench the disk performance? using fio libaio and direct=1?

In TiKV, we will sync every write into disk, this may cause high IO.

You can change `sync-log = false` in TiKV config to check whether it can relieve the problem or not.

[2019-06-18 10:45] breeswish commented on #4906
@liufuyang I don't have experience with Tide, but your example looks to be pretty attractive. My concern is that it is marked as not production ready and I don't know why it is not ready :)

[2019-06-18 12:21] liufuyang commented on #4906
yeah... perhaps it uses many unstable features such as `futures-preview = "0.3.0-alpha.16"`? Perhaps I can try ask in the workgroup about it.

[2019-06-18 12:34] liufuyang commented on #4906
As I can see for now we only need to add a simple config endpoint to handle HTTP GET calls, perhaps we can just use current hyper solution, and we can wait a bit on using a web framework now? As soon the standard future will be ready (I hope), then many things could be changed and perhaps it will be easier to select a web framework (or even customise a small web server later on, or implement the f

[2019-06-18 12:54] breeswish commented on #4906
@liufuyang You can continue working on switching to (a stable) framework and later change to some better ones when it is ready.

[2019-06-18 14:51] siddontang commented on #4900
@shafreeck can you fix this too?

[2019-06-18 17:28] jlerche commented on #4901
No problem, waiting for #4906 makes a lot of sense!

[2019-06-18 17:33] jlerche commented on #4906
Here's the actix-web issue for releasing 1.0 https://github.com/actix/actix-web/issues/722 and there's some discussion about `futures` in there. The goal I think is to transition to `futures 0.3` when tokio does.

I think one big plus for actix-web is that its development is very active and was recently released as `1.0`.

[2019-06-18 20:18] nrc commented on #4906
I would encourage this - I don't think any of the current solutions are great and there is a high risk of getting trapped into one. Perhaps it is possible to write a routing utility specific to our needs which is not too complicated?

by understanding is that it is just at an early stage of development and needs iteration, rather than there being any specific issue.

I agree, and also feel the sam

[2019-06-18 21:03] brson commented on #4900
I can pick this up.

[2019-06-18 22:16] brson commented on #4367
cc @shafreeck I'm finding that the new objdump-based check doesn't work here:

[code]

[code]

[2019-06-18 22:19] brson commented on #4367
I can get the script to work if I remove the `=symbol` part of the command, but it is very slow since it's disassembling everything.

[2019-06-19 01:11] siddontang commented on #4884
@yiwu-arbug

we embed ldb in TiKV.

[2019-06-19 01:12] siddontang commented on #4884
maybe we can build a similar tool in rust-rocksdb which not uses gflags.

[2019-06-19 02:03] jswh commented on #4916
Usually cloud storage is on another computer and attached to the network to your server. The performance is limited by the network heavily. You could either ask the customer service about your cloud ssd network situation or do some test with local storage.

[2019-06-19 03:07] shafreeck commented on #4367
@brson
I found that the `=symbol` feature first appeared on the newest version 2.32. https://sourceware.org/binutils/docs-2.32/binutils/objdump.html#objdump

We can not get a reliable result if disassemble all the binary other than the symbol.

[2019-06-19 03:13] shafreeck commented on #4367
Maybe we should use a common way to achieve this...

[2019-06-19 03:22] #4900 closed

[2019-06-19 03:25] shafreeck commented on #4367
There is a complex solution

Find the addresses of the symbol first

[code]

Disassemble using `--start-address` and `--stop-address`

[code]

[2019-06-19 04:38] brson opened #4923 "Remove maybe_clone methods"
There are several `Error::maybe_clone` methods that look scary because they are only partial functions and contain a lot of code. It turns out there is only a single place that actually uses these methods and it is in test code. Almost all of the error cloning code can be deleted.

[2019-06-19 15:36] shafreeck commented on #4367
@brson I fix the bug with the solution mentioned above. Review this PR if you like: https://github.com/tikv/tikv/pull/4934

[2019-06-20 21:50] brson commented on #4897
Fixed.

[2019-06-20 21:50] #4897 closed

[2019-06-20 21:58] brson commented on #4150
This is done.

[2019-06-20 21:58] #4150 closed

[2019-06-21 11:05] yiran-idea opened #4952 "TiKV's log is too large"
Tikv logs will not be deleted circularly. One of our tikv instance logs reaches 1.4T (4T hard disk).How to set up a fixed number of days, or a fixed size, for tikv logs?

[2019-06-22 16:41] lpan commented on #4907
Hey everyone, I am planning to do one of the [training courses](https://www.pingcap.com/blog/distributed-systems-training-in-go-and-rust/) before I start digging into TiKV. :slightly_smiling_face:

Anyone feels free to take over this issue while I am doing the course! Thanks!

[2019-06-24 03:03] breeswish opened #4956 "compact command cannot flush all memtable"
## Bug Report

Occurs from v2.0.0 beta to v3.0.0. Previous versions are not tested.

![image](https://user-images.githubusercontent.com/1916485/59988937-847f9200-966f-11e9-95f6-adf54cc0504b.png)

When using tikv-ctl to compact the tikv:

[code]

Inspected that memtable of write and lock cannot be fully flushed. However default CF is fine.

[2019-06-24 06:23] breeswish opened #4960 "Change error, panic, and log outputs from Debug to Display"
## Feature Request

Currently in many places we use Debug to output errors, which is not a good way since we mostly want customized outputs (like hex output keys).

[2019-06-24 14:54] zhangjinpeng1987 commented on #4956
@Little-Wallace PTAL

[2019-06-26 01:16] uvd opened #4976 "update crate and reduce the crate different versions"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**
update crate and reduce the crate different versions

- [x] hashbrown  [hashbrown_0.5](https://github.com/rust-lang/hashbrown/releases/tag/v0.5.0)    #4972
- [ ] hashbrown remove
- [x] lazy_static 1.3.0 #4977
- [x]  tempdir replace 3.0 [tempfile](https://github.com/Stebalien

[2019-06-27 07:51] liufuyang commented on #4906
@breeswish What do you think, should we wait a bit on this? And before that we can now just add a few more endpoints for getting configs? Correct me if I am wrong but for now I think adding just a few more config showing endpoints sounds something could be very useful and beside that we don't have clear plans on adding more endpoints for other purpose? 🤔

[2019-06-27 07:55] liufuyang commented on #4901
@jlerche as #4444 is merged and #4906 is still in discussion, have you got any tasks on your hand to keep you busy? Otherwise I guess it might be okay now to at least start looking into how to add those HTTP API to handle configurations. Do you still want to take on this?

[2019-06-27 07:59] jlerche commented on #4901
Yes I’m still up for working on this! I can definitely start now although it seems perhaps it might be worthwhile to still wait for #4906?

[2019-06-27 08:07] breeswish commented on #4906
Switching to a better routing facility / framework is just a remaining task of previous failpoint PRs. It does not have strong relationship with future changes. @liufuyang

[2019-06-27 10:15] shafreeck opened #4988 "Broken link in the TiKV wiki"
The address that 'quick start' links to is broken

https://github.com/tikv/tikv/blob/master/docs/op-guide/deploy-tikv-using-docker-compose.md

[2019-06-27 21:04] liufuyang commented on #4906
@breeswish Yes, I agree it's good to have some better routing. What's your take on nrc's input? Do you think he worries too much and we should just give actix-web a try now or? I hope an agreement can be made soon so @jlerche and I can try start working on related stuff :)

[2019-06-28 02:45] hicqu commented on #4952
Please set this field in your tikv.toml:
[code]
If it's not supported yet, please upgrade your TiKV to latest versions.

[2019-06-28 02:45] #4952 closed

[2019-06-28 06:13] siddontang commented on #4906
em, I think we waste too many time on this, introducing an HTTP framework has a low risk because it is not in the critical path. we can try anyone if we think it is good to use.

If now we can using hyper can solve our problem, let's keep the same, if not, let's decide one and go on.

@breeswish @jlerche @nrc @liufuyang can you make a decision this week?

[2019-06-28 06:15] siddontang commented on #4906
If you don't reach an agreement, I think we can let @liufuyang choose one solution and advance it. If he chooses one framework but we have to use another later, I also think he is able to do the migration.

[2019-06-28 06:27] BusyJay commented on #4906
I can see that no *great* solution is available at the moment. I suggest to keep current implementation and wait a little bit to see what happen next.

[2019-06-28 07:31] liufuyang commented on #4906
Thanks for the input above. So how about this, we (@jlerche  and me) will start on adding the config endpoint with the current hyper way. Then at the same time I will see whether I can do some refactory (perhaps making current status server a standalone package module?) and also at the same time try out actix-web or tide, and see whether the build time has any influence and so on.
Then later if th

[2019-06-28 07:55] breeswish commented on #4906
I feel fine, since status server is not in our critical path and future change does not heavily depend on the framework change.

[2019-06-28 08:36] jlerche commented on #4906
I have no problem continuing with hyper.

I am personally biased towards actix, however, as I have been using it for quite a while, so it gets my vote when the time comes 😀

[2019-06-28 13:06] liufuyang commented on #4906
Thanks, sounds good. @jlerche you can start adding those config list endpoints now I think, just make a PR and let take a look at it when you get it working :) You can ping me or others on the community slack for help. I am new to tikv repo as well but we can learn it together :)

[2019-06-29 22:51] brson commented on #4391
I did another test, and found that disabling unused test suites did nothing for compile time. It makes me wonder if there's a bug in cargo, since I turned off _29_ test suites.

Here's my raw notes:

[code]

[2019-06-29 22:54] brson commented on #4391
It does seem like disabling the tests prevented cargo from building the test suites - there are lots of binaries I don't see afterward. I'm super surprised it didn't reduce build time.